[2021-06-22 01:01] #1548 closed

[2021-06-22 03:21] hwdef commented on #1535
@Thor-wl
Do you want to fix this problem? How do we divide the work?
I found a total of two folders with this problem, pkg and test, How about one for each of us?

[2021-06-22 03:31] Thor-wl commented on #1535
OK~ So what' your plan about the work division? I'm ok about that.

[2021-06-22 03:37] shinytang6 commented on #1535
@hwdef @Thor-wl By the way, can you help integrate it into CI, WDYT?

[2021-06-22 03:43] hwdef commented on #1535
@Thor-wl
How about I fix the pkg folder？And I want to be a member of volcano, thank you very much!!!

@shinytang6
I checked the `.golangci.yml` file in root folder before. I found a staticcheck related check in there, but I don't know why it didn't take effect, I may need to check the configuration elsewhere. I will continue to refine this.😀

[2021-06-22 04:05] Thor-wl commented on #1535
Good idea. I'll do that.

[2021-06-22 04:07] Thor-wl commented on #1535
Great! @kevin-wangzefeng @k82cn Please help send member invitation to @hwdef . Thanks!

[2021-06-22 04:52] k82cn commented on #1535
Done

[2021-06-22 05:04] hwdef commented on #1535
@k82cn

Thank you!

[2021-06-22 06:31] Thor-wl commented on #1535
I agree with the work division. I'll take the test folder.

[2021-06-23 02:49] ldd91 commented on #1461
Thank you,i will have a look

[2021-06-23 16:53] hiboyang commented on #1551
Just curious how do you plan to support dynamic allocation scaledown, like how to restore shuffle files from those removed executors? We built [Remote Shuffle Service](https://github.com/uber/RemoteShuffleService) a while back ago to support such scenario. Not sure whether you might try that.

[2021-06-23 22:14] holdenk commented on #1551
Oh yeah we've done a few different things, there's also block migration new in Spark 3.1.

[2021-06-23 22:17] holdenk opened #1554 "Publish combine images to support mixed arm & x86 clusters"
#### What would you like to be added:

Right now you have to select either arm or x86 images, but with buildx and other tools we can produce combined images.

Alternatively you could add nodeSelector to the two examples.

#### Why is this needed:

Some people have clusters with both arm and x86 and otherwise they need to use CPU label selectors.

[2021-06-23 22:23] holdenk opened #1555 "Document how to get invited to the volcano slack"
#### What would you like to be added:

A link to an auto inviter for the volcano slack

#### Why is this needed:

Not everyone has access to it.

[2021-06-23 23:01] holdenk opened #1557 "VolcanoJob does not appear to automatically create a podgroup"
**What happened**:

Deployed volcano on k3s 1.21, created examples from example dir & https://volcano.sh/en/docs/vcjob/ , saw jobs get created but no podgroups.

[code]

**What you expected to happen**:

I expected podgroups to be created since "If no PodGroup is specified when a VolcanoJob is created, Volcano will create a PodGroup with the same name as the VolcanoJob." is what it says in https:/

[2021-06-23 23:42] k82cn commented on #1551
That's great to work together with RSS :) Currently, Volcano focus on the resources allocation, e.g. CPU/Mem; so that's great to work with RSS as a e2e solution :)

[2021-06-23 23:44] k82cn commented on #1551
Can you help to share related work? That'll help to identify how to work together :)

[2021-06-24 00:00] k82cn commented on #1555
We're using `#volcano` channel of http://cloud-native.slack.com for online discussion :)

@Thor-wl , please help to update readme for that :)

[2021-06-24 00:07] k82cn commented on #1557
@huone1 , please help to check this one :)

[2021-06-24 01:33] Thor-wl commented on #1555
OK. @renhuanyu is working on docs now. Can you help add the guidance?

[2021-06-24 02:03] Thor-wl commented on #1554
OK. I'd like to have a try.

[2021-06-24 02:06] renhuanyu opened #1558 "To become a community member"
#### What would you like to be added:
1.More scheduling features.
2.Continuous updating of documentation.
#### Why is this needed:

[2021-06-24 02:08] Thor-wl commented on #1558
Great! Welcome to join Volcano org and Thanks for you contribution.
@kevin-wangzefeng @k82cn Please help to send a invitation to @renhuanyu . Thanks!

[2021-06-24 02:13] renhuanyu commented on #1555
Fine , I will take a look.

[2021-06-24 02:24] Tammy-kunyu opened #1559 "To Become a Community Member"
#### What would you like to be added:
1. A design for the job workflow of Volcano.
2. Enhanced capabilities in the Volcano monitoring log area.

[2021-06-24 02:28] huone1 commented on #1557
please check whether  the volcano controller log  contain errors info  and give the job yaml you use @holdenk

[2021-06-24 02:31] Thor-wl commented on #1559
I'm OK about that.
@kevin-wangzefeng @k82cn Please help to send a invitation. Thanks!

[2021-06-24 02:40] k82cn commented on #1559
done :)

[2021-06-24 02:41] k82cn commented on #1558
done :)

Welcome to Volcano community :)

[2021-06-24 02:42] #1559 closed

[2021-06-24 02:42] #1558 closed

[2021-06-24 02:43] #1284 closed

[2021-06-24 02:56] Thor-wl commented on #1473
/assign @Tammy-kunyu

[2021-06-24 04:40] Zhu-Ying opened #1560 "是否直接支持kubegene"
#### What would you like to be added:
是否直接支持kubegene

#### Why is this needed:
基因测序行业，数据分析流程，之前看文档volcano是支持cromwell的，实际测试时valcano并不能识别cromwell提交的shell script，只支持yaml文件。
转而选择kubegene，请问valcano是否能直接识别kubegene 的genectl  command提交的yaml文件？
毕竟valcano官网上的生态是有kubegene，但无实践指南。

[2021-06-24 06:33] k82cn commented on #1560
@kevin-wangzefeng is that ok to migrate kube-gene? so we can put more effort to improve the integration?

[2021-06-24 06:59] kevin-wangzefeng commented on #1560
I'm supportive on providing deeper integration with KubeGene, and for the long term, KubeGene would make use of more advanced capabilities from Volcano.
If no objections from both two community members, we can go ahead the migration.

[2021-06-24 07:04] Thor-wl commented on #1560
Agree with the integration.

[2021-06-24 08:16] k82cn commented on #1560
That's great :)

@Thor-wl , would you help to send an email to google group for more feedback?

[2021-06-24 08:19] k82cn opened #1561 "Handle code-scanning reporting"
**Description**:

Handling the issues reported at https://github.com/volcano-sh/volcano/security/code-scanning :)

[2021-06-24 08:52] #1019 closed

[2021-06-24 08:52] Thor-wl commented on #1560
OK!

[2021-06-24 13:00] shinytang6 opened #1562 "Support detailed queue info in scheduler cache"
#### What would you like to be added:

Currently, the queue info stored in cache is as follows:
[code]

I think more information(such as allocated/inqueued/request), should also be stored here instead of calculated in the specific plugin (such as proportion), which can help make better decisions when scheduling.

#### Why is this needed:

[2021-06-24 17:09] holdenk commented on #1557
Sure, I'll take a look tomorrow (I'm in meetings all day today).

[2021-06-24 18:45] hiboyang commented on #1551
Yes, there are a few options here, including the block migration.

[2021-06-24 18:47] hiboyang commented on #1551
Yes, will be excited to see progress here :)

[2021-06-24 20:03] holdenk commented on #1551
Sure the block migration work is in https://github.com/apache/spark/blob/0d900b6cfa3b8b39cc240c2f6691bfe700ed3271/core/src/main/scala/org/apache/spark/storage/BlockManagerDecommissioner.scala

[2021-06-25 01:34] william-wang commented on #1551
@holdenk It's great. Thanks for your sharing.

[2021-06-25 01:57] william-wang commented on #1549
I am not aware of your use case.  Please provide a reproduce step. @hacker-qian

[2021-06-25 02:33] hacker-qian commented on #1549
step1. user with queue1 (weight: 10) put taint on a node in the cluster, indicate that the node in the cluster is occupied by the user
![image](https://user-images.githubusercontent.com/6950081/123360725-615e8480-d5a0-11eb-85da-5fb08db7723e.png)

step2. user with queue2 (weight: 10240) create large amount of pods that run out the rest cluster resource (still have pending pods because cluster resou

[2021-06-25 02:56] k82cn commented on #1551
@all, we're going to have a prototype at https://github.com/spark-volcano for this enhancement :)

[2021-06-25 04:17] huone1 commented on #1562
Does the queue crd  need to extend QueueStatus for more detai？

[2021-06-25 04:47] shinytang6 commented on #1562
I think this can be optional(TBD). If these fields are placed in crd, they will be updated frequently and increase the overload. WDYT？

[2021-06-25 06:23] Thor-wl opened #1564 "add new spark example yaml for arm&amd64"
ref: https://github.com/volcano-sh/volcano/pull/1556#issuecomment-868250025

[2021-06-25 06:34] Thor-wl commented on #1562
I think current fields in QueueStatus is enough temporarily.

[2021-06-26 04:27] Thor-wl commented on #1545
I've tried to reproduce the scenario but got everyting going well. Perhaps you should provide more details about the evnironment and test steps.

[2021-06-26 17:10] renhuanyu commented on #1555
@holdenk
Step1:You need to have a Google ID or Apple ID to log on to Slack, so use your work email.
Step2:Visit  `slack.cncf.io/`   and login.
Step3:Join the CNCF workspace.
Step4:Search for "Volcano" by adding channel and join it.

[2021-06-26 17:11] renhuanyu commented on #1555
Step1:You need to have a Google ID or Apple ID to log on to Slack, so use your work email.
Step2:Visit  `slack.cncf.io/`   and login.
Step3:Join the CNCF workspace
Step4:Search for "Volcano" by adding channel and join it.

[2021-06-26 17:37] renhuanyu commented on #1518
The nodes in the state transition DAG include failed/succeed/pipeline/pending/allocated/binding/bound/running/releasing/unknow.
I will complete the part about job state in the document and add the DAG of state transition.

[2021-06-28 02:04] Thor-wl commented on #1555
Let's submit a process to volcano.sh/community @renhuanyu

[2021-06-28 02:17] hwdef opened #1567 "lost annotation in task.template"
**What happened**:

When I add a annotation to vcjob spec.tasks.template.metadata,But the running pod does not have this annotation.

**What you expected to happen**:

Keep annotation in pod

**How to reproduce it (as minimally and precisely as possible)**:

create a vcjob

[code]

get this vcjob

[code]

get pod created by this vcjob

[code]

**Anything else we need to know?**:

get poggroup

[co

[2021-06-28 03:32] huone1 opened #1568 "the file volcano-development-arm64.yaml is not updated when execute the command ：make update-development-yaml"
**What happened**:
the file volcano-development-arm64.yaml is not updated

**What you expected to happen**:
the file volcano-development-arm64.yaml is also updated when execute the command ：make update-development-yaml
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl versio

[2021-06-28 06:27] Thor-wl commented on #1567
Thanks for your report. I'll try to reproduce it.

[2021-06-28 06:47] hwdef commented on #1567
@Thor-wl

I will try to fix it, too.

[2021-06-28 06:51] Thor-wl commented on #1567
Great!

[2021-06-28 07:04] Thor-wl commented on #1525
As what i ananlysed last week, bugs of resoure comparision logic mainly lies at the following aspects:
* When comparing resourceList in L and R, the blank item should be regarded as infinity value instead of zero, especially comparing queue.capability with others. For example, L=queue.deserved = {CPU: 1c, memory:2G, GPU: 10}, R=queue.capability={GPU: 2}.
* Lack of resource comparision functions su

[2021-06-28 07:10] Thor-wl commented on #1525
Based on the above discovery, I give the following suggestions and will put them into practice as bug fix:
* List all resource comparision scenarios and give the correctly recommanded function.
* Add `defaultValue` as a parameter for all resource comparison funciton, its value can only be one between `zero` or `infinity`
* Fix existing resource comparision bugs in all plugins, especially in `propo

[2021-06-28 07:16] lx1036 commented on #1462
@nolimitkun
hi, spark-operator will create a new podgroup for you [L120-L151](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/batchscheduler/volcano/volcano_scheduler.go#L120-L151) , podgroup name is like ["spark-%s-pg" ](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/batchscheduler/volcano/volcano_scheduler.go#L113-L115) , and will cleanu

[2021-06-28 07:58] Thor-wl commented on #1525
Recommanded Resource Comparision Functions:
| Name | Comment | Example | Original function | Used plugins/actions |
| :----:| :----: | :----: | :----: | :----: |
| l.LessInAllDimension(r *api.Resource, defaultVaule string) | Values in all demisions in `l` are less than that in `r` | L{cpu:1c, memory:2G} < R{cpu:2c, memory:4G} | Less(rr *Resource) | proportion |
| l.LessEqualInAllDimension(r *api.R

[2021-06-28 08:28] Thor-wl commented on #1525
/cc @k82cn @william-wang @wpeng102 @huone1 @shinytang6 @hwdef @jasonliu747 @renhuanyu @Tammy-kunyu @yahaa @zen-xu Please take a review. THX.

[2021-06-28 09:10] wpeng102 commented on #1525
show a example about using `zero` and `infinity` as parameter.
Such as
`L{cpu:1c, memory:2G}, R{gpu:16}`
`L.LessInAllDimension(R, "zero")` return `false` but `L.LessInAllDimension(R, "infinity")` return `true`

[2021-06-28 11:45] Thor-wl commented on #1525
Yes. Thanks for the supplyment.
* When use `L.LessInAllDimension(R, "zero")`, it means R={cpu:0c, memory:0G, gpu:16}, so `cpu` and `memory` in L is larger than that in R. It returns `false`.
* When use `L.LessInAllDimension(R, "infinity")`, it means R={cpu: max c, memory: max G, gpu:16}, so all dimensions in L is less than that in R. It returns `true`.

[2021-06-28 13:49] xizhang919 commented on #1567
The label gets overwritten too.

[2021-06-28 14:54] hwdef commented on #1567
@xizhang919

yes,you are right

[2021-06-28 19:21] kye308 commented on #1567
I believe I am seeing this issue with labels being set in task.template as well

[2021-06-29 01:05] william-wang commented on #1462
@Thor-wl Please reproduce the issue according to the information.

[2021-06-29 01:28] Thor-wl commented on #1564
/assign @renhuanyu Please help to add new spark example yaml for arm&amd64

[2021-06-29 03:12] #1246 closed

[2021-06-29 03:35] holdenk opened #1570 "Create multi-arch images"
#### What would you like to be added:

Multi-arch images (e.g. use docker buildx or similar)

#### Why is this needed:

So we can avoid having to use node selectors and to better support mixed arch clusters.

[2021-06-29 06:34] Thor-wl commented on #1525
BTW, part of functions list above can be transformed from other functions. For example, a.GreaterEqualInSomeDimension(b *api.Resource, defaultVaule string) is equal with !b.LessInAllDimension(a *api.Resource, defaultVaule string)

[2021-06-29 08:27] lowang-bh opened #1572 "lastProcessedNodeIndex may have some weakness because GetNodeList retrun node list from a map range"
GetNodeList return a node list with no certain order because it is range from a map.
So there is a case that some nodes are not processed and others may process more than once  when lastProcessedNodeIndex loops one cycle
#### What would you like to be added:
GetNodeList may need to be sorted.
#### Why is this needed:

[2021-06-29 08:47] lowang-bh commented on #1572
k8s node list is from the nodeInfoSnapshot.NodeInfos().List()
[code]

[code]

[code]

[2021-06-29 09:40] Thor-wl commented on #1572
/cc @shinytang6 @william-wang @wpeng102 @jasonliu747

[2021-06-29 13:35] shinytang6 commented on #1572
great catch !

[2021-06-30 01:48] lowang-bh commented on #1572
may be another elegant fix is to use a OrderMap in stead of a normal Map of Nodes and a NodeList. That will have more code changes.

[2021-06-30 02:13] jasonliu747 commented on #1572
You could submit another PR, and let's discuss which one is more feasible. :smile:

[2021-06-30 03:13] lowang-bh commented on #1572
I can submit that PR at weekend.

[2021-06-30 07:25] adamwoolhether opened #1575 "Store job/container stdout/logs to a more accessible area."
#### What would you like to be added:
Functionality to specify where the job-container's logs/stdout will be saved.

#### Why is this needed:
Slurm has the `--output` flag that allows user's to specify where stdout of the script/job ran will be stored. currently, the only option is for users to use `kubectl logs <pod-name> -c <container-name>`, which requires an extra step to view, and another if

[2021-06-30 09:11] Thor-wl commented on #1575
Well, I think Volcano may not has ability to do someting about that for it only focuses more on scheduling and high performance computing platforms support. Perhaps you can submit an issue to kubernetes community for help.

[2021-06-30 09:23] wpeng102 commented on #1549
@hacker-qian could append  the volcano version and test yaml?  I can not reproduce this issue in my env.

[code]

[code]

172.16.21.173 has taint.
[code]

[code]

both queue1-job and queue2-job can be started.
[code]

[2021-07-01 00:33] k82cn commented on #1575
Where're you going to store those logs? One option is to store those log by volume, e.g. local path

[2021-07-01 03:16] adamwoolhether commented on #1575
You're right. Many HPC jobs, users will want to see the results of the job being run. I was thinking in terms of the `--output` function of slurm, but I agree, the pod logs alone is more of a Kubernetes thing.

[2021-07-01 03:20] adamwoolhether commented on #1575
Yes, the idea was to store them in a mounted folder owned by the user, via nfs, hostpath, or localpath....

Another idea is to allow users view the job script's output in realtime if desired. I know this can be done with the client set's GetLogs, as demonstrated [here](https://stackoverflow.com/a/65087061/12185309).

Anyways it's not terribly important, I know you guys are busy with other areas, j

[2021-07-01 13:48] #1275 closed

[2021-07-01 15:04] shinytang6 commented on #1472
Let's record progress here.
/cc @muyu-dev

[2021-07-01 15:05] muyu-dev commented on #1472
ok, working on it.

[2021-07-01 15:06] muyu-dev commented on #1472
OK, working on it.

[2021-07-02 11:55] #1273 closed

[2021-07-04 11:31] lowang-bh commented on #1572
I try to use a self define type orderMap, but found it can not iterate over elements gracefully.

I found the kubernetes also use a map and a list to cache the snapshot, so last commit with an additional nodelist may be the  finnally solution.

[code]

[2021-07-05 03:03] swartz-k opened #1580 "Perfect Helm Chart"
#### What would you like to be added:
Some typo fix:
1. `helm install installer/chart --namespace <namespace> --name <specified-name>
`    is wrong path [ref](https://volcano.sh/zh/blog/quick-start-volcano/ )

Some more flexible logic:
1. Custom Docker hub in Makefile by `IMAGE_PREFIX` also editable in Chart values.yaml.
2. Grafana、Prometheus be optional, In case user has his own.
3. Deployment an

[2021-07-05 05:31] #910 closed

[2021-07-05 09:52] cmssczy opened #1584 "No need to add irrelevant pod to cache?"
#### What would you like to be added:

Suppose we have more than one schedulers in our cluster.
If a pod's `scheduler-name` is not `volcano` and it has been scheduled to one node by the scheduler which it specified. This pod is still added into valcano's cache. Is this necessary?

https://github.com/volcano-sh/volcano/blob/39e2e0244f2660b433b912b782d603e131805b53/pkg/scheduler/cache/cache.go#L422-

[2021-07-05 15:04] muyu-dev commented on #1472
Firstly start with device plugin

[2021-07-05 15:04] muyu-dev commented on #1472
Firstly start with device plugin

[2021-07-05 17:34] hudson741 opened #1585 "about the numaware feather, not considered memory verified in allocated"
**What happened**:

when caculate allocable res in node's numa . I found the code doesn't consider the memory allocated in the different numa zone. is it right . and  other wise , what's the different between the NumaSchedulerInfo and NumaInfo in the node_info. why they can't be only one.(ps: 感觉numa调度时，没有考虑每个numa区域的剩余内存，是否满足numa调度，只考虑了cpu。另外，代码中，node_info中存了一个NumaInfo和一个NumaSchedulerInfo。这两者的区别是啥，

[2021-07-06 01:22] huone1 commented on #1585
1. In current version, the numaware feature scope is only the cpu resource. others will be considered in the next phase.e.g Memory, GPU
2. NumaInfo structure saves the numa info on per node by CRD, NumaSchedulerInfo saves the numa info that volcano schedules pod after per scheduling session. But the default refresh period of NumaInfo structure is 3s and  the default period of scheduling session is

[2021-07-06 01:27] huone1 commented on #1585
Memory manager is not supported since k8s 1.21 on kubelet.

[2021-07-06 13:30] yanglilangqun opened #1586 "Request to add more metrics for spark job running on k8s scheduled by volcano"
#### What would you like to be added:
1. cluster resource:
    - [ ]  the resource usage of a node with sort function
    - [ ]  the real time resources usage of the cluster by queue， including cpu, memory, network
2. queue:
    - [ ]  quota
    - [ ]  used resouces
3. job:
    - [ ]  metadata：

          besides the running time,  we need  submitted time,  start time, finish time,  cpu, memory,

[2021-07-07 01:31] Thor-wl commented on #1586
Generally I'm OK for me. Just some questions as follows:
* "the real time resources usage of the cluster by queue， including cpu, memory, network", what do you mean about network in queue? In fact, only computing resource has relationship with queue.
* "queue quota" is "queue capability".
* "job.metadata:besides the running time,  we need  submitted time,  start time, finish time,  cpu, memory, qu

[2021-07-07 02:34] tahsinrahman opened #1587 "Metrics not available `kube_pod_volcano_container_resource_requests`"
**What happened**:
The grafana dashboards expects metrics like `kube_pod_volcano_container_resource_requests` `kube_pod_volcano_container_status_running` etc, these metrics are not available.

**What you expected to happen**:
The installer yaml manifests should have prometheus rules to generate these metrics

**How to reproduce it (as minimally and precisely as possible)**:
Install volcano helm ch

[2021-07-07 03:03] lionelJi opened #1588 "Request to add limit to the size of single log files."
#### What would you like to be added:
Limit to the size of a single log file with the use of klog.

#### Why is this needed:
We have a demand to solidify the logs on disk, When we do this, the scheduler log file may grow to 300MB a day.
We can use logrotate to dump the volcano log file, but it still cannot limit the size of a single log file. Based on the volcano log printing strategy, without add

[2021-07-07 03:18] william-wang commented on #1588
@lionelJi  It's reasonable. This should be supported. Thanks for your reporting.

[2021-07-07 03:25] Thor-wl commented on #1587
/cc @Tammy-kunyu Can you help about that?

[2021-07-07 03:26] Thor-wl commented on #1588
+1

[2021-07-07 03:46] shinytang6 commented on #1572
yes, I also prefer #1574 personally.

[2021-07-07 06:29] Tammy-kunyu commented on #1587
Okay，I will have a look.

[2021-07-07 07:10] kuizhiqing opened #1589 "[Discussion] The integration of Custom Job"
## Topic

This issue intend to discuss the best practices for integrating a Custom Job With Volcano.

## Background

* volcano has an outstanding design especially for scheduling by defining PG and Queue etc.
* [tf-operator](https://github.com/kubeflow/tf-operator) support volcano by handling(CRUD) the volcano resource (PS/Queue) alongside the lifecycle of tfJob
* current version of [paddle-operat

[2021-07-07 07:53] k82cn commented on #1589
Prefer to option 2 which is friendly to the end user.

Volcano provide several features for AI, BigData and HPC; we delegate to related community (e.g. kubeflow) to decide which features are used. So it's better for PaddleJob to export necessary feature to end user, which will make CRD easier :)

[2021-07-07 11:35] kuizhiqing commented on #1589
Thanks for your reply. Well, in this case, I'm considering an experience consistent way of using volcano  in paddle-operator.

[2021-07-07 11:38] Tammy-kunyu opened #1590 "Charts installation failed"
**What happened**:

When I try to install the charts according to https://github.com/volcano-sh/charts/blob/master/chart/volcano/README.md, the Error happens.It appears like this:
#helm install volcano-release -f values.yaml volcano-sh/volcano
manifest_sorter.go:175: info: skipping unknown hook: "crd-install"
manifest_sorter.go:175: info: skipping unknown hook: "crd-install"
manifest_sorter.go:175

[2021-07-07 14:37] muyu-dev commented on #1472
![plugin device](https://user-images.githubusercontent.com/84866251/124778888-e91a9a80-df73-11eb-9de4-bccf71c4a270.png)

[2021-07-08 01:40] wpeng102 commented on #1584
Yes，volcano scheduler need to know other scheduler dispatched pods. Because these dispatched pod occupied node resource, volcano scheduler need to know how many resources left during volcano pod scheduling.

[2021-07-08 03:14] Thor-wl commented on #1584
Multi-scheduler is common used in production environment. Community is doing something to support that. Please refer to https://github.com/volcano-sh/volcano/pull/1576 and https://github.com/volcano-sh/volcano/pull/1565

[2021-07-08 03:28] cmssczy commented on #1584
Thanks for your reply. @wpeng102  @Thor-wl
/close

[2021-07-08 03:28] #1584 closed

[2021-07-08 03:30] hwdef opened #1591 "Failed to create vcjob using TaskFailed event."
**What happened**:

create a vcjob, its task has a policy, event is `TaskFailed`, aciton is `RestartJob`,

Its creation will fail, the error is

[code]

**What you expected to happen**:

Successfully created

**How to reproduce it (as minimally and precisely as possible)**:

In the way above

**Anything else we need to know?**:

My guess is that the TaskFailed field was newly added, but the webhoo

[2021-07-08 04:08] Thor-wl commented on #1589
Agree with @k82cn

[2021-07-08 04:09] Thor-wl commented on #1587
If there's any process, please note here. THX.

[2021-07-08 04:46] lx1036 commented on #1587
@tahsinrahman  volcano fork kube-state-metrics, and add some custom metrics, like `kube_pod_volcano_container_resource_requests`, you can see commit https://github.com/volcano-sh/kube-state-metrics/commit/a91719d5dc2c4bb814802456ad31ddff0c1d2b7e .
so, you should only deploy this forked kube-state-metrics. and config it job name in your prometheus.yml, of course, the volcano repo has add it https:/

[2021-07-08 06:20] Thor-wl commented on #1397
refer：https://github.com/volcano-sh/volcano/pull/1576
refer：https://github.com/volcano-sh/volcano/pull/1565

[2021-07-08 06:20] #1397 closed

[2021-07-08 06:35] Thor-wl commented on #1580
Thanks for the feedback! We'll optimize it.

[2021-07-08 07:45] huone1 commented on #1591
you're right, the TaskFailed is out of policyEventMap
![image](https://user-images.githubusercontent.com/71266853/124883033-85d84900-e003-11eb-975c-f9e2f5d02309.png)

[2021-07-08 08:32] huone1 opened #1592 "TaintToleration filter fails when equivalence ecache feature is enabled"
**What happened**:
TaintToleration filter fails when equivalence ecache feature is enabled
**What you expected to happen**:
TaintToleration filter succeeds
**How to reproduce it (as minimally and precisely as possible)**:
enabled equivalence ecache
**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware con

[2021-07-08 08:35] huone1 commented on #1592
/assign @huone1

[2021-07-08 14:08] lionelJi opened #1596 "Suggest not to use 'set -x' in shell scripts."
#### What would you like to be added & Why is this needed :
This is a suggestion that u should avoid using "set -x " in shell scripts, since this may expose relevant data and contain possible sensitive information, there is a risk of being exploited.

![image](https://user-images.githubusercontent.com/35270186/124935917-ab337a00-e038-11eb-83bb-8c783e7301db.png)

Related Version:
Kubernetes: 1.17.3

[2021-07-08 14:18] lionelJi opened #1597 "Report of security issue when use ssh to mount keys"
#### What would you like to be added:
There is a problem of management when use ssh to mound keys

#### Why is this needed:
When using ssh client software, it must be able to do public key authentication to the server. It is recommended to provide a configuration method based on ssh client public key authentication in the materials, so that it could support to enable the function of ssh client pub

[2021-07-08 15:08] tahsinrahman commented on #1587
@lx1036 in that case, the image should refer to the forked kube-state-metrics here https://github.com/volcano-sh/volcano/blob/master/installer/helm/chart/volcano/templates/kubestatemetrics.yaml#L158

[2021-07-08 15:12] tahsinrahman commented on #1587
one more thing, instead of forking kube-state-metrics and adding these metrics from there, we can actually write prometheus recording rules, so it'd generate the custom metrics from given promql expression. In that case, if someone already has a prometheus/grafana setup in their cluster, they can just import the recording rule, they won't have to deploy the prom/grafana and forked kube-state-metri

[2021-07-08 17:37] holdenk opened #1598 "Add support for pod deletion cost."
#### What would you like to be added:

Add support for pod deletion costs in the same/similar way as the default kubernetes scheduler (FEATURE STATE: Kubernetes v1.21 [alpha] - https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/ )

#### Why is this needed:

Not all pods have the same cost of pre-emption especially with semi-stateful jobs in things like Spark, Dask, and Ray.

[2021-07-08 17:38] holdenk opened #1599 "Support nested queues"
#### What would you like to be added:

Support nested queues.

#### Why is this needed:

Sometimes we might have things like an interactive and then within it each user has a sub-queue so the interactive resources are fairly shared.

This would make some migrations from YARN easier (see https://blog.cloudera.com/untangling-apache-hadoop-yarn-part-4-fair-scheduler-queue-basics/ )

[2021-07-09 02:29] ounijang opened #1600 "Whether to verify data before invoking the unmarshal function"
**Suggest ：**
Check whether the input data needs to be verified or checked before the unmarshal function is invoked to ensure that no security problem occurs. For example, excessive memory may be applied for during deserialization, causing memory exhaustion.

**Environment:**

Volcano Version:v1.2.0
Kubernetes version (use kubectl version):1.17.3
Cloud provider or hardware configuration:
OS (e.g.

[2021-07-09 02:46] ounijang opened #1601 "Ensure that input verification is performed on untrusted data."
**Suggest ：**
The input data may be invalid. Therefore, verification before use will reduce the risk.

**Environment:**

Volcano Version:v1.2.0
Kubernetes version (use kubectl version):1.17.3
Cloud provider or hardware configuration:
OS (e.g. from /etc/os-release):unbuntu 18.04
Kernel (e.g. uname -a):
Install tools:
Others:
I found that the code invoked was in the scheduler/app/options/options.go

[2021-07-09 02:58] k82cn commented on #1598
@holdenk , Volcano support task/pod priority within a job to handle this issue; when doing preemptionn, low priority task will be preempted firstly :)

xref: https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/plugins/priority/priority.go#L45

[2021-07-09 02:58] k82cn commented on #1598
/cc @william-wang

[2021-07-09 03:01] k82cn commented on #1599
there's an alpha feature here, it's better to enhance it to beta/GA level :)

xref: https://github.com/volcano-sh/volcano/blob/master/docs/design/hdrf.md

[2021-07-09 03:03] k82cn commented on #1591
hm... let's add some alias for that :)

[2021-07-09 03:04] k82cn commented on #1586
+1, that's great!!!

[2021-07-09 03:22] holdenk commented on #1598
So we can't dynamically change pod priority within a job and the use case here is when it's dynamic (e.g. a pod has all of it's data migrated off it).

[2021-07-09 03:36] k82cn commented on #1598
Theoretically, we CAN dynamically change pod priority within a job: the Pod will not restart by controller, and task's priority will take effect in next scheduling cycle, e.g. 1s. Anyway, let's verify that :)

[2021-07-09 05:53] holdenk commented on #1598
So I don't think that's the case.

On my Kube cluster attempting to modify a running pods priority class or pod priority directly gives me this error:
[code]

This also seems to match the documentation that pods are "mostly" immutable once scheduled.

[2021-07-09 06:31] Thor-wl commented on #1600
I agree with that security problem is very import for system. But I think it's hard for Volcano to deal with doing the business above. The problems are as follows:
1. How to define it's a security problem? Such as the example mentions above, excessive memory may be a risk. But what's the rule to judge the risk? It's hard to say because it has a lot to do with your application or business. As a gen

[2021-07-09 06:33] Thor-wl commented on #1601
Can you give more details about this issue? For example, what data should be verified?

[2021-07-09 06:39] Thor-wl commented on #1596
I think it's reasonable in some degree. If needed, they can be removed when used in production environment. They are still reserved because it's convient for developers to debug.

[2021-07-09 06:51] Thor-wl commented on #1597
Well, Can you give more information about your scenario? I doesn't get the point with Volcano.

[2021-07-09 07:44] cist opened #1602 "Confusion about panic in volcano"
Suggest ：
hi, Guys, I found some code for panic in the volcano code. Is it intentional panic and then exit the program?Is there a more elegant solution?
eg.
![image](https://user-images.githubusercontent.com/8309104/125042345-4d507200-e0cc-11eb-8702-3b30af266ca8.png)

Environment:

Volcano Version:v1.2.0
Kubernetes version (use kubectl version):1.17.8
Cloud provider or hardware configuration:
OS (

[2021-07-09 08:15] Zumium opened #1603 "The path of kubeconfig has not been verified"
#### What would you like to be added:
The verification of the path of the kube config file, which is read from "KUBECONFIG" environment vairable or "kubeconfig" flag, needs to be added, like normalizing the path and checking whether the file actually exists.

#### Why is this needed:
The unverified inputs sometimes can be used to do malicious things like command injection.

Versions:
Kubernetes: 1

[2021-07-09 08:31] gojosatoru3 opened #1604 "Suggest use https instead of http"
#### What would you like to be [added:]
Suggest using https here.
[
![image](https://user-images.githubusercontent.com/87174703/125048944-044fec00-e0d3-11eb-9796-3340e5c39070.png)
](url)

#### Why is this needed:
Security.

[2021-07-09 08:46] gojosatoru3 opened #1605 "Suggest to make soft linkjudgment before opening the file"
#### What would you like to be added & Why is this needed:

I have some suggestions for the code here.
Before using os.Open to open the file, it is best to verify the path, otherwise the attacker can change the file to a soft link and modify any file that they want to modify through this soft link to attack the system. Can you help me understand if there may be a problem here?
![image](https://use

[2021-07-09 08:55] ChuckGithub opened #1606 "Suggest the sshKey access permission to a smaller value"
Excessive access permissions may increase security risks.
![image](https://user-images.githubusercontent.com/24219758/125051898-ffd90280-e0d5-11eb-9dc6-991e52d2831e.png)

Related Version:
Kubernetes: 1.17.8
Volcano: 1.2.0

OS:
Ubuntu 18.04.5

[2021-07-09 09:00] Zumium opened #1607 "Suggest doing overflow checking for the counting variables in QueueStatus"
#### What would you like to be added:
The overflow checking for the counting variables in QueueStatus structure when operating them in syncQueue method.

#### Why is this needed:
The variable overflow may cause crashing or undefined behavior.

Versions:
Kubernetes: 1.17.3
volcano: 1.2.0

OS:
Ubuntu 18.04.5

[2021-07-09 09:26] ChuckGithub opened #1608 "Suggest clear the generated private key information in a timely manner"
If private key information is not cleared in time, sensitive information may be disclosed

Line190-194

https://github.com/volcano-sh/volcano/blob/ed9e9cd09acfcd92a9e57a08210f91a00108ae72/pkg/controllers/job/plugins/ssh/ssh.go#L191

Related Version:
Kubernetes: `1.17.8`
Volcano: `1.2.0`

OS: `Ubuntu 18.04.5`

[2021-07-11 02:04] Thor-wl commented on #1604
Thanks for the report. I'm OK about it.
/assing @Tammy-kunyu

[2021-07-11 02:09] Thor-wl commented on #1602
It's most likely that users give wrong values for parameters if server throws panic. A possible approach is to sort out all possible incorrect input and deal with them. But that may not be a elegant solution.

[2021-07-11 02:14] Thor-wl commented on #1603
Good advice! Thanks and we will add it.

[2021-07-11 02:25] Thor-wl opened #1609 "There may be something wrong with "pod affinity" and "pod with volume""
**What happened**:
There may be some bugs when dealing with "pod affinity" and "pod with volume" after a set of tests in CI.
The details as follows:
![use exisisting PVC in job](https://user-images.githubusercontent.com/61179420/125180926-578c8080-e232-11eb-91b8-a068c11c4a48.PNG)
![Test SSH Plugin with Pod Affinity](https://user-images.githubusercontent.com/61179420/125180929-5bb89e00-e232-11eb-86

[2021-07-12 01:04] Thor-wl commented on #1607
Can you give an example?

[2021-07-12 01:07] Thor-wl commented on #1605
Sounds reasonable. Can you help for that?

[2021-07-12 02:00] Thor-wl opened #1610 "Please rebase from master branch and submit your PR again if you have blocked PR due to CI fails"
Dear all,
         Since the tools were updated in github action CI machines, all existing PRs blocked due to CI failed. We have fixed it in https://github.com/volcano-sh/volcano/pull/1595. You can rebase from master branch and submit PRs again. THX.

[2021-07-12 04:58] Thor-wl commented on #1322
@huone1 has implemented that. Ref: https://github.com/volcano-sh/volcano/pull/1576

[2021-07-12 04:58] #1322 closed

[2021-07-12 04:58] #1411 closed

[2021-07-12 07:52] Thor-wl commented on #1525
ref： https://github.com/volcano-sh/volcano/pull/1612
ref：https://github.com/volcano-sh/volcano/pull/1611

[2021-07-12 10:20] hwdef commented on #1591
@k82cn
sorry, I don't understand what you mean by adding alias?

[2021-07-12 12:25] k82cn commented on #1591
for example, `TaskFailed` == `PodFailed` :)

[2021-07-14 01:49] hacker-qian commented on #1549
@wpeng102 ok，maybe the volcano version we use is too old, we will get the new version and have a test

[2021-07-14 02:37] adamwoolhether opened #1616 "volcano-admission pod stuck in CrashLoopBackoff. Reporting secret not found, but it is present."
**What happened**:
Installed volcano in a single-node environment, via yaml manifest. Everything except the `volcano-admission` pod starts successfully.

**What you expected to happen**:
YAML manifest to install as normal

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl create -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.ya

[2021-07-14 09:26] merryzhou opened #1617 "unpipeline did not release resources"
Before call DeallocateFuncs, the task.NodeName was set to ""

https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/framework/statement.go#L203
https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/plugins/predicates/predicates.go#L208

[2021-07-14 09:31] merryzhou commented on #1617
https://github.com/volcano-sh/volcano/issues/979

[2021-07-14 21:06] Sharathmk99 opened #1619 "Fair sharing not working"
**What happened**:
My cluster has total 11 CPU. I'm trying to create 2 queue(excluding default queue) with weight 5 for each queue.
Queue manifest,
[code]
Queue List,
[code]
Created 3 Jobs for test queue with CPU resource as follow,
job1 -> CPU 5
job2 -> CPU 5
job3 -> CPU 1

Now all 3 jobs are running and utilizing full cluster.

Now i'm creating new Job in test1 queue with CPU 2. I'm expecting 1

[2021-07-15 01:15] Thor-wl commented on #1619
Can you help fot that? @renhuanyu

[2021-07-15 01:31] Thor-wl commented on #1616
Thanks for your report! Let me have a check.

[2021-07-15 01:37] wpeng102 commented on #1619
@Sharathmk99  please config `reclaim` action and try again.

[code]

[2021-07-15 03:05] zishen opened #1620 "Show controller-manager version print “controller is registered”."
Maybe this is only a  area of improvement.

![image](https://user-images.githubusercontent.com/7522079/125721201-68b54568-043f-4172-a36b-5b8bffab3014.png)

and this is happened in init()
![image](https://user-images.githubusercontent.com/7522079/125721312-566d79e3-6aaa-42e0-9ea7-22b885811649.png)

Can change him any better?

**Environment**:
- Volcano Version: v1.3.0
- Kubernetes version (use `kub

[2021-07-15 03:59] lowang-bh commented on #1619
actions should include reclaim if you want to use Fair sharing  feature

[2021-07-15 07:51] Sharathmk99 commented on #1619
@wpeng102 @lowang-bh Included `reclaim `in action. Still same issue,

[code]

Config,

[code]

Do I need to share any other details?

[2021-07-15 07:53] Sharathmk99 commented on #1619
@lowang-bh @wpeng102
Is my Job manifest correct?

[code]

[2021-07-15 07:57] Sharathmk99 commented on #1619
@wpeng102 @lowang-bh

Logs of Scheduler,

`kubectl logs -n volcano-system volcano-scheduler-595c747db-bx2g9`

[code]

[2021-07-15 09:19] jasonliu747 commented on #1572
#1574 has been merged. You could close this issue at your discretion. @lowang-bh

[2021-07-16 02:01] Thor-wl commented on #1617
So this issue can be closed? @merryzhou

[2021-07-16 04:36] Sharathmk99 commented on #1619
@wpeng102 @Thor-wl @renhuanyu  could you please help me to figure out the issue?

[2021-07-16 06:05] lowang-bh commented on #1619
reclaim works when multiple conditions  met the requirement:
you can check it from `AddReclaimableFn`

1.  gang plugin:  `preemptable := job.MinAvailable == 0 || job.MinAvailable <= job.ReadyTaskNum()-1`
2. conformance-plugin: evictor can not reclaim pod in system namespace or with system-priority
3. drf plugin:
4. proportion :  victimee's queue derserve large than its allocated(overused)

[2021-07-16 06:39] Thor-wl commented on #1608
That's reasonable. THX.

[2021-07-17 08:16] #1572 closed

[2021-07-17 08:29] #1451 closed

[2021-07-19 03:51] hwdef opened #1627 "Task launch order support"
#### What would you like to be added:

Task-level DAG scheduling policy

#### Why is this needed:

This feature provides the ability to customize the order in which tasks are launched

The following scenarios come to mind so far:

* mpi job. the master needs to wait for the worker to start before starting, If the master is already started, but the worker is not yet started, the master will restart

[2021-07-19 03:55] #1591 closed

[2021-07-19 06:49] Thor-wl commented on #1627
That's interesting. Are you interested in working for that or let's work together?

[2021-07-19 07:01] Thor-wl commented on #1485
fixed: https://github.com/volcano-sh/volcano/pull/1621
/close

[2021-07-19 07:01] #1485 closed

[2021-07-19 07:11] shinytang6 commented on #1627
maybe similar to https://github.com/volcano-sh/volcano/issues/1117
l am also interested in that feature, let's work together )

[2021-07-19 07:16] hwdef commented on #1627
@Thor-wl I think both options are ok :)

[2021-07-19 07:23] Thor-wl commented on #1627
Let's give a design doc first about introduction about the scenarios/apis/algorithms/workflows.etc together. Do you think so? @hwdef @shinytang6

[2021-07-19 12:15] Thor-wl commented on #1425
If cpu or memory is oversued, no later jobs should be added into the queue for any job must request cpu or memory to run. If scalable resources are overused such as GPU, later jobs only requesting cpu and memory can still be added into the queue. So i think we should add the logic.

[2021-07-20 03:52] Thor-wl opened #1631 "multi-scheduler: only add nodes with specified label to volcano cache"
As what [multi-scheduler. md](https://github.com/volcano-sh/volcano/blob/master/docs/design/multi-scheduler.md) designs, volcano scheduler maps to part of nodes which have specified labels. So it is needed to only add these nodes to cache instead of all nodes in the cluster. Only in the way will queues be allocated correct resource amount.

[2021-07-20 08:27] Thor-wl commented on #1525
/close

[2021-07-20 08:27] #1525 closed

[2021-07-21 02:46] githublaohu opened #1633 "volcano.sh网站 js资源加载不出来"
cdnjs.cloudflare.com的 jquery.js等5个js文件无法加载。已经翻墙了。

[2021-07-21 06:28] wpeng102 opened #1634 "scheduler framework support SharedInformerFactory()"
**What happened**:
scheduler plugin framework does not implemented `SharedInformerFactory()`

https://github.com/volcano-sh/volcano/blob/92e9135201a3d54634972e8ebf486e3b9995bca5/pkg/scheduler/plugins/util/k8s/framework.go#L87-L90

when customized plugin call default scheduler plugin such as `volumezone.New(nil, handle)` will lead scheduler panic.

https://github.com/kubernetes/kubernetes/blob/4900

[2021-07-21 09:06] NaraLuwan opened #1638 "the volcano-development.yaml has an additional configuration parameter"
when i install whit yaml files,I get an error msg when I execute the following command:
kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml

err msg:unknown flag: --admission-conf

And then I'm going to get rid of this argument and I'm not going to report any errors.

[2021-07-21 09:10] shinytang6 commented on #1638
I think it's because of the latest image is not updated.
/cc @huone1

[2021-07-21 09:25] shinytang6 commented on #1631
l think https://github.com/volcano-sh/volcano/pull/1391/ resolves this.

[2021-07-21 09:39] #1634 closed

[2021-07-22 02:48] wpeng102 commented on #1638
@NaraLuwan please use the latest code to build the admission image. Or use the version 1.3.0 installer yaml https://github.com/volcano-sh/volcano/blob/v1.3.0/installer/volcano-development.yaml

[2021-07-22 03:51] Thor-wl commented on #1416
/close

[2021-07-22 03:51] #1416 closed

[2021-07-22 03:56] Thor-wl commented on #1259
This feature has been implemented at https://github.com/volcano-sh/volcano/pull/1527

[2021-07-22 03:56] Thor-wl commented on #1259
/close

[2021-07-22 03:56] #1259 closed

[2021-07-22 07:15] wpeng102 commented on #1619
@Sharathmk99 could you change the scheduler log level to V=4 and append the scheduler log again?
you can edit the scheduler deployment and modify  `-v=4` in container args

https://github.com/volcano-sh/volcano/blob/44ec8eb28df26fbacd03ab15edabfc5916900c25/installer/volcano-development.yaml#L7592-L7595

[2021-07-22 08:29] wpeng102 commented on #1616
@adamwoolhether this issue is same as https://github.com/volcano-sh/volcano/issues/1638,  please refer comment https://github.com/volcano-sh/volcano/issues/1638#issuecomment-884621830

[2021-07-22 09:00] Thor-wl opened #1640 "Generate deployment yaml fails due to execute `helm template` fails when try to install volcano"
**What happened**:
When try to install with hack/local-up-volcano.sh, generate deployment fails due to execute `helm template` fails.
![截图](https://user-images.githubusercontent.com/61179420/126614009-8411b19d-5233-4cd2-88d4-2d9ed367b440.PNG)

**What you expected to happen**:
Install Volcano with script successfully
**How to reproduce it (as minimally and precisely as possible)**:
Just execute `ba

[2021-07-22 10:28] ldd91 opened #1641 "When set multi matchExpressions in nodeAffinity only first one works"
**What happened**:
I want to submit my vcjob to nodes with corresponding labels,for example,I want to submit to Infiniband and V100 node,this is my yaml file
[code]
and pod only in InfiniBand node but not V100 nodes.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
use multi matchExpressions

**Anything else we need to know?**:

**Environment**:
-

[2021-07-22 10:48] shinytang6 commented on #1641
lt's more of a kubernetes feature while not volcano bug:
[code]

ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/

[2021-07-22 10:53] shinytang6 commented on #1641
emmm, l can help take a look.

[2021-07-22 12:44] huone1 opened #1642 "preemption function is based on job priority in"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2021-07-22 20:46] Sharathmk99 commented on #1619
Please find below logs,

[code]

Please note below logs from above,
[code]

[2021-07-23 00:51] adamwoolhether commented on #1616
thanks!

[2021-07-23 00:51] #1616 closed

[2021-07-23 00:54] wpeng102 commented on #1619
@Sharathmk99 Thank you for append the scheduler log, please confirm if set PriorityClass for the volcano job. From the code logic if the preemptor priority is higher than preemptees's, the gang plugin will reject for job preemption.

https://github.com/volcano-sh/volcano/blob/44ec8eb28df26fbacd03ab15edabfc5916900c25/pkg/scheduler/plugins/gang/gang.go#L90-L94

[2021-07-23 01:07] william-wang commented on #1638
@Thor-wl please help to update the lastest image on the docker hub.

[2021-07-23 01:35] Thor-wl commented on #1638
OK.

[2021-07-23 01:43] william-wang commented on #1620
@zishen Yes, The binary version, git SHA and built time are supposed to be enhanced to be shown.

[2021-07-23 03:31] Thor-wl commented on #1590
It seems that "scheduling.incubator.k8s.io/v1alpha1" has already been deprecated.

[2021-07-23 03:46] Thor-wl commented on #1640
As what I tested, it seems to be a bug for helm v3.6.1. Wait for more details about that.

[2021-07-23 06:24] shinytang6 commented on #1641
Hi @ldd91, l have checked it out and works fine with multi matchExpressions, can you please show me your node info and scheduler plugin conf?

[2021-07-23 06:33] NaraLuwan commented on #1638
@wpeng102 I tried 1.3.0 and It works fine,thx

[2021-07-23 07:39] Sharathmk99 commented on #1619
@wpeng102  priorityClass is same for all volcano jobs.

But test queue is using resources more than deserved, a job from test queue should get evicted right?

[2021-07-23 09:09] Thor-wl commented on #1638
/close

[2021-07-23 09:09] #1638 closed

[2021-07-23 10:28] ldd91 commented on #1641
@shinytang6  thx for your help,Multiple matchExpressions should be or set relationships, and to implement the and relationships, multiple keys are still required to be placed under matchExpressions

[2021-07-23 10:28] #1641 closed

[2021-07-25 02:44] k82cn commented on #1642
would you help to share more info?

[2021-07-26 01:48] wpeng102 commented on #1642
@k82cn by default, user will config gang plugin for the first tiers. If user also config preempt for the action and want to use queue fair-share function. The `gang` plugin will reject reclaim because preemptor priority is equal with preemptees's

https://github.com/volcano-sh/volcano/blob/44ec8eb28df26fbacd03ab15edabfc5916900c25/pkg/scheduler/plugins/gang/gang.go#L90-L94

related issue https://gi

[2021-07-26 01:55] wpeng102 commented on #1619
@Sharathmk99 Thanks for reporting this issue,  https://github.com/volcano-sh/volcano/issues/1642 should share the same root cause with this one.

For the workaround, maybe you can try exchage `gang` and `proportion` postion

[code]

[2021-07-26 02:05] Thor-wl commented on #1439
ref: https://github.com/volcano-sh/website/pull/108

[2021-07-26 06:25] wpeng102 commented on #1592
/close

[2021-07-26 06:25] #1592 closed

[2021-07-26 07:39] wpeng102 opened #1646 "volcano support configurable webhooks"
#### What would you like to be added:
Provide a way for user to configurable enabled webhook admission

#### Why is this needed:
Currently, volcano webhook  enabled all the mutate and validate admission by package import, However, some users customized admissions and do not want to enable all admissions provided by volcano.

[2021-07-26 07:39] wpeng102 commented on #1646
PR  https://github.com/volcano-sh/volcano/pull/1645

[2021-07-26 09:26] Sharathmk99 commented on #1619
@wpeng102 After exchanging `gang` and `proportion` position, still no luck,

Config,
[code]

[code]

[2021-07-26 09:40] wpeng102 commented on #1619
@Sharathmk99 need make sure the change take effect. Usually may take 1 minute.

[2021-07-26 10:08] Sharathmk99 commented on #1619
@wpeng102 I did restart the deployment after `configmap` changes
`k rollout restart deployment -n volcano-system volcano-scheduler`

[2021-07-26 23:18] #1270 closed

[2021-07-27 03:00] #1646 closed

[2021-07-28 02:56] k82cn opened #1647 "Rename master branch to main branch"
#### What would you like to be added:

We're going to rename `master` branch to `main` branch, please follow those step to update your local environment:

[code]

#### Why is this needed:

[2021-07-28 06:21] Thor-wl commented on #1647
Why shell we rename the master branch?

[2021-07-28 19:59] max0ne commented on #1567
@hwdef @Thor-wl any update on this?

[2021-07-29 01:24] Thor-wl commented on #1567
I'm sorry for working on hierarchical queue recently and having not retested this bug. Are you interested in helping for that?

[2021-07-29 01:45] hwdef commented on #1567
@max0ne @Thor-wl
I checked some codes, but couldn't find the reason. When the webhook is passed in, the annotation has been lost.

[2021-07-29 01:46] hwdef commented on #1567
Going forward may have to look at the code in apiserver

[2021-07-29 03:10] shinytang6 commented on #1567
upstream related issues: https://github.com/kubernetes-sigs/controller-tools/issues/448

[2021-07-29 03:15] shinytang6 commented on #1567
maybe we should upgrade the controller-tools version, [v0.6.0](https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.6.0) seems to fix that.

[2021-07-29 08:21] huone1 opened #1648 "CI problem has been around for days that block PR merge"
**What happened**:
CI problem has been around for days that block PR merge
it is a problem that the cluster resource is not enough.
![image](https://user-images.githubusercontent.com/71266853/127457502-42e0dd02-f917-4a52-8f11-9ba1ac913bac.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2021-07-29 08:25] william-wang commented on #1648
@Thor-wl CI blocks us too many times. we need reconsider the solution that buy some machine from cloud to run ci.

[2021-07-30 02:25] kye308 opened #1650 "Store all job status transitions in volcano job spec"
#### What would you like to be added:

for example, here is the status of a volcano job I am running, which stores the current state of the job (current behavior)
[code]

tfjob job status will contain more information about job status changes (example of desired behavior):
[code]

#### Why is this needed:

This will be helpful to track full job status transition timeline for a volcano job.

[2021-07-30 02:27] Thor-wl commented on #1650
Sounds reasonable. Thanks for your report. We will take it into consideration at the later release.

[2021-07-30 03:50] Thor-wl commented on #1648
OK. It occurs by the update of tools at github action machines. I'm trying to fix it.

[2021-07-30 18:36] d4l3k opened #1651 "RestartJob deletes failed pods on last try losing logs"
**What happened**:

When you specify on `PodFailed` action `RestartJob` it will delete all the pods on the last retry even though there will be no more retries. This means that there's no way to access the logs to figure out why the pods failed and debug the jobs.

[code]

**What you expected to happen**:

It should leave the pods for the last retry for debugging purposes and logs.

**How to repro

[2021-07-31 02:58] william-wang commented on #1651
@d4l3k What you expect is that do not delete the failed pod and create new pod in 'RestartAction'. Is it right?

[2021-07-31 06:37] wpeng102 commented on #1651
I think it make sense that left the `Error` pod here for user invetigatation when job is in failed stage.

[2021-07-31 06:37] d4l3k commented on #1651
When there's no more retries granted it should just let the pods stay as if
they had failed normally with no retry policy. As is it deletes all the
pods, there's no more retries so the job is marked as failed and stops. As
far as I can tell since the pods are gone there's no way to determine _why_
the job failed since that's done through logs and stack traces which are
gone

On Fri, Jul 30, 2021,

[2021-07-31 08:32] william-wang commented on #1651
@d4l3k Thanks for your explaination. I had a test with the yaml too. Agree with you to let the error pod stay as it is after the last retry for debug :)

[2021-07-31 09:35] #1567 closed

[2021-08-01 05:01] #1648 closed

[2021-08-02 01:46] Thor-wl commented on #1586
@Tammy-kunyu @yanglilangqun Please give the process fedback here when you achieve any goals.

[2021-08-03 18:03] d4l3k opened #1658 "svc plugin produces invalid envs"
**What happened**:

If you have a task with a dash in the name i.e. `trainer-0` when used with the svc plugin it creates environement variables with dashes in them. Such as `VC_TRAINER-0_HOSTS`. These _can_ be used in some languages but can't be used in standard compliant shells such as bash.

https://stackoverflow.com/questions/36989263/why-cant-environment-variables-with-dashes-be-accessed-in-ba

[2021-08-03 18:11] d4l3k commented on #1658
Looks like https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/job/plugins/svc/svc.go#L100-L101 needs to be updated to remove/replace invalid characters when creating the environment variable key

[2021-08-04 01:15] Thor-wl commented on #1658
/cc @wpeng102 Can you help for that?

[2021-08-04 10:54] #1328 closed

[2021-08-04 10:55] #1325 closed

[2021-08-04 10:55] #1326 closed

[2021-08-04 10:55] #1346 closed

[2021-08-04 23:19] Robert-Christensen-visa opened #1661 "quick termination of jobs with hdrf queues"
**What happened**:

I create three queues that use hdrf.  Two queues share  `root/dev` hierarchy, and one queue is the only one in `root/alt`.  The queues are setup like this:

[code]

12 identical jobs are submitted to each queue to saturate the resources.  Each job requests 1CPU and 256Mb memory.  On a local cluster this will saturate the resources so some jobs must queue while the other jobs fi

[2021-08-05 01:20] william-wang commented on #1661
@Robert-Christensen-visa Thanks for your reporting. I will try to reproduce the issue with your step.

[2021-08-05 09:36] huone1 commented on #1542
/cc @Thor-wl

[2021-08-05 09:44] huone1 commented on #1542
For kubernetes native resource such as deployment/daemonSet， volcano  can set minrRsource  to  the request resource of one pod； If user need promise more than one pod to run， users can create  a podgroup to set minNumber and minResource， then associate it with the workload by add the annotation “scheduling.k8s.io/group-name”

[2021-08-05 09:46] Thor-wl commented on #1542
Agree with this solution.

[2021-08-05 17:57] d4l3k commented on #1658
looks like this is fixed as of https://github.com/volcano-sh/volcano/pull/1660

[2021-08-05 17:57] #1658 closed

[2021-08-05 17:58] d4l3k commented on #1651
appears to be fixed as of https://github.com/volcano-sh/volcano/pull/1657 still need to test on master

[2021-08-06 23:09] Sharathmk99 commented on #1619
@wpeng102 I tried to build docker image from `master` branch. But still the issues is same. Not able to `reclaim` guarantee resource for second queue. Is it possible to solve the above use case with Volcano?

Logs,

[code]

[2021-08-07 05:21] 5had3z opened #1663 "Install YAML: unknown flag: --admission-conf"
**What happened**:

Unable to install volcano using yaml file.
[code]

[code]

[code]

[code]

**What you expected to happen**:
All pods in namespace running successfully

**How to reproduce it (as minimally and precisely as possible)**:
Follow Nvidia docks to install kubernetes and gpu-operator
https://docs.nvidia.com/datacenter/cloud-native/kubernetes/install-k8s.html#step-0-before-you-begin

In

[2021-08-07 05:36] 5had3z commented on #1663
Turns out that this isn't an issue if I use https://raw.githubusercontent.com/volcano-sh/volcano/v1.3.0/installer/volcano-development.yaml, so I guess its an issue in master branch but not in v1.3.0

[2021-08-07 05:45] shinytang6 commented on #1663
yes, the latest image is not updated. Same issue with https://github.com/volcano-sh/volcano/issues/1638

[2021-08-07 05:49] 5had3z commented on #1663
No worries, that issue didn't appear when I just searched "install" in issues tab.

[2021-08-07 05:49] #1663 closed

[2021-08-09 08:55] #1349 closed

[2021-08-09 09:21] brucexyz1234 commented on #1542
the result look fine now, great thanks for the community guys!

[2021-08-09 09:23] brucexyz1234 commented on #1545
the result look fine now, great thanks for the community guys!

[2021-08-09 09:23] #1545 closed

[2021-08-09 10:48] shinytang6 commented on #1542
that's reasonable, l think it better to provide a typical example for that scenary.

[2021-08-09 10:49] shinytang6 commented on #1661
Sorry for the delay, l will try to take a look for that )

[2021-08-09 13:40] Sharathmk99 commented on #1463
Any update on this issue? I'm facing same issue with Deployment

[2021-08-09 14:50] pingsutw opened #1664 "Fail to install volcano on minikube"
**What happened**:
Fail to install volcano on minikube.
[code]

[code]

[code]

**What you expected to happen**:
`volcano-admission-5f7b5f989-tcfhl` should run successfully.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
- Volcano Version: Latest
- Kubernetes version (use `kubectl version`): 1.15.11
- Cloud provider o

[2021-08-09 14:59] shinytang6 commented on #1664
l believe it's the same issue with https://github.com/volcano-sh/volcano/issues/1638

[2021-08-09 15:39] pingsutw commented on #1664
I tried 1.3.0 and It doesn't work for me.
`volcano-admission` runs successfully, but `volcano-scheduler` failed.
I got the below error.
[code]

[code]

[2021-08-09 20:41] #1359 closed

[2021-08-10 00:00] d4l3k opened #1665 "kubernetes 1.22 compatibility"
**What happened**:

The latest release 1.3.0 (and master) appear to be incompatible with Kubernetes 1.22.

**What you expected to happen**:

It's able to launch jobs

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

Seems like v1beta1 version of PriorityClass is gone and instead needs to use v1. https://kubernetes.io/docs/reference/usi

[2021-08-10 01:09] k82cn commented on #1665
@Thor-wl , please help on that :)

[2021-08-10 03:38] Thor-wl commented on #1633
The website server locates overseas and it maybe a little bit slow at home.
/close

[2021-08-10 03:38] #1633 closed

[2021-08-10 03:39] Thor-wl commented on #1463
As the discussion with other developers last week, we will set `minAvailable` as 1 and the `minResource` will be request resource of one pod to podgroup

[2021-08-10 03:44] Thor-wl commented on #1664
Please set --kubeconfig as a parameter for server and try again

[2021-08-10 04:11] Sharathmk99 commented on #1463
That will be great. Any open PR for this?

[2021-08-10 05:50] k82cn commented on #1647
xref: https://github.com/kubernetes/enhancements/issues/2853

[2021-08-10 06:38] Thor-wl commented on #1463
Not yet. It's on the way.

[2021-08-10 06:52] wpeng102 commented on #1665
scheduling.k8s.io/v1beta1 PriorityClass is deprecated in v1.14+, unavailable in v1.22+; use scheduling.k8s.io/v1 PriorityClass

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#priorityclass-v122

[2021-08-10 18:56] #1128 closed

[2021-08-11 22:29] Sharathmk99 commented on #1631
+1

[2021-08-12 01:08] Thor-wl commented on #1631
If there's any process, please note here. THX. @huone1

[2021-08-12 01:10] Thor-wl commented on #1640
Helm version has been updated to v3.6.3 which is stable.
/close

[2021-08-12 04:47] #1361 closed

[2021-08-12 09:36] Sharathmk99 commented on #1619
@Thor-wl @wpeng102 Can you help me to make fair sharing work? Is my Kubernetes version 1.21 a problem?

[code]

[2021-08-12 10:33] shinytang6 commented on #1619
hi @Sharathmk99 , for volcano v1.3.0, the most important log is:
[code]

related logic is:
[code]

for your queue `test`, l found this log:
[code]

so the situation may be that allocated first subtracts a value, which leads to deserved > allocated, and eventually causes skippe the calculation of vicitim.

[2021-08-12 10:46] Sharathmk99 commented on #1619
@shinytang6 Thank you for the response. I did tried to build docker image from `master` branch and test it, but still it doesn't work.

Ideally `test` queue should deserved 5000 and `test1` should deserved 5000 and `default` queue should deserved 1000. Do i need to share any other log?

Below is the log from `master` branch docker images,

[code]

[2021-08-12 11:04] shinytang6 commented on #1619
l will take a look for that, my intuition is that there are still some potential bugs in proportion plugin..

[2021-08-12 12:19] Thor-wl commented on #1475
/close

[2021-08-12 12:19] #1475 closed

[2021-08-13 05:49] #1331 closed

[2021-08-13 05:49] #1329 closed

[2021-08-13 05:49] #1297 closed

[2021-08-13 05:49] #1342 closed

[2021-08-13 05:49] #1337 closed

[2021-08-13 06:53] Thor-wl commented on #1665
We'll support k8s 1.20, 1.21, 1,22 after v1.4 released. @d4l3k Thanks for your advice.

[2021-08-14 00:37] Robert-Christensen-visa commented on #1661
I have looked into this a little more to see what is going on.  This will only be an issue if `little-queue` has a job running in it.  What happens is in `updateHierarchicalShare` all the second level hierarchy are not saturated.  This means to determine the resource consumption the dominant share is rescaled using `mdr`.  Since `little-queue` is only consuming very few resources because of it's s

[2021-08-17 03:11] k82cn commented on #1665
how about the older version?

[2021-08-17 08:40] SataQiu opened #1679 "Daily release job failed to upload the latest images"
**What happened**:

Docker username or password not found, daily release job failed to upload the latest images.
https://github.com/volcano-sh/volcano/runs/3317775913?check_suite_focus=true

![image](https://user-images.githubusercontent.com/9354727/129692908-6e5aa66c-4a6e-4815-9443-dbeeb3190d1d.png)

Ref: #1664, #1638

**What you expected to happen**:
Daily release job uploads the latest images s

[2021-08-17 09:06] junhuihuang opened #1680 "cannot use Bidirectional mountPropagation"
**What happened**:
Error from server: error when creating "helloworld.yaml": admission webhook "validatejob.volcano.sh" denied the request: spec.task[0].template.spec.containers[1].volumeMounts.mountPropagation: Forbidden: Bidirectional mount propagation is available only to privileged containers.
**What you expected to happen**:
Can be created
**How to reproduce it (as minimally and precisely as

[2021-08-18 02:14] #1223 closed

[2021-08-18 06:26] Thor-wl commented on #1679
Well, yes, Thanks for your report. I'll fix it.
/assign

[2021-08-18 09:37] hwdef commented on #1604
I think http is more suitable for metrics. And some other projects also use http exposure metrics, such as etcd

[2021-08-18 15:27] Robert-Christensen-visa commented on #1661
I found an easy why to replicate the issue.

In the unit tests, everything neatly fits in the resources provided.  For example, in the following test, each request is for exactly 1CPU or 1G memory.

https://github.com/volcano-sh/volcano/blob/7e1e6960c61e2536f037de8567178a8e9d5f7cba/pkg/scheduler/plugins/drf/hdrf_test.go#L157-L159

The issue above can be recreated by slightly adjusting the amount o

[2021-08-19 01:31] #1606 closed

[2021-08-19 03:42] #1620 closed

[2021-08-19 06:14] Thor-wl commented on #1680
/cc @william-wang Please help take a look. THX.

[2021-08-19 06:20] #999 closed

[2021-08-19 06:20] #1104 closed

[2021-08-19 06:50] hacker-qian opened #1684 "taints nodes cannot schedules pod when queue overused"
we have two queues(queue1, queue2) in the cluster, meanwhile, user in queue1 have some taints nodes (ensure their pods is scheduled to these taints nodes). queue1 has low weight (10) and queue2 has high weight (10000). When users in queue2 request a large amount resources, it can result queue1 ovseused (queue1's deserved is less than allocated). Once the queue1 is overused, tasks in queue1 cannot

[2021-08-19 13:28] igormishsky opened #1686 "GPU sharing does not preemt or reclaim jobs from from lower weight queue"
**What happened**:
Have two servers with total of 65120 gpu-memory (using Volcano device plugin for Kubernetes).
Running 7 jobs with volcano.sh/gpu-memory: "7168" in the default queue (weight 1) and adding job in main queue (weight 7) with volcano.sh/gpu-memory: "7768". The job in the main queue is stuck in pending state

**What you expected to happen**
Adding job to queue to with higher weight di

[2021-08-19 19:47] prokher opened #1687 "Deleting a queue with `kubectl` fails with "only queue with state `Closed` can be deleted""
**What happened**:

An attempt to delete a queue with `kubectl delete` ends with the following error:
[code]

**What you expected to happen**:

I expect queue be deleted.

**How to reproduce it (as minimally and precisely as possible)**:

Just create a new queue and try to delete it with `kubectl delete`.

**Anything else we need to know?**:

I realize I can close the queue first with `vcctl`, but

[2021-08-20 00:23] aivanou opened #1688 "Pod disappears after creation"
**What happened**:
I have a simple pod that just produces python RuntimeException. When I try to run it with the following yaml:

[code]

The pod starts but then it completely disappears from pods list: `kubectl get pods -n default`

The pod python code:
[code]

It seems that the pod starts running, fails with error and then getting restarted. After restart it fails and never shows up in the kubec

[2021-08-20 02:51] Thor-wl commented on #1688
/cc @shinytang6 Can you help take a look? THX.

[2021-08-20 03:00] Thor-wl commented on #1687
As the design of `queue`, only queues with `closed` status, which means it will no longer receive new coming jobs, can be deleted. `queue` is a concept inheriting from traditional HPC scheduling architectures and widely used for cluster resource sharing and division among departments or groups. As to default scheduler of Kubernets, it's a scheduling for common scenarios. So it contains no `queue`.

[2021-08-20 05:27] zen-xu opened #1689 "Exists some jobs never to be scheduled"
**What happened**:

Although cluster have many resources, but some jobs always be pending state.

**What you expected to happen**:

These jobs should be scheduled

**How to reproduce it (as minimally and precisely as possible)**:

It's an accidental phenomenon, only happens 2-4 times

**Anything else we need to know?**:

I found `pg`s of these jobs are not created
I can't find job name from schedu

[2021-08-20 06:14] Thor-wl commented on #1689
Is there more details about these jobs? Any more phenomena and laws?

[2021-08-20 06:32] zen-xu commented on #1689
no useful details

[2021-08-20 06:41] Thor-wl commented on #1689
Well, let's leave this issue and update it whenever this phenomena appears again.

[2021-08-20 07:43] prokher commented on #1687
@Thor-wl , thank you, that is clear. The issues is that I do not know how to close a queue with `kubectl` without using `vcctl`. I assume if I can do it with `kubectl`, then I will be able to do through the Kubernetes API.

[2021-08-20 08:22] Thor-wl commented on #1687
Users can only close queue with `vcctl` now. `Queue` is not a native concept for Kubernetes. So there's no way to use K8s CLI to do that.

[2021-08-20 09:50] prokher commented on #1687
@Thor-wl, understood. Can I expect that there will be a possibility to close a queue with `kubectl edit`? I thought it is a Kubernetes way of doing things. User modifies Kubernetes object (e.g., through `kubectl edit`) and operator responsible for this object does it best to move it closer to the desired state.

[2021-08-22 08:54] FatalLin opened #1690 "Unknown error is occurred while launching TFJob"
**What happened**:
I've already enabled gane scheduling and added the privilege to the cluster role of tf-operator, then I tried to launched a tfjob, and tf-operator prints some error messages without further details repeatedly.
<img width="1634" alt="截圖 2021-08-22 下午4 51 59" src="https://user-images.githubusercontent.com/5687317/130348710-68df30fb-42b2-432c-8c3c-2b6874255c1f.png">
<img width="162

[2021-08-22 12:29] shinytang6 commented on #1690
@FatalLin It seems that you didn't install podgroup crd. If you enable gang in tf-operator, you need to install that.

[2021-08-22 13:14] FatalLin commented on #1690
@shinytang6  It seems those necessary crd had also been installed with installer to me.
<img width="1409" alt="截圖 2021-08-22 下午9 13 12" src="https://user-images.githubusercontent.com/5687317/130356574-2591370e-21bc-476d-8b3b-05cc51a834e6.png">

[2021-08-22 13:42] shinytang6 commented on #1690
Sorry, @FatalLin  can you show your version of tf-operator?
l did not take a closer look, but my guess is:
1. For one job, tf-operator first create pods, and then create podgroups.
2. The pod webhook of volcano will check the pod creation until the corresponding pg ready, or it will refuse to creating pods requests.
3. The order of vcjob creation is to create podgroup first, then create pods after

[2021-08-22 13:55] FatalLin commented on #1690
@shinytang6 Hmm, the tf-operator we currently used is tf_operator-v1.1.0-g92389064, do you have any suggestion which version may have better compatibility?

[2021-08-22 14:06] shinytang6 commented on #1690
maybe you can upgrade tf-operator to v1.2.0 to have a test

[2021-08-24 00:46] d4l3k commented on #1688
is this a duplicate of https://github.com/volcano-sh/volcano/issues/1651 which is already fixed?

[2021-08-24 03:32] shinytang6 commented on #1688
yeah, seems to be fixed by https://github.com/volcano-sh/volcano/pull/1657, but not included in version 1.3.0

[2021-08-24 03:55] Thor-wl commented on #1687
@prokher Yes. Perhaps it's hard to push this idea directly to Kubernetes community, but it is possible to develop a CLI plugin to support that.

[2021-08-24 09:20] zen-xu commented on #1689
I found the reason.

Our k8s cluster have 210k pods (contains completed and running)
This will lead the controller hard to sync all pods, so `pg` will never to be created.

[2021-08-24 11:46] shinytang6 commented on #1687
Actually you can apply a `Command` crd provided by volcano to do that, vcctl is doing this way. But l believe the community has very little description of this function currently.

[2021-08-24 12:23] Thor-wl commented on #1689
Curious about why controller hard to sync all pods. timeout or else?

[2021-08-24 12:25] zen-xu commented on #1689
Timeout

[2021-08-24 16:31] FatalLin commented on #1690
@shinytang6  I took your suggestion, build a tf-operator image from their 1.2 branch and run again, then I hit following errors when I enable gang scheduling. (ps and worker pods are launched successfully when I turn off gan scheduling).
`E0824 16:13:34.730856       1 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil

[2021-08-24 16:37] aivanou commented on #1688
Thank you for the fast reply!

[2021-08-24 16:37] #1688 closed

[2021-08-25 01:54] #1488 closed

[2021-08-25 02:54] lowang-bh opened #1694 "golint"
the lint does not check out the golint error and passed.
#### What would you like to be added:

#### Why is this needed:
![image](https://user-images.githubusercontent.com/21003791/130718656-b44caf7f-6cdb-49be-a5bf-fde9e4883461.png)

[2021-08-25 06:49] Thor-wl commented on #1694
@gy95 Is golint out of the checkout scope at the latest PR?

[2021-08-25 06:51] gy95 commented on #1694
yes, because golint is archived, so remove it it PR

[2021-08-25 08:38] qiankunli opened #1695 "tf-operator create PodGroup error"
tf-operator version: v0.5.3, it is a low version
volcano version: v1.3.0

tf-operator log
[code]
can volcano v1.3.0 accept groupVersion=scheduling.incubator.k8s.io/v1alpha1

公司内目前使用的 tf-operator 非常低，会创建  scheduling.incubator.k8s.io/v1alpha1 的PodGroup
我想将volcano 从v0.3 升级到 v1.3.0，v1.3.0 的volcano 只支持 scheduling.volcano.sh/v1beta1 的PodGroup，所以老版本 tf-operator 创建PodGroup 会报错

CustomResourceDefinition 有什

[2021-08-27 06:43] LuBingtan opened #1697 "Support ML frameworks in job plugins"
#### What would you like to be added:

Implement a series of plugins which can support workloads of ML frameworks, e.g. Tensorflow, Mxnet, MPI.
With the framework plugins, users can easily create a job of a certain framework by add framework plugin in job's spec.

First, framework plugin should receive and parse plugin arguments to get some necessary parameters, and then generate environment varia

[2021-08-28 02:52] zhuyaguang opened #1699 "yaml安装失败"
**What happened**:

使用一键式yaml安装
kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml

**What you expected to happen**:

volcano 安装OK

**How to reproduce it (as minimally and precisely as possible)**:

安装kind kubectl 后，发现volcano 安装不起来
volcano-system 一个pod CrashLoopBackOff
![image](https://user-images.githubusercontent.com/8857976/131203910-

[2021-08-28 02:57] shinytang6 commented on #1699
pls refer to https://github.com/volcano-sh/volcano/issues/1663, it's a bug not fixed right now.

[2021-08-28 03:33] Thor-wl commented on #1663
Latest image for webhook has been pushed to dockerhub

[2021-08-28 04:24] Thor-wl commented on #1699
Latest webhook image has been pushed to dockerhub, please have a try.

[2021-08-29 08:31] #1379 closed

[2021-08-30 03:00] umialpha commented on #1697
+1，I think "worker", "ps", "chef" are more easy to understand than "ps.host", "worker.host" and shell.

[2021-08-30 04:28] LuBingtan commented on #1697
With ml framework plugin, we could do more framework related work. e.g. we could set a init container to ensure worker init after parameter server.

[2021-08-30 06:35] k82cn commented on #1697
ML framework plugin is ok to me, that'll make it easier to use.

I still prefer not to add new CRD for ML or other kind of jobs :)

[2021-08-30 08:35] Thor-wl commented on #1699
fix: https://github.com/volcano-sh/volcano/pull/1701

[2021-08-30 15:35] #1387 closed

[2021-08-31 00:31] #1425 closed

[2021-08-31 01:35] Thor-wl commented on #1679
Daily release has been fixed.
/close

[2021-08-31 01:35] #1679 closed

[2021-08-31 09:08] william-wang opened #1704 "Support Volcano scheduler in Spark community"
#### What would you like to be added:
Volcano already integrated with spark-operator to support runing spark on Kubernetes with Volcano.
We are also going to support volcano schedulers in Spark community.  This issue is used to track the overall progress.
ref:  https://issues.apache.org/jira/browse/SPARK-36057

Sub Tasks
- [x] spark part
      https://issues.apache.org/jira/browse/SPARK-36057
- [x

[2021-08-31 09:31] menglong21 opened #1706 "fail to change the size of vcjob by changing the replicas"
**What happened**:
Hi. I have a vcjob yaml,and I want to  change the size of vcjob by changing the replicas ,but it doesn' t work.

this is the stderr:
 admission webhook "validatejob.volcano.sh" denied the request: job updates may not change fields other than `minAvailable`, `tasks[*].replicas under spec`

this is the yaml, and I want to know how to fix it :
[code]

**Environment**:
- Volcano Ver

[2021-08-31 11:32] #1689 closed

[2021-08-31 12:23] william-wang opened #1707 "Support NUMA-Awareness scheduling in Volcano"
#### What would you like to be added:
Currently there is CPU NUMA-Aware scheduling in topology manager on node. However scheduler is unaware of the NUMA topology and allocation. It casue that the Pod might be scheduled to an unexpected node.
We want to add NUMA-Awareness scheduling policy in Volcano

[2021-08-31 12:23] #1707 closed

[2021-08-31 12:47] william-wang commented on #1368
The feature development is completed.

[2021-08-31 12:47] #1368 closed

[2021-09-01 03:17] adamwoolhether commented on #1699
i noticed the latest docker image doesn't properly schedule jobs, they're always stuck in "pending".... i used my local 1.3.0 instead of latest and it works fine.

[2021-09-01 04:12] Thor-wl commented on #1699
Can you give an issue about the scenario description and operation steps?

[2021-09-01 06:12] qiankunli opened #1710 "can not schedule job"
volcano version： latest  built by 8.31

volcano-scheduler log
[code]
remove proportion plugin and restart volcano-scheduler
[code]

tfjob yaml

[code]
I change to use v1.3.0, it is ok

[2021-09-01 06:19] william-wang commented on #1710
The underUsedResName is [cpu memory], actually there is gpu in the queue.
@Thor-wl please help to have a look.

[2021-09-01 09:49] Thor-wl commented on #1610
/close

[2021-09-01 09:50] #1610 closed

[2021-09-01 09:50] Thor-wl commented on #1564
ref: https://volcano.sh/en/docs/spark_on_volcano/

[2021-09-01 09:50] #1564 closed

[2021-09-01 09:52] Thor-wl commented on #1471
/close

[2021-09-01 09:52] #1471 closed

[2021-09-01 09:53] Thor-wl commented on #1441
/close

[2021-09-01 09:53] #1441 closed

[2021-09-01 09:54] Thor-wl commented on #1440
/cc @peiniliu

[2021-09-02 02:13] #1487 closed

[2021-09-02 03:15] Thor-wl commented on #1699
I've submitted a test job and everything goes well.

[2021-09-02 03:17] #1699 closed

[2021-09-02 03:40] Thor-wl commented on #1710
The root reason is bug in `Diff` function when comparing resource. Let me fix it.

[2021-09-02 05:56] qiankunli opened #1711 "can not record queue label in metric"
volcano version : v1.3.0

if not set queue in podgroup, volcano-scheduler will not record  queue label in metric, so grafana can not show job normally.

[code]

query metric in prometheus
[code]

it should have queue label,like
[code]

allocate.go  line249

[code]
`job.PodGroup.Spec.Queue` may be empty, it is more properly use `queue.Name`

[2021-09-02 06:20] Thor-wl commented on #1710
/cc @qiankunli  Have a test again please.

[2021-09-03 03:56] king-jingxiang opened #1713 "Task MinAvaliable to support the minimum number of pod limit for task startup"
#### What would you like to be added:

Add Task MinAvaliable feature to support the minimum number of pod limit for  task startup,such as
| name  | replicas | Task minAvaliable | expect scheduled |
| ----- | -------- | ----------------- | --------- |
| taskA | 2        | 1                 | taskA-1 (At least one taskA replica)   |
| taskB | 2        | 1                 | taskB-1 (At least one task

[2021-09-03 07:34] #1396 closed

[2021-09-03 07:34] #1393 closed

[2021-09-03 07:50] Thor-wl commented on #1697
That's interesting. Can you give more details about the plugins, including the design doc and the code?

[2021-09-03 07:51] #1710 closed

[2021-09-03 09:19] eggiter opened #1714 "Plugin `predicates` won't remove pod from node during the rollback of scheduling transaction"
**What happened**:
+ `Predicates.DeallocateFunc` won't remove pod from node(which defined in `predicatesPlugin.OnSessionOpen.nodeMap`) during the rollback of scheduling transaction(or say statement discarded).
+ Instead, it leaves an error log: "predicates, update pod xxx allocate from NOT EXIST node []"

**What you expected to happen**:
+ Obviously it should successfully remove the pod assigned o

[2021-09-03 10:21] odidev opened #1717 "Facing issues while installing Volcano using Helm"
**What happened**:

I am trying to install Volcano on the Linux/AMD64 platform using [helm charts method](https://volcano.sh/en/docs/installation/#install-with-helm), and getting below issue while executing “`helm install volcano helm/chart/volcano/ -n volcano-system`” command:
[code]
This is the same issue occurred here < https://github.com/volcano-sh/volcano/issues/1445 >, and the resolution was

[2021-09-03 14:14] LuBingtan opened #1718 "All pods is existing when restart count exceed max retry"
**What happened**:

When the restart count of  a volcano job with multiple tasks exceed max retry number, none of the pods is deleted, including the running pods.

After described the job, its status is failed and shown as below:

[code]

But all the pods is still existing, including the running pods.

[code]

**What you expected to happen**:

Running pods should be deleted at last retry.

**How t

[2021-09-04 04:28] Robert-Christensen-visa opened #1720 "Premption not happening between high priority and low priority jobs"
**What happened**:

When submitting several jobs, some with high priority and some with low priority, the high priority jobs do not preempt the lower priority jobs.  Both jobs are running in the same queue.

**What you expected to happen**:

If a low priority job is running and a pending high priority job is queued.  There there is not sufficient capacity for both to run, I would expect the lower

[2021-09-04 09:35] Thor-wl commented on #1710
I've taken a simple test and this bug has been fixed. If there's any question, please leave messages under this issue. THX.

[2021-09-04 09:58] #1395 closed

[2021-09-04 09:58] #1406 closed

[2021-09-05 02:49] lowang-bh commented on #1714
This can be removed as there is `task.NodeName = ""` already in unpipeline, unallocate.

[2021-09-06 03:38] Thor-wl commented on #1720
/assign @Thor-wl I'll take a look.

[2021-09-06 03:46] eggiter commented on #1714
@lowang-bh fixed in #1716 , PTAL

[2021-09-06 04:03] eggiter opened #1724 "Queues are always OVERUSED when plugin proportion is disabled"
**What happened**:
- Queues are **always overused** when there is no `UnderUsedResourceFn` is added (i.e. plugin `proportion` is disabled).
  - https://github.com/volcano-sh/volcano/commit/012c2a26068a144813866c96579bbe717a0ddf74#diff-3dcbd15d9e1bf118608b4eedcaadc5cc7bdb9f60b482ad0ca7238ada5ad9e32cR208
[code]
- It was introduced in PR #1637 .

**What you expected to happen**:
- Queue is always und

[2021-09-06 06:18] king-jingxiang opened #1725 "Gang plugin Task MinAvaliable feature PodGroup `Min Task Member` is covered"
**What happened**:
create volcao job with task minAvaliable

![image](https://user-images.githubusercontent.com/32818529/132168412-a29dd530-4224-49c1-8a77-229fac2d5524.png)

![image](https://user-images.githubusercontent.com/32818529/132168491-d04efa57-700a-4f2a-84f6-0d8e249b90ea.png)

![image](https://user-images.githubusercontent.com/32818529/132168679-5e6140d4-74f5-4480-9318-d0e15507c563.png)

[2021-09-06 06:55] shinytang6 commented on #1725
/assign @shinytang6

[2021-09-06 08:50] william-wang commented on #1724
It make sense that proportion is not enabled at all scenario. The UnderusedResources should be enhanced.

[2021-09-06 11:55] #1407 closed

[2021-09-06 12:10] #1714 closed

[2021-09-07 02:54] shinytang6 commented on #1725
hi @king-jingxiang, l just tested with master branch and set task minAvailable, but not met this problem, can you pls show your job yaml and volcano version?

[2021-09-07 03:48] shinytang6 commented on #1711
fixed by #1722
/close

[2021-09-07 03:48] #1711 closed

[2021-09-07 04:53] king-jingxiang commented on #1725
v1.3.0
[code]

[2021-09-07 05:49] #1724 closed

[2021-09-07 08:23] hacker-qian opened #1731 "pass kubeClient to admission service"
we find the kubeClient in volcano-admission didn't paas to the service.Config.KubeClient,
however, if we do ourself devlopment in volcano-admission and use the Config.KubeClient to get some k8s resources (e.g. namespace, pod...), it will be not work.

![image](https://user-images.githubusercontent.com/6950081/132310680-5e7ef2ad-2b71-4d50-9bc6-c27ddd86b9ee.png)

[2021-09-07 09:38] #1408 closed

[2021-09-07 09:38] #1245 closed

[2021-09-07 10:36] shinytang6 commented on #1725
@king-jingxiang  After some debug, l found the problem lied in the podgroup version convertion, minTaskMember is lost during conversion in volcano v1.3.0.
[code]

v1.4.0 & the master branch should have resolved this problem.

[2021-09-07 11:02] king-jingxiang commented on #1725
1.4.0-Beta 我也测试了一下，podGroup Min Task Member是正确的，但是CheckTaskMinAvailable函数还有没发挥作用。这个校验还是始终返回True。

[code]

[2021-09-07 11:08] shinytang6 commented on #1725
能描述下你想要的效果不，你这个例子如果 pods 都已经创建出来了，那 CheckTaskMinAvailable 肯定就返回 true 了，每个 task 都满足了 task.minAvailable 的 pods

[2021-09-08 01:23] king-jingxiang commented on #1725
前面贴的那个vj yaml的示例中task1资源是不满足的，task2,task3资源是满足的，但是三个task都设置了minAvailable为1，期望的情况是当存在一个task minAvailable不满足时，也就是task1两个副本都是pending状态下，那么vj也应该是pending状态，然后所有的pod都应该是pending状态。但当前的效果是task2,task3状态running，vj状态running，task1 pending。
原因可能是CheckTaskMinAvailable这个函数当所有pod副本都加入到actual map `map[task1:2 task2:4 task3:4]`，则下面的逻辑始终返回True导致的。

[code]

[2021-09-08 02:11] Thor-wl commented on #1731
/close

[2021-09-08 02:11] #1731 closed

[2021-09-08 03:08] king-jingxiang commented on #1725
我一开始理解错了，CheckTaskMinAvailable函数只是作业的参数检查。我通过修改gang plugin添加task MinAvaliable的检查达到了预期效果，我先临时这么用吧。
[code]
[code]

[2021-09-08 03:26] shinytang6 commented on #1725
这个我认为其实也是应该加上的，之前这块是遗漏了，只对 JobValid 进行了验证，JobReady 和 JobPipelined 没有加上对 task minMember 的判断。
介意提个 PR 吗，如果没时间的话我可以帮忙提个 ）

[2021-09-08 03:46] king-jingxiang commented on #1725
好的，我来提一个PR.

[2021-09-08 10:03] qiankunli opened #1734 "record label `volcano.sh/queue-name: default` on pod"
in grafana dashboard `Volcano Queue View` ，there is a Variables whose name is "queue"

![729C4749-757B-41C3-8FC5-B0B8DF749018](https://user-images.githubusercontent.com/8024725/132489290-e4892c98-5bb4-4c38-9347-aa2464cc004f.png)

for example, panel `Running job` use metric `kube_pod_volcano_container_status_running{job="kube-state-metrics",queue="$queue"}`, label=queue come from pod label `volcano

[2021-09-09 01:51] Thor-wl commented on #1734
/assign @alcorf-mizar Please take a look. THX.

[2021-09-09 02:14] alcorf-mizar commented on #1734
Confused account. @alcorj-mizar Please take a look.

[2021-09-09 04:17] #1410 closed

[2021-09-09 09:35] hwdef opened #1736 "If maxRetry is set to 1, the vcjob will not complete."
**What happened**:

I run a vcjob, set `maxRetry` to 1, when pod is complete, the vcjob will not complete, vcjob will always be in the completing state.

**What you expected to happen**:

The job is in a completed state

**How to reproduce it (as minimally and precisely as possible)**:

1. set `maxRetry` to 1.
2. run vcjob

**Anything else we need to know?**:

vcjob
[code]

![图片](https://user-imag

[2021-09-09 11:30] #863 closed

[2021-09-09 11:38] fleeto opened #1737 "The queue had been turned to Unknown status"
**What happened**:  I'd closed it and delete a pending job in it, then the queue will be 'Unknown'

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

A script like that:

[code]

**Anything else we need to know?**:

**Environment**:
- Volcano Version:

[code]

- Kubernetes version (use `kubectl version`): 1.19.14
- Cloud provider or hardware confi

[2021-09-09 11:42] k82cn commented on #863
/open

[2021-09-10 01:12] Thor-wl commented on #1737
/assign @Thor-wl

[2021-09-10 01:13] Thor-wl commented on #1736
/assign @Thor-wl

[2021-09-10 07:19] #1196 closed

[2021-09-10 10:10] qiankunli opened #1739 "support record Legency reason"
![image](https://user-images.githubusercontent.com/8024725/132837791-2147867e-0356-4c1f-9ffa-76e5d5a005ee.png)

上图k8s event ，有特定的几个类型，将每个类型的event 个数记录下来，那么一些错误的event 很多的话，就说明集群出问题了。
我这两天 的工作是分析 volcano pg调度延迟（从pg创建到所有pod可以执行），发现总有一些任务调度延迟超过8分钟，要仔细分析他们的原因。一般来说，pod或pg 不能开始的原因就那几个：内存不够，gpu不够等，如果每个原因作为一个metric 或metric的label，每次发生这些原因就加1，就可以方便的查看pg延迟的主要原因，进而做出决策。

[2021-09-11 03:28] william-wang opened #1740 "Optimize the throughput of scheduler"
#### What would you like to be added:
Optimize the scheduler throughput for high performance workload.

#### Why is this needed:
As more and more high performance workload are migrating to kubernetes. Current throughtput of scheduler can not meet throughput requirement for large scale job submitting scenario.

[2021-09-11 08:10] #1417 closed

[2021-09-13 07:35] Thor-wl commented on #1609
/close

[2021-09-13 07:35] #1609 closed

[2021-09-13 08:07] Thor-wl opened #1744 "[help wanted]supply technical materials about job plugins include scenario, design and usage."
#### What would you like to be added:
Currently, there are few materials about job plugins(ssh/env/svc) such as scenarios, design and usages, expecially about the available parameters in these plugins.
#### Why is this needed:
We've got a lot of feedback about how to use the job plugins.

[2021-09-13 08:16] Thor-wl commented on #1739
关于延时分析，可以提供系统的设计和说明文档吗

[2021-09-13 08:42] #1415 closed

[2021-09-13 09:46] Thor-wl commented on #1736
This bug is introduced by https://github.com/volcano-sh/volcano/pull/1719. The logic about last retry is not robust. Let me fix it.

[2021-09-13 10:47] qiankunli commented on #1739
首先是梳理 无法为pod/task/job 分配node 的原因。假设有一个metric，label包含 reason,jobName,queueName，count类型。
allocate.go 里有许多原因导致一个task 无法bind node，进而ignore，此时task 处理逻辑 提前结束时，直接metric count加1。
这样应该可以做整体、queue维度、全局维度的延迟原因分析了。

[2021-09-13 11:55] Thor-wl commented on #1737
I've tried to reproduce it and got something different but still not correct. When I executed to close the queue, it kept `closing`. After I deleted the vcjob, the queue turned to be `closed`. I will tried to fix it.

[2021-09-15 02:20] william-wang commented on #1664
It's a configuration issue. Let's close it.

[2021-09-15 02:20] #1664 closed

[2021-09-15 02:28] #1736 closed

[2021-09-15 07:30] dipanjank opened #1748 "Reclaim Action does not evict Pod with HDRF when cluster is full"
**What happened**:

I am getting this issue in our spark integration work with Volcano where I have 2 queues, test1 and test2 with hierarchy weights 100/50 and 100/50.

* First I submit a Volcano Job for the spark driver (spark-driver-1) with resource request of 1 CPU + 1G. memory.
* Then a Volcano Job for the executor (spark-executor-1) with resource request of 8 replicas,  1CPU + 1G memory each.

[2021-09-15 07:34] shinytang6 opened #1749 "Request to support more NUMA alignment features"
#### What would you like to be added:
Currently we supported cpu numa alignment in volcano, k8s has already supported memory alignment and PCI devices alignment in version 1.22, it will be great to complement these features in volcano )

ref: https://kubernetes.io/blog/2021/08/11/kubernetes-1-22-feature-memory-manager-moves-to-beta/

sub tasks

- [x] CPU NUMA alignment
- [ ] Memory NUMA alignment

[2021-09-15 07:41] Thor-wl commented on #1720
Thanks for your report. I reproduced the phenomenon and preempt action did not work. I'll try to fix it.

[2021-09-15 08:02] HecarimV opened #1750 "Request to add run begin/end time for vcjob"
#### What would you like to be added:
I want to get the run beginTime and endTime of the vcjob.
Maybe we can add these info into job annotations like this:
[code]

#### Why is this needed:
Sometimes we need to check the actual running time, but not just simply creationTimestamp or deletionTimestamp.

[2021-09-15 08:16] shinytang6 commented on #1750
+1, l think these fields should be added to crd definitions of `Job.Status`

[2021-09-15 08:31] HecarimV commented on #1750
yeah!  It's more appropriate to put it in the status field.
Both approaches are acceptable

[2021-09-15 09:06] zuoshaoyi opened #1751 "nodeorder.go may cause scheduler block"
**What happened**:
I read nodeorder.go i found some chan bug , like this code, the errCh length is one,when exceed one goroutinue  score err, score err goroutinue will be blocked.

[code]

**What you expected to happen**:
use select & default code block when send errCh , like this code

[code]

**Anything else we need to know?**:

**Environment**:
- Volcano Version: release-1.4

[2021-09-15 09:40] Thor-wl commented on #1750
I agree with that, too. It's also useful for monitoring.

[2021-09-15 09:44] Thor-wl commented on #1749
/cc @huone1 @william-wang

[2021-09-15 09:45] Thor-wl commented on #1748
Thanks for your report. I'll try to reproduce it.
/assign @Thor-wl

[2021-09-16 02:56] Thor-wl commented on #1720
The root reason is that the plugins(`priority` and `prorition`) in the scheduler configurations contains no `JobStarving` function, which is only contained in `gang` and `tdm` plugins. So `preempt` action can not pick out jobs which are potential high prority jobs. You can add  `gang` plugin into configuration and have a try again.

[2021-09-16 03:35] Thor-wl commented on #1720
I think it is not so reasonable to bind `gang` plugin with `JobStarving` function. If users don't need to use `gang`, he/she can also use `preempt` action with just `priority` plugin.

[2021-09-16 03:45] Thor-wl commented on #1720
/cc @wpeng102 Are there some bug fixes for this scenario?

[2021-09-16 03:49] william-wang commented on #1720
'JobStarving' function should be implemented in priority as well.

[2021-09-16 07:04] Thor-wl commented on #1091
As what I tested with master branch, preemt action works well.

[2021-09-16 11:19] k82cn commented on #1750
Can we add this to job status?

[2021-09-16 15:52] zen-xu opened #1753 "Task occurs `OutOfCpu` again"
**What happened**:
Lot tasks occur `OutOfCpu` again

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I found the log will print many errors like

[code]

And I found the scheduler will only print this error rather than handle it.

https://github.com/volcano-sh/volcano/blob/fe5fb6bc35135dec74ae15d08f747d123355e

[2021-09-17 01:15] Thor-wl commented on #1335
After https://github.com/volcano-sh/volcano/issues/1567 has been fixed, pod antiAffinity should work. Please have a try.

[2021-09-17 02:48] HecarimV commented on #1750
I think it's ok to add this to job status.

[2021-09-17 02:48] HecarimV commented on #1750
I think it's ok to add this to job status.

[2021-09-17 02:56] shinytang6 commented on #1750
@HecarimV Do you have time or are you interested in helping with this ?

[2021-09-17 03:04] HecarimV commented on #1750
I'm ok to work on it :)

[2021-09-17 06:51] Thor-wl commented on #1744
/assign @renhuanyu

[2021-09-18 02:14] Thor-wl commented on #1720
How about have a test with master branch and the following configuration:
[code]
As what I tested, it works well. @Robert-Christensen-visa

[2021-09-18 09:34] zhiyxu commented on #1720
Hello @Thor-wl the preempt action still doesn't work using default scheduling config, and I found following logs:
[code]
The preempt stopped due to the `gang` plugin implement `preemptableFn` func and it says, once preempting victim breaks gang scheduling policy, it would stopped.

I think it's unreasonable to consider gang scheduling when preempting, the custom only want to preempt due to priorit

[2021-09-21 19:50] Jeffwan opened #1755 "TaskMinAvaliable is not honored in gang scheduling"
**What happened**:

I am trying to see what's the right behavior of `minAvailable` and `task.minAvailable`?

I feel TaskMinAvaliable is not honored here.

1. When scheduler calculates gang, if job level `minAvailable` < `sum(task.minAvailable)`, like <job 3, t1, 2, t2 2,>  I assume it should use maximum which is sum(task.minAvailable) as the condition in gang scheduling. in this example, it's 4 (2

[2021-09-22 01:14] Thor-wl commented on #1755
/cc @shinytang6

[2021-09-22 01:28] Thor-wl commented on #1461
/close

[2021-09-22 01:28] #1461 closed

[2021-09-22 01:31] Thor-wl commented on #1720
Yes, the comments above from @william-wang and me also think so. We will separate preemtion from gang scheduling.

[2021-09-22 02:32] zishen opened #1756 "cespare should update to v2.1.2"
**What happened**:

When imported and build with -buildmode=plugin or anything use dynamic link, go will throw

when dynamic linking, R15 is clobbered by a global variable access and is used here:
[cespare:54](https://github.com/cespare/xxhash/issues/54)

And k8s also accepted [k8s:105133](https://github.com/kubernetes/kubernetes/issues/105133),[k8s:105142](https://github.com/kubernetes/kubernetes

[2021-09-22 08:44] k82cn commented on #1720
let's have a new plugin for starving :)

[2021-09-22 09:22] shinytang6 commented on #1755
@Jeffwan Thanks for your report! I will try to explain it:
1. Currently, the default value of task minAvailable is equal to task replicas. Before the introduction of this feature, users only used job minAvailable. In order to maintain compatibility(only job minAvailable is set but not task minAvailable), `if job.MinAvailable < sumof(task minAvailable) {return true}` this judgment is made. If users

[2021-09-22 18:07] Jeffwan commented on #1755
@shinytang6 Thanks for the explanation.

Yeah, that makes sense. Currently task minAvailable are automatically populated which makes user think they are part of required fields in PodGroup. Technically speaking, it's better to make it optional and jobInfo cache building should not rely on it. But I understand there's compatibility issue at this moment, it's ok

Yeah, I feel the gang of PodGroups (

[2021-09-23 01:22] Thor-wl commented on #1486
The comparision is updated and please take a test again. THX.

[2021-09-23 01:26] #1720 closed

[2021-09-23 02:34] Thor-wl commented on #1495
Please make sure the yaml you provided is formated. As what I test, it is not correct.

[2021-09-23 02:48] Thor-wl commented on #1495
BTW, I've tested a case with configmap and everything goes well.
[code]
[code]

[2021-09-23 02:48] Thor-wl commented on #1495
/close

[2021-09-23 02:48] #1495 closed

[2021-09-23 03:23] Thor-wl commented on #1601
/close

[2021-09-23 03:24] #1601 closed

[2021-09-23 03:26] Thor-wl commented on #1600
/close

[2021-09-23 03:26] #1600 closed

[2021-09-23 03:39] Thor-wl commented on #1695
/close

[2021-09-23 03:39] #1695 closed

[2021-09-23 09:00] Tammy-kunyu opened #1758 "Use Argo Workflow to integrate Volcano Job"
#### What would you like to be added:
 maybe note this clearly after installing argo：kubectl edit role argo-role -n argo
[code]

#### Why is this needed:
  when I fellow the page of https://github.com/volcano-sh/volcano/blob/master/example/integrations/argo/README.md said to create Volcano Job by Argo Workflow, there has a bug that **Failed node volcano-job99th9: Error (exit code 1): Error from se

[2021-09-23 10:53] zhiyxu opened #1759 "Cluster resource failed to rebalance by weight between queues"
**What happened**:
There is a cluster with 4 nodes and total allocatable resource `aliyun.com/gpu-count=19`, 2 queues are created in cluster, with `reclaimable=true` and `weight=1`
[code]

Then 3 volcano jobs created in test queue and running well:
[code]

Then a volcano job create in default queue:

[code]

Finally the pod in default queue stuck in Pending statue:
[code]

**What you expected to h

[2021-09-27 11:50] fferrann opened #1761 "Cromwell workflows not working"
**What happened**: Volcano (vcctl) only accepts .yaml file format as input for creating jobs. Cromwell outputs bash script files which aren't accepted by vcctl.

**What you expected to happen**: Volcano to accept Cromwell output's as input format (i.e. bash script) as per the documentation here https://github.com/broadinstitute/cromwell/blob/develop/docs/backends/Volcano.md

**How to reproduce it

[2021-09-27 12:16] k82cn commented on #1761
/cc @Thor-wl

[2021-09-28 02:15] huone1 opened #1763 "request to provide a interface to submit the pod numa allocation to kubelet"
#### What would you like to be added:
I hope volcano can provide a interface to submit the pod numa allocation to kubelet
#### Why is this needed:
if I  create a custom plugin about numa-scheduling, I hope submit the nuam result  to kubelet for more numa scenarios.

[2021-09-28 02:53] huone1 commented on #1763
/cc @huone1

[2021-09-28 20:15] d4l3k opened #1765 "non-existant image causes job to wait indefinitely in "Pending" status instead of fast failing"
**What happened**:

Launched a job with an invalid image and it hangs forever in Running with the workers in ImagePullBackOff.

[code]

[code]

[code]

**What you expected to happen**:

It should try a fixed number of times and then fail the job instead of waiting indefinitely. Adding a new field to configure this or event type would be ideal.

**How to reproduce it (as minimally and precisely as

[2021-09-29 04:28] bug-developer021 commented on #1695
你好！请问您怎么解决的？ 我也面临类似的问题，pytorch operator目前好像只支持`scheduling.incubator.k8s.io`，所以不得不转向volcano v0.3，但是volcano v0.3在1.20版本的k8s集群上无法成功部署。

[2021-09-29 23:19] Robert-Christensen-visa commented on #1759
Hi @zhiyxu Your scheduler configuration does not have the `reclaim` action.  From what I understand, `reclaim` is used to rebalance resources between queues and `preempt` is used to move resources within a queue.  Without `reclaim` it will not consider rebalancing resources between the queues.  Even though you have set the queue to be reclaimable when the queue was created, if `reclaim` action is

[2021-09-30 01:13] menglong21 opened #1768 "There are duplicate entries in docs/design/custom-plugin.md"
**What happened**:
There are duplicate entries in docs/design/custom-plugin.md

4. Add plugins into container
4. Specify deployment

**Environment**:
- Volcano Version:latest

[2021-09-30 01:58] jinzhejz commented on #1765
/cc @jinzhejz

[2021-09-30 02:59] Thor-wl commented on #1768
/cc @zen-xu

[2021-09-30 09:15] jinzhejz commented on #1765
I can not reproduce this issue, could you provide more details? Here is my step:

1. a job with an invalid docker image, `batch-job.yaml`
[code]

2. create volcano job
[code]

3. check volcano job status, it is pending
[code]

[code]

[code]

[code]

4. Environment:

* Volcano Version: 1.4.0
* Kubernetes version (use kubectl version): Server Version: version.Info{Major:"1", Minor:"19+", GitVersion

[2021-09-30 21:36] d4l3k commented on #1765
Sorry if the initial description isn't clear. What you described in your repro steps is exactly the issue. The jobs are listed as "pending" indefinitely instead of fast failing with a non-existent image error.

For our jobs if the image doesn't exist at creation time it's not going to be created later so we just want to fail and throw an error to the user about it. Should either mark it as failed

[2021-09-30 22:35] Robert-Christensen-visa opened #1772 "Preemption not working with proportion plugin when queue is full"
**What happened**:

Low-priority jobs will not be preempted by pending high-priority jobs when the proportion plugin is used and the queue is full.

**What you expected to happen**:

If a high-priority job is submitted to a queue and all resources are used, I would expect volcano to terminate a low-priority running job to make room for the high-priority job to run.  If the resources are limited by

[2021-10-03 17:15] #1241 closed

[2021-10-03 17:15] #1135 closed

[2021-10-03 17:15] #1097 closed

[2021-10-03 17:15] #988 closed

[2021-10-04 07:29] dipanjank opened #1774 "Volcano Monitoring: startup error in parsing Grafana dashboard config"
**What happened**:

I installed Prometheus & Grafana from ``installer/volcano-monitoring-latest.yaml`` . There is an error in the Grafana container logs (see below) which prevents loading the pre-created global view dashboard.

**What you expected to happen**:

Grafana should be able to show the global view dashboard on startup.

**How to reproduce it (as minimally and precisely as possible)**:

*

[2021-10-04 18:46] #1455 closed

[2021-10-05 10:04] dipanjank commented on #1774
Thank you for accepting my PR, I will close the issue now.

[2021-10-05 10:04] #1774 closed

[2021-10-08 14:36] regadas opened #1775 "scheduling with update from v1.2.0 to v1.4.0"
**What happened**:

volcano update from 1.2.0 to 1.4.0. With the newest version if there are not enough resources `PodGroup`s are kept in `Pending` phase and cluster autoscaler does not trigger to provision more resources.

Did I miss smth in the latest version?

**What you expected to happen**:

I was expecting it to work as in 1.2.0

**How to reproduce it (as minimally and precisely as possible)

[2021-10-08 20:34] d4l3k commented on #1765
Yeah, the native k8s job has the same issue since this behavior is intended for services. For native k8s I assume it's possible to get the individual pod statuses  to check their behavior. For Volcano if you grab the job def it doesn't show the individual k8s pod status but the highlevel status.

Can we get these error statuses propagated to the job status?

Or should we query the pods directly? A

[2021-10-11 07:01] zishen opened #1776 "There are always some nodes in NotReady state, reason: OutOfSync ；when resource Allocatable changed"
**What happened**:
I have the same issue:[1506](https://github.com/volcano-sh/volcano/issues/1506), when the node's resource in fault.
The phenomenon is the same:
Volcano scheduler continually warns:
`"Failed to set node info, phase: NotReady, reason: OutOfSync"`

Different from this issue, the NPU resource Capacity is not changed, but Allocatable do.

**What you expected to happen**:
node sysnyc

[2021-10-12 01:36] william-wang opened #1777 "Add dynamic scheduling and rescheduling functionality based on the usage of node"
#### What would you like to be added:
1. Dynamic scheduling based on the usage of node other than the allocation rate of node.
2. Re-scheduling the pod on node based on the usage to another node to avoid that parts of node are are under or over utilized.

#### Why is this needed:
Currently the pod is scheduled based on the resource request and node allocatable resource other than the node usage. T

[2021-10-12 03:37] #1456 closed

[2021-10-12 07:56] shinytang6 opened #1778 "Webhook intercepts pods creation when podgroup is pending"
**What happened**:

Just report a scene we met, it may not be a bug, but it bothers us for a while, and it seems that no one has reported it.

We are using spark operator + volcano. The situation is that we create a sparkapplication when the cluster is busy. SparkApplication will first create a podgroup and then driver pod, the podgroup is still pending when creating the driver, the creation actio

[2021-10-13 11:50] qiankunli opened #1781 "queue.spec.capability is not work for tfjob"
volcano version: v1.4.0
tf-operator/training-operator version: v1.3.0

I set queue.spec.capability to limit the resource usage of queue,  and it it work for vcjob, but not work for tfjob

[code]
test-nginx-tfjob request 30Gi memory which is bigger than the queue.capability.memory = 10Gi
[code]

[2021-10-14 01:23] #1776 closed

[2021-10-14 01:24] zishen commented on #1776
have get reason[1289](https://github.com/volcano-sh/volcano/issues/1289)，
thanks @Lion-Wei

[2021-10-14 02:43] shinytang6 commented on #1781
what's the status of podgroup in both cases?

[2021-10-14 09:46] zhiyuone opened #1782 "gpu error occur, cause scheduling to the wrong node"
**What happened**:
After pod scheduled, it create fail.
[code]
**What you expected to happen**:
Pod Shouldn't schedule to this Node.

**How to reproduce it (as minimally and precisely as possible)**:
1. Node with 4 GPU
[code]
2. Start Pod With 4 GPU in this Node.
3. One GPU error detect by device-plugin, then.
[code]
4. Start Volcano Scheduler now.
5. Create Pod With 1 GPU.
6. Pod scheduled to thi

[2021-10-14 12:00] igormishsky opened #1784 "vcctl should work with oidc clusters"
#### What would you like to be added:

I will like to add support to vcctl such that also clusters that use oidc authentication will work.

#### Why is this needed:
Currently vcctl can only use .kube/config configuration cannot be used on oidc defined cluster.
We use multiply cluster all with oidc authentication and the cli cannot not be used locally from our terminal.

[2021-10-15 02:01] #1750 closed

[2021-10-15 03:39] Thor-wl opened #1785 "Request for a complete introduction about how to configure ties and plugins"
As a lot of feedback, some users have no idea about how to configure `ties` and `plugins` in the scheduler configuration to match their scenarios. They have to take a deep understanding of the code logic. It's not so reasonable. So we shoud add the following items to the user guidence as well as official website:
* Introductions about `tie` and `plugins`
* How to organize different plugins into on

[2021-10-15 04:19] kenoung opened #1786 "Inconsistency in fetching task label in task topology plugin"
**What happened**:
The task topology plugin is inconsistent when fetching task label for managing task affinity.

When trying to validate the affinity strings provided e.g. "ps", we check that there exists a task such that the [second last segment of its name](https://github.com/volcano-sh/volcano/blob/a7ecd08f1b3e624cbc9a3554043d9393c6aad55b/pkg/scheduler/plugins/task-topology/topology.go#L248-L2

[2021-10-15 06:48] dotiiiian opened #1787 "When installing volcano by “./hack/local-up-volcano.sh” , an error is reported No such image: volcanosh/vc-controller-manager:b0e803d8cbb120d9951f2ad24dc1f9d9769f05d7"
<!-- This form is for bug reports ONLY!

If you're looking for a help then check our [Slack Channel](https://cloud-native.slack.com/messages/volcano) or have a look at our [dev mailing](https://groups.google.com/forum/#!forum/volcano-sh)

**What happened**:When installing volcano by “./hack/local-up-volcano.sh” , an error is reported：

Makefile:78: recipe for target 'image_bins' failed
make: *** [

[2021-10-15 08:39] dipanjank opened #1789 "Add livenessProbe and readinessProbe for Grafana"
#### What would you like to be added:

Add livenessProbe and readinessProbe in Grafana container configuration (Volcano Helm chart)

#### Why is this needed:

Without these settings, the load balancer on cloud platforms (such as GKE) do not redirect traffic to the container as the container are never considered healthy.

PR for the above: https://github.com/volcano-sh/volcano/pull/1788

[2021-10-15 08:59] Thor-wl commented on #1787
Can you provide your volcano version?

[2021-10-15 09:15] kenoung opened #1791 "Higher priority jobs are preempted by lower priority jobs in certain plugin configurations"
**What happened**:
After upgrading from volcano v1.2 to v1.4, we found that some of our higher priority jobs were getting preempted by jobs of the same priority, or even those of lower priority.

**What you expected to happen**:
Jobs of the same priority or lower priority should not get preempted.

**How to reproduce it (as minimally and precisely as possible)**:
Added test in [pull request](https

[2021-10-16 06:50] #1049 closed

[2021-10-16 08:33] #1789 closed, assigned to nobody

[2021-10-16 15:42] #1479 closed

[2021-10-16 15:54] dotiiiian commented on #1787
volcano1.4.0 k8s1.21.3  ubuntu20.04 golang1.16.6

[2021-10-18 08:12] #1310 closed

[2021-10-19 01:32] Thor-wl commented on #1596
/close

[2021-10-19 01:32] #1596 closed

[2021-10-19 07:17] zishen opened #1798 "spf13/cobra is too old to use, need update."
What happened:

Active reliance on software is too old. github.com/spf13/cobra v1.0.0 is publish on 20 Oct 2019, and newest is v1.2.1
 [cobra/blob](https://github.com/spf13/cobra/blob/v1.0.0/go.sum)

Environment:

[code]

[2021-10-20 04:25] marffin commented on #1798
Hi @zishen , I'd like to take this issue.

[2021-10-20 09:26] brucexyz1234 opened #1803 "Dynamic/Realtime Online Changeable Scheduling policy/config"
#### What would you like to be added:

Dynamic/Realtime Online Changeable Scheduling policy/config

#### Why is this needed:

As cluster admin,  there mybe cases that need to change the scheduing config frequently. below is one case:

when my cluster resource allocation is below 40%, I wish I can set the volcano scheduling config to average, therefor, the workload can get best resource QOS.
when I

[2021-10-20 10:07] brucexyz1234 opened #1804 "Volcano Metrics and Exporter"
#### What would you like to be added:

Volcano Metrics and Exporter

#### Why is this needed:
as cluster admin, I want I can monitor the volcano metrics and dashboards in Prometheus, therefor Volcano metrics and exporter is needed, better we have provided grafana dashboard

[2021-10-22 06:31] zhiyuone opened #1807 "Whether the queue is considered to add absolute value parameters to cooperate with the proportion"
#### What would you like to be added:
add min resource for `Queue.Spec`.
such as `MinResource v1.ResourceList`.
It is a soft limit, unused resources can be used by other queues, but must be returned when used(same as queue.deserved), calculate the proportion when the minimum resources are satisfy.
#### Why is this needed:

We have `4 cpu` and `1 gpu`, and two queue (`q1`, `q2`), then we want `q1`

[2021-10-24 14:42] hwdef opened #1808 "support modify the priorityClass of vcjob"
#### What would you like to be added:

Support to modify the priorityClass of vcjob in queue.

#### Why is this needed:

Provide the ability to insert a queue by modifying the priorityClass.

[2021-10-25 06:21] silenceli opened #1810 "Job-scale-up-down.PNG file in job-scale-up-down.md is not correct"
![image](https://user-images.githubusercontent.com/1579708/138644358-aafa2f6b-e534-4de6-81a2-d2f3f3f9ac30.png)

![image](https://user-images.githubusercontent.com/1579708/138644393-01364437-6594-47d6-8d82-aaaa6fa9094e.png)

[2021-10-26 01:42] #1810 closed, assigned to hzxuzhonghu

[2021-10-27 04:49] summerisc opened #1812 "Error while running MPI example on volcano"
New to volcano, while I try to run the MPI example using the official example from the repo here:https://volcano.sh/en/docs/mpi_on_volcano/. It shows error message like this
![Screen Shot 2021-10-27 at 12 48 39 PM](https://user-images.githubusercontent.com/21230663/139001705-79c5d6d0-5887-405a-8dc1-a214fbd1c783.png)
[code]
Any chance anyone else see this before? Thanks

[2021-10-28 03:43] hudson741 opened #1813 "ERROR FailedMount when scheduler with storageClassName"
**What happened**:
with this statefulset yaml applyed .and not work.

[code]

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- v1.0
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel

[2021-10-28 05:57] #1812 closed, assigned to nobody

[2021-10-28 08:02] #1784 closed, assigned to nobody

[2021-10-28 10:11] #1813 closed, assigned to nobody

[2021-10-29 08:17] summerisc opened #1815 "Recommended way to combine with vGPU plugin"
I am considering adopting vGPU plugin(so that GPU can be cut into smaller pieces to let more engineers using one card at the same time) and combine that with volcano so that it can schedule resources like GPU and CPU.

Not sure if it's a common use case or if anyone faces the same siautation or can provide a recommended way to combine both resource scheduling + gpu virtualization at the same time.

[2021-10-30 00:44] k82cn commented on #1815
which vGPU are you refering ? AFAIK, volcano can work well in that scenario :)

[2021-10-30 05:13] william-wang commented on #1560
I have completed the migration.

[2021-10-30 05:13] #1560 closed

[2021-10-31 13:00] #1798 closed

[2021-11-01 01:27] Thor-wl commented on #1807
OK. Reserving resource for specified queue is common scenario and we got some feedback.  I think https://github.com/volcano-sh/volcano/pull/1771 is what you want. Pls take a look.

[2021-11-01 01:31] Thor-wl commented on #1775
Well, pls give more details about your testing steps so that I can reproduce it. THX.

[2021-11-01 05:21] summerisc commented on #1815
I am referring specifically to a case like GPU sharing, so each task can allocate a portion of GPU instead of a whole GPU card. It seems volcano has a device plugin but does not have the GPU sharing feature? So just looking into other plugins to work with volcano together.

[2021-11-01 09:36] Thor-wl commented on #871
@assign @silenceli

[2021-11-01 11:45] summerisc opened #1816 "Properly use task topology plugin"
Task topology seems not working well here
![Screen Shot 2021-11-01 at 7 42 19 PM](https://user-images.githubusercontent.com/21230663/139666325-0ee3bb8e-fda3-483d-a38c-3eaf10f76437.png)
with this anti topology here, these 3 pods should assign to 3 different nodes(the cluster have more than 3 nodes) but it turns out it got assigned to one same node. Did I use the plugin in the wrong way?

[2021-11-02 03:25] #1816 closed

[2021-11-02 10:39] eggiter opened #1818 "The `Lost of GPUs` problem has not been resolved completely"
**What happened**:
1. Allocatable GPU of `node1` is now 6;
2. Create pod `pod1` requests 6 GPUs;
3. Volcano successfully schedules pod `pod1` to node `node1`;
4. However, Pod turned to `Failed` because of `UnexpectedAdmissionError`;

**What you expected to happen**:
+ `node1` should not be scheduled any other pods;

**How to reproduce it (as minimally and precisely as possible)**:
1. `node1` has 8

[2021-11-02 10:41] eggiter commented on #1818
/assign @k82cn @Thor-wl @hwdef @zhiyuone

[2021-11-02 10:48] zhiyuone commented on #1818
#1783 not in v1.3.0,  can you can try master branch?

[2021-11-02 10:51] eggiter commented on #1818
- updated, the lasted version(commit) of volcano is used.
- BTW, #1819 is a possible fix to this.

[2021-11-02 21:36] d4l3k commented on #1665
@Thor-wl is 1.22 supported? v1.4.0 has been released but the repro steps above still don't work.

[code]

[2021-11-03 01:15] Thor-wl commented on #1665
Not yet. I'm working on hierarchical queue recently. Will do that later.

[2021-11-03 05:24] summerisc commented on #1804
tried with provided grafana but missing Volcano Overview Dashboard, only got these two boards:
![Screen Shot 2021-11-03 at 1 23 40 PM](https://user-images.githubusercontent.com/21230663/140013321-a0b924b2-1cc3-4209-83a5-60523f1deb5f.png)
missing something here? thx

[2021-11-04 01:14] Thor-wl commented on #1804
/cc @alcorj-mizar Pls take a look? THX.

[2021-11-04 09:50] #1348 closed

[2021-11-04 10:33] swartz-k opened #1822 "More friendly and adjustable chart!"
[code]
#### What would you like to be added:
When I use `helm` install latest helm chart in `master` branch got errors. As using `1.22.x` kubernetes and existing prometheus I have to edit those chart file. Maybe making those components such as `grafana`、`promethues` be adjustable in `values.yaml` will be nice

#### Why is this needed:

I think a more friendly and adjustable chart will be nice for

[2021-11-04 10:38] swartz-k commented on #1822
And same error in previous issue.
[code]

[2021-11-04 11:06] swartz-k commented on #1822
Change to `basic.crd_version` to `v1` will solve CRD error.

[2021-11-05 04:34] william-wang commented on #1822
Thank you for reporting the issue.  We will fix the issue.

[2021-11-05 19:43] #985 closed

[2021-11-09 07:39] summerisc commented on #1181
saw this got reopened, any plan to support assign multiple GPU from one node to a pod?

[2021-11-10 01:32] Yikun opened #1825 "Add volcano support on kubernetes-client (Java client)"
#### What would you like to be added:
There was no java/scala client of Volcano. It would be a little bit difficult to integrate volcano in projects which were writen by java/scala, like Apache Spark, Apache Flink.

There are a simple way, we could use [kubernetes-client](https://github.com/fabric8io/kubernetes-client/) , and add the volcano support on [1].

Note that: there were some comments on

[2021-11-10 01:53] william-wang commented on #1825
It's great that we can add Volcano support in kubernetes-client with an extension way. This java client can be reused in spark and flink integration with Volcano.

[2021-11-10 13:07] zrss opened #1826 "volcano-job-client ?"
#### What would you like to be added:

mad thing ... import volcano should replace so much k8s lib

go.mod

[code]

#### Why is this needed:

.. but i only want to use the volcano job crd client ... is there any helper client

[2021-11-10 14:28] #1463 closed

[2021-11-10 15:23] Yikun commented on #1826
I guess what you wanted is https://github.com/volcano-sh/apis/blob/master/pkg/apis/batch/v1alpha1/job.go .

[2021-11-10 23:00] k82cn commented on #1826
try https://github.com/volcano-sh/apis :)

[2021-11-11 01:37] zrss commented on #1826
many thanks ~

[2021-11-11 01:41] #1826 closed

[2021-11-11 02:49] Thor-wl commented on #1661
BTW, Have you copied the incorrect yaml? The weight of `big queue` should be **100** instead of **1**. The yaml you provided is as follows.
[code]

[2021-11-11 06:18] veast opened #1827 "k8S default scheduler and volcano are used at the same time, will there be conflicts in some scenes ？"
Hi! We want to use Volcano for some jobs and K8S default scheduler for some other jobs. May this cause problems? For example, when the scheduler selects nodes at the same time?

[2021-11-11 06:34] william-wang commented on #1661
@Thor-wl Have you reproduced this issue in your environment?

[2021-11-11 06:46] shinytang6 commented on #1827
You can refer to https://github.com/volcano-sh/volcano/blob/master/docs/design/multi-scheduler.md and have a try, it can help you automatically divide resources.

However, each scheduler still has global cache, which l think there will be problems when using some volcano features such like queues.

[2021-11-11 08:50] Yikun commented on #1825
The PR is ready for review: https://github.com/fabric8io/kubernetes-client/pull/3580

[2021-11-11 11:15] Yikun commented on #1825
Note that, this PR is the first PR to cover scheduling v1beta1 API, and I will propose the separate PR to cover `batch/v1alpha1`, `bus/v1alpha1`, `nodeinfo/v1alpha1`.

[2021-11-11 15:55] Jonathanbenilan commented on #1519
Hello,
Seems to be related but I can open a new ticket if not.
MaxRetry=-1 should give  unlimted retries until job success or is cancel. Same with MaxRetry=0.
But it will always end after 7 retries.

Let me know if you want more detail.

[2021-11-12 00:49] k82cn commented on #1827
That'll help ! And suggest to schedule system daemon by default scheduler and scheduler business workload by volcano :)

We should add node selector for volcano :)

[2021-11-12 00:52] k82cn commented on #1827
xref: https://github.com/volcano-sh/volcano/pull/1821

[2021-11-12 02:48] Thor-wl commented on #1827
Let me fix it.
/assign @Thor-wl

[2021-11-12 03:08] Thor-wl opened #1830 "support maping queue to node group"
#### What would you like to be added:
Different queues maps to different nodes for specified funcitons.
#### Why is this needed:
According to feedback from end users, they often want to divide the whole cluster into many parts. Each part maps to a specified function(such as online service or off-line training) and requires part of nodes. Namely, they create different queues and want them to map to

[2021-11-12 03:08] Thor-wl commented on #1830
I'll try to implement that.

[2021-11-12 03:16] Thor-wl commented on #1519
Suggest to give more details include reproduce steps and environment. It works normally ever.

[2021-11-12 03:26] #1542 closed

[2021-11-12 11:13] k82cn commented on #1830
and it's better to have a CRD as resource pool, so we know how many nodes will be used in one queue :)

[2021-11-12 16:09] Robert-Christensen-visa commented on #1661
@Thor-wl I am testing locally to make sure I understand how it works and if it fulfills my needs before deploying on a multi-node cluster.  The 12CPU and 8G memory is a single node kubernetes cluster.

If I change the weight of `big-queue` to 100 the results are the same.  Also, I thought `hdrf` ignores `spec["weight"]` and only uses the value in `metadata["annotations"]["volcano.sh/hierarchy-weig

[2021-11-14 03:29] veast commented on #1827
Thanks for reply! But in my case, it may be a little different from the document.
Actually, I want to use the Volcano in gray mode to avoid uncontrollable problems firstly. Therefore, I can't devide the cluster resource.
So in this case, are there possible conflicts when volcano and default-scheduler are used at the same time?

[2021-11-14 03:35] veast commented on #1827
Perhaps you can tell me what the impact of the conflict may be, and we can assess it.

[2021-11-14 14:35] #1171 closed

[2021-11-14 14:35] #1538 closed

[2021-11-15 03:26] Thor-wl commented on #1827
In some scenarios, one node with just a little resource may be selected both by Volcano and default scheduler at the same time. For example, Volcano and default scheduler are scheduling a pod requesting 2G memory at the same time. A node with 2G idle memory is selected both by the two schedulers. One of the pod must be rejected by kubelet.

[2021-11-15 07:33] veast commented on #1827
Got it! Thanks a lot :)

[2021-11-15 08:54] Thor-wl commented on #1827
@veast BTW, I don't suggest to make use of multiple schedulers in one cluster. It may brings more problems after resolving one problem.

[2021-11-15 09:07] veast commented on #1827
OK, it will only last for a few days. Thanks for the heads up.

[2021-11-15 12:53] #1759 closed

[2021-11-15 14:06] zrss commented on #1650
+1

[2021-11-16 01:29] Thor-wl commented on #1830
Does it aims to separate node group with specfied queue?

[2021-11-16 01:40] Thor-wl commented on #1827
/close

[2021-11-16 01:40] #1827 closed

[2021-11-16 02:42] k82cn opened #1832 "Support submit script"
#### What would you like to be added:

Submit a script to volcano as a job , similar to https://slurm.schedmd.com/sbatch.html

#### Why is this needed:

That's easier for the user who does not know k8s much to run a job in cloud native env.

[2021-11-16 02:47] Thor-wl commented on #1832
It is also needed to support this function for Cromwell.

[2021-11-16 05:44] summerisc opened #1835 "Similar feature like ttlSecondsAfterFinished"
What would you like to be added:
A ttl/gc feature which could delete the volcanoJob resource after it's finished.

Why is this needed:
k8s has a mechanism like ttlSecondsAfterFinished, if volcano has something similar, that's very helpful

[2021-11-16 06:02] #1835 closed

[2021-11-16 08:31] SoaringAnecdotalBear opened #1836 "missing numatopologies in yaml for arm64"
**What happened**:
After scheduler running, I noticed that it cannot find numatopologies in cluster. So the scheduler cannot run healthy

**What you expected to happen**:
The scheduler runs healthy

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version: latest
- Kubernetes version (use `kubectl version`): 1.17.3
-

[2021-11-17 00:39] k82cn commented on #1830
Yes, and it's better to have a cli to check the  status of those groups.

[2021-11-17 01:15] Thor-wl commented on #1836
/cc @huone1

[2021-11-17 03:35] Thor-wl commented on #1631
xref: https://github.com/volcano-sh/volcano/pull/1821

[2021-11-17 03:37] Thor-wl commented on #1181
Yes.

[2021-11-17 03:40] Thor-wl commented on #1101
ref: https://github.com/volcano-sh/volcano/pull/1771

[2021-11-17 07:00] justadogistaken commented on #1777
I guess the real-time usage  of application is dynamic. Scheduling job based on real-time usage will improve system throughput no doubt. But I guess such a scheduling strategy (oversell in some way?) will also bring some risks of resource contention

[2021-11-17 07:10] Thor-wl commented on #1777
Yes, I agree with that. IMO, it is suitable for scenarios such as mix deplpyment of online services and off-line jobs. That means it is reasonable to evict some off-line jobs when oversell works not so accurately.

[2021-11-17 08:10] k82cn commented on #1777
There're two scenarios for William's proposal: 1. avoid 100% cpu usage, 2. oversubscription; for this issue, prefer to handle the first scenario.

[2021-11-17 08:47] justadogistaken commented on #1777
I think it's going to be a huge job more than volcano should/can do. Maybe volcano can provide some basical abilities. Like predicting node usage(system + online workloads), and the predict algorithm could be the vpa-recommender. And batch job completion time prediction(history records). I guess supprotting such features could help system throughput improvement, and avoid the resource contention a

[2021-11-17 09:10] hudson741 opened #1837 "small bug in gpushare code"
**What happened**:

// RemoveGPUIndexPatch returns the patch removing GPU index
func RemoveGPUIndexPatch() string {
	return fmt.Sprintf(`[{"op": "remove", "path": "/metadata/annotations/%s"},`+
		`{"op": "remove", "path": "/metadata/annotations/%s"]`, escapeJSONPointer(PredicateTime), escapeJSONPointer(GPUIndex))

**What you expected to happen**:

// RemoveGPUIndexPatch returns the patch removing

[2021-11-17 09:10] hudson741 commented on #1837
code in pkg/scheduler/api/pod_info

[2021-11-17 09:24] Thor-wl commented on #1837
@hudson741 Thanks for report! Would you like to submit a PR for that?

[2021-11-17 09:34] Thor-wl commented on #1777
Yes, it's a good idea ever mentioned in the weekly meeting. It should introduce a good AI model to do that. As the interviews ever, some users has made some tests. It is efficient in specified fileds such as face recognition and network flow forcast while it's hard to get a good model in common and complex business. So there still be not a practice for that.

[2021-11-17 09:38] eggiter opened #1838 "Request to be a `Member` of Volcano community"
+ I'm requesting to be a `Member` of Volcano community.
+ My previous contributions are listed as followings:
    - #1668
    - #1672
    - #1685
    - #1714
    - #1716
    - #1724
    - #1726
    - #1818
    - #1819
 + And my future interests include:
    - Scheduling Plugins,
    - Scheduling Actions such as `Preempt` and `Reclaim`, ...,
    - Any other fields related to Scheduling.
 + Pls cons

[2021-11-17 09:39] eggiter commented on #1838
/assign @Thor-wl  @k82cn

[2021-11-17 09:43] Thor-wl commented on #1838
Thanks for your contribution! Welcome to Volcano community!
/approve

[2021-11-17 09:48] hwdef commented on #1838
Welcome!

[2021-11-17 09:50] kevin-wangzefeng commented on #1838
Please visit https://github.com/volcano-sh to accept the invitation.

[2021-11-17 09:52] hwdef commented on #1838
/approve

[2021-11-17 09:58] eggiter commented on #1838
Accepted, Thank you all!

[2021-11-17 10:03] #1838 closed

[2021-11-17 10:07] jasonliu747 commented on #1838
Welcome to the team. Please submit 10 PR/month to mantain your menbership. 😜

[2021-11-17 10:10] Thor-wl commented on #1838
Where is your classical picture which is specified used for welcoming new members?

[2021-11-17 10:14] jasonliu747 commented on #1838
@eggiter Please keep in mind, thanks for your cooperation.
![image](https://user-images.githubusercontent.com/24452340/142181314-88f87581-a59b-4f4c-af48-33bf62d307e9.png)

[2021-11-17 10:22] Thor-wl commented on #1838
Haha...Suggest to mark this picture as the official picture which is only used for welcoming new Volcano members.

[2021-11-17 11:08] xiaoanyunfei opened #1839 "Request to be a Member of Volcano community"
Recently， I began to study volcano and add some PR as follows:

- https://github.com/volcano-sh/volcano/pull/1823

- https://github.com/volcano-sh/volcano/pull/1824

- https://github.com/volcano-sh/apis/pull/58

- https://github.com/volcano-sh/volcano/pull/1828

- https://github.com/volcano-sh/volcano/pull/1829

 - https://github.com/volcano-sh/volcano/pull/1831

The Machine learning platform of `

[2021-11-17 11:15] Thor-wl commented on #1839
Great! Thanks for your contribution recently.
/approve

[2021-11-17 11:24] william-wang commented on #1839
Thanks for your contribution.
/approve

[2021-11-17 11:33] k82cn commented on #1838
/lgtm :)

[2021-11-17 11:33] k82cn commented on #1839
Thanks for the contributions, and welcome :)

/lgtm

[2021-11-17 12:09] eggiter commented on #1838
I'll try my best to achieve that, but i won't promise :P

[2021-11-17 13:17] hwdef commented on #1839
/approve
Thanks!

[2021-11-18 03:27] shinytang6 commented on #1839
![image](https://user-images.githubusercontent.com/22241503/142346097-5ca6b92b-e846-4b92-93a8-4d00bc4108c3.png)

/lgtm
/approve
Welcome 🤪

[2021-11-18 03:28] shinytang6 commented on #1838
/approve
/lgtm

Welcome!

[2021-11-18 06:17] zen-xu commented on #1839
/lgtm
/approve

[2021-11-18 08:12] Thor-wl commented on #1839
/close

[2021-11-18 08:12] #1839 closed

[2021-11-18 13:10] nicklhy commented on #859
Got the same problem. Could you share how you solved this problem ?

[2021-11-19 01:42] Thor-wl commented on #859
/cc @silenceli

[2021-11-19 03:11] hansongChina opened #1840 "Workflow does not support a specified queue"
When creating a type of workflow CRD, annotations to add "scheduling. Volcano. Sh/queue - name: XXX"
Doesn't work

[2021-11-19 07:12] hansongChina commented on #1840
step1:create queue name test
`apiVersion: scheduling.volcano.sh/v1beta1
kind: Queue
metadata:
  name: tesst
spec:
  reclaimable: true
  weight: 1
  capability:
    cpu: "4"
    memory: "4096Mi"`
step2:create workflow
`apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: hello-world
  labels:
    workflows.argoproj.io/workflow:
    workflows.argoproj.io/archive-strategy: "false"
  anno

[2021-11-20 05:05] Thor-wl commented on #1840
/feature
support specified queue for jobs in Argo

[2021-11-20 07:14] Thor-wl commented on #1837
Sorry, I get the point. Let me fix it.

[2021-11-20 13:01] #1837 closed

[2021-11-21 02:48] #1554 closed

[2021-11-21 16:50] #1533 closed

[2021-11-21 16:50] #1473 closed

[2021-11-21 20:27] #1557 closed

[2021-11-22 04:28] mkkb473 opened #1844 "nvidia.com/gpu is not considered by default in binpack scheduler"
#### What would you like to be added:
nvidia.com/gpu should be considered as a default resource, like CPU and memory.
https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/plugins/binpack/binpack.go#L40
And in some GPU related [guide](https://github.com/volcano-sh/volcano/blob/e2230119e322677712ced70c6cba4d8bf1f77561/docs/user-guide/how_to_use_gpu_sharing.md), binpack does not consider G

[2021-11-22 05:59] #1551 closed

[2021-11-22 08:04] Jason-Liu-Dream opened #1845 "scheduler crash when use numa-aware plugin in k8s version 1.21"
**What happened**:
We need use numa-aware plugin, and just build environment refer to NUMA Aware guide. But when we deploy vcjob yaml, the scheduler crash and can not restart.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
![version](https://user-images.githubusercontent.com/12228960/142824884-4ef40b7d-

[2021-11-22 08:48] k82cn commented on #1845
/cc @huone1

[2021-11-22 09:07] Thor-wl commented on #1844
As GPU is kind of heterogeneous equipments, I think it is more suitable to add a parameter to enable to consider GPU for binpack plugin in the scheduler configuration.

[2021-11-22 09:07] Thor-wl commented on #1844
/cc @shinytang6 @william-wang @jasonliu747 @k82cn

[2021-11-22 09:18] shinytang6 commented on #1844
I agree that it should be optional while not default, but of course the usage should be more prominent.

[2021-11-22 09:53] k82cn commented on #1844
yes, and let's improve the doc, log & guidance :)

[2021-11-22 10:39] huone1 commented on #1845
it is fixed in PR #1800

[2021-11-22 11:54] shangjin92 opened #1846 "[Scheduler] Cannot schedule pod to all nodes averagely when running stress job."
**What happened**:
When I run stress test(test/e2e/stress/job.go) in kubernetes, the kubernetes cluster has 6 or more nodes. I modified e2eutil.NumStress value to 1000, I found that the whole pods only run on 4 nodes, the other nodes won't be scheduled to run pod, no matter the cluster has 6 nodes, or 7 nodes, or more.

![schedule_result](https://user-images.githubusercontent.com/7251928/142857661

[2021-11-22 13:56] k82cn commented on #1845
Which release are we going to include this fix?

[2021-11-22 15:27] #1562 closed

[2021-11-23 03:05] Jason-Liu-Dream commented on #1845
We tried it，scheduler can restart when it crash. But first time to commit vcjob，it crash again.  “fatal error: concurrent map writes” maybe the real reason.  refer to above log named volcano_numa.log

[2021-11-23 06:20] Jason-Liu-Dream commented on #1845
Try to fixed this bug： https://github.com/volcano-sh/volcano/pull/1847

[2021-11-23 07:15] k82cn commented on #1845
Great! Let's cherry pick those two issues to 1.4 release :)

[2021-11-23 08:32] #1846 closed

[2021-11-23 20:07] #1518 closed

[2021-11-24 01:42] #1718 closed

[2021-11-24 03:31] justadogistaken commented on #1740
k8s maintains the snapshot in the scheduler, and use generation and double linked list to avoid clone all information every scheduling period. Is that possible in volcano?

[2021-11-24 08:31] aidaizyy opened #1850 "pod cannot be allocated with sufficient resource"
**What happened**:
I found a scheduling problem about proportion, I constructed the environment to reproduce it stably.

My scheduler configuration (default conf):
[code]

My cluster has two node:
[code]

and two queues:
[code]

There are already two jobs:
[code]

Next I am going to submit other jobs:
[code]
But no matter deploy-with-volcano3 or deploy-with-volcano4, it cannot be scheduled.

[code

[2021-11-24 08:33] aidaizyy commented on #1850
I modified the relevant logic about it. The request resources of two queues are satisifed after two cycle.
Scheduler log:
[code]

[2021-11-24 12:58] hansongChina opened #1853 "The podgroup is not deleted after the pod created by Deployment is deleted"
**What happened**:
When changing Deployment triggers the creation of a new ReplicaSet and the pod created by the old ReplicaSet is deleted, the podgroup of the old pod is not deleted

**What you expected to happen**:

the podgroup of the old pod is deleted

**How to reproduce it (as minimally and precisely as possible)**:

- step1:Add the default volcano to pod using admission Webhooks, for exampl

[2021-11-24 12:58] hansongChina commented on #1853
**kind is workflow runs into the same problem**

[2021-11-24 19:10] k commented on #1376
Can we reopen this? That repo does not exist anymore.

[2021-11-25 02:43] k82cn commented on #1376
Sure & done; let's continue to discuss this topic :)

[2021-11-25 03:53] kenoung opened #1855 "Cross-namespace preemption keeps repeating but low priority task keeps getting allocated before the high priority task"
**What happened**:
A lower priority task gets preempted by a higher priority task of a different namespace, but keeps getting reallocated. It then gets preempted again, and the cycle repeats.

**What you expected to happen**:
Higher priority task should get allocated, and lower priority task should be pending.

**How to reproduce it (as minimally and precisely as possible)**:
I adapted the simplif

[2021-11-25 07:26] #1265 closed

[2021-11-25 07:26] #1555 closed

[2021-11-25 07:32] Thor-wl commented on #1855
/cc @huone1

[2021-11-25 07:33] #1808 closed

[2021-11-25 10:03] hl10105210 opened #1858 "Scheduling failed when setting "volcano.sh/gpu-memory" for multiple containers in 1 pod"
**What happened**:
Scheduling failed when setting "volcano.sh/gpu-memory" for multiple containers in 1 pod

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:1.4
- Kubernetes version (use `kubectl version`):v1.20.0
- Cloud provider or hardware configuration:
- OS (e.g. from /e

[2021-11-25 10:04] hl10105210 commented on #1858
The error message is "Allocate failed due to rpc error: code = Unknown desc = failed to find candidate pod, which is unexpected"

[2021-11-25 18:32] #1568 closed

[2021-11-26 02:13] william-wang commented on #1858
@hl10105210 Thanks for your report. Please provide the job yaml and the reproduce steps.

[2021-11-26 06:37] zishen opened #1859 "podgroup state is “Unknown”,but all pods are running"
**What happened**:
The pg is
![pg](https://user-images.githubusercontent.com/7522079/143537369-9f89459e-025e-440b-a23f-9aeb4d7abc1e.PNG)
 but all pods are runing:
![pods](https://user-images.githubusercontent.com/7522079/143537428-0a7904c2-7784-4aad-9e1b-7ae1860ea715.PNG)

The relevant code is as follows:
![code](https://user-images.githubusercontent.com/7522079/143537541-7e65dd25-6360-4fd7-906e-8

[2021-11-26 07:24] hl10105210 commented on #1858
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "test1"
  labels:
    app: "test1"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "test1"
  template:
    metadata:
      labels:
        app: "test1"
    spec:
      schedulerName: volcano
      nodeSelector:
        chiptype: nvidia
      containers:
        - name: "demo1"
          image: "image.pe.com/pe/demo1:1.0.0"

[2021-11-26 07:25] hl10105210 commented on #1858
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: "test1"
  labels:
    app: "test1"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "test1"
  template:
    metadata:
      labels:
        app: "test1"
    spec:
      schedulerName: volcano
      nodeSelector:
        chiptype: nvidia
      containers:
        - name: "demo1"
          image: "image.pe.com/pe/demo1:1.0.0"

[2021-11-26 07:27] hl10105210 commented on #1858
[test1.txt](https://github.com/volcano-sh/volcano/files/7607004/test1.txt)

[2021-11-26 08:17] hwdef commented on #1327
/cc

[2021-11-26 10:55] prokher commented on #1687
The issues is still here AFAIK.

[2021-11-26 11:23] k82cn commented on #1687
Emm, so what's the target solution/behaviour?

[2021-11-26 11:36] prokher commented on #1687
I would expect I can delete a queue through `kubectl delete`. If it is necessary to close it first — OK, I would expect to use `kubectl edit` for this and then delete it with `kubectl delete`.

[2021-11-26 21:53] #1261 closed

[2021-11-26 21:53] #1570 closed

[2021-11-26 23:43] k82cn commented on #1687
If so, let's have a kubectl plugin for volcano :)

[2021-11-28 12:58] justadogistaken commented on #1749
Does volcano  support numa-aware just for predicate and priority at present? But fail to apply the result to kubelet(final node-level numa placement), right?

[2021-11-28 15:19] algs commented on #1052
Hi @zen-xu , has this issue been solved?

[2021-11-29 01:36] huone1 commented on #1749
yes, it is, because the kubelet doesn't provide a interface to support to use the resource topology allocated of shceduler

[2021-11-29 03:10] aidaizyy commented on #1850
pr merged to solve the bug

[2021-11-29 03:10] #1850 closed

[2021-11-29 09:42] aidaizyy opened #1860 "queue allocated exceeds capability"
**What happened**:
`capability indicates the upper limit of resources the queue can use. It is a hard constraint.`
But, It's not work.
There are many issues here to report this problem. The conclusion is that pg does not set min resource.
But It is not necessary to set min resource for podgroup without gang. This is not the reason why allocated exceeds capability.

**What you expected to happen**:

[2021-11-29 09:45] aidaizyy commented on #1860
PR: https://github.com/volcano-sh/volcano/pull/1861

[2021-11-29 11:17] #1575 closed

[2021-11-29 11:42] jazka opened #1863 "Pytorchjob pods hang on pending status with volcano scheduler"
**What happened**:
The Pytorchjob pods hang on pending status with volcano scheduler. And there is no logs about this job in volcano-scheduler pod.
The podgroup is created.

**What you expected to happen**:
The Pytorchjob pods should be scheduled normally

**How to reproduce it (as minimally and precisely as possible)**:
It's an accidental phenomenon

**Anything else we need to know?**:
The pytorc

[2021-11-29 11:56] shinytang6 commented on #1863
Could you describe the podgroup info? @jazka

[2021-11-29 13:23] justadogistaken opened #1864 "Image Locality Plugin"
#### What would you like to be added:
I happened to found the TODO left in volcano nodeorder. which is about ImageLocality.
[code]

Wonder if the "ImageLocality" is not important in batch-scheduling, so volcano never fills this TODO. That is easy to complete nowadays.

[2021-11-29 13:30] justadogistaken opened #1865 "sync memory_manager_state into NUMAINFO."
#### What would you like to be added:
After k8s v1.22 released, the kubelet capable of write numa node info into `/var/lib/kubelet/memory_manager_state`. Like the following:
[code]
I think volcano can update those info to numaInfo by "resource-exporter", which could help enhance numa-aware plugin.

If you don't start the feature yet, I can do some research about it.

[2021-11-29 16:27] Yikun commented on #1704
Yes, cute bot, we are still working on it.

[2021-11-29 20:37] ponner-github opened #1866 "RestartTask on PodFailed does not recreate failed pod"
**What happened**:
`RestartTask` action only works with `PodEvicted` event and not with `PodFailed` event.

 When pod fails, job controller registers the `RestartTaskAction` and performs a [SyncJob](https://github.com/volcano-sh/volcano/blob/release-1.2/pkg/controllers/job/job_controller_actions.go#L191)  but pod is not recreated and remains in error state.

Snippet of controller logs [here](https

[2021-11-30 01:28] william-wang commented on #1866
@ponner-github Thanks for reporting the issue. We will have a look for that.

[2021-11-30 02:59] CaRRotOne commented on #1844
is there  any binpack useage for nvidia gpus?

[2021-11-30 06:42] shinytang6 commented on #1865
sure, just go ahead :-)

[2021-11-30 06:45] shinytang6 commented on #1864
This is needed, but no one filled it. Would you like to have a try? @justadogistaken

[2021-11-30 07:02] Thor-wl commented on #1864
It is very useful for accelerating the speed of starting pod without pulling big image. So if scheduler can be aware of the location of images on all nodes, it will be helpful.

[2021-11-30 07:03] Thor-wl commented on #1865
/cc @huone1

[2021-11-30 07:13] Thor-wl commented on #1860
There still leaves a bug that `capability` must works with `proportion` plugin. We need to separate it with any specified plugin.

[2021-11-30 08:31] hwdef commented on #1864
/cc

[2021-11-30 08:31] hwdef commented on #1864
/assign

[2021-11-30 08:57] justadogistaken commented on #1864
I'd like to work on this.

[2021-11-30 09:41] shanyuxiyun opened #1867 "wrong words in docs/Volcano - A Kubernetes Native Batch System.pdf"
TP-DCS  -> TPC-DS

[2021-11-30 10:49] aidaizyy commented on #1860
@Thor-wl Now the only plugin that identify the deserved and limit resource of each queue is `proportion` plugin. Not using this plugin means giving up the above capabilities, which is reasonable.

If dividing deserved and limit into two plugins, I don't think it is reasonable.
We can limit the use of queue resources in other places, but how to divide resources into different queues without `propor

[2021-11-30 11:15] jazka commented on #1863
Sorry for late reply.

The podgroup info as below:

https://l4x826wg3c.feishu.cn/file/boxcnEpNDeZfgfeKU9LX9yY6LVe

https://l4x826wg3c.feishu.cn/file/boxcnnvDjWG3NDwX0tMabcPVXvd

[2021-11-30 11:29] shinytang6 commented on #1863
it's strange that the status of PodGroup is empty.. The pods will start to be scheduled once podgroup become inqueue or ready. Any related scheduler log? @jazka

[2021-11-30 21:59] adamnovak opened #1869 "Using Volcano with Kubernetes built-in `batch/v1` Job objects from unmodified applications?"
We have a Kubernetes cluster where we'd like to enforce that `batch/v1` `Job` objects submitted later cannot starve `Job` objects submitted earlier, by being smaller and taking up space as soon as it opens. We don't necessarily have control of the process by which the `Job` objects are created; some of them are created by, for example, Gitlab. I don't think I can modify Gitlab to use anything othe

[2021-12-01 00:03] k82cn commented on #1869
Currently, Volcano support all kind of object in k8s; Volcano will help to generate a `PodGroup` for those object; so I think make Volcano as default schedule should be ok :)

Regarding the starvation, we're going to use SLA plugin to improve it, refer to the design doc for more detail: https://github.com/volcano-sh/volcano/blob/master/docs/design/sla-plugin.md .

[2021-12-01 01:59] jazka commented on #1863
Yes, it is weired that there is no any logs abount this job on scheduler pod. But the pending pods will became running if I restart the scheduler pod.

[2021-12-01 02:47] zhucan opened #1870 "Missing rbac for volcano scheduler"
**What happened**:
![image](https://user-images.githubusercontent.com/13997135/144162718-06d44a86-b015-41e7-bcb3-d3d70694f578.png)

**What you expected to happen**:
Can list csinodes

**How to reproduce it (as minimally and precisely as possible)**:

1. Only run "kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml"
2. Exec "kubectl logs v

[2021-12-01 02:52] shinytang6 commented on #1870
@xiaoanyunfei pls help take a look

[2021-12-01 02:57] zhucan commented on #1870
![image](https://user-images.githubusercontent.com/13997135/144163779-0d371f34-e8ea-4b74-865f-9a5acdcfe4a8.png)
Add it.

[2021-12-01 03:09] #1684 closed

[2021-12-01 06:09] Thor-wl commented on #1439
/close

[2021-12-01 06:09] #1439 closed

[2021-12-01 06:09] Thor-wl commented on #1440
/close

[2021-12-01 06:09] #1440 closed

[2021-12-01 07:56] Thor-wl commented on #1866
There are [discussions](https://github.com/volcano-sh/volcano/issues/1651) about this issue for some end users want to keep the failed pod for looking up the log and finding the fail reason or any other reasons.

[2021-12-01 08:21] Thor-wl commented on #1863
I've overviewed all the context and it's hard to get useful information. Can you describe the podgroup for more details or provide the steps to reproduce the accident steadily?

[2021-12-01 08:45] jazka commented on #1863
What is the "more details" of podgroup? Attached before includes get/describe of podgroup。

There is no fixed step to reporduce. If the volcano is redeloyed, this scenario will miss and reappear in the future.

Is there any way to output more logs on scheduler pod?  Or do you have container for debug, I can replace the image to get more info.

[2021-12-01 09:22] Thor-wl commented on #1859
I've contacted with @zishen about the scenario, which is not so regular. This issue can be closed now.

[2021-12-01 09:32] Thor-wl commented on #1858
Can you provide the complete log?

[2021-12-01 11:28] summerisc opened #1872 "How to build a pipeline with the volcanoJob"
What would you like to be added:
Are there any outstanding frameworks/tools that can work with volcanoJob to build an ML pipeline? By ML pipeline, it might be something like Kubeflow pipeline, but apparently, ML pipeline doesn't support using volcanoJob as a component in a pipeline

Why is this needed:
Trying to build a pipeline with preprocessing logic, volcanoJob training, and postprocessing(if

[2021-12-01 16:09] adamnovak commented on #1869
Thanks @k82cn!

So it sounds like `batch/v1` `Job` objects will work fine with Volcano, but I will have to configure the SLA plugin with an `sla-waiting-time` to prevent small jobs from starving big jobs forever.

[2021-12-02 00:03] k82cn commented on #1869
hm... I'm ok to enable SLA as default :)

/cc @Thor-wl

[2021-12-02 00:41] k82cn commented on #1872
Are you going to use kubeflow/pipeline with vcjob or prefer to use a pipeline from Volcano community?

For the pipeline of Volcano community, there're some contribute would like to donate related project to community, we're going through the checklist, xref https://docs.google.com/document/d/1YLbF8zjZBiR9PbXQPB22iuc_L0Oui5A1lddVfRnZrqs/edit# .

For the kubeflow/pipeline, there's no integration rig

[2021-12-02 00:58] Thor-wl commented on #1869
I agree with that. SLA as default is reasonable.

[2021-12-02 01:03] Thor-wl commented on #1863
Sorry for missing some info in the picture you provided. If the status of podgroup is empty, have you got someting useful in the controller manager? That's not so reqular.

[2021-12-02 01:44] Thor-wl commented on #1855
I think the analysis is reasonable. The current logic in preempt action is not so reasonable for it just find candidate tasks which are lower priority than the preemptor and then preemt their resources. In fact, it should preempt the candidate tasks which are at the lowest priority. Or it may also bring the ping-pang problem. Can you help reconstruct the logic?

[2021-12-02 03:45] Thor-wl commented on #1335
If no feedback, close this issue temporarily.
/close

[2021-12-02 03:45] #1335 closed

[2021-12-02 03:46] Thor-wl commented on #691
/cc @qiankunli

[2021-12-02 04:05] #1864 closed

[2021-12-02 05:42] summerisc commented on #1872
thanks for the prompt response! @k82cn Either way kubeflow/pipeline with vcjob or pipeline from Volcano community is a good solution.
If you have more information about what might be the future plan for the community in terms of a pipeline similar feature that would be really helpful.

[2021-12-02 06:10] k82cn commented on #1872
We're going to have pipeline feature in Volcano communtiy, so the scheduler can work together with the pipeline for the performance, e.g. data aware scheduling.

[2021-12-02 09:15] jazka commented on #1863
There are some errors in volcano-* pods. Could you help to check if it is normal?  Please check the error image from the links below.

The logs of volcano-controllers:  https://l4x826wg3c.feishu.cn/file/boxcnrEYCVWm8TU1wVLnuQpcIWb
The logs of volcano-scheduler: https://l4x826wg3c.feishu.cn/file/boxcnDGG3mxj6SV1Uif2ke7xrOe

[2021-12-02 09:48] #1870 closed

[2021-12-02 10:05] kenoung commented on #1855
@Thor-wl Hi! Could you clarify whether NamespaceOrder or PriorityClass takes precedence?

For example, given an empty cluster that only has sufficient resources for a single job, namespace `a` launches a low-priority job, and namespace `b` launches a high-priority job, do we expect `a/low-pri-job` or `b/high-pri-job` to run?

The current `allocate` action will run `a/low-pri-job`. If preemption is

[2021-12-02 11:44] jazka commented on #1863
Attch more logs of volcano-admission and training-operator controller:

https://l4x826wg3c.feishu.cn/file/boxcnKZvbol5VEK5r9U8dkrniXc
https://l4x826wg3c.feishu.cn/file/boxcnhEtrcTX49KJLwMgmIMaVfs

[2021-12-03 08:45] william-wang opened #1876 "Support elastic training with pytorch"
#### What would you like to be added:
Support elastic training with pytorch

#### Why is this needed:
Use elastic training to improve the utilization of GPU.

Tasks

- [x] allow elastic job to be enqueued in case of resource shortage
       Implementation:  #2173
- [x] support elastic annotation in preempt/reclaim plugin
       implementaion:  #2105

[2021-12-03 08:47] william-wang commented on #1876
@qiankunli, You can add the detail infomation about this subject here. Thanks.

[2021-12-03 09:51] avinovarov commented on #1587
Agree that solution suggested by @tahsinrahman with custom recording rules looks better than installing forked (severely outdated) instance of kube-state-metrics.

Meanwhile, observing the same issue here - Volcano 1.4.0 installed via helm chart, installs `kube-state-metrics` pod running on image version 1.9.7, and does not export any of `kube_pod_volcano_*` metrics. And as we already have Prometh

[2021-12-03 11:54] lucming opened #1877 "error to calculate minresources value for pod create by deployment"
**What happened**:
this is deployemnt i defined:
[code]

**What you expected to happen**:
![截屏2021-12-03 19 08 35](https://user-images.githubusercontent.com/32814765/144592715-57fec591-66f0-4cb7-9daf-2db35bdb4850.png)
![image](https://user-images.githubusercontent.com/32814765/144595770-7d2999bc-a44f-42f7-8cbf-dcf241b84534.png)
![image](https://user-images.githubusercontent.com/32814765/144595895-

[2021-12-04 08:33] xiaoanyunfei opened #1878 "Why job controller split jobs into different queues"
#### What would you like to be added:
[job_controller.go](https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/job/job_controller.go#L143)

`jobcontroller` construct `queueList`, and split jobs into different queues.
I wonder why it is designed like this. It will case hotspot problem.
`workqueue.NewRateLimitingQueue` is thread safe， and can be safely shared among `workers`

#### Why i

[2021-12-04 11:57] lc2705 opened #1881 "Podgroup conditions do not update even though the condition message has changed"
**What happened**:
Unschedulable  podgroup condition from gang plugin do not update even though the event message has changed many times. You can see that `Last Transition Time` of the condition is exactly same with  `Creation Timestamp` of the podgroup, and the condition is still staying at the stage of the first event.

[code]

**What you expected to happen**:
![image](https://user-images.github

[2021-12-04 19:59] #1588 closed

[2021-12-04 19:59] #1585 closed

[2021-12-05 10:36] #1589 closed

[2021-12-05 10:36] #1580 closed

[2021-12-05 12:33] justadogistaken opened #1885 "optimize: resource reservation lacks of "evictionReservation" and "SystemReserved""
**What happened**:
Recently, I try to monitor memory numa info with volcano/resource-exporter. Thus I've been learning how k8s deal with cpu/mem numa info. And I found some problems (maybe not), I want to throw those problems here for discussion.

### reservation calculation
#### volcano
[code]

#### k8s
[code]

I guess volcano may neglect the values from evictionReservation/SystemReserved.
is the

[2021-12-05 12:35] justadogistaken commented on #1885
/cc @huone1

[2021-12-05 12:56] #1881 closed

[2021-12-06 03:09] Thor-wl commented on #1877
Perhaps it is more reasonable for pg to set `minMember` instead of `minResource`. And the default `minMember` should be `0`. It is acceptable for deployment to pend all replicas. Once there are resource, schedule one or more replicas is OK.

[2021-12-06 06:57] shinytang6 commented on #1877
Some related discussions here: https://github.com/volcano-sh/volcano/issues/1542

[2021-12-06 06:57] shinytang6 commented on #1877
Some related discussions here: https://github.com/volcano-sh/volcano/issues/1542

[2021-12-06 07:50] Thor-wl commented on #1878
/cc @william-wang Do you know the reason?

[2021-12-06 07:55] Thor-wl commented on #1713
/close

[2021-12-06 07:55] #1713 closed

[2021-12-06 08:02] Thor-wl commented on #1587
/cc @alcorj-mizar @william-wang @zen-xu @shinytang6

[2021-12-06 08:15] william-wang commented on #1878
@xiaoanyunfei Launch multiple go routines to process multiple queues at the same time. The main reason is to improve the throughput of job controller.

[2021-12-06 09:06] william-wang opened #1889 "Add enablement option for healthz and metric components"
#### What would you like to be added:
Add enablement option for healthz and metric components.

#### Why is this needed:
Parts of users do not want to use healthz and metric components in their environments. These componments should
be configurable to make it more flexable.

[2021-12-06 10:47] jazka commented on #1863
@Thor-wl Could you help to show me some possible ways to debug to make sure the root reason?

[2021-12-06 11:18] k82cn commented on #1725
/cc @yangwwei , regarding `minAvailable` for each task group.

[2021-12-06 11:20] xiaoanyunfei commented on #1878
My key point is why spliting jobs into different `NewRateLimitingQueue`, and jobs can just use one same `NewRateLimitingQueue`

[2021-12-06 11:26] k82cn commented on #1878
It's try to avoid lock/unlock when get job info from `NewRateLimitingQueue`. I can-t remember the data of improvement, but the overall target is to support 10k jobs with 100k Pods :)

[2021-12-06 11:27] k82cn commented on #1878
Anyway, if this's not the major bottleneck, I'm ok to make code simple :)

[2021-12-06 11:32] Thor-wl commented on #1889
/close

[2021-12-06 11:32] #1889 closed

[2021-12-06 17:22] #1597 closed

[2021-12-06 17:22] #1599 closed

[2021-12-07 01:25] k82cn commented on #1876
xref: https://github.com/volcano-sh/volcano/pull/1887

[2021-12-07 17:02] avinovarov commented on #1587
Would also like mention that things like this https://github.com/volcano-sh/volcano/blob/master/installer/helm/chart/volcano/templates/grafana.yaml#L136 are pretty questionable in general for http traffic, and largely counter-intuitive without a detailed description.

[2021-12-07 22:17] kye308 opened #1894 "Pods stuck in `ContainerCreating`, configmap not found"
**What happened**:

Created volcano job, pods stuck in `ContainerCreating`

**What you expected to happen**:

pods get scheduled to nodes and job starts running

**How to reproduce it (as minimally and precisely as possible)**:

not able to reproduce, has occurred a few times in many months

**Anything else we need to know?**:

Job submitted at: `2021-11-19T23:11:00`
[code]

events from `kubectl d

[2021-12-08 01:17] william-wang commented on #1894
@kye308 Thanks for your reporting. It seems the issue is related with job plugin from the logs. Can you provide the volcano job yaml and volcano configmap? We will try to reproduce the issue.

[2021-12-08 01:54] Thor-wl commented on #1587
I agree with the solution mentioned above. Would you like to give a PR for that?

[2021-12-08 02:21] kye308 commented on #1894
@william-wang fyi from our side there is no way to deterministically reproduce this issue, and the probability of it occurring is pretty low.

Our scheduler configmap is
[code]

and here is a simplified version of the yaml that we are using (the main structure we have is two tasks [one master pod, seven worker pods], are using the env and svc plugins and are attaching some additional volumes). We

[2021-12-08 02:40] Thor-wl commented on #1226
Perhaps this feature can help for that. Please stay focus: https://github.com/volcano-sh/volcano/pull/1887

[2021-12-08 02:41] #983 closed

[2021-12-08 07:39] #1602 closed

[2021-12-09 16:46] #1607 closed

[2021-12-11 04:40] #1549 closed

[2021-12-11 08:23] LuBingtan commented on #1680
We also meet the same problem in our production environment. It seems the reason is the validation in admission controller, i.e this block in [admit_job.go](https://github.com/volcano-sh/volcano/blob/master/pkg/webhooks/admission/jobs/validate/admit_job.go#L270):

[code]

It will will return an error at `k8scorevalid.ValidatePodTemplate`, because it will check if the container is privileged when c

[2021-12-13 02:46] hwdef commented on #1605
/open

[2021-12-13 22:29] adamnovak opened #1901 "SLA plugin doesn't work on `batch/v1` `Job` objects; `sla-waiting-time` from `volcano-scheduler.conf` is ignored"
**What happened**:

As mentioned in #1869 I am using Volcano to schedule Kubernetes Job objects, to try and prevent smaller jobs submitted later from immediately filling any available space and starving larger jobs submitted earlier.

My cluster has a 96-core node with hostname "k1.kube".

I installed Volcano from the Helm chart in tag v1.4.0, using this `values.yaml`:

[code]

And then overriding

[2021-12-13 22:38] adamnovak commented on #1901
My config (based off the default one for the Helm chart) has an additional tier of plugins compared to what [the docs for the SLA plugin](https://github.com/volcano-sh/volcano/blob/master/docs/design/sla-plugin.md#solution) suggest:

[code]

Does the `sla` plugin not work if there's that other tier after it? What configurations are and are not allowed for the plugin?

[2021-12-14 01:02] k82cn commented on #1901
/cc @jiangkaihua @Thor-wl

[2021-12-14 02:09] huone1 commented on #1885
thanks for your optimization

[2021-12-14 03:12] huone1 commented on #1865
@justadogistaken I see you‘’ve started developing memory topologies about the resource-exporter

[2021-12-14 03:21] k82cn commented on #1865
that's great! +1 to have such feature :)

[2021-12-14 04:36] justadogistaken commented on #1865
Yes, I've been doing some researches on this work, but it may take some time.

[2021-12-14 16:20] adamnovak commented on #1901
I tried using the shorter single-tier config given above, but with `sla-waiting-time` set to `5m`, and that didn't seem to help. I still saw later jobs passing my test job after the SLA time had elapsed.

[2021-12-15 01:04] william-wang commented on #1901
@adamnovak thanks for your reporting, let us have a investigation.

[2021-12-15 07:34] k82cn commented on #1740
That's reasonable to me :)

[2021-12-16 02:01] hwdef commented on #1460
+1

[2021-12-16 02:02] Thor-wl commented on #1460
@hwdef Can you help for that?

[2021-12-16 02:05] hwdef commented on #1460
Yes, I can work on it. But a robot may be needed to synchronize the two repo, I don’t know how to deal with it

[2021-12-16 02:49] k82cn commented on #1460
That's better to me :)

[2021-12-17 07:20] odidev commented on #1717
Hello Team, can you please review this issue?

[2021-12-17 08:14] william-wang commented on #1717
@odidev Thanks for your report. I have added to the pipeline and get you reply as soon as possible.

[2021-12-17 08:16] william-wang commented on #1717
/cc @Thor-wl

[2021-12-17 09:49] zishen opened #1907 "podpending：When deployment rollingup, old podgroup will occupy resource."
**What happened**:
I use volacno to schedule deployment. When I rollingup, found old pg is retain，and it still occupy resource in volcano-scheduler queue.
This leads to a situation where resources exist but cannot be scheduled.
![截图](https://user-images.githubusercontent.com/7522079/146524804-ceb875db-aaa5-4624-9e38-59710c1bdf2d.PNG)

**What you expected to happen**:
When deployment rollingup ,  v

[2021-12-17 19:04] #1289 closed

[2021-12-18 00:57] max0ne opened #1908 "Job runningDuration keeps growing indefinately"
**What happened**:
Observed for all jobs' `.status.runningDuration` keeps growing even after jobs are completed or failed.

**What you expected to happen**:
`.status.runningDuration` should only grow before job reaches a terminal state.

**How to reproduce it (as minimally and precisely as possible)**:
Any completed job behaves this way.

**Anything else we need to know?**:
I observed this in volc

[2021-12-21 09:17] Hugh-yw opened #1914 "volcano algorithm"
- Volcano Version: 1.1.2
- Kubernetes version (use `kubectl version`): v1.16.15
- OS (e.g. from /etc/os-release): centos 7.7
- Kernel (e.g. `uname -a`): 3.10.0-1062.18.1.el7.x86_64

Can this binpack algorithm be cancelled? It is found that with this algorithm, our cluster size is 200, but AI related training tasks are regularly scheduled to several nodes every time. Isn't the dispersion obvious? I

[2021-12-21 10:43] william-wang commented on #1914
@Hugh-yw
The algorithm(plugin) is configurable in Volcano. Please follow below introduction to cancel the binpacking for your case.
https://volcano.sh/en/docs/schduler_introduction/

[2021-12-21 13:03] Hugh-yw commented on #1914
OK, thanks

[2021-12-21 13:28] #1914 closed

[2021-12-22 02:40] william-wang commented on #1524
The ability would improve the efficiency for developers. And the vendor directory can be also removed after the staging is added.

[2021-12-22 04:08] tianzichenone commented on #623
How is this issue going?

[2021-12-22 06:35] Thor-wl commented on #1901
/cc @jiangkaihua

[2021-12-22 10:59] hwdef commented on #1605
Do you have some code samples to provide? I checked the kubernetes source code, but no relevant code was found in it. If kubernetes thinks that there is no need to do related checks, I think volcano does not need related checks,too.

[2021-12-22 11:12] hwdef commented on #1603
https://github.com/volcano-sh/volcano/blob/a379131657cabe03104ac9c45226edd143e8bfc4/pkg/kube/config.go#L39

Volcano uses the official library of kubernetes to open kubeconfig, and currently there is no such verification in the kubernetes source code, I think there is no need for verification.

@Zumium Do you have any other suggestions or relevant sample codes?

[2021-12-22 11:44] Megan96 commented on #1486
您的邮件我已经收到，我会尽快查阅的，谢谢！

[2021-12-23 03:09] Thor-wl commented on #1822
As the k8s version master branch depends on is v1.19, it is not so match to v1.22. Will adjust it when https://github.com/volcano-sh/volcano/pull/1910 is merged.

[2021-12-23 11:53] Thor-wl commented on #1717
ref: https://github.com/volcano-sh/volcano/pull/1919

[2021-12-23 11:57] Thor-wl commented on #1717
/close

[2021-12-23 11:57] #1717 closed

[2021-12-23 12:00] Thor-wl commented on #1822
/close

[2021-12-23 12:00] #1822 closed

[2021-12-23 12:17] Thor-wl commented on #1744
/close

[2021-12-23 12:17] #1744 closed

[2021-12-23 14:57] #1642 closed

[2021-12-24 06:49] #1627 closed

[2021-12-25 07:44] wanshicheng opened #1922 "Can we organize some people to develop a web UI for Volcano?"
#### What would you like to be added:
A web UI for watching scheduling process and resource statistics.
#### Why is this needed:
Only O&M can use the command line to view the status. No one else can get it.

[2021-12-25 08:02] Thor-wl commented on #1922
Looking forward to this work.

[2021-12-28 01:12] k82cn commented on #1922
That's ok for me to start a new repo for that; but not sure how many contributors will help on that :)

[2021-12-28 01:37] hwdef commented on #1922
Can it be shown through grafana, Or we can implement a web UI from scratch

[2021-12-28 03:23] shinytang6 commented on #1907
https://github.com/volcano-sh/volcano/pull/1891 may resolve this issue )

[2021-12-28 06:18] k82cn commented on #1922
Grafana is helpful on monitor or metrics; that'll be great to have a web UI for job/queue management :)

[2021-12-28 06:30] hwdef commented on #1922
We can develop a component, similar to the dashboard of kubernetes

[2021-12-28 07:33] william-wang commented on #1922
That will be great. I think we can work together and start from a design doc firstly.

[2021-12-28 07:38] hwdef commented on #1922
I don’t know if there are professional UI/UX and front-end developers in the community. Generally speaking, we are all back-end development.

I feel it’s not easy to do well. For example, the dashboard is not very well done, and not many people use it..

[2021-12-28 10:01] jiangxiaobin96 commented on #623
How about using `nvml.DeviceGetTopologyCommonAncestor` to build gpu tree

[2021-12-28 10:09] jiangxiaobin96 commented on #623
And I don't think using device-plugin to build gpu tree is a good way. Although device-plugin can use with volcano cooperatively, we still need to judge if the gpu resource in node is enough in function `predicate`. So why not build gpu tree in volcano directly and device-plugin just need to bind specific one gpu.

[2021-12-28 10:16] shinytang6 commented on #623
nvml needs to run on a specific node, how to build a topo tree in volcano directly？

[2021-12-28 10:19] shinytang6 commented on #623
Not so much, https://github.com/volcano-sh/volcano/pull/1779 does some research on GPU topology, but there is no specific plan

[2021-12-28 10:23] jiangxiaobin96 commented on #623
or if we can input the gpu topology by string.

[2021-12-28 10:30] shinytang6 commented on #623
not quite understand what you mean, do you mean that configure gpu topology of each node by configuration in volcano?

[2021-12-28 10:34] jiangxiaobin96 commented on #623
maybe can refer to Tencent work with [Gaia scheduler](https://ieeexplore.ieee.org/document/8672301)
![image](https://user-images.githubusercontent.com/26225317/147557268-892b0ad1-a621-49dd-95bf-eb26f7915ac6.png)
Although input directly by string like "PXB PXB PHB ..." is not a clever approach

[2021-12-28 11:14] xing0821 opened #1925 "[help wanted] how to handle Pipelined status in volcano"
I check the code and cannot found the logic process pipelined status, how can the pod(task) status updated from pipelined to allocated or binding? Maybe the pod updated by event handler and transfer from pipelined to pending?

[2021-12-30 10:03] superleo opened #1927 "Use Placement as resource allocation center"
#### What would you like to be added:
volcano to use placement as resource allocation center.  Use two-level scheduling architect to make it possible for volcano to integrated with traditional IAAS system. And work togather with existing openstack scheduler. To support the orchastration of dyversity workloads.

#### Why is this needed:
Many datacenter has existing openstack deployed, and want to u

[2021-12-31 08:35] hwdef opened #1933 "Redesign the import scheme of kube-state-metrics"
#### What would you like to be added:

remove https://github.com/volcano-sh/kube-state-metrics repo,

#### Why is this needed:

A project fork from upstream is not conducive to long-term maintenance

#### Possible solution

* Discuss with upstream to introduce kube-state-metrics to vendor
* Discuss with upstream to provide a way for kube-state-metrics to import custom metrics
* Try to merge volcan

[2021-12-31 09:04] hwdef commented on #1587
This problem still exists in the latest version

[2022-01-03 15:38] Robert-Christensen-visa commented on #1772
This issue has not been addressed and still exists.

[2022-01-03 20:38] adamnovak commented on #1901
Is the reproduction I provided enough to debug this, or do I need to try and turn this into a Volcano unit test?

[2022-01-04 01:14] Thor-wl commented on #1772
/cc @hwdef Can you help for that?

[2022-01-04 03:34] hwdef commented on #1772
@Thor-wl
Ok,I will deal with this problem

[2022-01-04 06:20] xing0821 opened #1935 "Provide extender framework for volcano"
#### What would you like to be added:

  can we add an extender framework such as kube-scheduler's extender. maybe we can send a RPC request or http request on each plugin functions, such as predicateFns.

#### Why is this needed:

  we can add some logic of scheduling out of source code. such as an Operator specific requirements of scheduling

[2022-01-04 07:04] qiankunli opened #1937 "Request to be a Member of Volcano community"
Recently， I began to study volcano and add some PR as follows:

#1905 support reserved resources by guarantee field in QueueSpec
#1896 support label volcano.sh/task-priority
#1821 support reserved node
#1884 support elastic scheduler

The Machine learning platform of Ximalaya is builded based on volcano, and volcano will be maintained by me.

I hope to be bridge between volcano community and my co

[2022-01-04 07:07] Thor-wl commented on #1937
Thanks for your contribution in v1.5! Welcome to Volcano community!
/lgtm

[2022-01-04 07:09] jasonliu747 commented on #1937
welcome welcome very welcome! 🎉

[2022-01-04 07:11] qiankunli opened #1938 "Request to be a Reviewer of Volcano community"
My contribution as follows:

add features:
1. #1905 support reserved resources by guarantee field in QueueSpec
2. #1821 support reserved node
3. #1884 support elastic scheduler

Take part in weekly community meeting.

[2022-01-04 07:11] hwdef commented on #1937
Welcome!
The work you did before was great!

[2022-01-04 07:15] Thor-wl commented on #1938
That's OK for me!
/approve

[2022-01-04 07:15] jasonliu747 commented on #1937
Sorry, wrong meme above. Welcome!
![image](https://user-images.githubusercontent.com/24452340/148022741-f0bfb51e-9f1a-44ec-9187-123e429e12a1.png)

[2022-01-04 07:16] hwdef commented on #1938
Looks great!

[2022-01-04 07:20] william-wang commented on #1937
Welcome to volcano family. Looking forward to more contribution :)

[2022-01-04 07:25] k82cn commented on #1937
Welcome !

[2022-01-04 07:26] k82cn commented on #1935
+1

[2022-01-04 09:07] jiangkaihua opened #1940 "Add individual development yamls for each version of volcano"
#### What would you like to be added:

Add individual development yamls for each version of volcano. For example, `volcano-development-v1.4.0.yaml` for version 1.4.0 which matched branch `release-1.4.0`, and `volcano-development-latest.yaml` for latest version which matched branch `master`.

#### Why is this needed:

In volcano [Quick Start Guide](https://github.com/volcano-sh/volcano/blob/master/

[2022-01-04 09:11] hwdef commented on #1940
I think this is worth considering. Are you willing to contribute to this?

[2022-01-04 09:56] kevin-wangzefeng commented on #1937
Welcome on board!

[2022-01-04 09:57] kevin-wangzefeng commented on #1937
/close

[2022-01-04 09:57] #1937 closed

[2022-01-04 10:36] william-wang commented on #1901
The info you provided is enough. We have found some clues for this issue.
1. Firstly, you need to use volcano job instead of k8s job in the sla testing.
2. There is policy confliction between gang and sla plugin.  jiangkaihua is still debuging and investigating the root cause.
@jiangkaihua please provide the  comments here whenever there is progress. Thanks.

[2022-01-04 15:11] jiangkaihua commented on #1901
@adamnovak Thank you for your question. I will give a solution at first, then discuss the issue in detail.

Briefly speaking, this issue was caused by a global SLA waiting time setting, with a short interval between large and small jobs. So a simplest workaround is: **Use volcano job to apply jobs, so that you can use annotations to set SLA waiting time individual job.**

In my test, I only set th

[2022-01-04 15:11] k82cn commented on #1901
we should support all kind of object :)

[2022-01-05 02:16] william-wang commented on #1901
Yes. Currently the SLA feature is supported in volcano job firstly and We will support it for k8s job as well.

[2022-01-05 02:17] k82cn commented on #1901
That's great!!!

[2022-01-05 03:39] xing0821 commented on #1935
l am interested in that feature, maybe i can give a design doc first about extender

[2022-01-05 03:42] shinytang6 commented on #1935
That's great, looking forward to that 😃

[2022-01-05 08:04] wanshicheng commented on #1922
First we need make a apiserver so that users can easily integrate volcano into their own systems. This also makes it easier for users to develop their own UI and then contribute to the community in return.

[2022-01-05 23:45] k82cn commented on #1940
It's better to use yaml file in related branches; let's add a FAQ for that suggestion :)

[2022-01-06 03:21] wpeng102 opened #1945 "provide helm chart package for release assets"
#### What would you like to be added:
Currentlty, volcano release only contains source code pacage, if customer wants to install volcano need clone source code first. Please add helm chart package  in release assets.

#### Why is this needed:
improve product usability.

[2022-01-06 07:21] william-wang commented on #1945
It's reasonable. Besides the helm package, a binary package which contains the vcctl should be also in the release assets.

[2022-01-06 07:39] zishen commented on #1907
so good

[2022-01-06 08:44] zishen opened #1946 "When device-plugin redeploy， resources that have been used are not counted."
**What happened**:
When resources are used by the vcJob allocation, redeploy deviceplugin. Found  the using resource has not been calculated.
![1](https://user-images.githubusercontent.com/7522079/148354595-ada72573-dd7f-42e0-b3fe-ad707f504656.PNG)

When reshipment deviceplugin volcano restart itself, an error is as follows:

**What you expected to happen**:
 When redeploy resource device-plugin,

[2022-01-06 08:53] william-wang commented on #1946
Would you like to provide the device plugin information？ Which device plugin and version are you using?

[2022-01-06 13:26] zishen commented on #1946
Device plugin  is what we aimed at NPU custom, similar to the GPU。

[2022-01-07 03:33] k82cn commented on #1853
For `Deployment`, we should create PodGroup for `Deployment` instead of `ReplicaSet` :)

[2022-01-07 05:00] william-wang commented on #1940
We will add the deployment file for each branch. branch 1.5 will be the first : )

[2022-01-07 05:10] william-wang commented on #1927
About Volcano working with resource manager except for Kubernetes. Please refer to the following proposal and check whether it fits your scenario as well.
#1886: https://github.com/volcano-sh/volcano/pull/1886

[2022-01-08 07:45] k82cn commented on #1647
/reopen

[2022-01-09 01:31] zishen commented on #1756
@Lion-Wei
v1.5.0 still has these issue.

[2022-01-09 01:32] zishen commented on #1946
This issue has be reply in v1.5.0-beta https://github.com/volcano-sh/volcano/pull/1685/files.

[2022-01-09 01:32] #1946 closed

[2022-01-10 02:09] #1725 closed

[2022-01-10 02:32] jazka commented on #1863
@Thor-wl I tested many times and found the volcano-scheduler do not work from logs. When I start one pod with "schedulerName: volcano", there is no more logs in volcano-scheduler pod except "PriorityClass is deprecated in v1.14+...". After restarted volcano-scheduler pod, it will output like "Added Queeue <default> for ...".

Do you have any way to check what happened to volcano-scheduler? Does it

[2022-01-10 09:04] jazka opened #1947 "Large memory is used by volcano-scheduler"
**What happened**:
The volcano-scheduler uses large memory and the function of schedule seems to be unusual. The pod of job will always be pending. But there is no any error logs in pod. After restart it, everything is okay.

The image link of the result of  "kubectl top pods -n volcano-system":
https://l4x826wg3c.feishu.cn/file/boxcnLnrbgq6CmvjAQWfOlWX9gc

**What you expected to happen**:
The sch

[2022-01-10 09:08] hwdef commented on #1947
Please provide more information such as scheduler logs

[2022-01-10 09:35] jazka commented on #1947
The images below are the some logs screenshot (I can not parse all the logs here, sorry for that), but there is no other different contents with these logs.

https://l4x826wg3c.feishu.cn/file/boxcnFFuid08JWiylxu0NAw5CZc
https://l4x826wg3c.feishu.cn/file/boxcnLnyvqitaA6bAshUriNUEMc
https://l4x826wg3c.feishu.cn/file/boxcnQmvPxfjGiNv6BglGmDH7Za
https://l4x826wg3c.feishu.cn/file/boxcnYDoTEobLvJZ0bPHx4

[2022-01-10 14:22] wojtek-t opened #1948 "Stop relying setting RemoveSelfLink=false feature-gate - we're locking it to true with GA graduation in 1.24"
Upstream Kubernetes is going to get rid of ability to set SelfLink in release 1.24 (basically graduate graduate RemoveSelfLink feature gate to stable - see the KEP https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1164-remove-selflink, for a bit more details).

It seems that volcano is still vendoring Kubernetes version that is setting it to false:
https://github.com/vo

[2022-01-10 23:47] k82cn commented on #1948
@wojtek-t , thanks for your input; do any components dependent on `SelfLink`, e.g. client-go? Currently, we did not rely on it explicitly :)

[2022-01-10 23:49] k82cn commented on #1947
did you check whether the memory of scheduler pod keep increasing?

[2022-01-10 23:53] k82cn commented on #1935
Yes, we can have an http/grpc plugin to deligate the request; so I think that's simple enough for beginner :)

[2022-01-10 23:55] k82cn commented on #1925
pipelined is used to wait releasing resources; the status will be updated in next scheduling cycle if the resource is free :)

[2022-01-10 23:56] k82cn commented on #1922
+1, we can start to do that in a new repo :)

[2022-01-11 03:09] jazka commented on #1947
I am not very sure if it keeps increasing. The large memory case was found after scheduler has been running for a few days, I guess the scheduler has some internal errors in these days. My guess is from the logs of the scheduler which has no more  scheduling logs to output.
After the large memory used by scheduler pod was found, I watched it about one hour, it did not keey increasing. Then I resta

[2022-01-11 03:18] hwdef commented on #1947
you can enter the container, and exec
[code]

[2022-01-11 03:30] jazka commented on #1947
Cool, it is 1b96bdf4de821e1e4af2b4c056f67be7559a880d, is it not the recommended version?

[2022-01-11 03:41] hwdef commented on #1947
It doesn't look like an official release, somewhere between 1.4 and 1.5.
If it is allowed, is it possible to use the 1.4 mirror test to see if there is still this problem?

[2022-01-11 03:51] jazka commented on #1947
Sure, I will try it with 1.4 version.

[2022-01-11 05:52] xing0821 commented on #1925
i can get that point but cannot found the code that handle the pipelined status... which action or event will process pipelined?

thx for your reply!

[2022-01-11 06:14] william-wang commented on #1947
Did the message"The priority of job xxx"(Line955 in cache.go) appeared in log? Not sure whether it was stuck in cloneJob.
I am running the same version in my environment and try to reproduce the issue.

[2022-01-11 07:08] wojtek-t commented on #1948
There was a place that were depending on SelfLink in client-go:
https://github.com/kubernetes/kubernetes/blob/release-1.13/staging/src/k8s.io/client-go/tools/reference/ref.go#L79
But that was eliminated in 1.15 already.

So in the release you're vendoring client-go doesn't depend on it. However, apiserver and kubectl repos do in some places (not sure if you are using them though).

[2022-01-11 07:31] hejufang commented on #1935
looking forward to that

[2022-01-11 08:05] william-wang commented on #1863
@jazka Which version of training operator do you install. and would you like to provide the job yaml?
We will try to reproduce the issue in my environment.

[2022-01-11 08:07] jazka commented on #1947
No, it did not output the log "The priority of job xxx is xxx". Yes, I also guess it was stuck in "SchedulerCache => Snapshot", something like deak lock or sync wait.

If you want to reporduce this issue, it is better to test with training-operator pytorchjob, since it will create podgroup by call volcano sdk directly. Think the case below:
1. Disable gang-scheduler in training-operator, then it w

[2022-01-11 08:24] jazka commented on #1863
The training-operator version is 760ac1171dd30039a7363ffa03c77454bd714da5, the image is from public.ecr.aws/j1r0q0g6/training/training-operator:760ac1171dd30039a7363ffa03c77454bd714da5.

There is nothing special setting in job yaml，please refer to the image screenshot:
https://l4x826wg3c.feishu.cn/file/boxcnCfIzGCSJbivvNOPawwh13b
https://l4x826wg3c.feishu.cn/file/boxcnS2oGrfAn1ZfNK9RLU4OXcd

[2022-01-12 02:13] jazka commented on #1947
@hwdef @william-wang @k82cn I switched to V1.4.0 and there is panic like below, please to help to check what happened.

https://l4x826wg3c.feishu.cn/file/boxcnXsgfyXeRa24rMfm5Co794e
https://l4x826wg3c.feishu.cn/file/boxcnqajf50I2nxyWTfTDW2QQUc
https://l4x826wg3c.feishu.cn/file/boxcnZFDWS4Cp2hUbL5O4lYjlnc

[2022-01-12 02:49] william-wang commented on #1947
@jazka the issue is fixed in pr #1685, unfortunately it is not merged to release-1.4 branch. I will cherry-pick it 1.4.

[2022-01-12 03:41] jazka commented on #1947
Do you mean the image of volcanosh/vc-scheduler:v1.4.0 will be updated with this bug fix?

[2022-01-12 05:09] william-wang commented on #1947
Yes.  That's right.

[2022-01-12 05:19] jazka commented on #1947
Cool, when will it be updated？I need to update it in our cluster ASAP and test more.

BTW, is there any progress on the stuck issue? Any cases I need to try?

[2022-01-12 06:33] william-wang commented on #1947
@jazka It's not a general usage. We userally enable the gang-scheduler in operator and use the volcano directly.
May I know why you disable gang-scheduler and use "default scheduler" to schedule the pods of pytorch job and then enable the gang-scheduler with volcano.  This will not take advantage of volcano's capabilities such as gang-scheduling.
Additionally, I think Volcano would skip the pod wi

[2022-01-12 06:43] xing0821 commented on #1935
PR is https://github.com/volcano-sh/volcano/pull/1951

[2022-01-12 06:52] jazka commented on #1947
@william-wang We did not swith "disabale/enable" on purpose.

At the beginning, volcano is not used in our cluster and training-operator is used with gang-scheduler disabled. Many pytorch jobs are running on this config. One day, we ran into the problem and need to enable gang-scheduler. Then we deployed volcano and enable gang-scheduler in training-operator. After running for a while with gang-sc

[2022-01-12 09:33] jazka commented on #1947
@william-wang Do you have a plan when the new v1.4.0 image is updated?

[2022-01-12 10:53] william-wang commented on #1947
@jazka I have submited the fix to release 1.4 branch. however the CI could not pass because the ginkgo version is asked to upgrade by github. It need to take some time to upgrade.
From my point of view, using **1.5-beta** version might be a better choice for you to have quick verification. I just insatlled the 1.5-beta and run the pytorch job. It works as expected.

[2022-01-12 11:04] jazka commented on #1947
@william-wang I do not find 1.5-beta image from https://hub.docker.com/r/volcanosh/vc-scheduler/tags, where can I pull it?

[2022-01-12 11:59] william-wang commented on #1947
@jazka use "docker pull  volcanosh/vc-scheduler:v1.5.0"

[2022-01-12 13:17] jazka commented on #1947
@william-wang Do you suggest we use volcano v1.5.0, not v1.5.0-beta?

[2022-01-12 14:25] william-wang commented on #1947
Yes, you are right :)

[2022-01-13 03:19] #1845 closed

[2022-01-13 03:42] ChenGuang0123 opened #1954 "FailedMount when scheduler with storageClassName"
**When using dynamic PVC in WaitForFirstConsumer mode, the pvc cannot bind pv after volcano creates a pod**:

**pvc can bound a local path lv and pod can create successfully**:

nfs provisioner: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner

1. create a StorageClass:
[code]
2. create pvc:
[code]
3. create pod via volcano:
[code]

**Anything else we need to know?**:

**Environm

[2022-01-13 09:20] k82cn opened #1955 "Add shuffle action for descheduler & tdm plugins"
#### What would you like to be added:

Let's add a shuffle action for descheduler & tdm plugins; in this action, it'll only evict all tasks return from `victimTasks`.

#### Why is this needed:

Currently, victim tasks are evicted in `preempt` action which combine with preemption; it's better to have a stand alone action for victim tasks :)

[2022-01-13 09:21] k82cn commented on #1955
/cc @Thor-wl

[2022-01-13 09:22] k82cn commented on #1948
Got that, thanks very much. I think what we need to do is to update k8s version :)

[2022-01-13 09:33] wojtek-t commented on #1948
yeah - that's probably desired independently of the selflink stuff :)

[2022-01-13 12:32] D0m021ng commented on #1853
Normal Pod runs into the same problem.

[2022-01-13 22:28] kye308 opened #1956 "Pods remain in `Completing` state, inconsistent with specified lifecycle policy"
**What happened**: Pods in a job remain in `Running` even though another task with policy `CompleteJob` on `TaskSucceeded` has completed.

**What you expected to happen**: Pods are completed after the task has completed.

**How to reproduce it (as minimally and precisely as possible)**:

vcjob yaml used
[code]

vcjob status
[code]

Pods finally were completed after almost 24 hours.

**Anything els

[2022-01-13 23:41] kye308 commented on #1956
for this job the pods reached completed state after about an hour

[2022-01-14 02:52] zishen opened #1957 "volcano scheduler panic when setNodeState"
**What happened**:
When add new pod，volcano-scheduler panic.

[code]
And the code is

[code]
in node_info.go

**What you expected to happen**:

not panic

**How to reproduce it (as minimally and precisely as possible)**:

volcano v1.4.0 add v1.5.0-bata pacth:https://github.com/volcano-sh/volcano/pull/1685/files

**Anything else we need to know?**:

**Environment**:
- Volcano Version:v1.4.0+patch#1

[2022-01-14 02:52] zishen commented on #1957
@Lion-Wei

[2022-01-14 02:54] Thor-wl commented on #1957
fix: https://github.com/volcano-sh/volcano/pull/1952

[2022-01-14 03:02] zishen commented on #1957
This is log panic when using nil node.

Have a look at line 236

[2022-01-14 03:08] Thor-wl commented on #1957
/assign @Thor-wl

[2022-01-14 03:14] zishen commented on #1957
Thanks a lot.

[2022-01-14 03:21] zishen commented on #1756
@Thor-wl

[2022-01-14 03:27] hwdef commented on #1756
This is useful, do you want to do this？

[2022-01-14 03:33] zishen commented on #1756
Ok, let me have a try.

[2022-01-14 04:46] CaRRotOne opened #1959 "tasks in gang unschedulable"
**What happened**:
I use [kubedl](https://github.com/kubedl-io/kubedl)  which specify volcano as scheduler submit a pytroch training jobs.  The request GPU resource  is 2 and the available GPU resource of cluster is 2. After I submit the job, I find the pod is pending, and scheduling is failed.
![image](https://user-images.githubusercontent.com/2860023/149449016-e77bb769-bd02-498c-a31c-15f27fa1bf5

[2022-01-14 06:26] tizhou86 opened #1960 "[Enhancement Request] Enhance capacity scheduling"
#### What would you like to be added:

Capacity scheduling can be integrated into volcano like other container orchestration platforms such as Yarn, and K8s capacity scheduling plugin.

1. The API definition of ElasticResourceQuota.
2. Implement a scheduler action and plugin to the API of ElasticResourceQuota.
3. Implement controller and admission webhook for ElasticResourceQuota.

#### Why is thi

[2022-01-14 06:27] shinytang6 commented on #1959
Can you describe the status of Podgroup?

[2022-01-14 06:28] tizhou86 commented on #1960
@alexqdh @QSS-ZL @D0m021ng are the origin authors for this feature, cc them for notifications.

[2022-01-14 07:12] CaRRotOne commented on #1959
Hi @shinytang6,  here is podgroup info
[code]

[2022-01-14 09:43] CaRRotOne commented on #1959
@shinytang6 , yes, I am trying to find the reason. I did a experiment, If I change the scheduler to default one, the job has been schedule successfully. There are 6 available GPUs, resource of cluster is sufficient.

the master pod info
[code]

[2022-01-14 16:45] jazka commented on #1947
@william-wang The stuck issue is still existed with release v1.5.0. Please help to check the logs of volcano-scheduler below. Do you have any way to online chat? I need your help since this issue blocks our product business, thx.

![image](https://user-images.githubusercontent.com/7553111/149548948-bf0aea7b-fa3d-4c12-abe1-9002aa68ca66.png)

[2022-01-14 23:18] Robert-Christensen-visa opened #1962 "Unable to schedule independent pod when RBAC enforced"
**What happened**:

I am trying to use volcano to schedule independent pods and to add those pods to a specific queue.  This is done so volcano can keep track of resources used by the cluster.

I submit this pod:

[code]

The pod is submitted, but remains in the "pending" state.  When I look though the logs for the controller, it is reports a podgroup can't be created for the pod.  I also don't se

[2022-01-15 00:07] kye308 commented on #1956
controller logs: https://gist.github.com/kye308/6e99c7eb5690d3497416a2b8b8eda492

[2022-01-15 00:22] kye308 commented on #1956
scheduler logs: https://gist.github.robot.car/kevin-ye/06bf2bddabc8b1878f3c018fda6965b3

[2022-01-15 00:25] kye308 commented on #1956
controller logs: https://gist.github.com/kye308/d1fe5526cf08b2e2cdf44e0323e4770a

[2022-01-15 00:27] kye308 commented on #1956
scheduler logs: https://gist.github.com/kye308/a1115373a9821d0794254b672f0761ea

[2022-01-15 04:05] hwdef commented on #1956
/cc

[2022-01-17 01:55] Thor-wl commented on #1962
/cc @hwdef Can you help for that?

[2022-01-17 01:59] Thor-wl commented on #1954
/cc @zrss Have you met the problem?

[2022-01-17 02:02] #1938 closed