[2022-01-17 02:07] zhenxiu opened #1966 "how can worker do sthing before stopping"
i apply prestop command on worker container, but this didnot work

[2022-01-17 02:07] zhenxiu commented on #1966
i use mpi

[2022-01-17 02:16] Thor-wl commented on #1966
I'm sorry for not getting it clearly. Can you describe your scenario with more details?

[2022-01-17 02:21] hwdef commented on #1962
I noticed that you want to create a PR for this bug,
You can create this PR and I will review it with other reviewers.
Thanks!

[2022-01-17 02:26] zhenxiu commented on #1966
when i commit mpi job，i want to do something by worker before the job complete; i set prestop commands to woker container，but this not work

[2022-01-17 02:36] Thor-wl commented on #1966
/cc @jiangkaihua Can you help take a look?

[2022-01-17 02:54] shinytang6 commented on #1959
what about the worker pod?

[2022-01-17 03:45] zhenxiu commented on #1966
` imagePullPolicy: IfNotPresent
    lifecycle:
      preStop:
        exec:
          command:
          - /bin/sh
          - -c
          - echo 'this is pre stop test ... '
    name: worker
    ports:
    - containerPort: 22
      name: job-port
      protocol: TCP
`

[2022-01-17 05:57] CaRRotOne commented on #1959
@shinytang6  we can see form the following picture, the worker pod is not detected by the command "kubectl get pods".
![image](https://user-images.githubusercontent.com/2860023/149715031-1f56e973-e8db-4ce0-84eb-d69e07348673.png)

[2022-01-17 06:32] hwdef opened #1967 "new plugin: absolute gang"
#### What would you like to be added:

gang that can reserve resources

#### Why is this needed:

The current gang plugin only checks whether resources meet the requirements when starting scheduling, and does not reserve resources for jobs, if a job has a total of 100 pods, after 50 pods are scheduled, another job preempts the resources, then the remaining 50 pods of the job cannot be scheduled, w

[2022-01-17 06:41] shinytang6 commented on #1959
never mind, got your situation now ) l think the reason lies on the podgroup's minMember is 2, while only one pod(master) was created(l am not sure why worker pod was not created, the inner logic is in kubedl), so the gang condition was not met(pending pods < minMember), volcano will not start to schedule this job.

[2022-01-17 07:47] shinytang6 commented on #1959
Discuss with kubedl maintainer @SimonCqk, kubedl DAG is enabled by default, so kubedl only starts to create worker pod after the master is running.

[2022-01-17 08:08] CaRRotOne commented on #1959
@shinytang6 thanks，I had discussed with @SimonCqk offline, I will disable DAG  of kubedl firstly.

[2022-01-17 10:12] shinytang6 commented on #1967
Does that proposed to resolve the conflict with gang and dag?
I think a more elegant way is to implement group of gang, which means splitting a gang for each task under one job.

[2022-01-17 10:16] hwdef commented on #1967
@shinytang6
Sounds good this way, we can talk more, my idea is still very rudimentary.
The goal is to make sequential startup work better with gang.

[2022-01-18 02:44] justadogistaken commented on #1947
There is an risk of blocking in "NamespaceCollection.Snapshot" => "n.quotaWeight.Pop()". I think the blocking problem is caused by this place. see the `len(h.data.queue) == 0`
[code]

[2022-01-18 03:30] justadogistaken commented on #1947
There is an risk of blocking in "NamespaceCollection.Snapshot" => "n.quotaWeight.Pop()".  Is there a extreme case that resourceQuata has been deleted while "snapshot"?

[code]

[2022-01-18 06:12] jazka commented on #1947
Yes, you are right. I reproduced this stuck issue when deleting resourceQuota. @william-wang will try to reproduced it and fix it.

[2022-01-18 06:30] shinytang6 commented on #1947
good catch! It seems that `NamespaceCollection` is always growing.

[2022-01-18 06:34] justadogistaken commented on #1947
I recommed we use priorityQueue execluding "sync.Cond". Snapshot does not need to wait for producer. Just get a copy of current context.
I can do something to help if we reach an agreement on replacing the priorityQueue tool.

[2022-01-18 06:46] shinytang6 commented on #1947
l agree that using PriorityQueue here.
/cc @william-wang

[2022-01-18 07:08] #1966 closed

[2022-01-18 08:06] william-wang commented on #1947
@jazka
Reproduce step:
1. Create namespace `ns-1`
2. Create resourequota for `ns-1`
[root@volcano-1951-39604 create]# kubectl apply -f quota-1.yaml --namespace=ns-1
resourcequota/quota-1 created
3. The scheduling works well
4. Delete all resourcequota for ns-1
[root@volcano-1951-39604 create]# kubectl delete resourcequota quota-1 -n ns-1
resourcequota "quota-1" deleted
5. Volcnao scheduler pod get

[2022-01-18 08:34] zhenxiu opened #1972 "ssh failed sometimes"
when i use mpi job,
ssh: Could not resolve hostname ***-job: Name or service not known.

this usually happened, especially more workers

[2022-01-18 08:43] hwdef commented on #1956
https://github.com/volcano-sh/volcano/pull/1746

Please use the volcano version after this commit

[2022-01-18 13:34] kubernetian opened #1973 "[Help] Multi Scheduler setup does not patch my vcjob / pod"
Hey guys

I'm trying to get this working :
https://github.com/volcano-sh/volcano/blob/master/docs/design/multi-scheduler.md

I created the following admission configmap :
[code]

And added it to the admission deployment as a volume.
[code]

I gave my nodes the following labels :
node1 : volcano.sh/nodetype: rg1
node2 : volcano.sh/nodetype: rg2
node3 : volcano.sh/nodetype: rg2

Used the following a

[2022-01-18 20:40] kye308 commented on #1956
@hwdef we are using the [v1.4.0 tag](https://github.com/volcano-sh/volcano/commits/v1.4.0) which appears to include this change already. Is my understanding correct?

[2022-01-19 01:07] Thor-wl commented on #1973
/cc @huone1

[2022-01-19 01:37] hwdef commented on #1956
Yes, 1.4.0 includes this commit, may be caused by other reasons.

[2022-01-19 01:39] william-wang commented on #1972
@zhenxiu thanks for your reporting. Would you like to provide the basic information like mpi job yaml, Volcano version and reproduce steps?

[2022-01-19 01:49] william-wang commented on #1956
@hwdef @shinytang6 We need to try to reproduce the issue based on kye308's input in our envrionment.

[2022-01-19 02:13] zhenxiu commented on #1972
i use v1.2.0 and official mpi yaml; differently, i use my own image with mpi installed

[2022-01-19 02:14] Thor-wl commented on #1962
OK. Let me fix it.

[2022-01-19 02:43] huone1 commented on #1973
you can config the annotation in podtemplate.metadata.annotations to use the feature.
when volcano job has multiple task and  their types of tasks is different,  tasks need to be scheduled to different node

[2022-01-19 03:38] Thor-wl commented on #1962
@Robert-Christensen-visa hey, Robert. I've tried to reproduce your scenario with volcano release v1.4.0 and v1.5.0-beta. But everything seems goes well. My environment infomation is as follows:
[code]
And my controller logs are as follows:
[code]
I watched the status of pod and poggroup as the same time. The status are as follows:
[code]

[code]
Have I missed anything important?

[2022-01-19 07:02] kubernetian commented on #1973
Thanks @huone1 will try that! And keep you guys posted. I was putting the annotations directly in the metadata of the vcjob. That's probably the reason why it doesn't work :)

[2022-01-19 07:50] kubernetian commented on #1973
It works! Thanks guys, it might be a good idea to put some examples in these docs as well? https://github.com/volcano-sh/volcano/blob/master/docs/design/multi-scheduler.md

From these docs it's not really clear where to put the annotation to be fair..

Kind regards
Joris

Thanks for the work guys, Volcano really took our project to the next level!

[2022-01-19 08:34] Thor-wl commented on #1973
I agree with putting some examples. @huone1 Pls help for that.

[2022-01-19 08:37] jazka commented on #1947
Hi, the PR#1971 has been merged master branch, will you cherry-pick it to release 1.5.0? Or which docker image on dockerhub I should use?

[2022-01-19 08:42] Thor-wl commented on #1947
Yes, this PR will be merged into v1.5.0 which is planed to be released around the late January. Then we will also push a docker image with tag v1.5.0 to the dockerhub.

[2022-01-19 16:40] Robert-Christensen-visa commented on #1962
@Thor-wl Are RBAC policies being enforced in your test cluster?  If found the pod is able to get scheduled on kubernetes running on my local machine (the docker kubernetes does not enforce RBACs).  In small scale testing I don't have an issue getting pods to get scheduled.  However, in production clusters RBACs are enforced.  When RBACs are enforced the controller does not have permissions to add

[2022-01-20 03:05] benyingY opened #1977 "worker pod terminating too long after vcjob retry three times, with error FailedMount"
**What happened**:
worker pod terminating too long after vcjob retry three times, with error FailedMount

**What you expected to happen**:
worker pod not terminating too long ,and no error

**How to reproduce it (as minimally and precisely as possible)**:
vcjob with two tasks, each task with one pod. pod A quick failed, like execute non exist shell. pod  B execute longer,like sleep 10.
after vcjob

[2022-01-21 01:32] wpeng102 opened #1979 "[Readme] Update readme to use appropriated K8s version"
**What happened**:
In Readme,  we recommended use volcano in Kubernetes v1.16+ and deprecated Kubernetes  version < v1.16.  But in scheduler we use v1.CSINodes api which GA in K8s 1.7	https://github.com/volcano-sh/volcano/blob/f8e992ebded9bfff79d1d2f950ea2ff2ac81f516/pkg/scheduler/cache/cache.go#L474.

Actually, if use K8s 1.6 clustere install volcano scheduler will report following error.

![imag

[2022-01-21 06:21] Thor-wl commented on #1957
/close

[2022-01-21 06:21] #1957 closed

[2022-01-21 06:42] yuyue9284 commented on #1680
Same problem encountered, temporarily set `--enabled-admission=/jobs/mutate,/podgroups/mutate,/pods/validate,/pods/mutate,/queues/mutate,/queues/validate` in volcano admission to bypass the job validation.

[2022-01-21 07:55] Thor-wl commented on #1853
Thanks for the all the feedback. This fix will be merged into v1.5.0.
/assign @lucming

[2022-01-21 09:17] Thor-wl commented on #1853
Can you give the reproduce steps? I've had a try but the performance looks good.

[2022-01-21 21:47] #1690 closed

[2022-01-22 02:14] Thor-wl commented on #1680
Thanks for the report. I've added important label for this issue. Will take a priority to do a check.
/assign @Thor-wl

[2022-01-22 09:32] elinx opened #1980 "Some Actions use alloc as its object name while it's not"
Several actions use `alloc` as their object name when it is actually not an `Allocate` action as in the following examples, which is a bit confusing to read.
- backfill action [L33](https://github.com/volcano-sh/volcano/blob/d706e416763ee2df84efd35ac8e793837d42a382/pkg/scheduler/actions/backfill/backfill.go?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftware

[2022-01-22 19:23] sakkshm26 opened #1982 "Updating the documentation"
#### What would you like to be added:
I would like to work on updating the documentation.
#### Why is this needed:
There are some typos in different files of the documentation.

[2022-01-22 19:25] sakkshm26 commented on #1982
/assign

[2022-01-23 01:23] #1694 closed

[2022-01-23 03:28] k82cn commented on #1982
And that'll be great if you can help to build an dashboad for volcano :)

[2022-01-23 04:29] yongqiangz commented on #1972
maybe you can check if all the workers are running when the master begin to run， Sometimes the worker may be pulling docker images

[2022-01-23 12:29] horizen opened #1983 "dynamic provisioned pvc may caused job unschedulable"
**What happened**:
When job has pvc with dynamic provisioned, if some task of job could not scheduled because of resource or any other reason, the job may stuck in Pending forever even if cluster has enough resource for scheduling later.

**What you expected to happen**:
Once the resource is satisfied, the job can be scheduled.

**How to reproduce it (as minimally and precisely as possible)**:
1.

[2022-01-23 20:52] sakkshm26 commented on #1982
Alright, how can I get started with it?

[2022-01-24 02:02] hwdef commented on #1982
We can start with the design.

[2022-01-24 02:10] zhenxiu commented on #1972
all workers are running

[2022-01-24 11:02] fferrann commented on #1761
Issue is still reproducible.

[2022-01-24 11:35] Thor-wl commented on #1785
/cc @qiankunli Can you help for that?

[2022-01-24 12:14] Thor-wl commented on #1761
Sorry for reply late. It has not been reproduced here. Will take a try later. Besides, perhaps we should reivew the latest cromwell version and support it.

[2022-01-24 12:41] #1980 closed

[2022-01-24 12:57] hwdef commented on #1979
/assign

[2022-01-25 01:45] hwdef commented on #1772
@Robert-Christensen-visa
I read the documentation of Preemption and Proportion and didn't find a design to delete low priority pods. Is there something I'm missing with this question?

[2022-01-25 02:08] #1979 closed

[2022-01-25 09:42] SimonCqk commented on #1959
@CaRRotOne issue pull request has been merged :) https://github.com/kubedl-io/kubedl/pull/233

[2022-01-25 10:03] SimonCqk opened #1993 "Set user customized wait-timeout-seconds for PodGroup based gang scheduling protocol."
#### What would you like to be added:

Introduce a new filed in `podGroup.spec` named with `waitTimeoutSeconds` or sth similar, then users are able to configure `waitTimeoutSeconds` dynamically.

#### Why is this needed:

As it described in [resource-reservation](https://github.com/volcano-sh/volcano/blob/master/docs/design/job-resource-reservation-design.md#todo) design doc, this feature is in TO

[2022-01-25 12:01] Thor-wl commented on #1993
Hey, I guess what you want is SLA ensurance. If that, you can take a look at [SLA plugin](https://github.com/volcano-sh/volcano/blob/master/docs/design/sla-plugin.md).

[2022-01-25 12:09] SimonCqk commented on #1993
@Thor-wl hi, thanks for replying, it seems that `SLA` plugin implements the semantics I present above, what I am curious is it coupled with `Batch Volcano Job` api ? What if a user submit a job with other api-group along with a podgroup(represents a gang entity), how can volcano guarantees its SLA ?

[2022-01-26 03:01] Thor-wl commented on #1993
Yes, this abilitiy is bind to Volcano Job currently. @jiangkaihua Is there any plan to ensure SLA for other workloads?

[2022-01-26 03:01] Thor-wl commented on #1993
Yes, this abilitiy is bind to Volcano Job currently. @jiangkaihua Is there any plan to ensure SLA for other workloads?

[2022-01-26 03:01] Thor-wl commented on #1993
Yes, this abilitiy is bind to Volcano Job currently. @jiangkaihua Is there any plan to ensure SLA for other workloads?

[2022-01-26 05:46] hwdef commented on #1772
for example:
vcjob `a`,`b`,`c`

`a` running. `b` and `c` in queue.
By default, `b` is dequeued after `a` has finished running.
If preemptive strategy is used, set high priority to `c`. Then after `a` is completed, `c` will be dequeued first.
`c` doesn't kill `a`'s pod, but preempts `b`

[2022-01-26 07:35] jiangkaihua commented on #1993
Yes, I have proposed PR #1961 to solve it. When a user submitted a job with other api-podgroup like `replicaset`, `daemonset`, etc., k8s would create pods first, then invoke volcano to create `podgroup` for the pods. So `podgroup` created from k8s pods would miss annotations of origin workloads, causing configurations inserted in the form of annotations neglected, like #1901 .

So my solution is t

[2022-01-26 17:34] sakkshm26 commented on #1982
Actually, I'm not familiar with Figma or any other design tool. I can definitely help with the development part though.

[2022-01-26 22:23] Robert-Christensen-visa commented on #1772
I guess my confusion comes from the overloaded term "preempt".  If you are saying **preemption** means job `c` will jump ahead in the queue so it runs before `b`, it is true that works.  But I don't think I need to enable the **preemption** action in Volcano to get that functionality.  The point of this issue is that with and without the **preemption** action the result is the same, and I was unde

[2022-01-27 00:32] k82cn commented on #1982
Design is not necessary for deashboard, most of contributor are backend developers right now :)
That'll be great to have a dashboard for volcano job/queue/task, similar to OpenShift :)

[2022-01-27 00:52] #1982 closed

[2022-01-27 01:22] kye308 commented on #1956
Hi all,

I was able to fix this issue by cherry-picking https://github.com/volcano-sh/volcano/pull/1719. Would it be possible to cherry-pick that change into the v1.4.0 release?

[2022-01-27 01:34] william-wang commented on #1956
@kye308 Sure. It's reasonable to cherry-pick it to v1.4.0.

[2022-01-27 09:59] hwdef commented on #1772
@Robert-Christensen-visa
I think you are right, I'll do some experiments in detail and check the code, and I'll reply when I get an accurate result.

[2022-01-28 03:36] robertchristensen commented on #1962
@Thor-wl I looked into this a little more to see what is going on.  It seems like others might not have an issue, but I am seeing this in the cluster I am working on.  I think it might be because we have [OwnerReferencesPermissionEnforcement](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#ownerreferencespermissionenforcement) enabled.  According to the documentation

[2022-01-28 18:36] sakkshm26 commented on #1982
Ok, is there any website from which I can take reference? Also, shall I use React.js for developing it?

[2022-01-29 01:05] k82cn commented on #1982
here is a demo video of OpenShift: https://www.youtube.com/watch?v=ude36NiiWMc , and here are some usefull link on OpenShift dashboard: https://cloud.redhat.com/blog/openshift-4-2-the-new-cluster-overview-dashboard .

It's ok to only focus on volcano related CRDs, e.g. job/queue/jobflow and configurations.

Aha, you're the boss :)

[2022-01-29 01:37] kye308 commented on #1956
@william-wang do you have any estimate on when this can be included in the v1.4.0 release on dockerhub?

[2022-01-29 01:43] #1962 closed

[2022-01-29 13:01] #1706 closed

[2022-02-01 22:47] d4l3k commented on #1765
This issue still exists since it's an underlying Kubernetes behavior

[2022-02-06 01:38] k82cn commented on #1982
btw, here's the repo for dashboard: https://github.com/volcano-sh/dashboard

[2022-02-07 01:32] william-wang commented on #1956
@kye308 The bugfix has been merged to release-1.4 branch. We planed to update the image on dockerhub this week.

[2022-02-07 02:35] jazka commented on #1947
@Thor-wl The release-1.5 has merged this bug fix, but the image with tag v1.5.0 in dockerhub is still old, do you have any plan when to publish new image? Or should I build the image myself from release-1.5?

[2022-02-07 03:24] Thor-wl commented on #1947
That's strange. Let me take a check. Yes, we plan to release the v1.5.0 recently and then will push a new image to dockerhub. If it is urgent for you, you can also build an image yourself from branch release-1.5.

[2022-02-07 04:30] william-wang commented on #1947
@Thor-wl Can we make the ci push the new image to dockerhub once a new pr is merged?

[2022-02-07 23:25] kye308 commented on #1956
@william-wang :+1: thanks for the update

[2022-02-08 00:37] #1756 closed

[2022-02-08 01:19] Thor-wl commented on #1947
We have made a periodic task in CI to build the latest image and push it to the dockerhub everyday. I think that's also available.

[2022-02-08 02:20] hwdef commented on #1706
This bug has not been reproduced in 1.5.0, please upgrade to the latest version and try.

[2022-02-09 04:47] william-wang opened #2001 "Add Kubernetes compatibility matrix to readme"
#### What would you like to be added:
Add Kubernetes compatibility matrix to readme.

#### Why is this needed:
Add Kubernetes compatibility matrix to readme to make it easier for users to plan their upgrade.

[2022-02-09 09:24] hwdef commented on #1940
/assign

[2022-02-09 14:19] k82cn commented on #1940
@hwdef , would you also help to fix the CI issue ?

[2022-02-10 02:14] xiaoanyunfei opened #2005 "refresh volcano membership"
#### What would you like to be added:
I lost my two-factor authentication app and recovery code, so I had to recovery my github account .
Then I lost volcano membership.

I'm sorry for that. Will you please refresh my membership, thank you.

my previous issue: https://github.com/volcano-sh/volcano/issues/1839

#### Why is this needed:

[2022-02-10 02:38] Thor-wl commented on #2005
OK. @kevin-wangzefeng  Can you help for that?

[2022-02-11 09:35] Yikun opened #2010 "Failed to install volcano arm64 (error validating)"
**What happened**:
[code]
**What you expected to happen**:
Install successfully

**How to reproduce it (as minimally and precisely as possible)**:
install with arm env

**Anything else we need to know?**:

**Environment**:
[code]

[2022-02-11 10:20] merryzhou opened #2012 "cannot set task.maxRetry==0"
when set maxRetry == 0, it was reset to 3。 what i want is not retry， turn to taskFailed immediately

https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/cache/cache.go#L317

[2022-02-11 12:45] #2010 closed

[2022-02-11 22:54] kye308 opened #2014 "Issue in `LessEqual` affecting enqueueability decision of `proportion` plugin (in v1.4.0), requesting hotfix to v1.4.0"
**What happened**:

When there are no jobs running in a queue, and the queue capability specifies a ScalarResource (i.e. gpu) attribute other than cpu/memory, the proportion plugin will always chose to reject enqueueing new jobs.

Problematic comparison code in `proportion` plugin: https://github.com/volcano-sh/volcano/blob/8423cb55aa539065c39733001c366194965ef0d3/pkg/scheduler/plugins/proportion/

[2022-02-11 22:55] kye308 commented on #2014
The observed issue was fixed when we added this patch: https://github.com/volcano-sh/volcano/pull/1769. Can we add this to `v1.4.0` as well.

[2022-02-12 03:55] Thor-wl commented on #2014
Yes, glad to see that.

[2022-02-12 03:55] Thor-wl commented on #2014
/cc @hwdef Can you help for that?

[2022-02-12 03:56] hwdef commented on #2014
@Thor-wl
ok, I'll check this.It may have to wait until Monday.

[2022-02-13 03:01] GuoYingLong opened #2015 "About memory and hard disk limitations in pods"
Pods created by the scheduler are configured with memory and hard disk limits. Will the Pod restart when resource usage exceeds the limit?

[2022-02-13 03:21] k82cn commented on #2012
if `maxRetry < 0`, set it to 3 :)

[2022-02-14 01:24] Thor-wl commented on #2015
I'm sorry for not getting the point. What do you mean of pods created by the scheduler?

[2022-02-14 02:09] zhenxiu opened #2017 "Tmp question, i cannot sign in volcano slack, how can i do?"
i use my slack mail, i got no account; i use apple id, i got system error:
![apple_slack](https://user-images.githubusercontent.com/14161887/153788141-acec16ec-2a8c-4e19-9ba4-28cfd82dcb7d.png)

[2022-02-14 02:58] shinytang6 commented on #2015
I guess you are asking whether the pod will restart if the actual resource utilization exceeds the limit? @GuoYingLong

[2022-02-14 03:00] shinytang6 commented on #2017
Not sure what's going on, maybe you should try with your google account again, l just succeeded in logging in )

[2022-02-14 03:08] merryzhou commented on #2012
how to compatible with existing job?

[2022-02-14 03:27] GuoYingLong commented on #2015
Yes, it is

[2022-02-14 03:29] #2015 closed

[2022-02-14 03:29] GuoYingLong commented on #2015
Yes, it is

[2022-02-14 03:56] GuoYingLong opened #2018 "Will the Pod restart if the actual resource utilization exceeds the limit?"
Will the Pod restart if the actual resource utilization exceeds the limit?

[2022-02-14 04:03] shinytang6 commented on #2015
It depends on your pod restartPolicy, default it's set to Always, if your pod is OOM, it will restart automatically.

[2022-02-14 06:05] #2018 closed

[2022-02-14 06:38] zhenxiu commented on #2017
why i cannot log in with outlook

[2022-02-14 06:41] hwdef commented on #2017
This should be a slack question and shouldn't be asked here

[2022-02-14 06:41] #2017 closed

[2022-02-14 07:50] zhenxiu commented on #2017
i cannot sign up or sign in by google email
![slack_google](https://user-images.githubusercontent.com/14161887/153821985-44cc3c89-d9bb-45e7-b91c-18bad1af68c8.png)

[2022-02-14 08:31] zhenxiu commented on #2017
and where can i ask questions

[2022-02-14 08:33] hwdef commented on #2017
If you are a Chinese, you can join the WeChat group.

[2022-02-14 08:38] zhenxiu commented on #2017
ths, could you provide the wechat group info?

[2022-02-14 12:19] Thor-wl commented on #2017
Pls add the wetchat account "k8s2222" as friend and type "volcano".

[2022-02-15 12:08] yolgun commented on #1775
Hi @Thor-wl. I am able to reproduce this issue using a GKE Kubernetes cluster with autoscaling enabled. Creating a podgroup that can't be satisfied with current resources is enough. Prior to v1.4.0, `scaleUp` is triggered which can be seen in events. After v1.4.0, this event doesn't happen.

Not sure on how to reproduce it locally, but we have investigated it further on our side. It happens after

[2022-02-16 20:42] Robert-Christensen-visa opened #2024 "podgroup not created if OwnerReferencesPermissionEnforcement enabled in Kubernetes"
I am trying to have volcano schedule independent pods so I can have these pods use a specific queue.  I am doing this so volcano can keep track of resources used by the cluster.

A statefulset is created that creates a pod that will be scheduled by Volcano.  The Volcano controller is not able to create a podgroup for the pods created by the statefulset, so the pod are never scheduled.  I see the f

[2022-02-16 21:01] Robert-Christensen-visa opened #2025 "admissions controller using deprecated API for webhooks"
**What happened**:

docker desktop has updated their version of Kubernetes to v1.22.  This release of Kubernetes has several deprications, including [admissionregistration](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#webhook-resources-v122)

Seeing this in the logs for the `volcano-admission` controller.  It is not able to register the webhooks.

[code]

The code that registe

[2022-02-17 05:16] #1751 closed

[2022-02-17 05:16] #1753 closed

[2022-02-17 07:18] shinytang6 commented on #2024
Is there any good solution? It seems the only way is to add "/finalizers" update permission on all the basic resource.

[2022-02-17 07:23] lattsi opened #2027 "Documentation for using Spark-submit is missing"
#### What would you like to be added:
My company would like to use Volcano for gang scheduling Spark application. We are using spark-submit (instead of Spark operator) to run Spark jobs. However, reading [volcano documentation](https://volcano.sh/en/docs/spark_on_volcano/), I do not see any guide to how to set it up. Could you point me to resource that contains the instruction? I'd love to contrib

[2022-02-17 08:15] Thor-wl commented on #2027
I'm sorry for the lack of docs. We are always keeping refresh the docs recently. Thanks for your feedback. We will try to add the guidence.
/assign @Thor-wl @renhuanyu

[2022-02-17 08:31] elinx commented on #1860
Looks like I can't reproduce this issue, is there any more details you can provide? I follow these steps:

1. create a queue with capacity 4CPUs
2. create a job using the queue with 3 replicas each has a 1 CPU request, and it succeeds
3. create a job using the same queue with 2 replicas each has a 1 CPU request, and it failed

[2022-02-17 20:23] lattsi commented on #2027
Thanks Thor-wl. In the meantime, is there any sample / resource I can look at? For gang scheduling, it's a bit unclear to me what and where the configs should be, for instance, where should gang scheduling flag, grouping and resource limits go, for spark-submit route.

[2022-02-18 01:30] william-wang commented on #2024
@Robert-Christensen-visa Totally agree with you. We need consider crd like spark-operator/flink-operator with all basic resource as well. Volcano is supposed to support arbitrary pod scheduling in the cluster.

[2022-02-18 01:44] Thor-wl commented on #2027
Well, AFAK, there seems few examples in the materials about that. But I believe there must be Volcano end users who makes use of Spark submit and gang scheduling. I can help take a consultant.
@Yikun @zen-xu Can you help for that?

[2022-02-18 01:54] Thor-wl commented on #2025
@Robert-Christensen-visa Thanks, Robert, this report is meaningful. Let me take a fix.
/assign

[2022-02-18 02:51] william-wang commented on #2027
@Yikun Thanks YiKun's great contribution on Spark with Volcano. We can work together to make a guide doc with new added parameter and usage :)

[2022-02-18 03:32] hwdef commented on #2014
@Thor-wl I think this issue can be closed.

[2022-02-18 04:09] #2014 closed

[2022-02-18 04:53] william-wang opened #2028 "support creating podgroup in scheduler component"
#### What would you like to be added:
Add a option for scheduler to support creating podgroup in scheduler component.

#### Why is this needed:
Some Volcano users only integrate scheduler component of Volcano in their systems. They have to manage the podgroup creating themselves. It is necessary to enhance Volcano scheduler to create podgroup automatically for these uses.

[2022-02-18 05:57] hwdef commented on #2028
Scheduler integrated controller work?

[2022-02-18 06:09] lattsi commented on #2027
THanks for the info Yikun. Could you point me to the issue for adding Spark support for gang scheduling so I can keep track of the progress and timeline?

[2022-02-18 08:03] william-wang commented on #2028
Yes, only for podgroup.

[2022-02-18 09:56] aidaizyy commented on #1860
@elinx
It is scheduled with pod by pod.

There are a total of 5 pods here. When 4 pods are scheduled, the resources are full and the 5th pod will not be scheduled.

If the second job has only one pod and wants 2 cores, it is possible to reproduce the scene.

In addition, there is also an important premise that you cannot set min resource of podgroup. Otherwise, the second job will not be enqueued.

[2022-02-18 19:25] kye308 commented on #1956
@william-wang any updates on the dockerhub image? would it include this change as well: https://github.com/volcano-sh/volcano/pull/2026

[2022-02-20 14:50] #1758 closed

[2022-02-21 08:20] zhiyxu commented on #2012
@merryzhou We also had the same problem.
In fact, the `maxRetry` field of volcanoJob is different from the `backoffLimit` field of the   native Kubernetes Job:
`backoffLimit` refers to the number of retries after the initial run of Failed, so `the maximum number of runs = 1 + backoffLimit`;
The `maxRetry` refers to the maximum number of runs. For example, if `maxRetry`=3, after the initial run fai

[2022-02-21 08:57] zhiyxu opened #2033 "volcano-controller has confusing logs"
**What happened**:
After successfully running a volcanoJob with 12 minAvailable tasks，checking the log of volcano-controller, I get lots of following logs:
[code]
This log shows that my job is still in `Pending` state because the number of tasks hasn't reached minAvailable, but all tasks of the vcJob are running normally.
The code [locate here](https://github.com/volcano-sh/volcano/blob/master/pkg

[2022-02-22 08:52] vincentlau0493 opened #2034 "Preemption not working properly for high priority job"
**What happened**:
Low-priority running jobs will not be preempted by pending high-priority jobs when resource is not enough.

**What you expected to happen**:
Low-priority running job should be evicted and then high priority job starts running.

**How to reproduce it (as minimally and precisely as possible)**:
volcano-scheduler.conf
[code]
I created two priority class:
[code]
and two jobs with di

[2022-02-22 09:05] william-wang commented on #2034
@vincentlau0493 Thanks for your reporting. We have added it in pipeline and take a look as soon as possible.

[2022-02-22 09:58] hwdef commented on #2034
#1772
may be the same problem

[2022-02-22 10:58] vincentlau0493 commented on #2034
Yes, I read that issue, it seems like the problem hasn't been solved, right? I expect the running job would be evicted when high priority job needs resource, but it is not working as my expection. Did I configure anything wrong?

[2022-02-22 10:59] vincentlau0493 commented on #2034
Yes, I read that issue, it seems like the problem hasn't been solved, right? I expect the running job would be evicted when high priority job needs resource, but it is not working as my expection. Did I configure anything wrong?

[2022-02-22 11:01] hwdef commented on #2034
No, this issue has not been resolved.  Just had some discussions, no conclusion yet

[2022-02-22 11:06] vincentlau0493 commented on #2034
I see. Since my team is going to use this feature, is there any trick to achieve it? I know the low priority pod can be preempted by higher one using native k8s.

[2022-02-23 01:59] hwdef commented on #2034
This issue is still under investigation. If there is any new progress, I will reply again. If you have any information that you want to synchronize, please share with us.😀

[2022-02-23 09:03] #1860 closed

[2022-02-23 12:48] Sharathmk99 commented on #2034
Very much interested in this feature. Premeeting low priority jobs when high priority jobs comes in

[2022-02-24 03:11] vincentlau0493 commented on #2034
Try this conf:
[code]
It works for me now.

[2022-02-24 13:36] liuchintao commented on #2012
So, what's the meaning of `maxRetry`?  `maxRetry` should represent the maximum number of retried.
Perhaps, `maxTry` or `maxRun` is more appropriate to indicate the maximum number of times of runs.

[2022-02-26 02:54] Thor-wl opened #2037 "Resource not allocated should be reserved for running jobs whose podgroup contains minResource in proportion plugin"
**What happened**:
Background:
* Only 1 node whose allocatable resource is {cpu: 8c, memory: 16G} in the cluster
* Besides the default queue which has no jobs inside, create a queue: {name: test-queue, capability: {cpu: 2c, memory: 4G}, weight: 1}
* The `spec` for all the podgroups created for the following Spark jobs: {minResource: {cpu:2c, memory: 2G }, queue: test-queue}
* The request resource

[2022-02-26 10:34] william-wang opened #2039 "enhance Volcano's compatibility with all typical scheduling policy in default scheduler"
#### What would you like to be added:
enhance Volcano's compatibility with all typical scheduling policy in default scheduler

#### Why is this needed:
Volcano is compatible with most of scheduling policies in default scheduler. There is still some
policies are not supported in Volcano such as pod topology spread. We need to fill these gaps.

[2022-02-26 10:45] william-wang opened #2040 "refator 'enqueue' scheduling action"
#### What would you like to be added:
refator `enqueue` scheduling action

#### Why is this needed:
The `enqueue` action is a mandatory action right now. It would be wonderful to make it optional and configurable.
Firstly the integration code with other community will be more simple and easy.
Secondly the other actions no need to depend on `enqueue` . All the actions are decoupled.

Actions:
1. Re

[2022-02-28 10:04] cheimu commented on #1863
Same problem here.
<img width="3007" alt="image" src="https://user-images.githubusercontent.com/13050415/155963763-98ca4125-7f5d-4492-b00e-9110a9cdaba1.png">
job yaml is https://www.kubeflow.org/docs/components/training/pytorch/#monitoring-a-pytorchjob which is exactly the same as the one from kubeflow website tutorials. <br>
training operator version is 6c115f6e00e3f2c979c6aa4bf2d93906a646b99d

A

[2022-02-28 11:35] Thor-wl opened #2041 "The initial phase of podgroup status is empty"
It is not so reasonable for podgroup for its initial phase is empty.  It should be 'pending'.

[2022-02-28 13:27] #2041 closed

[2022-02-28 17:11] Sharathmk99 commented on #1376
@k82cn Any update on this? We are looking similar to this.

[2022-02-28 19:28] adamnovak commented on #1901
@jiangkaihua I've tried a test procedure very similar to yours, and I haven't been able to get my middle job to run when its SLA expires, even when using `batch.volcano.sh/v1alpha1` `Job` AKA `vcjob`.

Can you point to anything here that you think might be responsible for my not observing a pause in the flow of post-jobs having their pods created, while my middle job with an SLA has a pending pod?

[2022-02-28 20:14] adamnovak commented on #1901
I tried affinity-ing my jobs onto only my pre-existing nodes, and also removing the `schedulerName` from the bods and having it only on the jobs. I still don't see the expected behavior; my later jobs still don't seem to be stopping for the job with the SLA.

[2022-02-28 22:19] prokher commented on #1687
It is still needed

[2022-03-01 01:12] Thor-wl commented on #1687
I agree with that. It will be more friendly for users to operate the objects.

[2022-03-01 01:15] Thor-wl commented on #1376
It's an important feature that we are considering to support this year.

[2022-03-01 01:19] k82cn commented on #1376
Let me draft a design doc for this feature :) And we're going to handle this feature at https://github.com/volcano-sh/federation .

[2022-03-01 01:49] hwdef commented on #1687
/assign @hwdef

[2022-03-01 02:02] Megan96 opened #2044 "PodGroup may lost if you delete a pending vcjob and then recreate it immediately."
**What happened**:
If you delete a pending vcjob and then recreate it immediately,  the podgroup of vcjob may lost.

**What you expected to happen**:
Recreate a new vcjob and a new podgrop.

**How to reproduce it (as minimally and precisely as possible)**:
Recreate immediately after deleting the pending vcjob, repeat the above behavior twice, there will always be one time to lose podgroup.

**Anyt

[2022-03-01 02:17] hwdef commented on #1687
What if we rename `vcctl` to `kubectl-volcano` and use it as a plugin for `kubectl`

we can close queue by

[code]

then, delete the queue

[code]
If this is cumbersome, we can optimize the command

[code]

[2022-03-01 02:17] hwdef commented on #1687
@prokher @k82cn @Thor-wl

[2022-03-01 03:08] Thor-wl commented on #1687
Perhaps we can take different designs to the weekly meeting this week. It is an interesting issue. Let's get more voice from the community.

[2022-03-01 07:24] shinytang6 commented on #2044
Thanks for your report. l am able to reproduce this issue, let me take a look )

[2022-03-01 07:25] Megan96 commented on #2044
您的邮件我已经收到，我会尽快查阅的，谢谢！

[2022-03-01 08:38] jiangkaihua commented on #1901
@adamnovak Thank you for your question. In my opinion, the most possible reason is the auto-scale feature.

[2022-03-01 10:41] prokher commented on #1687
In our scenario, we will operate Volcano from the node which does not have `vcctl` installed. Moreover, some parts of the system will work through the Kubernetes REST API, which also knows nothing about `vcctl`. I already shared my considerations [above](https://github.com/volcano-sh/volcano/issues/1687#issuecomment-979910795):

Kubernetes seems to follow the declarative approach of describing its

[2022-03-01 15:53] adamnovak commented on #1901
That explanation definitely helps me understand a bit more about what I am seeing.

I applied some node selectors to prevent my workload from triggering scale-up (because the autoscaler can tell the new nodes wouldn't be suitable for the pods), and that didn't seem to help.

But your description of how `sla` works explains that: it doesn't kick in until at least one pod finds space to run. So if *

[2022-03-01 19:04] adamnovak opened #2045 "`elect`/`reserve`/`reservation` system's locked nodes are not actually locked, and other pods schedule on them"
**What happened**:

As noted in https://github.com/volcano-sh/volcano/issues/1901#issuecomment-1055588056, I'm trying to get large single pods to not be starved by smaller pods. I need Volcano to reserve some room for them on the nodes. `sla` apparently only solves starvation for multi-pod jobs.

I tried using Volcano with `actions: "enqueue, elect, allocate, backfill, reserve"`, and the `reservat

[2022-03-02 00:59] Thor-wl commented on #2045
Thanks for your feedback. Let me take a check. Before this feature was released, it has been tested locally for several different scenarios.
/assign

[2022-03-02 01:04] Thor-wl commented on #1863
@cheimu Have you tested for the latest version? @william-wang has merged the bug fix recently.

[2022-03-02 01:42] hwdef commented on #1687
@I see. You are more expecting to manage the queue only through kubectl. We'll discuss this at our community meeting.

[2022-03-02 01:43] hwdef commented on #1687
@prokher
I see. You are more expecting to manage the queue only through kubectl. We'll discuss this at our community meeting.

[2022-03-02 02:08] #1561 closed

[2022-03-02 14:00] Sharathmk99 commented on #2034
@vincentlau0493 It's not working for me.
Below is my configuration

[code]

Below are low priority jobs,

[code]

Below is high priority job,

[code]

Pending pogroup details,
[code]

[2022-03-02 15:27] adamnovak commented on #1901
I tried it with some node selectors that should have blocked scale up:

[code]

I still saw the small pods starving my large pod. If I remember correctly, my node selectors worked and the cluster did not change in size during that run.

I could try and take the autoscaler offline completely for the test, but I don't think I'll see a different result. Moreover, we eventually do want our cluster to

[2022-03-02 18:50] adamnovak commented on #1901
I ran a couple more runs. The first one I actually didn't manage to starve the job and it completed promptly, but the second one I starved it for about 20 minutes before I gave up.

The set of pods looks more or less like what I described above:

[code]

jas-construct-pt-hprc-mc38-f1-gc38-k32-0302-1446-dbqcv is another workload on the default scheduler taking 24 cores, and about 20 cores are used

[2022-03-03 03:28] jiangkaihua commented on #1901
@adamnovak Thank you for your model and calculation, I get your scenario now. I think the key issue is that `overcommit default-factor` was too large in your case, causing there are always pending `postsleep` pods through `enqueue` and created.

How about try setting `overcommit factor` to `1.0`? Then no new pod would be created until all current pending pods got scheduled. The large `middle` job

[2022-03-03 08:08] k82cn commented on #2045
AFAIK, we're going to replace this feature by SLA; is there any update?

[2022-03-03 15:14] tFable commented on #2044
I wanted to +1 this as I'm also seeing it. re-creating the job with a different name is the only way to get the podgroup to be created.

[2022-03-03 16:12] tFable opened #2047 "Scheduler fails to start after installing Volcano via Helm"
**What happened**:

After installing Volcano using Helm from [here](https://github.com/volcano-sh/volcano/tree/release-1.5/installer/helm/chart/volcano) (release 1.5 branch), the volcano-scheduler pod fails to start. The logs from the scheduler pod show

[code]

**What you expected to happen**:
I expect the scheduler to start. This issue doesn't occur when I install volcano with
`kubectl apply -f

[2022-03-03 16:44] ldd91 commented on #2047
Looks like the crd was not installed,you can exec "kubectl get crd |grep queues.scheduling.volcano.sh" to check if crd exits

[2022-03-03 16:52] tFable commented on #2047
Hey @ldd91 , thanks for your message.

The CRD is indeed not installed when installing Volcano via helm

[code]

This is not the case when installing using `kubectl apply -f volcano-development.yaml`. In this case, the CRD does get installed.

Is the Helm chart expected to install the CRD?

[2022-03-03 17:51] tFable opened #2048 "Admission controller: Failed to register mutating admission webhook"
**What happened**:
The logs of the volcano-scheduler pod show this error:

`Failed to register mutating admission webhook (/jobs/mutate): the server could not find the requested resource`

**What you expected to happen**:
Not see this error
**How to reproduce it (as minimally and precisely as possible)**:
From the Volcano 1.5 release branch, install volcano using:

`kubectl apply -f installer/volc

[2022-03-03 18:23] tFable commented on #2044
Maybe this is helpful. I noticed that when I ran into this and I was creating jobs but no podgroups were created, the admission-controller was throwing the following error over and over again until the pod was deleted (and was automatically re-created)

[code]

[2022-03-04 02:11] ldd91 commented on #2047
I use https://github.com/volcano-sh/volcano/blob/master/installer/volcano-development.yaml#L8794 to  deploy volcano cluster,queue crd was installed

[2022-03-04 06:20] #1101 closed

[2022-03-04 08:49] adamwoolhether commented on #1281
This is becoming a problem when i recently updated some of my deps.

 k8s.io/kubernetes isn't supposed to be imported, read here: https://github.com/kubernetes/kubernetes/issues/90358#issuecomment-617859364

[2022-03-04 08:52] adamwoolhether opened #2051 "Remove direct dependency k8s.io/kubernetes"
Requesting #1281 be reopened.

This library is not supposed to be used as a direct import, and is causing a lot of issues when upgrading dependencies.
see here: https://github.com/kubernetes/kubernetes/issues/90358#issuecomment-617859364

[2022-03-04 09:57] vincentlau0493 commented on #2034
It looks like the podgroup status of vc-job3 is PENDING, however it should be INQUEUE, which means the job was not accepted by queue. Try using one job as low priority sample, and restart the vc scheduler to clear cache.

[2022-03-04 12:04] tFable commented on #2047
Hey @ldd91 ,

I had the same experience when installing via volcano-development.yaml. All CRDs are installed and Volcano appears to work properly.

Is the Helm chart not supposed to work, then?

t

[2022-03-04 14:08] tFable opened #2052 "Smaller jobs are scheduled ahead of higher priority jobs"
**What happened**:
For queued jobs in a single queue and in a single namespace, jobs requesting fewer resources are being favored ahead of jobs with a higher value in their `priorityClassName`.

When all queued jobs have the same resource requests, the priorityClassName _is_ being honored (jobs with higher value in priorityClassName are executed ahead of jobs with a lower priorityClassName.

Howev

[2022-03-04 14:40] tFable commented on #2052
It's worth noting that the individual tasks don't have a `priorityClassName` defined.

Here is the entire job template with the tasks:

[code]

[2022-03-04 17:52] ldd91 commented on #2052
You can add preempt action and have a try

[2022-03-04 17:56] tFable commented on #2052
Hi @ldd91,
Thanks for the message.
I'm specifically looking for already-running jobs/pods to not be evicted/preempted (our software doesn't support it).

Will adding the preempt action evict lower-prio jobs (or some of their pods) as soon as higher priority jobs get scheduled?

For context: The job-level `minAvailable` and the sum of all task replicas are equal.

Thanks again!
t

[2022-03-04 18:01] tFable commented on #2052
FWIW, I did add the `preempt` action and the behavior remained the same.

Here's the full config map (I re-installed Volcano to apply this so the change is picked up)

[code]

[2022-03-05 02:14] #2037 closed

[2022-03-05 20:49] tFable commented on #2052
This seems to be happening even with the `drf` plugin is not added in the list of plugins. I'm perplexed and any help would be greatly appreciated. This is currently a blocker for us to get Volcano out of PoC.

[2022-03-05 23:13] tFable commented on #2052
The plot thickens...

I now believe my issue is related to what the folks in #1901 are seeing.

I think the root cause is the the `overcommit-factor` of 1.2. This is what I believe happens.

- Job 1, that takes up the entire cluster starts running (priority `regular`)
- job2 that asks for the entire cluster is queued (priority, `regular`)
- job3 that asks for a small number of pods is queued (prio

[2022-03-06 00:43] tFable commented on #2052
This issue

[code]

This issue occurs when the `v1.5.0` branch, which uses the `:latest` images from Docker Hub for the below containers. These errors are not being thrown when using the 1.5.0 images, however, the behavior is still not the expected (podgroups are being put in `inqueue` status when waiting and therefore pods of `pending` status are being created)

`volcanosh/vc-webhook-manager:v1.5

[2022-03-06 00:52] tFable opened #2053 "float64 error from arguments.go:65 when adding overcommit-factor to configmap"
**What happened**:
After changing the `configmap` to add a `overcommit-factor` and installing volcano from [this](https://github.com/volcano-sh/volcano/blob/release-1.5/installer/volcano-development.yaml) file on the `v1.5` branch and changing the configmap getting this log continuously

[code]

This is how the `overcommit-factor` was defined:

[code]

However, if on the `volcano-development.yaml`

[2022-03-06 02:42] #1472 closed

[2022-03-07 00:44] tFable commented on #2052
I am not able to completely disable overcommit. Even when I set
[code]
And job1 is designed to take up the entire cluster, if job2 is small enough, it will also go in `inqueue` mode and have pods pending. It seems to me that the overcommit factor never goes to 1 (i.e. no overcommit)

That said, I'm seeing the behavior (small low-prio job runs ahead of large high-prio job) even when job2 is NOT sma

[2022-03-07 00:56] tFable commented on #1901
Hey all,

Sorry to dogpile on this but I have actually run into a similar issue. In my use-case, I was trying to get jobs to the front of the queue by using `vcjob.spec.priorityClassName`, however, smaller jobs seem to always get ahead of the large, high-prio job. I opened an issue on this (#2052 )

I am now starting to think that my scenario is much more similar to this issue than I thought, even

[2022-03-07 01:40] william-wang commented on #2053
/assign @Thor-wl please help to have a look.

[2022-03-07 01:45] ldd91 commented on #2052
Sorry for i didn't see your scenario doesn't support preemption/eviction,I'll try to reproduce it

[2022-03-07 02:07] Thor-wl commented on #2053
@tFable Thanks for the feedback.
/assign

[2022-03-07 02:10] tFable commented on #1901
Hey @jiangkaihua , thanks so much for your message!

I'm trying to digest it a bit (sorry, I'm pretty new to Volcano but I think I'm learning fast 😄 )

So is it the case that `gang` should NOT be used with the `sla` plugin?

Also, importantly, does disabling the `gang` plugin also disable Volcano's gang scheduling capability (i.e. "don't start any pods of this group unless ALL pods can be started"

[2022-03-07 02:15] ldd91 commented on #2052
Here is my confimap
kubectl get configmap volcano-scheduler-configmap  -n volcano-system  -o yaml
apiVersion: v1
data:
  volcano-scheduler.conf: |
    actions: "enqueue, allocate, preempt, reclaim, backfill"
    tiers:
    - plugins:
      - name: priority
      - name: gang
      - name: conformance
    - plugins:
      - name: overcommit
      - name: drf
      - name: predicates
      - name: p

[2022-03-07 02:23] jiangkaihua commented on #1901
Yes, disabling `gang` plugin would stop Volcano's gang scheduling capability. You may try configuration mentioned above, it should help. Thank you for your reply.: )

[2022-03-07 02:34] ldd91 commented on #2052
In My scenario if the high priority job's request resource was greater than idle resource in cluster,the low priority (request less than idle resource in cluster)will be inqueue and high priority job is pending

[2022-03-07 02:38] tFable commented on #1901
Thanks so much @jiangkaihua! It seemed that I prematurely replied before seeing your recommendation to put `gang` lower. For some reason your comment above did all load for me at first.

I'll give the above a shot. Thanks so much!

Any clues on how I can troubleshoot why I see `pending` pods even when I have `overcommit-factor: 1.0`?

What I mean is this:

- Cluster is empty and `overcommit-factor

[2022-03-07 02:39] tFable commented on #1901
Also, I'm using volcano from [this](https://github.com/volcano-sh/volcano/blob/release-1.5/installer/volcano-development.yaml) file with the only difference that I'm changing the docker images to pin to `1.5.0` because of the issue I saw that's described in this ticket (#2053 )

[2022-03-07 02:44] tFable commented on #1901
But, to be fair to @adamnovak and not taint this issue with my replies, perhaps is best if we take that discussion about `overcommit-factor: 1.0` to the other issue I opened (#2052)? 😃

[2022-03-07 02:49] tFable commented on #2052
Thanks so much for elaborating @ldd91!

This is also what I'm seeing. To confirm, when you say "idle resource", does that include the resources "created" by the `overcommit-factor` (1.2 by default)?

That is, if overcommit-factor is truly `1.0`, then both the lower and higher priority jobs should be in `pending` if the cluster is completely utilized, correct?

[2022-03-07 02:55] tFable commented on #2052
Also, even if the low priority job doesn't fit in the cluster's idle resource (including overcommit-factor) and both low and high priority jobs were `pending`, I still observed the smaller, low-priority job started ahead of the high-priority job. Please note that the low priority job was submitted before the high-priority job.

I wonder if this is due to the fact that, as pods from the deleted job

[2022-03-07 03:32] Thor-wl opened #2056 "Suggest to add a phase `completed` for podgroup"

[2022-03-07 03:39] jiangkaihua commented on #2052
@tFable `overcommit-factor` is 1.2 by default, and should be no less than 1.0. So `1.0` should work and block overmuch jobs going through `enqueue` action and creating pods. So I guess it may be caused by several possibilities：

1. the resource request of volcano job was not correct in yaml, then `minResource` of this job would be `0` and the job would go through `enqueue` action;
2. some other pl

[2022-03-07 03:45] ldd91 commented on #2052
In my scenario overcommit-factor is default(1.2)

[2022-03-07 03:58] tFable commented on #2052
Thanks all!

@jiangkaihua

I don't believe this is the case as I can see in the podgroup status of job2 the minavailable (which is equal to the number of pods in the job)

I tried your suggestion with adding a 3rd tier of pluggins. The behavior is the same (I still see "pending" pods for job2 when job1, which takes the entire cluster, is running)

The configmap does look a bit different visually w

[2022-03-07 06:18] william-wang commented on #2056
It's reasonable and necesary, currenlty we have to use multiple conditional judgments to check whether the podgroup is completed.  Please  refer to #2038.

[2022-03-07 06:59] Thor-wl commented on #2053
@tFable Hey, I've overviewed and checked the reproduce steps mentioned above. And it seems that the docker image tag is also `v1.5.0` in the branch `release-1.5`. So what's the difference between the modifications you do above?

[2022-03-07 07:12] hwdef opened #2058 "Suggest to add a field to queue.spec indicating queue open or closed"
#### What would you like to be added:

Add a field to queue.spec, by modifying this field, the queue can be turned on or off.

#### Why is this needed:

After adding this field, the user can open or close the queue through kubectl.

REF: #1687

#### optional name:

* switch: open/close
* state: open/close
* open: true/false
* ...

[2022-03-07 07:12] hwdef commented on #2058
/assign @Thor-wl @william-wang @k82cn

[2022-03-07 07:19] Thor-wl commented on #2053
Well, I reproduce this phenomenon with the master branch. Let me take a fix.

[2022-03-07 07:29] Thor-wl commented on #2053
I got the root reason. The configuration you set for scheduler is format error:
[code]
There is a redundant blank space between `:` and `1`. So the parameter for parse will be "". Pls keep no space between `:` and `1`.

[2022-03-07 07:30] Thor-wl commented on #2053
/close

[2022-03-07 07:30] #2053 closed

[2022-03-07 08:28] k82cn commented on #2058
Can we delete all jobs fristly, and then delete the queue; we can handle those actions in `QueueController`, similar to namespace.

[2022-03-07 08:45] Thor-wl commented on #2051
OK, that issue has already been reopen.

[2022-03-07 08:47] hwdef commented on #2058
It's really simpler, but I am worried that this will delete the job by mistake.
What if when deleting a queue, check if there are still jobs in the queue, and refuse to delete the queue if there are jobs?
I'm not sure which one to use, the one you said looks good and is more in line with the logic of kubernetes.

[2022-03-07 08:49] Thor-wl commented on #1281
I've met the same problem when update the dependencies. The way I solved it is that add the indirect dependency and the version to the `replace` module and then try again.

[2022-03-07 08:56] #2005 closed

[2022-03-07 09:30] Thor-wl commented on #2048
Hey, @tFable I've tried to reproduce the phenomenon but it seems everyting goes well both in master and release-1.5 branch. Have I missed something else?

[2022-03-07 09:35] Thor-wl commented on #2047
Hey, @tFable I used helm to install Volcano and it works for me. I noticed that the error your reported has the same root reason with https://github.com/volcano-sh/volcano/issues/2048. So I guess there is not someting wrong with helm installation. Are you sure the environment is available?

[2022-03-07 14:20] tFable commented on #2047
Hey @Thor-wl, thanks for your note.

When I install volcano via help (or via the volcano-development.yaml) is after I have uninstalled volcano using the same method. For example, the `default` queue doesn't exist at the time of the installation with either method.

Could this be some kind of race condition?

Additionally, can you confirm that installing volcano using the `volcano-development.yaml`

[2022-03-07 14:45] adamnovak commented on #2052
@tFable When you set the overcommit factor to 1.0, do you see the *same* number of pending pods as at 1.2?

I think the overcommit is calculated in terms of total cluster resources, ignoring the fact that they are divided into discrete nodes. So if your pods don't quite fit perfectly onto the nodes, and some resources on each node go unused, Volcano will still create pod(s) to use those unused sli

[2022-03-07 16:03] tFable commented on #2053
Hey @Thor-wl , I found out what caused me to not see the image tags. I was using branch `v1.5` and not branch `release-v1.5`. I didn't realize there were both.

When I switched to `release-1.5` I do see the correct tags. Sorry for the confusion!

[2022-03-07 17:12] tFable commented on #2053
Hey @Thor-wl,

I took the format directly from the code

https://github.com/volcano-sh/volcano/blob/6733851dacd7d4042140f623f9696072ba45b6d1/pkg/scheduler/plugins/overcommit/overcommit.go#L64-L69

Do you what is the exact format the `overcommit-factor` should be written as?

This is something also being discussed in #2052 with @adamnovak

[2022-03-07 18:48] tFable commented on #2052
Hey @adamnovak, thanks so much for your message.

As a result of your message, I decided to take a more careful testing approach to see the behavior difference when I have an `overcommit-factor: 1.0` vs leaving default (`1.2`). There is indeed a difference in behavior that I'll try to explain below.

However, before I provide the long details, I developed a theory while performing the tests:
Is it

[2022-03-08 01:56] Thor-wl commented on #2053
@tFable Hey, I noticed that there are some other reports about this bug and it occurs in the master branch. I will try to reproduce it and give a fix. As to the format, I think what you configure is acceptable for yaml file. It should be more rubust for the code to parse the parameters.

[2022-03-08 03:27] ldd91 opened #2060 "Is there any way to limit the number of sla jobs"
#### What would you like to be added:
In my scenario, we only set sla for urgent vcjob，Is there any way to limit the number of sla vcjobs?
#### Why is this needed:

[2022-03-08 03:33] ldd91 commented on #1977
I can try to reproduce the problem and see if I can solve it
/assign

[2022-03-08 06:59] Thor-wl commented on #2053
@tFable I've submitted the fix and given the analysis in the PR(https://github.com/volcano-sh/volcano/pull/2061). And tests are ok locally. Pls make a confirmation. Thanks!

[2022-03-08 10:50] HecarimV commented on #1967
But there is no task layer in scheduling. Maybe we can directly regard the ongoing tasks as a 'pg' and judge the gang.
Just like any other normal job, except that the check of waiting tasks needs to be skipped.

@shinytang6 @Thor-wl
How do you like

[2022-03-08 11:05] Thor-wl commented on #2060
AFAIK, there is no way to set the number temporarily.
@jiangkaihua

[2022-03-08 17:54] tFable commented on #2052
Hey @adamnovak, @ldd91 , Posting this question in a separate message since this above is quite long?

Is there a way for me to completely exclude a node from volcano's consideration so it's not even considered in the total cluster size calculation? I want to do this for our control plane nodes. Even though volcano doesn't schedule pods on the cp server, it still considers it for the total resource

[2022-03-08 17:58] tFable commented on #1967
My understanding is that this is what the `SLA` plug in does: pods of sla-expired jobs start being reserved so other, smaller jobs cannot take over the resources. Is this correct?

[2022-03-09 00:40] Thor-wl commented on #2052
@tFable Hey. Of course, Volcano support to consider part of nodes, which is a key feture of v1.5. More details can be referred to [here](https://github.com/volcano-sh/volcano/blob/master/docs/design/node-selector.md)

[2022-03-09 01:47] hwdef commented on #1967
@tFable
Not quite right, what I want is to have a plugin that reserves resources for all gang-enabled jobs, no matter how big or small this job is.

[2022-03-09 01:56] jiangkaihua commented on #2060
@Thor-wl Yes, by now `sla` only support setting for all jobs in scheduler configuration, and seperate job in job annotation.

[2022-03-09 02:24] k82cn commented on #1967
Adding a parameter to gang scheduling should be enough for that :)

[2022-03-09 02:26] tFable commented on #1967
Hey @k82cn, do you mean this is something that can be done today? Or you mean for future design?

[2022-03-09 02:30] hwdef commented on #1967
@k82cn
Thanks,your implementation is better. I was wondering if my idea about reserving resources for gang-enabled jobs would work.

[2022-03-09 02:44] k82cn commented on #1967
hm...., different users ask for different behaviovr, we changed this feature for several times. So I think it's better to have such a parameter for that.

IMO, it should be ok to always return `true` in `pipelineFn` when parameter was enabled.

[2022-03-09 02:53] HecarimV opened #2062 "Is there any way to apply different strategies to different jobs"
#### What would you like to be added:
The way to choose strategies for different jobs

#### Why is this needed:
The plugins  are set for all jobs in scheduler configuration. However some jobs do not hope some plugins to function.
For example, some jobs tend to use binpack strategy, some jobs are not.

[2022-03-09 03:18] tFable commented on #2052
Hey @Thor-wl, this worked beautifully! Thanks so much!

[2022-03-09 03:19] #2052 closed

[2022-03-09 05:45] Thor-wl commented on #2062
@HecarimV I'm sorry for there is not a way for Volcano to do that. All the strategies configured in the scheduler configuration are applied to all the jobs.

[2022-03-09 06:16] HecarimV commented on #2062
Okay thank you. And is it possible in the future design？

[2022-03-09 06:19] k82cn commented on #2062
We're going to use different conf for different `Queue` :)

[2022-03-09 06:28] HecarimV commented on #2062
Thanks, so that is to say, use queues to divide different types of jobs

[2022-03-09 15:15] william-wang opened #2063 "Upgrade volcano webhook to v1"
#### What would you like to be added:
Upgrade volcano admissionregistration from v1beta1 to v1.

#### Why is this needed:
Right now Volcano use admissionregistration v1beta1. The v1beta1 is deprecated in v1.16+, unavailable in v1.22+.
The impact is webhook does not work well on v1.22+, the validation and mutation registration would fail.

[2022-03-09 15:29] william-wang commented on #2048
@tFable the issue is resolved in #2064

[2022-03-09 17:55] adamnovak commented on #1869
I think this is resolved. I'm still having trouble getting Volcano job objects to schedule without starvation, but if elect/reserve starts working it ought to work on Kubernetes Job objects just fine.

[2022-03-09 17:55] #1869 closed

[2022-03-10 01:42] ldd91 commented on #2060
Ok, Thank you for your reply

[2022-03-10 01:42] #2060 closed

[2022-03-10 06:12] Thor-wl commented on #2047
Hey, @tFable AFAIK, intalling Volcano with `volcano-development.yaml` is more widely used. And I'm sure that works for `release-1.5`. Besides, helm also should be available. I will take a check about that and then reply to you here.

[2022-03-10 06:31] Thor-wl commented on #2062
Yes, you can divide the jobs into different queues according to the scheduling strategies. Basicilly, suggest to divide the vcjobs according to the business and projects.

[2022-03-10 06:32] ZJUFangzh opened #2065 "Service dose not work when I apply a vcjob"
**What happened**:
Service dose not work  when I apply a vcjob
my job yaml is：
[code]
And there would create 3 pods and 1 service. I want to connet with 3 pods each other.
But it seems like the service does not work, the clusterIPs is None

[code]
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envi

[2022-03-10 08:22] hwdef opened #2066 "Faild to use ssh plugin in windows node"
**What happened**:

When I create a Job with ssh plugin.I want to run this job in windows node. But it is failed.

**What you expected to happen**:

Use the ssh plugin on jobs scheduled to the windows node

**How to reproduce it (as minimally and precisely as possible)**:

1. create a job

[code]

2. describe the pod created by this job

[code]

**Anything else we need to know?**:

My guess is tha

[2022-03-10 09:40] #2062 closed

[2022-03-10 11:46] dontan001 opened #2067 "Preemption between Jobs within Queue - Not Working"
**What happened**:
I am trying to verify how preemption works for jobs in the same queue, after experimentation we dont see the low-priority job resource is released for high-priority jobs to run when the allocated queue resource is running out.

**What you expected to happen**:
If a high-priority job comes in to the queue and all assigned resources are used, it would be good for volcano to termin

[2022-03-10 12:59] Thor-wl commented on #2066
The logic is not match Windows temporarily.

[2022-03-10 13:01] hwdef commented on #2066
@Thor-wl
I will try to fix this.

[2022-03-10 21:36] tFable commented on #2047
Thanks so much, @Thor-wl !

[2022-03-11 00:43] #2063 closed

[2022-03-11 00:57] william-wang commented on #1772
@hwdef any progress for this issue?

[2022-03-11 01:39] hwdef commented on #1772
@william-wang I haven't made much progress here, but under another issue, someone gave a solution, which I haven't tested yet, and I don't know if this solution is universal

https://github.com/volcano-sh/volcano/issues/2034#issuecomment-1049451521

[2022-03-11 01:40] william-wang commented on #2048
@tFable The fix is merged, you can move on to get the latest image and have a try.

[2022-03-11 02:57] william-wang commented on #2025
@Robert-Christensen-visa The issue is fixed in #2064, please help to have a try :)

[2022-03-11 03:24] Yikun opened #2068 "Make sure `Open` state queue can be deleted until we support queue close in kubectl"
**What happened**:
`Open` state queue can't be deleted in kubectl, this is not very convenient for users.

We'd better to make sure `Open` state queue can be deleted until we support queue operations in kubectl

**What you expected to happen**:
`Open` state queue can be deleted

**How to reproduce it (as minimally and precisely as possible)**:
create a queue can't be deleted by kubectl

**Anything

[2022-03-11 03:29] william-wang opened #2070 "Update the Volcano imagePullPolicy"
#### What would you like to be added:
change the "imagePullPolicy“ from "IfNotPresent" to "Aways"

#### Why is this needed:
Currently the imagePullPolicy is "IfNotPresent" in volcano-development.yaml, It is requested to be updated to "Aways".  Users do not need to delete the local image manully and pull the latest image whenever  there is new image available.

[2022-03-11 03:34] hwdef commented on #2068
https://github.com/volcano-sh/volcano/issues/2058
https://github.com/volcano-sh/volcano/issues/1687

Please combine the content of these two issues and the discussion at the last community meeting to make a comprehensive judgment

[2022-03-11 05:50] Thor-wl commented on #2068
It may not be so reasonable for **open** queue to be deleted directly. There may be still some running and new coming jobs.

[2022-03-11 09:22] #2068 closed

[2022-03-11 09:42] Yikun opened #2072 "Change installer imagePullPolicy to `Always`"
#### What would you like to be added:
Change installer imagePullPolicy to `Always`

#### Why is this needed:
We doc installer in https://volcano.sh/en/docs/installation/ ,

We'd better use the always download images for users who want to use latest volcano

[2022-03-11 10:16] flyhighzy opened #2074 "Update pod deleting policy when VolcanoJob's task replicas field changes"
#### What would you like to be added:
when volcanoJob's task replicas field decreased, we want to have pending pods deleted at first, and then the other running ones, but now VolcanoJob will delete pod by it's index in name.

#### Why is this needed:
related to [elastic-scheduler](https://github.com/volcano-sh/volcano/blob/master/docs/design/elastic-scheduler.md),  in some elastic AI training or s

[2022-03-11 10:28] flyhighzy opened #2075 "Add cooldown time support for preempt action"
#### What would you like to be added:
user can set cool down time for preemptible job's pod by add some labels or annotations, to avoid some pods being preempted when they just started for a short time.

#### Why is this needed:
related to [elastic scheduler](https://github.com/volcano-sh/volcano/blob/master/docs/design/elastic-scheduler.md), when we need to enable elastic training or serving, pre

[2022-03-11 10:32] Yikun commented on #2072
We'd better add a `volcano-latest.yaml`  with `Always` to make sure users download new latest images.

[2022-03-11 16:27] Robert-Christensen-visa commented on #2025
Thanks @william-wang

[2022-03-11 16:27] #2025 closed

[2022-03-12 01:54] Yikun opened #2076 "Add beta release for `v1.5.1`"
#### What would you like to be added:
Add beta release for `v1.5.1` for v1.5.x continuesly validation.

Version policy: v1.5.1-beta.0

#### Why is this needed:
Such as, Apache Spark are using v1.5.0 for validation, this doesn't include backport fixes on v1.5.x until v1.5.1, so we'd better add beta release for `v1.5.1` for v1.5.x continuesly validation.

Task:
- [x] @william-wang backport all fixes

[2022-03-12 11:21] #1468 closed

[2022-03-12 12:31] #2072 closed

[2022-03-12 23:56] Yikun opened #2079 "Add doc to note how to cleanup `Volcano` completely"
#### What would you like to be added:
Add doc to note how to cleanup `Volcano` completely

[code]

#### Why is this needed:
[code]

Use apply and delete reinstall volcano, we still need to cleanup `validatingwebhookconfigurations` and `mutatingwebhookconfigurations`, then re-apply:
[code]

https://github.com/volcano-sh/volcano/issues/2102#issuecomment-1072295632: Supplyment: volcano-admission-init

[2022-03-13 02:23] Yikun opened #2080 "Add Volcano website doc for each version"
#### What would you like to be added:
now we only have v1.x doc, with version increasing, we'd better add a version for each version

such as:
- to keep compitable https://volcano.sh/en/docs link to latest
- latest: https://volcano.sh/en/docs/latest
- v1.5.0: https://volcano.sh/en/docs/v1.5.0
- v1.5.1: https://volcano.sh/en/docs/v1.5.1
- or just like k8s website: https://v1-22.docs.kubernetes.io/r

[2022-03-13 13:30] chanhz commented on #1925
[Here](https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/framework/session.go#L244) is the code where task update to status `Pipelined`:
[code]

[2022-03-13 13:42] Yikun commented on #2076
Done: https://github.com/volcano-sh/volcano/pull/2082

[2022-03-13 13:42] #2076 closed

[2022-03-13 15:57] ldd91 commented on #2067
proportion plugin do not permit pg to be inqueue because of  AddJobEnqueueableFn shows minReq + allocates +inqueue > realCapability

[2022-03-13 16:13] chanhz opened #2083 "Pipelined pods were stucked in waiting for resource released when resource is insufficient."
Hi,I met a problem when cluster resource is insufficient.

The blackgroud is I used **overcommit**  plugin with default overCommitFactor 1.2  and  volcano's version is  release-1.4.

Some jobs were  hanging for a long time because of there were a few Pending(Pipelined) pods were stucked in waiting for resource released. I saw one pipelined pod's events like this:
[code]

It seems that **gang plugi

[2022-03-14 01:46] Thor-wl commented on #1651
@d4l3k I'm OK about adding UT for that. Can you help for that?

[2022-03-14 02:42] Thor-wl commented on #2083
Thanks for your report! As what you describe, it seems that everything goes as expected in my view. Jobs with higher priority get scheduled before jobs with lower priority, even if these jobs are pipelined. When the cluster is not so enough, perhaps part resource may be locked by pipelined as mentioned above(if preempt is not configured, it is reasonable). It is temporary. Once the jobs will highe

[2022-03-14 03:08] Thor-wl commented on #2074
This feautre is on the way. @qiankunli is working on that.

[2022-03-14 03:11] Thor-wl commented on #2075
Good idea. I think that is meaningful. Can you help give a design and implementation for that?

[2022-03-14 03:30] Thor-wl commented on #2048
/close

[2022-03-14 03:30] #2048 closed

[2022-03-14 07:44] shinytang6 commented on #1778
resolves by https://github.com/volcano-sh/volcano/pull/2078
/close

[2022-03-14 07:44] #1778 closed

[2022-03-14 10:16] Yikun opened #2086 "Request to be a Member of Volcano community"
I'm requesting to be a Member of Volcano community.

My major contributions are making volcano better in bigdata field and adding Volcano native support in Spark community:

- Volcano Java/Scala SDK: Make Volcano as official extension in [fabric8io/kubernetes-client](https://github.com/fabric8io/kubernetes-client/tree/master/extensions/volcano) to bring more friendly UX for Vocano big data and Jav

[2022-03-14 10:21] k82cn commented on #2086
+1

[2022-03-14 10:29] hwdef commented on #2086
+1 Thanks for your work!

[2022-03-14 11:13] Thor-wl commented on #2086
+1

[2022-03-14 11:54] shinytang6 commented on #2086
+1

[2022-03-14 18:48] hhluo01 opened #2087 "Job is restarted when worker task is finished eariler in EKS"
In the kubernete clusters, we are using the auto-scaler for the resource provisioning.  We found for the pytorch distributed training job, if a node finished eariler and the scaler scale down it, the pod is marked deleted and will trigger the deletePod being called, then due to this pod eviction event, the job will be restarted and then failed.

[2022-03-14 18:50] hhluo01 commented on #2087
One solution applied local is to add a condition check in the code:

https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/job/job_controller_handler.go#L338

	if pod.Status.Phase == v1.PodSucceeded {
		klog.Infof("deletePod: skip processing the pod deletion event: succeeded: %s, %s",
			pod.Namespace, pod.Name)
		return
	}

It seems to fix the issue.  However, I don't know if this is

[2022-03-14 22:16] d4l3k commented on #1651
I might be able to find some time for this, not sure on the exact timing though

[2022-03-15 01:58] Thor-wl commented on #2087
/cc @shinytang6 @william-wang

[2022-03-15 02:10] Thor-wl commented on #1651
That doesn't matter. Tristan, thanks for your feedback and contribution.

[2022-03-15 02:12] #2086 closed

[2022-03-15 02:32] berlinsaint opened #2088 "Admission MutatingWebhook will influence kubectl creating pod performance"
volcano 1.2-> 1.5

Because of some reason, we can't  use volcano admission default config.

we change the yaml to this:

![image](https://user-images.githubusercontent.com/10629930/158293999-a7de50fe-05d7-43e7-b3e8-1b57a2d91876.png)

and will generate the mutating config:

![image](https://user-images.githubusercontent.com/10629930/158294088-a9aa98e2-4b04-4633-a37b-6d91e926b683.png)

when creating

[2022-03-15 09:10] Yikun opened #2090 "Publish release for `v1.5.1`"
#### What would you like to be added:
Publish release for `v1.5.1`
Version: v1.5.1

#### Draft Release Note:
[code]
#### Why is this needed:
v1.5.1.beta.0 https://github.com/volcano-sh/volcano/issues/2076 released, we might want to consider to release the `v1.5.1` release! Thanks!

[2022-03-15 09:11] Thor-wl commented on #2090
/lgtm

[2022-03-15 09:18] hwdef commented on #2090
+1

[2022-03-15 09:18] hudson741 commented on #2090
+1

[2022-03-15 09:24] shinytang6 commented on #2090
+1

[2022-03-15 09:39] Yikun commented on #2090
+1

[2022-03-15 10:37] kevin-wangzefeng commented on #2090
Is there a draft release note？
Also,  listing patches we have since 1.5.0 would be very helpful.

[2022-03-15 10:43] kevin-wangzefeng commented on #2090
Would like to give my +1 after it's done.

[2022-03-15 11:52] Yikun commented on #2090
@kevin-wangzefeng Thanks for suggestion, I update draft release note in issue description

[2022-03-15 14:40] kevin-wangzefeng commented on #2090
+1
Thanks

[2022-03-15 15:20] Yikun commented on #2090
https://github.com/volcano-sh/volcano/releases/tag/v1.5.1

Thanks all!

[2022-03-15 15:20] #2090 closed

[2022-03-15 18:43] hhluo01 commented on #2087
Thank you @Thor-wl

[2022-03-16 01:41] dontan001 commented on #2067
Thank you @ldd91 for the response, that is exactly the same as what we understood from the captured log also.

Here my question is if the high-priority job is denied to be in status inqueue, the action logic of PREEMPT will not be triggered at all, that means there is no chance the PREEMPTION could occur between jobs within queue.
This is confusing and I can see this confuse other users as well, f

[2022-03-16 02:48] Yikun opened #2093 "Add Volcano doc for specific version yaml installation"
#### What would you like to be added:
[code]

The website only docs how to install the latest version volcano using YAML files. better to mentioned how to install specific version volcano.

#### Why is this needed:

For users who want to install specific version volcano.

Related: futher supported doc for multiple version https://github.com/volcano-sh/volcano/issues/2080

[2022-03-16 02:48] k82cn commented on #2087
IMO, there're two points in this issue:

1. If completed Pod was deleted, the related action should ignore the event
2. Volcano should work with cluster-autoscaler on resouces provision, e.g. gang

Regarding 1, AFAIK, we used to handle this issue before; anway, let's check it again :)
Regarding 2, prefer to draft an design doc for it; I'm thinking to have a `ClusterInfo` CRD for volcano & cluster-

[2022-03-16 02:54] #1321 closed

[2022-03-16 02:54] #1608 closed

[2022-03-16 13:58] Yikun commented on #2027
@lattsi Hi, sorry for late reply, here is the integration test to show how we suppprted gang scheduling (resource reservation) in Spark.

https://github.com/apache/spark/pull/35640

[2022-03-16 14:00] Yikun commented on #2027
https://github.com/apache/spark/pull/35870

@lattsi Here is also a doc PR to help you understand how spark with volcano work together.

You could also help to review about it.

[2022-03-16 14:30] Yikun commented on #2058
From api view, I think it's reasonable,

then we can use yaml to control queue deletion, and I'm not sure the final UX for this.

I hope just use kubectl apply yaml to set queue spec rather than kubectl volcano plugin or something.

Because we still need to allow users use API interfaces(golang API/java API) to set spec. The better way is use crd capability directly.

[2022-03-16 14:32] Yikun commented on #2058
And we might want to think about the rleationship of original state and spec.state.

[2022-03-16 14:46] vincent-du2020 opened #2100 "Volcano should show more details on resource fit failed"
#### What would you like to be added:
When a "resource fit" failed, the logs should show the exact resource that failed to fit.

#### Why is this needed:
Seeing these from "volcano-scheduler" pod logs after a mpi-job launcher pod failed to assign to a node:
`Predicates failed for task <mpi-test/forty-1-worker-0> on node <_node1_>: task mpi-test/forty-1-worker-0 on node _node1_ fit failed: node(s)

[2022-03-16 19:32] vincent-du2020 opened #2101 "Volcano combines Launcher and Worker Resource Limits for Fitting"
**What happened**:
When we run a MPI Job like this, notice the Launcher and Worker have different "Resources/Requests:"
[code]
The Launcher Pod is always in the "Pending" state due to the resource fit failure, since the "My-Resource" only exists in the Nodes tainted for Worker Pods.

These are logs from 'volcano-scheduler' Pod

[code]

It seems the log statement in "proportion.go:299" does the cal

[2022-03-17 02:39] ldd91 commented on #2067
In your scenario  i suggest that your put  overcommit plugin and proportion plugin in different tire,and overcommit should be ahead of proportion plugin

[2022-03-17 02:40] ldd91 commented on #2067
And you should also adjust your overCommitFactor

[2022-03-17 05:40] dontan001 commented on #2067
I can have a try, but what is theory behind the adjustment?

[2022-03-17 05:44] dontan001 commented on #2067
I assume the overcommit factor is default 1 and it is good for us,  could you please help clarify the reason behind this adjustment also?

As per the log, seems there is no problem with overcommit at all

@Thor-wl @ldd91

[2022-03-17 09:51] Yikun commented on #1825
Already compelted, let's close this first, I will also submit new issue if we need more api besides scheduling in k8s-client

[2022-03-18 01:24] berlinsaint opened #2102 "Uninstall Volcano Doesn't Clean ValidateWebhook Configuration And MutatingWebhook Configuration"
**How to reproduce it (as minimally and precisely as possible)**:

step1:  `kubectlcreate -f https://raw.githubusercontent.com/volcano-sh/volcano/v1.5.1/installer/volcano-development.yaml`

step2: `kubectl delete -f https://raw.githubusercontent.com/volcano-sh/volcano/v1.5.1/installer/volcano-development.yaml`

The Webhook Configuration is not  Cleaned because they are not in the yaml.

And the re

[2022-03-18 05:28] flyhighzy commented on #2075
we already have a localized implementation, it's not complex so I simply summary it here:
1. provide a new label/annotation named "volcano.sh/preempt_stable_time", whose value means the cool down time for preempt with unit second. This label/annotation can be set for entire vcjob or some dedicated tasks, if set to job, we'll transfer to all tasks' pods.
2. add a plugin to participate in preempt ac

[2022-03-18 06:18] k82cn commented on #2075
This should be handled within scheduler's cache to avoid additional apiserver request :)

[2022-03-18 06:19] k82cn commented on #2075
IMO, it's better to have a plugin to order victims by start time; and have a min-start-time parameter for that :)

[2022-03-18 07:27] flyhighzy commented on #2075
Thanks for the reminding! I'll take care of it.

I'm not very sure about what can we do with the ordered victims, can you provide more details? thanks :）

[2022-03-18 07:37] hwdef commented on #2102
I think it is useful

[2022-03-18 09:46] hwdef commented on #2102
It is not feasible to use the ownerrefernce,
because webhook should be associated with deployment(volcano-admission), but deployment is namespace scoped, webhook is cluster scoped. kubernetes does not allow deletion across namespaces.

https://kubernetes.io/zh/docs/concepts/overview/working-with-objects/owners-dependents/

[code]

@Thor-wl  Do you have any suggestions?

[2022-03-18 10:53] shinytang6 commented on #2102
Supplyment: `volcano-admission-init` will create a secret which cannot be cleaned thoroughly.

[2022-03-18 10:57] shinytang6 commented on #2102
similar issue: https://github.com/volcano-sh/volcano/issues/2079

[2022-03-19 02:24] hhluo01 commented on #2087
Sorry, I missed the last weekly meeting.  Is there any update on this one?  Which solution will be applied?  thanks

[2022-03-19 09:00] LeonardAukea commented on #2079
For some reason I still see some events like:

[code]

Even after deletion of volcano and  `validatingwebhookconfigurations` , `mutatingwebhookconfigurations`

[2022-03-19 09:16] Yikun commented on #2102
Is it possible adding some placeholder in volcano-development.yaml to help delete related resources? Then users can cleanup them using `kubectl delete -f volcano-development.yaml`.

Otherwise we probably want to add a `volcano-development-delete.yaml` separately.

[2022-03-21 01:03] k82cn commented on #1014
Let's keep this issue open :)

[2022-03-21 01:46] Thor-wl commented on #2087
I'm sorry for that the last weekly meeting was cancelled for some reasons. I'll take it into this weekly meeting.

[2022-03-21 01:51] hhluo01 commented on #2087
Got it, thanks!

[2022-03-21 07:15] jxfruit opened #2106 "where can I find the details about the distributed training examples?"
I am confused about distributed training jobs on volcano. I have following questions: 1) only tensorflow PS-worker strategy  can be supported ? How about MultiWorkerMirroredStrategy/CentralStorageStrategy? 2) How to run a distributed pytorch job? 3) where can I find the details about the distributed training examples?
tks!

[2022-03-21 07:38] Thor-wl commented on #2106
+1
Can we add an repository for examples like https://github.com/kubernetes/examples? It seems that there are only some fragements for how to make use of Volcano in specified scenarios for end users.

[2022-03-21 09:41] k82cn commented on #2106
xref: https://github.com/volcano-sh/volcano/tree/master/example

It's not only an example, it should be an official integration guidance for end user.

[2022-03-22 01:04] fadi-artera commented on #1775
Hello we are having the same issues and would appreciate if there's an update on this issue.

[2022-03-22 01:40] jxfruit commented on #2106
@Thor-wl can u  give a tutorial about distributed pytorch job? tks

[2022-03-22 01:43] Thor-wl commented on #1775
Thanks, guys. Let me take a look at that.

[2022-03-22 03:43] #1590 closed

[2022-03-22 08:23] FengXingYuXin commented on #2088
It looks like your caBundle is bad? and your MutatingWebhookConfiguration's resources is pods, so it makes effect when you create pods in any ways.

[2022-03-22 08:23] ldd91 opened #2107 "Pod has been pending if another pod are terminating for a long time"
**What happened**:
There are two GPU node in my cluster:

[code]

In node2 ,a pod name job1 use 2 GPU has been terminating for a long time for unknown reasons
when 1 submit a vcjob name job2 with 1 GPU,it always allocate to node2，but because of job1 is terminating, pod of job2 is pending for a long time

**What you expected to happen**:
job2 should allocate to node1 first

**How to reproduce it (a

[2022-03-22 08:36] ldd91 commented on #2107
According to https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/actions/allocate/allocate.go#L220  node1 and node2 can be candidateNodes,but I'm a little confused in PrioritizeNodes why node2 scored the highest.

[2022-03-22 22:46] berlinsaint commented on #2088
yes  and i have fix them here: https://github.com/berlinsaint/volcano/commit/ee239b086ad56f33beb0a43ec780bf8e349d7a09

[2022-03-22 22:47] #2088 closed

[2022-03-23 01:04] wpeng102 commented on #2107
could you append the scheduler configmap to show which plugins are enabled.

[2022-03-23 01:41] kye308 opened #2108 "lost labels/annotations in podtemplatespec"
**What happened**:

Submitted vcjob object with annotations and labels in `kubernetes.PodTemplateSpec` ObjectMeta do not show up in the created pod.

**What you expected to happen**:

set annotations/labels in volcano task spec for volcano.Job object:
[code]

submitted job does not contain these annotations or labels. But the object that was submitted with the volcano api did contain them (from de

[2022-03-23 01:43] ldd91 commented on #2107
@wpeng102  Thank you for your reply.
 kubectl get configmap  volcano-scheduler-configmap  -n volcano-system -o yaml
apiVersion: v1
data:
  volcano-scheduler.conf: |
    actions: "enqueue, allocate, backfill"
    tiers:
    - plugins:
      - name: priority
      - name: gang
      - name: conformance
    - plugins:
      - name: drf
      - name: predicates
      - name: proportion
      - name: n

[2022-03-23 03:33] k82cn commented on #2107
IMO, it's reasonable to have a plugin to consider terminating time of the Pod :)

[2022-03-23 08:08] wpeng102 commented on #2107
In `allocate` action, the nodes which current idle resource  and nodes which future idle resource can meet pod request are candidate nodes. IMO,  nodes which current idle resource can meet pod request should be the first candidate node,  and future idle resource nodes is the second candidate nodes.

https://github.com/volcano-sh/volcano/blob/183a1781a83fb4b76260b754f294d89b057ad747/pkg/scheduler/a

[2022-03-23 08:30] k82cn commented on #2107
hm... yes, we should balance the pending time & executing time of the Pod :)

[2022-03-23 09:19] hwdef commented on #2108
https://github.com/volcano-sh/volcano/pull/1649

I think this bug is fixed. You can update the crd and volcano version.

[2022-03-23 13:00] berlinsaint commented on #2102
i think  the we should fix  the webhook code here first.  https://github.com/volcano-sh/volcano/blob/183a1781a83fb4b76260b754f294d89b057ad747/cmd/webhook-manager/app/util.go#L65 and https://github.com/volcano-sh/volcano/blob/183a1781a83fb4b76260b754f294d89b057ad747/cmd/webhook-manager/app/util.go#L81; this two place  generate different config name and i think it's no need. we can use the default w

[2022-03-23 14:22] martin-g opened #2110 "The installation of the ARM64 version fails for 1.5.1"
**What happened**:

I've tried to install 1.5.1 on Minikube but it failed with:

[code]

**What you expected to happen**:

Successful installation.

**How to reproduce it (as minimally and precisely as possible)**:

Try to install 1.5.1 on Linux ARM64.

**Anything else we need to know?**:

**Environment**: openEuler release 20.03 (LTS-SP3)
- Volcano Version: 1.5.1
- Kubernetes version (use `kubect

[2022-03-23 15:31] hwdef commented on #2102
I think webhook should not be generated by code, webhook should be defined by yaml.
If I want to add some rules for webhook, for example, ignore some pods. I can't do this when generating with code,unless modify the source code.

[2022-03-23 20:48] kye308 commented on #2108
@hwdef what versions should we be using?

[2022-03-24 00:59] wpeng102 commented on #2108
V1.4.0+ version should contain this fix.

[2022-03-24 01:03] kye308 commented on #2108
@wpeng102 seems like the upgrade to crd version v1 is only present in v1.5.0+

https://github.com/volcano-sh/volcano/commit/27fcaf8af1bcacd596b4e6fcd16a4f055753fb9b

[2022-03-24 02:04] Yikun commented on #2110
Looks like the previous volcano are not be cleaned up. See also:

https://github.com/volcano-sh/volcano/issues/2102
https://github.com/volcano-sh/volcano/issues/2079

[2022-03-24 02:37] ldd91 commented on #2107
/assign @ldd91 I can try to do this.

[2022-03-24 06:27] martin-g commented on #2110
#2079 helped !
Thank you, @Yikun !

[2022-03-24 06:27] #2110 closed

[2022-03-24 06:34] k82cn opened #2111 "GPU enhancement"
#### What would you like to be added:

Enhance GPU support in Volcano for AI/HPC :)

#### Why is this needed:

Currently, there're several seperate requests on GPU support in Volcano; I'd like to start this thread to include all related items, and try to make them align with each other :)

[2022-03-24 06:35] william-wang commented on #2093
It's reasonalbe. It needs to be refined and guide user to install specific version more easier.

[2022-03-24 07:39] aidaizyy commented on #1954
I also met this problem, I have probably tracked down the root case and am trying to fix it.

[2022-03-24 08:58] Yikun opened #2112 "Add `E2E Spark Integration Test`"
**What happened**:
Add `E2E Spark Integration Test`

**What you expected to happen**:

Volcano support Spark on Kuberntes since Spark 3.3 and Volcano 1.5

**How to reproduce it (as minimally and precisely as possible)**:
CI triggered as expected

**Anything else we need to know?**:
Related: https://github.com/volcano-sh/volcano/issues/1704

[2022-03-24 08:58] aidaizyy commented on #1954
I'm not using the latest version and I found that the problem I met has been fixed at https://github.com/volcano-sh/volcano/pull/1742.

[2022-03-24 09:06] #2093 closed

[2022-03-25 06:04] Thor-wl commented on #1697
/close

[2022-03-25 06:04] #1697 closed

[2022-03-25 06:31] #1787 closed

[2022-03-26 02:22] #2112 closed

[2022-03-26 09:05] k82cn commented on #2056
Any more backgroup about this issue?

[2022-03-26 09:05] HeGaoYuan opened #2120 "The variable name is strange, so it is hard to read code"
Hi, Volcano Team.
    Thanks for your great work firstly.
    When I read the source code in Volcano, I found the variable name is strange. Maybe everyone's habits are different. Or is there some rules that I don't know?
    I give some examples below.
    (1) why is it named pp but not np or nop?
   https://github.com/volcano-sh/volcano/blob/db2936fd44f304862a6f1888204fb41ed44ede6d/pkg/scheduler/

[2022-03-26 09:18] k82cn commented on #2120
No specific rule for such kind of name, that should be ok to update them accordingly :)

[2022-03-26 09:22] HeGaoYuan commented on #2120
Thanks for your reply.
If you think it's worth to update, I can post a PR.
If you think it's trivial, I just close the Issue.

[2022-03-26 09:53] shinytang6 commented on #2056
Give me a scene I met:
If the upper job we use is not vcjob, e.g paddlejob, when the paddlejob task is completed (**not deleted**), the corresponding podgroup will still exist, it will eventually change to the inqueue state, resulting in unnecessary resource occupation. Therefore, l hope to introduce a completed podgroup state to refer to the already completed job.

This phenomenon is kindy like h

[2022-03-26 10:09] k82cn commented on #2120
I'm ok to update them accordingly :)

[2022-03-28 06:31] zrss opened #2123 "[feature request] set the init container of volcano job as privileged mode"
https://github.com/volcano-sh/volcano/blob/db2936fd44f304862a6f1888204fb41ed44ede6d/pkg/webhooks/admission/jobs/validate/admit_job.go#L278-L284

obviously, volcano forgets to cover the init container case ... and once the init container set the `privileged` field, it turns out

[code]

[2022-03-28 07:30] k82cn commented on #2123
/kind bug

[2022-03-28 08:11] wpeng102 commented on #2123
I am not sure if the original logic to `Skip verify container SecurityContex.Privileged` is appropriate. The root cause is kube-apiserver configured `--allow-privileged=true` and kube-apiserver will use this config to init  `capabilities`. But the volcano does not know the kube-apiserver configuration.

https://github.com/volcano-sh/volcano/blob/db2936fd44f304862a6f1888204fb41ed44ede6d/vendor/k8s.

[2022-03-28 09:20] k82cn commented on #2123
IMO, we just need to skip this check in Volcano, and deligate this to kube-apiserver :)

[2022-03-29 02:56] #2123 closed

[2022-03-29 03:51] hermitgreen opened #2126 "Quick Start on official document can't work"
**What happened**:

Quick Start on official document can't work
While I create a vcjob, job maintain pending status:
![d1c53cc6b87a5aaf05b1ea75df91253e](https://user-images.githubusercontent.com/31271515/160529307-15143657-0c50-443b-a92b-f373df9effcd.jpeg)
And podgroup has None status:
![cffeebc768e900d371124dc55b7a7e5d](https://user-images.githubusercontent.com/31271515/160529378-765fb436-b6d4-4b

[2022-03-29 06:00] hwdef commented on #2126
volcano version?
To be honest, the version of k8s is a bit low.
Are other components of volcano running normally?

[2022-03-29 06:18] hermitgreen commented on #2126
volcano version is latest, may 1.5.1. components seems work properly.
<img width="781" alt="image" src="https://user-images.githubusercontent.com/31271515/160546023-9cdf71e5-2d14-419f-bb04-ff17481417dd.png">

[2022-03-29 06:20] hwdef commented on #2126
do you have sufficient resources?

[2022-03-29 06:24] hermitgreen commented on #2126
Queue has 200 CPUs but I only require 2, I guess it's can't be insufficient

[2022-03-29 06:26] hwdef commented on #2126
Can you try to upgrade the version of k8s? 1.16 is a long time ago version

[2022-03-29 09:22] hermitgreen commented on #2126
Upgrade k8s to 1.20.10 solved this problem

[2022-03-29 09:22] #2126 closed

[2022-03-29 10:14] wpeng102 opened #2127 "allocate action UT failed for some race condition"
**What happened**:
`go test  -count=1 -v -race volcano.sh/volcano/pkg/scheduler/actions/allocate` to run UT mabe failed by race condition

**What you expected to happen**:
UT pass

For the `pvc with matched pv` case, it has two pods and one pv, expect the first pod will use `StaticBindings` volume, the second pod use `DynamicProvisions` volume.

But their is a race condition between client create

[2022-03-29 11:46] Yikun opened #2128 "Add `volcano` as minikube addons"
#### What would you like to be added:
minikube implements a local Kubernetes cluster on macOS, Linux, and Windows.
minikube addons is a marketplace for developers to share configurations for running services on minikube.

#### Why is this needed:

We could add `volcano` as a minikube addons to help user can install volcano conveniently.

https://github.com/kubernetes/minikube/tree/master/deploy/ad

[2022-03-29 12:03] k82cn commented on #2128
That's great idea!

[2022-03-29 12:07] Yikun commented on #2128
@k82cn Thanks, just share some ideas in here.

I currently haven't had enough time to see how this can be done, feel free to take over if anyone else is also interested.

[2022-03-29 12:10] Yikun commented on #2102
Could you give some suggestion or inputs in here? @Thor-wl

[2022-03-29 12:18] hwdef commented on #2128
/assign @hwdef

[2022-03-29 12:19] hwdef commented on #2128
I will try this.

[2022-03-30 02:27] william-wang commented on #2111
Tasks:

- [ ] vGPU support in scheduling(@archlitchi @william-wang )
design doc (To be added)
implemetation(To be added)
- [ ] vGPU support in device plugin(@archlitchi @william-wang )
design doc (To be added)
implemetation(To be added)

[2022-03-30 03:26] Jason-Liu-Dream opened #2130 "Task fail to schedule when tasks start with dependsOn and readinessProbe"
**What happened**:
Use volcano scheduler to apply vcjob(yaml as follows),  but found some parameters error, so delete this vcjob, modify parameters and reapply this yaml. But volcano scheduler fail to schedule this task again.
**What you expected to happen**:
volcano scheduler can schedule  task success.
**How to reproduce it (as minimally and precisely as possible)**:
Preparations:
yaml
[code]
st

[2022-03-30 06:56] wpeng102 opened #2131 "[code refine] duplicate Allocate, Pipeline, Evict function in session.go and statement.go"
Both `session` and `statement` have Allocate, Pipeline, Evict functions. And the logic are almost same. The only different is statement introduce `operations` which support rollback.

The duplicate functions will make developer confuse and not easy to maintain.

![image](https://user-images.githubusercontent.com/10152842/160769602-b2a68f71-3a91-45ee-a5ea-dabee28a773b.png)

![image](https://user-im

[2022-03-30 10:49] k82cn commented on #2131
It's better to use stmt in actions. Anyway, let's keep ssn for backward compatibility :)

[2022-03-30 11:59] #2127 closed

[2022-03-31 03:02] Thor-wl commented on #2131
`allocate` works to bind a pod to a node whose idle resource can satisfy the pod. `pipeline` works to bind a pod to a node whose idle resource **cannot** satisfy the pod immediately, but there are some pods which are releasing resource and exit in the node and the predictable idle resource can satisfy the pod. `evict` works to evcit some pods.

[2022-03-31 03:14] HeGaoYuan commented on #2131
@Thor-wl
Thanks for your reply.

But what I mean is these two methods make me confuse (so are Pipeline and Evict in session and statement). What is the difference between them.

https://github.com/volcano-sh/volcano/blob/f4d3d44b0e69b56a6842d9e540519cef4cc53498/pkg/scheduler/framework/session.go#L283

https://github.com/volcano-sh/volcano/blob/f4d3d44b0e69b56a6842d9e540519cef4cc53498/pkg/scheduler

[2022-03-31 03:17] wpeng102 commented on #2131
At the beginning, Allocate, Pipeline, Evict functions olny in `session.go`, call these function will take effect immediately. For a better performance and support decision rollback. We introduce `statement.go`. You can see the `statement` packaging a session and operations.
https://github.com/volcano-sh/volcano/blob/f4d3d44b0e69b56a6842d9e540519cef4cc53498/pkg/scheduler/framework/statement.go#L47-

[2022-03-31 03:21] wpeng102 commented on #2131
Now, It's better to use stmt now and mark Allocate, Pipeline, Evict function in session as `deprecation`. Also need left these functions in  ssn for backward compatibility.

[2022-03-31 03:28] HeGaoYuan commented on #2131
@wpeng102
Thanks for your explanation. I got it.

[2022-03-31 06:42] hermitgreen opened #2135 "Can volcano job tasks support DAG execute?"
#### What would you like to be added:

Tasks can be executed in parallel if they related to upstream and upstream is success.

For example, mapping table A and table B in 2 parallel task(A and B has different schema), then reduce them in 1 task.

#### Why is this needed:

Save times if have adequate resources.

[2022-03-31 06:55] william-wang commented on #2135
Task dependency in job is supported in Volcano 1.5.  It seems suitable for your scenario.
https://github.com/volcano-sh/volcano/blob/master/docs/design/task-launch-order-within-job.md

[2022-03-31 08:59] hermitgreen commented on #2135
Exactly what I wanted

[2022-03-31 09:45] zishen opened #2138 "PodInformer does not work occasionally for the second vcJob."
**What happened**:
I apply two vcJob. The first vcJob is running, but the second one occasionally not.
After  a few minutes, it's runing, when I delete the first one.

The vJob reache the scheduler:
![image](https://user-images.githubusercontent.com/7522079/161026785-9de87b44-f84f-4dee-a590-53e723bab87d.png)

Volcano scheduler  begin deal with it:
![image](https://user-images.githubusercontent.com

[2022-03-31 09:47] zishen commented on #2138
I missed a point, the node resource  is meet both vcJobs, for  it happens by accident.

[2022-04-01 08:10] hwdef commented on #2079
Here are some improvements I need about webhook:
1. Instead of using code to generate webhook, it is written in yaml and deployed with yaml.This makes it easy to change the scope of application of the webhook and to ignore some pods
2. If possible, narrow the scope of application of webhook, currently intercepting all pods, once volcano has a problem, the entire cluster cannot create pods

[2022-04-02 00:51] k82cn opened #2141 "Add preemmptable attribute into PodGroup"
#### What would you like to be added:

Add Preemptable attribute into PodGroup to enable preempt/reclaim action.

#### Why is this needed:

Currently, we have preemptable annotation for Pod; and it's better to enable Preemptable for PodGroup:

- If PodGroup is preemptable, its Pods can be preemptable or not
- If PodGroup is un-preemptable, its Pods can not be preemptable, we should check this in w

[2022-04-02 00:52] k82cn commented on #2141
xref: https://github.com/volcano-sh/volcano/pull/2105

[2022-04-02 03:16] Thor-wl commented on #2138
How about the result after getting vcjob and podgroup objects by CLI?

[2022-04-02 08:59] wpeng102 opened #2143 "Deployment workload pending due to podgroup in Pending Phase"
**What happened**:
Cluster has enough resource but deployment workload scheduled by volcano still pending due to  podgroup in pending phase.

**What you expected to happen**:
 Volcano schedule deployment workload well.

**How to reproduce it (as minimally and precisely as possible)**:
1. Submit a deployoment workload which use volcano scheduler.
2. Update deployment resource request several times,

[2022-04-02 09:01] wpeng102 commented on #2143
Volcano should create `podgroup` for deployoment instead of create `podgroup` for replicaset.

[2022-04-02 09:18] #871 closed

[2022-04-02 09:18] #1807 closed

[2022-04-02 10:14] avinovarov commented on #1587
The issue is still here with us, would suggest keeping it open.

Sorry, not sure if I'm able to find the time for PR for now, but I'd start with removing entire `volcano-monitoring` namespace from helm chart to begin with.

[2022-04-03 15:49] #1804 closed

[2022-04-04 13:32] k82cn opened #2145 "Add An Object ID generator util function"
#### What would you like to be added:

Add An Object ID generator util function for object name in Volcano :)

#### Why is this needed:

Currently, we use UUID, which is 32 chars, for auto-generated CRDs, e.g. PodGroup; it's too long as object name, so it's better to have such a generator to make it simple :)

[2022-04-05 04:30] zhiyxu opened #2147 "what's the correct usage of `tiers` in volcano-scheduler.conf"
**What happened**:
Recently we met some strange things, some task of volcano job evicted by scheduler, **but we didn't set any `priorityClassName` field for any tasks or jobs**, then we found the following logs:

[code]

It seems that task is preempted by drf plugin, instead of priority. The scheduler config is as follows:
[code]
And [the preemption plugin code](https://github.com/volcano-sh/volca

[2022-04-05 05:31] berlinsaint commented on #2079
agree with you...

For the first you mention:  maybe the cert generate is difficult to generate in yaml. i understand why we use job generate now, it easy for user to install, but not considered how graceful clean them , my suggestion is make a separated job task to them as the installation does...

For the second,  i think the it maybe influence the whole design because of pod resource's usage ca

[2022-04-05 14:51] kenoung commented on #2147
I actually think that this is a bug. I filed a related issue [here](https://github.com/volcano-sh/volcano/issues/1791), and made a PR [here](https://github.com/volcano-sh/volcano/pull/1790).

We don't take the union between tiers. If the first tier already returns some victims, then it won't proceed to the next tier.
https://github.com/volcano-sh/volcano/blob/ac3b31334b8b754ee2fd17af455cbeb92fde85

[2022-04-06 01:16] Thor-wl commented on #2147
/cc @qiankunli Can you help update the doc about how to make use of `tiers` and `plugins` to the official website?

[2022-04-06 03:35] Thor-wl commented on #1486
/close

[2022-04-06 03:35] #1486 closed

[2022-04-06 03:36] Thor-wl commented on #1665
/close

[2022-04-06 03:36] #1665 closed

[2022-04-06 05:44] HeGaoYuan opened #2148 "These codes look like redundant and useless"
These codes look like redundant and useless

https://github.com/volcano-sh/volcano/blob/ac3b31334b8b754ee2fd17af455cbeb92fde852e/pkg/scheduler/plugins/task-topology/manager.go#L55

https://github.com/volcano-sh/volcano/blob/ac3b31334b8b754ee2fd17af455cbeb92fde852e/pkg/scheduler/plugins/task-topology/manager.go#L219-L224

[2022-04-06 09:37] Thor-wl commented on #2148
/cc @wpeng102

[2022-04-07 01:19] wpeng102 commented on #2148
/cc @jiangkaihua

[2022-04-07 07:32] Thor-wl opened #2150 "Suggest to deprecate the redundant environment variable `VK_TASK_INDEX` in the env plugin"
Because of historical reasons, environment variables `VK_TASK_INDEX` and `VC_TASK_INDEX` both exist when users make use of volcano job with env plugin. Besides, they have the same value but different key. It may confuses new comers. Suggest to keep `VC_TASK_INDEX` and deprate the another one in the later versions.

[2022-04-07 08:27] hermitgreen commented on #2135
Is launch order only support running state? I found
[code]
https://github.com/volcano-sh/volcano/blob/6932ddc916eea89acce4cd99837d36b23b88d960/vendor/volcano.sh/apis/pkg/apis/batch/v1alpha1/job.go#L373
but I don't found key to specify state.

[2022-04-07 08:41] Thor-wl opened #2152 "Add some docs about the volcano job plugins"
In order to make it clear for users, suggest to add more docs about the volcano job. The docs should give more details about user guidance.

- [x] env ( https://github.com/volcano-sh/volcano/pull/2153 )
- [x] ssh (https://github.com/volcano-sh/volcano/pull/2168)
- [x] svc ( https://github.com/volcano-sh/volcano/pull/2162 )

[2022-04-07 08:41] Thor-wl commented on #2152
/assign

[2022-04-07 08:57] Thor-wl commented on #2135
/cc @hwdef

[2022-04-07 09:01] hwdef commented on #2135
Currently only supports `running` state.Other states may be supported in the future, such as the `complete` state or probe.

[2022-04-08 02:07] jiangkaihua commented on #2148
Yes, you may delete them. @HeGaoYuan

[2022-04-08 08:41] Thor-wl opened #2155 "Volcano has been accepted as an incubating project of CNCF on April 7th"
Hi, all
  We are honored to announce that Volcano has been accepted as an CNCF incubating project on April 7th. Thanks for all the efforts from the whole ecosystem. Let's work together to make Volcano a better feature.
  More details can be refferred to [Cloud Native Batch System Volcano moves to the CNCF Incubator](https://www.cncf.io/blog/2022/04/07/cloud-native-batch-system-volcano-moves-to-the

[2022-04-08 08:56] #2155 closed

[2022-04-08 09:27] stefiane opened #2156 "Add some doc about Flink"
What features volcano has been enhanced in adapting to flink?
I applied the flink demo on the official website and did not find the role of volcano.
Or where can i find docs about it ?

[2022-04-08 10:31] bluezombiecn opened #2158 "binpack doesn't correct work by Training-Operators with volcano"
**What happened**:

- logs

![image](https://user-images.githubusercontent.com/8877031/162553664-7a24201b-18ce-4fc1-a3eb-7062313f4b7c.png)

-  job yaml

[code]

![image](https://user-images.githubusercontent.com/8877031/162553787-f27f493e-5c06-4e96-833b-c0d7200ca1d3.png)

**What you expected to happen**:
![image](https://user-images.githubusercontent.com/8877031/162553998-6dca0bea-fde2-4234-b666-3

[2022-04-09 05:26] #2158 closed

[2022-04-09 06:28] bluezombiecn commented on #2158
training-operatorv1.3.0 set true to enable gang scheduling (set --enable-gang-scheduling flag) with volcano has bug.

[2022-04-11 06:11] #2148 closed

[2022-04-11 06:47] william-wang commented on #2156
@stefiane flink-operator integration doc is here.
https://github.com/GoogleCloudPlatform/flink-on-k8s-operator/blob/master/docs/volcano_integration.md

[2022-04-12 12:36] hapatrick opened #2160 "vcjob phase can get stuck in "Pending" or "Starting" even after all pods have completed"
**What happened**:
In our system, we have repeatedly seen vcjobs get stuck in phase “Pending” or “Starting” and remain there even after all associated pods have completed successfully. From the Volcano controller logs, it seems Volcano fails to patch the vcjob’s status because the vcjob resource has unexpectedly been changed. In our system, these changes are being caused by an operator we wrote to

[2022-04-12 13:02] xkd045 commented on #1818
i am confused if you delete `pod0`

- if you delete `pod0`, then the `node1` really have 6 idle GPUs
- if you don't delete `pod0`, then the `node1` state will be `OutOfSync` and not join to schedule session, `pod1` cannot be scheduled to `node1`

can reproduce description be more accurate? tks

[2022-04-13 01:24] william-wang commented on #2160
@hapatrick Thanks for reporting the issue and the Python script. We'll try to reproduce it firstly with the scripts.

[2022-04-13 08:14] Yikun opened #2165 "Spark integration test always failed due to debian mirror connect failed"
Some error like:
[code]

https://github.com/volcano-sh/volcano/runs/6003483623?check_suite_focus=true

[2022-04-13 08:20] william-wang commented on #2165
Should have a mirror, i also experienced this issue several times.
/assign @Yikun

[2022-04-13 09:11] wpeng102 commented on #2160
@hapatrick you mean Kopf will update vcjob annotation right? And I want to confirm if you set `max-requeue-num` for volcano-controller command.

[2022-04-13 09:25] #2165 closed

[2022-04-13 11:36] wpeng102 opened #2166 "[Queue] guarantee resource should less or equal than capability"
**What happened**:
We know if capability is set in `Queue`, request must be no more than it at all dimensions,  [queue-resource-reservation-design.md](https://github.com/volcano-sh/volcano/blob/master/docs/design/queue-resource-reservation-design.md) introduce `guarantee.resource` which support resource reservation for specified queue.

So, `guarantee.resource` should less or equal than `capabilit

[2022-04-13 12:32] hapatrick commented on #2160
@wpeng102 Yes, Kopf adds its own annotations to vcjob objects and updates them periodically.

We were not aware of the max-requeue-num option, so we're not using it.

Thanks.

[2022-04-14 09:50] Megan96 opened #2171 "If a vcjob with a task whose minAvailable = 0, the vcjob can not be scheduled"
**What happened**:
if the minAvailable of task in vcjob is 0 and then failed to create pod of task in cluster, the vcjob can not be scheduled.

**What you expected to happen**:
Even if the task whose minAvailable is 0 can't create pod, the vcjob can be scheduled.

**How to reproduce it (as minimally and precisely as possible)**:
create a vcjob with two task taskA and taskB
| task | replicas | minA

[2022-04-14 09:53] Thor-wl commented on #2171
BTW, why set `minAvailable` to be `0`?

[2022-04-14 10:02] Megan96 commented on #2171
If the pod of taskB with replicas > 0 and minAvailable=0 can't be created,  the problem may still exist?
The example is to simulate a situation that the pod of task can't be created.

[2022-04-14 12:17] Thor-wl commented on #2147
/assign

[2022-04-14 12:25] eggiter commented on #1818
@xkd045
- It's not about if you delete pod0 or not, the thing is, if node lost gpus which are already been assigned to some pod, state of this node should be `OutOfSync`.
- Let's say if you deleted pod0, it's ok for node to be scheduled as long as the idle gpus is correctly calculated; if you don't delete pod0, then the actual state of this node need to be `OutOfSync` cause idle gpus of this node

[2022-04-14 13:05] xkd045 commented on #1818
yeah, that's right. What confused me is how could `pod1` be scheduled to `node1` when the node became `OutOfSync` in your reproduce description.

may be need more detail about the reproduce, tks @eggiter

[2022-04-15 07:33] Jason-Liu-Dream commented on #2067
@dontan001 maybe you can try this scheduler config
[code]

[2022-04-15 09:16] Thor-wl commented on #2166
/cc @qiankunli

[2022-04-15 09:16] Thor-wl commented on #2166
/cc @qiankunli

[2022-04-15 22:49] #1519 closed

[2022-04-18 03:40] #2012 closed

[2022-04-19 01:50] kenoung commented on #1818
I think the reproduction instructions are based on an older version of volcano (before #1685 was merged) when the scheduler would panic and restart if amount of resources allocatable fell below the amount being used. After the fix in #1685, the node will be marked NotReady.

**How to reproduce it (as minimally and precisely as possible):**
1. node1 has 8 allocatable GPUs;
2. Create pod pod0 reques

[2022-04-19 08:10] eggiter commented on #1818
@xkd045 Sorry, my bad. There is an action missing between step3 and step4: restart scheduler. The updated reproduce steps are:
| No. | Step | Result |
| - | - | - |
| 1 | `node1` has 8 allocatable GPUs;||
| 2 | Create pod `pod0` requests 8 GPUs| `pod0` assigned to `node1`|
| 3 | GPU error detected and allocatable GPU of `node1` becomes 6| `node1` became `NotReady(OutOfSync)`|
| **4** |**Restart sc

[2022-04-20 04:08] liblikewhen opened #2180 "make e2e webhook call failed"
**What happened**:
when I run `make e2e`, all test case will throw exception: `failed calling webhook "mutatepod.volcano.sh": Post "https://integration-admission-service.volcano-system.svc:443/pods/mutate?timeout=10s": context deadline exceeded`.
then, I tried a lot, I found run `./hack/local-up-volcano.sh` before `make e2e`, the problem will be solved.

**What you expected to happen**:

**How to

[2022-04-20 09:17] Thor-wl commented on #2180
Have you ever re-installed or deleted Volcano components by yaml? If that, please make sure you have removed the old `mutaingwebhookconfiurations` and `validatingwebhookconfigurations`.

[2022-04-20 13:05] kubernetian opened #2181 "MIG slices instead of entire GPUs"
#### What would you like to be added:

It would be cool if volcano would be able to handle MIG slices instead of entire GPUs. We are currently successfully using volcano in our ML setup to queue model training. We are trying to switch to GPU slices (MIG) instead of entire GPUs. But when we push vcjobs with slices in we get an error that "not enough resources are available". This error does not hap

[2022-04-21 00:44] k82cn commented on #2181
That's great to have such a feature in Volcano :)

[2022-04-21 00:47] d4l3k commented on #691
Is there any update on this? Would be nice if the overcommit plugin could be extended to handle this case. I'm running into this issue trying to launch TPU based jobs on GKE

https://cloud.google.com/tpu/docs/kubernetes-engine-setup

[code]

Volcano is refusing to schedule these jobs since there's no TPU available hosts, but there's no TPU available hosts because there's no pods scheduled. It does

[2022-04-21 02:53] papandadj opened #2182 "安装v1.5.0失败"
**What happened**:
在v1.5.0分支上面安装volcano， 通过kubelet apply -f `installer/volcano-development-arm64.yaml`， 出现
<img width="1384" alt="image" src="https://user-images.githubusercontent.com/25424898/164361671-1869303a-9dcc-4720-b0d9-5faaf2627387.png">
<img width="1081" alt="image" src="https://user-images.githubusercontent.com/25424898/164361711-0daeac75-b213-498a-b3c7-a229c9bee0c6.png">

**What you exp

[2022-04-21 07:48] hwdef opened #2183 "add example images for arm64"
#### What would you like to be added:

add arm64 version of  `volcanosh/example-mpi:0.0.1` and `volcanosh/dist-mnist-tf-example:0.0.1`

#### Why is this needed:

Required when running e2e in arm64 environment

[2022-04-21 08:51] shinytang6 commented on #2183
l believe the dockerfile of these example images are missing 🌜

[2022-04-21 09:08] hwdef commented on #2183
mpi's still exists, https://github.com/volcano-sh/volcano/blob/master/example/integrations/mpi/Dockerfile.

but the tensorflow, I can not find..We may need a new sample program =.=

[2022-04-21 17:37] d4l3k commented on #691
Just spent some more time here and this is actually incorrect. Volcano can schedule TPU jobs without issue, I just was missing an annotation.

Without the annotation the job just gets stuck without any errors
[code]

[2022-04-22 05:57] #2182 closed

[2022-04-23 12:56] k82cn opened #2186 "Preemption enhancement"
#### What would you like to be added:

Enhances preempt action to handle most common cases, and also provides a framework for customized plugins.

#### Why is this needed:

Currently, Volcano supports preemption actions to rebalance resources between jobs; but there are still several cases that can not be handled well by them. This proposal enhances preempt action to handle most common cases, and

[2022-04-23 12:57] k82cn commented on #2186
Refer to the following google doc for the detail of design:

xref: https://docs.google.com/document/d/11UBojOZRrG7WJ7hdWQjEZPl1otPAyJ8V5EM8U9vRAfE/edit?usp=sharing

[2022-04-24 02:06] YuxiangJohn opened #2187 "what‘s the difference between pytorch/tfjob and vcjob？"
Volcano is new to me. I would like to use volcano as the scheduler for my ML training job. Could anyone explain the difference between pytorchjob/tfjob and vcjob? The pytorchjob/tfjob generated by kubeflow/training-operator can be scheduled directly by volcano，so are there any implicit conversion from pytorchjob/tfjob to vcjob? Thank you~

[2022-04-24 02:15] Thor-wl opened #2188 "【summer2022】Volcano Tech Docs Supplyment and Update"
In order to make Volcano easy to use and understand, you task is to improve reading materials. The details are as follows:

- [ ] Add more introductions and user guidances about **volcano job API** including lifecycle management, job plugins and so on.
- [ ] Add more introductions and user guidances about **queue API** including resource division, quota management ans so on.
- [ ] Add more introdu

[2022-04-24 02:21] Thor-wl opened #2189 "【summer2022】Volcano Installation and Deployment"
In order to make Volcano easy to use and understand, you task is to improve reading materials. The details are as follows:

- [ ] Update the helm package and make it robust.
- [ ] Add bash scripts of installation and deployment for users to make it easy to install, deployment and update. Notice that you should make sure that the script can meet different environments and clean up all the generated

[2022-04-24 02:44] william-wang commented on #2188
Wonderful activity ;)
Let's track this items by sub-tasks.

[2022-04-24 03:20] #1650 closed

[2022-04-24 03:20] #1832 closed

[2022-04-24 03:20] #1604 closed

[2022-04-24 03:20] #1631 closed

[2022-04-24 03:20] #1458 closed

[2022-04-24 03:20] #1686 closed

[2022-04-24 07:49] Thor-wl opened #2190 "【summer2022】Volcano Function Enhancement"
Currently, there are some known bugs and stopped feature enhancement PRs in the Volcano community. Your task is to participate as much as possible in the community to help resolve these bugs and continue these stopped features.

Work includes but is not limited to:
* code optimization
* document improvement
* bug fix
* feature implementation
* code review
* …

Tips:
* You can refer to the followin

[2022-04-24 09:38] Thor-wl commented on #2152
/close

[2022-04-24 09:38] #2152 closed

[2022-04-24 14:02] fferrann commented on #1761
Issue is valid

[2022-04-25 04:48] Skyler-wy commented on #2188
I'm really interested in the project of Volcano Tech Docs Supplyment and Update,so i hope i can have the opportunity to participate in the project research and do it perfectly.Thank you!

[2022-04-25 06:07] Thor-wl commented on #2188
Great! Please follow the schedule of the activity and submit your application in time. Thanks!

[2022-04-25 06:08] Thor-wl commented on #1785
ref: https://github.com/volcano-sh/volcano/pull/2177

[2022-04-25 06:45] snow-315 commented on #2189
I am very interested in this volcano project and hope to get the opportunity to participate in this project. I'll try my best to do it.

[2022-04-25 06:47] Thor-wl commented on #2189
Great! Please follow the schedule of the activity and submit your application in time. Thanks!

[2022-04-25 08:03] zhuyaguang commented on #2187
+1

[2022-04-25 08:26] Thor-wl commented on #2187
PyTorch job/TF job is bind to specified computing platforms. If users want to run them with K8s, they have to work with operators. Volcano job is an abstract CRD which is nothing to do with specified platforms and works with K8s locally.

[2022-04-25 09:55] pengyuan opened #2191 "k8s cluster totally not work after helm uninstall volcano"
**What happened**:
**k8s cluster totally not work after helm uninstall volcano**

when helm install any other charts, then error occurs.

kubectl get events -w -n volcano

Error creating: Internal error occurred: failed calling webhook "mutatepod.volcano.sh": Post "https://volcano-admission-service.volcano.svc:443/pods/mutate?timeout=10s": service "volcano-admission-service" not found

**What you

[2022-04-25 10:10] kongjibai opened #2192 "How to run a custom tensorflow/pytorch/horovod train demo?"
As the title, how to run a **custom** **tensorflow**/**pytorch**/**horovod** train demo with Volcano?

[2022-04-25 10:14] pengyuan commented on #2191
#2079
#2102

it seems this problem does not resolved.

[2022-04-25 10:22] hwdef commented on #2191
Yes, you have to clean webhook manually.

[2022-04-25 10:22] hwdef commented on #2192
please check

https://github.com/volcano-sh/volcano/tree/master/example/integrations

[2022-04-25 10:37] qiankunli commented on #2186
some advise
1. in AI/spark case, there are always two role of pod: master/worker or driver/executor, if master pod is evicted, the worker pod will be fail too, so it may be necessary to make sure the master pod can not to be evicted.(merged)
2. Almost all actions are two-layer loops, can volcano extract a framework to improve code readability?
3. support the global priority of pod, so that we can

[2022-04-25 12:40] k82cn commented on #2186
Please help to share your cases in the google doc :)

[2022-04-25 14:27] snirkop89 commented on #1972
@zhenxiu did you find any solution for that?
it happens in version 1.5.1 also with mpi-example file. With the IP ssh works fine.

[2022-04-25 15:17] kongjibai commented on #2192
thx, but it only have argo, mpi, mxnet, paddlepaddle and tensorflow, do not have **_pytorch_** and _horovod_.

[2022-04-26 01:34] hwdef commented on #2192
@qiankunli

Do you have samples of pytorch and horovod?

[2022-04-26 03:02] zishen opened #2193 "Add job record cache between different session, convenient scheduling plug-in extension"
#### What would you like to be added:

Can volcano-scheduler add job record cache between different session, convenient scheduling plug-in extension. Custom caching position can be in api.JobInfo.
#### Why is this needed:

Like NodeInfo struct in volcano-scheduler, it has a cache between different session. So that volcano-scheduler plugin can provide  customized modification。

[code]

[2022-04-26 03:28] YuxiangJohn commented on #2187
Thank you, very clear! The vcjob is a kind of CRD maintained by volcano‘s operator. And TF/Pytorch job is another kind of CRD maintained by kubeflow training-operator, deal with TF/pytorch env and GPU resource, and turn on volcano as the prior scheduler if needed.

[2022-04-26 03:28] #2187 closed

[2022-04-26 07:02] Thor-wl opened #2195 "【UT】Case "pvc with matched pv" in `TestAllocatedWithDynamicPVC` happens to be get an expected result, which often blocks CI"
**What happened**:
It often happens that UT case `pvc with matched pv` in `TestAllocatedWithDynamicPVC`, which belongs to `allocate` packge, gets an expected result. This often blocks CI and bothers PR submitter a lot.
**What you expected to happen**:
This case can work well.
**How to reproduce it (as minimally and precisely as possible)**:
Just execute `make unit-test` under the project root dire

[2022-04-26 07:02] Thor-wl commented on #2195
/assign

[2022-04-26 07:09] snirkop89 commented on #1972
Yes. I'm using the example you sent. I verified the hosts name in the file are correct by echoing them before the command.
I read in one of the issues that it might be related to the user running the image - should be root, and DNS problem.

However, I'm using an image we use to run successfully MPIJob with multi node, but since the mpi-operator project doesn't support sending volcano options (for

[2022-04-27 06:54] Thor-wl commented on #2195
/close

[2022-04-27 06:54] #2195 closed

[2022-04-27 09:56] Thor-wl commented on #2189
/assign

[2022-04-27 09:56] Thor-wl commented on #2189
/assign

[2022-04-27 09:56] Thor-wl commented on #2188
/assign

[2022-04-28 02:35] jiangxiaobin96 commented on #2191
try https://githubhot.com/repo/volcano-sh/volcano/issues/2079

[2022-04-28 07:33] k82cn commented on #2193
It's handle by plugin to have a global variables :)

[2022-04-28 07:46] william-wang opened #2201 "upgrade Volcano related API version"
#### What would you like to be added:

Upgrade API version of Volcano releated CRD

#### Why is this needed:

As the Volcano API evolves, APIs are periodically reorganized or upgraded. The following API is stable and has been used by many users in their production environment for quite a long time. It's time to evaluate the API evolves to a new phase.

batch.volcano.sh/v1alpha1
bus.volcano.sh/v1al

[2022-04-28 12:12] shinytang6 commented on #2079
I think the simplest solution for now is to add a delete hook(Job) to delete these webhooks individually :)

[2022-04-29 06:10] hwdef commented on #2079
https://kubernetes.io/zh/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-namespaceselector

We should exclude pods of kube-system and volcano-system

[2022-04-29 20:36] jsolbrig opened #2206 "Getting 404 during `helm repo add volcano https://volcano-sh.github.io/charts`"
**What happened**:
When I run `helm repo add volcano https://volcano-sh.github.io/charts` I get a 404. Going to https://volcano.sh.github.io in a browser also gives a 404.

**What you expected to happen**:
The repo should get added correctly to helm.

**How to reproduce it (as minimally and precisely as possible)**:
Just run `helm repo add volcano https://volcano-sh.github.io/charts`

**Anything e

[2022-04-29 22:09] jsolbrig commented on #2206
Ah, I didn't realize that the Helm Chart is a bit under-developed. So, if the 404 is intentional, feel free to delete this issue.

Are there plans to flesh out the Helm Chart more? It looks like as a part of the Summer 2022 work? Are there ways that I can help with the development for this?

[2022-05-01 07:38] #1866 closed

[2022-05-01 07:38] #1867 closed

[2022-05-01 07:38] #1858 closed

[2022-05-02 06:58] shinytang6 opened #2208 "Podgroup state changed from running to inqueue after pod deleted"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
job yaml:
[code]
In this case(cleanPodPolicy=OnCompletion)，when the pod is completed, the pods will be deleted by paddlejob controller.
The PodGroup status transition will be like Inqueue => Running => Pending(all the pods deleted) => Inqueue(

[2022-05-02 07:02] shinytang6 commented on #2208
My workaround is if podgroup is unschedulable and current state is Running, we convert it to Unknown while not becomes Pending then enter into enqueue action.

[2022-05-02 07:10] shinytang6 opened #2209 "Add more deploy switches on helm deploy"
#### What would you like to be added:

Sometimes we just want to deploy volcano scheduler by helm and don't want to deploy other components; sometimes we don't want to install monitoring components by default, we should add more switches to enable this.

[2022-05-02 15:28] Thor-wl commented on #2206
Yes, it has been listed as an item of Summer 2022. Any work about installation and deployment is great!

[2022-05-03 12:28] pietermarsman commented on #2079
For future users with this issue, I resolved it with:

[code]

[2022-05-05 10:43] kongjibai commented on #2079
I have deleted validatingwebhookconfigurations and mutatingwebhookconfigurations as you mentioned, but when i run "kubectl apply -f mpi-example.yaml", it only outputs "job.batch.volcano.sh/lm-mpi-job configured", run "kubectl get pod", it outputs "No resources found in default namespace". How to solve this problem?

[2022-05-06 01:47] kongjibai opened #2210 "Can not create a job"
**What happened**:
using `kubectl apply -f lm-horovod-tf-mnist-v0.5.yaml` to create a horovod tf job, it outputs `job.batch.volcano.sh/lm-horovod-job created` or `job.batch.volcano.sh/lm-horovod-job configed`, but `kubectl get pod` outputs `No resources found in default namespace`.

**What you expected to happen**:
`kubectl get pod` outputs the started master & worker job and the status of them

*

[2022-05-06 02:01] shinytang6 commented on #2210
You may need to reinstall the volcano again after deleting these webhook configurations.

[2022-05-06 02:41] kongjibai commented on #2210
thx, i have uninstall it using `kubectl delete -f volcano-development.yaml`, and reinstalled. but maybe uninstall completely, because the reinstall command finished within 1 second. i want to know how to clean up volcano completely?

[2022-05-06 02:43] shinytang6 commented on #2210
if you use volcano-development.yaml, the normal reinstall way might be:
[code]

[2022-05-06 03:49] Thor-wl opened #2211 "【community bridge 2022 Q2】Volcano scalebility enhancement"
The project is to make sure volcano works better in AI/HPC scenarios.

Your tasks may include:
1. enhance the integration of volcano with third-party operators by customizing the volcano job plugin.
2. enhance volcano GPU support, may include some work of volcano device plugin.

ref:
1. https://github.com/volcano-sh/volcano/pull/1806
2. https://github.com/volcano-sh/volcano/issues/2111
3. https://

[2022-05-06 06:34] kongjibai commented on #2210
thx, i will try as you suggested.

[2022-05-06 22:21] brickyard commented on #1775
Could we re-open and make an update here?  Volcano is pretty much unusable with Cluster Autoscaler and Karpenter with the "Undetermined" reason.  Is there any reason why we shouldnt revert the PR to gain back compatibility with the autoscaling\cloud eco-system?  Would love to hear from the team on this.

[2022-05-07 01:12] william-wang commented on #1775
@brickyard Of course, please update here. Maybe the scheduling reason enhanced in pr#1672 missed to consider the interacting between scheduler and the autoscaler. @Thor-wl please continue to work on this to fix it. if there is not a way to take care of both the autoscaling and scheduler reason enhancement. We need to revert to keep the compatibility firstly.

[2022-05-07 02:40] william-wang opened #2212 "refactor proportion plugin to decouple capacity, gurantee and proportion"
#### What would you like to be added:
Sepearte proportion plugin into multiple plugins.

#### Why is this needed:
Currently capacity, gurantee and proportion functionalities are implemented in a single plugin. It make the logical complex and hard to maintain. And even there is confliction in some scenario.

Volcano has a flexible configuration mechanism like Tier to control how different plugins c

[2022-05-07 04:06] zbbkeepgoing opened #2213 "Calculate inqueue resource for running jobs not up to expectations"
**What happened**:

Calculating the inqueue resource of the running job in opensession does not meet the expectation

**What you expected to happen**:

Calculate the inqueue resource of the running job in opensession, which meets the expectation

**How to reproduce it (as minimally and precisely as possible)**:

- Create a queue which capability is` cpu:2000m, memory: 10G`
- Create three SparkAppl

[2022-05-07 04:07] zbbkeepgoing commented on #2213
/assign @zbbkeepgoing . i will take it

[2022-05-09 01:36] Thor-wl commented on #2147
/close

[2022-05-09 01:36] #2147 closed

[2022-05-09 02:05] Thor-wl commented on #1955
/close

[2022-05-09 02:05] #1955 closed

[2022-05-09 02:07] Thor-wl commented on #2027
/close

[2022-05-09 02:07] #2027 closed

[2022-05-09 02:09] Thor-wl commented on #1785
/close

[2022-05-09 02:09] #1785 closed

[2022-05-09 02:10] Thor-wl commented on #1777
/close

[2022-05-09 02:10] #1777 closed

[2022-05-09 03:25] Thor-wl commented on #1737
I've taken this case reproduced many times again with the mater branch and everything goes well. The output can be referred to as follows.
![截图](https://user-images.githubusercontent.com/61179420/167335289-d2bc3451-ebdc-4d2c-85e6-ab8be1dd3160.PNG)

[2022-05-09 03:25] Thor-wl commented on #1737
/close

[2022-05-09 03:25] #1737 closed

[2022-05-09 07:17] zirain opened #2217 "helm install not correct"
**What happened**:

grafana/kube-state-metrics/prometheus should not be installed by default via helm.

**What you expected to happen**:

[code]

should no install grafana/kube-state-metrics/prometheus by default

**How to reproduce it (as minimally and precisely as possible)**:

run following cmd:
`helm install volcano  --namespace volcano-system helm/chart/volcano/`

**Anything else we need to k

[2022-05-09 07:57] Thor-wl commented on #2217
/assign @zirain

[2022-05-09 08:50] Thor-wl commented on #1680
Hi, I'm sorry for reply late. I've taken a look at releated history of the commits. Just as @LuBingtan mentioned above, it takes a check about priviledged containers. It depends on the configuration of kube-apiserver. I agree with @LuBingtan 's advice. Perhaps we can add a flag such as `SkipVerifyPrivileged`. Let me give a fix about that.

[2022-05-10 01:11] zirain opened #2219 "redundant webhook after uninstall"
**What happened**:
[code]

**What you expected to happen**:

there's no redundant webhook after volcano uninstalled.

**How to reproduce it (as minimally and precisely as possible)**:
1. install volcano via helm
2. uninstall volcano helm release
3. run `kubectl  get mutatingwebhookconfiguration | grep volcano`

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes v

[2022-05-10 02:23] shinytang6 commented on #2219
dup with https://github.com/volcano-sh/volcano/issues/2102

[2022-05-10 02:24] papandadj opened #2220 "Why scheduler config tiers field is two-dimensional array？"
When I look at the source code, I found this in `pkg/scheduler/framework/framework.go:OpenSession`.
[code]
Does it have any special meaning？

[2022-05-10 15:46] zhaixigui opened #2221 "The cluster resources are sufficient and the queue resources are insufficient, preemption does not work"
**What happened**:

I created a queue, queue.capacity is set, and all the resources of the queue are allocated. At this time, the resources of the cluster are still sufficient. I hope that the high-priority tasks in the queue will preempt the low-priority tasks, but unfortunately no preemption occurs. Why?

I can see from the log that the preempt action has initiated preemption for those high-prio

[2022-05-11 01:10] Thor-wl commented on #2220
Please refer to [How to Configure Scheduler](https://github.com/volcano-sh/volcano/blob/master/docs/user-guide/how_to_configure_scheduler.md) for more details.

[2022-05-11 01:25] k82cn commented on #2221
/cc @wpeng102

[2022-05-11 07:57] Thor-wl commented on #1680
I've added a parameter `enabled-privilege-container` for admission webhook to decide whether allows privilege containers, whose default value is `false`.

[2022-05-11 08:28] Thor-wl commented on #1680
Besides, I notice that [issue2123](https://github.com/volcano-sh/volcano/issues/2123) has discussed about this problem. Another approach is to ignore privilege container check in volcano admission webhook for it has already been checked by kube-apiserver before. What do you think about the 2 solutions? @junhuihuang @LuBingtan @yuyue9284

[2022-05-11 08:39] william-wang commented on #1680
As the kube-apiserver already check it. No need to check it in Volcano.  It's inconvient for some users to check the api-server configuration and then keep volcano the same with apiserver, e.g. user use the k8s managed by cloud provider.

[2022-05-11 08:54] Thor-wl commented on #2220
/close

[2022-05-11 08:54] #2220 closed

[2022-05-11 09:06] k82cn commented on #1680
I'm a little confiused about this issue? Did we skip "privilege" in Volcano right now? If skipped, why do we still have such kind of erro?

[2022-05-11 09:07] hzxuzhonghu opened #2223 "Volcano does not have release package"
When i want to install volcano, first i need to download the code, then I can  use helm install. I can not find a chart release package.

BTW: for release 1.1.0, it does have a release package https://github.com/volcano-sh/volcano/releases/download/v1.1.0/volcano-v1.1.0-linux-gnu.tar.gz

[2022-05-11 09:10] k82cn commented on #2223
please use docker images :)

[2022-05-11 09:11] hzxuzhonghu commented on #2223
We want to install with helm

[2022-05-11 09:12] hzxuzhonghu commented on #2223
not sure i understand, does volcano support install with docker?

Not sure i understand

[2022-05-11 09:31] william-wang commented on #1680
We skiped "privilege" by setting `coreTemplateSpec.Spec.InitContainers[i].SecurityContext.Privileged = nil`, however `mountPropagation: Bidirectional` in pod depends on the "priviledge" which is changed to nil by us.

[2022-05-11 09:34] Thor-wl commented on #1680
Because of the the force convert from privilege containers to common containers, which are introduced from [PR](https://github.com/volcano-sh/volcano/pull/411) and [PR2125](https://github.com/volcano-sh/volcano/pull/2125), `Bidirectional mountPropagation` cannot be used for it can only with privilege containers.

[2022-05-11 13:50] YuxiangJohn commented on #2221
I have a similar problem. I have resources in cluster, but the jobs could not be scheduled.

[2022-05-12 01:32] zirain commented on #2219
closed as dup

[2022-05-12 01:32] #2219 closed

[2022-05-12 02:57] kongjibai opened #2226 "ORTE does not know how to route a message to the specified daemon"
when i use volcano start a horovod tf job，the `lm-horovod-job-master-0` node will run error and after restart 3 times, it'll be Running status, because it `Permanently added 'lm-horovod-job-worker-0.lm-horovod-job,10.10.10.10' (ECDSA) to the list of known hosts`. the output info as below, anyone met or solved problem like this?
i use volcano 1.5.1, horovod 0.24.3, tf1.15, open mpi 4.0.0, cuda 10.0

[2022-05-12 03:11] hwdef commented on #2226
Please post the yaml file of the job

[2022-05-12 03:16] kongjibai commented on #2226
[code]

[2022-05-12 03:19] hwdef commented on #2226
Please try delayed start master.

https://github.com/volcano-sh/volcano/blob/2cfce7a1305e4ad6d3dcb1a11bf3dc528aee0701/example/task-start-dependency/mpi.yaml#L34

You can try use dependsOn.

[2022-05-12 07:37] #2217 closed

[2022-05-12 08:26] shinytang6 commented on #2209
https://github.com/volcano-sh/volcano/pull/2218 and https://github.com/volcano-sh/volcano/pull/2228 resolves this issue

[2022-05-12 10:49] kongjibai commented on #2226
I have tried use `dependsOn`, but there is no matser job and the worker jobs always in `Pending` status. After i deleted the job and apply it again, the output of `kubectl get pod` is `No resources found in default namespace`. I can only clean up volcano and reinstall it, if i try to use  `dependsOn` and apply a job, the matser and worker jobs will as same before. bellow is the .yaml file.
apiVers

[2022-05-12 11:22] hwdef commented on #2226
It is speculated that there is a conflict with the gang plugin.
You can disable gang plugin or set `minavailable` == worker.replicas

[2022-05-13 02:33] anutosh491 commented on #2211
Hello @shinytang6  , hope you're doing well , this is Anutosh here from India . I'm an open source enthusiast and I'm currently involved with communities based on numerical and symbolic computations/algorithms in math and physics like numpy, sympy, networkx.

I am keen to take part in the LFX Mentorship program for the summer term and project interests me. But being new to the project , I would be

[2022-05-13 03:18] #1680 closed

[2022-05-13 03:41] Thor-wl commented on #2226
@hwdef Perhaps we should consider more about mpi requirements and provides more test results at [mpi plugin](https://github.com/volcano-sh/volcano/pull/2194)

[2022-05-13 06:16] wpeng102 opened #2232 "[preempt] High-priority job can not preempt low-priority job when then queue is overused"
**What happened**:
High-priority job can not preempt low-priority job when then queue is overused.

**What you expected to happen**:
High-priority job  preempt low-priority job

**How to reproduce it (as minimally and precisely as possible)**:
scheduler configmap:
[code]
Queue with capability:
[code]

Low-priority job:
[code]
High priority job:
[code]

**Cluster has 6 free cpus**,  submit low-prio

[2022-05-13 06:17] wpeng102 commented on #2232
/assgin @wpeng102

[2022-05-13 07:06] k82cn opened #2233 "GPU enhancements"
There're several enhancements for Volcano to do for GPU scenarios, let's do more investigation on them:

- [ ] GPU sharing: https://github.com/NVIDIA/open-gpu-kernel-modules
- [ ] GPU & NUMA: https://docs.open-mpi.org/en/v5.0.x/networking/cuda.html#numa-node-issues
- [ ] vgpu

[2022-05-13 10:49] william-wang opened #2235 "sunset the reservation plugin and elect reserve actions"
#### What would you like to be added:
deprecate the reservation plugin and elect, reserve actions.

#### Why is this needed:
The old reservation plugin and elect, reserve actions have been replaced by new SLA plugin for a long time. We planed to depracate it.

[2022-05-16 01:58] Thor-wl commented on #2235
/close

[2022-05-16 01:58] #2235 closed

[2022-05-16 09:19] daizry opened #2238 "can not update a pending vcjob"
**What happened**:
According to [pull1137](https://github.com/volcano-sh/volcano/pull/1137), updating priorityClassName is supported for a pending job. However, volcano denied the update request with Error like this:
 **for: "vcjob.yaml": admission webhook "validatejob.volcano.sh" denied the request: job updates may not change filelds other than `minAvailable`, `tasks[*].replicas under spec`**
Fir

[2022-05-16 09:22] Thor-wl commented on #2238
/cc @merryzhou

[2022-05-16 23:54] wpeng102 commented on #2223
Same as https://github.com/volcano-sh/volcano/issues/1945. This is a reasonable requirement from customer. /cc @Thor-wl

[2022-05-16 23:57] wpeng102 commented on #2232
duplicated with https://github.com/volcano-sh/volcano/issues/2221.

[2022-05-16 23:57] #2232 closed

[2022-05-16 23:59] wpeng102 commented on #2221
duplicate with https://github.com/volcano-sh/volcano/issues/2232. Refer https://github.com/volcano-sh/volcano/issues/2232 for reproduce steps.  PR: https://github.com/volcano-sh/volcano/pull/2234

[2022-05-17 20:49] djwhatle opened #2244 "Admission controller can't restart after crashing due to volcano webhook failure policy: fail"
**What happened**:

The `volcano-admission` Pod crashed and tried to start back up, but was denied admission because there is a self-referential dependency for this Pod to be admitted.

**What you expected to happen**:

volcano-admission Pod can crash and restart

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Volc

[2022-05-17 20:52] djwhatle commented on #2244
Fix implemented in #2245

[2022-05-18 01:41] hwdef commented on #2233
Expect volcano to be more powerful in gpu and have the ability to control the source code about gpu sharing

[2022-05-18 09:52] hansongChina opened #2246 "release-1.5 When modifying guarantee gpu number, CPU resource tasks cannot enter enqueque"
**What happened**:
Example，Set two queues in the cluster, A and B,
**cluster total resource：**
[code]
**queue A set for**
[code]
**queue B set for**
[code]
A queues up 6 tasks, and each task resource is：
[code]
Tasks are running。
Change the guarantee quantity of the GPU in QUEUE B to 4。
A queue If A CPU task T1 is executed, the enqueue cannot be entered. The task resources are as follows：
[code]

[2022-05-18 14:51] Asciotti opened #2247 "Mutatingwebhook respect namespacing"
Following up formally for a request for having the mutatingwebhooks to respect namespacing across a cluster. My team operates in mult-tenant clusters (each team with designated namespaces, sharing resources). We are setting up a system from ML/DS to perform multi-node training/experimentation; however, we do not want to interfere with other users/teams on these clusters.

Additionally, if you coul

[2022-05-19 01:29] Thor-wl commented on #2246
/assign @qiankunli

[2022-05-19 03:48] Thor-wl commented on #2247
/cc @hwdef

[2022-05-19 15:21] djwhatle commented on #2244
Implementing an alternate fix in an upcoming PR. It sounds like there are some potentially harmful side-effects (panic in volcano controller) if webhook `failurePolicy: ignore` is set.

Arguably the controllers should be resilient to webhook failure without panic but for practical purposes, will plan to open a PR to set the webhooks to ignore all Pod admissions in volcano-system and kube-system na

[2022-05-20 08:11] 5had3z opened #2252 "Unexpected Behaviour for AddJobEnqueueableFn"
I tried to add a AddJobEnqueueableFn to the predicates plugin and move it to the first tier of volcano-scheduler.conf in order to solve a problem where jobs were not being scheduled due to a mix of resource requests and node predicates.

The actual overview of the problem I was having was that I have some 3090 and some 1080 nodes in the cluster, and use nodeselector to assign jobs to the right nod

[2022-05-20 09:26] qiankunli commented on #2246
for  `inqueue := minReq.Add(attr.allocated).Add(attr.inqueue).Sub(attr.elastic).LessEqual(attr.realCapability, api.Infinity)`, if we use `(1,1,1)` to represent `(cpu,mem,gpu)`,

`(1,1,0) + (6,6,6) +  (0,0,0) - (0,0,0) = (7,7,6)  < (8,16,2) ==> false`,  I thought about this at the time, but for simplicity of calculation, I didn't change it.

[2022-05-21 02:29] Aju100 commented on #2189
@Thor-wl Hi I am interested to be part of the program and contributions.

[2022-05-21 02:55] Aju100 commented on #2070
Hi @william-wang I would like to work on this beginner good issue. Can you please assign to me

[2022-05-21 03:08] Thor-wl commented on #2070
/assgin @Aju100

[2022-05-22 22:00] Sharathmk99 commented on #1661
@Thor-wl Im facing same problem as above. Any workaround for now?

[2022-05-23 07:24] shinytang6 commented on #2211
Sorry for the late reply, really appreciate for your interest. I recommend browsing the official website https://volcano.sh/ and design documentations https://github.com/volcano-sh/volcano/tree/master/docs first to have a basic understanding of volcano :)

[2022-05-23 13:42] zhaixigui opened #2256 "gang plugin's jobStarving behavior is not expected"
**What happened**:
Enabled preemption, enabled gang plugin
When the queue resources are exhausted, a high priority job is submitted to this queue, we expect it to preempt the low priority job, unfortunately the preemption fails.

Reason: When checking whether a job is hungry, the CheckTaskMinAvailablePipelined of gang.jobStarvingFn will check the number of pipelined pods, and if the number is less

[2022-05-24 01:43] Thor-wl commented on #1661
I'm sorry for not yet now. Will do that after v1.6 is released.

[2022-05-24 01:44] Thor-wl commented on #2252
/cc @hwdef Can you help for that?

[2022-05-24 04:25] hwdef commented on #2252
ok, I'll look into this.

[2022-05-24 06:31] Thor-wl commented on #2213
/close

[2022-05-24 06:31] #2213 closed

[2022-05-25 08:12] Thor-wl commented on #2047
/close

[2022-05-25 08:12] #2047 closed

[2022-05-25 09:57] lowang-bh commented on #1052
Recently, I also find that OutOfxxx ERROR, due to kube-batch scheduler's cached node infor is not correspoding with kubelet's allocated.   When this error occur, I checked the kubelet's describe and kube-batch's cached node resource, kube-batch's is less than kubelet's used.

I can not find where cause this issue.

[2022-05-26 10:06] kongjibai commented on #2210
Yes, this way can clean up volcano, but how to solve the problem `No resources found in default namespace` when input `kubectl get pod`. In fact, I have applied the job by 'kubectl apply -f ****.yaml'. Because this problem always appear, is it a **Bug**?

[2022-05-26 13:01] zbbkeepgoing commented on #2238
Because vcjob.spec.task[*].maxRetry has't considered in job update verification, so apply the source yaml file when you do not specify maxRetry, the problem will occur.

**Note:** Workaround before my code merged:   replace `kubectl apply -f file.yaml` with `kubectl edit vcjob xxx `

[2022-05-26 14:12] kernelpanic77 commented on #2211
Hello @shinytang6!
I am Ishan from India. I am currently working computer vision based Medical-AI project. I found the volcano.sh project is extremely interesting and wanted to contribute to Scalability Enhancement Project as Part of LFX for Summer 2022. I am currently going through the [volcano documentation](https://github.com/volcano-sh/volcano/tree/master/docs) to get a better understanding of

[2022-05-27 02:07] daizry commented on #2238
Thx, after adding `vcjob.spec.task[*].maxRetry` into yaml file, `kubectl apply -f ` worked.
Also, `kubectl edit vcjob xxx` worked without `vcjob.spec.task[*].maxRetry`.
Whereas, updating `priorityClassName` field still caused the same error

[2022-05-27 02:44] zbbkeepgoing commented on #2238
Yes, as expected. So `kubectl edit vcjob xxx` cannot remove maxRetry in task

[2022-05-27 02:46] shinytang6 commented on #2211
Thanks for your interest! yes it's still in the application period, you can follow the process of community bridge and apply for it.

[2022-05-27 11:21] zbbkeepgoing commented on #2238
Use `kubectl edit vcjob` only update priorityClassName or add task[*].maxRetry in file.yaml and 'kubectl apply -f file.yaml'

[2022-05-28 04:08] xiaoanyunfei commented on #2235
Recently I'm studying `reserve` function, and I just wondor how `sla` plugin can reserve resource for  job requesting a lot of resource.

jobA requests a lot of resource
jobB, jobC, jobD ... request less resource

In the case of insufficient cluster resources

During a schedule cycle:

jobA  is first to be scheduled , but failed for lack of resource.
Then JobB will scheduled and running, and then

[2022-05-28 06:52] Thor-wl commented on #2235
@xiaoanyunfei IMO, this consideration makes sense for most users know little about Volcano's implementation. Besides, users should not get too much knowledge about that except for the configurations indeed. A kind of mechanism is necessary to recognise starvation when reserving resource for target jobs. The following are 2 ways I can think about to relieve the problem.
* Introduce timeout mechanis

[2022-05-28 12:40] Sharathmk99 opened #2261 "Default queue name from namespace labels, when no queue name in pod spec"
#### What would you like to be added:
Currently when no queue name is mentioned in pod spec, it will default to "default" queue. But it will be helpful if we default the queue name from namespace label(scheduling.volcano.sh/queue-name) if exist.

Example Namespace:

[code]

#### Why is this needed:

When namespace is dedicated to user and queue name can change dynamically based on when team he bel

[2022-05-28 13:35] kernelpanic77 commented on #2211
@shinytang6 sorry for my delayed response. From what I understand about the first part of the project, we need to create plugins for deep learning frameworks to reduce the complications of setting the configurations for a machine learning task manually. More importantly, task-level scheduling would be an interesting feature for the volcano project. That sound's good. However, I understood the GPU

[2022-05-28 14:49] anutosh491 commented on #2211
Today is the last day to apply , applications close tomorrow morning as per the website. Hope that helps !

[2022-05-28 16:23] Sharathmk99 commented on #2261
I made code changes to make it work. If this feature is helpful, I can create PR.
https://github.com/Sharathmk99/volcano/tree/feature/default-queue-name-namespace-annotation

[2022-05-29 10:48] zhaixigui opened #2262 "added priority capability for reclaim action"
#### What would you like to be added:
We need a resource recovery requirement between queues. The scenario is as follows:

We have an offline job management platform, which is responsible for managing offline jobs of different business teams, and all business teams submit jobs on this platform.

The platform has a global job priority. it creates the queue for each business team and sets the maximu

[2022-05-29 19:50] peiniliu commented on #2211
Hi,
This is Peini from the Barcelona supercomputing center. I had some experience on Volcano project, and I submitted PRs to improve the GPU number predicates/GPU device plugins. If there is a GPU machine that can be accessed to work during the summer vacation, I would really like to work on the feature. :)
Best,
Peini

[2022-05-30 07:01] zhaixigui commented on #2256
any update ？

[2022-05-30 08:37] william-wang commented on #2209
That's great to have the component configurable.

[2022-05-30 08:39] #2209 closed

[2022-05-30 12:04] YuxiangJohn opened #2264 "The pods were deleted but the resource of job and podgroup still there"
The pods were deleted but the resource of job and podgroup still there

I'm not sure it is a bug or usage problem. We find out the problem here:
Our cluster has 3 namespace, a default queue for volcano. The notebook job can running as it is scheduled by default scheduler. However the kubeflow distjob for training DNN could not be scheduled by volcano after 3 days. The resource is enough, but no jo

[2022-05-30 12:05] YuxiangJohn opened #2265 "The pods were deleted but the resource of job and podgroup still there"
The pods were deleted but the resource of job and podgroup still there

I'm not sure it is a bug or usage problem. We find out the problem here:
Our cluster has 3 namespace, a default queue for volcano. The notebook job can running as it is scheduled by default scheduler. However the kubeflow distjob for training DNN could not be scheduled by volcano after 3 days. The resource is enough, but no jo

[2022-05-30 12:22] #2265 closed

[2022-05-31 03:57] #1605 closed

[2022-05-31 03:57] #1603 closed

[2022-05-31 03:57] #1844 closed

[2022-05-31 03:57] #1755 closed

[2022-05-31 03:58] #1598 closed

[2022-05-31 03:58] #1524 closed

[2022-05-31 03:58] #1872 closed

[2022-05-31 03:58] #1740 closed

[2022-05-31 03:58] #1865 closed

[2022-05-31 03:59] #1877 closed

[2022-05-31 03:59] #1878 closed

[2022-05-31 07:13] #1894 closed

[2022-05-31 08:44] prokher commented on #1687
I still need this.

[2022-05-31 14:30] Robert-Christensen-visa commented on #2024
This is still an issue.

[2022-05-31 14:36] hwdef commented on #2252
Sorry for the late reply, I've been a little busy lately.
I have a preliminary look at your code and I think there is probably no problem. I'll do some testing on my environment next.
Regarding the problem of not seeing the log, have you tried to increase the level of the log?
Another thing that puzzles me is why the two queues affect each other? They are isolated.

[2022-05-31 23:30] 5had3z commented on #2252
No worries for the late reply, my patch is working so nothing is urgent, but not for the reason I expected, which is why I created this issue. Both queues are running on the same cluster with the same pool of GPUs (8 3090, 4 1080, 3 1080Ti). What I think is happening is if the scheduler is agnostic to GPU type (and only looks at count) it will move 1080 jobs to enqueue even if there's none left (o

[2022-06-01 00:49] wpeng102 commented on #2256
@shinytang6  could you help on this issue?

I am not very clear why introduce ` ji.MinAvailable < ji.TaskMinAvailableTotal ` in `CheckTaskMinAvailablePipelined`. In high priority job, if job.MinAvailable=1 and taks.replicas=1 because occupied is 0 this will block preemption in `gang`. But if job.MinAvailable=1 and taks.replicas=2 can trigger preempt low priority job.

[2022-06-01 01:09] william-wang commented on #2261
@Sharathmk99 It makes sense that set queue name from namespace annotations when no queue name in pod spec. Please submit your PR. Thanks :)

[2022-06-01 02:08] hwdef commented on #2252
I see. I think there's a recent discussion in the community that's similar to the scenario you're talking about.
https://github.com/volcano-sh/volcano/pull/2227

[2022-06-01 02:31] shinytang6 commented on #2256
l looked into it, l think the logic in `jobStarvingFn` is not right, l think we need to write a new func to handle this.

the reason why introduce `ji.MinAvailable < ji.TaskMinAvailableTotal` is because if sumof(task.minAvailable) > job.minAvailable, we need to ignore the logical judgment related to `task.minAvailable`, because in this case if we dont ignore it will make the judgment of `job.minAv

[2022-06-01 10:40] hermitgreen opened #2270 "Could I preserve job information for few hours?"
#### What would you like to be added:

Preserve job in status 'Completed' for few hours.

#### Why

Noticed that job info would be deleted immediately when job complete, so does logs.

to see what happened in pod, we need `kubectl logs -f`, but if a job need run one day, kubectl connection will broken.

If we can preserve pod log for few hours, we can just print debug information to console and do

[2022-06-02 01:18] Thor-wl commented on #2270
So what you need is the logs, right? I think you can output the log to a file or some other kind of persistent storage by mounting a volume to containers.

[2022-06-02 07:11] hwdef commented on #1460
I think this is still needed

[2022-06-02 07:12] hwdef commented on #1460
@Thor-wl

[2022-06-02 07:17] hwdef commented on #1940
This issue has been resolved, please close.
@jiangkaihua @Thor-wl

[2022-06-02 07:37] Thor-wl opened #2273 "[CI Fix]Github actions don't work occasionally"
**What happened**:
When I submitted [PR-2272](https://github.com/volcano-sh/volcano/pull/2272), the github action didn't work well. After a short investigation, I found something different as follows.
* Only [E2E about Parallel Jobs](https://github.com/volcano-sh/volcano/runs/6703861243?check_suite_focus=true#logs) can't work well. The logs indicates the failure about 'actions/cache@v2' or 'action

[2022-06-02 07:59] Thor-wl commented on #1940
/close

[2022-06-02 07:59] #1940 closed

[2022-06-02 08:49] hwdef commented on #2270
Did you set any special policy, I created a vcjob and it doesn't seem to be deleted

[code]

![图片](https://user-images.githubusercontent.com/13084946/171592696-3ef1dd86-d6ba-4e9e-a3bb-58a17e9c5391.png)

[2022-06-02 10:00] Thor-wl commented on #2273
Github action  recoveries now.
/close

[2022-06-02 10:00] #2273 closed

[2022-06-02 10:12] hermitgreen commented on #2270
yeah, redirect log to pvc or kafka can solve this problem, it's need refactoring code.
at local `python train.py`
on volcano `python train.py 2&>1 > train.log && cp train.log /mnt/pvc/train.log`

[2022-06-02 10:14] hermitgreen commented on #2270
yeah, redirect log to pvc or kafka can solve this problem, it's need refactoring code.
at local `python train.py`
on volcano `python train.py 2&>1 > train.log && cp train.log /mnt/pvc/train.log`

[2022-06-02 10:30] hermitgreen commented on #2270
It's seems vcjob will be deleted after status change to completed for 10m

[code]

I think maybe this time gap can be configurable

[2022-06-03 08:52] hwdef commented on #2270
![图片](https://user-images.githubusercontent.com/13084946/171821841-8ebd4d32-ea29-4ebb-95cb-b7ec10a334ab.png)

What version are you using? The latest version I installed with default configuration, without removing vcjob.

[code]

[2022-06-03 12:01] Thor-wl commented on #2270
AFAIK, Volcano will not delete completed jobs. It depends on the uses.

[2022-06-04 19:41] habvt commented on #650
Hi all, I am looking for a way to use GPU sharing with torch elastic, and so any update on this?

[2022-06-04 22:02] Sharathmk99 opened #2276 "Pod starts running when Queue state is closed"
**What happened**:
When I close the queue using `vcctl` cli and submit the `pod`, it starts running.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Closed `default` queue
`vcctl queue operate -a close -n default`

Submited below pod,
[code]

**Anything else we need to know?**:
Currently `job` validation webhook blocks the job with queue state i

[2022-06-04 23:08] Sharathmk99 commented on #2276
I have a fix for the same. Shall I open the PR?
https://github.com/volcano-sh/volcano/compare/master...Sharathmk99:bugfix/queue-closed-state?expand=1

[2022-06-06 01:28] Thor-wl commented on #2276
Thanks for your contribution, @Sharathmk99 . Please submit the PR. That's OK.

[2022-06-06 02:21] Jason-Liu-Dream opened #2277 "TDM plugins suppose set up timezone"
#### What would you like to be added:
   actions: "enqueue, reclaim, allocate, preempt"
   tiers:
   - plugins:
     - name: tdm
       arguments:
         tdm.revocable-zone.rz1: 10:00-21:00
         tdm.revocable-zone.rz2: 12:00-14:00
         tdm.timezone: Asia/Shanghai
         tdm.evict.period: 1m
#### Why is this needed:
[code]

[2022-06-06 07:57] 5had3z commented on #2252
Certainly, but I think maybe better intergration of the existing nodeSelector mechanisms is cleaner than another plugin and set of attributes, which is what I'm using *mostly* successfully.

[2022-06-06 08:31] wangmingyi11 opened #2278 "Error 'failed calling webhook' while creating a job after installation"
After we installed volcano, we've verified the status of Volcano components using `kubectl get all -n volcano-system`. It seems ok.
Then we followed the demo online and tried to start a job using `kubectl apply -f /home/queue.yaml --v=9`. It reported the error below:
[code]
How to deal with it?

[2022-06-06 09:01] hwdef commented on #2252
Yes, you're right, let's continue to troubleshoot the issue.

[2022-06-06 09:07] hwdef commented on #2277
https://github.com/volcano-sh/volcano/pull/2269#issuecomment-1146972249
I reply here.
You can change the time zone in the container by mounting the files in the `/usr/share/zoneinfo/` directory, which can also make the time zone of the container and the host different.

You say your approach is more intuitive. I have no objection to that.

[2022-06-06 22:20] jsolbrig commented on #2206
I'm starting to put together a helm chart for Volcano for my own purposes. Before I go too far, I have a few questions so that, maybe, my work can be useful:
- Would it be helpful if I work on putting together a more useful helm chart or is that already being worked on by others behind the scenes?
- Have any decisions been made about how a helm chart for Volcano should be structured?
- Are there a

[2022-06-07 03:18] bengamine opened #2280 "Queue metric is incorrect when job is completed or deleted"
**What happened**:
All the queue related metrics (such as queue_share, queue_allocated_milli_cpu, queue_pod_group_running_count** etc.)is not updated after job is completed or be deleted.

**What you expected to happen**:
The metrics should be updated accordingly.

**How to reproduce it (as minimally and precisely as possible)**:
case 1:
a. create a queue and a job, after the all the pod in runnin

[2022-06-07 03:25] bengamine opened #2281 "volcano_queue_pod_group_unknown_count metric is not deleted when delete the queue"
**What happened**:
when delete a queue, the volcano_queue_pod_group_unknown_count metric will not be deleted.

**What you expected to happen**:
delete the volcano_queue_pod_group_unknown_count metric

**How to reproduce it (as minimally and precisely as possible)**:
a. create a queue and a job, after the all the pod in running state, check the queue metrics is correct.
b. delete the job
c. delete

[2022-06-07 04:02] bengamine opened #2282 "Pod in "OutOfcpu" status issue can be reproduced"
**What happened**:
The Pod in "OutOfcpu" status can be reproduced in a very simple test scenario。

**How to reproduce it (as minimally and precisely as possible)**:
1.All jobs are selected to one node
2.create a queue
3.create job2 with minAvailable=1 and replicas=4, all the pods can be scheduled to running status
4.create job1 with minAvailable=1 and replicas=8, because of cpu resource exhaust, o

[2022-06-07 04:40] zhaixigui commented on #2262
any update ？

[2022-06-07 07:25] hansongChina commented on #2246
[code]
Panic may occur when using Sub

[2022-06-07 09:15] ssjiyi1 opened #2283 "In different queues , Priority not effective"
#### What would you like to be added:

When the cluster resources are insufficient ，I have different tasks in different queues ，And all task statuses are Pending

When other tasks release resources。

I want to create a task with the minimum creation  time to obtain resources by  setting the priority。

If in a queue  can   by  setting the priority 。

But more than 1 queue ， The tasks in multiple qu

[2022-06-07 13:47] Asciotti commented on #2247
Bump please!

[2022-06-08 01:33] hwdef commented on #2247
https://github.com/volcano-sh/volcano/pull/2251

Is this what you want?

[2022-06-08 07:13] Jason-Liu-Dream commented on #2044
I think this is same questions #2130

[2022-06-08 08:10] kongjibai opened #2284 "Bug: Can not re-apply a same job when the old pods are Terminating"
**What happened**:
I use `kubectl apply -f hvd-job-torch-fairmot-2gpu.yaml` applied a job with 1 master pod(cpu task) and 2 worker pods(gpu task), and `kubectl get pod` can output the pods. After the job run, the pods status is **Running**. Then I use `kubectl delete -f hvd-job-torch-fairmot-2gpu.yaml` delete the job, the pods status are **Terminating**. Before all the pod deleted comletely, I re-

[2022-06-08 08:20] hwdef commented on #2130
I think this is a known bug.
This happens when a job is deleted without reaching the running state, and a job with the same name continues to run.
Please try restarting the controller.

[2022-06-08 08:21] hwdef commented on #2044
It may not be same problem, the problem in 2130 is probably because of dependsOn, and the volcano version used in this issue is 1.2, and there is no function of dependson yet.

[2022-06-08 08:23] hwdef commented on #2284
Yes, this is a bug about dependsOn.
There are two temporary workarounds:
1. Do not use vcjob with the same name
2. restart the volcano-controller.

[2022-06-08 08:26] hwdef commented on #2284
/assign @hwdef

[2022-06-08 08:26] hwdef commented on #2284
same issue #2130

[2022-06-08 08:27] hwdef commented on #2130
/assign @hwdef

[2022-06-08 09:19] veast opened #2285 ""pvc not found" message converted to "gang unschedulable" message"
sorry about accidentally pressed Enter without editing it.🤣

**What happened**:
when i use k8s default scheduler, if the pvc doesn't exist, the pod message is like this.
**“persistentvolumeclaim *** not found”**
![image](https://user-images.githubusercontent.com/9658131/172581045-8c727b03-1472-4786-9413-5c2666991983.png)

but when i use volcano, i see this.
**x/x tasks in gang unschedulable: pod g

[2022-06-08 09:35] william-wang commented on #2285
Thanks for your reporting. We need to enhance the the event to guide user find the cause quickly.

[2022-06-08 09:35] william-wang commented on #2285
@hwdef , Would you like to help on this issue?

[2022-06-08 09:38] hwdef commented on #2285
@william-wang, Okay, I'll take care of that.

[2022-06-08 09:39] hwdef commented on #2285
/assign @hwdef

[2022-06-08 09:42] william-wang commented on #2285
@hwdef 👍

[2022-06-08 11:56] Asciotti commented on #2247
It looks close but I think having an exclusion list versus an inclusion list might cause issues with what we have setup. We only need 1-2 namespaces allowed, so we would have to ignore all others. That is manageable. However, if a new namespace is created we wouldn't be able to quickly detect that and automatically add it to the exclusion list.

If we had an inclusion list or a dynamic wild-card s

[2022-06-08 22:01] jsolbrig opened #2286 "Volcano's webhooks should be more respectful of other namespaces and RBAC permissions should be reduced"
#### What would you like to be added:

I would like to see Volcano default to managing an explicit list of namespaces rather than managing all namespaces by default. To me, this behavior is both unexpected and problematic. It blocks deployment of other applications. It also leads to the need for less secure RBAC configuration where Volcano can manage all Pods in the cluster.

Currently Volcano's w

[2022-06-09 03:57] hwdef commented on #2247
@Asciotti
That sounds great! Can you submit a design document first, including how to use it.

[2022-06-09 07:26] kongjibai commented on #2284
Oh, thx. Can you tell me how to restart the volcano-controller?

[2022-06-09 07:28] william-wang commented on #2278
@wangmingyi11 Please add your environment information like Kubernetes version, Volcano version,  yaml file?

[2022-06-09 07:54] hwdef commented on #2284
[code]

[2022-06-09 08:02] hwdef commented on #2286
`--managed-namespaces` sound reasonable. Would you like to add this feature?

[2022-06-09 17:40] jsolbrig commented on #2286
Sure, I'll give it a shot.

[2022-06-10 21:44] Sharathmk99 commented on #2286
@jsolbrig is it better to read from namespace label to either ignore the namespace or not. Like how istio does, they use label to ignore the namespace

[2022-06-10 22:03] jsolbrig commented on #2286
@Sharathmk99 That could work well. I was just grabbing on to how the current functionality works with `--ignore-namespaces`. Personally, I'd prefer an opt-in system rather than opt-out. Maybe add a `volcano.sh/monitored: "true"` to namespaces where Volcano's webhooks should take effect?

As @hwdef pointed out in a [PR](https://github.com/volcano-sh/volcano/pull/2290) that I put together, I didn't

[2022-06-10 22:39] jsolbrig commented on #2286
@Sharathmk99 Also, as mentioned in the [PR](https://github.com/volcano-sh/volcano/pull/2290) after realizing that the PR is a mess, I do think that I have a solution that can easily achieve my basic goal for now.

The most basic goal is to just get Volcano to quit blocking admission for resources from other applications. VCJobs add specific labels to the Pods that they create. I've updated `cmd/we

[2022-06-11 01:20] shinytang6 opened #2291 "Extend GPU share plugin"
#### What would you like to be added:

* Abstract the capabilities of volcano gpu share into independent  volcano plugin
* Facilitate the integration of third-party gpu share plugin into volcano through plugin

[2022-06-11 01:20] shinytang6 commented on #2291
/assign @shinytang6

[2022-06-11 01:25] shinytang6 opened #2292 "Support volcano pytorch plugin"
#### What would you like to be added:
As described in https://github.com/volcano-sh/volcano/blob/master/docs/design/distributed-framework-plugins.md, we need to support distributed training plugins in volcano, following plugins have been already supported:
* tensorflow
* mpi

We'd better also support the pytorch plugin.

[2022-06-11 01:27] shinytang6 commented on #2292
Please take a look at this feature request.
/assign ccchenjiahuan

[2022-06-11 05:17] #1967 closed

[2022-06-11 08:54] Sharathmk99 commented on #2286
If we don’t label vcjob, things will not work. It’s not backward compatible.

[2022-06-11 19:34] jsolbrig commented on #2286
@Sharathmk99 Has VCJob not been labeled in the past? It's currently labeled this way.

[2022-06-13 02:25] hwdef commented on #2066
There are some issues with ssh key permissions for windows containers, work continues

[2022-06-13 09:17] LY-today opened #2296 "fix：proportion metrics accuracy"
**What happened**:
When there is only one vcjob under a queue, after deleting the vcjob, it will be found that the metric data in the proportion is inaccurate
**What you expected to happen**:
Metric data is accurate at all times
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
Here, if DeletedJobs are not modified to public resources, su

[2022-06-13 09:24] LY-today commented on #2296
#2297

[2022-06-13 10:36] kongjibai opened #2299 "Can not apply a vcjob with volcano-release-1.6"
**What happened**:
I uninstall volcano-1.5.1 by `kubectl delete -f ./volcano-1.5.1/volcano-development.yaml`, and reinstall volcano-release-1.6 by `kubectl apply -f ./volcano-release-1.6/volcano-development.yaml`. When I apply a vcjob reference the step 2 of  `https://volcano.sh/en/docs/tutorials/`, `kubectl get node` output `No resources found in default namespace`, and the vcjob status is pendin

[2022-06-14 07:31] lucming opened #2300 "should the logic of webhook-manager be separated into helm?"
hi,just a little confused,i see some code about helm,why not create webhook through helm directly,and i see that we create webhook by running a job(webhook-manager).
in this way, if we install volcano by helm, "helm uninstall" cannot completely uninstall all resources volcano related. we have to delete the webhook separately.

[2022-06-14 07:53] hwdef commented on #2300
1. I don't quite understand why it's designed this way.
2. Webhooks deployed via helm could not be removed when helm uninstalled is being resolved. https://github.com/volcano-sh/volcano/pull/2203

[2022-06-14 11:48] lucming commented on #2300
this change can delete old webhooks when we do "helm install",but actually we want is delete all resources volcano related when we do "helm uninstall"

[2022-06-14 13:11] hwdef commented on #2300
well, You can comment below this pr to suggest changes.
But in fact, this does not solve the fundamental problem, because volcano deployed through `kubectl apply` will still have similar problems, and uninstalling the webhook is not clean.
So it's better to have a fundamental solution to the problem. This problem has been bothering us for a while.

[2022-06-15 02:42] lucming commented on #2300
okay,i will take care of this pr,I feel that the fundamental problems is that there is no uniformity in the installation of resources related to the volcano itself, some are created through yaml files and some are created through programs.can we split the logic of webhook creation from webhook-manager?

[2022-06-15 02:44] hwdef commented on #2300
@lucming
I do not have the authority to make these decisions, please contact the maintainers in the community.

[2022-06-15 02:51] lucming commented on #2300
okay，thanks for your reply :)

[2022-06-16 07:50] hwdef opened #2303 "[Enhancement]:When vcjob and pg are obtained through kubectl, the queue to which they belong is displayed"
#### What would you like to be added:

When vcjob and pg are obtained through kubectl, the queue to which they belong is displayed.
@qiankunli  has submitted pr before, I think more content should be displayed, such as `queue`.
https://github.com/volcano-sh/volcano/pull/2175
I suggest not to display the `queue` by default, and display the `queue` by adding the `-o wide` parameter

[code]
[code]

#

[2022-06-16 07:50] hwdef commented on #2303
@qiankunli @shinytang6 @Thor-wl

[2022-06-16 07:53] hwdef commented on #2303
If others don't have time, I can do this

[2022-06-17 06:47] hwdef commented on #1687
The current situation is that the queue can be deleted even if it is not closed, but the vcjobs in the queue continue to exist, we need to improve this and I have two options in mind.
1. cascade the deletion of vcjobs when the queue is deleted, regardless of the state of the vcjobs under this queue, analogous to namespace
2. set a new field for the queue, such as `spce.isOpen`, by modifying this f

[2022-06-17 12:18] prokher commented on #1687
@hwdef, IMHO seems reasonable, thank you for update.

[2022-06-17 12:36] Sharathmk99 opened #2304 "Jobs are in pending state when cluster has available resource"
**What happened**:
Resource is available in the cluster, but jobs are not getting scheduled.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Below are available queues,

[code]
**Cluster has 8 GPU, But running job consumes only 7 GPU. GPU will be dominating resource**

Below Job status

![Screenshot 2022-06-17 132919](https://user-images.github

[2022-06-17 12:37] Sharathmk99 commented on #2304
If anyone can point me to the right source code for debugging that will be really helpful. Thanks

[2022-06-19 05:51] #1935 closed

[2022-06-19 05:51] #509 closed

[2022-06-19 05:51] #1948 closed

[2022-06-19 05:51] #1933 closed

[2022-06-19 05:51] #1647 closed

[2022-06-19 05:51] #1927 closed

[2022-06-19 05:51] #1907 closed

[2022-06-19 05:51] #1226 closed

[2022-06-20 01:44] jsolbrig opened #2305 "VCJob singular and plural nouns should be updated to avoid conflict with the nouns of `batch.v1/job`"
#### What would you like to be added:

I would like to see the VCJob CRD use a different naming structure to avoid conflict with `batch.v1/job`. At minimum, the singular and plural nouns should be updated to be "vcjob" and "vcjobs". It would be nice to also update the `kind` to be `VCJob` and the `listKind` to be `VCJobList` but that may be more difficult than it is worth.

#### Why is this needed

[2022-06-20 12:05] shinytang6 commented on #1570
Thanks for your work @holdenk , I think this feature is still useful, if you are not available I can help take a look based on your work, much thanks!

/cc @ccchenjiahuan, pls also help take a look at this!

[2022-06-21 03:08] Akiqqqqqqq opened #2306 "How to get root cause of a job failure"
#### What would you like to be added:
We want a feature or solution that can tell us the root cause of a job failure more easily, either by logic inside the pod, or by outside factors like k8s or cluster network.

#### Why is this needed:
We're currently providing ML users vj to run their training tasks. We mainly provide mpi jobs whith classic policy of:

policies:
  - events
     - TaskCompleted

[2022-06-21 08:15] bengamine commented on #2282
is anyone can give a help?

[2022-06-23 08:21] #1781 closed

[2022-06-25 06:34] wpeng102 commented on #2304
please help append the the pending podgroup detail by `kubectl describe pg xxxx`  and workload detail by `kubectl describe vj xxxx`

[2022-06-25 07:07] Thor-wl commented on #2039
As what I've looked into [kubernetes v1.23](https://v1-23.docs.kubernetes.io/docs/home/), the abilities to be supplied are as follows:

- [ ] [Pod Topology Spread Constraints](https://v1-23.docs.kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/)
- [ ] [Pod Overhead](https://v1-23.docs.kubernetes.io/docs/concepts/scheduling-eviction/pod-overhead/)

[2022-06-25 09:04] zrss opened #2310 "the Pending state of volcano job maybe ambiguous"
#### What would you like to be added:

extend Pending state to more detail states

[code]

#### Why is this needed:

watch the volcano job yaml, we can observe the status changes as following sequences

[code]

but actually, when the pod has a **init container** and a training container, such as

[code]

the pod is still in the pending state when the init container is running, that leads to the pe

[2022-06-26 23:36] jsolbrig commented on #2270
@hermitgreen Can you post the manifest for your VCJob?

There is field that controls garbage collection on VCJobs called `ttlSecondsAfterFinished`. This is not in the documentation for Volcano anywhere and is actually a feature of `batch.v1.job` resources. Somehow it looks to be inherited from the `batch.v1.job` though I'm not sure how that works.

[Here is more info on `ttlSecondsAfterFinished`](

[2022-06-27 00:03] jsolbrig opened #2311 "Documenation should be added for ttlSecondsAfterFinished"
#### What would you like to be added:

Just like normal k8s Jobs, VCJobs have the ability to be garbage collected after some amount of time. This is controlled by setting `.spec.ttlSecondsAfterFinished` on the VCJob.

This can be seen in the CRD for VCJobs and the behavior is implemented by `./pkg/controllers/garbagecollector/garbagecollector.go`.

#### Why is this needed:

As seen in #2270, this

[2022-06-27 01:01] dontan001 opened #2312 "Metrics exposure for volcano scheduling start time and end time for each job"
#### What would you like to be added:
Currently we find there are no metrics to indicate the scheduling start time and end time for each job, and only scheduling duration is available, which is _e2e_job_scheduling_duration_.

We would like these two timestamps could be exposed in Volcano, there after could be visualized via Grafana annotation in dashboard, and it is a great help when we are doing

[2022-06-27 01:07] dontan001 commented on #2312
Please help take a look @william-wang  @hwdef @Thor-wl , I can help raise a PR for this if there is chance

[2022-06-27 01:45] hwdef commented on #2312
I think this is useful.
And we already added start and end time in job condition.

[2022-06-27 01:57] hwdef commented on #2311
Thanks! look forward to your pr.

[2022-06-27 02:41] william-wang commented on #2299
any progress for this issue? Can we reproduce it?

[2022-06-27 02:43] #2296 closed

[2022-06-27 02:50] william-wang commented on #2282
@bengamine Sorry for the delay. We'll have a look at this week.

[2022-06-27 02:55] william-wang commented on #2312
@dontan001 That's reasonable to have start time and end time of the job. Go ahead to raise a PR :)

[2022-06-27 02:57] hwdef commented on #2312
ref: https://github.com/volcano-sh/volcano/pull/1764

[2022-06-27 03:00] william-wang commented on #2311
+1
you can a guide doc under `docs/user-guide`, we will also refresh it to website as well.

[2022-06-27 03:06] william-wang commented on #2306
@qiankunli As you have been developing and maintaining the ML platform for your algorithm engineers. Are there any best practices from your side?

[2022-06-27 03:37] william-wang commented on #2305
Thanks for raise the issue. Pefer to use this one :)
`
spec:
  names:
    kind: Job
    listKind: JobList
    plural: vcjobs
    shortNames:
    - vj
    singular: vcjob
`

[2022-06-27 04:04] dontan001 commented on #2312
Thank you @hwdef for sharing the PR
I did a quick check and seems the conditions are updated for CR vcjobs in the above PR, while in our case we are using native spark-submit directly

Let me prepare a PR then please comment further, thanks very much for the update @hwdef @william-wang

[2022-06-27 05:28] jsolbrig commented on #2311
@william-wang Should I just create a new document in `docs/user-guide`?

As an update on the website, maybe something could just go on [this page](https://volcano.sh/en/docs/vcjob/) to add `spec.ttlSecondsAfterFinished` to the example, then add an entry below that reads something like this?

**ttlSecondsAfterFinished**
`ttlSecondsAfterFinished` tells the garbage collector how long a VolcanoJob sho

[2022-06-27 06:01] jsolbrig commented on #2305
Okay! I'll get a PR together. It will probably be a few days before I can get to it, though.

[2022-06-27 06:46] jsolbrig commented on #2305
@william-wang I see at least four places that the Job CRD is defined. Does this need to be updated in all four places or are some of them regenerated when running `make all`?

Places I see:
- `./config/crd/bases/batch.volcano.sh_jobs.yaml`
- `./config/crd/v1beta1/batch.volcano.sh_jobs.yaml`
- `./installer/helm/chart/volcano/crd/bases/batch.volcano.sh_jobs.yaml`
- `./installer/helm/chart/volcano/cr

[2022-06-27 07:42] Thor-wl commented on #2312
+1. It makes sense.

[2022-06-27 11:51] pietermarsman opened #2315 "How to have a default job that is always running when there are resources available?"
Hi! :wave:

I love volcano so far. It is really neat in managing batch jobs.

One thing I cannot figure out though. I want to have a default job that is always running if there are resources available.

Some context. I use volcano to schedule machine-learning workflows on a kubernetes cluster. On some days I want to schedule a  specific training for research purposes, that maybe uses another image

[2022-06-28 01:01] #1959 closed

[2022-06-28 01:02] #1786 closed

[2022-06-28 01:02] #1973 closed

[2022-06-28 01:02] #1803 closed

[2022-06-28 01:02] #1983 closed

[2022-06-28 10:43] shmily0000 commented on #2067
@Jason-Liu-Dream
Hello, brother. After trying your cm, I still can't. My queue is 2C. Two low priority long jobs are enabled. High priority high priority ones are always in pending mode

[2022-06-29 07:26] waiterQ commented on #2282
@bengamine if node

[2022-06-29 07:40] waiterQ commented on #2282
@bengamine  If the nodeName is set, the scheduler ignores the Pod and the kubelet on the named node tries to place the Pod on that node. If you'd like OutOfcpu pods be pending, nodeSelector or affinity rules are better choose.
ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodename
hope it helpful

[2022-06-29 09:21] bengamine commented on #2282
I didn't set the nodeName to the job, it's volcano scheduler's bahavior to schedule the pod to the node. As we have only one node in the cluster, so it's very easy to reproduce the problem.

[2022-06-30 02:07] qiuming520 opened #2317 "Whether the gang scheduling supports custom scheduling algorithms"
Whether the scheduler supports custom scheduling algorithms？
such as CRD+Operator

[2022-06-30 02:31] Thor-wl commented on #2317
Volcano supports custom scheduling algorithms. Perhaps you can give more details about your requirements.

[2022-06-30 08:07] qiuming520 commented on #2317
Thank you for reply. @Thor-wl
Our team is working on the direction of the k8s cluster management platform, and the current direction is single-cluster scheduling and multi-cluster scheduling. Among them, the single-cluster scheduling component hopes that the scheduling algorithm can be customized in combination with the project scenario (GPU, spark), and the observability is strong. Other inconven

[2022-06-30 08:14] #2317 closed

[2022-06-30 09:37] Thor-wl commented on #2317
Got it. You can implement custom `actions` and `plugins` to define your algorithms, then configure them in the scheduler configuration. We are tring to make more introdcution about that by providing a series of open courses. The work is in process. Other user guidances can be referred to (here)[https://github.com/volcano-sh/volcano/tree/master/docs/user-guide].

[2022-07-01 03:15] dontan001 commented on #2312
Please review @william-wang @hwdef @Thor-wl

[2022-07-01 06:38] dontan001 commented on #2312
Considering the kube-state-metrics may not be deployed in user environment, it would be brilliant to expose the start time in Volcano as well.

I have refined the PR to include both, please review again when get chance @hwdef @william-wang  @Thor-wl

[2022-07-01 06:59] william-wang opened #2320 "Support batch scheduling in flink with Volcano"
#### What would you like to be added:
Support  flink with Volcano natively.

#### Why is this needed:
Currently flink use pod level scheduling and also the resoure sharing capability is not enough.
Our users require batch capability for flink + volcano scenario.

subtasks
- [ ] flink JIRA: https://issues.apache.org/jira/browse/FLINK-26559
- [ ] volcnao

[2022-07-01 08:38] nkflash opened #2321 "lower priority job can not be preempted by high priority job when lower priority job enable gang"
I have 2 user define queues and one default queue(default).

like:

low priority queue:

xbmin@p-ksyun-develop-001:/mnt/data/xbmin/kubeflow_test/config$ cat low.yaml
apiVersion: scheduling.volcano.sh/v1beta1
kind: Queue
metadata:
  name: low-queue
  namespace: kubeflow
spec:
  reclaimable: true
  weight: 1
  capability:
    cpu: "96"
    memory: "359Gi"
status:
  state: Open

high priority queue:

[2022-07-01 08:57] elinx opened #2322 "dynamic log level adjustment without restarting volcano component"
#### What would you like to be added:
change log level dynamicly without restart volcano component

#### Why is this needed:
When some glitches happends online and need to figure out the cause, one option is to change the log level and reproduce the issue to get more verbosed log. The log level threshold is hard coded into deployment yaml file right now, the volcano component like scheduler will r

[2022-07-01 10:01] Thor-wl commented on #2321
Hi, thanks for your feedback. I reviewed the scenario you mentioned above. As the original design, the following points are important for users.
* Preempt only works for jobs within the same queue if users configure `preempt` action. In most scenarios, different jobs come from different projects or teams. It is not so reasonable to destory others' jobs.
* Reclaim works between different queues. It

[2022-07-01 15:14] autumn0207 opened #2323 "Usage plugin supports more metrics"
#### What would you like to be added:
Usage plugin provide a more open interface and support more metrics.

#### Why is this needed:
Not only cpu or memory resources affect the running tasks, but also  other shared resources such as I/O, LLC , memory bandwidth. And almost all the metrics data of above resources can be pulled from Prometheus. If `Usage Plugin` can consider the usage of more resourc

[2022-07-03 22:35] streamnsight commented on #533
This issue was closed as resolved in the PR, but the PR was never merged.
the `--publish-not-ready-addresses` doesn't seem to help.

[2022-07-04 01:04] nkflash commented on #2321
In my scenario, queues's weight are different. I expect the overused queue should return the resources when the other queue have job coming. It is sure the priority is not the important point for this scenario. Without gang, it works as my expectation. The issue is if I enable gang, the overused resource queue cannot return the resources to the other queue.

[2022-07-04 02:21] wpeng102 opened #2327 "rescheduling need consider only evict `preemptable=true` pod"
#### What would you like to be added:
Currently, the rescheduding plugin just consider evict pod when node resource utilization and threshold. We use 'volcano.sh/preemptable=true' to mark this is a offline pod, so when rescheduling doing eviction, it should consider only evict offline pods.

#### Why is this needed:

[2022-07-04 03:34] Thor-wl commented on #2321
I got you. Just as what I mentioned above, all the preemption action works based on the condition that it is not harmful to the success of the business process. So it should be judged that scheduler cannot evicted pods in which job its pod number is less than `minAvailable`.

[2022-07-04 03:37] Thor-wl commented on #2327
That's reasonable. We can optimize the logic as follows:
1. If there are pods with annotation `volcano.sh/preemptable=true`, try to evict them first.
2. If all the pods with the annotation mentioned above are evict and the resource usage is sitll not meet the requirement, try to evict other pods.
/assign

[2022-07-04 05:50] nkflash commented on #2321
I see your point. But for AI workload, gang is by default scheduling policy(Since most AI frameworks don't support failover). In such situation, reclaim will not work at all. So I think "pod number is less than minAvailable" should support configure, let user to decide if gang job(lower priority/overused queue) could be reclaimed/preempted.

[2022-07-04 07:16] Thor-wl opened #2328 "Skip some wrong UTs related with allocation"
**What happened**:
As what I noticed recently, there are some wrong UT cases related with allocate action which may block the CI frequently such as `TestAllocateWithDynamicPVC/node_changed_with_enough_resource`. One of the cases can be referred to [failure CI case](https://github.com/volcano-sh/volcano/runs/7145167489?check_suite_focus=true).

**What you expected to happen**:
Remove the wrong UT c

[2022-07-04 07:26] Thor-wl commented on #2321
I agree with your idea. That will be more flexible though it may improve a little bit learning cost for users. Can you give a design and PR for that?

[2022-07-04 09:31] #2328 closed

[2022-07-05 01:53] #2312 closed

[2022-07-05 01:56] Thor-wl commented on #2056
Is there any process about the following development such as cm?

[2022-07-05 02:50] #2276 closed

[2022-07-05 03:37] Thor-wl commented on #2315
@pietermarsman Hi, Pieter. I'm not sure whether I fully get your scenario. Why not use a deployment for the default job?

[2022-07-05 04:35] william-wang commented on #2323
@autumn0207 usage plugin is a alpha plugin which only supports cpu and memory so far.  It's reasonable to take more kinds of resources into account such as bandwidth, I/O and so forth.  In your case,  which kinds of prometheus indices do you want to support firstly? and do you have interesting to contribute this features, we can work together for that.

[2022-07-05 04:41] william-wang commented on #2327
In wpeng's case, user seems only want to evict offline pods(volcano.sh/preemptable=true) only even there is still pending online pods. So we make the configuration flexiable enough to support them.

[2022-07-05 04:46] william-wang commented on #2322
Yes, it's what we have been wanting to do.  refer to #1326 , Let's track this issue here.

[2022-07-05 06:00] #2270 closed

[2022-07-05 06:23] Thor-wl commented on #2299
@kongjibai Can you give more details about the scenario? For example, please execute `kubectl describe vcjob job-1` to see the status and the corresponding podgroup status.

[2022-07-05 07:10] elinx opened #2332 "Make volcano-scheduler-configmap modification take effect asap"
#### What would you like to be added:
watch the `volcano-scheduler-configmap` api-resource instead of the volume files(mounted by k8s configmap) to make user's modification take effects asap.

#### Why is this needed:
The current implementation use file watcher to notify the scheduler about user's configuration modification, but it's sort of slow like taking at least 1 minutes before k8s making th

[2022-07-05 09:04] waiterQ commented on #2282
@bengamine i have a new cluster(k8_ver:v1.23.4, volcano:v1.5.1) only one node(cpu:8) from steps below, sorry to tell i cant reproduce the problem. i believe it occur pod-in-OutOfcpu at your cluster, OutOfcpu would happen between volcano and kubelet had different allocated resource, paste logs of both when OutOfcpu happen will help locate problem more

1. create a queue queue-a
---
    apiVersion:

[2022-07-05 09:22] hwdef opened #2333 "Change the way webhook is created from go code to yaml"
#### What would you like to be added:

At present, the creation method of webhook is generated in go code. The purpose is to delete this part of the code and directly create a yaml to deploy the webhook.

#### Why is this needed:

1. Creating and deleting volcano is more unified, the previous method cannot delete webhook when volcano is deleted
2. It is more convenient to modify the configuration

[2022-07-05 09:22] hwdef commented on #2333
/assign

[2022-07-06 01:39] Thor-wl commented on #1840
@Sharathmk99 Hi, Sharath. It is an important work item in the roadmap but not assigned to anyone. However, @hwdef @zhoumingcheng are working to develop a sub-project named `jobflow`, which acts as an efficient workflow engine and embedded to Volcano.

[2022-07-06 04:32] snirkop89 commented on #2034
@Sharathmk99
Does it work for you as of today?

[2022-07-06 07:36] Thor-wl commented on #2034
I've tried with the latest master branch yesterday. It seems that preemption funciton breaks. I'll take some time to take a look at it recently, too.

[2022-07-06 09:21] xiaoxubeii opened #2335 "Need support JobReady verb for extender plugin"
#### What would you like to be added:
Add JobReady for extender plugin.
#### Why is this needed:
There is a Kubernetes extender scheduler that needs update the pod annotation after node predicates. So it needs volcano to support JobReady verb to call the handler.

[2022-07-06 15:12] SunMinghui19 opened #2336 "Failed to register validating admission webhook (/queues/validate): the server could not find the requested resource"
**What happened**:
The logs of the volcano-scheduler pod show this error:
···
Failed to register validating admission webhook (/queues/validate): the server could not find the requested resource
···

**What you expected to happen**:
Not see this error

**How to reproduce it (as minimally and precisely as possible)**:
From the Volcano 1.5 release branch, install volcano using:

kubectl apply -f ins