[2020-11-06 07:50] merryzhou commented on #1099
/assign @merryzhou

[2020-11-06 07:53] merryzhou opened #1135 "RestartTask Action not implement"
**What happened**:
task policy:
[code]
nothing happened when pod failed

**Environment**:
- Volcano Version: v1.0.1

[2020-11-07 09:30] k82cn commented on #1135
/kind bug

[2020-11-09 01:10] Thor-wl commented on #1135
/assign @merryzhou

[2020-11-09 01:58] jxfruit opened #1136 "gpu distribute training not work with horovod"
I used the example provided by https://github.com/volcano-sh/volcano/blob/master/example/kubecon-2019-china/horovod-sample/lm-horovod-tf-mnist-v0.5.yaml  in gpu cluster. I had added the field "nvidia.com/gpu: 1" in demo yaml,  1 container as master, 2  container as worker. After running this job, I got the following logs in master container:
[code]
I logined the master container, and I found the l

[2020-11-09 02:00] jxfruit commented on #1136
[tf-horovod.yaml.zip](https://github.com/volcano-sh/volcano/files/5507663/tf-horovod.yaml.zip)

[2020-11-09 06:48] Thor-wl commented on #1136
/assign @william-wang please help take a look

[2020-11-09 07:00] Thor-wl commented on #1134
It has been implemented by @merryzhou at https://github.com/volcano-sh/volcano/issues/1135

[2020-11-09 07:56] zishen commented on #865
I am trying to solve this issue by change the podgroup status.
Thinks for your remind.  I will end this issue in two weeks.

[2020-11-10 09:48] Thor-wl opened #1140 "Notice: CI has been moved to github action"
Hi, all!
    Community has moved CI to github action. **Please close and reopen all blocked PRs and trigger CI to rerun again.** Thank you!

[2020-11-10 09:58] kbroos2 opened #1141 "Validation does not accept priorityClassName in VCjobSpec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Tried to deploy a job that contains a priorityClassName, but yields a validation error stating that the field is not recognized, while it is in the documentation.

Exact error:
`error: error validating "job1.yaml": error validating data: ValidationError(Job.spec): unknown field "priorityClassName" in sh.volcano.batch.v1al

[2020-11-11 00:47] k82cn commented on #1098
We usually keep same order for both job, queue and namespace in different session to make behaviour consitant. So we usually order them by other properties, e.g. priority, but if the properties are "equal", we use creation timestamp as latest property.

Back to your case, job's priority only take effect within a Queue, it's not global :)

We will allocate resoruce to Queue firstly, then allocate r

[2020-11-11 01:43] Thor-wl commented on #1141
@hudson741 Can you help for that?

[2020-11-11 07:09] shinytang6 commented on #1098
l think the current implementation is not reasonable to be the default allocate behavior, it's just for achieving fair scheduling right? Or why not we only consider Job order globally. So l think it's better to be made into a plugin form to support different scenarios of allocate. E.g., maybe we can add parameters to allocate action to specify the regulation of allocation?

[2020-11-11 11:47] hudson741 commented on #1141
this is a document  bug, you can just remove priorityClassName in your yaml , and priorityClassName now  can be only used in PodGroup.PodGroupSpec.

[2020-11-12 07:46] #700 closed

[2020-11-12 07:46] #354 closed

[2020-11-12 07:46] #151 closed

[2020-11-12 07:46] #390 closed

[2020-11-12 07:53] kbroos2 commented on #1141
Thanks Hudson741!

I have found a couple of other oddities around it. I have the exact same deployment of Volcano running on my minikube, which is a higher kubernetes version (1.19), there it does not give me the same error despite deploying the exact same job.yaml.

Similarly - i do like the functionality: I have noticed that if i move the priorityClassName field further down in the JSON (job.spe

[2020-11-12 10:32] shinytang6 commented on #1141
vcjob actually supports field `priorityClassName` :) lt's weird that validator refused that request..

[2020-11-12 11:30] hudson741 commented on #1141
sorry to say .....job.spec.tasks.template.spec.priorityClassName  will not work ,if you use valcano to schedule your job, it will not work as you wish。if you want to define a priorityClassName,  try podgroup with your job

[2020-11-12 13:15] kbroos2 commented on #1141
@shinytang6 : i tried installing a previous version (v0.4.2) same issue on the same cluster. Any idea what could be causing it?

[2020-11-12 20:21] Eo300 opened #1144 "Admission Init Pod times out when requesting CA Private Key"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The Admission Init pod times out when contacting the `kubernetes` service when installing via AWS EKS.  Below is the log output of the admission-init pod:
[code]
Considering it's within the cluster IP range, I'd expect it to be accessible from pods in the cluster.  I was able to ping/curl other pods from another pod withi

[2020-11-13 01:20] Thor-wl commented on #1144
cc@zen-xu @shinytang6 Can you help for that?

[2020-11-13 03:21] Thor-wl opened #1145 "Reconstruct logic of Less function"
ref: https://github.com/volcano-sh/volcano/pull/1118

[2020-11-13 03:22] Thor-wl commented on #1145
/assign @Thor-wl

[2020-11-13 04:14] Thor-wl commented on #1136
Have you follow the guide and refer to "https://www.tensorflow.org/install/gpu"? It looks to be a problem about tensorflow usge and not a problem about Volcano

[2020-11-15 04:45] #868 closed

[2020-11-15 04:45] #674 closed

[2020-11-15 15:36] shinytang6 commented on #1144
@Eo300 I haven't installed k8s/volcano on AWS ever. I installed it locally and didn't encounter this problem. You have also checked it, right? Looking at the log it seems to be stuck when creating `secret/volcano-admission-secret`. IMO, you should verify your k8s cluster network first, this is more like an environmental problem than a volcano bug.

[2020-11-16 01:32] jxfruit commented on #1136
@Thor-wl I have checked  it again, using the same horovod image, it works in docker, and also works with host machines env, no dlerror exist. I am very confused with the number of the master and workers' replicas, how many replicas I should set?
thanks a lot!

[2020-11-16 01:36] daixiang0 commented on #962
/hold

[2020-11-16 02:52] Thor-wl commented on #962
This feature has been launched in v1.1.0 and will be contiue upgraded

[2020-11-16 03:02] Thor-wl commented on #1136
Well, i'm not expert of Horovod and AI. As far as i can see, perhaps it's a matter of scenarios and computing framework usage. @william-wang @hudson741 @zen-xu @alcorj-mizar Can you give some advice?

[2020-11-16 11:09] wpeng102 opened #1150 "Queue changes to `unknown` status, then can not be deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Close a queue with a running
Queue changes to `unknown` status, then can not delete that queue

**What you expected to happen**:
Queue can be deleted

**How to reproduce it (as minimally and precisely as possible)**:
1) create a test queue
2) submit a volcano job into test queue
3) use `vcctl` to close test queue. Because

[2020-11-16 23:59] wpeng102 commented on #1150
/assign @wpeng102

[2020-11-17 09:47] william-wang opened #1155 "Request volcano to support k8s 1.19"
**Is this a BUG REPORT or FEATURE REQUEST?**:

As more and more customers upgrade their cluster to k8s  to 1.19 version. We hope volcano can support k8s 1.19 as soon as possible.

**Anything else we need to know?**:

[2020-11-18 00:37] k82cn commented on #1155
it's better to move api to `volcano-sh/apis` and build client for different version.

[2020-11-18 04:29] #877 closed

[2020-11-18 08:19] hudson741 commented on #1105
my ideas are like this:
1： the default k8s ResourceQuota + Namespace is more like the hard way to isolate the cluster resources. but where the volcano  works is more like the train k8s cluster. the train cluster is more value of resource's  sharing and  utilization,so the hard way to do the isolating is not recommend。

2：with some plugin in the volcano like propertion  backfill and some concept in

[2020-11-18 22:24] Gouthamkreddy1234 commented on #947
@Thor-wl Could you please update the status of this issue and link any active/closed PR?

[2020-11-19 07:12] #879 closed

[2020-11-19 07:57] zrss commented on #868
reopen

[2020-11-23 02:02] Thor-wl commented on #947
OK, related pr: https://github.com/volcano-sh/volcano/pull/1044. This implementation is just  a first draft which may not be so perfect. Any feedback is welcomed.

[2020-11-23 02:08] Thor-wl commented on #837
This feature has been added to v1.1.0 and will be completed in later releases.

[2020-11-23 07:03] k82cn commented on #1150
fixed by #1151

[2020-11-23 07:03] #1150 closed

[2020-11-23 08:57] Thor-wl commented on #1155
/assign @Thor-wl

[2020-11-26 07:57] zhangshuiyong opened #1162 "[Bug] Volcano Queue can create or update when queue capacity exceed the cluster resource capacity"
In my k8s cluster, only one node have 2 gpu

And I post a create queue request or patch a update queue request to k8s with setting queue capacity "nvidia.com/gpu" to "5"，but this is no error return.

 Is it a bug?

![image](https://user-images.githubusercontent.com/1655233/100322499-5427ea00-2fff-11eb-9cf3-f249bfcb86da.png)

![image](https://user-images.githubusercontent.com/1655233/100323025-1415

[2020-11-26 08:22] Thor-wl commented on #1162
/bug

[2020-11-26 13:31] jxfruit opened #1163 "distribution training jobs with mindspore/tensorflow/pytorch cannot stop"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Distribution training with mindspore/tensorflow/pytorch cannot stop,  only master can be a completed status, and the worker will be always running whatever the master status is. The master will be CrashLoopBackOff status in a few minutes.
![image](https://user-images.githubusercontent.com/11846449/100355684-28bbf400-302d-

[2020-11-27 10:43] wpeng102 commented on #1162
I do not think this is a bug. The `capacity` describes the max resource queue can use, currently there is only 2 GPU in cluster, but scheduler do not know when  to add more GPU resource into cluster, maybe in next minute.
And Queue should be managed by cluster administrator, they have a whole picture of cluster resources.

[2020-11-27 10:44] jxfruit commented on #1136
I have solved this problem by adding '-x LD_LIBRARY_PATH' in mpiexec args, total command is like this:
![image](https://user-images.githubusercontent.com/11846449/100440727-472ef780-30e0-11eb-87bb-c5da2108773c.png)
Last but not least, can u gays provide runnable examples in community? TKS

[2020-11-27 10:44] #1136 closed

[2020-11-27 14:14] XuHaoIgeneral commented on #1162
job status is pending;

[2020-11-28 03:33] william-wang commented on #1163
@jxfruit Reproduced the issue.  You make wrong configuration for "restartPolicy: Never" field in master task of volcano job.  Two spaces missing before "restartPolicy: Never".

[2020-11-28 07:34] jxfruit commented on #1163
that's right, tks

[2020-11-28 07:34] #1163 closed

[2020-11-30 08:43] #837 closed

[2020-11-30 13:59] hudson741 opened #1168 "The queue can't use the idle resources, where other queue is idle."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
suppose we got a k8s cluster which has  10cores. and we define two queues, queueA and queueB.and their weghts is 1. and each of them has a job with 1core on it. In this case。when we keep put jobs in queueA. the queueA most have 5cores to run the jobs even the queueB is idle.

**What you expected to happen**:

when the queueB is idle

[2020-12-01 01:25] wpeng102 commented on #1168
/kind bug

[2020-12-01 07:19] wpeng102 commented on #1168
This issue is related with https://github.com/volcano-sh/volcano/issues/1145.

In proportion.go, update queue's `deserved` . It will check `request` if less `deserved`.
[code]

Consider this case, `deserved <cpu 2000.00, memory 4047845376.00, hugepages-1Gi 0.00, hugepages-2Mi 0.00>` and `request <cpu 500.00, memory 0.00>`.  attr.request.Less(attr.deserved) return false, but it should be return tru

[2020-12-01 08:49] hudson741 commented on #1168
I don't think this issuse has much relationship with the "less " method.  the allocate action use the overusedFn to delete the queue which is overused. and when the queue's allocated is more then deserved, the queue is overued. but sometime.even the queue is overused, the cluster may be idle.

[2020-12-01 09:21] Thor-wl commented on #1168
/assign hudson741

[2020-12-01 09:28] Thor-wl commented on #1162
I agreee with @wpeng102. As to the  queue capability and cluster total resource, there is no necessary relationship between them.

[2020-12-01 09:31] Thor-wl commented on #1155
V1.1.1 is planed to be launched as a bug fix version around late December.

[2020-12-01 09:40] Thor-wl commented on #1144
Try the following checkouts and hope to help you:
1. network delay or connection available
2. firewall
3. security group rules. Whether port 443 is admitted to be used.

[2020-12-01 09:54] Thor-wl commented on #1141
I've reproduced and everythings goes well. I'm perfectly sure that `priorityClassName` is supported in vcjob. The job struct also contains the field. I noticed your k8s version is 1.15.3, how about update to 1.18?

[2020-12-01 12:04] wpeng102 commented on #1168
So, we need update the `deserved` value carefully, when one queue not used its  `deserved`  resource, the other queue's  `deserved` should more than `total*weight/total-weight`.

Maybe use `LessEqualStrict` instead of `Less` can fix this issue. In this case, when one queue `request` more than `deserved` and the `remaining` resource is not empty, the `remaining` resource will add to  this queue's `

[2020-12-01 12:31] wpeng102 commented on #1168
Reproduce steps:

Cluster allocatable resource:
[code]
queue1 with weight 1, queue2 with weight 1

1. Submit jobb-1 to queue2, jobb-1 with one pod, request 250m cpu
2. Submit joba to queue1, with one pod, request 250 cpu
3. Submit jobb-2 to queue2, jobb-2 with 8 pods, each request 250m cpu

Result: joba and jobb-1 can running, jobb-2 is pending. But there is 3500m cpu are idle in cluster
[code]

C

[2020-12-01 12:44] wpeng102 commented on #1168
Fix:
[code]

Retest as above steps:
Result:
[code]

1. Dispatch jobb-1
[code]

2. dispatch joba
[code]
3. dispatch jobb-2 submit
[code]

4. After submit the above jobs
[code]

We can see the queue's `deserved ` and `share` can update to correct  value and when queue2 only use 250m cpu (less than 4/2=2000 cpu), the queue1 can use 2250 cpu (over 2000 cpu)

[2020-12-02 08:03] merryzhou opened #1169 "vcjob phase incorrect when job scale up"
**How to reproduce it (as minimally and precisely as possible)**:
1. create a vcjob: one task, replica:2
2. wait job phase turn to running
3. update job, set replica to 0
4. we found:  vcjob status is running, and pods status are pending

[code]

**Environment**:
- Volcano Version: v1.0.1

[2020-12-02 08:58] Thor-wl commented on #1169
/kind bug

[2020-12-02 09:00] Thor-wl commented on #1169
The logic about job run status execute should be reconsidered, especially in 0 replicas condition.

[2020-12-02 20:19] SkinyMonkey commented on #691
Hi, any update on this?

This would determine if with use volcano or not.

[2020-12-02 23:45] k82cn commented on #691
what's your scenario?

[2020-12-03 00:50] dingzq01 opened #1171 "ERROR：Message: admission webhook "validatepod.volcano.sh" denied the request: failed to get PodGroup for pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Maybe is a BUG REPORT

**What happened**:
- I have volcano installed as shown on the volcano website

- Compile the Spark-2.4-Volcan-0.1 branch under Huawei-CloudNative/Spark, and use the compiled file to make the image

- Use spark-submit to submit the Spark-Pi task, k8s default scheduler can perform the success, but once the specified on the command

[2020-12-03 02:30] liudonggang opened #1172 "Not found Python API，Can you provide a Python based API"
Can you provide a Python based API

[2020-12-03 03:01] k82cn commented on #1172
what's kind of API do you need? k8s python client can be used to submit jobs :)

[2020-12-03 03:10] william-wang commented on #1171
The cause is CRD version mismatch. The Spark-2.4-volcano-0.1 have not supported volcano v1.1.0 version yet. Please use volcano v0.3/v0.2 to have a try. @dingzq01

[2020-12-03 06:16] liudonggang commented on #1172
I need to create, delete, get all pod information, monitor POD logs, Job status information, and other Python versions of the interface

[2020-12-03 06:18] liudonggang commented on #1172
When I got the Pod status information, the job was Pending in the scheduler, but Instead of getting this status, I got the wrong status information

[2020-12-03 06:33] Thor-wl commented on #1169
/assign @merryzhou

[2020-12-03 06:36] Thor-wl commented on #1168
/v1.1.1

[2020-12-03 06:37] zhuhb1 opened #1173 "Hi，i wanna to know what's the relationship or differences between volcano and opendatahub?"
Since volcano and opendatahub are both AI & Bigdata platform based on k8s.
So what's  the relationship or differences between volcano and opendatahub? i got a bit confused

any help will be highly appreciated. thanks

[2020-12-03 07:08] Thor-wl commented on #1173
Well, i know little about opendatahub. According to the doc of two websites, the differences are as follows:
1. Open Data Hub is based on Kubeflow while Volcano design benefits from lots of existing platform.
2. AI application works with Open Data Hub must be within OpenShift Container Platform. Volcano has no limit.
3. Open Data Hub aims to add more AI tools while Volcano aims to provide general

[2020-12-03 07:13] william-wang commented on #1171
@dingzq01
There is CRD API version change from v0.3 to v0.4. The CRD API version have been stable after version 0.4 and will keep compability in the future.

Would you like to make a contribution to enable volcano 1.1.0 on spark?  The code merge/change is not complicated.  I will be glad if you can contribute that :)

[2020-12-03 08:09] dingzq01 commented on #1171
@william-wang I am very glad to receive your reply! I'm trying to submit a job using a lower version of Volcano. But I'm not sure how to compile version 0.4 volcano and hope you can help.
Others,I feel very lucky to make a contribution to enable volcano 1.1.0 on spark，I'm willing to have a try if it's not complicated!I hope I don't disappoint you.

[2020-12-03 14:21] k82cn commented on #1172
for such kind of requirement, python client of k8s is ok :)

xref https://github.com/kubernetes-client/python

[2020-12-04 02:01] william-wang opened #1175 "Support spark-submit with volcano 1.1.0 to submit application on kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently only lower version volcano are supported in spark(https://github.com/huawei-cloudnative/spark).
There are several users want to use volcano 1.1.0 in spark.

**What you expected to happen**:
use spark-submit with volcano 1.1.0/1.0.1 to submit spark application on kubernetes.

**How to reproduce it (as minimally and precisel

[2020-12-04 02:02] william-wang commented on #1171
@dingzq01 That's great you are willing to make contribution 👍.  I log a issue #1175 to track this.
For the 0.4 compime. Just hit "make images" under volcano directory.

[2020-12-04 07:38] liudonggang commented on #1172
Yes，k8s CustomObjectsApi() Can meet my needs, thank you for your answer！

[2020-12-04 11:24] wpeng102 opened #1177 "volcano job dose not delete network policy when job finished"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
volcano job dose not delete network policy when job finished

**What you expected to happen**:
when job finished, the NetworkPolicy should be deleted just like svc and configmap created by job plugin.

**How to reproduce it (as minimally and precisely as possible)**:
1) submit a volcano job
2) when job running, check the

[2020-12-04 11:27] wpeng102 commented on #1177
/assign @wpeng102

[2020-12-04 11:27] wpeng102 commented on #1177
/kind bug

[2020-12-06 15:18] mikechengwei opened #1178 "Design a lightweight storage solution for Volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently Volcano is friendly to job processing, but the storage requirements also require users to integrate themselves.
I think we can provide a lightweight solution to make Job stateful and friendly.

**Ideas**:

1.  Use one pv and multiple pods share the pv , and use ReadWriteMany access mode.
2. Support a sidecar

[2020-12-07 02:41] #920 closed

[2020-12-07 11:13] #916 closed

[2020-12-07 19:41] SkinyMonkey commented on #691
I would like to be able to use Volcano but allow the autoscaler to kick in when too much jobs are waiting.

I'm not sure that this feaure exists yet or is even possible.

As this ticket was closed without a PR I assume it wasn't examined?

Also what would happen if I had volcano in place + autoscaler and nodes number set to 0?

We'd like to able to cut our machines when they're not used, on the we

[2020-12-08 06:17] Thor-wl opened #1180 "v1.1.1 will be launched around late Dec"
Hey, guys!
As what community planed, v1.1.1 will be launched  around late Dec as a bug fix version.

[2020-12-08 08:09] jxfruit opened #1181 "add 2 or more allocatable devices to a pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
Currently, only one gpu device will be allocated, but in most scenarios, we hope two or more device on the same server or a few devices on servers can be allocated to a pod.
Thank u!

[2020-12-08 09:25] k82cn commented on #1181
that is great ideal, we can add more devices into https://github.com/volcano-sh/devices :)

[2020-12-08 13:50] bmv126 commented on #1091
@Thor-wl
May I know when will v1.2 be available ?

[2020-12-09 00:45] william-wang commented on #1091
The v1.2 should be availabe on february 2021, However the bugfix pull request will be submitted this week.

[2020-12-09 05:35] XuHaoIgeneral commented on #1178
I have a control service;  the server create vcJob and pv-pvc;

[2020-12-09 06:40] william-wang commented on #1177
/lgtm
/approve

[2020-12-09 12:36] wpeng102 opened #1187 "proportion plugin can not reclaim resource in some cases"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
proportion plugin can not reclaim resource and jobs are pending

**What you expected to happen**:
proportion plugin works as design behavior

**How to reproduce it (as minimally and precisely as possible)**:
Cluster: 4 CPUs(actually workload can use 3 CPUs),  8G memory
Both queue1 and queue2 have same weight 1.

Scheduler

[2020-12-09 19:34] SkinyMonkey opened #1188 "Schedule jobs only on certain nodes"
/kind feature

**What happened**:
We'd like to schedule jobs only on certain nodes

**What you expected to happen**:
We would expect to use node selectors to be able to do this through volcano.

[2020-12-09 23:57] k82cn commented on #1188
that's reasonable to me, we can add a `--node-selector` parameter to the scheduler, and only use those nodes: only create snapshort for those nodes.

/cc @Thor-wl @william-wang

[2020-12-10 00:58] william-wang commented on #1188
It's a useful case, I'll put this feature in the pipeline.
@SkinyMonkey  Would you like to make a contribution for this feature in volcano?

[2020-12-10 14:25] SkinyMonkey commented on #1188
@k82cn This is a good idea. I would also add  when creating a job?

@william-wang I would have liked to contribute, sadly we're on a very busy schedule (pun intended) with my company
If it's an easy fix and you guide me I can try but otherwise I won't be able to work on it for a month at least

[2020-12-10 15:46] SkinyMonkey commented on #1188
I noticed that I can already provider a NodeSelector in the PodTemplateSpec, wouldn't that be enough?

[2020-12-11 00:10] wpeng102 commented on #1187
/assign @wpeng102

[2020-12-11 00:25] wpeng102 opened #1195 "gang plugin is coupling with priority plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Enable preempt action, if not configure priorityClassName for jobs or jobs has same priority. Gang plugin will prevent resource preemption.

**What you expected to happen**:
gang plugin should  decouple from priority plugin

**How to reproduce it (as minimally and precisely as possible)**:
Cluster can run 6 pods. Enable p

[2020-12-11 00:30] wpeng102 commented on #1195
Check `preemptableFn` in gang.go, only job with high priority can preempt resource.  I think it is not reasonable. In the logged cases, jobb should can preempt 3 resources from jobb, then both joba and jobb should be running.

[code]

[2020-12-11 01:04] wpeng102 commented on #1195
The above code also make reclaim action related with job priority.
[code]

[2020-12-11 01:29] k82cn commented on #1188
Yes, that also works; but you need to add NodeSelector/NodeAffinity to every Pod, e.g. PodTemplate in Deployment.

[2020-12-11 02:00] william-wang opened #1196 "Improve resource calculation accuracy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Current volcano is lack of high accurate resource calculation. This leads to some unexptected behaviors.
We already found the Less function and proportion OveruseFn are impacted. Suggest use big.RAT package to
improve resource calculation accuracy in Volcano.

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud pr

[2020-12-11 02:01] william-wang commented on #1196
/assign @wpeng102

[2020-12-11 02:21] wpeng102 commented on #1196
/assign @wpeng102

[2020-12-11 06:18] Thor-wl commented on #1175
/assign @dingzq01

[2020-12-11 06:34] wpeng102 commented on #1177
/close

[2020-12-11 06:34] #1177 closed

[2020-12-11 08:52] william-wang commented on #1188
@SkinyMonkey Thanks for your reply.  We will develop this feature as your are busy on a busy schedule :)

[2020-12-11 14:13] SkinyMonkey commented on #1188
Thank you @k82cn, @william-wang

We'll try with the nodeSelector by hand first and we'll use the option as soon as you have the time to work on it.

Thanks again for your fast answers and support!

[2020-12-11 15:41] SkinyMonkey opened #1197 "module declares its path as: volcano.sh/volcano"
/kind bug

**What happened**:

I wanted to import the volcano repo to use the types declared in /pkg

This is what go tells me :
[code]

Would it be possible to use github.com/volcano-sh/volcano
instead of volcano.sh/volcano in the go.mod?

Or should i communicate with volcano in another fashion than through the K8s API?

**What you expected to happen**:

Normal import/compilation

**How to reprod

[2020-12-11 15:46] SkinyMonkey commented on #1197
Sorry i found out that just using volcano.sh/volcano/pkg/apis/batch/v1alpha1 worked

[2020-12-11 15:46] #1197 closed

[2020-12-11 15:48] SkinyMonkey commented on #810
Doing all those replaces seems a bit overkill, is there another solution?

[2020-12-11 16:30] SkinyMonkey opened #1198 "too many arguments in call to c.client.Get() ..."
/kind bug

**What happened**:

I tried to import "volcano.sh/volcano/pkg/client/clientset/versioned/"

and got a compilation error :

[code]

**What you expected to happen**:

Normal compilation

**How to reproduce it (as minimally and precisely as possible)**:

import "volcano.sh/volcano/pkg/client/clientset/versioned/"

**Anything else we need to know?**:

**Environment**:
- Volcano Version: v1.

[2020-12-11 16:41] SkinyMonkey commented on #1198
It might be cause i had to replace some k8s modules in go.mod to be able to use the volcano project.
If the modules i replaced are not up to date.

[2020-12-11 17:36] #1198 closed

[2020-12-12 01:48] jxfruit commented on #1181
Is there some plans?

[2020-12-12 06:30] k82cn commented on #1181
which device do you need ? Currently, we only got requirement on GPUs :)

[2020-12-12 06:35] k82cn commented on #810
hm... it's better to separate volcano.sh/apis to a standalone repo, so you can generate client according to your environment.

[2020-12-12 06:37] k82cn commented on #1188
Great! Thanks for your understand :)

My pleasure :)

[2020-12-12 06:39] k82cn commented on #810
xref https://github.com/volcano-sh/volcano/issues/1155

[2020-12-12 10:03] jxfruit commented on #1181
gpu devices

[2020-12-13 01:17] k82cn commented on #1181
refer to https://github.com/volcano-sh/devices for more detail about GPU support. If any requirement on enhancements, please let me know.

[2020-12-14 02:39] Thor-wl commented on #1188
This feature has been adopted to v1.3.0

[2020-12-14 04:32] #938 closed

[2020-12-14 04:32] #915 closed

[2020-12-14 04:32] #911 closed

[2020-12-14 04:32] #880 closed

[2020-12-15 07:54] Thor-wl commented on #991
This bug will be fix in v1.1.1 in late Dec

[2020-12-15 09:43] dakehero opened #1202 "resources.requests.cpu seems to be invalid"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I run mpi example(volcano-master/example/kubecon-2019-china/mpi-sample/mpi-example.yaml) with command of `mpiexec -np 4`, mpi reported an error that "There are not enough slots available in the system to satisfy the 4 slots that were requested that were requested by the application: mpi_hello_world"

![image](https:/

[2020-12-15 09:48] Thor-wl commented on #1202
/cc @Thor-wl

[2020-12-16 03:13] wpeng102 commented on #1196
Suggest use big.float to replace float64:
1)  big.float provide 53bit precision, this is enough for schedule resource.
big.float also provide `Cmp` function to compare two big.float
[code]

2) big.float is more efficient than big.Rat. Compare `float64`, `big.float`, `big.Rat` add function cost. I `big.float` is 80+ times slower than `float64`, but much faster than `big.Rat`
[code]

![image](https:

[2020-12-16 03:14] wpeng102 commented on #1196
@william-wang @k82cn @Thor-wl please help review the above proposal.

[2020-12-16 03:23] k82cn commented on #1196
How are we sure `big.float` is enough for our cases?

[2020-12-16 05:04] william-wang commented on #1196
What is the minimum CPU/MEMORY/GPU value if we use big.float? @wpeng102

[2020-12-16 06:34] Thor-wl commented on #1196
@wpeng102 Same doubt to me

[2020-12-16 08:29] TomLan42 opened #1203 "'CreateContainerConfigError' on kubemark"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When submitted the example job to kubemark hollow-node with the node selector, pods are successfully scheduled and assigned to the hollow node, but the pod status shows 'CreateContainerConfigError' instead of 'Running'.

**What you expected to happen**:
No 'CreateContainerConfigError'. Pods are running.

**How to reproduc

[2020-12-16 11:26] dakehero commented on #1202
This is not a problem caused by volcano, but a wrong parameter setting of openmpi. It should be set to --hostname and specified as the hostname of the work node in the cluster

[2020-12-16 11:26] #1202 closed

[2020-12-17 00:24] k82cn commented on #1203
Is there any more log for this error? It seem pod template can not be parsed :)

[2020-12-17 01:28] jxfruit commented on #1181
I have commited a requirement in https://github.com/volcano-sh/devices/issues/13.
I am looking forward to your plans

[2020-12-17 08:50] merryzhou commented on #1098
we do not care about the queue resources fairness, we care about maximize resource utilization more。And according to https://github.com/volcano-sh/volcano/issues/1083#issuecomment-707443694,  we removed the proportion plugin

Besides，we expect jobs in different queue should be sorted by created time, and jobs in the same namespace should be sorted by priority

[2020-12-18 00:19] k82cn commented on #1098
If so, it's better to use only one queue.

[2020-12-18 03:47] TomLan42 commented on #1203
The YAML manifest submitted is:

[code]

The pod description is shown as

[code]

```kubectl get pod``` gives:
[code]

[2020-12-18 08:50] ChAnYaNG97 commented on #1188
I would like to help, but I am not sure if the method is right or not. Could you please give some suggestions?
1. Add `node-selector` flag in the form of "<key>:<value>"
2. In `newScheduler()`, when building cache, use node selector to filter nodes in `cache.ResourceEventHandleFuncs`: `AddNode`, `UpdateNode` and `DeleteNode`

[2020-12-18 11:19] wpeng102 commented on #1196
`big.float` still is a float, can not resolve `01+02 == 0.3` issue. We need to use `big.rat`

[2020-12-19 16:33] naveensrinivasan opened #1204 "Implement Codeql as codescan tool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
The present codebase uses https://github.com/fossas/fossa-cli for code scanning.

**What you expected to happen**:
[Codeql](https://codeql.github.com/docs/)  has a potentially larger footprint in scanning for vulnerabilities and also able to provide suggestions and fixes for those.

**How to reproduce it (as minimall

[2020-12-20 02:34] fffffreedom opened #1206 "volcano-introduction.pptx problem"
hi

when i open the pptx, it shows the following messages, and pictures is unreadable, thks

  型号名称：	MacBook Pro
  型号标识符：MacBookPro14,3
  系统版本：	macOS 10.13.6 (17G65)
  内核版本：	Darwin 17.7.0

PowerPoint 在文件 volcano-introduction.pptx 的内容中发现问题。PowerPoint 可以尝试修复该文件。如果您信任此文件的来源，请单击“修复”。

PowerPoint 无法读取 volcano-introduction [已修复] 中的一些内容，已将其删除。
请检查您的演示文稿以查看其余内容是否正常。

![image](https://user-images.githubuse

[2020-12-20 03:14] k82cn commented on #1188
That's ok to me overall :)

[2020-12-20 03:18] k82cn commented on #1204
@caniszczyk , is there any suggestion from CNCF? Both fossa and Codeql are ok to me :)

[2020-12-20 03:18] k82cn commented on #1206
hm.... let me upload a PDF version of this introduction :)

[2020-12-20 03:19] k82cn commented on #1196
let's use Rat :)

[2020-12-20 05:50] ChAnYaNG97 commented on #1188
/assign

[2020-12-20 09:40] ChAnYaNG97 commented on #1188
After reading the source code again, I found, just as @k82cn said, it is better to filter node in building snapshot. To filter when building cache makes the problem complex. :)

[2020-12-20 15:51] wstian opened #1210 "allocation bug: high priority queue block others"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In a namespace, job ``j1``(request 3 cpu)  in queue ``q1``, job ``j2`` (request 1 cpu) in queue ``q2``.  queue ``q1`` has high priority, and there are only a node ``n1`` with 2cpu
when allocation,  ``j1`` in ``q1`` will be allocated first, but there are no enough cpu for it, so it failed.
but before ``j2`` has chance to be allocated

[2020-12-20 19:55] naveensrinivasan commented on #1204
One of the motivations for this is something like https://github.com/ossf/scorecard/blob/main/checks.md#sast which looks for `codeql`

[2020-12-21 02:51] zen-xu opened #1211 "Resource comparison should use LessEqualStrict in allocateIdleResource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Current logic may cause OutOfMemory/OutOfcpu happen.

[code]

[code]

The key point is the **diff** in LessEqual.
For example:
Request: 1cpu, 18Mi
Idle:   2cpu, 10Mi
With current logic, Request will less equal than Idle, which is obvious wrong!

**What you expected to happen**:
Use `LessEqualStrict` rather than `LessEqua

[2020-12-21 02:56] zen-xu commented on #1211
Oh, I found minMemory is current 1.

But I also think should use `LessEqualStrict` rather than `LessEqual`

[2020-12-21 03:05] william-wang commented on #1211
This issue will be resolved in #1196.  @zen-xu

[2020-12-21 03:08] zen-xu commented on #1211
That's great!

[2020-12-21 03:08] #1211 closed

[2020-12-21 13:19] fffffreedom commented on #1206
appreciate it

[2020-12-22 06:32] Thor-wl commented on #1210
@merryzhou You have mentioned this bug, yes?

[2020-12-22 09:32] zen-xu opened #1215 "Support customer implementing plugins, and the scheduler loads these plugins dynamically"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Until now, plugins like `binpack`, `drf`, `gang` are provided by official.
But some users may want to implement the plugin by themself. So if scheduler can dynamicly load plugins, that will make it more flexible when handling different business scenarios.

**What you expected to happen**:

1. Implement  the plugin

[

[2020-12-23 01:18] k82cn commented on #1215
That's interesting feature, I like that so much!!!!
@zen-xu would you help on this feature?

[2020-12-23 02:06] zen-xu commented on #1215
@k82cn
No problem

[2020-12-23 02:09] zen-xu commented on #1215
/assign @zen-xu

[2020-12-23 02:16] k82cn commented on #1215
Thanks very much :)

BTW, AFAIK, Golang does not support `.so` well, so please also add a feature gate if someone want to disable it :)

[2020-12-23 02:27] zen-xu commented on #1215
I will add a cli option `--plugins-dir` to vc-scheduler, so if no custom plugin in this dir, scheduler logic will be consistent with the present

[2020-12-24 16:07] caniszczyk commented on #1204
FOSSA and CodeQL are different systems, FOSSA is more about code licensing,
CodeQL is more about finding security issues and is more comparable to say
Snyk.

The more the merrier when it comes to use security scanning tools imho,
just find what works well for your team.

On Sun, Dec 20, 2020 at 1:55 PM Naveen <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 51

[2020-12-24 17:25] naveensrinivasan commented on #1204
Thanks for the update. I will do a PR for codeql and synk.

[2020-12-26 03:09] zishen opened #1221 "Can volcano support create pod by deployment, not vcjob?"
**FEATURE REQUEST**:

I want create  pods by deployment not vcjob. How can i do, or volcano is not support?

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:v1.0.1
- Kubernetes version (use `kubectl version`):1.17.3
- Cloud provider or hardware configurat

[2020-12-26 03:24] k82cn commented on #1221
Volcano already support that; `PodGroupController` will help to create `PodGroup` for K8s Kinds, e.g. `Deployment`, `ReplicaSet`.

AFAIK, this feature was already used in [Huawei Cloud CCI](https://www.huaweicloud.com/product/cci.html) service more than one year :)

[2020-12-26 04:57] #965 closed

[2020-12-26 06:53] zishen commented on #1221
thanks a lots， I will try it

[2020-12-26 07:24] wpeng102 commented on #1168
/close

[2020-12-26 07:26] #1168 closed

[2020-12-26 07:31] #1129 closed

[2020-12-26 08:11] k82cn commented on #1221
@Thor-wl , would you help to show an example for that?

[2020-12-26 08:18] Thor-wl commented on #1221
OK. /asign @Thor-wl

[2020-12-27 07:06] Thor-wl commented on #1221
please refer to https://github.com/volcano-sh/volcano/pull/1222

[2020-12-27 11:03] #461 closed

[2020-12-28 01:00] k82cn opened #1223 "Automatically set GOMAXPROCS for scheduler & controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Automatically set GOMAXPROCS to match Linux container CPU quota, xref https://github.com/uber-go/automaxprocs

[2020-12-28 03:33] zishen commented on #1221
Thanks， I have done it，it 's work.
This is my faml:
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-with-volcano
  labels:
    app: tf
  namespace: vcjob
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tf
  template:
    metadata:
      labels:
        app: tf
    spec:
      schedulerName: volcano  # set spec.schedulerName to 'volcano' instead of 'default-scheduler' for

[2020-12-28 03:33] #1221 closed

[2020-12-28 07:39] merryzhou commented on #1098
i don't understand how to use one queue to achieve that, can you explain more?

[2020-12-29 01:40] conorcurlett opened #1226 "Tasks get restarted after they succeeded."
/kind bug

**What happened**:
When running a job with multiple tasks, there appear to be cases where a task that has reported "succeeded" moves into "pending" state and restarts. RestartPolicy is set to None.
In our logging, we see conditions like:
[code]

**What you expected to happen**:
When a task has succeeded, it shouldn't be restarted when RestartPolicy is set to None

**How to reproduce it

[2020-12-29 07:16] Thor-wl opened #1227 "optimize CI actions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Timeout occurs frequently after CI was switched to github action when run e2e.
**What you expected to happen**:
E2e runs normally

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider

[2020-12-31 03:56] #1031 closed

[2020-12-31 03:58] Thor-wl commented on #1226
Please show me your configurations. Just submit a job?

[2020-12-31 07:57] conorcurlett commented on #1226
The JSON I'm using to submit the job via the Python Kubernetes API is in the original issue, and yes, I'm basically just submitting a job. There is logic within the command that will cause some tasks to complete before others, which seems to be correlated with being the tasks that get restarted even though they have succeeded.

[2020-12-31 09:24] Thor-wl commented on #1215
related PR:
Doc https://github.com/volcano-sh/volcano/pull/1219
Implementation https://github.com/volcano-sh/volcano/pull/1218

[2020-12-31 09:24] #1215 closed

[2020-12-31 09:27] Thor-wl commented on #1223
[WIP] https://github.com/volcano-sh/volcano/pull/1229

[2021-01-04 02:01] #1204 closed

[2021-01-04 03:08] njlkj opened #1231 "podAntiAffinity not take effect"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
My cluster only has one node without taint. Deployment's `replicas` is `2` ,and set `podAntiAffinity` , and PodGroup's  `minMember` is `2`,but finally 2 pods are scheduled success on the same node(x.x.255.20).

- kubectl  get node
[code]
- podgroup & deployment
[code]

**What you expected to happen**:
Should schedule failure

**How

[2021-01-04 03:37] #1140 closed

[2021-01-04 07:21] #1029 closed

[2021-01-04 07:37] hudson741 opened #1235 "apply as reviewer"
My contribution as follows:

module contribution include:

scheduler
main feature contribution

v1.2.0   queue reserved

bugs:

#1168
Take part in weekly community meeting, feature design.

Totally, i've contributed 1  merged PRs and 1 is on the way, hope to contribute more to the community.

[2021-01-04 07:44] #1235 closed

[2021-01-04 07:48] hudson741 opened #1236 "apply as reviewer"
My contribution as follows:

module contribution include:

scheduler
main feature contribution

v1.2.0 queue reserved feature  owner. includes design ,  code

bugs:

#1168

Take part in weekly community meeting, feature design.

Totally, i've contributed 1 merged PRs and 1 is on the way, hope to contribute more to the community.

[2021-01-04 08:18] #1236 closed

[2021-01-04 08:27] hudson741 opened #1237 "apply as reviewer"
My contribution as follows:

module contribution include:

1）suggests  to improve queues resource metric  .
2)  suggests  to reserve gpu nodes  from cpu tasks.
3)  discuss to improve annatitions way to define the Hierarchy queue.
4)  v1.2.0 queue reserved feature owner. includes design , code

bugs:

#1168

Take part in weekly community meeting, feature design.

Totally, i've contributed 1 merged

[2021-01-05 04:43] kuromt commented on #1091
I have same problem with v1.1.0.

Does [this PR](https://github.com/volcano-sh/volcano/pull/1176) solve the problem?

[2021-01-05 06:45] Thor-wl commented on #1091
No, it's another bug

[2021-01-05 08:30] merryzhou opened #1240 "OnJobUpdate of ssh not implemented"
**What happened**:
when job/task replica updated, ssh secret not updated

https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/job/plugins/ssh/ssh.go#L103

[2021-01-05 11:43] zyyqqq opened #1241 "volcano job created but no pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when delete volcano job then create volcano job in shell script, pods could not be created sometimes.  shell script is:
[code]
when i exec`kubectl get pods`,  No resource found
[code]

 volcano job status is
[code]
It can start normally if I retry to submit.

**What you expected to happen**:
volcano job can delete and start normally

[2021-01-06 01:45] Thor-wl commented on #1241
1. please show content in `pytorch-train.yaml`
2. what's your scheduler configuration

[2021-01-06 04:01] github-zic commented on #1241
`pytorch-train.yaml` content is:
[code]
`volcano-scheduler.conf` content is :
[code]

[2021-01-06 06:57] Thor-wl commented on #1241
1. Notice that you have set vcjob `policies` as follows:
[code]
When pod is evicted, vcjob will restart. It is correspond to `Events` in vcjob status.
2. Notcie that you have configured `reclaim` and `preempt` action. It may result in preemption.

[2021-01-06 09:54] #1237 closed

[2021-01-07 09:33] bobyu9527 opened #1242 "Pod volcano-scheduler-xxxxxxx CrashLoopBackOff error occurred after upgrading volcano to v1.1.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In my k8s 1.15 environment, I encountered an error after upgrading volcano version from v1.1.0 to v1.1.1.
pod `volcano-scheduler-xxxxxxx` is always in the CrashLoopBackOfff state, and the following error message appears:
[code]
Rolling back to the old version is normal.

**What you expected to happen**:

**How to reproduc

[2021-01-07 09:49] #865 closed

[2021-01-07 10:13] shinytang6 commented on #1242
lt may have something to do with the discussion in [PR1218](https://github.com/volcano-sh/volcano/pull/1218)

[2021-01-08 01:23] Thor-wl commented on #1242
https://github.com/volcano-sh/volcano/pull/1225 has fixed the bug. And i will launch v1.1.2 to fix it

[2021-01-08 09:04] #1082 closed

[2021-01-08 09:12] Thor-wl commented on #1242
https://github.com/volcano-sh/volcano/releases/tag/v1.1.2 v1.1.2 has fixed it and new image has pushed to dockerhub

[2021-01-08 09:12] #1242 closed

[2021-01-08 11:23] vot4anto opened #1244 "Cli installation on documentations"
Hi,
following the guide for installing the cli: https://volcano.sh/en/docs/cli/
But I can't find on the last release https://github.com/volcano-sh/volcano/releases/tag/v1.1.2 the path that are mentioned in the guide: path volcano-{version}-linux-gnu\bin\amd64.

[2021-01-08 12:33] Thor-wl commented on #1244
Sorry for not update the doc. And you can execute `make vcctl` to get the executable file after unziping the release package.

[2021-01-08 12:44] vot4anto commented on #1244
I have to clone the github repo ? Because I try to do make but without success with zip package.

[2021-01-08 12:54] Thor-wl commented on #1244
What's the failure reason? I've unziped the release and it's the whole source code.

[2021-01-08 14:23] vot4anto commented on #1244
This is what I have:

/k8s/volcano-1.1.2$ make vcctl
mkdir -p _output/bin
mkdir -p _output/release
go build -ldflags " -X 'volcano.sh/volcano/pkg/version.GitSHA=`git rev-parse HEAD`' -X 'volcano.sh/volcano/pkg/version.Built=`date "+%Y-%m-%d %H:%M:%S"`' -X 'volcano.sh/volcano/pkg/version.Version=v1.1.1'" -o=_output/bin/vcctl ./cmd/cli
fatal: not a git repository (or any of the parent directories):

[2021-01-08 14:56] vot4anto commented on #1244
I clone the github repo and from the top of it I do make vcctl and I can compile with success, and I can see the job

./_output/bin/vcctl job list
Name    Creation       Phase       JobType     Replicas    Min   Pending   Running   Succeeded   Failed    Unknown     RetryCount
job-1   2021-01-08     Completed   Batch       1           1     0         0         1           0         0           0

[2021-01-08 21:21] vot4anto opened #1245 "mpi example"
If I follow the blog post: https://volcano.sh/en/blog/quick-start-volcano/
I can run on my kind installation of kubernetes without any problem.
But If I use the files on GitHub master:
https://github.com/volcano-sh/volcano/blob/release-1.1/example/integrations/mpi/mpi-example.yaml
I have the pods master in CrashLoopBackOff state and I see that the two files for creation of jobs are different.

[2021-01-09 02:11] Thor-wl commented on #1244
oh, you're right, git repository is necessary indeed.

[2021-01-09 08:35] vot4anto commented on #1244
We can close the issue, thanks

[2021-01-09 08:35] #1244 closed

[2021-01-09 09:00] vot4anto opened #1246 "plugin ssh and mpi for HPC calculation for engine on earthquake"
**Environment**:
- Volcano Version: 1.12
- Kubernetes version (use `kubectl version`):
Kind installation for testing: kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1", GitCommit:"c4d752765b3bbac2237bf87cf0b1c2e307844666", GitTreeState:"clean", BuildDate:"2020-12-18T12:09:25Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: versi

[2021-01-09 23:56] k82cn commented on #1246
If it's not a root user, the related files (e.g. publich/private key) will be created in a different directory; that's ok to copy them to user's home.

[2021-01-10 00:23] #1210 closed

[2021-01-10 13:48] vot4anto commented on #1246
in which folder the related files are created ? Not in the .ssh folder on the home of the user?
I need ssh running either on master and worker? Or I can use just on worker?

[2021-01-10 15:20] huone1 opened #1247 "plugin binpack's arguments not reset in OnSessionOpen"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
plugin binpack's  arguments only are just  set in func "New", but  not reset in OnSessionOpen

**What you expected to happen**:

plugin binpack's  arguments can be modify by scheduler configMap

**How to reproduce it (as minimally and precisely as possible)**:
Edit plugin binpack's  arguments in scheduler configMap

**Any

[2021-01-11 03:38] #1247 closed

[2021-01-11 07:56] shinytang6 commented on #1246
Maybe you can configure the ssh plugin like that?
[code]

[2021-01-11 10:45] vot4anto commented on #1246
I will try it immediately, thanks for the hint.
But is there a documentation of that option of ssh plugins so i can't disturb opening an issue?

[2021-01-11 10:50] shinytang6 commented on #1246
As far as I know, there are few examples of job plugins at present, I don’t know if I have missed anything.

l can help add some examples of job plugins lately.

[2021-01-12 06:23] #1227 closed

[2021-01-12 15:00] vot4anto commented on #1246
Your suggestion works like a charm for my case.
But is there a way to have the IP of the hosts instead that hostname? Or I have to do a reverse resolution at startup of container?

[2021-01-12 23:48] k82cn commented on #1246
hm... it's hard for job controller to know the IP before pod start; so hostname is a better solution for now. Is there any case that IP is required?

[2021-01-13 07:19] vot4anto commented on #1246
Because the master and worker of our HPC infrastructure use zmq to communicate each other and zmq have same issue with tcp connect that can be easy solved using IP instead of hostname in configuration files, for example:
https://stackoverflow.com/questions/21169031/zmq-socket-connect-timeout

I can install on container host or dig to do reverse resolution of hostname, I have to see the better solu

[2021-01-13 08:25] k82cn commented on #1246
That's interesting!

@wpeng102 , @Thor-wl , please help to investigate this scenario :)

[2021-01-13 08:45] vot4anto commented on #1246
It will be fantastic to have help to investigate the use of volcano with our engine.
Please contact me in any way you want. Do you attend the European weekly meeting ?

[2021-01-13 20:18] #933 closed

[2021-01-14 01:18] wpeng102 commented on #1246
For volcano, it will do the following things:
1) create job in apiserver(create pod hosts file)
2) create pod in apiserver
3) schedule pod to node

Then, kubelet will start pod on node (assign ip for pod). It is hard to no know the pod ip for volcano when scheduling pods.
Maybe you can add [init container](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) for the master and work

[2021-01-14 01:18] Thor-wl commented on #1246
Yes, Volcano Eruopean weekly meeting will be started and @k82cn or @william-wang will hold the meeting

[2021-01-14 01:19] Thor-wl commented on #1246
/assign @wpeng102 @Thor-wl

[2021-01-14 01:26] wpeng102 commented on #1187
/close

[2021-01-14 01:26] #1187 closed

[2021-01-14 07:53] vot4anto commented on #1246
Yes, I will do that. I modify the docker image to have tools to use to exchange pod ip for each other.

[2021-01-14 07:57] vot4anto commented on #1246
Great, I will attend with pleasure

[2021-01-14 08:49] #997 closed

[2021-01-14 14:26] #1007 closed

[2021-01-15 07:26] vot4anto commented on #1246
I discovery that there is a misconfiguration on network side of the pods that are created.
in /etc/hosts files there are one entry that is different from the hostname that is set for the pods.
Follow one example:

/k8s$ **kubectl get pods**
NAME               READY   STATUS    RESTARTS   AGE
master             0/1     Error     0          15h
oqjob-oqmaster-0   1/1     Running   0          57s

~/

[2021-01-15 08:16] Thor-wl commented on #1231
Thanks for your report! I'll try to reproduce it

[2021-01-15 08:19] Thor-wl commented on #1203
@shinytang6 Can you help for that?

[2021-01-15 08:21] #1173 closed

[2021-01-15 09:30] merryzhou opened #1250 "e2e has some error info"
https://github.com/volcano-sh/volcano/pull/1214/checks?check_run_id=1593227368

![image](https://user-images.githubusercontent.com/2818395/104706441-0e151a00-5756-11eb-90d0-cd3fee43a995.png)

[code]

and kube-state-metric deployment here: https://github.com/volcano-sh/volcano/blob/master/installer/helm/chart/volcano/templates/kubestatemetrics.yaml#L172
[code]

but in e2e cluster:
[code]

**Environ

[2021-01-15 10:07] merryzhou opened #1251 "some e2e tests failed"
1. https://github.com/volcano-sh/volcano/blob/master/test/e2e/schedulingaction/predicates.go#L106

![image](https://user-images.githubusercontent.com/2818395/104711201-00629300-575c-11eb-864c-8ffd6b586aaa.png)

2. https://github.com/volcano-sh/volcano/blob/master/test/e2e/schedulingaction/preempt.go#L119
![image](https://user-images.githubusercontent.com/2818395/104711339-30119b00-575c-11eb-8f10-2

[2021-01-18 01:38] #1093 closed

[2021-01-18 02:12] Thor-wl commented on #1250
Yes, it's uncompleted in e2e cluster.

[2021-01-18 02:45] ldd91 opened #1252 "example for queue resource reservation function"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature

**What happened**:
We are  interested in  queue resource reservation function,and plan to use it in our production environment.However i only find design doc in github,anyone else have example about have use this function.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2021-01-18 02:50] Thor-wl commented on #1252
Queue resource reservation is on the way and will be merged to v1.2 as planed. V1.2 will be released around late January according to the shedule

[2021-01-18 03:04] ldd91 commented on #1252
Looking forward to it.

[2021-01-18 08:51] #1096 closed

[2021-01-18 08:51] #1252 closed

[2021-01-20 10:00] vot4anto commented on #1246
Sorry, do you have some notice about the issue on hostname?

[2021-01-20 12:00] huone1 opened #1256 "fix: more pods are reclaimed than need"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
the cluster spec: 9 cpu 16GB

1. set reclaim action in scheduler configmap,
2. create queue "test" weight: 3
2. apply a job test-1(replicas:8, minavailable: 3 queue: default each task request cpu: 1 )
3. apply another job test-2 (replicas:2, minavailable: 2, queue: test each task request cpu: 1)

result:
test-1 delete 5 pods
**What

[2021-01-20 12:01] huone1 commented on #1256
fix it in PR #1255

[2021-01-21 03:51] Thor-wl commented on #1251
/cc @huone1 Can you help for that?

[2021-01-21 03:52] Thor-wl commented on #1250
/cc @huone1 Can you help for that?

[2021-01-21 03:58] damon008 opened #1257 "jodbackfill"

[2021-01-21 04:01] Thor-wl commented on #1246
Well, noting but just as follow common rules

[2021-01-21 04:04] Thor-wl commented on #1257
Please make an introduction about your scenario/requirement and solution design.

[2021-01-21 04:04] #1257 closed

[2021-01-21 04:25] damon008 opened #1258 "the Feature Request of backfill for the small job"
结合volcano设计理念，目前我们集群中关于volcano的调度配置如下：

[code]

**What happened**:

未申请资源的任务可以被分配到随机节点

**What you expected to happen**:

任务属于小任务时定义的阈值

创建小任务优先被分配到已经被占用过资源的节点，以便结合binpack的理念，加上backfill机制，实现资源的最大化利用

关于BalanceResourceAllocation的优选策略中cpu和内存的平衡与小任务调度应该如何调整比重，效果比较好

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Versi

[2021-01-21 06:54] zyyqqq opened #1259 "support split out fixed quantity CPU from GPU node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:
Support split out fixed quantity CPU cores from GPU node to run CPU tasks,  motivations:
-  CPU utilization is low on GPU node sometimes
- GPU is not required for data processing tasks
- Distrubuted training job may need CPU task, for example, Parameter server

[2021-01-21 07:08] vot4anto commented on #1246
And which I can say to volcano to set the correct hostname on the pod? I
can pass an extra args?

Il giorno gio 21 gen 2021 alle ore 05:01 WuLei <notifications@github.com>
ha scritto:

--
Antonio Ettorre
about.me/antonio.ettorre

[2021-01-21 08:09] huone1 commented on #1256
last fix has a problemand reset it , the new fix is PR #1260

[2021-01-21 08:49] huone1 commented on #1251
predicate e2e May be resloved by #1243

[2021-01-21 08:50] huone1 commented on #1251
predicate e2e May be resloved by #1243

[2021-01-21 09:23] huone1 commented on #1231
nodeorder has the same problem

handle := k8s.NewFrameworkHandle(pods, nodeSlice)
![image](https://user-images.githubusercontent.com/71266853/105330553-655f3280-5c0d-11eb-93b5-07f55fa6dea0.png)
@Thor-wl

[2021-01-21 23:58] wpeng102 opened #1261 "config "overcommit-factor" less than 1 leads scheduler crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
scheduer crash

**What you expected to happen**:
scheduler works well

**How to reproduce it (as minimally and precisely as possible)**:
1. config `overcommit-factor` less than 1, like:
[code]
2. submit workload, which request all the idle resource.

3. scheduler crash
![image](https://user-images.githubusercontent.com/1

[2021-01-22 00:19] wpeng102 commented on #1261
a.Sub(b) when `a` less than `b`, then it will lead panic.

https://github.com/volcano-sh/volcano/blob/793a1cf6b848884bd85600007dea1e4e46917cf3/pkg/scheduler/actions/enqueue/enqueue.go#L106

https://github.com/volcano-sh/volcano/blob/793a1cf6b848884bd85600007dea1e4e46917cf3/pkg/scheduler/api/resource_info.go#L156

[2021-01-22 01:11] Thor-wl commented on #1261
Sorry for lack of validation of `overcommit-factor`. It should be no less than `1.0`.

[2021-01-22 01:42] k82cn commented on #1259
We did not bind CPU to GPU; if the task only requires CPU, it's ok to dispatch to a GPU node.

[2021-01-22 01:50] Thor-wl commented on #1259
Perhaps the issue provider didn't describe his requirement clearly. He wants to reserve part of CPU resource in GPU node for directional scheduling.

[2021-01-22 02:23] k82cn commented on #1259
So the requirements is: a task may require both CPU & GPU; we need to reserve some CPU in the GPU node for such kind of tasks; right?

[2021-01-22 05:09] zyyqqq commented on #1259
yes, I want reserve part of CPU resource in GPU node

[2021-01-22 05:14] zyyqqq commented on #1259
I want run task only need CPU, but if use default CPU resource by 'limit.cpu' and 'request.cpu', All CPU resource may  allocated in GPU node, GPU will not be used, so I want reserver fixed quantity CPU resource for CPU task.

[2021-01-22 05:18] zyyqqq commented on #1259
I fount a project similar to my requirement: https://github.com/nokia/CPU-Pooler

[2021-01-23 08:34] huone1 commented on #1250
we can add enable flag in helm values.yaml to void the  nodeSelector #1262  to  resolve

[2021-01-23 10:04] shinytang6 commented on #1246
Volcano will set the `pod.Spec.Hostname` to podName & `pod.Spec.Subdomain` to jobName by default, the address of the pod should be it's FQDN(the output of `hostname -f`).

You can also explicitly specify the `pod.Spec.Hostname` & `pod.Spec.Subdomain`.

[2021-01-23 19:19] vot4anto commented on #1246
I try to set the name, so i can see if also on  hosts files the entries are
the rights one.

Il sab 23 gen 2021, 11:04 shinytang6 <notifications@github.com> ha scritto:

[2021-01-24 08:38] #1015 closed

[2021-01-25 12:27] huone1 opened #1264 "Where to Use musl-libc in code at branch master？？"
Where to Use musl-libc in code at branch master？？

currently， make image （scheduler）need  musl-libc， but  musl-libc is NO Exist at the Common compilation environment；
It's very unfriendly for new students.
branch： master

[2021-01-25 12:31] huone1 commented on #1264
@zen-xu

[2021-01-25 14:09] vot4anto commented on #1246
I do as you suggest but the hosts files is still wrong and also the hostnam and sudomain are not as describe.
follow the result

oq@oqjob-master-0:/etc/volcano$ more workers.host
oqjob-workers-0.oqjob
oqjob-workers-1.oqjob
oq@oqjob-master-0:/etc/volcano$ more master.host
oqjob-master-0.oqjob
oq@oqjob-master-0:/etc/volcano$ host oqjob-master-0.oqjob
oqjob-master-0.oqjob.default.svc.cluster.local ha

[2021-01-25 15:57] jiangkaihua opened #1265 "'enqueue' action loses effect when nodes in cluster had taint or labels."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

- There were 2 nodes in my cluster, 1 master and 1 node, each contained 8 CPU and 16Gi memory. I hoped my jobs only settle on node instead of master, so I added `nodeSelector` in my job.yaml. Then I created 10 jobs, each requires 4 CPU, 8Gi memory. I set args to enqueue: `overcommit-factor=1.0` to ensure the pending jobs

[2021-01-26 02:39] zen-xu commented on #1264
The default base image of `scheduler` is alpine, which only provides `musl-libc`.
If your want to build the image on ubuntu system by youself, you can specify the base image like `ubuntu` in Dockerfile.

[2021-01-26 02:56] k82cn commented on #1264
is there any way to disable that by default? Most of user does not care about the compiler :)

[2021-01-26 07:49] huone1 commented on #1261
if overcommit-factor is less then 1.0， change it to minOverCommitFactor（1.0）

is the method OK ？

[2021-01-26 08:41] huone1 commented on #1261
fix it at PR #1267

[2021-01-26 09:44] Thor-wl commented on #1261
OK

[2021-01-27 03:01] k82cn opened #1270 "Seperate Volcano to three major repos"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we combine everything in one repo to make them aligh with each other, but there're some new requirements recently:

* Build customized plugins in-house: some users would like to build customized plugins themself which is not suitable to open source
* Integrate with Volcano: build an operator to work with Vol

[2021-01-27 03:01] k82cn commented on #1270
/cc @Thor-wl @william-wang

[2021-01-27 03:01] k82cn commented on #1270
One potential issue is the k8s version in framework :)

[2021-01-27 03:07] zishen opened #1271 "why volcano has four images, can make it in one?"
**What happened**:

Volcano has four pod now, also need four images. Can I make mages into one? Is there have any effect?
Is it to consider what problem,when designing？

**Environment**:
- Volcano Version: v1.0.1
- Kubernetes version (use `kubectl version`):1.17.3
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):ubuntu 18.04.3
- Kernel (e.g. `uname -a`):
- Install tools

[2021-01-27 03:39] wpeng102 opened #1272 "update deployment.yaml example"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
https://github.com/volcano-sh/volcano/blob/master/example/deployment.yaml is not accurate. It is a `BestEffort` case, currently the `allocate` action will skip `BestEffort` case. Then `backfile` action fill the `BestEffort` into nodes.

**What you expected to happen**:
https://github.com/volcano-sh/volcano/blob/master/example/deploy

[2021-01-27 03:43] wpeng102 commented on #1272
https://github.com/volcano-sh/volcano/blob/8a9b873bf14ba74ad6865cf29f8521ff9e1e717b/pkg/scheduler/actions/allocate/allocate.go#L180-L185

In https://github.com/volcano-sh/volcano/blob/master/example/deployment.yaml it does not have resource request, so the pods are `BestEffort`, it will skip BestEffort task in 'allocate' action

[2021-01-27 04:01] k82cn commented on #1271
1. those components maybe deployed in different host
2. there maybe several admission controllers to align with apiserver in HA mode

Anyway, that's ok to combine them together in one Pod with four containers.

[2021-01-27 04:06] k82cn commented on #1272
hm... AFAIK, we already support all kind of k8s API in volcano; is there any specific case for Deployment?

[2021-01-27 08:31] zishen commented on #1271
Ok, thanks a lot.

[2021-01-27 08:31] #1271 closed

[2021-01-27 09:13] Roca93 opened #1273 "Dynamic Scaling of Queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Dynamically upscaling of queues works fine, downscaling limits running to one vcjob.

**What you expected to happen**:

Downscaling would not use all available resources depending on queue capabilities.

**How to reproduce it (as minimally and precisely as possible)**:

resource quota defined allowing 90% of the resources. With a q

[2021-01-28 09:57] tongchao199 commented on #1241
Creating and immediately deleting a task with the same name will cause the pod deletion event to be mishandled, and there may be event leakage

How to reproduce it (as minimally and precisely as possible):
* Create vcjob
[code]
* Get vcjob and pod status
[code]
* Delete vcjob
[code]
* Created immediately after deletion
[code]
* Get vcjob and pod status
[code]
* vc-controller-manager print out the

[2021-01-28 11:43] merryzhou opened #1275 "vcjob support update image/resources"
https://github.com/volcano-sh/volcano/blob/master/pkg/webhooks/admission/jobs/validate/admit_job.go#L241

is there any reason?

i wonder to know, if  image, resources  and other fields can be updated?

[2021-01-29 02:47] huone1 commented on #1246
@vot4anto  a headless seveice will be created when job witch plugin svc apply;  in container, we get all pod's ip and domain name by nslookup service domain--- "nslookup <jobname>.default.svc.cluster.local"
![image](https://user-images.githubusercontent.com/71266853/106225100-67358100-621f-11eb-8e75-dbce6d3342c6.png)

[2021-01-29 02:49] wpeng102 commented on #1272
code has merged. close this issue.

[2021-01-29 02:49] #1272 closed

[2021-01-29 04:02] Thor-wl commented on #1273
Well, `Queue` is a cluster level cencept and not corresponing to `namespace`. You can submit jobs from different namespace into one queue. So volcano cannot make the resource relationship between namespace and queue. But as a recommanding practice, you can map a namespace to a queue.

[2021-01-29 04:06] Thor-wl commented on #1275
It's a lack of pod update ability for vcjob controller manager. But i think it's a good idea.

[2021-01-29 07:04] vot4anto commented on #1246
Can you also check the /etc/hosts files? In my case the entries here
doesn't reflect the dns

Il giorno ven 29 gen 2021 alle ore 03:48 huone1 <notifications@github.com>
ha scritto:

--
Antonio Ettorre
about.me/antonio.ettorre

[2021-01-29 07:30] wpeng102 commented on #1261
@huone1 please add log to print `overcommit-factor` value.

[2021-01-29 07:54] wpeng102 commented on #1246
In my case, use nslookup can parse hostname in /etc/hosts is ok.  en... It maybe k8s network module issue?

![image](https://user-images.githubusercontent.com/10152842/106245870-3158c280-6248-11eb-9d80-b2a33589c1fd.png)

In  my understanding, if  use `nslookup` collect all workers ip,  is is could work for zmp?

[2021-01-29 08:49] vot4anto commented on #1246
I use for testing kind installation of kubernets at
version kindest/node:v1.19.4.
Can I try with different version?

Il giorno ven 29 gen 2021 alle ore 08:54 Peng Wang <notifications@github.com>
ha scritto:

--
Antonio Ettorre
about.me/antonio.ettorre

[2021-01-29 09:45] vot4anto commented on #1246
Follow my value:

cat /etc/hosts
# Kubernetes-managed hosts file.
127.0.0.1       localhost
::1     localhost ip6-localhost ip6-loopback
fe00::0 ip6-localnet
fe00::0 ip6-mcastprefix
fe00::1 ip6-allnodes
fe00::2 ip6-allrouters
10.244.1.92     oqjob-master-0.oqjob.default.svc.cluster.local
oqjob-master-0
openquake@oqjob-master-0:~$ nslookup oqjob-master-0
Server:         10.96.0.10
Address:        1

[2021-01-29 09:48] wpeng102 commented on #1246
we use `kubeadm` to install k8s cluster.

[2021-01-29 11:35] vot4anto commented on #1246
which release of k8s do you use?

Thanks

Il giorno ven 29 gen 2021 alle ore 10:49 Peng Wang <notifications@github.com>
ha scritto:

--
Antonio Ettorre
about.me/antonio.ettorre

[2021-01-29 11:42] wpeng102 commented on #1246
[code]

[2021-01-31 23:52] k82cn commented on #1275
it's considered as a new job if image/resources changed :)

[2021-02-01 06:08] wpeng102 opened #1279 "[feature] Time Division Multiplexing (TDM) plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
implement Time Division Multiplexing (TDM) plugin for a co-located environment.

Detail reqirement refer https://github.com/volcano-sh/volcano/pull/1277

[2021-02-01 06:10] wpeng102 commented on #1279
https://github.com/volcano-sh/volcano/pull/1276

https://github.com/volcano-sh/volcano/pull/1269

[2021-02-01 08:17] gaocegege opened #1281 "[feature] Remove direct dependency k8s.io/kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

https://github.com/kubernetes/kubernetes/issues/90358#issuecomment-617859364

It affects lots of downstream projects like tf-operator.

**What you expected to happen**:

Do not depend on k8s.io/kubernetes directly.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-02-01 08:25] Thor-wl commented on #1281
I'll take it into consideration together when update volcano to k8s v1.19

[2021-02-02 03:00] Thor-wl opened #1284 "【community bridge】System Stability Enhancement"
Since Volcano is designed as a large scale distributed system, system stability enhancement is very importent. It contains more than UT and E2E. So your task is to enhance system stability through a series of official tests. The detail is as follows:
* Complete current UT/E2E to cover more classical scenarios.
* Conduct stress testing to discover system limits and offer effective test report. Give

[2021-02-02 03:17] Thor-wl opened #1285 "【community bridge】Volcano reading materials improvement"
In order to make Volcano easy to use and understand, you task is to improve reading materials. The details are as follows:
* Supplementary examples about how to use Volcano for all northbound computing frameworks. Cases can be referred to are under  volcano-sh/volcano/examples.
* Supplementary examples about how to use Volcano for all southward heterogeneous devices. Current case is only for GPU.

[2021-02-02 09:59] Roca93 commented on #1273
I understand. In my example we have specific queues for different namespaces (mapping 1-1). The problem is there are enough resources available cluster wide, but when we scale the queue capabilities down we are limited.

As the example described, we scale to 60% (resource quota of the ns + corresponding queue), we are limited to 12,5% usage. Upscaling the queue to its original capabilities and lea

[2021-02-02 16:05] Dharna5599 commented on #1285
Hey @Thor-wl ,
This issue seems to be quite interesting, I will like to take it up for lfx mentorship program. Can you please tell me the next step which I need to take. If you want then I can draft a proposal for the project having a solid road-plane.

[2021-02-03 03:14] #1124 closed

[2021-02-03 03:19] Thor-wl commented on #1241
I've tried to reproduce the scenario as what you configured. And restart job occured but get pod is normal. Finally, restart successfully. Let me conduct a deep debug and reply again.

[2021-02-03 06:27] k82cn commented on #1281
xref https://github.com/volcano-sh/volcano/issues/1270

[2021-02-03 06:39] gaocegege commented on #1270
Thanks for the issue!

Will we keep clientset with apis or volcano?

[2021-02-03 09:46] Thor-wl commented on #1241
@tongchao199 Yes, you're right. Because of the duration of `Terminating` pod, new job will be considered as evicted which will trigger job restart. Default restart time is 3. If the duration of `Terminating` is long enough, job will be failed after 3 restarts.

[2021-02-03 09:54] zen-xu opened #1289 "WaitForCacheSync should wait all event processed, otherwise may cause OutOfCPU or OutOfMemory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Current `WaitForCacheSync` only use `Informer.HasSynced` method to determine whether all resources has synced.

https://github.com/volcano-sh/volcano/blob/2d03377e712aaedb9dfafd7ae7ec66f9276bf92a/vendor/k8s.io/client-go/tools/cache/fifo.go#L149-L153

https://github.com/volcano-sh/volcano/blob/2d03377e712aaedb9dfafd7ae7ec66f9276bf92a

[2021-02-03 12:17] k82cn commented on #1270
Keeping clientset align with `volcano.sh/apis` is fine; volcano-sh/volcano will also import that repo :)

[2021-02-03 12:19] k82cn commented on #1241
Do we build jobInfo based on owerReference?

[2021-02-04 01:39] gaocegege commented on #1270
SGTM, thanks.

[2021-02-04 07:14] tongchao199 commented on #1241
@k82cn

Yes, I think there is a problem with the event design.

* First, there may be event leakage when deleting jobs.
  - When the pod is deleted, [jobInformer. DeleteFunc](https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/job/job_controller.go#L148) and [jobcontroller.updatePod](https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/job/job_controller_handler.go#L214)

[2021-02-04 07:50] Thor-wl commented on #1285
Please send me a profile and your work plan about the topic.

[2021-02-04 08:27] k82cn commented on #1241
hm... yes, we need to involve ownerReference to avoid such kind of issue :)

/cc @Thor-wl

[2021-02-04 09:51] iddelacruz commented on #910
@Gouthamkreddy1234 Right now I'm having the same issue. My spark is scheduled by default-scheduler. How do you fix this problem? Tx

[2021-02-04 10:14] Dharna5599 commented on #1285
Sure

[2021-02-04 10:24] Nivedita-coder commented on #1285
Hey @Thor-wl  I would like to work on this issue. Can I draft proposal for the project.

[2021-02-04 11:55] Thor-wl commented on #1285
Of course. Just send your resume and work plan to me as the email address above, please.

[2021-02-04 11:58] huone1 opened #1291 "nodeorder plugin works just base on pod by volcano scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
nodeorder plugin works just base on pod by volcano scheduler , but no include  pod by default scheduler sush as k8s apiserver \ scheduler pod
func (pp *nodeOrderPlugin) OnSessionOpen(ssn *framework.Session) {
	weight := calculateWeight(pp.pluginArguments)
	pl := util.NewPodLister(ssn)   ----> just include tasks scheduled by volcano

[2021-02-04 12:02] huone1 commented on #1291
fix it at PR #1292

[2021-02-04 12:33] Thor-wl commented on #1285
Some supplements:
* Please show me your skills or practice about Kubernetes, Docker and Volcano in the resume.
* Please make an introduction about your skills or practice on AI and Big Data for Volcano is a scheduling platform designed for high performance workloads.
* It's an option but a highlight point if you can express in Chinese (technological article writing) becase most users and developer

[2021-02-05 00:22] k82cn commented on #910
when submit the Pod, the `schedulerName` should be set to volcano's name, e.g. volcano

[2021-02-05 03:02] huone1 commented on #1264
OK

[2021-02-05 03:03] #1264 closed

[2021-02-05 07:43] Nivedita-coder commented on #1285
Hey @Thor-wl  I want to know is there any cloud lab like Katacoda for Volcano.

[2021-02-06 13:48] #1038 closed

[2021-02-07 01:22] Thor-wl commented on #1285
No, It's very easy to install and test for Volcano. Installation script has already been provided within the project code,

[2021-02-07 02:37] k82cn commented on #1285
Katacoda seems a good place for Volcano tutorial; prefer to add some classes there :)

/cc @william-wang @Thor-wl

[2021-02-07 03:05] zishen opened #1294 "small resource request job can not be scheduled when a bigger resource request submitted first"
**What happened**:
I have meet the same thin like [issue](https://github.com/volcano-sh/volcano/issues/1119)，but happened on cpu.
I want to know the resolve version.

**Environment**:
- Volcano Version: v1.0.1
- Kubernetes version (use `kubectl version`):1.17.3
- Cloud provider or hardware configuration: A800/9000
- OS (e.g. from /etc/os-release): ubuntu18.04
- Kernel (e.g. `uname -a`):
- Install

[2021-02-07 03:18] zishen opened #1295 "Job always pending and can not failed, when it's require resource over nodes."
**What happened**:

I have a node:72 CPUs. And I create a job which use 73 cpus.
So job pending.

I found this is judged by enqueue time.
`		inqueue := false

		if job.PodGroup.Spec.MinResources == nil {
			inqueue = true
		} else {
			minReq := api.NewResource(*job.PodGroup.Spec.MinResources)
			if ssn.JobEnqueueable(job) && minReq.LessEqual(idle) {
				idle.Sub(minReq)
				inqueue = true
			}

[2021-02-07 06:00] k82cn commented on #1294
I think we already fixed this issue in latest release, and starvation will be handled by `reservation` feature :)

[2021-02-07 06:47] Thor-wl commented on #1295
That turn the status of jobs, which stay starvation because of resource limit , to be failed is not reasonable for Volcano, a general scheduling platform for high performance computing. But your can custom timeout feature in your scenario.

[2021-02-07 06:53] zishen commented on #1294
ok，I will use v1.1.2

[2021-02-07 07:23] nicklhy opened #1297 "Job pending even though the allocatable resource is enough"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
There are two nodes in my cluster: A and B. The current idle resources of them are 53 cpu + 476GB memory and 31 cpu + 96GB memory respectively.
Now, I want to submit a distributed job with two tasks: X needs 30 cpu + 1GB memory, Y needs 50 cpu + 1GB memory.
Theoretically, we can schedule task X on node B and task Y on node

[2021-02-07 07:36] ningfdx commented on #1297
+1

[2021-02-07 07:49] william-wang opened #1299 "The image version in release v1.1.2 pacakge is not correct"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Downloaded volcano release v1.1.2 package and install from installer/volcano-deployment.yaml.
However an old volcano images called "volcanosh/vc-scheduler:latest" was installed finally.

The image version in release 1.1.2 pacakge is not correct.
- The scheduler image in following released files is "image: volcanosh/vc-scheduler:late

[2021-02-07 09:00] Thor-wl commented on #1297
Well, perhaps it's reasonable as what you think because you were thinking at the view of human beings, not a scheduler.When resolve the problem, you have set the **confirmed input job set** : job X and job Y. So you can try to find the best solution to match them to nodes. But in the view of scheduler like Volcano, it deals with all jobs in turn. It can only find the best match and allocation for

[2021-02-07 09:26] nicklhy commented on #1297
@Thor-wl Thanks for your reply. But I guess you misunderstood the problem here. I am not complaining about volcano failed to schedule two different jobs. Instead, I am complaining the scheduling policy of **a single job with multiple pods**, which is exactly the core problem that volcano aims to solve.

I think it is better to schedule a job which includes multiple pods globally, rather than using

[2021-02-07 09:34] ningfdx commented on #1297
Yes, I understand the reason of design of one-by-one, but there is a difference in **job** and **jobs**.
Scheduler should not predicate next job, so it work fine in the case of [job just include 1 task] , but if a batch job may include 2 or more task, it would be a random box that we do not know what will happen, I think vlocano can use some algorithm like DP or recursion to improve the performenc

[2021-02-07 09:38] Thor-wl commented on #1297
Oh, yes, I'm sorry for misunderstanding the question. It does an optimization point when scheduling a job with multiple pods. Do you have some good ideas or alogrithms for that?

[2021-02-07 09:43] Thor-wl commented on #1297
That's interesting! Can you submit a design doc for that?

[2021-02-07 09:45] ningfdx commented on #1297
@Thor-wl
I think DP is a suitable algorithm. This is a standard question of  **0-1 Knapsack**.

[2021-02-07 09:47] ningfdx commented on #1297
Sure, I need some time to prepare that.

[2021-02-07 09:48] william-wang commented on #1297
@nicklhy You can have a try with binpack plugin by providing a high weight. Help node B get a higher score than node A for task X in the priority phase. The configuration is like this.
---------------------------
apiVersion: v1
data:
  volcano-scheduler.conf: |
    actions: "enqueue, allocate, backfill"
    tiers:
    - plugins:
      ...
      - name: binpack
        arguments:
           binpack

[2021-02-07 09:48] Thor-wl commented on #1297
Great! I'm looking forward to that.

[2021-02-07 11:39] william-wang commented on #1299
@Thor-wl please help to operate the image and 1.1.2 package.
1. Remove the latest image on dockerhub to avoid more user pull latest image while installing v1.1.2.
2. The v1.1.2 release package needs to be refreshed as well.

[2021-02-07 12:35] k82cn commented on #1297
That's a NP problem for multi-dimension resources; anyway, that's great to have some algorithm to improve it.

[2021-02-08 01:17] Thor-wl commented on #1299
OK

[2021-02-08 19:54] bowenli86 commented on #691
Hi @k82cn @kevin-wangzefeng  , do you have any update on this?

[2021-02-08 20:00] bowenli86 commented on #691
I wonder, since Volcano doesn't support autoscaling, how does Huawei handle the autoscale requirements? any workaround you can share?

[2021-02-08 23:07] k82cn commented on #691
@SkinyMonkey , Volcano can work with autoscaling. If node is set to 0, no pod will be scheduled :) This issue is talking about gang-scheduling with autocaling, one feature of Volcano.

Volcano can work with autoscaling. For this issue, it's about how gang-scheduling/co-scheduling work with autoscaling :)

[2021-02-09 03:14] #1295 closed

[2021-02-09 03:16] #1294 closed

[2021-02-09 07:05] rudeigerc commented on #1284
@Thor-wl I would like to work on the issue. 😃

[2021-02-09 07:22] k82cn opened #1304 "Remove `job.Pipelined` func"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

The plugins decide whether a job is pipeline, so it's not necessary to have such a helper func.

[2021-02-09 07:27] gaocegege commented on #1284
@rudeigerc Thanks for your contribution! It's cool.

[2021-02-09 07:35] shinytang6 commented on #1284
@rudeigerc That's coooool, welcome! 🤣

[2021-02-09 11:49] william-wang opened #1310 "Add minResources support for third-party CRD job like tensorflow/mxnet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:
Currently volcano support minResource functionality for spark job. We need to add minResources functionality support for tensorflow/mxnet in volcano as well.

**How to reproduce it (as minimally and precisely as possible)**:

[2021-02-10 16:45] 0GGmr0 commented on #1284
@Thor-wl I want to contribute to this issue.😃

[2021-02-11 17:19] Mayank4git commented on #1285
Hey @Thor-wl  I want to work on this project. Would you please help me where to start for this project

[2021-02-14 04:57] #1052 closed

[2021-02-18 01:48] Thor-wl commented on #1285
Have you sent your resume and work plan?

[2021-02-18 02:02] Thor-wl commented on #1284
OK, have you sent your resume and work plan?

[2021-02-18 08:58] renhuanyu commented on #1285
This issue is interesting, I want to challenge~

[2021-02-19 03:23] jiangkaihua opened #1318 "[feature] Service Level Agreement (SLA) plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

Add Service Level Agreement (SLA) plugin for special constraints on jobs.

Detailed requirement refer to #1317

Code reference: #1303

[2021-02-19 07:59] daixiang0 commented on #962
/lifecycle frozen

[2021-02-20 03:07] davidstack opened #1321 "volcano does not support horovordrun"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
i want to run horovod job using horovodrun,just like this

[code]

but it failed with this message:

[code]

**What you expected to happen**:
the horovod job will run successfully

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

horovodrun will use this format to

[2021-02-20 03:24] davidstack commented on #1321
maybe we should get the gpu number of the pod ,and set this to the hostfile

[2021-02-20 06:45] k82cn opened #1322 "Support multi scheduler by admission controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

One option is use admission to balance workload to different resource group, e.g. default scheduler for system daemon, and volcano scheduler for biz workload.

[2021-02-20 06:45] k82cn commented on #1322
/cc @wpeng102

[2021-02-20 07:03] Thor-wl commented on #1321
What's the output of `cat /etc/volcano/mpiworker.host | tr "\n" ","`? @davidstack

[2021-02-20 07:19] Thor-wl commented on #1318
This feature has been implemented and close the issue

[2021-02-20 07:19] #1318 closed

[2021-02-20 07:21] Thor-wl commented on #1251
It seems not appear after some CI fix recently. Close the issue

[2021-02-20 07:21] #1251 closed

[2021-02-20 07:23] Thor-wl commented on #1250
This bug has been fixed and close the issue

[2021-02-20 07:23] #1250 closed

[2021-02-20 07:26] #1256 closed

[2021-02-20 07:27] #1291 closed

[2021-02-20 07:33] Thor-wl commented on #1258
This issue has been taken to discussion in the weekly community meeting. And in fact, what the user need is to improve cluster resource usage rate. Solution has been provided and close the issue.

[2021-02-20 07:33] #1258 closed

[2021-02-20 07:34] Thor-wl commented on #1279
This feature has been implemented and close the issue

[2021-02-20 07:34] #1279 closed

[2021-02-20 10:02] Thor-wl commented on #1299
This bug has been fixed and close the issue

[2021-02-20 10:02] #1299 closed

[2021-02-20 10:51] jiangkaihua opened #1323 "overcommit plugin may cause core dump when MinResources is nil."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

in overcommit plugin:
https://github.com/volcano-sh/volcano/blob/4c7780b9378b5e501758ad67f52d5dab0c7371aa/pkg/scheduler/plugins/overcommit/overcommit.go#L93
`api.NewResource()` call `*job.PodGroup.Spec.MinResources`. when `MinResources` is nil, it will range a nil pointer and cause `invalid memory address or nil pointer

[2021-02-22 02:19] k82cn commented on #1323
fixed by https://github.com/volcano-sh/volcano/pull/1324

[2021-02-22 02:19] #1323 closed

[2021-02-22 06:11] davidstack commented on #1321
same as run mpi job,the output is
`
lm-mpi-job-mpiworker-0.lm-mpi-job,lm-mpi-job-mpiworker-1.lm-mpi-job

`

[2021-02-22 06:28] ningfdx commented on #1297
`That's a NP problem for multi-dimension resource;`
Yes, you are correct, it's a NP problem, more complicated than multi knapsack problem. Past days I tried to solve this problem through DP algorithm, but failed.

Volcano has some logic such as [nodeorder](https://volcano.sh/zh/docs/schduler_introduction/#nodeorder), [priority](https://volcano.sh/zh/docs/schduler_introduction/#priority). I think i

[2021-02-22 08:52] jiangkaihua opened #1325 "Volcano scheduler occasionally reported warnings when deleting pods."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When deleting pods with `kubectl delete`, volcano scheduler sometimes output warnings like:

[code]

If the deletion process is right, volcano scheduler should not report warnings.

**What you expected to happen**:

No warnings

**How to reproduce it (as minimally and precisely as possible)**:

Create pods, no matter sc

[2021-02-22 08:59] jiangkaihua commented on #1325
The warning info comes from :
https://github.com/volcano-sh/volcano/blob/448c04187df830048991dce0be0cf4e8032eb351/pkg/scheduler/api/node_info.go#L290

It shows that pod do not exist in `nodeInfo.tasks` but can be found in `jobInfo.tasks`. In my opinion, it may caused by sync delay. When user delete pods with `kubectl delete`, api-server delete pods from nodes, but volcano scheduler do not sync thi

[2021-02-22 09:03] k82cn commented on #1297
that's ok to me :)

[2021-02-22 09:12] ningfdx commented on #1297
ok, I'll write code flow the policy above.

[2021-02-22 10:20] k82cn commented on #1297
Would you help to draft a design doc for that? That'll help on the discussion :)

[2021-02-22 10:54] #1067 closed

[2021-02-22 11:20] shinytang6 commented on #1321
Does `mpi-d3ec808b-worker-0:1` means you want to run one process on that worker? l think it can be hacked by yourself while not persist to hostfile 🤔

[2021-02-22 13:10] wpeng102 opened #1326 "Support hot update daemon log level"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently, we specify the log level in container start command. This is not convenience for issue debug, because change the the log level will case daemon restart.

**What you expected to happen**:
Support hot update to change the daemon log level. A potential solution maybe move the log level from container command t

[2021-02-22 14:17] ningfdx commented on #1297
Ok, No problem.

[2021-02-22 18:00] brickyard commented on #691
@k82cn Seems like a pretty common use-case to use cluster-autoscaler in cloud environments to minimize cloud cost waste and also take advantage of gang-scheduling/co-scheduling.  I am also running into this error in the same way as the OP using Spark.

Do you have any update or workaround on this?     Much appreciated.

[2021-02-23 01:01] wpeng102 opened #1327 "provide a plugin to support default scheduler http extender"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What you expected to happen**:
For some latency scheduler extender, they also use HttpExtender to work with default scheduler, we need provide a plugin to support them.

[2021-02-23 02:21] k82cn commented on #1327
Let's work together with upstream sig-scehduling team :)

xref https://github.com/kubernetes/kubernetes/issues/99302

[2021-02-23 03:23] davidstack commented on #1321
@shinytang6  you are right, change some volcano code can  run horovod job.

[2021-02-23 03:40] k82cn commented on #1327
/kind feature

[2021-02-23 04:00] k82cn commented on #1325
/kind bug

[2021-02-23 08:24] k82cn commented on #1326
It's not only about daemon log level, but also improve other args.
xref: https://github.com/volcano-sh/volcano/issues/555

[2021-02-23 09:54] k82cn opened #1328 "Normalize the score from nodeOrderFn"
#### What would you like to be added:

It's better to normalize the score of `nodeOrderFn` from each plugins.

#### Why is this needed:

Make the score of each plugin comparable :)

[2021-02-23 13:29] Roca93 opened #1329 "Can't delete Volcano Queue"
**What happened**: Can't delete a volcano queue

**What you expected to happen**: Volcano queue deleted

**How to reproduce it (as minimally and precisely as possible)**:

- Create a queue
- Delete queue with kubectl ("not possible because open")
-  Try to change queue status to closed with kubectl edit -> fails.
- Installed vcctl and tried to delete queue -> same issue.

**Anything else we need t

[2021-02-23 13:40] Roca93 commented on #1329
We added the following to the vcctl command and it works:  **vcctl queue operate --action close --name queuename**

We interpreted this from the code. However no documentation can be found. Is this ongoing? Or where can we find the necessary documentation for this?

Thanks!

[2021-02-24 00:11] wpeng102 commented on #1329
Only `closed` can be deleted by `vcctl`. Refer `queue` lifecycle in https://github.com/volcano-sh/volcano/blob/master/docs/design/queue/queue-state-management.md

[2021-02-24 00:14] wpeng102 commented on #1329
@Thor-wl suggest add  `queue` lifecycle introduction in https://volcano.sh/en/docs/

[2021-02-24 00:51] Thor-wl commented on #1329
OK！

[2021-02-24 03:41] damon008 opened #1330 "use queue for Job"
**What happened**:

create queue  named test：
[code]

create a job for the queue test:
[code]

resources is sufficient，but the job will not be allocated, and this can cause podgrouppending.

I can not see the task.

**What you expected to happen**:

I hope the job to be running.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**

[2021-02-24 06:51] damon008 commented on #1330
all in all，如果有设置Capability的话，貌似是job中申请的资源信息必须要在队列的Capability中有。例如申请中加了"nvidia.com/gtx-1080-ti"资源，则queue中Capability需要对其进行设置限制。

[2021-02-25 01:12] #939 closed

[2021-02-25 02:58] wpeng102 commented on #1329
@Roca93 you can use `vcctl queue operate -n queueName -a close` to close a queue. The queue state is `closing` if any `Inqueue` `Pending` `Running` jobs in that queue. After the jobs became final state, the queue will became `closed`.  Then you can use `kubectl delete q queueName` to delete it.

[2021-02-25 06:10] damon008 commented on #1330
Another One:

queue like this:

[code]

job1, two tasks:

[code]

two tasks all can be running.

[code]

None of them  run.

[2021-02-25 06:12] #1046 closed

[2021-02-25 06:16] william-wang commented on #1330
/assign @Thor-wl

[2021-02-25 09:27] damon008 opened #1331 "queue for job"
**What happened**:

create queue a:
[code]
queue b:
[code]

and queue default.

then, create a job for queue a:

[code]

tasks can enqueue，but all pods are pending.

![image](https://user-images.githubusercontent.com/25023599/109136697-597a0980-7793-11eb-9772-0c81478ba3ba.png)

and queue state like this:
[code]

**What you expected to happen**:

task1 can be running, but not.

but sometimes, two t

[2021-02-25 10:34] shinytang6 commented on #1331
Can you post the configuration of your job? Is there a `MinAvailable` set? I am curious why podgroup becomes `inqueue` according to this configuration

[2021-02-25 10:57] shinytang6 commented on #1330
`Proportion` plugin will judge whether a pg can be enqueued, it will compare the `MinResources` of pg with the `Capability` of queue.
See:
[code]

 the `MinResources` of your pg is calculated at this way:
[code]

So the pg of job1 can be enqueued while pgs of job2/job3 can not.

[2021-02-25 12:34] Roca93 commented on #1329
Perfect, thanks all!

[2021-02-25 19:44] Robert-Christensen-visa opened #1333 "Incorrectly calculates node resources with large requests for init containers"
**What happened**:

Volcano scheduler may schedule a job that can't fit on a node if the resource requests of the init container is larger than the resource requests of the pod.  To total resources set aside on a node by Kubernetes will be `max(max(<init container resources>), sum(<containers in pod>))`.  However, it seem that the volcano scheduler is only looking at the resource requests without

[2021-02-26 01:08] damon008 commented on #1331
@shinytang6

job1:
[code]

job2:

[code]

[2021-02-26 02:13] wpeng102 commented on #1333
Please help append volcano version.
From the code logic, volcano has considered the `init container` exceeds container  resource request situation.

https://github.com/volcano-sh/volcano/blob/e50edb390cfb199a658aee0baad311fcbe2a6b75/pkg/scheduler/api/pod_info.go#L60-L70

[2021-02-26 08:55] zen-xu opened #1335 "Support PodAntiAffinity"
#### What would you like to be added:

Support job with `PodAntiAffinity`.

#### Why is this needed:
We have some tasks which can't be scheduled on the same node, this will reduce machine load.

[2021-02-26 09:13] shinytang6 commented on #1335
Maybe related to [issue 1231](https://github.com/volcano-sh/volcano/issues/1231)

[2021-02-26 09:29] #1054 closed

[2021-02-26 10:29] #1073 closed

[2021-02-26 12:43] zhsj commented on #1270
With Go module nowadays, it's possible to publish different modules in one monorepo.

For example, etcd recently adopts this approach. https://github.com/etcd-io/etcd/pull/12204

[2021-02-26 13:17] zen-xu commented on #1335
I think job should implement `podManagementPolicy` like `StatefuleSet`. If `podManagementPolicy=OrderedReady`, tasks will be created one by one rather than parallelly be created.

[2021-02-26 14:01] k82cn commented on #1335
Any use case for that?

[2021-02-26 15:34] #993 closed

[2021-02-26 17:34] Robert-Christensen-visa commented on #1333
I am using the latest version (1.1.2).

A function exists to calculate the correct resource usage, but that value is not being used when calculating the resource requests for tasks running on a node.  When volcano is calculating the requests for each node, this is where it determine the resources used by each task.

https://github.com/volcano-sh/volcano/blob/e50edb390cfb199a658aee0baad311fcbe2a6b7

[2021-02-27 02:50] william-wang commented on #1333
Thanks for your information.  The init container resource should be considered in node_info as you said.

In addition the method of pod resource calcualtion with init container should adjust as well.
For now the Pod request calculation is using the sum of app containers and init containers.  A better calculation way is  as below:
The Pod's effective request/limit for a resource is the higher of:
-

[2021-02-27 03:57] #1070 closed

[2021-02-27 03:57] #1055 closed

[2021-02-28 12:42] zen-xu commented on #1335
We have a lot of tasks to read data, the e efficiency of reading data will limit by node IO if multi tasks run in same node. So we want to each node only run one task.

[2021-02-28 13:08] nrchakradhar commented on #1091
@Thor-wl Was the fix included in 1.2.0. that was released?

[2021-03-01 02:10] Thor-wl commented on #1091
No, it's still on going. Perhaps it should be merged in v1.2.x

[2021-03-01 03:00] damon008 opened #1337 "can you support MinAvailable for tasks level"
#### What would you like to be added:

add MinAvailable for tasks，Let most pods of the job can be running.

#### Why is this needed:

[2021-03-01 07:19] zishen opened #1338 "Using deployment to apply pod, pg MinResources is nil and proportion plugin cause core"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

**What happened**:
When use deployment to create pod(s), the pg's MinResources  is nil, and proportion plugin will call this.
![1-core](https://user-images.githubusercontent.com/7522079/109464299-6f444300-7aa1-11eb-8472-98e1ba4ec334.png)
![2-pg](https://user-images.githubusercontent.com/7522079/109464323-79664180-7aa1-11eb-8595-669cc6aa3d74.png

[2021-03-01 07:28] k82cn commented on #1338
/cc @jiangkaihua , do we fix that?

[2021-03-01 07:38] merryzhou opened #1339 "enqueue check not match allocate logic"
enqueue use PGMinResources which contains container limits to check whether queue has enough resource to scheduler,  but in other action, like allocate, use container requests to  check。

[2021-03-01 07:57] jiangkaihua commented on #1338
Yes, the same error occured in #1001 and we have already fixed it in commit: [fix panic if minResource not set](https://github.com/volcano-sh/volcano/commit/75dea003d8d52c026cc1fc484d406c48f5022cb4#diff-7897f2665be7cba3e8936d1cde487e812ee9bb8e29c89c276a2e575ce3b83b9d).

[2021-03-01 09:44] shinytang6 commented on #1337
l am trying to implement that in [PR 1193](https://github.com/volcano-sh/volcano/pull/1193) 🤔

[2021-03-01 14:25] zen-xu commented on #1339
Because `Requests` can be omitted, but `Limits` can't be omitted.

If `Requests` is omitted, we should use `Limits` as default `Requests`.

[2021-03-01 20:05] conorcurlett commented on #1226
We were able to do some deeper analysis of what's happening here, and were able to determine the following:

Logs on the job:

[code]

As important context, we scale up/down to zero in our batch jobs, so we use the cluster-autoscaler and taints/tolerations to manage scaling down nodes as soon as tasks are complete.

Based on this, our theory is the following is happening:

1. Job with multiple tas

[2021-03-02 06:18] zishen commented on #1338
@jiangkaihua @k82cn Thanks a lot.

[2021-03-02 06:18] #1338 closed

[2021-03-02 07:44] k82cn opened #1341 "Move jobInfo help func to member func"
**Description**:

Move the following helper functions to member functions of JobInfo.

[code]

[2021-03-02 07:57] william-wang commented on #1226
It's an interesting case that combining autoscheduler and scheduler.  Volcano need to be enhanced to support this case.

[2021-03-02 09:04] #1339 closed

[2021-03-03 02:29] #1083 closed

[2021-03-03 09:08] zen-xu opened #1342 "Support scheduling reclaimable tasks on Locked node during reservation"
#### Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature

#### What would you like to be added:
Support scheduling reclaimable tasks on **Locked node** during reservation.

And just preempt these reclaimable tasks when reserved resource add reclaimable tasks resource from **Locked node** matches target job requests.

#### Why is this needed:

We have some huge jobs which should be `gang`, so

[2021-03-03 09:19] #1304 closed

[2021-03-07 09:49] k82cn opened #1346 "Support EvictEvents for preemptable tasks"
#### What would you like to be added:

Add a new CRD, named `EvictEvents`, for preemptable takes when it's going to be peempted.

#### Why is this needed:

Resource & Pods are managed by volcano scheduler, but it's hard for scheduler to manage Pod's lifecycle, e.g. maxSurge of Deployment. It's better to have an event from volcano scheduler to make related controller/operator to take action, e.g. d

[2021-03-07 09:50] k82cn commented on #748
@Thor-wl , is it ok to close for this issue?

[2021-03-07 09:51] k82cn commented on #691
@brickyard , we're doing some investigation about this requirement; that's interesting & important for us.

[2021-03-08 06:30] william-wang opened #1347 "Volcano support taint toleration functionality"
#### What would you like to be added:
Support k8s taint toleration functionality in volcano to keep compatibility with k8s taint toleration feature.

#### Why is this needed:
user use taint toleration feature on k8s with default scheduler. They need to use this feature after moved to volcano.

[2021-03-08 07:35] Thor-wl commented on #1347
/assign @Thor-wl

[2021-03-08 15:12] k82cn opened #1348 "Support Oversubscription for mix workload scenarios"
#### What would you like to be added:

When some application request more resources than it need, publish those "idle" resources to the scheduler to dispatch preemptable tasks and reclaim them when there's CPU pressure. For now, only CPU is supported.

#### Why is this needed:

That's helpful to improve the resource usage of cluster.

[2021-03-08 15:15] k82cn commented on #1348
Both scheduler & kubelet should be enhanced to support this feature.

[2021-03-08 16:55] kfox1111 commented on #1347
Similarly, the implied taints/tolerations of runtimeclass https://kubernetes.io/docs/concepts/containers/runtime-class/

[2021-03-09 06:10] william-wang opened #1349 "Support task topology scheduling"
#### What would you like to be added:
Support task topology scheduling. user can define the affinity or anti-affinity between different role of tasks.
The scheduler can schedule tasks based on the task topology information.

#### Why is this needed:
There are multiple roles of tasks in one job and there are data exchange/communication between some roles of tasks.
For example, the ps and worker tas

[2021-03-10 01:39] wpeng102 opened #1351 "Provide a guidance to develop a customization plugin"
**What would you like to be added:**

We need provide a guides for customer which can help them understand how to develop a customization plugin.

**Why is this needed:**

Guide users develop  customization plugin.

[2021-03-10 02:00] william-wang commented on #1351
This is also included in another issue.
https://github.com/volcano-sh/volcano/issues/1285
 - Make instructions about SDK for developers both in Chinese and English. Follow your steps they can write custom Actions and Plugins.

[2021-03-10 02:05] william-wang commented on #1285
Is there a plan when the following materials can be ready? @Thor-wl
- Make instructions about SDK for developers both in Chinese and English. Follow your steps they can write custom Actions and Plugins.

[2021-03-10 02:58] Thor-wl commented on #1285
Not yet. We plan to take this item at last of the activity and discuss the detail then.

[2021-03-10 03:41] william-wang commented on #1285
We'd better seperate the items with priority and provide the output stage by stage.

[2021-03-11 09:14] goversion opened #1355 "error "request did not complete within requested timeout 30s""
**What happened**:
  Run a simple non-volcano job, such as: kubectl run nginx --image=nginx

  The creation failed. In the kube-controller-manager log, an error can be see, the error is "request did not complete within requested timeout 30s".

**What you expected to happen**:
  No error

**How to reproduce it (as minimally and precisely as possible)**:
  Use two virtual machines created by opensta

[2021-03-11 21:01] #1071 closed

[2021-03-12 03:49] Thor-wl commented on #1355
It seems not a problem of Volcano but the network configuration as what you described. I'm not expert of calico and flannel. But if you delete the webhooks and error disappears, i think there is something wrong with the network from apiserver to webhook.

[2021-03-12 03:53] Thor-wl commented on #1351
/assign @renhuanyu

[2021-03-12 03:56] Thor-wl commented on #1349
related PR: https://github.com/volcano-sh/volcano/pull/1353

[2021-03-12 06:14] #1341 closed

[2021-03-12 06:32] yzs981130 opened #1358 "Maybe a mismatch in allocate action?"
In action allocate, there are two approaches to allocate job resources, according to allocate idle or releasing resource. Namely

https://github.com/volcano-sh/volcano/blob/b09b8aff7ee930028e9515535baec9b2e4e51bf9/pkg/scheduler/actions/allocate/allocate.go#L232

https://github.com/volcano-sh/volcano/blob/b09b8aff7ee930028e9515535baec9b2e4e51bf9/pkg/scheduler/actions/allocate/allocate.go#L246

So i

[2021-03-12 07:00] k82cn commented on #1358
I think that's a bug although no impact to the result.

[2021-03-12 07:57] damon008 commented on #1349
In the training scene, hope most of interdependent pods can be running in a job. support like issue #1337

[2021-03-12 07:58] Thor-wl commented on #1358
Thanks for your reporting! @yzs981130

[2021-03-12 08:30] damon008 opened #1359 "Support queue info"
#### What would you like to be added:

Support the num of resources in the queue

Support the remaining resources in the queue

#### Why is this needed:

In training scene, we need create a job in one queue,so we need know the remaining resources in the queue.

[2021-03-12 08:32] Thor-wl commented on #1359
Do you mean you want to get the allocated resource and the capability of a queue when get queue information with API?

[2021-03-12 08:44] k82cn commented on #1359
Those info may changed after submitting jobs, add new queue; are you going to add an informer for that?

[2021-03-12 09:09] Thor-wl commented on #1359
We can take the implementation as a topic in the next weekly meeting.

[2021-03-12 12:56] #1048 closed

[2021-03-13 14:24] acmore commented on #1128
!1340 added a mpi plugin to run mpi job without privileges

[2021-03-14 14:30] #1095 closed

[2021-03-15 01:54] k82cn opened #1361 "Build OWERS_ALIASES for CI"
#### What would you like to be added:

Add OWERS_ALIASES for CI

xref: https://github.com/kubernetes/kubernetes/blob/master/OWNERS_ALIASES

#### Why is this needed:

So we have a central place to manage the maintainers of Volcano

[2021-03-15 04:06] shinytang6 commented on #1281
Can we remove the k8s.io/kubernetes dependency firstly? Otherwise, there will be some errors with downstream project references currently. @k82cn @Thor-wl

[2021-03-16 00:14] k82cn commented on #1281
hm... we import k8s.io/kubernetes for the algorithms of default scheduler; https://github.com/volcano-sh/apis is used for  downstream projects.

[2021-03-16 01:17] #1347 closed

[2021-03-16 01:29] Thor-wl commented on #1342
@zen-xu IC, the SLA plugin may take effects for your scenario. It's another desgin and implementaion for resource reservation without locked nodes. You can refer to https://github.com/volcano-sh/volcano/blob/master/docs/design/sla-plugin.md

[2021-03-16 01:34] Thor-wl commented on #1337
I'm sorry for not get the meaning of the requirement. What's the relationship between `MinAvailable` for tasks and the dependency in tasks? I think what you need is `Support task topology scheduling`. Perhaps you can provide an example.

[2021-03-16 01:41] Thor-wl commented on #1335
IC, I'm ok about the feature.
/assign @Thor-wl

[2021-03-16 02:26] Thor-wl commented on #1333
@Robert-Christensen-visa Good job! Thanks for your reporting! I'll fix it.
/assign @Thor-wl

[2021-03-16 02:37] huone1 opened #1363 "it is possible to Occur OutOfCpu， when exist some pods including init container"
in cluster ， there is a worker node：
[code]
(1)  I create job including init container with 2 CPU
[code]

check node :
cpu                4950m
![image](https://user-images.githubusercontent.com/71266853/111247318-bb1aee80-8642-11eb-83aa-a2f68aa404d7.png)

(2)   after apply  init-container.yaml , remain CPU resources:   1150m；
   apply job including init container with 1720m CPU

[code]

**What ha

[2021-03-16 02:53] Thor-wl commented on #1331
Well, as what you describe, I think the expected result is that the job should be rejected by admission for the gpu requirement is beyond the queue capability.  That's the bug.

[2021-03-16 02:53] Thor-wl commented on #1331
/assing @Thor-wl

[2021-03-16 03:03] Thor-wl commented on #1330
@shinytang6 Can you help for bug fix?

[2021-03-16 03:05] Thor-wl commented on #1329
@rhy Please help for that

[2021-03-16 03:27] Thor-wl commented on #1297
Any process for this feature and design? @ningfdx

[2021-03-16 03:29] Thor-wl commented on #1289
Got it! That's interesting. Let's work together for that.
/assign @Thor-wl @zen-xu

[2021-03-16 03:58] Thor-wl commented on #1333
fix: https://github.com/volcano-sh/volcano/pull/1364

[2021-03-16 14:49] aleclerc-sonrai commented on #691
I had the idea to create  ‘over-provisioned’ pods with a very low priorityclass at the same time as submitting my spark job, with the thought that volcano would be smart enough about pre-emption and pre-empt those pods and schedule the job, as it would technically have enough resources to fulfil the job, but that doesn’t seem to be the case. Would this be accurate that volcano wouldn’t look at thi

[2021-03-16 23:01] k82cn commented on #1333
fixed by https://github.com/volcano-sh/volcano/pull/1364

[2021-03-16 23:01] #1333 closed

[2021-03-16 23:01] k82cn commented on #1363
fixed by #1364

[2021-03-16 23:01] #1363 closed

[2021-03-17 02:25] shinytang6 commented on #1330
@Thor-wl [PR 1332](https://github.com/volcano-sh/volcano/pull/1332) solved that, it's ok to close that issue now.

[2021-03-17 05:49] king-jingxiang opened #1368 "scheduling with proportion of resources"
#### What would you like to be added:
##### volcano
Node | NodeAllocatable | NodeIdle
|---|---|---|
nodeC0-0 | cpu 74, memory 128G, nvidia.com/gpu 8 | cpu 58, memory 112G, nvidia.com/gpu 8 |

Job | Pod | Resource | Node | NodeAllocatable | NodeIdle
|---|---|---|---|---|---|
default/single-1000-0 | single-1000-0 | cpu 8, memory 8G, nvidia.com/gpu 0 | nodeC0-0 | cpu 74, memory 128G, nvidia.com/gpu 8

[2021-03-17 06:38] Thor-wl commented on #1368
So what you want is reserve cpu and memory in proportion for GPU nodes in case of starvation of later GPU jobs, right?

[2021-03-17 07:32] ruanxingbaozi commented on #1368
yes

[2021-03-17 07:52] Thor-wl commented on #1368
OK. That's reasonable to me. I'll take this issue to disscussion in the weekly meeting.

[2021-03-18 01:41] Thor-wl commented on #748
Yes, resource reservation feature implementation is ready since v1.1.0. Please refer to https://github.com/volcano-sh/volcano/blob/master/docs/design/sla-plugin.md and https://github.com/volcano-sh/volcano/blob/master/docs/design/job-resource-reservation-design.md  for more details.

[2021-03-18 01:41] #748 closed

[2021-03-18 01:42] #1172 closed

[2021-03-18 01:43] Thor-wl commented on #1171
Is there any process about this issue? Any PR has already been submitted or merged?

[2021-03-18 01:45] Thor-wl commented on #908
I'll reopen this issue if someone meets the same doubt.

[2021-03-18 01:45] #908 closed

[2021-03-18 01:49] #1144 closed

[2021-03-18 01:49] #1141 closed

[2021-03-18 01:50] #1035 closed

[2021-03-18 02:09] #1134 closed

[2021-03-18 09:53] shinytang6 opened #1372 "Add PodGroup Admission"
#### What would you like to be added:

If the podgroup created by the downstream job does not specify queue, the queue cannot recognize that podgroup when updating state.

#### Why is this needed:

[2021-03-18 16:14] hudson741 commented on #1372
when the queue is not specified, the queue will be default?

[2021-03-18 16:44] hudson741 opened #1373 "failed to reclaim when I used propertion plugin to balance the resources among queues."
**What happened**:
when I use reclaim action and the propertion plugin to balance the resources among queues. the queue which is overued failed to be relaimed by the queue which is not overused.

**What you expected to happen**:
when the queue is overused,and other queue need to reclaim the resource, the overused queue should be recliamed successfully.

**How to reproduce it (as minimally and prec

[2021-03-18 16:56] Thor-wl commented on #1372
Yes

[2021-03-18 16:57] Thor-wl commented on #1373
Thanks for your report!
/assign @Thor-wl

[2021-03-19 03:22] shinytang6 commented on #1372
Yes, currently the "default" queue is set by default in the scheduler cache. If pg.spec.queue is empty, there will be no problem at scheduling level, but the "default" queue will not perceive the pg assigned to itself. So
an enhanced way is through admission.

[2021-03-19 03:23] shinytang6 commented on #1372
Yes, currently the "default" queue is set by default in the scheduler cache. If pg.spec.queue is empty, there will be no problem at scheduling level, but the "default" queue will not perceive the pg assigned to itself. So
an enhanced way is through admission.

[2021-03-20 02:34] k82cn opened #1376 "Support federation for batch workload"
#### What would you like to be added:

Make Volcano support federation feature which will forward job/podgroup to multi-clusters.

#### Why is this needed:

For some best-effort batch workloads, it's better to find a one of 'idle' clusters to run them :)

[2021-03-21 02:00] #1034 closed

[2021-03-21 13:12] rudeigerc opened #1377 "Failed to install Volcano v1beta1 CRD with Kubernetes over v1.18"
**What happened**:

[code]

**What you expected to happen**:

Install successfully.

**How to reproduce it (as minimally and precisely as possible)**:

https://github.com/volcano-sh/volcano/runs/2158966680

**Anything else we need to know?**:

According to https://kubernetes.io/zh/docs/setup/release/notes/#api-change-2,

After #1374 was merged, with controller-gen v0.4.1, `protocol` in CRD of `api

[2021-03-22 01:51] Thor-wl commented on #1104
That's interesting! Let's put it into v1.3 as an option.

[2021-03-22 01:54] Thor-wl commented on #999
@alcorj-mizar Is there any process or idea for v1.3 and later versions?

[2021-03-22 07:31] Thor-wl commented on #1377
Let's disscuss how to reslove it. @zen-xu

[2021-03-22 08:01] zen-xu commented on #1377
If you want to deploy over Kubernetes v1.18,  you can run the below command to generate `v1` version rather than `v1beta1`

[code]

[2021-03-22 08:46] zen-xu commented on #1377
And I will add a pr to fix this problem

[2021-03-24 02:31] #1377 closed

[2021-03-24 05:04] chenyangxueHDU opened #1379 "Support set completions/backoffLimit to the task"
#### What would you like to be added:
Like natvie job.Completions. As pods successfully complete, we tracks the successful completions. When a specified number of successful completions is reached, the task is complete.
Like natvie job.BackoffLimit
#### Why is this needed:
More flexible

[2021-03-24 06:09] Thor-wl commented on #1379
That's interesting! Suggest to take it as a topic as the weekly meeting.

[2021-03-24 08:17] Thor-wl commented on #1065
This issue have been treated as a task in community bridge.

[2021-03-24 08:17] #1065 closed

[2021-03-25 03:00] zen-xu opened #1381 "ca.crt validity period is too short, only one month"
**What happened**:

I found the secret `volcano-admission-secret` validity period is one month, which is too short.

**What you expected to happen**:

I think the validity period should be 10 years.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

![image](https://user-images.githubusercontent.com/38552291/112412088-e5faf600-8d58-11eb-81c7-930662236943.png)

[2021-03-25 08:15] zen-xu opened #1383 "SchedulerCache Bind use goroutine to bind may cause OutOfcpu/OutOfMemory"
**What happened**:
https://github.com/volcano-sh/volcano/blob/173f3fa3de996a7e0a7bf0846fd00d75f4eb2fbb/pkg/scheduler/cache/cache.go#L558-L565

We found bind duration may take more than **1s** while cluster in high load, so in the next session cache is wrong.

![image](https://user-images.githubusercontent.com/38552291/112440470-51f35380-8d85-11eb-9291-c73ecdfd4bf0.png)

[2021-03-25 10:14] william-wang commented on #1383
I know binding would get slow while cluster load is high. What do you mean the session cache is wrong in next session?
@zen-xu

[2021-03-25 13:01] #1381 closed

[2021-03-25 13:04] zen-xu commented on #1383
![cache](https://user-images.githubusercontent.com/38552291/112477173-a9a5b500-8dad-11eb-8928-a12c92269dd7.png)

[2021-03-25 13:18] zen-xu commented on #1379
We have implemented it, users can specify `minSuccess` to control when job is completed.

[2021-03-26 01:31] Thor-wl commented on #1383
That means the resource used by pods which are being bound to has not been refreshed in cache when entering the next session. The default session cycle is 1s now. So shceudler will get a wrong cache in the following session. Do you mean that?
@zen-xu

[2021-03-26 01:34] Thor-wl commented on #1383
So regardless of the status of binding, we should reduce resouce, which is certain to be allocated in current session, in cache.

[2021-03-26 01:39] Thor-wl commented on #1383
Thanks for your reporting! Let's try to fix it together. @Thor-wl @zen-xu

[2021-03-26 01:45] zen-xu commented on #1383
👌

[2021-03-26 01:56] Thor-wl commented on #1379
Great! Do you have a plan to contribute to community?

[2021-03-26 02:07] zen-xu commented on #1383
/assign @zen-xu  @Thor-wl

[2021-03-26 02:12] zen-xu commented on #1379
/assign @zen-xu

[2021-03-26 03:37] chenyangxueHDU commented on #1379
你是港仔？

[2021-03-26 03:39] zen-xu commented on #1379
上海人

[2021-03-26 03:41] chenyangxueHDU commented on #1379
不好意思，我有个大学同学跟你名字一样

[2021-03-26 06:32] Thor-wl commented on #1379
PR: https://github.com/volcano-sh/volcano/pull/1384

[2021-03-26 06:42] #1355 closed

[2021-03-26 07:09] #1115 closed

[2021-03-27 05:16] #1117 closed

[2021-03-27 07:06] k82cn commented on #1383
Don-t we mark node resources as binding state?

[2021-03-27 16:40] chenwenjun-github opened #1387 "enable-gang-scheduling not work"
**What happened**:
I use the kubeflow/tf-operator with --enable-gang-scheduling = true, it run on k8s, I have different namespace.
When I submit two same tfjobs at the same time and the resourcequota of namespace is only enough for one tfjob, I find the two tfjob still start to occupy the resources and cause deadlock.

And I try to submit only one tfjob with more resource but the resourcequota of

[2021-03-29 01:33] Thor-wl commented on #1387
/assign @william-wang Please help take a look

[2021-03-29 13:03] shinytang6 commented on #1387
xref: [https://github.com/kubeflow/tf-operator/issues/1264](https://github.com/kubeflow/tf-operator/issues/1264)

[2021-03-30 01:08] william-wang commented on #1387
OK, Let me have a check and investigation in my environment.

[2021-04-01 06:00] zen-xu opened #1392 "I think we should close unit-test `-v` flag"
**What happened**:

https://github.com/volcano-sh/volcano/blob/fd7a7f2cf7498432297129eca2e1d433bda0e803/Makefile#L120-L122

If set `-v` flag, we will get a lot of useless logs which makes it hard to find error cases

**What you expected to happen**:

remove `-v` flag

[2021-04-01 07:36] yiyuanyu17 opened #1393 "podgroup 资源minresource支持nodeselector"
#### What would you like to be added:
希望podgroup在定义minresource的时候支持每种resource添加nodeselector（optional），在调度的时候判断任务是否可调度的时候结合nodeselector一起考虑判断
#### Why is this needed:
深度学习集群中可能存在多种不同算力的显卡，在判断任务可调度是用整个集群的资源来判断的，但是实际调度的时候指定了nodeselector，无法满足gang调度的需求

[2021-04-01 07:42] shinytang6 commented on #1393
l think we can support this in the overcommit plugin :)
WDYT? /cc @Thor-wl @jiangkaihua

[2021-04-01 07:48] jiangkaihua commented on #1393
Great, your contribution will be very appreciated! I think we can select available nodes by node selector in `overcommit` plugin, and estimate whether the selected nodes can afford this podgroup by register `overcommit` plugin in `enqueue` action.

[2021-04-01 08:46] zen-xu commented on #1392
[code]

[2021-04-01 08:59] zen-xu commented on #1392
If any test case failed, I can quickly get the error position.

![image](https://user-images.githubusercontent.com/38552291/113269910-829a3680-930b-11eb-9145-8de9c8a19a8d.png)

[2021-04-02 04:18] Thor-wl commented on #1392
I'm ok about it.

[2021-04-02 06:28] Thor-wl commented on #1393
Sounds reasonable. I'm ok about it. Can you give a design doc about that? @yiyuanyu17

[2021-04-02 06:46] zen-xu commented on #1373
I have an easy way to fix it.
[code]

[2021-04-02 08:25] Thor-wl commented on #1373
How do you think about it? @hudson741

[2021-04-02 08:38] Thor-wl commented on #1393
Please make an detail introduction of your scenario @yiyuanyu17

[2021-04-02 08:41] Thor-wl commented on #1387
According to the discussion of community weekly meeting, adivice as follows:
* switch the use of tf-operator to volcano job api. There will not meet this problem.
* submit an issue to tf-operator to consider gang-scheduling when creating pods.

[2021-04-02 08:52] yiyuanyu17 commented on #1393
we have a big cluster for different  teams，and each team has different label for node, so we use nodeselector to scheduler our tasks. and when we use spark operator to deal with sparkapplcaiton ,we need to scheduler driver task to CPU node and scheduler executor task to GPU node, but now, whether the task could be scheduled depends on the total resource, not the resource of node matching the nodes

[2021-04-02 09:20] Thor-wl commented on #1393
IC, so your main requirement is ** how to ensure scare resource such as GPU to be fully utilized **, right?

[2021-04-02 09:46] yiyuanyu17 commented on #1393
yes, but ensure scare resource is just one side,  in this issue, we want to find a solution to solve the deadlock problem in the condition with node selector

[2021-04-02 09:53] zen-xu opened #1395 "Support `NodeTier` for Job and task"
#### What would you like to be added:

We will add `NodeTier` field both to `JobSpec` and `TaskSpec`

If `NodeTier` is specified in `JobSpec` and  omitted in `TaskSpec`, omitted`TaskSpec` will copy `NodeTier` from `JobSpec`

Example:
[code]

#### Why is this needed:

We have different types of CPU. It will slow down the Job If any task runs in the slow CPU nodes while most tasks run in fast CPU no

[2021-04-05 13:52] #1099 closed

[2021-04-06 01:14] Thor-wl commented on #1395
Well, how to recgonise fast-cpu and slow-cpu when scheduling?

[2021-04-06 01:15] #1392 closed

[2021-04-06 01:42] wpeng102 opened #1396 "Volcano collect cluster resource information"
What would you like to be added:
Make Volcano collect cluster resource information, such as cluster `total nodes`, `ready nodes`, `cluster allocatable resource`, `cluster Idle resource`

Why is this needed:
Cluster resource information is useful for user to monitor custer resource usage and it's also useful for federation scheduling.

[2021-04-06 02:17] zen-xu commented on #1395
By node labels

[2021-04-06 02:23] zen-xu opened #1397 "Support multi schedulers"
#### What would you like to be added:

Support scheduler to select nodes by labels for scheduling

#### Why is this needed:

Our cluster need to be divided into multi sections.

Example:
1. section A for common scheduling.
2. section B for GPU scheduling.
3. section C for daily job.
4. etc

[2021-04-07 01:09] Thor-wl commented on #1397
Well, we need a design doc for that.

[2021-04-07 07:25] zhenxiu opened #1405 "mpi worker pods ,-np 2 and -np 1 are roughly the same times when assigned to a node"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2021-04-07 07:58] jiangkaihua commented on #1091
@bmv126 I think the reason why high-priority job is prevented from preempting low-priority job is that high-priority job cannot be `inqueue` status and create pods, so that `preempt` action skipped this job since no pods in this job.

[2021-04-07 08:35] edwardstudy opened #1406 "Controller didn't restart after shutdown"
**What happened**:
When pod exited due to retrieving resource lock error(network error) 21h before, this pod could not restart/ More worse, all 3 instances stopped and volcano could not work.

[code]

**What you expected to happen**:
controller pod restarts or process in container restarts, make system alive.

**How to reproduce it (as minimally and precisely as possible)**:
- Deploy controller de

[2021-04-08 07:38] chenyangxueHDU opened #1407 "policy.exitCode not work when pod.restartPolicy is OnFailure"
**What happened**:
policy.exitCode not work when pod.restartPolicy is OnFailure

**What you expected to happen**:
policy.exitCode work when pod.restartPolicy is OnFailure

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration

[2021-04-08 16:20] #1125 closed

[2021-04-09 02:44] zishen opened #1408 "word/example/kubecon-2019-China/scripts/directory of the node - info. Go with work number"
As title，word/example/kubecon-2019-China/scripts/directory of the node - info. Go with work number, need to clean

**Environment**:
- Volcano Version: 1.0.1

[2021-04-09 06:19] zhenxiu commented on #1405
![QQ截图20210408184535](https://user-images.githubusercontent.com/14161887/114137315-944c9100-993e-11eb-8cea-85c50ce58f72.png)

[2021-04-09 06:20] zen-xu commented on #1407
Could you please explain what `policy.exitCode not work` means?

[2021-04-10 06:32] Thor-wl commented on #1405
Well, perhaps you can refer to mpi-operator and there seems to some configurations. I think it's not a question about Volcano

[2021-04-10 06:51] Thor-wl commented on #1408
I'm sorry for not get the point. Can you give a detail description?

[2021-04-10 06:52] Thor-wl commented on #1245
/assign @renhuanyu

[2021-04-12 01:50] jiangkaihua opened #1410 "Volcano should support queue.capability in actions besides enqueue."
#### What would you like to be added:

Some callback functions in actions besides `enqueue` to offer judgement about queue capability.

#### Why is this needed:

By now `capability` of queue is only used in `proportion` plugin, and called in `enqueue` action:
https://github.com/volcano-sh/volcano/blob/e47cfe740b93d2349101b0d3eef3385d255a5309/pkg/scheduler/plugins/proportion/proportion.go#L272.

So

[2021-04-12 08:59] Thor-wl commented on #1322
/assign @Thor-wl

[2021-04-12 11:08] merryzhou opened #1411 "podName validation in admiision is wrong"
**What happened**:

vc-controllers uses task.Name to create pod:

https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/job/job_controller_actions.go#L268

but pod name validate uses task.Template.Name：

https://github.com/volcano-sh/volcano/blob/master/pkg/webhooks/admission/jobs/validate/admit_job.go#L159

[2021-04-12 20:30] fbalicchia opened #1413 "Support for Kubernetes v1.18+"
Hi there, applying
kubectl  apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml on k8s 1.18.x i retrieve these errors
The CustomResourceDefinition "jobs.batch.volcano.sh" is invalid:
* spec.validation.openAPIV3Schema.properties[spec].properties[tasks].items.properties[template].properties[spec].properties[initContainers].items.properties[ports].i

[2021-04-13 01:04] Thor-wl commented on #1413
Yes, we have separated apis to volcano.sh/apis repository and k8s 1.18 has already supported. Please refer to https://github.com/volcano-sh/apis

[2021-04-13 02:10] zen-xu commented on #1413
You can use helm to install volcano

[code]

[2021-04-13 03:25] #1358 closed

[2021-04-13 03:35] #1383 closed

[2021-04-13 08:48] yiyuanyu17 opened #1415 "is there a plan to support GPU topology awareness？"
#### What would you like to be added:
will it work like a plugin ,when a task choose node to schedule, juge the GPU topology and choose the best node and gpus to schedule.
#### Why is this needed:
in deep learning train , if one pod need two or more GPUS, it will accelerate the train speed if the scheduler choose the gpus which use nvlink.

[2021-04-13 09:16] merryzhou opened #1416 "JobEnqueueable of overcommit plugin issue"
**What happened**:

in overcommit plugin， if the idle resources is sufficient that means job can Enqueueable，the plugin adds job min resources to inqueueResource immediately：https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/plugins/overcommit/overcommit.go#L110；

but actually whether the job can be enqueued has not yet been decided, may be it's too early to calculate the inqueueResou

[2021-04-13 09:17] huone1 opened #1417 "there is a OutOfcpu when applying job yaml if node sync after pod sync in scheduler deployment"
### env
![image](https://user-images.githubusercontent.com/71266853/114528579-b9f9d300-9c7b-11eb-9d49-31df9e8bbbd7.png)

### test

[code]

1. kubectl apply -f job-1.yaml
2. replace scheduler image to image including the modification, restart the scheduler pod
   check the used resource info:
![image](https://user-images.githubusercontent.com/71266853/114528710-d4cc4780-9c7b-11eb-96e4-b70df53417b2.

[2021-04-13 15:07] fbalicchia commented on #1413
Ok it works for me
Thanks

[2021-04-13 15:07] #1413 closed

[2021-04-14 01:27] Thor-wl commented on #1413
fbalicchia, We are sorry for not taking a full communication with you at the latest community meeting. Don't hesitate to leave messages about any use problems in community and let me know.

[2021-04-14 01:29] Thor-wl commented on #1416
/cc @jiangkaihua

[2021-04-14 01:32] Thor-wl commented on #1415
Yes, it is planed to be developed and released in the second half of the year.

[2021-04-14 01:33] Thor-wl commented on #1415
Do you have some ideas about that? Maybe we can do some work ahead about that. @peiniliu

[2021-04-14 02:48] yiyuanyu17 commented on #1415
will this issue be discussed in this weekly meeting? i'm interested in  gpu topology awareness  and i will join this weekly meeting if i have time.

[2021-04-14 06:12] shinytang6 commented on #1416
lf the scheduler config is as described, l think even if sla plugin returns permit, the overcommit plugin will also be called?
If overcommit return reject, the job still can't be enqueued.

ref: [https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/framework/session_plugins.go#L333](https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/framework/session_plugins.go#L333)

[2021-04-14 06:16] merryzhou commented on #1416
when sla plugin returns permit ==> hasFound = true ==> jobEnqueueable will returns true

ref：https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/framework/session_plugins.go#L356

[2021-04-14 06:19] shinytang6 commented on #1416
ok, l missed that, because you define the plugins in different tiers. What about defining them in the same tier?

[2021-04-14 06:26] merryzhou commented on #1416
what i expected is： when cluster resources is sufficient, and my job reached sla waiting time, scheduler can reserved some resources for my job. so my job must be Enqueueable，and the pod must be created.

[2021-04-14 07:03] shinytang6 commented on #1416
Sounds like it related to resource reservation, l think it is not implemented at all.
what l mean is if you configure is like this
[code]
at least it will not skip overcommit plugin even if sla jobEnqueueableFns return true.

[2021-04-14 12:38] NovaHe opened #1419 "how to mount emptyDir and configMap hostPath as volumes in vc-job"
I want convert pod.yaml to vc-job's pod yaml
[code]

thanks

[2021-04-15 03:37] #1419 closed

[2021-04-15 08:30] jingxiang95 opened #1420 "I lost ssh files when I updated my job(<pluginOnJobUpdate>: ssh on jo)"
**What happened**:
pkg/controllers/job/plugins/ssh/ssh.go
[code]
[code]
[Mounted Secrets are updated automatically](https://kubernetes.io/docs/concepts/configuration/secret/)
Note: A container using a Secret as a **subPath** volume mount will not receive Secret updates.

-------

when run mpi job,such as horovod elastic job, when i delete pod or update job... ,it's while `Starting to execute plugi

[2021-04-16 04:57] Thor-wl commented on #1415
OK, you can prepare some materials about scenarios or design about that.

[2021-04-16 07:13] Thor-wl commented on #623
/feature

[2021-04-16 07:27] Thor-wl commented on #1420
/cc @Thor-wl

[2021-04-17 02:49] winder-source opened #1424 "怎么更改调度器的配置策略呢"
对于不同的任务我想要使用不同的调度策略，怎么去更改默认的调度策略呢(我是个新手，还不太会)
可以在不同的调度策略之间随意切换吗？怎么切换呢？还是说我可以在任务中指定相应的调度策略呢？

[2021-04-17 07:08] goodqinjin commented on #1321
@shinytang6  ping

[2021-04-17 14:15] #1105 closed

[2021-04-18 03:08] william-wang commented on #1424
1. Currently scheduling policy is cluster level.  The policy is working on all jobs. It is planed to support per-queue policy in future.
2. The scheduling policy is changed by editing scheduler configmap.  Please refer volcano website.
https://volcano.sh/zh/docs/schduler_introduction/
3. Can you explain  the scenario and background about using different policy for different job?

[2021-04-19 02:06] hacker-qian opened #1425 "when one resource(GPU) is overused in queue, other resources (CPU) instances in the queue cannot be scheduled"
**What happened**: In volcano proportion plugin, when we run out of one resource (e.g. gpu-tesla-p4)，instances that use other resource (CPU, memory, dont use the gpu) also cannot be scheduled.

**What you expected to happen**:
CPU instance can be scheduled

**How to reproduce it (as minimally and precisely as possible)**:

![image](https://user-images.githubusercontent.com/6950081/115172128-23079d

[2021-04-19 02:43] william-wang commented on #1425
The cause is similar with #1373.

[2021-04-19 07:44] huone1 commented on #1289
func (f *FIFO) Add(obj interface{})   ---- just set   f.populated to true；
but  HasSynced() is  also attention to the "f.initialPopulationCount == 0"

[2021-04-19 12:01] shinytang6 commented on #1420
This problem does exist, the ssh key will disappear when the job is updated/expanded. Your modification can solve the scenes of updating & scale down jobs, but it still cannot solve the expansion scenario.

[2021-04-19 12:01] shinytang6 commented on #1420
This problem does exist, the ssh key will disappear when the job is updated/expanded. Your modification can solve the scenes of updating & scale down jobs, but it still cannot solve the expansion scenario.

[2021-04-20 01:35] jingxiang95 commented on #1420
@shinytang6 "The expansion scenario" you mean update job and add worker replicas or other scenario? I tested that adding worker replicas can also train normally. Because the new pod just mounts the ssh secret.
such as:
[code]

[2021-04-20 01:59] shinytang6 commented on #1420
but the old workers will not update the ssh config of the new worker.

[2021-04-20 02:11] jingxiang95 commented on #1420
@shinytang6  Yes, ssh config does not update.I didn't notice its effect, the ssh config is not used in my job. I am using volcano **/etc/volcano/*.host** files.

./discover_hosts.sh
horovod-imagenet-job-worker1-0.horovod-imagenet-job:1
horovod-imagenet-job-worker1-1.horovod-imagenet-job:1
horovod-imagenet-job-worker2-0.horovod-imagenet-job:2
horovod-imagenet-job-worker2-1.horovod-imagenet-job:2

[

[2021-04-20 02:27] shinytang6 commented on #1373
l think it makes sense 😀

[2021-04-20 03:08] shinytang6 commented on #1420
make sense. If you use it like this, there will be no problem because the configmap(/etc/volcano/*.host) will be updated when job updating.

[2021-04-20 03:17] shinytang6 commented on #1420
@jingxiang95 could you make a pr for that? The current implementation seems to have more disadvantages than benefits.

[2021-04-20 03:35] jingxiang95 commented on #1420
@shinytang6 How can I make pr? Submit an example of horovod elastic scaling?

[2021-04-20 05:15] shinytang6 commented on #1420
l mean the modification you pasted:
[code]

[2021-04-20 06:07] jingxiang95 commented on #1420
no,I don't see any positive impression of this code.

[2021-04-20 06:40] shinytang6 commented on #1420
Is there any misunderstanding? I mean to delete this block of code and add some comments

[2021-04-20 07:34] jingxiang95 commented on #1420
之前提了一个pr是fork的volcano项目然后在master分支上修改的，还没有close。我现在不知道该怎么操作了。我本地已经重新编译过了，不会影响到我的使用。
[code]

[2021-04-20 07:43] shinytang6 commented on #1420
好的没事，那我来帮忙 fix 下吧

[2021-04-20 11:02] jingxiang95 commented on #1420
好的，谢谢大佬。

[2021-04-21 06:52] william-wang commented on #1425
@shinytang6 please help to have a investigation.

[2021-04-21 09:27] shinytang6 commented on #1425
The reason is when judging whether a queue is overused, as long as one kind of resource is overused, we consider the queue as overused. Then in allocate action, we will skip these overused queues.

It seems unreasonable indeed, but I did not think of a good solution, because our current implementation must select an available queue firstly before scheduling a job.

[2021-04-21 10:20] chenyangxueHDU opened #1428 "anti-affinity dont work"
**What happened**:
vj like this:
[code]
pods:
`kubectl get po -o wide`
[code]
anti-affinity dont work
**What you expected to happen**:
anti-affinity work
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from

[2021-04-21 11:05] shinytang6 commented on #1428
Similiar to https://github.com/volcano-sh/volcano/issues/1231. Let me try to fix it.

/assign @shinytang6

[2021-04-22 01:25] #1405 closed

[2021-04-22 02:34] Thor-wl commented on #1425
@hudson741 It seems to be the problem we have discussed.

[2021-04-22 06:26] #1428 closed

[2021-04-22 07:04] #947 closed

[2021-04-22 07:07] merryzhou commented on #1416
according to the [sla doc](https://github.com/volcano-sh/volcano/blob/master/docs/design/sla-plugin.md) and related code,  resources will be reserved after reached sla waiting time

[2021-04-22 07:38] hwdef opened #1432 "failed to install volcano"
**What happened**:

when I run commond

[code]

I received two errors.

![image](https://user-images.githubusercontent.com/13084946/115674642-72143380-a380-11eb-89d5-0d78ee245e01.png)

**What you expected to happen**:

Successful installation

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

![image](https://user-images.githubuserconte

[2021-04-22 08:05] Thor-wl commented on #1432
Please downgrade your k8s cluster version to v1.18

[2021-04-22 08:12] shinytang6 commented on #1432
You can also refer to https://github.com/volcano-sh/volcano/issues/1413, and use helm to have a try

[2021-04-22 08:26] hwdef commented on #1432
@Thor-wl
emmm,,volcano only supports up to  v1.18?

[2021-04-22 08:27] hwdef commented on #1432
@shinytang6
ok, thank you.

[2021-04-22 08:59] #1432 closed

[2021-04-22 09:25] Thor-wl commented on #1432
It is on the way to support v1.19

[2021-04-22 09:36] #1420 closed

[2021-04-22 14:14] hwdef commented on #1432
@Thor-wl
Is there an approximate time point for 1.20 and 1.21?

[2021-04-22 14:18] Thor-wl commented on #1432
Actually, we will support the latest three stable version.

[2021-04-23 01:45] hwdef commented on #1432
@Thor-wl  ok, thank you!

[2021-04-25 06:37] hwdef commented on #1432
@Thor-wl By the way, is there an approximate timeline?

[2021-04-25 16:03] ldd91 opened #1438 "volcano job was terminating when volcano clustrer was deleted"
**What happened**:
I exec kubectl delete -f  volcano.yaml in my kubernetes platform,However all vcjobs in all namespace  was deleted.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:1.1.2
- Kubernetes version (use `kubectl version`):1.15.1
- Cloud provider or hardware confi

[2021-04-26 01:52] Thor-wl opened #1439 "【summer2021】Volcano Technical Documents Supplyment And Update"
In order to make Volcano easy to use and understand, you task is to improve reading materials. The details are as follows:
* Supplementary examples about how to use Volcano for all northbound computing frameworks. Cases can be referred to are under  volcano-sh/volcano/examples.
* Supplementary examples about how to use Volcano for all southward heterogeneous devices. Current case is only for GPU.

[2021-04-26 01:59] ldd91 commented on #1438
![微信图片_20210426095644](https://user-images.githubusercontent.com/29392150/116019099-0aa6fe00-a676-11eb-9940-e26a7adfcfb3.png)
![微信图片_20210426095708](https://user-images.githubusercontent.com/29392150/116019104-0c70c180-a676-11eb-96df-ece4d54e663d.png)
![微信图片_20210426095714](https://user-images.githubusercontent.com/29392150/116019112-0ed31b80-a676-11eb-87c6-2b8bd6dd97b5.png)

[2021-04-26 02:20] huone1 commented on #1438
is the volcano job CRD  "jobs.batch.volcano.sh" deleted？？？

[2021-04-26 02:45] Thor-wl opened #1440 "【summer2021】Support specify GPU number for pod resource request"
Currently, Volcano only support specified GPU share memory. Specified GPU number is not supported. Your task is to support 'volcano.sh/gpu-number' just like nvidia gpu plugin to support specify GPU number for pod resource request. You can refer to https://github.com/volcano-sh/volcano/blob/master/docs/user-guide/how_to_use_gpu_sharing.md for more details.

Notes:
* These are competitions set for S

[2021-04-26 03:18] ldd91 commented on #1438
@huone1  Yes,It was deleted

[2021-04-26 03:22] Thor-wl opened #1441 "【summer2021】Support hot update about configuration such as daemon log level"
Currently, users should specify some configurations such as log level in container start command. This is not convenience for issue debug, because change the the log level will case daemon restart. You task is to provide a design and implementation to resolve it.

Notes:
* These are competitions set for Summer2021. The Summer2021 official website: https://summer.iscas.ac.cn/
* Anyone who satisfies

[2021-04-26 06:38] huone1 commented on #1438
so it is right to delete the test-job because the pod is the CR object of the CRD "jobs.batch.volcano.sh" .

it is no problem.

[2021-04-26 09:00] ldd91 commented on #1438
Thanks,So if we want to upgrade version of volcano  we should not delete CRD

[2021-04-26 09:00] #1438 closed

[2021-04-26 13:00] wpeng102 opened #1442 "scheduler leader-elect function need configmaps role"
**What happened**:
when enable scheduler leader-elect function, it shows need configmaps role
![image](https://user-images.githubusercontent.com/10152842/116085425-6357b480-a6d1-11eb-9fa8-de00beb50577.png)

**What you expected to happen**:
scheduler  leader-elect function  works well

**How to reproduce it (as minimally and precisely as possible)**:
scheduler deployment enable  leader-elect functi

[2021-04-27 08:23] pangbingqiang1 opened #1445 "CRD validation error"
**What happened**:
The CustomResourceDefinition "jobs.batch.volcano.sh" is invalid:
![截图](https://user-images.githubusercontent.com/48078129/116209601-aae34c80-a774-11eb-9e58-b2b255e1f52d.PNG)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development

[2021-04-27 11:58] Thor-wl commented on #1445
Thank you for your report. We've already discovered this bug recently. Bug fix is on the way.

[2021-04-28 06:41] wpeng102 commented on #1442
code merged

[2021-04-28 06:41] #1442 closed

[2021-04-28 06:44] hwdef commented on #1432
@Thor-wl

I noticed that support for 1.19 has been merged, but I still get this error with 1.21.

[2021-04-28 07:33] Thor-wl commented on #1432
Since v1.21 is the newest version(there is just v1.21.0) and we will not support it immediately.

[2021-04-28 08:30] Thor-wl commented on #1432
/assign @huone1

[2021-04-28 11:29] huone1 commented on #1445
fix it in PR #1446

[2021-04-28 11:31] huone1 commented on #1445
you can resolve it by  “make update-development-yaml CRD_VERSION=v1”  to  updating volcano-development.yaml

[2021-04-29 09:40] Thor-wl opened #1449 ""file name too long" bug when install volcano with hack/local-up-volcano.sh"
**What happened**:
When install volcano with hack/local-up-volcano.sh，error occurs with message "file name too long"

**What you expected to happen**:
Installing Volcano with hack/local-up-volcano.sh works well
**How to reproduce it (as minimally and precisely as possible)**:
bash hack/local-up-volcano.sh

**Anything else we need to know?**:

**Environment**:
- Volcano Version: master branch
- Kub

[2021-04-29 09:40] Thor-wl commented on #1449
/assign @Thor-wl

[2021-04-30 10:58] #1162 closed

[2021-05-02 11:29] #1169 closed

[2021-05-02 11:29] #1145 closed

[2021-05-02 11:29] #1094 closed

[2021-05-03 10:16] lowang-bh opened #1451 "lose preemptor when considering Preemption between Tasks within same Job"
**What happened**: lose preemptor task when considering Preemption between Task within Job due to it will pop task from preemptorTasks when considering Preemption between Jobs within Queue

**What you expected to happen**: tasks should keep original numbers when considering Preemption between Task within Job

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2021-05-03 11:05] lowang-bh commented on #1451
![image](https://user-images.githubusercontent.com/21003791/116869023-7ecb3e00-ac42-11eb-999e-70029e556cd7.png)

[2021-05-06 10:57] hwdef opened #1454 "[feature] enable gang-scheduler for workloads."
#### What would you like to be added:

When a new workload is created, it is converted to a podgroup to make it scheduled by gang-scheduler

The way it can be done: identify workloads with special annotations added.

#### Why is this needed:

making the scheduling method more flexible. Conform to user habits.

[2021-05-06 13:22] yzs981130 opened #1455 "A feasible way to modify CRDs in plugins or actions?"
#### What would you like to be added:
Is there a feasible way to modify CRDs (e.g. volcano batch jobs/volcano podGroups) in plugins or actions?

I believe that if only `jobInfo.PodGroup` is updated in actions or plugins, it will not be populated to Kubernetes.
#### Why is this needed:

Some scheduling results are needed to be added as something like annotation or spec to objects (e.g. vcJob/PodGro

[2021-05-07 01:53] Thor-wl commented on #1454
Do you mean only scheduling workloads with specify annotation in gang-scheduleing while scheduling other workloads with another scheduling algorithm?

[2021-05-07 03:14] hwdef commented on #1454
What I want to achieve is, When I deploy a workload(like deployment), the pods in workload will be scheduled according to Gang-Scheduler. The method I can think is to establish it with Podgroup.

Does Volcano have such a function ?

[2021-05-07 03:21] Thor-wl commented on #1454
Can you provide the scenario? Why do you need to deploy a deployment with Gang-sheduling?

[2021-05-07 03:38] hwdef commented on #1454
I just want to comply with the user's usage habits. Users may get used to creating deployments, but is not familiar with Task in vcjob.

[2021-05-07 03:48] winder-source opened #1456 "运行tensorlflow例子时出现问题"
您好，我在使用volcano运行tensorflow案例的时候，出现了一点问题，
我用的例子是volcano/example/integrations/tensorflow/dist-mnist/tf-dist-mnist-example.yaml这个例子。
它的三个pod都能够成功run起来，如图：
![image](https://user-images.githubusercontent.com/54299847/117394840-7e27f580-af29-11eb-9fd6-ada4eac9ba16.png)
但是在查看pod日志的时候，显示了几个warning，read_data_sets等几个函数被弃用了，所以看不见模型训练时的相关数据信息了。
![image](https://user-images.githubusercontent.com/54299847/11739

[2021-05-07 04:01] winder-source commented on #1424
好的谢谢您！

[2021-05-07 04:01] #1424 closed

[2021-05-07 04:21] Thor-wl commented on #1454
Well, as far as we can see now, if users create deployments with volcano, they just need to define the deployment with `schedulerName: Volcano` without concern about what scheduling algorithms used behind.

[2021-05-07 04:54] hwdef commented on #1454
In this case, can I use the function of vcjob or podgroup?Such as gang-scheduler ,priorityClassName.

[2021-05-07 05:59] hwdef commented on #1454
I try to deploy a deployment with `schedulerName: Volcano`, I found it create a podgroup for this deployment, but this podgroup does not have a queue.What can I have to specify queue for it?

And I found some unsuitable log output.
![image](https://user-images.githubusercontent.com/13084946/117404305-49716980-af3c-11eb-9307-1c000905b267.png)

It seems that there is a problem with the logic here
![

[2021-05-07 06:30] shinytang6 commented on #1455
Not sure if l understand your question, usually like you said, we can use kubeclient to interact with apiserver to update the k8s resource information.

[2021-05-07 06:35] shinytang6 commented on #1454
The default queue should be `default`, does it created in the cluster?

[2021-05-07 06:40] hwdef commented on #1454
![image](https://user-images.githubusercontent.com/13084946/117408187-277ae580-af42-11eb-8cea-9dd60160d923.png)

@shinytang6 yes, I have it.

[2021-05-07 06:44] hwdef commented on #1454
[code]

[code]

The above is the detailed information of deployment and podgroup, I tried to specify the queue in the annotation in deployment, it seems to have no effect

[2021-05-07 06:57] ChAnYaNG97 commented on #1455
Maybe `vcClient` in `SchedulerCache` is what you need?

[2021-05-07 07:00] yzs981130 commented on #1455
In short, I'm looking forward to having a `ssn.vcClient` for `Session`, just like the `ssn.kubeClient`, in order to control vcJobs/PodGroups in plugins/actions.

[2021-05-07 07:01] shinytang6 commented on #1454
is the deployment running? I remember that the created pg will set the default queue by default when scheduling, but it will not be reflected in pg.spec, but normally it will not affect the scheduling.

[2021-05-07 07:05] hwdef commented on #1454
![image](https://user-images.githubusercontent.com/13084946/117410667-5181d700-af45-11eb-8c72-996f49125b44.png)

yes, it is running. I want to know, using the podgroup created in this way, can it use vcjob capabilities, such as specified queue and priority?

[2021-05-07 07:08] yzs981130 commented on #1455
Sure it is.

I wonder if there are other elegant but feasible ways under current design or any plans to add a `ssn.vcClient` for `Session` from `SchedulerCache`. I will send a pr if the latter is better.

[2021-05-07 08:05] hwdef commented on #1454
![image](https://user-images.githubusercontent.com/13084946/117418384-ef799f80-af4d-11eb-95e1-580d95acb975.png)

I seem to find what I want in the code, thank you very much!😃😃
@shinytang6  @Thor-wl

[2021-05-07 08:08] #1454 closed

[2021-05-07 08:51] hwdef commented on #1454
I found some missing annotation.
podgroup has four key fields. Now there is only one field `queueName` in the code,  should we add `minMember`, `priorityClassName`, and `minResources`.

If need help, I can add these codes and submit PR.

[2021-05-07 11:56] zishen opened #1458 "no matches for kind "CronJob" in version "batch.volcano.sh/v1alpha1""
maybe a bug

**What happened**:
When I apply CronJob as [issue](https://github.com/volcano-sh/volcano/pull/47), I get the flowing result:
![image](https://user-images.githubusercontent.com/7522079/117446070-252e8080-af6e-11eb-9c4d-536467a036df.png)

**What you expected to happen**:
Run the CronJob

**Anything else we need to know?**:

**Environment**:
- Volcano Version: v1.2.0
- Kubernetes version

[2021-05-07 12:01] shinytang6 commented on #1458
Currently volcano does not support this cr , but I think this feature is quite interesting 🤔

[2021-05-08 01:38] Thor-wl commented on #1458
Why not use CornJob in "batch/v1beta1"?

[2021-05-08 01:56] Thor-wl commented on #1454
I'm sorry for not understanding. Where do you think we should add these annotations?

[2021-05-08 02:33] zishen commented on #1458
yes, I get the same error, when apply the "volcano-monitoring     kube-state-metrics".

![image](https://user-images.githubusercontent.com/7522079/117522965-d1ad4880-afe8-11eb-8a65-0efc3a965698.png)

[2021-05-08 03:27] shinytang6 commented on #1456
@Thor-wl Is there any places for the dockerfile in the example in our project?

[2021-05-08 03:55] #1180 closed

[2021-05-08 12:55] #1178 closed

[2021-05-10 02:35] Thor-wl commented on #1456
I'm sorry for not find the dockerfile.

[2021-05-10 02:54] Thor-wl commented on #1454
That's all right.

[2021-05-10 02:59] Thor-wl commented on #1458
Got it. Thanks for the report.
/assign @Thor-wl

[2021-05-10 06:54] zen-xu opened #1460 "We should recall `api` package back to `volcano` repo"
### Why is this needed:
We have separated the `api` package from the main repo. #1401

**But it will bring some difficulties to development**

e.g.
If I want to add some experiment fields to `api`, I must submit a pr to `api` repo first.
But an experiment idea shouldn't be merged into the main thread before it is mature.

### What would you like to be added:
Maybe we can still keep `api` package i

[2021-05-10 06:58] zen-xu commented on #1460
/cc @Thor-wl

[2021-05-10 07:30] shinytang6 commented on #1460
+1 for this.

[2021-05-10 10:27] ldd91 opened #1461 "Queue cannot reclaim resource"
**What happened**:
In our test scenario,there  are 10 GPUs in our cluster.I create a queue name test (weight:3  Capability:nvidia.com/gpu:  10    Reclaimable:  true),so there are two queue total,one is test,another is default.
I create 4 podgroups:
* job-1(belonq to queue:test)
*  job-2(belonq to  queue:test)
*  job-default(belonq to queue:default)
*  job-default-2（belonq to queue:default）

Then I

[2021-05-10 10:35] ldd91 commented on #1461
![1](https://user-images.githubusercontent.com/29392150/117646490-674e0100-b1be-11eb-8ba2-c3826aa0ccf5.png)
![2](https://user-images.githubusercontent.com/29392150/117646497-687f2e00-b1be-11eb-97d6-c0f35018163d.png)
![3](https://user-images.githubusercontent.com/29392150/117646502-6ae18800-b1be-11eb-8da1-b412cedc360d.png)

[2021-05-10 11:20] Thor-wl commented on #1461
/assign @Thor-wl

[2021-05-11 02:09] k82cn commented on #1460
That should be ok for alpha, beta and GA feature.

[2021-05-11 07:43] #1175 closed

[2021-05-11 12:03] nolimitkun opened #1462 "spark operator do not use user define volcano queue"
**What happened**:
I follow this doc to integrate spark operator with volcano:
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/volcano-integration.md

I add options to make spark application use volcano queue 'test' which has been created before:
[code]
but test queue was not used.
**What you expected to happen**:
expect spark application use queue 'test'

**How to re

[2021-05-11 15:56] yahaa opened #1463 "Queue capability hard constraints have no use ?"
**What happened**:
I want to test volcano queue capability hard constraints, but the result is very strange.

There is my test case:

* default-queue.yaml

[code]

* test-queue.yaml
[code]

* test1.yaml
[code]

* test2.yaml
[code]

and when i apply above yaml files to k8s, i got the below scheduled result

![image](https://user-images.githubusercontent.com/16364111/117845664-592ddc80-b2b3-11eb-84e

[2021-05-11 16:26] Robert-Christensen-visa opened #1464 "Preemption storm of low-priority pods when using hierarchical queues with pending high-priority pods"
**What happened**:
When using preemption and hierarchical queues, higher priority jobs can a preemption storm of low priority jobs under the right conditions.  This results in the low-priority jobs getting preempted as they start.  The low-priority jobs will be in this preemption storm until no high-priority jobs are queued.

**What you expected to happen**:
I would expect if a high-priority job p

[2021-05-11 17:03] hudson741 opened #1465 "args for volcano to connect k8s"
**What happened**:
volcano call  client-go  slow

**What you expected to happen**:
volcano call client-go to connect to k8s should be fast

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
args in  cmd/sheduler/app/options/options  in default
	defaultQPS   = 50.0
	defaultBurst = 100
should be bigger like
        defaultQPS   = 2000.0
	defaultBu

[2021-05-11 17:34] hudson741 opened #1466 "bug in AddReclaimableFn in proportion plugin"
**What happened**:
code  logic not rigorous in proportion plugin

	ssn.AddReclaimableFn(pp.Name(), func(reclaimer *api.TaskInfo, reclaimees []*api.TaskInfo) []*api.TaskInfo {
		var victims []*api.TaskInfo
		allocations := map[api.QueueID]*api.Resource{}

		for _, reclaimee := range reclaimees {
			job := ssn.Jobs[reclaimee.Job]
			attr := pp.queueOpts[job.Queue]

			if _, found := allocations[job.

[2021-05-11 20:05] nolimitkun opened #1467 "possible to disable default queue"
#### What would you like to be added:
possible to modify/disable default queue

#### Why is this needed:
suppose several team work in same cluster, each team use one queue . so nobody should use default queue.
that's why volcano should give possibility to modify weight/capacity queue even disable it.

[2021-05-11 21:05] nolimitkun opened #1468 "possibility to get queue name from deployment , statefulset"
#### What would you like to be added:

deployment and statefulset could set schedulerName to use volcano , it will be great to have a possibility to set queue name

#### Why is this needed:
to give possibility to let user use other queue than default queue

[2021-05-12 01:25] Thor-wl commented on #1468
That's interesting. Can you give more information about the scenario?

[2021-05-12 01:28] Thor-wl commented on #1467
IC, so what you need is the ability of closing default queue, right?

[2021-05-12 01:30] Thor-wl commented on #1467
If default queue can be closed, what if someone submit a job without queue filed?

[2021-05-12 01:31] k82cn commented on #1468
hm... maybe we should support annotation in Deployment & Statefulset , e.g. `volcano.sh/queue-name`; and handle it in `PodGroup` controller.

[2021-05-12 01:31] Thor-wl commented on #1466
/assign @Thor-wl

[2021-05-12 01:33] k82cn commented on #1465
+1

[2021-05-12 01:34] k82cn commented on #1464
/assign @wpeng102

please help on this issue.

[2021-05-12 01:35] Thor-wl commented on #1465
These parameters can be configured at the command when starting scheduler. Users can adjust them to custom scenarios.

[2021-05-12 01:52] Thor-wl commented on #1463
/assign @Thor-wl Let me have a test

[2021-05-12 02:30] shinytang6 commented on #1468
I think this function has been implemented already? You can specify `scheduling.volcano.sh/queue-name` in the pod annotation to specify queue.

ref: [https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/podgroup/pg_controller_handler.go#L97](https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/podgroup/pg_controller_handler.go#L97)

[2021-05-12 03:04] Thor-wl commented on #1462
/assign @Thor-wl

[2021-05-12 03:16] wpeng102 commented on #1463
currently, volcano does not support deployment use queue `capability` to limit starting pod. When controller create `podgroup` for deployment, it does not set the `minResources` for  `podgroup`.

[2021-05-12 03:23] umialpha opened #1469 "How to bypass VolcanoJob to use Volcano scheduler directly."
Hello there, the Volcano scheduler is great for batch workload, but how to use it directly without VolcanoJob.

Here is our scenario,

We have our own job definition out of k8s, each time a job is added, we translate it to a group of pods and submit them to the k8s. ( We may make it k8s-native later). W . e don't want to introduce another job definition, just want to leverage the scheduler's featu

[2021-05-12 03:39] shinytang6 commented on #1469
You need to create a podGroup for each of your jobs, you can refer to the implementation of tf-operator

[2021-05-12 03:43] umialpha commented on #1469
@shinytang6 , thx for your reply. Yeah, I am reading tf-operator's implementation now. Also, i am reading volcano scheduler's implementation. It would be helpful if someone could give me an example.

[2021-05-12 03:50] umialpha commented on #1469
@shinytang6, from my inspectation, there are some Inconsistency in volcano scheduler.
e.g.
When a pod is added, the scheduler tries to createOrUpdate a JobInfo from the `pod.Annnotations[v1beta1.KubeGrupNameAnnotationKey]`, but when a PodGroup is added, the scheduler tries to link it to a JobInfo by `schedulingapi.JobID(fmt.Sprintf("%s/%s", pg.Namespace, pg.Name))` .

[2021-05-12 03:51] shinytang6 commented on #1469
Simply put, you need to create a podgroup for your job. Volcano will check the podgroup to determine whether it can start scheduling pods. The combination of tf-operator and volcano is achieved by creating pg

[2021-05-12 04:04] Thor-wl commented on #1469
Agree with @shinytang6 's ideas. Another solution is to develop a translater which can swtich your CRD job to VCjob according to the API automatically.

[2021-05-12 04:05] shinytang6 commented on #1469
do you mean JobID? `v1beta1.KubeGroupNameAnnotationKey` should be the same with pg.Name in your scenes.

[2021-05-12 04:56] nolimitkun commented on #1467
in this case, scheduler refuse this job and tell user to mention a queue name, user should always be aware of which queue his is using in administrator point of view. otherwise, nobody will really care about control of resource until queue full.

[2021-05-12 05:21] nolimitkun commented on #1468
yes, I confirm, it works !
I create a test queue, and here is my deployment  with annotations :
[code]
podgroup created with queue **test** :

[code]

[2021-05-12 05:39] hudson741 opened #1470 "volcano queue api in master branch"
**What happened**:

I am working with the queue reserved  feather . and getting to merge it in master branch. please  merge the queue attribute like:
queue.Spec.Guarantee  and  QueueStatus.Reservation  to the master branch.

type QueueSpec struct {
	Weight     int32
	Capability v1.ResourceList

	// Depreicated: replaced by status.State
	State QueueState
	// Reclaimable indicate whether the queue c

[2021-05-12 05:50] nolimitkun commented on #1468
maybe it's better to document it somewhere or here :
https://github.com/volcano-sh/volcano/blob/master/example/deployment.yaml

[2021-05-12 06:01] shinytang6 commented on #1468
Agree, could you help with that?

[2021-05-12 06:22] Thor-wl commented on #1470
/assign @Thor-wl

[2021-05-12 09:34] Thor-wl opened #1471 "【summer2021】Hierarchical Queue Design Investigation"
Description:
Hierarchical Queue is a common data struct in scheduler. It is quite suitable for multi level organizations to divide and share cluster resources. Your task is to take an investigation about the design and implementation of existing scheduler, output the report and make a design about how to implement it in Volcano.

Notes:
* These are competitions set for Summer2021. The Summer2021 o

[2021-05-12 09:38] Thor-wl opened #1472 "【summer2021】Investigation about GPU Topology Awareness"
Description:
Your task is to take an investigation about existing design and implementation of GPU topology awareness, output the report and give the design about how to achieve it for Volcano.

Notes:
* These are competitions set for Summer2021. The Summer2021 official website: https://summer.iscas.ac.cn/
* Anyone who satisfies the requirement of the activity can submit application for the compet

[2021-05-12 09:50] Thor-wl opened #1473 "【summer2021】Investigation about Job Workflow"
Description:
In some scenarios, a workflow，which consists of some steps and each step stands for one or more jobs, is a good solution. Your task is to take an investigation of existing design and implementation such as Argo, output a report and make a design for Volcano.

Notes:
* These are competitions set for Summer2021. The Summer2021 official website: https://summer.iscas.ac.cn/
* Anyone who s

[2021-05-12 13:52] pandaji commented on #509
Hi good day! Is there any update on this? Thanks!

[2021-05-12 17:11] nolimitkun commented on #1468
sure, I will do a PR

[2021-05-13 02:36] Thor-wl commented on #509
Well, not yet. But i think that's meaningful. I'll take it into the roadmap.

[2021-05-13 02:36] Thor-wl commented on #509
/assign @Thor-wl

[2021-05-13 03:15] pandaji commented on #509
Thanks! @Thor-wl I think this document exactly describes what is needed . :)
https://github.com/volcano-sh/volcano/blob/master/docs/design/dedicated-volume.md

[2021-05-13 03:52] Thor-wl commented on #509
Yes, we will realize it according the design in the feature.

[2021-05-13 13:45] nolimitkun commented on #1463
It will be great to have full capability limit support for Deployment,Statefulset, Could maintainer add feature label to this Issue ?

[2021-05-13 14:02] nolimitkun commented on #1467
default queue could be modify, change title.

[2021-05-13 17:31] nolimitkun opened #1475 "ACL of Queue"
#### What would you like to be added:

it will be great to have a acl control at queue level in order to control which user is capable to which queue.

#### Why is this needed:
if there is no acl, small queue user would use big queue,  weight and capability setting become useless.

[2021-05-14 04:11] Thor-wl commented on #1475
Thanks for the feedback. I'll take this feature into discussion in the community weekly meeting.

[2021-05-14 04:15] Thor-wl opened #1476 "Default queue can be closed"
For a department with multiple teams, users different should be only access to specified queue. Default queue may result in the resource overuse in some teams. So Volcano should support to close default queue.

[2021-05-14 04:16] Thor-wl commented on #1476
/cc @nolimitkun

[2021-05-14 06:49] Thor-wl commented on #1476
Same with [https://github.com/volcano-sh/volcano/issues/1467](url), close it

[2021-05-14 06:49] #1476 closed

[2021-05-14 06:52] Thor-wl commented on #1465
/assign @Thor-wl

[2021-05-14 07:44] wpeng102 commented on #1467
you can build `vcctl` from volcano code and try `vcctl queue operate queue -n default -a close` command to close `default` queue

[code]

[2021-05-14 08:03] nolimitkun commented on #1467
Yes, exactly what I need , it works.
[code]
Thank you
Maybe we should add this in doc or somewhere?

[2021-05-14 08:29] wpeng102 commented on #1467
Sure, @Thor-wl maybe we need add more CLI usage for https://volcano.sh/en/docs/cli/

[2021-05-14 08:48] Thor-wl commented on #1475
According to the discussion at community weekly meeting, most developers advised to implment it at the application layer. Let's take more investigation in BigData scenario and give a solution.

[2021-05-14 08:49] Thor-wl commented on #1470
As the discussion in the community weekly meeting, we will follow K8s API management and add stagging folder

[2021-05-14 08:51] Thor-wl commented on #1467
@wpeng102 Yes, @renhuanyu is working on that.

[2021-05-14 08:51] Thor-wl commented on #1467
/cc @renhuanyu

[2021-05-14 08:52] Thor-wl commented on #1465
As the discussion of the community weekly meeting, we will do that.

[2021-05-14 08:54] Thor-wl commented on #1456
@renhuanyu Please take a look as well.

[2021-05-14 09:34] shinytang6 commented on #1466
this can be fixed with https://github.com/volcano-sh/volcano/issues/1373 together

[2021-05-15 10:12] #1036 closed

[2021-05-18 09:45] rudeigerc opened #1479 "Proposal for the performance testing"
Related to #1284

According to the roadmap, the community would like to introduce performance testing for enhance the stability of Volcano scheduler. The issue is for tracking and discussion.

## Proposal

The initial proposal of the performance testing is to refer to the [scheduler performance framework](https://github.com/kubernetes/kubernetes/tree/master/test/integration/scheduler_perf) of Kube

[2021-05-19 01:33] Thor-wl commented on #1479
/cc @william-wang

[2021-05-19 05:15] k82cn commented on #1479
xref: https://github.com/volcano-sh/kubesim

[2021-05-19 06:14] william-wang commented on #1479
@rudeigerc Thanks for your proposal.  Volcano has introduced a simulator named kubesim for performace testing. Here is the repo. Some performance test is done based on kubesim in the past year.
https://github.com/volcano-sh/kubesim
For the issue #1284, the original intention is to improve the UT/e2e coverage and introduce some stress test cases.

[2021-05-20 09:34] Thor-wl commented on #1465
fix: https://github.com/volcano-sh/volcano/pull/1480

[2021-05-20 09:34] #1465 closed

[2021-05-21 04:05] #1206 closed

[2021-05-21 06:48] wpeng102 commented on #1464
[code]
For the above config, when high-priority job pending, in `reclaim` action `gang` plugin will trigger  high-priority job reclaim low-priority job. But when next scheduling period, `allocate` action will select a low-priority pending pod to dispatch.

So, should config `drf` plugin in tier1(same tier with gang), then both `gang` and `drf` plugin will make `reclaim` decision togather.

[code]

[2021-05-22 03:27] Robert-Christensen-visa commented on #1464
That seems to resolve the issue.  Placing both drf and gang plugins in the same tier will prevent a preemption storm from taking place and will result in expected behavior.

Thanks for your help!

[2021-05-22 03:27] #1464 closed

[2021-05-22 14:29] yahaa commented on #1463
I tested it and felt that what you said was just one of the reasons

Here is my second test case:
* test-queue.yaml
[code]
* test2-pg.yaml
[code]
* test2.yaml
[code]

and after i apply those yaml to k8s, i go the below scheduled result

![image](https://user-images.githubusercontent.com/16364111/119230042-25717300-bb4d-11eb-869d-811efd99fd1f.png)

[2021-05-22 14:30] yahaa commented on #1463
/assign @yahaa

[2021-05-24 02:21] #962 closed

[2021-05-24 09:00] Megan96 opened #1485 "bug in proportion plugin: if a resource (Except CPU and mem) doesn't configure in queue capability, it will be seen as Zero in resources comparation."
**What happened**:
if we don't configure the capability of all resources in cluster in queue config file,  the resources (except CPU and mem) of capability will be Zero.
see comparation `!attr.deserved.LessEqualStrict(attr.capability) ` in https://github.com/volcano-sh/volcano/blob/v1.2.0/pkg/scheduler/plugins/proportion/proportion.go
see function `LessEqualStrict`  in  https://github.com/volcano-

[2021-05-24 09:07] ChAnYaNG97 commented on #1440
Hi, I am interested in this issue. I have sent my resume and basic introduction to @Thor-wl @william-wang by e-mail.
Now I am working on the design and plan and will send in the near future.

[2021-05-24 09:19] Megan96 opened #1486 "bug in proportion plugin: can't allocate all the resources in cluster to busy queue because of the comparison of deserverd resources and capability"
**What happened**:
 the comparison of deserverd resources and capability`!attr.deserved.LessEqualStrict(attr.capability)` is that  as long as there is one resource in deserved bigger than capability,  it will be true so it can't allocated other free resources to this queue.
see line 173 in https://github.com/volcano-sh/volcano/blob/v1.2.0/pkg/scheduler/plugins/proportion/proportion.go
[code]

**Ex

[2021-05-24 09:51] Thor-wl commented on #1440
I've received your resume. Thanks!

[2021-05-25 03:28] Thor-wl commented on #1485
/assign @Thor-wl

[2021-05-25 07:56] zishen opened #1487 "The arm deployment cannot find arm images."
**What happened**:

when i  use makefile and  make generate-yaml to product and install volcano on arm machine. I found the generate-yaml use the wrong images.

**What you expected to happen**:
install by yaml succussfully.

**How to reproduce it (as minimally and precisely as possible)**:

1、the makefile add the postfix named "arm64‘’
![1-makefile](https://user-images.githubusercontent.com/752207

[2021-05-25 08:20] Thor-wl commented on #1485
Thanks for your report. I've reviewd the code in proportion.go and got the following logic:
https://github.com/volcano-sh/volcano/blob/ed9e9cd09acfcd92a9e57a08210f91a00108ae72/pkg/scheduler/plugins/proportion/proportion.go#L173
As what i analysesed, if a queue is without the capability configuration, it will get false because the first judgement is `attr.capability != nil`. So it will not jump int

[2021-05-25 08:33] Thor-wl commented on #1487
The generate-yaml is only for x86 machine now. You can install volcano in arm machine with the following way:
`
kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development-arm64.yaml
`

[2021-05-25 09:51] ldd91 commented on #1461
@Thor-wl  What is the progress of this issue

[2021-05-25 11:15] zishen commented on #1487
I made some custom changes for images and define some values, I want to generate my own volcano-development.yaml.
So how can i do?

[2021-05-25 12:38] Thor-wl commented on #1487
Not sure what you have modified. But after executing `make generate-yaml`, bash script /hack/generate-yaml.sh will be executed and deployment and monitor-deployment yaml will generated(more details can be seen in the script). This step is noting to do with image. If you want to generate new images, you can do the above modifitions and execute `make images`.

[2021-05-26 01:46] Thor-wl commented on #1461
Can you provide more information about the nodes and GPU distribution?

[2021-05-26 15:41] yahaa opened #1488 "After run `helm delete volcano`, new creating pod can't be schedule"
**What happened**:
1. deploy volcano by helm `helm install helm/chart/volcano --namespace volcano-system --name volcano`
2. then uninstall volcano `helm delete volcano` or `kubectl delete deploy volcano-admission -n volcano-system`
3. because the webhookconfig was not deleted(don't work), new creating pod can't be schedule
![image](https://user-images.githubusercontent.com/16364111/119688808-e445c

[2021-05-26 15:42] yahaa commented on #1488
/assign @yahaa

[2021-05-27 02:25] zishen commented on #1487
I have changes the helm->templates->scheduler.yaml, so I need generate  new developmen yaml.

[2021-05-27 03:22] #1449 closed

[2021-05-27 07:19] jinzhejz opened #1492 "Node status is not updated in volcano when a Unready node become a ready node"
**What happened**:
Volcano will not schedule pods to a node even if the node is ready and its resources are sufficient.

**What you expected to happen**:
Volcano should dispatch pods.

**How to reproduce it (as minimally and precisely as possible)**:
1. Make sure there is only one node in cluster
[code]
2. We can find following volcano logs
[code]
3. Stop kubelet on that node
[code]
4. Wait until

[2021-05-27 21:42] #1098 closed

[2021-05-28 01:37] #1492 closed

[2021-05-28 08:52] berlinsaint opened #1495 "mount from configMap not working as kubernetes."
**What happened**:
![image](https://user-images.githubusercontent.com/10629930/119957351-9644df00-bfd4-11eb-871b-74c225c0b855.png)

get the errory log when kube create -f /

![image](https://user-images.githubusercontent.com/10629930/119957870-0e130980-bfd5-11eb-96ee-ca4e52dc45ea.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything e

[2021-05-28 09:53] zen-xu opened #1496 "Job will always pending when proportion plugin is disable"
**What happened**:

1. Disable the plugin `proportion`.
2. Deploy multi jobs to different queues in one namespace.
3. Some jobs will always pending.

**What you expected to happen**:

These jobs will be scheduled.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

https://github.com/volcano-sh/volcano/blob/44ec8eb28df26fbacd03ab15edabfc5916900c

[2021-05-29 01:39] Thor-wl commented on #1495
Please paste complete yaml files and error log. It' hard to get the details.

[2021-05-29 03:55] Thor-wl opened #1500 "CI: k8s.io/klog cannot pass the `make verify`"
**What happened**:
CI cannot pass when execute `make verify` due to the k8s.io/klog checks fails
**What you expected to happen**:
CI passed
**How to reproduce it (as minimally and precisely as possible)**:
 Submit a PR and CI fails. The log looks like : https://github.com/volcano-sh/volcano/pull/1499/checks?check_run_id=2699268538

**Anything else we need to know?**:

**Environment**:
- Volcano Ve

[2021-05-29 03:55] Thor-wl commented on #1500
/asign @Thor-wl

[2021-05-29 14:40] berlinsaint commented on #1495
`kind: Job
metadata:
  name: test-pytorch-job
  namespace: easy-deep-learning
  labels:
    "volcano.sh/job-type": "pytorch"
spec:
  minAvailable: 1
  schedulerName: volcano
  plugins:
    ssh: []
    svc: []
    env: []
  policies:
    - event: PodEvicted
      action: RestartJob
  tasks:
    - replicas: 1
      name: cv-train
      policies:
        - event: TaskCompleted
          action: Compl

[2021-05-31 01:19] umialpha opened #1506 "There are always some nodes in NotReady state, reason: OutOfSync"
**What happened**:
1. Volcano scheduler continually warns
`"Failed to set node info, phase: NotReady, reason: OutOfSync" `
2. In every scheduling cycle, some nodes can not be snapshotted, moreover the total node number sometimes decreases, e.g.
`I0528 09:55:13.751676       1 cache.go:761] There are <0> Jobs, <1> Queues and <607> Nodes in total for scheduling.
I0528 09:55:14.994064       1 cache.go

[2021-05-31 01:55] Thor-wl commented on #1506
/assign @Thor-wl

[2021-05-31 02:37] wpeng102 commented on #1506
Could you help check which node is in `OutOfSync` status? And please help append the describe node result.

[2021-05-31 04:39] umialpha commented on #1506
@wpeng102, I got the root cause. Volcano sets node to NodeReady and OutOfSync when
[code]
However, we have some dynamic resources which changes capacity during time, e.g.
**pod yaml**
[code]
**node yaml**
[code]

[2021-05-31 07:59] umialpha commented on #1506
some related fixed issue, #294.

[2021-05-31 08:06] wpeng102 commented on #1506
@umialpha

It's interesting, so you have used resource overcommit and colocation in your cluster?

[2021-05-31 08:27] umialpha commented on #1506
@wpeng102 , Our cluster has multiple schedulers. other schedulers(cooperating with device plugin) handle the above extended resources, i.e. "caster.io/colocation-cpu".

[2021-06-01 01:09] Megan96 commented on #1485
Suppose there are three types of resources(CPU, MEM, GPU) in cluster. If capability configuration of a queue just set limitation of CPU and Mem,  `attr.capability != nil` will be True.

[2021-06-01 02:29] huone1 commented on #1500
the  workround PR is #1508

[2021-06-01 06:24] #1496 closed

[2021-06-02 03:40] Thor-wl commented on #1500
That works. Thanks!

[2021-06-02 03:40] #1500 closed

[2021-06-02 15:01] whybeyoung opened #1513 "The job completed but can't release gpu?"
Test a  case, if I have two gpu card, and now i put 3 job to cluster, it will schedule two job running, when the 2 job compted, the third one can't go to running and get terminated. is it ok？
![image](https://user-images.githubusercontent.com/10629930/120504138-79564480-c3f6-11eb-91f6-e9e1e78dd3b0.png)

i just make a test , and i found that  doc is not very clearly about the action and event...

[2021-06-03 03:36] Thor-wl commented on #1513
Can you give more information about the environment/resource definition/operations? Let me have a test. @berlinsaint

[2021-06-03 04:06] berlinsaint commented on #1513
[code]

[2021-06-03 04:08] berlinsaint commented on #1513
i ran this yaml 3 times (modified job name) and got those output

[2021-06-04 03:23] huone1 opened #1514 "apply as reviewer"
My contribution as follows:

module contribution include:

1）add feature: predicate with equivalence cache .
2)  CI optimize .
3)  support taintToleration preferNoschdule .
4) numa-aware plugin design and coding

bugs:

#1291
#1256
#1363

Take part in weekly community meeting, feature design.

Totally, i've contributed 16merged PRs and 4 is on the way, hope to contribute more to the community.

[2021-06-04 03:25] Thor-wl commented on #1514
Thanks for your continuous contribution! I'm OK about that.

[2021-06-04 05:44] berlinsaint commented on #1513
Kubernetes Version： 1.15.12
volcano version:
![image](https://user-images.githubusercontent.com/10629930/120751508-b0ce0980-c53a-11eb-90f4-884201ac4a61.png)

scheulder.conf;
![image](https://user-images.githubusercontent.com/10629930/120751651-f7bbff00-c53a-11eb-8eb5-1227a9f7f633.png)

[2021-06-06 11:52] k82cn commented on #1514
LGTM, please open a PR for that.

[2021-06-07 02:02] kissingleman opened #1518 "The document needs to be updated."
For example, there is a `failed` state in the state transition.

[2021-06-07 02:06] kissingleman opened #1519 "VolcanoJob maxRetry does not take effect"
The retry feature does not take effect.
[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:  1.2.1
- Kubernetes version (use `kubectl version`): 1.13.10
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `una

[2021-06-07 02:08] Thor-wl commented on #1518
/assign @renhuanyu

[2021-06-07 02:09] Thor-wl commented on #1519
/assign @renhuanyu

[2021-06-07 02:38] renhuanyu commented on #1518
I'm sorry I didn't understand. Could you give me a more detailed description?

[2021-06-07 02:46] berlinsaint commented on #1513
补充下， v1.3.0   同样的 gpu batchjob拷贝三份 ， 实际两种gpu卡， 同时间创建3个 job， 前2个job会稳定运行到completed；而第三个job 创建一开始，通过vcctl job view 可关注到如下event：
![image](https://user-images.githubusercontent.com/10629930/120948568-173e6c00-c775-11eb-8e2b-2d7770a665d9.png)
个人理解， 此时pending应该不会有 create pod操作；请查看对应代码块是否引入什么变动导致错误；
v1.2.0 第三个job创建瞬间报错如下:
![image](https://user-images.githubusercontent.com/10629930/120949768-d3009b00-c777

[2021-06-07 03:36] Thor-wl commented on #1513
/assign @Thor-wl

[2021-06-08 04:17] Thor-wl opened #1522 "Daily job `daily release` cannot work for lack of env `GOPATH`"
**What happened**:
Daily release cannot work for lack of env `GOPATH`. `GOPATH` is used at vendor/k8s.io/code-generator/generate-internal-groups.sh
**What you expected to happen**:
Daily release works well and push newest docker image to dockerhub
**How to reproduce it (as minimally and precisely as possible)**:
see `Actions` of this repository

**Anything else we need to know?**:

**Environment**

[2021-06-08 06:43] Thor-wl opened #1524 "Add staging to repository to simplify the dependency debug"
#### What would you like to be added:
add stagging directory to simplify the dependency debug
#### Why is this needed:
Since volcano.sh/apis repository has created and volcano.sh/volcano depends on it, It's hard for developers to debug new features.

[2021-06-08 08:13] Thor-wl opened #1525 "Enhancement about resource comparision functions according to different scenarios"
According to backfeed from community, current resource comparasion functions at resource_info.go cannot meet all scenarios and introduce some bugs. We should reorganize the scenarios and optimize the resource comparasions

[2021-06-08 08:50] #1522 closed

[2021-06-08 10:04] umialpha commented on #1506
FYI, we remove the following logic in our forked branch.
[code]
and
[code]

[2021-06-08 10:04] #1506 closed

[2021-06-08 11:13] #1469 closed

[2021-06-09 02:27] Thor-wl commented on #1285
This project is ongoing and near completed. Close this issue

[2021-06-09 02:27] #1285 closed

[2021-06-09 07:45] Thor-wl commented on #1445
This bug is fixed and close this issue.

[2021-06-09 07:45] #1445 closed

[2021-06-09 11:48] #1188 closed

[2021-06-10 03:26] hwdef opened #1532 "Add the function of viewing the podgoup in the queue"
#### What would you like to be added:

Add a field in queue status, this field displays the podgroups that are in the queue in the order they are scheduled.

#### Why is this needed:

This feature provides a clear view of the scheduling order of podgroups and provides a more friendly display of information

[2021-06-10 09:22] quanguachong opened #1533 "A Bug about Terminated Pod In Node"
**What happened**:

I encounter warning when deleting a completed pod(Succeeded or failed).

**What you expected to happen**:

No warning!

**Anything else we need to know?**:

For completed pod:

1. [addTask](https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/cache/event_handlers.go#L63). [isTerminal](https://github.com/volcano-sh/volcano/blob/f203e26c357cebdacfe528a2269aeafb6655e418

[2021-06-10 13:28] k82cn commented on #1532
/hold

If there's no schedule decision, the scheduler will also update its status which increase the overload of apiserver.

[2021-06-10 16:00] hwdef commented on #1532
Get the podgroup status before updating, if it is consistent, then do not update.will reduce the pressure on the apiserver.

And most deep learning jobs have a long run time and the queue does not change frequently, (I guess)

[2021-06-10 23:59] k82cn commented on #1532
Usually, we do not add such monitor info into status :) IMO, it's better to handle this in metrics, e.g. promethus.

[2021-06-11 00:00] k82cn commented on #1525
Wow, that's really long time since last time we raised this concern :(

[2021-06-11 00:03] hwdef commented on #1532
Or we can store it in memory,Get it through vcctl.

Obtaining through prometheus is also a good way,But I still don’t know how prometheus stores arrays of strings.

[2021-06-11 01:24] k82cn commented on #1532
please refer to the related code about metrics in volcano/scheduler for that, it should be ok to add a new metrics for that :)

[2021-06-11 04:43] shuaiyy opened #1534 "preempt the tasks with the lowest priority"
#### What would you like to be added:

i hope if preempt lower priority tasks is ok,  higher priority tasks should not be  preempted.

in my test, i defined tasks with priority class: high、middle、low， high-priority tasks may randomly preempt middle-priority or low-priority tasks

#### Why is this needed:

try evict the lowest-priority tasks may has less impact and more acceptable in some case.

In

[2021-06-11 05:13] hwdef opened #1535 "Fix static check errors in the code"
#### What would you like to be added:

Fix static check errors in the code,

#### Why is this needed:

Improve code quality

[code]

[2021-06-11 09:47] umialpha opened #1536 "Reserve on fine-grained level, e.g, cpu, memory, etc."
#### What would you like to be added:
Currently, Volcano reserves resource on node level. However, it causes waste, e.g. Task A requests 20 cores, the best locked node has 30 cores, the remaining 10 cores is not considered until task A is scheduled.
#### Why is this needed:
To improve cluster efficiency.

[2021-06-11 09:47] umialpha commented on #1536
@Thor-wl , could you help on this issue?

[2021-06-15 03:25] Thor-wl commented on #1203
/asign @renhuanyu Please take a look

[2021-06-15 03:33] Thor-wl commented on #1536
I'm OK about it. So let me try to give an optimization design.
/assign @Thor-wl

[2021-06-15 03:55] Thor-wl commented on #1534
Thank you for you feedback.
https://github.com/volcano-sh/volcano/blob/f203e26c357cebdacfe528a2269aeafb6655e418/pkg/scheduler/actions/preempt/preempt.go#L228
Let me debug the ssn.TaskOrderFn function

[2021-06-15 04:18] Thor-wl commented on #1534
Well, after a short discussion, i got your scenario. You want to evict victimsQueue from the lowest priority to highest priority without considering nodes first. Right?

[2021-06-15 04:21] shuaiyy commented on #1534
maybe the problem is  **NodeOrderFn**, i hope node with most low-priority tasks should be selected first in my case.

[2021-06-15 04:32] shuaiyy commented on #1534
yes, i want to find a best node to do preemption,   it should has little higher-priority tasks, cause evict higher priority will pay more  in my scenario.

[2021-06-15 06:26] Thor-wl commented on #1534
Got it. Sounds reasonable. Let me take a discussion in the community.

[2021-06-15 09:04] shuaiyy commented on #1534
thank you ！
it seems add a **NodeOrderFn** may work in the preemption， but it will also affect the allocation.

the preemption Strategy should be Configurable，on node level and task level，maybe：
the least victim; the lowest priority victim; default/random or other things;

[2021-06-15 09:15] igormishsky commented on #1091
Any update?

[2021-06-15 10:26] zhaoyunlong8803 opened #1538 "About Spark on Volcano performance test , Volcano-Scheduler not working"
Hello, I am doing some research about Volcano.

**What happened**

- Spark on Volcano performance test with [TCP-DS benchmark model](https://github.com/aws-samples/eks-spark-benchmark/tree/master/benchmark), not match the result as the pdf (volcano/docs/Volcano - A Kubernetes Native Batch System.pdf).
- When use Spark with Volcano, how should I set to Volcano to improve Spark performance?
- My Res

[2021-06-16 04:31] umialpha opened #1539 "Preemptable function select intersection of each plugin, which does not align with default scheduler."
**What happened**:
Preemptable function select intersection of each plugin, it does not behave as expected, here is an example.

scheduler configMap is as follows,
[code]
There are two pods PodA(req: 1core) and PodB(req: 0.5core), and a NodeN(1 core), where

- PodA.Priority > PodB.Priority
- PodA.DRF > PodB.DRF.
- PodB is running on NodeN.

When PodB is running on Node, PodA is supposed to preempt

[2021-06-16 06:47] Thor-wl commented on #1155
This feature has already been supported: https://github.com/volcano-sh/volcano/pull/1444

[2021-06-16 06:47] #1155 closed

[2021-06-16 07:16] Thor-wl commented on #1534
Good advice. After a review with other members yesterday, we all think you are right. And i decide to reconstruct the logic recently. Thanks again!
/assign @Thor-wl

[2021-06-16 07:17] shinytang6 commented on #1533
So maybe `addTask` should not skip terminated pods and still add it to cache.

[2021-06-16 09:28] Thor-wl commented on #1091
Sorry for the slow process. We've recognised some other conflicts and bugs between preemt and other plugins such as proportion. We are discussing to take them as a whole to consider and reconstruct related logic. Recent discussion such as https://github.com/volcano-sh/volcano/issues/1534

[2021-06-16 09:32] #1330 closed

[2021-06-16 09:44] shinytang6 commented on #1539
The configuration needs to be intersection under the same tier (all plugins need to satisfied), you can try to configure to a different tier, it can also solve your problem.

But of course, the documentation for plugin arguments is indeed missing.

[2021-06-16 10:44] shinytang6 commented on #1525
A collection of typical problems:

Less function logic bug: https://github.com/volcano-sh/volcano/issues/1036
If a resource (Except CPU and mem) doesn't configure in queue capability, it will be seen as Zero in resources comparation: https://github.com/volcano-sh/volcano/issues/1485
when one resource(GPU) is overused in queue, other resources (CPU) instances in the queue cannot be scheduled: https

[2021-06-16 11:58] umialpha commented on #1539
@shinytang6 thanks, it solves my problem. Indeed, I do not know the usage of tiers until now. BTW, `TaskOrder` cannot solve my problem because if plugins ties two task, `TaskOrder` select one by creationTime or even UID.

[2021-06-16 12:31] shinytang6 commented on #1539
Suppose you configure multiple tiers, if the previous tier produces a result, it will return in advance and not pass all the tiers.

[2021-06-17 02:09] brucexyz1234 opened #1542 "K8s Deployment resource request exceed Queue capability still can be scheduled"
**What happened**:
when K8s Deployment resource request exceed Queue capability , the deployment still can be scheduled by volcano

1. queue
spec:
  capability:
    cpu: "1"
    memory: "1024Mi"
2. deployment
  request:
    cpu: "2"
    memory: "2048Mi"

**What you expected to happen**:

deployment exceed the queue capability, should not be scheduled by volcano

**How to reproduce it (as minimally

[2021-06-17 02:57] Thor-wl commented on #1542
Thanks for your report! The root reason is minsource in podgroup for deployment is `nil`, which takes no share of queue capability. I'll try to fix it.

[2021-06-17 03:45] jasonliu747 opened #1543 "Add jasonliu747 into volcano organization"
Invited by @Thor-wl , I would like to join this community to contribute more exciting feature.

[2021-06-17 03:46] Thor-wl commented on #1543
Great! Welcome to the world of Volcano!

[2021-06-17 06:24] jasonliu747 commented on #1543
Done, thanks. @Thor-wl @k82cn

[2021-06-17 06:24] #1543 closed

[2021-06-17 06:49] shinytang6 commented on #1543
welcome 👦

[2021-06-17 06:56] jasonliu747 commented on #1543
唐总好！

[2021-06-17 07:02] Thor-wl commented on #1514
refer: https://github.com/volcano-sh/volcano/pull/1515

[2021-06-17 07:02] #1514 closed

[2021-06-17 07:04] Thor-wl commented on #1518
Perhaps what users need is the state transition diagram for job and podgroup

[2021-06-17 07:05] shinytang6 commented on #1372
added in https://github.com/volcano-sh/volcano/pull/1375
/close

[2021-06-17 12:41] brucexyz1234 opened #1545 "when edit deploy to change the deployment replica from 1 to 10, the new pods pending"
**What happened**:
when edit deploy to change the deployment replica from 1 to  10, the new pods pending,

when I edit another deployment replica from 1 to 10,

then, all pods of these 2 deployment got scheduled and running again, amazing.

**What you expected to happen**:

either these 2 deployment pods got pending due to no node available
or the first deployment pods got scheduled  at the first

[2021-06-18 03:14] Thor-wl commented on #1376
ref: https://github.com/volcano-sh/federation

[2021-06-18 03:50] #1539 closed

[2021-06-19 08:46] zishen opened #1548 "v1.3.0 has no "volcano.sh/apis/pkg/apis/""
Maybe a bug.

**What happened**:
When I  build v1.3.0, the volcano.sh/apis/pkg/apis/ is missing.
The screenshot is flowed：
v1.2.0:
![1 2 0版本存在](https://user-images.githubusercontent.com/7522079/122636790-ab1d1a00-d11d-11eb-9caa-5de4cd734faa.PNG)
v1.3.0
![1 3 0版本不存在](https://user-images.githubusercontent.com/7522079/122636782-9fc9ee80-d11d-11eb-899e-71f84ff34b47.PNG)
v1.3.0
build error：
![1 3 0版本不存

[2021-06-19 08:49] shinytang6 commented on #1548
In release v1.3, api def is moved to https://github.com/volcano-sh/apis

[2021-06-19 08:55] zishen commented on #1548
oh,my God.
I use so file. So my so while not support after v.1.2.0.

And volcano need change pod_group_info.go to make it build successfull.

[2021-06-19 12:13] shinytang6 commented on #1548
Can you describe more specifically? https://github.com/volcano-sh/apis is referenced by gomod, it seems that you are not using gomod in your IDE.

[2021-06-20 10:50] #1231 closed

[2021-06-21 02:24] hacker-qian opened #1549 "considering the node occupying in queue scheduling"
In cluster, a user may occupy a node by setting taints. However, when a low-level queue (weight:10) user occupy a node，and high-level queue（weight:10240）users have pending jobs, the low-level user still cannot sched their jobs to their occupied node.

[2021-06-21 03:03] hwdef commented on #1532
@k82cn

I read some of the volcano code and I noticed that volcano doesn't seem to have a global queue internally. Each action has a heap of its own, so is there any way we can get a global queue that indicates how jobs are queued?

[2021-06-21 03:13] Thor-wl commented on #1532
Not yet. You can list all podgroups and get the status.

[2021-06-21 03:16] hwdef commented on #1532
@Thor-wl

But the podgroup obtained in this way does not have a scheduling order, and does not know which podgroup should be scheduled next

[2021-06-21 06:20] k82cn commented on #1532
nop, different queue may also have algorithm to do the scheduling; it's hard to have a global queue for that.

[2021-06-21 07:45] hwdef commented on #1532
I see, it seems that this function is very difficult to implement. So I close this issue. Thank you very much

[2021-06-21 07:45] #1532 closed

[2021-06-21 09:45] Thor-wl commented on #1466
fix: https://github.com/volcano-sh/volcano/pull/1540/files

[2021-06-21 09:45] #1466 closed

[2021-06-21 09:45] Thor-wl commented on #1373
fix: https://github.com/volcano-sh/volcano/pull/1540/files

[2021-06-21 09:45] #1373 closed

[2021-06-21 11:31] dipanjank opened #1551 "How to support Spark dynamic allocation scaledown?"
Is there a (programmatic) way to kill a specific replica (say replica #2 of 4) within a task managed by volcano?

The context is that my team at work is building volcano support in Spark (https://issues.apache.org/jira/browse/SPARK-35623). When dynamic allocation is enabled, spark adjusts the number of executors depending on how many Spark tasks can be allocated on the currently running executor.

[2021-06-21 11:54] Thor-wl commented on #1461
I think it is the same reason with https://github.com/volcano-sh/volcano/issues/1485

[2021-06-21 11:55] Thor-wl commented on #1461
fix: https://github.com/volcano-sh/volcano/pull/1550

[2021-06-21 23:09] k82cn commented on #1551
@dipanjank that's interesting, I'd like to work with you on that :)

[2021-06-22 01:00] Thor-wl commented on #1548
/bug cancel

[2021-06-22 01:01] Thor-wl commented on #1548
It's not a bug and you can get volcano.sh/apis in vendor