[2019-12-19 06:01] hzxuzhonghu commented on #361
This is done.

[2019-12-19 06:01] #361 closed

[2019-12-19 06:12] hzxuzhonghu commented on #318
Where do you think we should put the notes?

[2019-12-19 07:12] sivanzcw commented on #377
#538 will resolve the issue

[2019-12-19 09:59] jianxingzhe opened #628 "volcano-scheduler start failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when deploy volcano witeh the installer/volcano-deployment.yaml, the vocano-shceduler start failed, the logs as follows:
[code]
root@paas-operator-0:~# kubectl  get Job -n nzk
No resources found.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-12-19 11:19] hzxuzhonghu commented on #628
It seems that when Enqueue action executes, the `job.PodGroup` is still not populated. This is a bug.

/kind bug

/area scheduler

[2019-12-19 11:45] k82cn commented on #628
/area scheduling
/priority important-soon

[2019-12-19 12:53] zionwu opened #629 "Process only one task of jobs in reclaim action"
I am using reclaim action and notice that it will only process only one task of jobs:
https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/actions/reclaim/reclaim.go#L107
[code]
The above code is to find one task from the `job` and use it to reclaim resources. However, the `job` is not pushed back to `jobs`(the priority queue) so it will not be processed again.

I wonder if this behavio

[2019-12-20 01:46] k82cn commented on #629
I think we should put task back to the queue :)

btw, what's your use case for reclaim?

[2019-12-20 01:47] k82cn commented on #629
/area scheduling
/kind bug
/priority important-soon

[2019-12-20 06:06] k82cn commented on #318
let's create a doc named `known-issues.md`.

[2019-12-20 06:07] #377 closed

[2019-12-20 06:37] zionwu commented on #629
@k82cn, thank you for the quick reply.
My use case is as follow:
we have two queues, one for high priority jobs like production training job, another for low priority jobs like testing training job. If the queue for production is running out of resource, we want to reclaim resource from the queue for testing.

Another question about reclaim is why we push the `queue` back to `queues` only when `as

[2019-12-20 08:29] Rui-Tang commented on #624
Hi, I found two relevent projects.
https://github.com/AliyunContainerService/gpushare-device-plugin
https://github.com/AliyunContainerService/gpushare-scheduler-extender

[2019-12-20 08:30] Rui-Tang commented on #624
These two projects share GPU by sharing GPU memory

[2019-12-20 08:31] Rui-Tang commented on #623
I found one relevent project on this year's google summer of code project.
https://summerofcode.withgoogle.com/archive/2019/projects/6336863634194432/

[2019-12-20 08:36] carmark commented on #623
@k82cn @Rui-Tang You may refer [this project](https://github.com/gpucloud/k8s-device-plugin/tree/master/docs) as a example.

[2019-12-20 09:29] k82cn commented on #629
If we did not assign any resource in this loop, that means there's no resource for it; so will not consider it in next loop.

[2019-12-20 09:29] wzdnzd commented on #604
Hi, @k82cn  I have the same problem even though I created it under the same namespace.
+ YAML
[code]
+ PodGroup Status
[code]
+ Pod Status
[code]
+ Vocalno Controller's Log
[code]
+ Vocalno Scheduler's Log
[code]

[2019-12-20 10:12] zionwu commented on #629
If `assigned` is false,  it means there is no resource for the task of the job, but it doesn't mean there is no resource for the task of other job in the same queue.  For example, if queue A have job1 and job2. If task of job1 failed to reclaim, we should not consider job1 again, but we should consider job2. Therefore we need to put queue A back to the priority queue.

Does it make sense to you?

[2019-12-23 02:54] k82cn commented on #629
yes, that makes more sense :)

[2019-12-23 02:54] k82cn commented on #629
fixed by #631

[2019-12-23 02:54] #629 closed

[2019-12-24 06:11] k82cn opened #635 "Release v0.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

We'd like to have v0.3 release this week, this issue is used to trace all related items for the release.

- [x] cut branch (release-0.3)
- [x] change log
- [x] publish docker images
- [x] publish packages

[2019-12-24 06:11] k82cn commented on #635
/assign @hzxuzhonghu

[2019-12-24 06:11] k82cn commented on #318
@hzxuzhonghu , how about the known-issues?

[2019-12-24 06:15] k82cn commented on #628
@jianxingzhe , what kind of workload did you submit to volcano? could you share the yaml file?

[2019-12-24 06:19] k82cn commented on #628
@hzxuzhonghu , in `Snapshot` of `cache.go`, we did not return job without `PodGroup`, is there any place we set it back to `nil`?

[2019-12-24 08:07] k82cn commented on #624
I known those two projects, that'll be great if we can build gpushare-scheduler-extender as a plugin of Volcano :)

/cc @cheyang

[2019-12-24 08:08] k82cn commented on #624
and that should be fine to import the code from that repo, similar to what we have done to the algorithm of default scheduler :)

[2019-12-24 08:09] k82cn commented on #623
@carmark , thanks very much for the info :) I'd like to build something based on that example :)

[2019-12-24 08:12] k82cn commented on #624
/kind rfve

[2019-12-24 08:12] k82cn commented on #623
/kind rfve

[2019-12-24 08:13] k82cn commented on #524
/kind rfve

[2019-12-24 09:50] hzxuzhonghu commented on #628
Can you link the lines?

[2019-12-25 03:26] hzxuzhonghu commented on #318
IMO, add a FAQ under https://github.com/volcano-sh/volcano/wiki, and link it to readme is a good choice

[2019-12-25 04:15] k82cn commented on #318
Wiki is ok to me.

[2019-12-25 07:01] hzxuzhonghu commented on #318
Yeah, i have no permission to write anyway

[2019-12-25 13:11] k82cn commented on #318
if so, please create a file for that; we cann-t open permission to everyone.

[2019-12-26 02:19] hzxuzhonghu commented on #635
I can pick up  `publish docker images`, and i donot have permission for the other two.

[2019-12-26 02:21] hzxuzhonghu commented on #628
BTW, i donot think we should leave a critical bug to 0.4, which is 3 months away.

[2019-12-26 02:33] sivanzcw opened #645 "The best-effiort pod should be immediately dispatched ifwithout considering the gang constraints"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Insta

[2019-12-26 02:34] #645 closed

[2019-12-26 02:50] sivanzcw opened #646 "The best-effort pod should be immediately dispatched in allocate function of session , without considering the gang constraint"
/kind bug

Considering the gang constraint in the `backfill` action may cause the job with gang configuration and contains the best-effort pod  to be unscheduled.

In `backfill` action, if task predicated succeed, the scheduler will call `ssn.Allocate` function to dispatch pod

[code]

In `ssn.Allocate` function, only when job of task is ready, can the task be dispatched

[code]

If others pods un

[2019-12-26 02:55] carmark commented on #646
This may make the MPIJob pending when the launcher does not config resource requests/limits.

[2019-12-26 02:55] k82cn commented on #646
/cc @carmark

[2019-12-26 22:05] Jeffwan commented on #624
@k82cn We will probably release a simple vGPU device plugin later. The GPU share idea is pretty straightforward, map physical GPU to virtual GPUs and advertise custom resources to APIServer. Ali's solution need extra extender to handle complex case for multi-GPU nodes. For us, I think we probably ask user only use it on single chip node which simplify the case a lot. I will collect more feedbacks

[2019-12-26 22:08] Jeffwan commented on #623
I was taking days off recently and didn't get a chance to attend the meeting.

Topology Manager integration with device plugin is in the latest kubernetes. Do we plan to leverage this or do something different?
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#device-plugin-integration-with-the-topology-manager

[2019-12-27 01:14] carmark commented on #623
@Jeffwan The official topology manager for Device Plugin is just for the devices with socket information.  But for different devices and topology, we may need more information and more detailed scheduler for better performance, such as GPUs, select the two GPUs in a Socket or in a PIX or in a PHB?

![image](https://user-images.githubusercontent.com/1132167/71495516-3bf89980-2889-11ea-851a-325e3c74

[2019-12-27 01:32] k82cn commented on #624
Are you going to use volcano as default scheduler in your cluster? I'm ok to support extender in volcano :)

[2019-12-27 01:33] k82cn commented on #624
Will you open source it? If so, we'd like to leverage it in volcano :)

[2019-12-27 02:07] jianxingzhe commented on #628
i submit nothing to volcano. when i deploy volcano in my cluster, the scheduler panic.

[2019-12-27 02:46] hzxuzhonghu commented on #628
What's this <nzk/nzkcluster>?

[2019-12-27 02:57] jianxingzhe commented on #628
this is my crd resource, which has already in my cluster befor  deploy volcano.

[code]

[2019-12-27 03:00] silenceli opened #648 "Some questions"
1. What's the different from vcctl and kubectl? why we need vcctl?
2. Why vcctl **only** support queue/job?
3. In master branch install yaml configure file, There are two Queue CRD. Is this duplicate?
4. As the document mentioned, volcano support podgroup/command，I don't know how to create/list/use these CRD resource
5. I don't know why volcano-admission will do something for pod. volcano focus on

[2019-12-27 04:32] Jeffwan commented on #624
I mean on AWS, users can not use scheduler extender since user can not touch default scheduler configs. If volcano provides some scheduling support for custom resources, these users can adopt it as an alternative.

It's in internal discussion and I will try to move it forward asap. What I understand is volcano aims to provides a generic scheduling solution for these kinds of custom resources? Usin

[2019-12-27 04:38] Jeffwan commented on #623
Yeah. It makes sense.

[2019-12-27 06:16] hzxuzhonghu commented on #628
I thought `nzk/nzkcluster` should be a pod with scheduler name set `volcano`, otherwise it should not be watched by volcano

[2019-12-27 06:17] hzxuzhonghu commented on #628
try this ` kubectl get vcjob -n nzk`

[2019-12-27 06:19] k82cn commented on #624
Great! We do need to support gpu share, and that'll be great to be an alternative for your serivce :)

Vocano aimt to be a batch system, similar to Slurm/YARN; we will include more components in this project, including device-plugin if necessary. As we'd like to provides an e2e solution for batch workload :)

[2019-12-27 07:52] hzxuzhonghu opened #649 "Provide another way to sign certificates for volcano admission controller"
/kind feature

Currently, we use this script to create a csr and use kubernetes to sign the certificate,
https://github.com/volcano-sh/volcano/blob/master/installer/dockerfile/webhook-manager/gen-admission-secret.sh

However, there are at least two users reported failure installing volcano with certificate not found. https://volcano-sh.slack.com/archives/CGEDAT353/p1577347378003400, this is mainly

[2019-12-27 07:54] hzxuzhonghu commented on #649
/cc  @RainbowMango

[2019-12-27 07:54] k82cn commented on #649
@hzxuzhonghu , I'd like to know the root cause of the issue? for example, does k8s support current way? how can we sure openssl & cfssl can resolve the problem?

[2019-12-27 07:56] hzxuzhonghu commented on #649
BY the tool, we donot rely on k8s to sign a certificate, so definitely this can be resolved

[2019-12-27 07:57] hzxuzhonghu commented on #649
/cc @nicklhy

[2019-12-27 09:34] umialpha opened #650 "dynamically set tasks' replicas, with the range of [min, max]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Suppose in Tensorflow area, when user submits a distributed Tensorflow job, he must decide the number of workers, and usually set MinAvalible := sum of replicas of tasks.

**What you expected to happen**:
If we can set `replicas` to a range number, e.g. [min, max], we can enhance our scheduling ability.

1. If there are enough resou

[2019-12-27 09:42] umialpha commented on #650
As I know, there are some discussion in Tensorflow project about 'Dynamic workers'.
[https://github.com/tensorflow/tensorflow/issues/11896](url)

[2019-12-27 09:48] k82cn commented on #650
for now, we can set different value to `minAvailable` and `Replicas`: we'll make sure `minAvailable` pods will be started, and the other pods (`replicas - minAvailable`) will be scheduled by fair-share.

[2019-12-27 09:48] k82cn commented on #650
/kind feature
/priority important-soon

[2019-12-27 09:49] k82cn commented on #650
/area scheduling

[2019-12-27 12:20] umialpha commented on #650
yeah, I know this functionality. But it has some gap with my disire. I need all workers starting at the same time, without any worker pending. What I want is that Volcano decide the best number of workers for me. What more, it can change the number dynamically during running time, But it need the job support which is a further topic. What do you think with this feature? I am writing some design do

[2019-12-28 01:32] k82cn commented on #650
@umialpha , that makes sense to me, and I'd like to see the design document :)

[2019-12-29 03:04] jianxingzhe commented on #628
I'm sure there is not a pod with scheduler name set to volcano.  when i delete the ns `nzk`， the volcano scheduler start successfully.

[code]

[2019-12-29 05:37] jianxingzhe commented on #628
in another cluster, i have the same error. i add some logs in volcano scheduler:
[code]

i found the volcano scheduler add some jobs automatically，and theses jobs can not be found  in my cluster.  i  cannot find the code where these jobs were added to the scheduler cache . @hzxuzhonghu

[code]

[2019-12-30 02:32] hzxuzhonghu commented on #628
How did you deploy volcano? And which version do you use?

[2019-12-30 02:59] jianxingzhe commented on #628
@hzxuzhonghu  i  deploy volcano with this yaml file
https://github.com/volcano-sh/volcano/blob/master/installer/volcano-development.yaml

[2019-12-30 03:12] hzxuzhonghu commented on #628
On your own k8s?

[2019-12-30 05:42] jianxingzhe commented on #628
yes, on our dev k8s cluster

[code]

[2019-12-30 06:22] hzxuzhonghu commented on #628
[code]

I am curious what's these jobs are

[2019-12-30 07:22] hzxuzhonghu commented on #648
vcctl is to provide a high level useer tool, actually if you are familiar with `kubectl`, can use it directly.''

Supporting other resources such as podgroup is on schedule, but is low priority

Good catch

let's take queue as an example
running ` kubectl get queues.scheduling.sigs.dev -oyaml`, you can see the output
[code]

And you can see the `shortNames`, and then try kubectl get/create q

[2019-12-30 07:24] hzxuzhonghu commented on #648
It is used to do some validation and defaulting

In the queue API, we now has `Weight` and `Capability`, why this still donot fit for you?

[2019-12-30 12:22] #628 closed

[2020-01-02 05:14] umialpha commented on #650
Hi @k82cn , I would like to discuss some thoughts about this feature.

1. If we set Replicas to the format like `[minReplicas, maxReplicas]` or add something like this , maybe we have to set each task to each PodGroup. We can't ensure each task meets the minReplicas request if all the tasks stay in the same PodGroup.

2. On which level should we bring in the feature, job controller level or schedu

[2020-01-02 06:51] k82cn commented on #650
hm.... we used to consider support different replicas for different tasks; that's ok to support that in this feature. That's ok to have a google doc to identify the final solution :)

IMO, the key part is scheduler :) Suggest to define interface/behavior of scheduler firstly; and then we can update job controller accordingly. That's ok to update job controller, as the overall workflow will be simi

[2020-01-02 07:12] k82cn commented on #530
xref: https://github.com/volcano-sh/volcano/pull/622

[2020-01-02 11:32] xu282934741 opened #657 "how to develop volcano project locally , i import volcano to my goland , but there are all red import error"
<img width="1216" alt="Snipaste_2020-01-02_19-31-28" src="https://user-images.githubusercontent.com/16700458/71665108-88b30780-2d96-11ea-89cb-95b94f0c3316.png">

[2020-01-02 11:55] #657 closed

[2020-01-02 11:55] xu282934741 commented on #657
solved

[2020-01-03 07:33] umialpha commented on #650
Hi @k82cn,
I find something interesting named "Enqueue" Action, focusing on delay pod creation. I think it may help with this feature. But I cannot find clues in volcano project. Has this feature been brought into the project? My thought is as follows:
1. Job Controller creates each PodGroup for each tasks.
2. PodGroup interacts with scheduler to decide how many pods can be created and reserve the

[2020-01-03 08:59] umialpha commented on #469
Hi @y1k333 , I am strongly interesting in your ideas. I have almost the same requirements. Do you have any update? I haven't found any update for dynamically scale tensorflow jobs workers without restarting the process.

[2020-01-05 01:42] k82cn commented on #650
we already have enqueue action in volcano :) I'm thinking to enhance PodGroup to support minAvailable array/map to support different task, as we did not support gang-scheduling cross podgroup :).

[2020-01-05 03:01] k82cn commented on #624
There's a really long discussion in upstream: https://github.com/kubernetes/kubernetes/issues/52757

[2020-01-05 03:04] #621 closed

[2020-01-06 04:27] umialpha commented on #650
Hi @k82cn , correct me if I misunderstand something.
I think if we want to use `Enqueue` feature, we must put `equeue action` before `allocate action` because  `equeue action`  does some pre-filter functions.

However, the design doc [https://github.com/volcano-sh/volcano/blob/master/docs/design/delay-pod-creation.md](url) says it is for delay pod creation. But I think the pods have been already c

[2020-01-06 07:10] sivanzcw commented on #646
closed by #647

[2020-01-06 07:10] #646 closed

[2020-01-06 08:53] umialpha commented on #650
I think it is not hard to implement multi-gang scheduling feature. Here is my thought.

1. Modify `scheduler.api.JobInfo` structure.
- Change `PodGroup` field  to `map[string]*PodGroup` , the key is the name of the PodGroup.
-   Add a field named `MinAvailablePodGroup` with the type of `int` or `string[]`. `int` means the minimum number of PodGroups while `string[]` specifies the names of the `Pod

[2020-01-06 09:43] k82cn commented on #650
The `JobInfo` in scheduler is built from `PodGroup` instead of Volcano Job :)

[2020-01-07 04:08] umialpha commented on #650
Let me clarify my thoughts more specifically.

We could broaden the JobInfo concept to the  group of PodGroups. By default, each PodGroup makes up each JobInfo, if we want to gang `PodGroup`, we have to specify them. let's say,

Because we always want these three groups scheduled together, they can be treated as a whole JobInfo. When meeting `fooGroup1`, we first check whether `fooGroup2` or `fooG

[2020-01-08 01:48] hzxuzhonghu commented on #650
The usability is the main concern. IMO, we donot change anything in PodGroup API. But we can support define multi podgroups cascading for a job. One parent with several subsets.

[2020-01-08 02:54] fengzixu commented on #596
/assign @fengzixu

[2020-01-08 09:30] yuzhaojing opened #662 "Performance problems in bulk scheduling"
/kind feature

When we used volcano for pressure test, we found that pod creation was very slow. Normal build speed is 3ms/pod and 330ms/pod for pressure test.

[2020-01-08 09:32] k82cn commented on #662
/priority important-soon

[2020-01-08 10:59] k82cn commented on #662
fixed by https://github.com/volcano-sh/volcano/pull/663

[2020-01-08 10:59] #662 closed

[2020-01-09 08:11] Jeffwan commented on #650
@umialpha Tensorflow right now doesn't support dynamic training. Do you customize TF to support this or use different framework?

[2020-01-09 08:40] umialpha commented on #650
Hi @Jeffwan , we are trying to customize TF by ourselves. There is some tricky workaround, e.g. reserve the resource, then restart the tf-job from the latest checkpoint. But that is not we want. Besides, volcano does not support `reserve plugins` right now.

Meanwhile, I find pytorch seemly support elastic scaling(https://github.com/pytorch/elastic). I am going to try it on Volcano. But to support

[2020-01-09 08:45] umialpha commented on #650
Hi @hzxuzhonghu , we can make a structure to specify the groups of PodGroups without changing PodGroup API. What's your opinion about my thought of broadening the concept of `JobInfo`?

[2020-01-09 18:37] Jeffwan commented on #650
You can probably check https://github.com/sql-machine-learning/elasticdl This is a pluggable way to get gradients from training workers and then sync to new join members.

Yes. I am actually working on this now, we partner with torch team to give better support elastic job support on EKS (it will work on other k8s distribution as well). I've finished naive way to deploy it on k8s, the second step

[2020-01-09 23:21] Jeffwan opened #665 "Gang is not working if there's resource fragmentation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Assume I have 10 nodes and every node has 6 cpus and 10G memory. Overall, the cluster has 60 cpus and 100G memory. My spark job spec is like this.

[code]
in total, the resources job requested is fewer than cluster available resources, Based on current scheduler code, it's also enqueueable. This pod group has been updated

[2020-01-10 02:06] hzxuzhonghu commented on #665
Even though we can intercept it by enqueue, but we make it by `allocate` action. Isn't that?

[2020-01-10 02:12] hzxuzhonghu commented on #650
SGTM

[2020-01-10 10:14] xiaogaozi commented on #650
As @Jeffwan mentioned, ElasticDL is a great solution for elastic scaling of TensorFlow job. But it doesn't support gang scheduling by now. I've create a issue https://github.com/sql-machine-learning/elasticdl/issues/1626 to ask the maintainer for feature request or integrate with Volcano.

[2020-01-10 17:12] Jeffwan commented on #665
That's true. `allocate` would be easier since it does real scheduling. Based on current code structure, seems `enqueue` is another to add the check, similarly like `ssn.JobEnqueueable` or `pgResource.LessEqual(nodesIdleRes)`. Let me have a double check on the code base.

[2020-01-11 12:33] k82cn commented on #650
I think we can add something like `PodGroupSpec` into `PodGroup`, e.g.

[code]
That's also easier for other components to handle it, e.g. validation in admission , scheduler to build them.

[2020-01-12 02:07] k82cn commented on #665
/area scheduling
/priority important-soon

[2020-01-12 02:55] k82cn commented on #665
`enqueue` is used to avoid creating too many Pods; and that's hard to simulate it before scheduling :)
I think we may check whether the PodGroup is ready after several scheduling cycle or timeout; if it's not "ready" for a long time, restart it by PodGroup controller.

[2020-01-16 03:30] yujiantao commented on #308
Organization: Shareit
Environment: Evaluation
Contact: @yujiantao
Description of Use: Spark on K8s

[2020-01-20 02:21] k82cn commented on #650
@xiaogaozi , @Jeffwan  is `subGroups` ok for you? If that's ok, I think we can start design doc for more detail.

[2020-01-20 03:18] xiaogaozi commented on #650
May I ask, what case `subGroups` design for?

In our case, the TF job is running in parameter server mode (i.e. there're worker and PS pods). The worker pod could be stateless, but the PS pod will always stateful. So we could scale worker pods easily. Specifically we define the `min` and `max` number of worker pods (number of PS pods is fixed). Then Volcano decide how many worker pods could run fo

[2020-01-20 07:05] umialpha commented on #650
Hi @k82cn , I am actually working on this feature. But I start to doubt its necessity. I can set different priorities for different tasks, e.g. if I need 1 PS pod and [4, 10] workers, I can set high priority for PS task and low priority for worker task, in this way, I can ensure that if 5 pods are running, there must be 1 ps worker.
Could you please explain more about other user cases for this fea

[2020-01-20 07:19] umialpha commented on #650
@Jeffwan Do you have any open-source plan on your project?

[2020-01-20 10:31] umialpha opened #674 "Gang of JobInfos design doc"
Gang of PodGroup

**Function detail**

**New API Object Struct**

[code]

**YAML DEF**

[code]

**Interaction**
    **allocate**
    Currently the allocate flow is as follows.
    Namespace -> Queue -> Job -> Task.
    If GangPodGroup is brought in, the flow will be changed to
    Namespace -> Queue -> **GangJobInfo** -> Job -> Task.

    pseudo-code

        for {
            if namespaces.empty(

[2020-01-20 22:26] Jeffwan commented on #650
Operator POC is almost done and I will submit the operator doc for review this week. For the scheduling challenges, I have not started yet. Watching this issue an considering good solutions now.

[2020-01-20 22:33] Jeffwan commented on #624
That's true. Our solution is based on https://github.com/kubernetes/kubernetes/issues/52757#issuecomment-402772200

[2020-01-22 02:29] k82cn commented on #674
/kind feature
/priority important-soon
/area scheduling

[2020-01-22 02:30] k82cn commented on #674
Prefer to add `subGroups` section to `PodGroup` instead of a new kind :)

[2020-01-22 03:35] umialpha commented on #674
It's ok for me to use `subGroups`. I use a new kind only for feature extend.
What your opinion for the rest part?  especially the `allocate` action part.

[2020-01-22 12:00] k82cn commented on #674
the other part seems good :)

[2020-01-27 10:33] k82cn opened #679 "Job can not create Pods if submitted by vsub"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/priority important-soon
/area scheduling
/area cli
/area controller

**What happened**:

If creating a volcano job with `vsub`, there's no pending pods for the job.

[2020-01-27 10:34] k82cn commented on #679
xref https://github.com/volcano-sh/volcano/issues/595

[2020-01-27 10:36] k82cn commented on #318
@hzxuzhonghu , what's next step? This's there for a long time.

[2020-01-28 03:55] k82cn opened #680 "Event/Action should be shared by Job & Queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

Currently, we have JobEvent/QueueEvent, JobAction/QueueAction, but most of them are similar. prefer to combine them into Event/Action to avoid duplication.

[2020-01-28 03:58] #635 closed

[2020-01-28 04:01] k82cn commented on #674
btw, please help to create an design doc in [docs/design](https://github.com/volcano-sh/volcano/tree/master/) :)

[2020-01-28 08:47] k82cn commented on #680
fixed by #681

[2020-01-28 08:47] #680 closed

[2020-01-31 09:10] k82cn opened #684 "Set Queue's state to Open focefully during creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Set Queue's state to Open forcefully during creation, it should not accept customized.

[2020-01-31 12:08] #684 closed

[2020-02-02 15:55] k82cn opened #686 "Upgrade k8s to 1.15+"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

It's better to upgrade k8s to 1.15+ according to https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/rJ5KQOs0u_8

[2020-02-02 15:56] k82cn commented on #686
/priority important-soon

[2020-02-03 02:08] k82cn commented on #686
/cc @sivanzcw

[2020-02-04 02:02] k82cn commented on #674
@umialpha , are you working on this ?

[2020-02-04 03:19] k82cn opened #688 "RFVE: time based fair-sharing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area scheduling
/priority important-soon

**Description**:

Currently, the scheduler does fair-scheduling based on the snapshot of cluster in **one** scheduling cycle which may make it unfair to multiple users in **several** scheduling cycle. This RFVE would like to have a scheduling algorithm to do fair-sharing cross scheduling cycles.

[2020-02-04 07:35] #402 closed

[2020-02-04 07:38] hzxuzhonghu commented on #353
i think this is fixed by #478

[2020-02-04 07:38] #353 closed

[2020-02-04 14:58] #686 closed

[2020-02-04 16:24] umialpha commented on #674
yep, I was on Spring Festival and come back to work today. I will continue
my work :)

Klaus Ma <notifications@github.com>

[2020-02-06 08:11] umialpha commented on #674
update:
I just finish the main logic. I am working on the unit test, e2e test, design doc.

[2020-02-06 15:41] groszewn opened #691 "Handle coscheduling with cluster-autoscaler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

As is referenced in the [docs](https://volcano.sh/docs/scheduler-pod-group-status/#cluster-autoscale), the scheduler doesn't currently work well when the cluster-autoscaler is used.  The exception thrown is

[code]

As can be seen in the exception, the cluster has not yet scaled to meet the resource requests to move

[2020-02-06 17:25] k82cn commented on #691
/cc @thandayuthapani

[2020-02-07 09:31] k82cn opened #692 "Remove scheduling.v1alpha1 and scheduling.v1alpha2 API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we have three versions of scheduling CRDs: `scheduling.sigs.dev/v1alpha2`, `scheduling.incubator.k8s.io/v1alpha1` and `scheduling.volcano.sh/v1beta1`; that makes us hard to maintain those API in components.

So I'd like to **REMOVE** `scheduling.sigs.dev/v1alpha2`, `scheduling.incubator.k8s.io/v1alpha1` and

[2020-02-07 10:27] k82cn commented on #692
/assign @thandayuthapani

@thandayuthapani , would you help on this one?

[2020-02-07 10:28] k82cn commented on #692
/cc @hzxuzhonghu , please work with @thandayuthapani on this one :)

[2020-02-07 15:29] thandayuthapani commented on #692
Yes @k82cn. I will work on this weekend for this issue.

[2020-02-08 02:48] k82cn commented on #691
/assign

[2020-02-08 02:49] #692 closed

[2020-02-09 04:09] k82cn opened #696 "RFVE: Add capacity plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area scheduling
/priority important-soon
/assign

**Description**:

Currently, we support `enqueue` action to control the capacity of queue and cluster; it's better to move this checking into plugin by `EnqueueableFn`. And we will add more features into the capacity plugin, e.g. threshold on borrowing and lending. The potential feature

[2020-02-10 03:04] hzxuzhonghu commented on #692
Doesn't this make volcano incompatible?

[2020-02-10 08:06] k82cn opened #699 "Add mutating admission controller for multi-scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/kind rfve
/area webhooks
/priority important-soon

**Description**:

For a hosted environment, it's hard to modify the configuration of a scheduler; so when deploying volcano, it's hard for user to resolve resource conflict for default scheduler and volcano scheduler.

One of solution is to add an admission controller to modify Pod's no

[2020-02-10 08:07] k82cn commented on #699
In this scenario, default scheduler is considered as an bootstrap scheduler, which start other scheduler or add-ons.

[2020-02-10 08:18] zionwu commented on #696
@k82cn Currently the capacity of the queue is the resource limit for it. In our use case, we want to have the resource request for the queue, which is the guaranteed resource for the queue.  With the capacity and the request,  the scheduler can have similar behavior as the YARN Capacity scheduler:
- The sum of request resource of all queues should be less or equal to the resource of the cluster.
-

[2020-02-10 09:16] k82cn opened #700 "Support environments or config for common args in CLI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area cli
/priority important-soon

**Description**:

Currently, we support several common arguments for command lines, e.g. `--scheduler-name`, `--master`. It's better to have a way to avoid adding those common arguments every-time.

[2020-02-10 09:59] k82cn commented on #696
hm..., did more investigation recently: I think the `proportion` is similar to `capacity` scheduler, the capacity of each queue is `weight / sum of all weight`, and we already support reclaim between queue based on sharing. I'll add a design document to on what we have and what we miss; and plan related features to enhance that.

BTW, I'm thinking to rename `proportion` to `capacity` to make is ea

[2020-02-10 10:02] k82cn commented on #700
/cc @thandayuthapani , please also help on this one when you have time :)

[2020-02-10 10:13] k82cn commented on #679
fixed by https://github.com/volcano-sh/volcano/issues/692

[2020-02-10 10:13] #679 closed

[2020-02-10 10:14] k82cn commented on #596
@fengzixu , are you still working on this issue?

[2020-02-10 10:15] k82cn commented on #543
/cc @hzxuzhonghu ,  please help to check whether this one is merged :)

[2020-02-10 10:16] k82cn commented on #649
what''s next steps?

[2020-02-10 12:05] fengzixu commented on #596
@k82cn sorry for a little busy recently. I will do it next week. Is it ok?

[2020-02-10 13:08] zionwu commented on #696
Great, I got it,  thank you!

[2020-02-11 01:45] hzxuzhonghu commented on #649
@RainbowMango Are you still interested in this ？

[2020-02-11 03:50] #543 closed

[2020-02-11 08:00] k82cn commented on #699
/cc @hzxuzhonghu , please help on this one when you have time :)

[2020-02-13 05:11] k82cn commented on #699
/cc @suigh

[2020-02-13 06:55] k82cn commented on #524
xef https://github.com/cncf/soc#enhance-volcano-scheduler-to-support-virtual-kubelet

[2020-02-17 08:41] hzxuzhonghu commented on #604
This can be closed because of the pod delay creation.

/close

[2020-02-17 08:41] #604 closed

[2020-02-17 10:36] EDGsheryl opened #704 "Generate CA ERROR"
./gen-admission-secret.sh can not generate an expect result.

![image](https://user-images.githubusercontent.com/24578192/74645819-95a78100-51b3-11ea-82a2-15a523b05c7b.png)

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I use `kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml` to deploy a volcano server i

[2020-02-18 01:09] k82cn commented on #704
thanks for your input :)

/cc @hzxuzhonghu

[2020-02-18 03:55] k82cn opened #705 "Add command argument for vsub"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area cli

**Description**:

It's better to introduce a new argument, e.g. `-c --command` for `vsub` to set execution command of container.

[2020-02-18 03:55] k82cn commented on #705
/priority important-soon

[2020-02-18 04:08] k82cn commented on #705
/cc @jiangkaihua

[2020-02-19 02:59] hzxuzhonghu commented on #704
installer/dockerfile/webhook-manager/gen-admission-secret.sh This is the install script.
We use k8s to sign the certificates, mostly the failure is because of your k8s cluster not configured well. We have investigated with a guy from Unisound, who met the same issue.

And we plan to provide another way to provide certificates: https://github.com/volcano-sh/volcano/issues/649

[2020-02-19 03:09] k82cn commented on #704
When can we get this handled?

[2020-02-19 03:14] #705 closed

[2020-02-19 05:15] #704 closed

[2020-02-21 01:54] Eo300 commented on #635
Within the page of [Release v0.3](https://github.com/volcano-sh/volcano/releases/tag/v0.3), a tarball like those present in versions [v0.1](https://github.com/volcano-sh/volcano/releases/tag/v0.1) and [v0.2](https://github.com/volcano-sh/volcano/releases/tag/v0.2) seems to be missing.  Is this intentional?

I ask because downloading the source files present and using the installation helm chart do

[2020-02-21 03:15] wzxJayce opened #711 "error syncing tfjob: admission webhook "validatepod.volcano.sh" denied the request: failed to get PodGroup for pod"
**BUG REPORT**:

**What happened**:
When I run jobs with gang-scheduling,  I got these log from tf-job-operater.
[code]

**What you expected to happen**:
Scheduling my tfjob to node.

My cluster have generator podgroups.
[code]
tfjob state is empty.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
- Deploy tf-operator in your cluster
- Deploy vocano
- [As this do]([https:/

[2020-02-21 03:40] hzxuzhonghu commented on #711
`kubectl get podgroup -n aios -oyaml` I doubt this is because of the podgroup version change recently

[code]

[2020-02-21 04:17] k82cn commented on #711
User's volcano version is 3.0 :)

[2020-02-21 04:21] k82cn commented on #711
@wzxJayce , according to your log, it seems you're using master branch of Volcano ?

[2020-02-21 05:50] k82cn commented on #635
@Eo300 , thanks very much for your input! That's right, we should update version to 0.3 in installer. I'll open an PR for it.

[2020-02-21 05:51] k82cn commented on #635
Meanwhile, please modify `installer/helm/chart/volcano/values.yaml` to set `image_tag_version` to `v0.3` manually.

[2020-02-21 05:53] k82cn opened #713 "Update version to 0.3 in release-0.3 helm chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In branch `release-0.3`, the version of helm chart is still `latest`; we should update it to `v0.3`.

[2020-02-21 05:53] k82cn commented on #713
/cc @hzxuzhonghu

[2020-02-21 06:05] wzxJayce commented on #711
I just deploy volcano by:
[code]

Is this wrong?  Does this deployment  use master branch of Volcano ?

[2020-02-21 06:10] wzxJayce commented on #711
Yes, I fount this func but I don't know how to fix it?
Is it wrong Volcano version that I have deployed?

[2020-02-21 06:15] wzxJayce commented on #711
I got it. I will try to deploy again by version 0.3 of Volcano. Thank you~

[2020-02-21 06:43] wzxJayce commented on #711
@k82cn @hzxuzhonghu
Hi , I deploy v0.3 Volcano In my cluster, but I still get the same problem.   I test to create tfjob in the same namespace with volcano(volcano-system), but it didn't work with the same error.  Hope for your reply.

**Result **
[code]

[code]

**How I deploy Volcano**
[code]

[2020-02-21 06:53] k82cn commented on #711
@wzxJayce , `deployment.yaml` still use latest version :(
I'll open PR to handle that. For your test, please update image version manually as temp solution.

[2020-02-21 07:29] wzxJayce commented on #711
@k82cn
Does you mean `volcano-deployment.yaml`?  I found all image tag is latest, which tag should to be good?

[2020-02-21 08:29] wzxJayce commented on #711
@k82cn
Got it from docker hub . Thank you !

[2020-02-22 06:34] k82cn commented on #711
Opened https://github.com/volcano-sh/volcano/pull/716 , https://github.com/volcano-sh/volcano/pull/714 and https://github.com/volcano-sh/volcano/pull/717 to handle this issue :)

[2020-02-22 14:14] k82cn opened #718 "RFVE: Support ArrayJob"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area controllers
/priority important-soon

**Description**:

ArrayJob is widely used in batch system, e.g. Slurm; we'd like to support ArrayJob for HPC workloads.

xref: https://slurm.schedmd.com/job_array.html

[2020-02-22 14:25] k82cn opened #719 "RFVE: Support Job dependency"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/kind rfve
/area controllers
/area scheduler
/priority important-soon

**Description**:

Job dependency is a common requirement for HPC job, we'd like to support it ASAP :)

[2020-02-26 08:54] nicklhy opened #721 "optimize the pod postfix naming style to make its length shorter"
/kind feature

**What happened**:
I just upgrade volcano from v0.2 to the latest master branch (by executing `kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml
`). However, I soon noticed some of my previous model training yaml files can not be launched successfully now. By executing `kubectl describe jobs.batch.volcano.sh -n mdt ${JobN

[2020-02-26 12:36] hzxuzhonghu commented on #721
/kind bug

[2020-02-26 12:50] hzxuzhonghu commented on #721
I donot remember gen so many random strs, could you please provide your job yaml?

[2020-02-26 12:52] hzxuzhonghu commented on #721
IC, you used the ssh plugin
[code]

Whatever, we should validate this

[2020-02-26 15:21] k82cn commented on #721
We should find another way to generate its name :)

[2020-02-27 10:21] zionwu opened #724 "Reclaim action should consider node.FutureIdle"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
In the current implementation of reclaim action, it compares the sum of  `Resreq` of the victims to the `resreq` of the reclaimer to check if the node has enough resource for it：
https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/actions/reclaim/reclaim.go#L161
[code]
However, the node.FutureIdle() should be

[2020-03-01 02:58] merryzhou opened #727 "pod status of tfjob always pending after #693"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
we use volcano to schedule tfjobs, but all pods status are always pending, after some research ,we found that in #693： volcano no longer support scheduling.v1alpha1 and scheduling.v1alpha2 API。
but podgroup created by tf-operator is  scheduling.v1alpha1 version

so will volcano no longer compatible with tfjobs?

**What yo

[2020-03-01 09:55] k82cn commented on #727
We'll continue to support tfjobs: for current tfjobs, it's better to use volcano:0.3, and we'll raise PR in tf-operator to correct that.

[2020-03-01 09:55] k82cn commented on #727
/cc @hzxuzhonghu , please help to raise a PR in kubeflow/tf-operator for that.

[2020-03-01 12:39] YuxiJin-tobeyjin commented on #727
Not only tf-operator, other operators such as pytorch-operator, mpi-operator all have  the same problems.

[2020-03-04 01:51] k82cn commented on #724
fixed by #725

[2020-03-04 01:51] #724 closed

[2020-03-04 01:51] k82cn commented on #721
fixed by https://github.com/volcano-sh/volcano/pull/726

[2020-03-04 01:51] #721 closed

[2020-03-04 13:35] sivanzcw opened #730 "Is it reasonable to finish the scheduling of job when task of the job with higher priority predicated failed"
The `allocate` action schedules tasks under the job in order according to the priority of task. If a task scheduled failed for node predicate failure, the scheduling loop for the job will terminate. This may cause that the scheduling failure of higher priority pod blocks the schedule of lower priority pod at the `job` level.

[code]

[2020-03-05 00:51] k82cn commented on #730
That's expected; we need to make sure high priority pods are scheduled firstly. We will add more attributes for that, e.g. minAvailable for different tasks.

[2020-03-11 09:29] carmark opened #734 "Support preempt for batch job"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind feature

**What happened**:

batch job cannot be preempted

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version: master
- Kubernetes version (use `kubectl version`): any
- Cloud provider or hardware configuration: lo

[2020-03-11 10:54] k82cn opened #735 "cherry-pick kubernetes-sigs/kube-batch#917"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area scheduler

**Description**:

cherry-pick https://github.com/kubernetes-sigs/kube-batch/pull/917 for most requested prioritize feature.

[2020-03-12 08:25] jiangkaihua opened #737 "Design new command lines for Volcano."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**:
By now the command line 'vcctl' is split into simple commands, like `vjob`, `vsub`, `vadmin`, etc. What else commands do we need to make it simpler in use?

[Design docs](https://github.com/volcano-sh/volcano/blob/master/docs/design/command-line-enhancement.md)

[2020-03-12 10:31] k82cn commented on #735
/cc @jiangkaihua , please help on this one :)

[2020-03-12 11:27] silenceli opened #740 "vcjob should store err_msg and set it's status to failed when it's task failed"
Launch one vcjob with only one task. If the task failed(OOM or some other reason)，we can find the failure reason from the pod but could't from the vcjob.

I think vcjob should collect the tasks belong to is finished or failed and what's the failure reason when tasks failed. If one of task is failed and user set restartpolicy is False, I think the status of vcjob should be **FAILED** instead of "Co

[2020-03-13 04:15] xiaogaozi commented on #624
https://github.com/kubernetes/kubernetes/issues/52757#issuecomment-596104168 provide a new solution from Tencent Cloud team

[2020-03-22 13:30] k82cn commented on #740
@hzxuzhonghu , would you help on this one?

[2020-03-23 01:06] hzxuzhonghu commented on #740
/assign

[2020-03-23 09:06] silenceli opened #743 "vcjob should not set deleted state before all it's tasks still exists"
Hi, this maybe a bug.

## problem
I list-and-watch vcjob url to monitor vcjob status changes, when I delete vcjob, I got the DELETED action message quickly. At the same time, the pods belong to this vcjob is still exist(in terminating status). The pods will still use the CPU/GPU/MEM resources, but volcano is already release the `used resources`.

I think this is a serious problem because it leads

[2020-03-23 09:15] hzxuzhonghu commented on #743
This aligns with k8s resource delete behavior like deployment. I think one way is to do “Foreground” deletion.

[2020-03-23 09:19] hzxuzhonghu commented on #649
This is done in #709

[2020-03-23 09:19] #649 closed

[2020-03-23 09:20] hzxuzhonghu commented on #619
This not make sense

[2020-03-23 09:20] #619 closed

[2020-03-23 09:23] hzxuzhonghu commented on #318
Volcano Job update should be prohibited when it is running, however, when it is pending, we can allow update.  The intercept can be done in admission webhook.

[2020-03-24 02:23] silenceli commented on #743
Thank you! I will try “Foreground” deletion.

[2020-03-24 02:39] silenceli commented on #743
[code]

Add these params when delete can solve my problem, thanks！

[2020-03-24 02:40] #743 closed

[2020-03-24 02:40] silenceli commented on #743
more info see:

https://kubernetes.io/zh/docs/concepts/workloads/controllers/garbage-collection/

[2020-03-24 03:09] carmark commented on #737
shall the command line follow  slurm or lsf?

[2020-03-24 03:17] jiangkaihua commented on #737
I think so, the format of slurm/LSF command lines are familiar to k8s users, like `srun` and `brun`, so a similar cmd `vrun` will be easily understood and in use.

[2020-03-24 03:26] carmark commented on #734
any update?

[2020-03-24 08:32] tizhou86 opened #744 "Feature Request: Natively support GPU and KunLun chip support in Volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Currently Volcano don't support GPU sharing and KunLun chip support, we need to implement it for Baidu to use Volcano in production.

**What you expected to happen**:

Baidu need to natively support GPU sharing and KunLun chip support in Volcano for production usage.

**How to reproduce it (as minimally and precisely as possible)**

[2020-03-25 00:26] k82cn commented on #734
/assign

I'll take some time on this one :)

[2020-03-25 01:49] hzxuzhonghu commented on #529
/close

[2020-03-25 01:49] #529 closed

[2020-03-25 15:04] #740 closed

[2020-03-26 06:06] xiaogaozi opened #748 "Feature Request: Need a mechanism to avoid starvation (obey job priority)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In a share cluster may mixed with different type jobs, e.g. high priority job, low priority job. User always expect high priority job be scheduled first. But in some case when there are insufficient resources could be allocated to high priority job, Volcano scheduler will ignore this job and try to schedule low prior

[2020-03-26 06:21] xiaogaozi commented on #748
Should be noted that `preempt` action may resolve this problem in some case. But we may also need a new mechanism (e.g. reservation) when preemption is not acceptable.

[2020-03-26 07:33] hzxuzhonghu commented on #727
We plan to release 0.4 in the next week in order to support kubeflow. And by then, i can file a pr in kubeflow.

[2020-04-03 05:36] xiaogaozi opened #753 "Bug Report: Cannot set the "Queue" field of "PodGroup" that automatically created by controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When create `Pod` with Volcano as scheduler, Volcano controller will [create](https://github.com/volcano-sh/volcano/blob/v0.3/pkg/controllers/podgroup/pg_controller.go#L134) a `PodGroup` automatically for this pod. But we cannot set the [`Queue`](https://github.com/volcano-sh/volcano/blob/v0.3/pkg/apis/scheduling/v1alpha

[2020-04-03 06:24] xiaogaozi opened #755 "Bug Report: When delete pod the related "PodGroup" won't be deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When create `Pod` with Volcano as scheduler, Volcano controller will [create](https://github.com/volcano-sh/volcano/blob/v0.3/pkg/controllers/podgroup/pg_controller.go#L134) a `PodGroup` automatically for this pod. The `OwnerReferences` field of this `PodGroup` will set to original pod. But [`BlockOwnerDeletion`](https:/

[2020-04-03 06:49] xiaogaozi opened #757 "Feature Request: Scheduler missing some important metrics (e.g. namespace, queue and job)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Volcano scheduler already has many [metrics](https://github.com/volcano-sh/volcano/blob/v0.3/pkg/scheduler/metrics/metrics.go) to help user monitor itself. But there also some important metrics are missing, for example:

- Namespace share, weight and weighted share
- Queue share and weight
- Queue deserved, allocated

[2020-04-03 09:44] xiaogaozi opened #759 "Bug Report: There are risk that pod will be evicted when exhaust node "ephemeral-storage" resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

According to [klog](https://pkg.go.dev/k8s.io/klog?tab=doc) documentation, when use `-logtostderr` flag logs will be written to standard error and when use `-alsologtostderr` flag logs will be written to files also.

[code]

The YAML files use to deploy Volcano set `-alsologtostderr` flag now (e.g. [scheduler YAML file](

[2020-04-03 10:50] #755 closed

[2020-04-04 03:38] #759 closed

[2020-04-04 03:52] #753 closed

[2020-04-07 03:21] nicklhy commented on #229
Any updates here ?
Recently, I got endless restarts of some mpi model training jobs in a cluster with more than 300 GPUs. Can we use some tricks to wait for the DNS ready before launching the real model training job ?

[2020-04-07 06:44] k82cn commented on #229
Do you know why "endless restarts"? One option in my mind is to add a script to check network before launching mpirun with timeout.

[2020-04-07 07:16] nicklhy commented on #229
The exact reason has not been found yet. Do you have any recommendations for us to analyze the problem ?

By far we can launch our training scripts with 2, 4 and 10 worker nodes (8 GPU devices on each). But once we increase the number to 20 or 40, the jobs would stuck with the DNS problem. I can see they have been restarted more than 400 times in the past few days.

I searched the DNS problem with

[2020-04-07 07:56] hzxuzhonghu commented on #229
nope, it is caused by dns resolve latency. Simple fix is to detect if dns resolve is ok before launch the job.

From volcano point, the ideal way is to inject a init container, and do that detection without user interference.

[2020-04-07 08:39] nicklhy commented on #229
@hzxuzhonghu  I see. To fix my current problem, I can use some bash commands like `nslookup` or `host` to check if dns resolve works fine.
And I guess I only need to do it on the master pod ? No need to add these commands in worker pods, right ?

[2020-04-07 09:10] hzxuzhonghu commented on #229
Correct

[2020-04-07 14:48] TommyLike commented on #229
how can the delay issue cause endless restart of pod?

[2020-04-08 00:54] hzxuzhonghu commented on #229
The restart of pod is caused by the main process exit.  If k8s supports prestart hook, it is easy to do

[2020-04-10 14:07] caniszczyk opened #768 "Update Slack reference to point to CNCF Slack in README"
Update Slack reference to point to CNCF Slack in README

[2020-04-11 16:43] caniszczyk opened #771 "Add GOVERNANCE.md"
As part of being a CNCF project, you're expected to have open governance, you can see some examples here: https://github.com/opengovernance/opengovernance.dev#projects

[2020-04-11 16:48] caniszczyk opened #772 "ADD SECURITY.md (security disclosure process)"
You should have a security disclosure process (SECURITY.md) as part of your repo:

https://github.com/volcano-sh/volcano/security/policy

[2020-04-12 02:03] k82cn commented on #772
/assign @hzxuzhonghu

[2020-04-12 02:04] k82cn commented on #771
/assign @hzxuzhonghu

[2020-04-12 17:54] raz-bn opened #773 "Example job fails on Openshit 4.3"
/kind bug

Hey I deployed Volcano on Openshift 4.3 and I am trying to create the example job from the repo
https://github.com/volcano-sh/volcano/blob/master/example/job.yaml

**What happened**:
Job stack on pending
logs:

[code]

After a bit of searching the web it seems like an Openshift related issue which can be resolve by modifying the volcano-contorllers clusterrole.This is how the issue has

[2020-04-12 23:04] raz-bn commented on #773
After Investigating father I found the solution.
The current deployment has in it the volcano-controllers clusterrole which contains this rule:
[code]
Modifying this role to be:
[code]
solved the issue.

This change is one of few I had to make in order to deploy Volcano in Openshift 4.3.
Maybe in the near future, I will create a pull reqeuest for Openshift deployment.

[2020-04-13 01:10] hzxuzhonghu commented on #773
It seems openshift treat finalizer as an important subresource

[2020-04-13 01:11] k82cn commented on #773
hm... I think we can update deployment file or have a FAQ for that :)

[2020-04-13 04:29] #768 closed

[2020-04-13 04:30] #772 closed

[2020-04-13 07:51] #771 closed

[2020-04-13 17:19] raz-bn commented on #773
I saw you updated the deployment file to add the finalizers.
Take note that in order to fully deploy Volcano on Openshift you need to run those two CLI commands:
[code]

which I am pretty sure you can add to the deployment YAML as well.

[2020-04-14 00:41] hzxuzhonghu commented on #773
I think this is openshift specific requirement, maybe FAQ is a good place

[2020-04-14 00:52] k82cn commented on #773
+1, let's add FAQ for that :)

[2020-04-14 08:28] #612 closed

[2020-04-14 08:28] #611 closed

[2020-04-14 08:41] zrss opened #777 "Is there a way that Volcano/K8S can inject specific nic ip address to the svc file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently, volcano svc plugin can only inject a svc-url to the svc file, and the svc-url is resolved to the pod ip (or host ip, when the hostNetwork mode is enabled)

and i have some infiniband machines, it haves eth0/ib0/bond0/... i.e. multiples nics, i'd like there is a way to inject other nics ip to the svc file,

[2020-04-14 08:49] hzxuzhonghu commented on #777
Do you mean you have multi pod ips?

[2020-04-14 09:00] zrss commented on #777
yes, to clarify, hostNetwork mode, and has multi ips

[2020-04-14 10:40] k82cn commented on #777
/cc @carmark

[2020-04-14 10:43] carmark commented on #777
@zrss I did use multus as the  default cni plugin, so the pod can have more than one IP, such as overlay IP address and an underlay IP.  The IP information would be stored in Pod's annotation, so we can get that from the annotation.

[2020-04-14 12:46] zrss commented on #777
@carmark , thx car ~ i'd like to see the power of `multus`

[2020-04-15 11:49] tongchao199 opened #778 "mpi job not support hostNetwork: true pattern"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I ran [mpi-example](https://github.com/volcano-sh/volcano/blob/release-0.4/example/integrations/mpi/mpi-example.yaml), I used the `hostNetwork:true` pattern and found that the task could not parse the mpiworker.host
[code]

**What you expected to happen**:
Use the `hostNetwork:true` pattern could  parse the mpiworker

[2020-04-15 12:50] hzxuzhonghu commented on #777
We can only get the pod ip/node info after the pod scheduled and run. It is very tough to be aware of which nic to use, because each node may have different nics.

So I don't think this is viable

[2020-04-16 00:45] k82cn commented on #778
/cc @hzxuzhonghu

It's better to handle this feature by job controller :)

[2020-04-16 02:10] hzxuzhonghu commented on #778
@tongchao199 You need to set the dnspolicy to `ClusterFirstWithHostNet` when you are using hostnetwork

[2020-04-16 06:58] hzxuzhonghu commented on #778
We should set this for user when dnsPolicy is not specified in this case.

[2020-04-16 08:35] #757 closed

[2020-04-16 09:30] hzxuzhonghu commented on #773
done https://github.com/volcano-sh/volcano/wiki/FAQ

[2020-04-16 09:30] #773 closed

[2020-04-17 00:16] k82cn commented on #773
prefer to have a faq.md for each release :)

[2020-04-17 06:15] tongchao199 commented on #778
thanks, The domain name of the mpiworker.host file can be resolved normally

[2020-04-17 07:09] hzxuzhonghu commented on #734
implement #738

[2020-04-17 08:45] k82cn commented on #778
let's also put this into FAQ :)

[2020-04-18 01:37] hzxuzhonghu commented on #778
I meant to set `ClusterFirstWithHostNet ` by default when explicitly set hostnetwork

[2020-04-18 02:46] k82cn commented on #778
ok :)

[2020-04-20 06:12] hzxuzhonghu opened #780 "Change a different port for admission webhook"
For some vendors, it is not allowed to run as root by default. So the 443 is unable to bind.

By changing to a port >1024 will not require to run as root.

[2020-04-29 23:59] groszewn commented on #691
Hey @k82cn, just wanted to circle back and see if there has been any shift in prioritization on this?

[2020-04-30 01:40] #595 closed

[2020-05-04 04:33] k82cn commented on #778
what's next step? Should be fixed by #779?

[2020-05-06 02:19] tongchao199 commented on #778
Fixed with #779

[2020-05-06 02:19] #778 closed

[2020-05-07 09:11] gaopeiliang opened #791 "Delete an success pod, will cause volcano recreate an new pod to do repeat task"
**What happened**:
when job is running , one pod task successful completed, and delete pod some reason, then another new pod will be create to repeat do same task ....

**What you expected to happen**:
ignore successful completed delete pod event ,, and not create new same pod....

**How to reproduce it (as minimally and precisely as possible)**:
1.  running job  , with  short running pod successf

[2020-05-07 09:23] gaopeiliang commented on #791
`
func (cc *Controller) deletePod(obj interface{}) {
        ........

        if err := cc.cache.DeletePod(pod); err != nil {
		klog.Errorf("Failed to delete Pod <%s/%s>: %v in cache",
			pod.Namespace, pod.Name, err)
	}

	key := jobhelpers.GetJobKeyByReq(&req)
	queue := cc.getWorkerQueue(key)
	queue.Add(req)
}
// here  received delete pod event => delete cache  ,,  (but this pod is an successful

[2020-05-08 01:36] hzxuzhonghu commented on #791
@gaopeiliang Yeah, that's the current behavior, we can cache the completed pods and in the sync handler, we ignore them during reconcile.

Would appreciate it if you can help.

[2020-05-08 01:40] hzxuzhonghu opened #792 "Enable more linter checks"
We should introduce https://github.com/golangci/golangci-lint to make volcano better.

I donot think i have enough bandwidth, if anyone interested, please feel free to take over.

[2020-05-08 06:55] k82cn commented on #791
Good catch ! We did not check task's status in this case :)

[2020-05-08 15:23] masihtehrani commented on #792
I added Golangci-lit to the project you can use with `make lint`.
I fix some lint but it needed help to fix the whole project.

[2020-05-09 01:32] hzxuzhonghu commented on #792
@masihtehrani Thanks, IMO, We can split the golangci-lint into several prs according to packages.

And ignore the others, after all fixes done, we can enable check on all pkgs/files

[2020-05-10 01:49] masihtehrani commented on #792
I added make lint just for two small pkg `kube` & `version` & first big package `apis`
just run with `make lint`
I don't add in Travis

[2020-05-11 01:35] hzxuzhonghu commented on #792
Thanks, we need to cover the whole project

[2020-05-11 01:57] #777 closed

[2020-05-11 01:58] zrss commented on #777
IPoIB can't be injected to the network namespace of container ...

[2020-05-11 02:57] vincent-pli commented on #791
So, if check the `status` of `pod`, not lunch the request if the `status.phase` is `Succeeded`, could this fix the issue?

[2020-05-11 06:41] k82cn commented on #791
hm... I think we should handle this in syncJob func :)

[2020-05-11 07:07] vincent-pli commented on #791
@k82cn
I think handle in syncJob maybe cannot fix the issue:
see the sample:
https://github.com/volcano-sh/volcano/blob/bab40f1afa834b000cfcd80ea8e67c748eb13253/example/job.yaml#L8-L10

The `PodEvicted` event will cause action: `RestartJob`, cannot get to `syncJob`.
The "delete after success" is not a `Evicted` actually.

[2020-05-11 08:52] hzxuzhonghu commented on #791
In this case, we should ignore the delete event.

[2020-05-12 01:07] k82cn commented on #791
👍 , yes; so maybe we only record an event and ignore this action :)

[2020-05-12 02:18] vincent-pli commented on #791
@k82cn @hzxuzhonghu
Thanks for clarify, I'm new for this project, maybe I missing something.
So I wonder to know why insist on launching `request` with `PodEvictedEvent` in a scenario not `Evicted`?  Is no-launch case issue somewhere, thanks.

[2020-05-12 03:20] k82cn commented on #791
oh, that's ok to me for other options :) Please help to open a PR for that, we can discuss detail there.

[2020-05-13 06:00] gaopeiliang commented on #791
what happen if we ignore all delete pod event ?
[code]

maybe it would work ......

[2020-05-13 06:30] vincent-pli commented on #791
@gaopeiliang
It will stop create a new pod but will introduce new issue, when delete related `job` then create again, the previous deleted `task`(pod) will never create again, I guess it cause by ignore delete cache...

When avoid emit `PodEvicted` event, the issue not fixed, since we get another request:
[code]
it will trigger `syncJob`.
The request emit by `event handler` of `podGroup` update, t

[2020-05-13 09:25] gaopeiliang commented on #791
what is the meaning delete related job then create again? create an new job?

[2020-05-13 13:10] vincent-pli commented on #791
@gaocegege
yes, delete then create same job, but based on my test, the previous deleted task gone, never back.

[2020-05-14 03:02] zishen opened #804 "Feature Request: volcano-admission-init-XXX Error，report：standard_init_linux.go:211: exec user process caused "exec format error"；need support arm"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature

What happened:

When apply volcano.yaml,volcano-admission-init run Error.The log is: standard_init_linux.go:211: exec user process caused "exec format error". After analysised, we  got The reason is the volcano cannot support arm machine now.
As arm using popularly, this is not acceptable for user.

What you expected to happen:

Volcano goo

[2020-05-14 05:01] silenceli opened #805 "Policies have no effect, after annotating vcjob"
## Steps to reproduce
1. Create vcjob(with only one task) ( with the policies:  Action:  TerminateJob Event:   PodFailed)
[code]
2. Wait vcjob RUNNING and it's Pod all in RUNNING
3. Annotate this vcjob with: `'{"metadata":{"annotations":{"does_support_tensorboard": "True", "tensorboard_status": "RUNNING"}}}'`
4. Then make Pod failed, F.g. kill the entrypoint process
5. The pod status:
[code]
6. Bu

[2020-05-14 06:33] hzxuzhonghu commented on #805
@silenceli Thanks for the report, this is really a bug.
May i ask why do you need to update annotation on the fly?

There are two ways to fix it.

1.  In Controller.updateJob, we should always update cache, when resource version changes

2. Replace all `UpdateStatus` with `Patch`.

I think 1 will be simpler, the defect is that it may require fail retry.

[2020-05-14 06:36] hzxuzhonghu commented on #804
cc @k82cn @k82cn

[2020-05-14 07:05] silenceli commented on #805
We start tensorboard or notebook in container(task in vcjob). We should find a way to determine when the tensorboard or notebook is started，and what are their ACCESS_URLs？

We have no ideas on how to pass these notebook access url or tensorboard url in container to our users. Maybe add annotation for it's vcjob is a solution.

we can add these annotation in pod:
[code]
and then our monitor(list an

[2020-05-14 08:29] silenceli commented on #805
Can I post a MR to fix these bug? I really want to contribute to the community

[2020-05-14 09:39] k82cn commented on #804
We do have arm enivronment to build images :(

[2020-05-14 11:12] gaopeiliang commented on #791
[code]
even though it make code  not clean

[2020-05-14 12:50] hzxuzhonghu opened #809 "Generate CRD using existing tools"
Currently the CRDs for Volcano Job/Queue/PodGroup, etc are all manually built.  It is error-prone, so we should consider migrating to tools. One i can think of is [kubebuilder](https://book.kubebuilder.io/reference/generating-crd.html).

Maybe there are other good tools.

[2020-05-14 12:53] hzxuzhonghu commented on #809
/help wanted

[2020-05-15 06:07] jasonliu747 commented on #475
@hzxuzhonghu any further update on this plugin? I saw  #483 instead of being merged, was closed.

[2020-05-15 08:34] hzxuzhonghu commented on #475
@jasonliu747 It is long hanging there without progress, so I closed it. But if you are interested, we can reevaluate.

[2020-05-15 08:55] jasonliu747 commented on #475
@hzxuzhonghu please do :)
/cc @k82cn

[2020-05-16 15:17] nicklhy opened #810 "error when fetching volcano with `go mod vendor`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a small go program that tries to create a volcano job. But when I execute `go run main.go`, an error like below showed up:
[code]

**What you expected to happen**:
The program should run with no problem.

**How to reproduce it (as minimally and precisely as possible)**:
Save the below code to a file named `main.go

[2020-05-17 09:56] k82cn commented on #810
/cc @hzxuzhonghu

[2020-05-18 09:35] hzxuzhonghu commented on #810
@nicklhy I would suggest you look at the pr I proposed in spark operator https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/887/files#diff-37aff102a57d3d7b797f152915a6dc16R38

Also can you show me your go.mod?

[2020-05-18 09:52] nicklhy commented on #810
@hzxuzhonghu As I mentioned, this problem showed up when I tried to run the simple `main.go` above. At that time, the `go.mod` was just being generated by `go mod vendor` and has no "require" section.
I noticed the pr you mentioned set the version of k8s client to "v0.16.6". Then, I tried to add the specific version of some packages in `go.mod` manually. The problem still exists
[code]

[2020-05-18 10:04] nicklhy commented on #810
Oh, just made it work by adding extra "replace" section in my go.mod.
[code]
I am new to golang, but is it a normal step to add these version replacement lines in go.mod manually? I expect it should work by default before.

[2020-05-19 01:01] vincent-pli commented on #810
I think the `v0.0.0` is caused by direct import `k8s.io/kubernetes` rather than use its published staging repos, e.g. `k8s.io/api`, `k8s.io/client-go`

See the link:
https://github.com/google/go-containerregistry/issues/496

[2020-05-19 01:02] hzxuzhonghu commented on #810
Correct, for k8s dependencies, it requires to import the same version.

[2020-05-19 01:02] #810 closed

[2020-05-20 03:09] hzxuzhonghu opened #816 "Arm architecture support"
## Project Description
Migrate to run volcano on arm64 platform
## Difficulty
low
## Mentor
Zhonghu Xu(@hzxuzhonghu): zhhxu2011@163.com
## Output
- build volcano binaries for arm
- build docker image for arm
- arm ci with travis
## Tech. Requirement
- docker
- go
- travis
## Related Repo
- https://github.com/volcano-sh/volcano

[2020-05-20 03:10] hzxuzhonghu opened #817 "Multi-versioned official documents"
## Project Description
Redesign and reimplement the official website to support multi-versioned docs.
## Difficulty:
medium
## Mentor
Mada(@k82cn): klaus1982.cn@gmail.com
## Output
- New website, supporting switching between versions
- Hugo based website
- New theme and format
## Tech. Requirement
- css
- hugo
- website layout
## Repo
- https://github.com/volcano-sh/website

[2020-05-20 03:13] hzxuzhonghu opened #818 "Implement workloads dependency in job scope"
## Project Description
HPC and Gene analysis need workload dependency, to implement a DAG engine in job controller.
## Difficulty:
High
## Mentor
Leibo Wang(@william-wang): wang.platform@hotmail.com
## Output
- Expand Job API
- Implement a simple DAG engine
- Add document and examples
## Tech. Requirement
- Familiar with go
- Familiar with kubernetes and crd
- Familiar with DAG
## Repo
- https://g

[2020-05-20 03:14] hzxuzhonghu opened #819 "Design a UI for volcano job"
## Project Description
Implement a UI to show workloads status and dependency relationships
## Difficulty
High
## Mentor
Zhonghu Xu(@hzxuzhonghu): zhhxu2011@163.com
## Output
- A new UI to dynamically show the status of volcano workloads.
## Tech. Requirement
- Familiar with javascript
- Kubernetes Client
- Familiar with React/Vue/Angular, etc.
## Repo
- https://github.com/volcano-sh/website

[2020-05-20 09:15] william-wang opened #822 "Job validatation does not accept fractional GPU"
**What happened**:
Volano job validation does not accept a fractional GPU and report error.

**What you expected to happen**:
Job webhook validation should accept fractional GPU for sharing scenario.

**How to reproduce it (as minimally and precisely as possible)**:
$ cat test-gpu-job-01.yaml
apiVersion: batch.volcano.sh/v1alpha1
kind: Job
metadata:
  name: test-gpu-job-01
spec:
  minAvailable: 1

[2020-05-22 06:27] hzxuzhonghu commented on #805
I think this is fixed

[2020-05-22 06:27] #805 closed

[2020-05-22 08:33] william-wang opened #828 "refactor factional GPU configuraiton and validation"
factional GPU configuration validation need to refactor. Currently there is no format validation and ut cases.

[2020-05-24 09:04] #735 closed

[2020-05-26 04:41] zen-xu opened #834 "Queue capability can overuse"
/kind bug

**What happened**:

I have limited the queue capability, but all jobs can be scheduled!!!

![1590466546(1)](https://user-images.githubusercontent.com/38552291/82860187-68553680-9f4b-11ea-99ca-d3cad0844693.png)

`queue1` capability is 2 CPU, but can run 3 jobs each with 1CPU

**What you expected to happen**:

Only 2 jobs can be scheduled

**How to reproduce it (as minimally and precisely

[2020-05-26 06:22] hzxuzhonghu commented on #834
cc @k82cn

[2020-05-26 06:30] zen-xu opened #836 "Resource LessEqual function logic is strange"
/kind bug

[code]
Why set minMemory 10Mi? I don't think 10Mi is a very small memory capacity, and we have meet task `OOM` because of this.

[2020-05-28 05:17] virendrasuryavanshi opened #837 "Running an application on volcano and calculating metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What you expected to happen**:
 To collect some metrics like CPU/memory and similar metrics on different QPS by running different applications on the volcano.

[2020-05-28 06:58] zishen opened #838 "Observed a panic: invalid argument to Intn（when batchNodeOrder function return err)"
**What happened**:
I added a schedule plugin ，and used a function named batchNodeOrder. This funciton return a error when nodes unmeet required. But, the volcano-schedule crash.

**What you expected to happen**:
Add the job backup to queue, and run ok

**How to reproduce it (as minimally and precisely as possible)**:
[code]
After these, add the node judge.

**Anything else we need to know?**:

**E

[2020-05-28 08:09] k82cn commented on #838
We should check whether there's any `candidateNodes` before selecting the best one.

/help-wanted

[2020-05-29 01:42] Thor-wl opened #840 "Lint：fix lints"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
golangcli-lint needs to be improved

**What you expected to happen**:
improve golangcli-lint check

**How to reproduce it (as minimally and precisely as possible)**:
golangcli-lint run

**Anything else we need to know?**:
None
**Environment**:
- Volcano Version: v0.4.0
- Kubernetes version (use `kubectl version`): v1.15.6

[2020-05-30 07:46] hzxuzhonghu commented on #836
I am not sure why it designed to tolerate min resource.

/assign @k82cn

[2020-05-30 09:50] hzxuzhonghu opened #842 "Improve stability and reliability"
In order to do this, we need to supplement ut and e2e cases. And i have drafted a doc:
https://docs.google.com/spreadsheets/d/1pUQwlJMPbSZ2U0m-z-3HRRwrR6x4K2o_XyNE1mMZQZ8/edit?usp=sharing

Please note this is not complete, feel free to add.

[2020-05-30 12:21] zishen commented on #838
Yes，I have use AddPredicateFn to avoid this issue.
But I still hope the problem can be fixed。

[2020-05-30 13:46] k82cn commented on #842
@Thor-wl , would you help on that? @hzxuzhonghu , please share this doc with write permission and update content to English :)

[2020-05-31 02:34] k82cn commented on #836
I'm ok to decrease min memory; and we should enhance it by int :)

[2020-06-01 07:32] Thor-wl opened #847 "add and complete e2e"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
e2e cases are to be added more and improved
**What you expected to happen**:
add some new e2e cases and improved current ones
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version: v0.4.0
- Kubernetes version (use `kubectl version`):
- Cloud provide

[2020-06-01 07:41] Thor-wl commented on #842
@hzxuzhonghu @k82cn OK

[2020-06-04 03:03] hzxuzhonghu opened #849 "Bump k8s 1.18.3"
Need to bump to k8s dependencies currently we depend on 1.16 and there is a conflict for project to import volano if the project depends on new version like 1.18.

[2020-06-04 06:14] k82cn commented on #849
That's great, please also help to correct version number, e.g. https://github.com/volcano-sh/volcano/blob/master/go.mod#L48 .

[2020-06-07 21:29] raz-bn opened #851 "Reclaim and Preempt actions"
Hey!
I feel like reclaim and preempt actions are critical features of the Volcano project. However, I can not manage to get them to work. In the project roadmap, it says you are planning to make them work appropriately until June 30th, and I wondered if this goal is still relevant or I should be looking for alternatives (which is sad since I'm a fan of your project!)

[2020-06-07 23:12] k82cn commented on #851
We'd like to get them work before June 30th, as there're also some other people would like to use them :) And that'll be great if you can also share your problem to speed it up :)

[2020-06-07 23:18] #838 closed

[2020-06-10 08:06] alcorj-mizar opened #857 "Add queue controller e2e cases"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
queue controller need more e2e cases.

**What you expected to happen**:
1. add queue status check e2e cases to queue controller
2. add queue command e2e cases to queue controller
3. add queue state transition e2e cases to queue controller

**How to reproduce it (as minimally and precisely as possible)**:

**Anything e

[2020-06-10 08:08] alcorj-mizar commented on #857
/area test
/size XL

[2020-06-10 08:09] alcorj-mizar commented on #857
/size XL

[2020-06-11 01:58] #734 closed

[2020-06-12 01:31] hzxuzhonghu commented on #822
This is fixed

[2020-06-12 01:31] #822 closed

[2020-06-12 01:32] hzxuzhonghu commented on #849
Fixed by #855

[2020-06-12 01:32] #849 closed

[2020-06-12 02:25] silenceli opened #859 "Distributed horovod training failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Volcano Version: 0.3
- Kubernetes version (use `kubectl version`): 1.16.2
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Inst

[2020-06-12 02:34] hzxuzhonghu commented on #857
/assign @alcorj-mizar

[2020-06-12 03:28] k82cn commented on #859
/cc @hzxuzhonghu

[2020-06-12 06:45] hzxuzhonghu commented on #859
@silenceli I am not an expert of horovod, just looking through some of the related code from it.
In my view, this is because horovod requires see the server's real ip address. But from your logs, i think the master can not see the worker's real ip address, likely because of NAT.

So check the network of your cluster, this is not volcano's issue.

[2020-06-14 02:52] k82cn commented on #859
@Thor-wl , Lei please help to run silenceli@'s example, I'd like to know why it does not work :)

[2020-06-14 12:33] k82cn opened #863 "Support alloc_set in Volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

According to the papers about Borg, it not only includes Job, but alaso `alloc_set` for some other scenarios, e.g. data sharing. We'd like to support this feature in Volcano to cover related scenarios.

[2020-06-14 12:34] k82cn commented on #863
/area scheduling

[2020-06-15 01:42] Thor-wl commented on #859
OK

[2020-06-15 01:45] k82cn commented on #863
/cc @Thor-wl @jiangkaihua

[2020-06-15 06:59] k82cn opened #864 "Refactor predicates & nodeorders"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

1. Move Snapshot & SchedulerFramework into `pkg/scheduler/plugins/util`, as they 're not part of Volcano framework.
2. It's better implement FrameworkHandler by Volcano.ClusterInfo instead of copying it from upstrewam.

[2020-06-15 06:59] k82cn commented on #864
/area scheduling

[2020-06-15 07:00] k82cn commented on #864
@hzxuzhonghu , do you have time on this one? We'd better to correct that before this release.

[2020-06-15 07:04] k82cn commented on #318
how about current status?

[2020-06-15 08:37] zishen opened #865 "How to delete a job in volcano-schedule"
this maybe a BUG

**What happened**:

When i use validJobFn to vaild a job,and the job isn't meet the condition,  I need delete this job in volcano-schedule. But,when  i try these fun to delete job,and the fun run successed, but the job still exist and status is pending。
Used function:
1.`job.UpdateTaskStatus(task, schedulingapi.Failed)`
2.` ssn.cache.UpdateJobStatus(job, true)`

**What you expect

[2020-06-15 08:54] k82cn commented on #865
The related job controller manage the lifecycle of Pods, the schedule only does snapshort from apiserver; so if we want to delete pods from scheduler, the job controller should delete them from apiserver :)

[2020-06-15 09:05] k82cn commented on #836
The other solution is to replace `float64` with `big.Rat` :)

[2020-06-15 09:07] k82cn commented on #727
That was fixed in `kubeflow/common v3.0` and main branch of `kubeflow/tf-operator` :)

[2020-06-15 09:07] #727 closed

[2020-06-15 09:07] #713 closed

[2020-06-15 09:09] k82cn commented on #596
We already update pkg management to `go mod`.

BTW, I like you icon,  the "辉耀" of Dota :)

[2020-06-15 09:10] #596 closed

[2020-06-15 09:11] k82cn commented on #648
I'd like to close this one, if anyother other question, please open a new one.

[2020-06-15 09:11] #648 closed

[2020-06-15 09:12] k82cn commented on #674
@umialpha , are you still working on this one? If anything would like to discuss, please join our slack at https://cloud-native.slack.com/messages/volcano :)

[2020-06-15 11:16] Thor-wl commented on #859
@silenceli please make an introduction of your trainning environment network configuration

[2020-06-15 11:17] Thor-wl commented on #859
@silenceli Please make an introduction of your trainning environment network configuration

[2020-06-15 12:49] zishen commented on #865
yes，and I need create k8s client？ or volcano has mature method？

[2020-06-15 13:21] k82cn commented on #865
Hm... which operator/controller are you using? Please try `Job` in Volcano :)

[2020-06-16 01:42] zishen commented on #865
I don't quite follow you. I use these come form job delete:
[code]

[2020-06-16 02:44] hzxuzhonghu commented on #318
We have added check for job update,  this is denied by admission controller.

[2020-06-16 02:44] #318 closed

[2020-06-16 02:48] jasonliu747 opened #866 "Support BytePS in volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

[BytePS](https://github.com/bytedance/byteps) is a high performance and generic framework for distributed DNN training. As discussed in WeChat group, it would be awesome that volcano could support BytePS.
Opening this issue to track the progress.

[2020-06-16 02:51] hzxuzhonghu opened #867 "Support byteps"
[BytePS](https://github.com/bytedance/byteps) is a high performance and generic framework for distributed DNN training.

Maybe we should consider support running it as part of volcano ecosystem.

/kind feature

[2020-06-16 02:52] jasonliu747 commented on #867
lol, I just submitted a similar issue #866 few minutes ago.

[2020-06-16 02:56] hzxuzhonghu commented on #865
You can never totally delete a job from scheduler, as it will reconcile every period. The only way to do that it by deleting it from kube-apiserver.

[2020-06-16 02:56] jasonliu747 commented on #866
/cc @k82cn @hzxuzhonghu

[2020-06-16 03:01] hzxuzhonghu commented on #867
duplicate with #866

[2020-06-16 03:01] #867 closed

[2020-06-16 03:04] hzxuzhonghu commented on #866
Yeah, pr is welcome. We have been working on 1.0 release, which will be scheduled by the end of this month.

[2020-06-16 03:05] hzxuzhonghu commented on #864
/assign

[2020-06-16 03:18] jasonliu747 commented on #866
@hzxuzhonghu Consider adding this feature request into v1.0 milestone?

[2020-06-16 03:32] k82cn commented on #865
How about your scenario? Why do you want to delete from `Session`? Currently, we only ignore invalid jobs instead of deleting it :)

[2020-06-17 00:55] zrss opened #868 "can volcano svc plugin inject the current host env ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

currently, i can generate the current host string in container, i.e. by `volcano-job-name`, `volcano task group name` and the index of task, i'd like the current host can generate directly by the yaml

**What you expected to happen**:

[code]

and `MA_CURRENT_HOST` indicates the current host of container

[2020-06-17 01:23] hzxuzhonghu commented on #868
Can you describe your use case?

[2020-06-17 10:45] zrss commented on #868
we have a grpc server in container for switching extra ip between containers, and the container connect each container base on the svc host file provided by volcano, we can be easy to skip the current host  if volcano can provide the current host in some ways

[2020-06-18 03:28] hzxuzhonghu commented on #868
cc @alcorj-mizar

[2020-06-18 03:41] umialpha commented on #674
Hi, Currently I am not working on this because I thought it was not a high priority requirement.
But I am still interesting in this item.

[2020-06-18 06:30] Thor-wl opened #869 "admission e2e: "create volcano pod with volcano scheduler" report podgroup status error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
when run admission e2e, "create volcano pod with volcano scheduler" report podgroup status error, pod group status is inqueue or pending instead of running
**What you expected to happen**:
case pass
**How to reproduce it (as minimally and precisely as possible)**:
fix e2e case

**Anything else we need to know?**:

**Envir

[2020-06-18 11:59] gaopeiliang opened #871 "Object update failed with operation cannot be fulfilled , object has been modify"
**What happened**:

Sometimes I see some error in log
[code]

and sometimes I see Job stay Pending status  when all pod job has completed ！
[code]

**What you expected to happen**:
Job status turn to next status until completed  when job has completed

**Environment**:
- Volcano Version:   release-0.4
- Kubernetes version (use `kubectl version`):  1.14
- Cloud provider or hardware configuration:
-

[2020-06-18 12:05] gaopeiliang commented on #871
![image](https://user-images.githubusercontent.com/11383058/85017771-a20e0b80-b19e-11ea-8493-9101d2a668bf.png)

I see log info ,,  status execute failed with object has been modify !

[code]

default_worker = 3,,  maybe I should increase worker number ,, we have job pod about 5-6k,, someone know what happend,, need help !!!!

[2020-06-18 12:10] k82cn commented on #871
@Thor-wl , please help to check that :)

[2020-06-18 13:59] k82cn opened #873 "Add CNCF banner to readme"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we only add CNCF words in project description; it's better to add CNCF banner into readme to highlight this status :)

[2020-06-19 09:28] #873 closed

[2020-06-21 03:34] #857 closed

[2020-06-21 03:42] alcorj-mizar opened #877 "Add e2e test for reclaim and preempt"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature

What happened:
queue controller need more e2e cases.

What you expected to happen:

Add e2e test for reclaim
Add e2e test for preempt
How to reproduce it (as minimally and precisely as possible):

Anything else we need to know?:

Environment:

Volcano Version: 0.4.0
Kubernetes version: v1.18.2
Cloud provider or hardware configuration: I7-67

[2020-06-21 03:44] alcorj-mizar commented on #857
/area test
/kind feature

[2020-06-22 06:32] k82cn opened #879 "Improve controller manager for new controller."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

We'd like to introduce a customized controller into controller-manager to avoid new binarry release. So it's better to improve the interface for that.

[2020-06-24 01:58] k82cn opened #880 "Job Forward for multi-cluster scenario"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we'd like to support multi-cluster scenarios for volcano to support more workload. Here's some draft ideas, will update design doc soon:

1. Use kubernetes/cluster-register as API of cluster info, e.g. endpoint, auth
2. Add a new `JobForwardor` controller to forward job (PodGroup + Pod + ... ) to target clus

[2020-06-24 01:58] k82cn commented on #880
/assign
/area scheduling
/priority important-soon

[2020-06-26 11:19] QizhouYang opened #882 "default Queue “default” and webhook startup sequence"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. first , start volcano-scheduler，After, start volcano-admission
default queue information:

[code]

2. start volcano-admission，After, start volcano-scheduler
default queue information:

[code]

**What you expected to happen**:
Always this information
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anyth

[2020-06-26 11:52] k82cn commented on #882
/cc @Thor-wl , please help to  check this :)

[2020-06-26 12:07] k82cn commented on #882
/kind bug
/priority important-soon
/area scheduling

[2020-06-26 12:13] QizhouYang commented on #882
/assign QizhouYang

[2020-06-28 00:02] k82cn commented on #882
fixed by #885

[2020-06-28 00:02] #882 closed

[2020-06-28 11:52] kissingleman opened #887 "binpack failed when the value of cpu is too large"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Insta

[2020-06-28 11:53] kissingleman commented on #887
step 1: pod request 30cpu cores, 120Gi, binpack failed

step 2: change pod 250m cpu, 128Mi mem, binpack ok

step 3: config `scheduler-configmap` set cpu/mem weight to zero, then binpack was worked again，when request 30cpu, 120Gi
     19     - plugins:
     20       - name: cce-gpu-topology-predicate
     21       - name: cce-gpu-topology-priority
     22       - name: ma-gpu
     23       - name:

[2020-06-28 16:40] kissingleman commented on #887
It seems like Binpack task effect after reconfiguration, whether cpu, mem weight is zero or not.  The format of configmap before may be wrong.

[2020-06-28 16:40] #887 closed

[2020-06-30 08:45] merryzhou opened #890 "failed to create job (job-type: mpi)when use volcano v.4.0"
Hi everyone,
I am trying to create a mpi type job , but failed, and there are some errors in vc controller log.

volcano version: v0.4.0

job yaml： almost same with https://github.com/volcano-sh/volcano/tree/master/example/kubecon-2019-china/mpi-sample

error log：
[code]

[2020-06-30 09:53] Thor-wl opened #891 "request for member authority"
please give me member permission so that i can do some ci operation such as retry my ci test.Thank you! @k82cn

[2020-06-30 10:40] k82cn commented on #890
/cc @Thor-wl

[2020-06-30 10:42] k82cn commented on #891
done.

[2020-06-30 11:55] odidev commented on #816
Hi Team,
I am also interested in adding arm64 support to this package. May I please ask if there is any progress in this activity so far?

[2020-06-30 12:01] k82cn commented on #816
@odidev , any background or use case?

[2020-07-01 02:35] Thor-wl commented on #869
done

[2020-07-01 02:35] #869 closed

[2020-07-01 02:36] Thor-wl commented on #840
done

[2020-07-01 02:36] #840 closed

[2020-07-01 02:36] #891 closed

[2020-07-01 07:39] AHEADer commented on #890
meet the same problem. when using latest tag, problem solved.

[2020-07-02 03:21] hzxuzhonghu commented on #890
Thanks for reporting.

The root  cause is ` Failed to update status of Job default/lm-mpi-job: Job.batch.volcano.sh "lm-mpi-job" is invalid: status.state.lastTransitionTime: Invalid value: "null": status.state.lastTransitionTime in body must be of type string: "null"`

Which is fixed by https://github.com/volcano-sh/volcano/pull/786,

The panic is cause by the job is nil when err occurs.

[code]

[2020-07-03 03:02] k82cn commented on #890
It's fixed in latest code of release-0.4, we're going to have 0.4.1 release to fix that.

[2020-07-03 03:26] AHEADer commented on #890
can u release a new image for this ?

[2020-07-03 08:35] Thor-wl commented on #890
fix PR: https://github.com/volcano-sh/volcano/pull/901

[2020-07-04 11:00] gaopeiliang commented on #871
Maybe we have an slow ETCD cluster,,,,,  move to an SSD ETCD cluster .....

[2020-07-05 02:01] k82cn commented on #890
Yes, we're going to have a new release (e.g. v0.4.1) this month.

[2020-07-06 03:42] Thor-wl opened #908 "DRF design doubt: task who request fewer resource may preempt the running task who request more resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
as previous design, DRF works at this situation: Suppose there is a running task who request 64C512G, and there comes a task who requesst 1C2G, the small task will preempt the resource and the large task will be pending. In fact, the large task may has already run a long time and is more important. Perhaps it is not reasonable.

**W

[2020-07-06 09:33] Gouthamkreddy1234 opened #909 "Support for minResources in PodGroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
PodGroup custom resource currently only supports minMember. We would need support for minResources as well.

**What you expected to happen**:
PodGroup CRD should have an option to configure minResources as shown below -

[code]

[2020-07-06 11:23] hzxuzhonghu commented on #909
`minResources` is currently set by calculating all the resources of volcano job.

Can you elaborate a little bit more about your use case?

[2020-07-06 18:17] Gouthamkreddy1234 commented on #909
Sure, so the use case would be something like this -

Currently, we have the minMember spec in PodGroup which can be lesser than the total number of pods in a Job. For example, if job contains 6 pods, minMember=3 will start my job only if I have place for 3 nodes in my cluster. (in the case of MPI, AI/ML workload)

As the minMember logic would not work for Spark jobs since the driver pod comes uo

[2020-07-06 18:21] gouthamreddykotapalle opened #910 "Running Spark jobs with volcano scheduler using spark-submit"
I am currently able to run Spark jobs using the spark-on-k8s-operator but I am not sure how to run a Spark job using spark-submit. The example in the volcano repository also uses spark operator.

Could someone please elaborate on how to run Spark jobs with volcano scheduler using spark-submit (with gang-scheduling using enqueue + minResources)?

[2020-07-06 21:36] snsie commented on #816
Providing multi-arch images would likely benefit many users.

Students involved in AI research is one example. I fall under this category and am working with a cluster consisting of Raspberry Pis + two PCs. Raspberry Pis provide a cost-efficient solution for users who are experimenting with distributed training paradigms. Purchasing a cluster of PCs would be unfeasible for many students who don't

[2020-07-07 00:22] k82cn commented on #816
@snsie , thanks for your feedback, that's reasonable :)

[2020-07-07 01:13] QizhouYang commented on #910
Prerequisites, run spark-on-k8s-operator，Because it depends on webhooks
First step:
Create `PodGroup`, reference spark-on-k8s-operator -> volcano_scheduler.go -> syncPodGroup function

Second step:
Add annotation ,  reference spark-on-k8s-operator -> volcano_scheduler.go -> syncPodGroupInClusterMode,
and, [spark official website]( http://spark.apache.org/docs/latest/running-on-kubernetes.html) (`s

[2020-07-07 01:27] hzxuzhonghu opened #911 "multi-preemptor-jobs who are in different priority flakes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

multi-preemptor-jobs who are in different priority  fails https://travis-ci.com/github/volcano-sh/volcano/jobs/358016983

[2020-07-07 01:28] hzxuzhonghu commented on #911
/assign @Thor-wl

[2020-07-07 06:27] hzxuzhonghu commented on #909
So you mean the spark job, that's ok if you donot need gang

[2020-07-07 09:26] freeben09 opened #915 "volcano provide the ability to scale down task replicas to zero"

[2020-07-07 09:57] william-wang commented on #915
The custoomer is using volcano job scaling right now. There is a case is like this. The task in the same job need to know each other, if they change the replicas from 2 to 3, the new added task can not be recogenized by other two tasks. Customer want the ability to scale to zero.
@hzxuzhonghu please help to evaluate whether it is a common customer request and supportable.

[2020-07-07 10:28] k82cn commented on #915
I think we already support this feature :)

[2020-07-08 03:26] zen-xu commented on #871
We have meet the same problem many times, and our `etcd` is on the **ssd cluster**.

[2020-07-08 04:07] nicklhy opened #916 "how to avoid pod deletion after job finished"
Recently, I met a problem about collecting worker pods' logs when using volcano.

For instance, I have a distributed job which includes 1 master pod and 4 worker pods. After the job finished, I may noticed volcano only let the master pod exists in "Completed" status while the other 4 worker pods being deleted directly. Is there a way to avoid the deletion and make all the pods in "Completed" statu

[2020-07-08 07:23] Thor-wl commented on #871
releated PR: https://github.com/volcano-sh/volcano/pull/919, the PR has been synchronized in master and release-0.4

[2020-07-08 19:18] Gouthamkreddy1234 commented on #910
Sure! This makes sense. I will try this :)

Also, I am facing one problem with spark-on-k8s operator which I have raised here -
[https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/968
](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/968)

Could you please help me with this and let me know what the problem could be?

[2020-07-09 00:46] k82cn commented on #916
Try to remove following policy from tasks:

[code]

[2020-07-09 00:48] k82cn commented on #916
If so, how to terminate those pods? Those pods will keep running there, and the job controller does not when to complete.

AFAIK, k8s does not support evict (not delete).

[2020-07-09 01:09] Thor-wl commented on #847
releated PR: https://github.com/volcano-sh/volcano/pull/905,https://github.com/volcano-sh/volcano/pull/899,https://github.com/volcano-sh/volcano/pull/897,https://github.com/volcano-sh/volcano/pull/895/files,https://github.com/volcano-sh/volcano/pull/893,https://github.com/volcano-sh/volcano/pull/892,https://github.com/volcano-sh/volcano/pull/872,https://github.com/volcano-sh/volcano/pull/870,https

[2020-07-09 01:09] #847 closed

[2020-07-09 02:30] Gouthamkreddy1234 commented on #910
@QizhouYang I tried the above approach but these are the events I see -

1. The driver pod is being scheduled by the default-scheduler and not volcano scheduler
2. PodGroup that I initially create does not get updated with the driver+executor resources.

Could you please clarify how this job would be scheduled by volcano-scheduler? Also, how do the webhooks actually work from spark-on-k8s-operator

[2020-07-09 03:05] nicklhy commented on #916
Just verified your suggestion of removing the "TaskCompleted: CompleteJob" policy. Now, all the pods are remained in "Complete" status after finished.

But I am still quite confusing about how it works. For my specific case, I was running a mxnet distributed training job (1 scheduler task, n worker+server tasks).

* Is there a default action for event "TaskCompleted" ? If so, what is it ? If not,

[2020-07-09 08:29] Thor-wl commented on #890
bug fix has already merged to release-0.4

[2020-07-09 08:34] Thor-wl commented on #911
It seems the travis-ci link cannot be opened. What was the phenomenon then？

[2020-07-09 09:10] k82cn commented on #890
@Thor-wl , we should have a v0.4.1 release to fix that.

[2020-07-09 16:44] g-angstrom opened #920 "Documentation Clean Up on command-line-enhancement.md"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Documentation Issue

**What you expected to happen**:

Update the Slurm equivalency table for commands

vcctl Function | Similar Slurm Command Line
-- | --
vsub .sh file | sbatch <job_file>
vsub -j/--job-name <job_file> | srun -J <job_name>
vcancel -n <job_name> -N <namespace> | scancel <job_id> / -n <job_name> -u <user>

[2020-07-09 22:58] k82cn commented on #920
That's great! Thanks very much :)

[2020-07-10 01:27] g-angstrom commented on #920
. @k82cn  No problem,   You might also like this paper

NORNS: Extending Slurm to Support Data-Driven Workflows through Asynchronous Data Staging.
https://www.researchgate.net/publication/335310164_NORNS_Extending_Slurm_to_Support_Data-Driven_Workflows_through_Asynchronous_Data_Staging

Abstract—As HPC systems move into the Exascale era, parallel file systems are struggling to keep up with the I/O

[2020-07-10 01:54] k82cn commented on #920
yes, that's interesting ;) It's also one of our roadmap item to consider workflow & data (e.g. staging, locality).

[2020-07-10 05:38] Gouthamkreddy1234 commented on #748
Reservations will be a part future releases of v1.x (v1.0 was released in June 30 which currently does not have reservations yet). Please check this roadmap for more info - [https://github.com/volcano-sh/volcano/blob/c388b818c4dada8d63a76dbc7cf53db75bf7e26a/docs/community/roadmap.md](https://github.com/volcano-sh/volcano/blob/c388b818c4dada8d63a76dbc7cf53db75bf7e26a/docs/community/roadmap.md)

[2020-07-10 06:11] Gouthamkreddy1234 commented on #909
Yes, the main focus would be for Spark jobs.

[2020-07-10 09:27] hzxuzhonghu commented on #916
IIRC, not default action for TaskCompleted.   So that's the function of `- event: TaskCompleted      action: CompleteJob`

There is no way to suspend a running pod in k8s. We can only use `delete` ops.

[2020-07-10 09:31] hzxuzhonghu commented on #911
You need to join volcano group. Please open a new issue

[2020-07-13 02:25] silenceli commented on #859
It's a mistake that I configure the wrong docker/flannel network

[2020-07-13 02:25] #859 closed

[2020-07-13 02:55] silenceli opened #921 "Queue Capability bug"
Queue Capability maybe has a bug. In certain scenarios, queues cannot limit users' usage

# How to reproduce
- set queue capability nvidia.com/gpu = 2
- create 4 job, each job need nvidia.com/gpu = 1
- at that time queue works fine, 2 running and 2 pending, see below
[code]
- stop one running job
- then the two pending job will **RUNNING**
[code]

[2020-07-13 02:56] k82cn commented on #921
/cc @Thor-wl

[2020-07-13 06:01] hzxuzhonghu opened #922 "Frequently CI timeout"
I have seen a lot of error like this `"The job exceeded the maximum time limit for jobs, and has been terminated."`

It seems the default timeout of a travis job is 50minutes

https://docs.travis-ci.com/user/customizing-the-build#build-timeouts

[2020-07-13 06:06] hzxuzhonghu commented on #922
cc @Thor-wl @alcorj-mizar @alcorf-mizar

[2020-07-13 08:44] Thor-wl commented on #864
releated PR: https://github.com/volcano-sh/volcano/pull/923

[2020-07-13 09:45] QizhouYang opened #925 "Cli client create queue missing Reclaimable fields"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
vcctl queue  create --help
creates queue

Usage:
  vcctl queue create [flags]

Flags:
  -h, --help                help for create
      --kubeconfig string   (optional) absolute path to the kubeconfig file (default "/root/.kube/config")
  -s, --master string       the address of apiserver
  -n, --name string         the n

[2020-07-13 23:13] k82cn commented on #925
we're going to abandon `vcctl`, and replace it with `vjob, `vadmin` and so on :)

[2020-07-14 00:49] QizhouYang commented on #925
OK，Thx！

[2020-07-14 00:50] #925 closed

[2020-07-14 01:55] k82cn commented on #925
@QizhouYang , I'm not sure whether `vadmin` have similar issue :)

[2020-07-14 09:00] Thor-wl commented on #921
@silenceli The above status with 3 job running is the finally status? Can this phenomenon be reproduced stably？

[2020-07-14 13:23] ggaaooppeenngg opened #933 "Hierarchical dominant resource fairness proposal"
# Hierarchical dominant resource fairness proposal

## Background

DRF(dominant resource fairness) is widely used in multi-resource scheduling.
In the volcano scheduler, groups sharing is applied through namespaces quota, while
this method can not represent a tree-like hierarchy.
To represent a more complex hierarchical group sharing other than a big weighted flattened namespaces sharing, the HDRF

[2020-07-15 02:38] k82cn commented on #933
/cc @carmark @hzxuzhonghu @Thor-wl

[2020-07-15 02:48] hzxuzhonghu commented on #922
I think this is temporarily fixed by https://github.com/volcano-sh/volcano/pull/926

But we need some optimization absolutely for the test framework

[2020-07-15 14:05] raz-bn commented on #851
@k82cn hey! I saw the [release notes]( https://github.com/volcano-sh/volcano/releases/tag/v1.0.0) of version 1.0.0, one on the new stuff added is :

I wondered why the _**reclaim**_ and the _**preempt**_ actions are still disabled by default?
https://github.com/volcano-sh/volcano/blob/4d1e0090ec32411eb43830afe581aab7c15ecbd4/installer/volcano-development.yaml#L14

[2020-07-16 07:33] Thor-wl commented on #921
@silenceli please provide the volcano version you are using

[2020-07-16 10:17] k82cn commented on #851
AFAIK, some users are not using this feature; anyway, I'm ok to enable it by default :)

[2020-07-16 13:57] idvoretskyi opened #936 "Deploy FOSSA license scanning for this repo"
FOSSA license scanning for this repo should be enabled:
https://github.com/fossas/fossa-cli

cc @caniszczyk

[2020-07-16 14:00] idvoretskyi commented on #936
@k82cn @kevin-wangzefeng @hzxuzhonghu can you please enable the GitHub actions for this repo so CNCF could enable the FOSSA scanning here (or add me temporarily to the org so I could handle this)?

A good sample of how this is done for the different CNCF projects is here - https://github.com/kedacore/keda/blob/master/.github/workflows/fossa.yml

[2020-07-16 23:14] k82cn commented on #936
ok, sure, let me enable it :)

[2020-07-17 03:16] hzxuzhonghu commented on #922
Will file a new issue

[2020-07-17 03:16] #922 closed

[2020-07-17 03:18] hzxuzhonghu opened #938 "Refactor test framework"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Before splitting ci job, the e2e always timeout,  I believe the cause is not only the numerous e2e cases, but also has something to do with the current test framework.

So before it becomes worse as we add more and more cases,  it's time to refactor it and do some optimization.

[2020-07-17 03:19] hzxuzhonghu commented on #938
cc @alcorf-mizar @alcorj-mizar

[2020-07-17 03:20] hzxuzhonghu commented on #915
/assign

[2020-07-17 03:21] hzxuzhonghu commented on #911
/assign @Thor-wl

[2020-07-17 03:22] hzxuzhonghu commented on #864
This is done

[2020-07-17 03:22] #864 closed

[2020-07-17 03:22] hzxuzhonghu commented on #842
done

[2020-07-17 03:22] #842 closed

[2020-07-17 03:23] hzxuzhonghu commented on #866
@jasonliu747 Could you add an example here?

[2020-07-17 03:26] hzxuzhonghu commented on #890
[0.4.1](https://github.com/volcano-sh/volcano/releases/tag/v0.4.1) has been released, please have a try @merryzhou

[2020-07-17 03:31] jasonliu747 commented on #866
Sure, made a few changes on mxnet-operator so it could support BytePS. Here is an example.
[code]

[2020-07-17 05:57] k82cn commented on #809
fixed by #937

[2020-07-17 05:57] #809 closed

[2020-07-17 06:48] k82cn opened #939 "Make charts as submod of Volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/help wanted

**Description**:

Currently, we publish helm chart at https://github.com/volcano-sh/charts and keep helm charts up-to-date at
 https://github.com/volcano-sh/volcano/tree/master/installer , and they already mismatched. It's better to make charts as submod of volcano to keep them sync.

[2020-07-18 10:20] zishen opened #940 "Question: can volcano change resource require/limit number, or add resource type by no change yaml?"
**What happened**:
Application apply a vcjob yaml, and it requires resource called A. But due to the system env, I want to change A to B，and change A's number both.
Can volcano do this？ If can, how?

**What you expected to happen**:

volcano can change resource require/limit number, or add resource type by no change in yaml.

I change the volcano-schedule struct value :
[code]
but does not work.

[2020-07-18 10:28] zishen commented on #940
@hzxuzhonghu

[2020-07-20 03:28] hzxuzhonghu commented on #940
Currently, we only support job scale up/down. This is not supported, and i think it is not very tricky if we want to do this.
The feasible way is:

1. check the pod template update
2. delete all running pods
3. update podgroup or so
4. re-run all needed pods

[2020-07-20 07:25] #890 closed

[2020-07-20 08:58] hzxuzhonghu opened #941 "Failed running volcano job with ssh plugin enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Running the latest volcano, i can not run the volcano job by `kubectl apply -f examples/job.yaml`

And the root cause is the
[code]

This introduced by #918

[2020-07-20 09:27] hzxuzhonghu opened #943 "Volcano job spec.SchedulerName does not take effect"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

create a volcano job with schedulerName set to `volcano`, but the pod is scheduled by default scheduler, we expect it is scheduled by volcano scheduler.

[code]

[2020-07-20 09:28] hzxuzhonghu commented on #943
After investigating, i find it is a regression caused by https://github.com/volcano-sh/volcano/pull/779/files#diff-4e3bc2e61478f14179e3c3c8c8df7dd1L56-L60

We should also add a test covering it.

[2020-07-20 09:28] hzxuzhonghu commented on #943
/assign

[2020-07-20 09:45] hzxuzhonghu commented on #943
This exist also in release-1.0

[2020-07-20 11:20] #943 closed

[2020-07-20 11:21] #941 closed

[2020-07-20 23:05] k82cn commented on #941
how about mpi job?

[2020-07-21 02:03] hzxuzhonghu commented on #941
It's the same caused by non existing secret key

[2020-07-23 09:50] Thor-wl opened #946 "v1.1 feature design: update and enrich content on volcano offical website"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
current content on offical website problem(order by descending  priority):
  - insufficient or missing of introduction about core concepts/framwork/work principle
  - lack of end-to-end quick start
  -  layout of website needs to be adjusted according importance of content

**What you expected to happen**:
required works:
  - organi

[2020-07-23 09:50] Thor-wl commented on #946
@Thor-wl

[2020-07-23 09:56] Thor-wl opened #947 "v1.1 feature design: design and implementation of resource reservation for big job"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
volcano cannot reserve resource for big job in current version
**What you expected to happen**:
required work:
  - provide solution design
  - design implementation
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `ku

[2020-07-23 09:56] Thor-wl commented on #947
@Thor-wl

[2020-07-23 10:02] Thor-wl opened #948 "v1.1 feature design: volcano support ARM architecture"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
volcano cannot support ARM architecture currently
**What you expected to happen**:
volcano support ARM architecture
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware con

[2020-07-23 10:02] Thor-wl commented on #948
@Thor-wl

[2020-07-23 11:42] k82cn commented on #947
/cc @Gouthamkreddy1234

[2020-07-23 12:04] hzxuzhonghu commented on #948
/assign @Thor-wl

[2020-07-24 03:01] Thor-wl commented on #921
fix PR: https://github.com/volcano-sh/volcano/pull/949

[2020-07-24 06:15] hzxuzhonghu opened #950 "Podgroup's status condition is flipping"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Create a vcjob and after it is running. Then i scale up(and the cluster has no enough resource to hold the minavailable tasks), and i can see the podgroup is flipping between two statuses.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kno

[2020-07-24 07:53] #950 closed

[2020-07-25 10:10] #851 closed

[2020-07-27 08:52] zishen commented on #940
ok, thanks a lot. we do this in device-plugin as gpu. And this works.

[2020-07-27 08:52] #940 closed

[2020-07-27 17:00] rhenwood-arm commented on #816
@k82cn - I'm working with @odidev on projects that are important components for cloud native developers. We were interested initially in using Travis-CI with AArch64 support to check nothing breaks on AArch64.

[2020-07-28 00:46] k82cn commented on #816
I'm not sure whether Travis-CI have free support on AArch64 as we do not have budget for CI right now :)
Overall, I'd like to support AArch64 for Volcano .

[2020-07-28 01:40] rhenwood-arm commented on #816
@k82cn Travis-CI have zero cost AArch64 (and x86) CI :)

[2020-07-28 04:10] k82cn commented on #816
that's great, any guidance to enable that?

[2020-07-29 01:01] daixiang0 opened #962 "support scheduling monitor"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In some case, scheduling may have some time to wait, maybe resources limit, maybe pre-job not finish, maybe too much job in queue. It is helpful for users to know their jobs's status(queued, wait or so on).

Also, it is very useful to analyze scheduing bottleneck.

The monitor should show following info:
- queue stat

[2020-07-29 02:19] hzxuzhonghu opened #963 ""Scale down to zero and scale up" e2e failed"
"Scale down to zero and scale up" e2e failed, but the ci could not detect the failure

[2020-07-29 02:20] hzxuzhonghu commented on #963
/assign

[2020-07-29 02:20] hzxuzhonghu commented on #963
The failure reason is the json merge patch, will ignore replicas with value 0.

[2020-07-29 03:35] hzxuzhonghu opened #965 "Reclaim Case 7: New queue with job created no reclaim when job not satisfied with predicates flake"
/kind bug

**What happened**:

[code]

[2020-07-29 03:35] hzxuzhonghu commented on #965
@alcorj-mizar

[2020-07-29 05:57] #963 closed

[2020-07-30 01:30] hzxuzhonghu opened #968 "MPI job failed"
/kind bug

This is a regression since #918 and #942

[code]

[2020-07-30 02:59] #968 closed

[2020-07-30 06:02] hzxuzhonghu commented on #921
fixed by #959 and #966

@silenceli Would you please have a try?

@Thor-wl We need an e2e case to cover this case

[2020-07-30 06:02] #921 closed

[2020-07-30 07:37] Thor-wl commented on #816
@Thor-wl

[2020-07-30 09:48] yuyue9284 commented on #461
This cause the mpi job example in mpi-operator repo failed (https://github.com/kubeflow/mpi-operator/blob/master/examples/v1alpha2/tensorflow-benchmarks.yaml) when gang scheduling is enabled.

[2020-07-31 01:35] weiranzhixin opened #975 "meaning of queue weight"
what is the meaning of weight of queue?
as I can see the queue named 'default'  with weight 1, does it mean the default queue share 10% cluster resource?
then if it is right, which kind of resource will be shared: cpu, memory, or extended resource like GPU?
what is the action when client request resource more than queue weight?

[2020-07-31 01:42] weiranzhixin opened #976 "how to use ssh plugin"
when submit job with ssh plugin,  I can see /root/.ssh directory with 3 files in Pod: config  id_rsa  id_rsa.pub.
How to use these info to ssh without password ?

[2020-07-31 08:56] Lhfxxqx510 opened #979 "V0.4 & V0.1 Statement Discard when schedule failed not correct result nodeinfo.pods add but not sub."
**Is this a BUG REPORT or FEATURE REQUEST?**:

stmt.Discard called unpipeline and unallocate to delete pipelined or allocted task in job when job schedule failed , in unpipeline and unallocate function will remove nodeinfo.pods for node from task.NodeName, but task.NodeName is set as "" before call DeallocateFunc with args task.

/kind bug

**What happened**:

**What you expected to happen**:

**H

[2020-07-31 09:06] Lhfxxqx510 commented on #979
What happened:   for a job after many times allocate and discard, the job's task will not find predicate node, because AddPredicateFn will return NodePodNumberExceeded which means nodeInfo.Pos is more than node.Allocatable.MaxTaskNum。
this is caused by nodeInfo only add task when allocate ,but not sub task when unallocate.

[2020-07-31 10:32] k82cn commented on #979
/assign @Thor-wl

[2020-08-01 00:57] #936 closed

[2020-08-01 11:51] idvoretskyi commented on #936
@k82cn can you please review and merge the remaining PRs:

https://github.com/volcano-sh/website/pull/42
https://github.com/volcano-sh/mocks/pull/1
https://github.com/volcano-sh/volcano-ansible/pull/2

[2020-08-02 11:52] k82cn commented on #936
Sure, I'll merge them.

[2020-08-03 01:54] Thor-wl commented on #975
@weiranzhixin
1. weight of queue means a relative share of cluster resource of the queue, it represents your request for queue, not a percentage. For example, considering a cluster with 4 cpu, volcano will create a queue named "default" by default and weight is 1. If no new queue created, default queue takes 4 cpu for use. Suppose a new queue named "q1" comes and its weight is 1. Then "default" an

[2020-08-03 02:19] #975 closed

[2020-08-04 01:05] hzxuzhonghu commented on #976
Can u please try `https://github.com/volcano-sh/volcano/blob/master/example/integrations/mpi/mpi-example.yaml`

[2020-08-04 01:13] hzxuzhonghu commented on #979
@Lhfxxqx510  Which plugin do you mean? If it is `predicate`, I think we do it here https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/plugins/predicates/predicates.go#L165

[2020-08-04 07:25] #976 closed

[2020-08-04 08:44] Lhfxxqx510 commented on #979
@hzxuzhonghu   https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/plugins/predicates/predicates.go#L140  nodeName := event.Task.NodeName    nodeName alwys is  "",  and this is set by https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/framework/statement.go#L165 && https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/framework/statement.go#L332

[2020-08-04 12:42] hzxuzhonghu commented on #979
Thanks, IC

Can you test it by moving L332 after DeallocateFunc

https://github.com/volcano-sh/volcano/blob/91e94ae75083316e14d7ecd529860849f5fa41b8/pkg/scheduler/framework/statement.go#L332-L339

[2020-08-04 12:46] hzxuzhonghu commented on #933
@ggaaooppeenngg  I think it makes sense, let's push it forward

[2020-08-05 01:45] Lhfxxqx510 commented on #979
I Modify  L332 to
  //task.NodeName = ""
 for _, eh := range s.ssn.eventHandlers {
 	if eh.DeallocateFunc != nil {
 		eh.DeallocateFunc(&Event{
 			Task: task,
 		})
 	}
 }
task.NodeName = ""

and modify  L204 to   //task.NodeName = ""
add   task.NodeName = "" to L225

It works correctly.

[2020-08-05 08:51] hzxuzhonghu commented on #979
Thanks for the verification, could you please file a pr?

[2020-08-06 09:17] william-wang opened #983 "Job plugin function 'OnJobAdd' is called multiple times"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We add a customized job plugin and implement the OnJobAdd function.
The OnJobAdd function is supposed to be called only once when the job is added.
The fact is the OnJobAdd function is called mutiples times and cause a wrong behavior.

The cause is the new created job keeps in 'Pending' for a period of time. So each time it returns

[2020-08-06 10:03] hzxuzhonghu commented on #983
/assign

[2020-08-06 13:44] zishen commented on #865
When scheduler find resource not meet require, I want to delete or failed this vcjob.

Now I find scheduler has event to notice controller to deal the case. But i sames not woked. So how to built the communicate from scheduler to controller ?
@hzxuzhonghu @k82cn

[2020-08-07 03:52] #979 closed

[2020-08-07 06:22] hzxuzhonghu commented on #865
Why not do it outside of the scheduler when you find the job is can not be run because of lacking resources?

[2020-08-08 07:06] k82cn opened #985 "[tech-debat] gpu-operator integration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

Should we use an operator to manage accelerator device plugins and related components. xref https://github.com/NVIDIA/gpu-operator .

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kuberne

[2020-08-08 07:06] k82cn commented on #985
/cc @carmark @Jeffwan

[2020-08-09 09:39] zishen commented on #865
Du to the resource, I cannot kown the job's legality before schule. And in the vc-controllr, I cannot get job and node infor both if not and interface.
Another reasion, I want make less changes.
@hzxuzhonghu

[2020-08-10 03:12] weiranzhixin opened #988 "How to set minAvailable in task level"
* vcjob has 2 tasks: task_a, task_b
* task_a has 2 replicas, task_b has 3 replicas
* expected minAvailable  resource is : 1 replica of task_a, 2 replica of task_b

* when 1 replica of task_a, 2 replica of task_b succeeded, then complete the job
* the status of job is completed

[2020-08-10 04:23] weiranzhixin commented on #988
can volcano act like this described in the issue ?

[2020-08-10 06:21] k82cn commented on #988
I think this is a new feature to volcano :)

/cc @hzxuzhonghu @Thor-wl

[2020-08-10 07:25] hzxuzhonghu commented on #865
You donot need to change any code, you can check the podgroup's status.

Should be `pending`

[2020-08-10 08:03] hzxuzhonghu commented on #988
@weiranzhixin Can you elaborate on your use case?

[2020-08-10 08:53] hzxuzhonghu commented on #983
We can not ensure `OnJobAdd ` called only once.  Actually the name is confusing. It should be renamed to OnJobInit or something

[2020-08-10 09:34] weiranzhixin commented on #988
* for ps and  worker scene,  we want to complete the whole job when expected numbers of workers  succeeded.
* expected numbers of workers  may be lower than the replicas of worker task

[2020-08-10 11:04] k82cn commented on #983
why? we should only get `add` event once.

[2020-08-10 11:26] Thor-wl commented on #804
@zishen Have you already build images on arm64?

[2020-08-10 15:44] Jeffwan commented on #985
@k82cn
gpu-operator simplify the stack and user doesn't have to install driver. It's kind of an alternative to current stack.

current:  nvidia driver(node level) + device plugin (k8s level) + DCGM monitoring (application level)
gpu-operator: all in on stack

From volcano's perspective, I thought this layer is transparent?

[2020-08-11 00:03] k82cn commented on #985
Yes, that's helpful for user to deploy gpu stack; maybe do some integration with it :)

[2020-08-11 01:56] hzxuzhonghu commented on #983
Think of a simple scene: If we got a restart, or leader lost, A new `Add` event will triggered

[2020-08-11 02:24] k82cn commented on #983
let's handle it similar to informer callback.

[2020-08-11 02:35] k82cn commented on #988
That's interesting! Will it get correct result if just part of worker finished?

[2020-08-11 06:57] hzxuzhonghu opened #991 "enqueue conflict with preempt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Create a low priority job to occupy all the cluster resource, then create a high priority job, we can find that the high priority job can never become `inqueue` status.

This is actually a regression since enqueue feature introduced.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2020-08-11 06:59] hzxuzhonghu commented on #991
cc @william-wang

[2020-08-11 10:14] hzxuzhonghu commented on #988
@weiranzhixin I have consulted several guys working on tensorflow,  they do not know this kind of usage. So can you give us some more context?

[2020-08-12 13:04] kinderyj opened #993 "Questions about volcano and Kubernetes Scheduer Framework"
When volcano works with Kubernetes' default-scheduler, the same resource on a node may be allocated by the volcano and default-scheduler at the same time.  How does volcano handle this issue?

By the way, Kubernetes provides Kubernetes Scheduer Framework for developers to extends the scheduler's ability, is it possible for volcano to use the Kubernetes Scheduer Framework?

Thanks a lot!

[2020-08-13 12:39] hzxuzhonghu opened #997 "Refactor job plugin interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The methods `OnJobAdd` and `OnJobDelete` are very confusing.
 Actually:
1.  `OnJobAdd` is called during job initializing
2.  `OnJobDelete` is called when killing a job, maybe by restart action

Propose renaming
 `OnJobAdd` to `OnJobInit`
 `OnJobDelete` to `OnJobKill`

Maybe some other better naming, suggestions are w

[2020-08-13 12:43] hzxuzhonghu opened #998 "jobcontroller.killJob misses job status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

In killJob, it will update job status. And the status is missing `ControlledResources`.

`ControlledResources` are set when calling plugins' `OnJobAdd` method.  It is the responsibility of each plugin to maintain the ControlledResources. IMO, we should unset the controller resource in `OnJobDelete`

**What you expected

[2020-08-14 07:52] hzxuzhonghu opened #999 "Benchmark on volcano scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

As more and more users are asking is there a benchmark for volcano. It is fairly reasonable to have a scalability performance test on volcano.

As talked on volcano community meeting, @carmark from Tencent has done some similar tests.
IMO, the below benchmark should be provided: we can use [kubemark](https://stupefied-goodall-e282f7.ne

[2020-08-15 04:27] Thor-wl commented on #948
releate PR: https://github.com/volcano-sh/volcano/pull/1000

[2020-08-17 01:09] daixiang0 commented on #962
ping @k82cn

[2020-08-17 05:23] k82cn commented on #962
That's reasonable to me :)

[2020-08-17 05:44] DeliangFan opened #1001 "Volcano scheduler panic if not set minResources in podgroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Volcano scheduler panic if not specific the minResources in podgroup when scheduling.

goroutine 186 [running]:
k8s.io/apimachinery/pkg/util/runtime.HandleCrash(0x0, 0x0, 0x0)
        /opt/tiger/compile_path/src/code.byted.org/tce/volcano/vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go:55 +0x105
panic(0x1692540, 0

[2020-08-17 06:38] Thor-wl commented on #1001
please provide your volcano version. Let me have a try

[2020-08-17 06:53] Thor-wl commented on #1001
@DeliangFan I've tried once with the latest version and volcano works happy. Can you provide more detail about test environment and version info?
my test case:
`
apiVersion: scheduling.volcano.sh/v1beta1
kind: PodGroup
metadata:
  name: test-pg
  namespace: default
spec:
  minResources:
    cpu: "3"
  queue: default
`
my volcano version: v1.0

[2020-08-17 06:53] hzxuzhonghu commented on #991
I donot think it is worth coupling enqueue with preempt/reclaim. Currently, i want to declare it in the release note.  If users need preempt, enqueue should be disabled.

[2020-08-17 06:55] #948 closed

[2020-08-17 07:22] Thor-wl commented on #947
@Gouthamkreddy1234 Can you make an introduction of the usage scenarios？

[2020-08-17 07:22] hzxuzhonghu commented on #997
cc @k82cn @william-wang
AFAIK, some users may extend with their own plugin. If we do this, it will require them to change their plugins as well when upgrade. So i need your input here

[2020-08-17 07:28] Thor-wl commented on #816
https://github.com/volcano-sh/volcano/pull/1000

[2020-08-17 08:07] DeliangFan commented on #1001
all commits before 91e94ae

[2020-08-17 08:08] DeliangFan commented on #1001
This patch 8fbcd7dc5 makes it panic

[2020-08-17 09:30] hzxuzhonghu opened #1007 "cleanup scheduler api"
we need to remove `pkg/apis/scheduling/types.go`, which was introduced to support api convert between different versions before.
And as we have removed the old gvk, we can remove it. Which can bring some performance improvement as well

[2020-08-17 09:31] #1001 closed

[2020-08-17 09:33] #816 closed

[2020-08-17 22:50] Gouthamkreddy1234 commented on #947
@Thor-wl Sure! Let me draft a list of usage scenarios. I will keep you posted on this thread.

[2020-08-18 06:06] Thor-wl commented on #946
https://github.com/volcano-sh/website/pull/46
https://github.com/volcano-sh/website/pull/47
https://github.com/volcano-sh/website/pull/48
https://github.com/volcano-sh/website/pull/49

[2020-08-19 01:09] Thor-wl commented on #946
https://github.com/volcano-sh/website/pull/50/files

[2020-08-19 01:26] Gouthamkreddy1234 commented on #947
These will be the primary usage scenarios -

**Case 1:**
When we have insufficient resources in the cluster, the jobs with large resource requirements (with equal priority as smaller jobs) will be at risk of starvation. The job that can not be scheduled for a long time due to insufficient resources is called a starving job. If the Volcano scheduler continually launches small applications while sma

[2020-08-19 01:28] Gouthamkreddy1234 commented on #748
This feature will be a part of v1.1 and is being discussed here - [https://github.com/volcano-sh/volcano/issues/947](https://github.com/volcano-sh/volcano/issues/947)

[2020-08-19 02:31] Thor-wl commented on #1001
I've pulled the newest code with the pr you mentioned and tried again as the scene you describe. But scheduler still works happy. Is it possible that thers's some problem with your environment or error operation？

[2020-08-19 09:08] Thor-wl commented on #947
@Gouthamkreddy1234 Thanks a lot! It's very import for me to make the feature design

[2020-08-20 03:12] DeliangFan opened #1009 "Add podgroup limit in queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Similarly to yarn, a queue need to limit the maximum podgroup(job/application).

And an alternative implementation could be,

- Add maxPodgroup in queue spec.
- Implement the maximum podgroup checking in podgroup webhook.

[2020-08-20 05:59] Thor-wl commented on #946
https://github.com/volcano-sh/website/pull/51
https://github.com/volcano-sh/website/pull/52

[2020-08-20 06:54] hzxuzhonghu commented on #1009
There are many other attributes from yarn queue, but i am not aware of what's the usecase, as we have `Capability`? We can use hard limit provided by capacity.

[2020-08-20 06:56] hzxuzhonghu commented on #818
I think this is fixed by integrating with argo https://github.com/volcano-sh/volcano/pull/853

[2020-08-20 06:56] #818 closed

[2020-08-20 07:29] #998 closed

[2020-08-20 08:27] Thor-wl commented on #947
https://github.com/volcano-sh/volcano/pull/1011  Feature design v1.0 is uploaded. Disscuss is going.

[2020-08-20 08:42] DeliangFan commented on #1009
Capacity with some extra implement in volcano could meet the requirement.

[2020-08-20 12:47] hzxuzhonghu commented on #1009
I would want to know the deeper reason why you need to limit the podgroup number per queue? If it is reasonable, we are happy to do that

[2020-08-24 08:12] hzxuzhonghu commented on #834
Duplicate with https://github.com/volcano-sh/volcano/issues/921, fixed in v0.4.2

[2020-08-24 08:12] #834 closed

[2020-08-27 06:25] merryzhou opened #1014 "delay pod creation feature not consider resourcequota"
/kind feature

As mentioned in [delay pod design](https://github.com/volcano-sh/scheduler/blob/master/doc/design/delay-pod-creation.md),  scheduler should watch resourcequota to decide whether podGroup has enough resource quota to create.
[code]
But now in the implementation, the enqueue action controls the quota by queue.Spec.Capability instead of k8s resourcequota, so I am curious about the reas

[2020-08-27 07:11] hzxuzhonghu commented on #1014
The queue is cluster scoped not namespace scoped, and it is a set of podgroups in different namespaces. And different queues can include podgroups of the same namespaces too.

As the resourcequota, it is the kube-apiserver that use it to intercept the pod creation

[2020-08-27 07:27] hzxuzhonghu opened #1015 "Propose to watch scheduler config file"
/kind feature

Instead of  loading it per scheduling period uses file watcher to watch it. And only reload when it changed

[2020-08-27 13:18] kongkongk opened #1017 "Volcano-scheduler panic when create pod and use pvc"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Volcano-scheduler panic when create pod and use pvc

![image](https://user-images.githubusercontent.com/22409667/91444992-13a5bc80-e8a8-11ea-8665-f07256bc31e7.png)

![image](https://user-images.githubusercontent.com/22409667/91445184-64b5b080-e8a8-11ea-89c4-d26ed9372e84.png)

[code]

**What you expected to happen**:
creat

[2020-08-27 23:16] k82cn commented on #1017
@william-wang , please help to check this one.

[2020-08-27 23:18] k82cn commented on #1014
+1, it's better to avoid enquing an `PodGrouop` which does not have enough quota :)

Would you like to create a PR for that?

[2020-08-28 00:55] wpeng102 commented on #1017
Need move https://github.com/volcano-sh/volcano/blob/ad3a8a16157436ac9551bbad3be60183027f72b5/pkg/scheduler/cache/cache.go#L336  initialize code before use.

Reproduce:
1) submit volcano job with pvc
2) create pv and pvc

[2020-08-28 03:05] merryzhou commented on #1014
ok，I‘d like to have a try.

[2020-08-28 03:51] alcorj-mizar opened #1019 "Volcano advanced statistics and metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened & What you expected to happen**:

Volcano is very important on fair and efficient on batch job schedule, provides various of plugins to help administrator manage plugins and improve average/max wait time and resource usage.

1.  We need to calculate statistics to improve user wait experience, which need average/max wait

[2020-08-28 06:55] wpeng102 commented on #1017
https://github.com/volcano-sh/volcano/pull/1018

[2020-08-28 08:16] william-wang commented on #1017
Let's fix this issue today. @wpeng102

[2020-09-01 07:26] merryzhou opened #1029 "vc job status stay pending when job retry times exceed maxRetries(=15)"
/kind bug

**What happened**:
1. create a resourcequota  with gpu resources limit: 4
2. create a vcjob who need 8 gpu（1 master * 0 gpu, 4 worker * 2gpu）
Apparently, only 2 worker pod will be created.

After 4 minutes, the vcjob stays pending status, and there is no warning event when describe the job。
we can only tell what happened from volcano controller manager log。

[code]

After reading volcan

[2020-09-01 08:23] william-wang commented on #1029
@Thor-wl , please take a look.

[2020-09-03 01:15] Thor-wl commented on #1029
ok

[2020-09-03 08:45] merryzhou opened #1031 "Add maxRetries parameters to controller"
/kind feature

**What happened**:

[code]

the maxRetries is hard coded.

And In my scenario, I hope the job controller keep retrying, just like other k8s controllers.

So, is it ok to add  a maxRetries parameter, default value is 15, when set to -1, it means retry endlessly

**Environment**:
- Volcano Version: v1.0.1

[2020-09-05 01:02] hzxuzhonghu commented on #1031
I am ok with this requirement and welcome a pr addressing this.

[2020-09-07 03:45] ruanxingbaozi opened #1032 "the label i marked on the job doesn't inherit pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
the label i marked on the job doesn't inherit pod
[code]
**What you expected to happen**:
i expect to find labels on the pod

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud pro

[2020-09-07 05:59] hzxuzhonghu commented on #1032
@ruanxingbaozi It is expected, the job's label is not propagated to the pod. You can set the labels in `PodTemplateSpec`.

[2020-09-07 06:38] ruanxingbaozi commented on #1032
thanks, use PodTemplateSpec it's work. but i think the job's label  propagated to the pod would be more better.

[2020-09-07 06:39] #1032 closed

[2020-09-07 06:57] hzxuzhonghu commented on #1032
The behavior is consistent with Kubernetes native resource, like deployment/job.

[2020-09-07 11:46] hzxuzhonghu opened #1033 "Support hierarchy queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

In order to better support fairshare scheduling, propose to support hierarchy queue.

There are two types of queues: parent queues and leaf queues.

[code]

[2020-09-07 11:46] hzxuzhonghu commented on #1033
/kind feature

[2020-09-07 11:52] hzxuzhonghu opened #1034 "Improve Job API to support specific types of job"
Currently, when users need to do TensorFlow training, firstly they need to define the TF job, with plugin `svc` `env` set.

But if they want to run MPI job, they would need to set `svc`, `ssh` plugins. It is not friendly, so we want to improve, this will require API change to support specific types of jobs without requiring users to be aware of the inner plugins.

[2020-09-07 11:53] hzxuzhonghu commented on #1034
/kind feature

[2020-09-07 12:14] hzxuzhonghu opened #1035 "Customize scheduling algorithms per queue"
Support customized scheduling algorithms per queue, the main use scenario is: different users may need different algorithms, even in the same clusters.

For example, the `enqueue` is not necessary and may conflict with preempt. So it is better to configure the scheduling according to the user's requirement.

[2020-09-08 01:16] william-wang commented on #1033
It's an important feature. With this feature, volcano can support more scenarios. Do we have a design document right now ?

[2020-09-08 01:19] hzxuzhonghu commented on #1033
No, just file it as a task of cncf community bridge

[2020-09-08 06:33] zen-xu opened #1036 "Werid Resource Less behavior"
/kind bug

**What happened**:

I want to compare to `Resource`, here is the code

[code]

**What you expected to happen**:
I think this should be `true`

**How to reproduce it (as minimally and precisely as possible)**:
Just run the code

[2020-09-08 07:07] hzxuzhonghu commented on #1036
Thanks for reporting

[2020-09-08 07:09] k82cn commented on #1036
it's better to replace `float64` with `big.Rat` in `Resource`

[2020-09-09 09:43] hzxuzhonghu opened #1038 "`openSession` need optimization"
Reported by @carmark It takes about 400ms for session initialization, which is absolutely too much.

We guess most time is caused by `	snapshot := cache.Snapshot()`

@carmark It is better to provide your cluster scale: the number of nodes, pods, podgroups, etc?

[2020-09-09 12:30] zishen opened #1039 "When restart a vcjob frequency, volcano cache get node annotation value empty"
this maybe a BUG

/kind bug

What happened:

I put a key/value in node annotation, and volcano schedule get this for other use. When I restart(delete and apply a same name vcjob) vcjob frequency, I found the key's value is empty, otherwise the others in annotation is ok.

But I use ` kubectl describe node` can find this annotation .

How can I find what happened?

Environment:

Volcano Version:v0.

[2020-09-11 02:37] Thor-wl opened #1041 "[idea wanted]How to reserve resource for target job efficiently"
[description]
Suppose a cluster has N nodes with numbers from 1 to N, and total resource(CPU&Memory) in every node is determined. The resource in all nodes may be the same or diffierent. There is a steady stream of jobs coming, and there are also jobs finishing from nodes. Now we choose a pending job which has X tasks, waiting for a long time and may requests a large amount of resource. In order t

[2020-09-11 03:13] zen-xu commented on #834
@hzxuzhonghu
I don't think #921 has fixed all this problem.
I have try to use v0.4.2, queue still can overuse when job specify with **replicas case**
[code]

[2020-09-14 08:55] zen-xu opened #1046 "When some tasks failed, some tasks succeeded, Job Phase should be Failed rather than Completed"
I submit one job with 2 tasks.

If 2 tasks both `failed`, the Job status phase display **Failed**!

If 2 tasks both `succeeded`, the Job status phase display **Completed**!

If 1 task `failed`, 1 task `succeeded`, the Job status phase display **Completed**!
It's werid. I think any task failed, the Job status phase should be **Failed** rather than **Completed**

[2020-09-14 09:02] zen-xu commented on #1046
/bug

[2020-09-14 09:20] zen-xu opened #1047 "Support auto scaling memory if Container Terminated Reason is OOMKilled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

It's hard to guess how much memory we need.
If request memory is not enough, the task will OOMKilled, then we need to correct it again and again.

**What you expected to happen**:

We hope volcano can auto scaling memory for the job when task OOMKilled, then we needn't correct it by hand, volcano will help us for it.

[2020-09-14 13:28] hzxuzhonghu commented on #1047
The OOM maybe caused by memory tension of just one node, i think it is hard to say that cluster is lack of memory now.

[2020-09-14 13:32] zen-xu commented on #1047
For some reasons，our task limits resources equeal requests resources，so if one task use memory over requests memory，the task will OOMkilled

[2020-09-15 01:21] Thor-wl commented on #1046
please show me your job and podgroup definition with YMAL style. Perhaps minAvailable field setting is incorrect

[2020-09-15 01:31] hzxuzhonghu commented on #1047
Yeah, this is more of your own scene, it can be another case:  other pods reside in same node with your task, but they are using more than requested but they may have higher priority. In this case oom killer will first kill the low priority process(maybe your task)

[2020-09-15 01:31] Thor-wl commented on #1047
In essence, container resource dynamic expansion and reduction is a problem in resource management and K8s has not supported it yet. It will bring unpredictable complexity and risk such as zombie containers for malicious preemption of resources. Volcano mainly foucses on job scheduling and tasks relationship managerment, not resource management.

[2020-09-15 07:41] ProgramerGu opened #1048 "xpu-plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Kubernetes has supported a variety of heterogeneous device management plugins, such as GPU plugin and GPU share. This issuse mainly focuses on the Kunlun chip device XPU developed by Baidu company
**What you expected to happen**:
A new device-plugin for xpu
**How to reproduce it (as minimally and precisely as possible)**:
XPU Device

[2020-09-15 07:41] ProgramerGu commented on #1048
@tizhou86

[2020-09-15 07:49] tizhou86 commented on #1048
@k82cn

[2020-09-15 07:50] tizhou86 commented on #1048
/assign @k82cn

[2020-09-15 08:06] ProgramerGu opened #1049 "cpu careful regulation by scheduler-extender+device-plugin"
**What happened**:
cpu-manager默认的顺序绑核，无法满足对容器跨socket敏感的业务的需求，且在1.13.4+版本中，cpu-manager的调度触发条件有限制（Container请求的Logic CPUs数量不小于单块CPU Socket中Logci CPUs数量、Container剩余请求的Logic CPUs数量不小于单块物理CPU Core提供的Logic CPUs数量）因此小规格容器无法通过kubernetes申请绑核。
**What you expected to happen**:
在kubernetes调度的基础上，实现无需人工干预的，针对多种规格pod，使用多种绑核调度方案的cpu精细绑核调度功能，满足用户对于高性能实例和cpu绑核的需求，保证支撑在线上1分钟500台pod并发扩容量，在此基础上尽量均衡集群资源，提高cpu&mem资源使用率。

[2020-09-15 08:07] ProgramerGu commented on #1049
/assign @k82cn
@k82cn
@tizhou86

[2020-09-15 15:20] zen-xu opened #1052 "Task will OutOfMemory/OutOfCPU cause of scheduler cache node info is different from k8s node info"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have meet task **OutOfMemory/OutOfCPU** many times, but have no idea why at first.
Then we add some logs to display node info when session open.
We found some node infos were different from the k8s allocatable node infos when OutOfMemory/OutOfCPU occurs.

**What you expected to happen**:
They should always be the same

[2020-09-16 02:26] Thor-wl opened #1053 "[PR Wanted]Volcano Webiste Documentation Optimization With Award Winning"
Dear all，
Since we received some complaint and feedback about volcano documentation, we have worked for about two weeks to update the website, especially documentation. Our goal is to "make newer start volcano without difficulty". Although we've tried our best to make everything easy, there still must be something to be optimized. We are honored to invite you to join and help us.
#### Task
Read th

[2020-09-16 02:38] hzxuzhonghu commented on #1052
Can you elaborate a little bit more and paste your logs if possible?

Resync period will retrigger event for the local cached resources, it has nothing to do with this. The list-watch is level triggered

[2020-09-16 02:48] zen-xu commented on #1052
pkg/scheduler/framework/session.go
[code]

Node **used** resource is different from k8s Node **allocated** resources.

[2020-09-16 02:51] hzxuzhonghu commented on #1052
Where do you get `Allocated` resource?

[2020-09-16 05:59] k82cn commented on #1048
I'm ok with that, please create PR to https://github.com/volcano-sh/devices

[2020-09-16 06:28] kevin-wangzefeng commented on #1053
/label help wanted
/label good first issue

[2020-09-16 07:00] zen-xu commented on #1052
[code]
![image](https://user-images.githubusercontent.com/38552291/93302993-60d4d880-f82d-11ea-9fa6-a735b7ff654f.png)

[2020-09-16 07:25] hzxuzhonghu commented on #1052
IC, there is some latency between volcano and kubelet, volcano calculates the used differently. It add pods bound to a node but in pending status.

[2020-09-16 07:33] zen-xu commented on #1046
I found the reason!

pkg/controllers/job/state/running.go
[code]

But I can't understand why `if status.Succeeded >= ps.job.Job.Spec.MinAvailable` job state will be `Completed`, even if some tasks may failed.

[2020-09-16 07:38] zen-xu commented on #1047
Such a pity 😥

[2020-09-16 07:38] #1047 closed

[2020-09-17 03:17] zen-xu commented on #1052
I have read the cache logic, it's truely no matter with node informer.

But if restart the scheduler, is it possible some tasks may not be added to node info, then volcano cache node info  Allocated resource will be different from k8s Allocated resource.

Because we found OutOfMemory/OutOfCPU always occurs after scheduler restarted.

[2020-09-17 03:21] hzxuzhonghu commented on #1052
Can we talk in slack or WeChat more instantly?

[2020-09-17 03:23] zen-xu commented on #1052
![7f1f74f9b037b991a007a7d486ee066](https://user-images.githubusercontent.com/38552291/93416368-4277e700-f8d8-11ea-81a3-e93752c27107.jpg)

[2020-09-17 03:51] #836 closed

[2020-09-17 09:29] hzxuzhonghu commented on #1036
/reopen
This is not fixed yet

[2020-09-17 12:23] zishen opened #1054 "Some suggestion or doubt about volcano certificate and secret key"
**These maybe some security issue about volcano **:

about gen-admission-secret.sh file
1. Volcano product certificate and secret key in "/tmp", but the Directory's right is not 600. So I suggest to put certificate and secre in /tmp/volcano and make the rigth 600, owner volcanor.
2. The secret key is stored in clear text.  It should be encrypt and its encryption strength is not less than the algor

[2020-09-18 04:51] yushanjin opened #1055 "volcano documentation bug or suggestion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

1、介绍里最好补充下volcano这个词的由来，我拼写这个词每次都得看好几遍，另外我看到gitbub上有volcano/volcano这个项目，容易让人产生歧义
2、建议简介里增加一句总结性的语句，如：volcano是xxxxx调度引擎
3、https://volcano.sh/zh/docs/vcjob/这里面提到vcjob和k8s job的区别，可以指定调度器，而实际上k8s中应该也可以指定自定义的调度器吧
4、我个人觉得还是得增加一些注意事项，比如普通的k8s job甚至其他资源对象，如果指定了volcano调度器，会产生什么后果
5、关于cli命令，说明下kubectl 与vcctl使用上的区别，比如：kubectl get vcjob 和 vcctl job list 有什么本质上的区别

[2020-09-18 09:36] hzxuzhonghu commented on #1055
Thanks for your reporting

cc @Thor-wl

[2020-09-18 09:54] liuchintao commented on #1031
@hzxuzhonghu hello, can I ask a question? I was puzzled that why Volcano Job Controller only tried to execute action 15 times.
Are there any restrictions on Job Controller or job cache?

[2020-09-19 03:20] Thor-wl commented on #1055
Thank you for your advice.
1. Make a brief introudction of the name "Volcano" is meaningful. It is good for newers to understand the role of the system.
2. We do have a summary for intrduction. Please have a look at "About" section title.
3. K8S sets default-scheduler as default, no custom scheduler filed as far as i know.
4. I think it's a good advice to introduce how to run native job on Volcano

[2020-09-19 06:54] hzxuzhonghu commented on #1031
Actually we think 15 is enough, the retry can happen when error occur, maybe `ratelimit`, `transient network issue`. With limited retry, it can recover automatically.

I am not sure i understand your question

[2020-09-21 06:09] liuchintao commented on #1031
Thanks for your reply~

As you said, 15 is sufficient in most cases, like ratelimit, transient network issue.

However, what is the expected behavior, when it still failed after 15 retries? I think it is possible.

For example, in my namespace `foo`, there is a `resource quota` for 5 cpus.

[code]

And my mpijob just need 5 cpu, a mpi-launcher need 1 cpu, 2 mpi-workers need 2 cpu separately. Every

[2020-09-21 08:55] huone1 opened #1058 "kubectl apply -f volcano-development.yaml latest，volcano-scheduler'status is CrashLoopBackOff"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubectl apply -f volcano-development.yaml, volcano-scheduler'status is CrashLoopBackOff

volcano-system   volcano-scheduler-7c5d7bbcd4-s26kc    0/1     CrashLoopBackOff   12         46m
I Collect same information, below as :
 1. execute "kubectl get queue", dont't find the default queue here.
 2. check the volcano-controll

[2020-09-21 09:36] Thor-wl commented on #1058
This may be a bug, I got scheduler log like this:
# kubectl logs volcano-scheduler-7c5d7bbcd4-s26kc -nvolcano-system
I0921 09:29:33.174340       1 flags.go:52] FLAG: --add-dir-header="false"
I0921 09:29:33.174377       1 flags.go:52] FLAG: --alsologtostderr="false"
I0921 09:29:33.174381       1 flags.go:52] FLAG: --default-queue="default"
I0921 09:29:33.174385       1 flags.go:52] FLAG: --kube-api

[2020-09-22 01:52] hzxuzhonghu commented on #1031
Fair point. Welcome to file a pr.  IMO, We could make use of the existing `MaxRetry` in Job.Spec.

[2020-09-22 01:59] liuchintao commented on #1031
lol~~~ that's fine

[2020-09-22 05:43] k82cn commented on #1058
/cc

[2020-09-22 12:01] Thor-wl commented on #1046
In some scenes, we just expect part of tasks succeed and that's enough to treat the job is successful. As a general partform, Volcano takes it into consideration. It's resonable.

[2020-09-22 14:18] zen-xu commented on #1046
But we expect all tasks should succeed.
We set `minAvailable` to 1, because we don't need all tasks can allocate resource to run. Some tasks running, some tasks pending this is OK. But we should confirm each task will succeed. So if any task failed, Job display `Completed`, it looks werid.

[2020-09-23 06:45] DeliangFan opened #1059 "better log level to improve scheduler performance"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

It takes nearly 30mins to scheduler 1k podgroup with 1w pod in 1w node cluster. Some unreasonable log level result in 2MB/s log file increases with log level 3, which impact the scheduler performance dramatically.

**What you expected to happen**:

Refactor the unreasonable log level to improve the performance.

**How to reproduce

[2020-09-24 02:19] Thor-wl commented on #1058
The root reason is that the request of creating default queue cannot reach admission webhook from apiserver. The apiserver log shows timeout but the webhook log shows nothing to reach. I've tried as the installation and everything goes well. Please check y our environment.

[2020-09-24 02:47] #1059 closed

[2020-09-24 09:46] Thor-wl opened #1063 "actions should not take resource of master node into consideration when trying to allocate resource to pending jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
enqueue and allocate action have taken resource of master node into consideration when trying to allocate resource to pending jobs.
[code]

**What you expected to happen**:
remove master node out of nodes receiving user jobs
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Env

[2020-09-24 12:58] Thor-wl opened #1064 "enqueue action optimization about judge whether a job can be inqueue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Current algorithm to judge whether a job can be inqueue in enqueue action is comparing the cluster idle resouce and  the job request. It may causes job stay inqueue phase. For example, there is  a cluster with 2 nodes and capability of each node is 2 cpus.
Two jobs requesting 1 cpu are running in these two nodes separately. Namely,

[2020-09-25 02:51] Thor-wl opened #1065 "add Spark/Tensorflow,etc job example in /example/integrations"
In order to make it clear for new end-user to make use of Volcano, we'd better add some job examples for all computing platforms Volcano supports.

[2020-09-25 07:12] merryzhou opened #1067 "no reason or message when vcjob status updated"
when vsjob failed, the status is as following:

[code]
it‘s not friendly to find the failed reason, is it ok to set reason and message in JobState when update JobPhase?

Environment:

Volcano Version: v1.0.1

[2020-09-25 08:27] Thor-wl commented on #1067
I'm ok about the advice.
/feature

[2020-09-25 12:56] jiangkaihua opened #1068 "Pods with overlarge resource requests were scheduled but kept status `OutOfmemory`."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When I applied a job with resource requests more than the idle reources in the cluster, in most cases the job will be pending, waiting for enough resources to run itself. But in some cases, the pods will show status like this:

[code]
and the pod description reported this:

[code]

so I made some tests, set the requested memory lar

[2020-09-25 13:05] jiangkaihua commented on #1068
I think this questions may refer to the [`func (r *Resource) LessEqual(rr *Resource) bool`](https://github.com/volcano-sh/volcano/blob/3b8662e0e6e4302a633123ae453b842532e93e71/pkg/scheduler/api/resource_info.go#L286)

 It will compare the difference value of `requested memory` and `idle memory` with `minMemory`, which is set [`var minMemory float64 = 10 * 1024 * 1024`](https://github.com/volcano-s

[2020-09-27 02:35] Thor-wl commented on #1046
IC, what you need is not **minAvailable** but **policies**

[2020-09-27 03:17] k82cn commented on #1046
it's better to enhance policy to work together for zen-xu@'s case :)

[2020-09-27 07:38] yushanjin opened #1070 "suggest to support kubectl explain (podgroup queue vcjob) command"
**Is this a BUG REPORT or FEATURE REQUEST?**:  FEATURE REQUEST

**What happened**:
podgroup resource is created automatically, we can aslo assign podgroup when define vcjob. So i use kubectl explain query syntax how to assign podgroup when define vcjob,  but it's empty or non-exist.

[code]

**What you expected to happen**:

support kubectl explain command

**How to reproduce it (as minimally and

[2020-09-27 07:43] ProgramerGu opened #1071 "Can a program bind pod with cpu in a plugin pod(DaemonSet pod)"
**What happened**:
I want to bind pod to Designated cpu,(cpu-manager can't meet all my needs )，so I need a program(or a agent) on each node to do this job
**What you expected to happen**:
I wish my program can run in a plugin pod,so I can just deploy it by DaemonSet,Can it be realized technically?To bind pod with cpus in other pod?
**How to reproduce it (as minimally and precisely as possible)**:

[2020-09-27 07:57] #1068 closed

[2020-09-27 08:06] hzxuzhonghu commented on #1068
I am thinking about removing these completely. It looks kind of useless.

[2020-09-27 10:20] nrchakradhar commented on #993
I am also interested in this discussion. Are there any discussions happening?
I see that @k82cn was reviewer for [KEP scheduling framework](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md).
In K8S 1.19 there has been some work done and the final target as mentioned seems to be 1.21
https://github.com/kubernetes/enhancements/issues/1451#is

[2020-09-27 10:45] nrchakradhar commented on #939
@k82cn I can work on this if some more information is provided as to what changes are needed as this is would be my first issue in volcano. Do we want to create PRs automatically in  https://github.com/volcano-sh/charts OR, something else.

[2020-09-27 23:48] k82cn commented on #939
We'd like to use the feature of git submod to handle that, refer to https://www.git-scm.com/book/en/v2/Git-Tools-Submodules for more information :)

[2020-09-28 03:22] zen-xu commented on #1046
You mean use under policy?
[code]

But  all Pod of Job will be evicted with this policy.
We need the normal pod not affected by the failed pod.
But if any pod failed, the Job state phase should be Failed.

[2020-09-28 13:42] Subham-Pratap commented on #1035
Hey @hzxuzhonghu .

I'm interested in working on this project as part of community bridge. I have demonstrated experience working on scheduling algorithms and scheduling in general with projects on the same. I also have decent knowledge of Golang.

Is there any forum for discussion regarding the project which I can join or a timeline?

Thanks.

[2020-09-29 02:00] wangxf1987 commented on #1071
If you want the pod bind specifty cpu, you can use the NUMA.

[2020-09-29 03:00] ProgramerGu commented on #1071
In our online environment, there are a few machines with NUMA on, but machines without NUMA also have the need to bind the specified CPU to the pod. From a technical point of view, I listen to the creation of the pod in a plugin pod, and then execute the command in the plugin-pod to bind the specified CPU to the target pod. Is this feasible?

[2020-09-29 03:05] Thor-wl commented on #1035
Warmly Welcome! Volcano community has wechat group and weekly meeting. You can search "k8s2222" for a apply to add friend and ask her to join you into volcano group. Our weekly meeting is every 15:00 PM every Friday. The meeting link can be found in README. Volcano feature design and version arrangement are listed volcano/docs. You can find our current ongoing feature and bug fix in the issue list

[2020-09-29 03:09] hzxuzhonghu commented on #1035
@Subham-Pratap Have you applied in the official website?  And this project was selected by sresthasrivastava.

[2020-09-29 03:47] merryzhou opened #1073 "volcano scheduler will panic when use nonexist pvc in vcjob"
log:

[code]

volcano version: v1.0.1

[2020-09-29 04:00] wangxf1987 commented on #1073
It's should be check the pvc state for the task.pod, that before return.

[2020-09-29 06:03] Subham-Pratap commented on #1035
Yes I have applied on the official website and I'm looking at the issue list in the meantime.

[2020-09-29 06:35] hzxuzhonghu commented on #1017
Fixed

[2020-09-29 06:35] hzxuzhonghu commented on #1017
/close

[2020-09-29 06:35] #1017 closed

[2020-09-29 06:35] hzxuzhonghu commented on #1073
Looks duplicate with https://github.com/volcano-sh/volcano/issues/1017

[2020-09-29 06:37] hzxuzhonghu commented on #1073
@Thor-wl We need to release 1.0.2 to include the fix

[2020-09-29 06:41] hzxuzhonghu commented on #1035
@Subham-Pratap Could you select another one?

[2020-09-29 06:54] championshuttler commented on #1033
Hi @hzxuzhonghu , I'm interested in working on this project as part of community bridge. I also applied on the website for the same.
Thanks.

[2020-09-29 06:55] Subham-Pratap commented on #1035
Okay do you want me to select another project within volcano or select a different org. I have also applied on the official website, so should I withdraw it?

[2020-09-29 07:34] hzxuzhonghu commented on #1035
I mean you can select  another project within volcano

[2020-09-29 07:35] hzxuzhonghu commented on #1033
@championshuttler Welcome, it is better to send me a resume.

[2020-09-29 08:48] hzxuzhonghu commented on #1054
As I know we are using a job to create certs and secret, and when it is done, the container exit. IIUC,  there is no security issue

Agree it should be rotated automatically. And the Webhookconfiguration should be updated at the same time.

[2020-09-29 08:58] Thor-wl commented on #1073
OK. I will release a bug fix release recently.

[2020-09-29 09:20] Thor-wl commented on #993
It does a problem about resource allocation confliction when default-scheduler works with Volcano. There's lack of a mechanism how to ensure resource usage synchronization for more than one scheduler when scheduling. But if that happens, kubelet will find the problem in time and reject the later task. In practice, we do not suggest work like this.

[2020-09-29 11:35] danijak commented on #1033
Hello, @hzxuzhonghu
I have applied for the CNCF community bridge volcano project. I would love to contribute to the open-source volcano community.

[2020-09-29 12:38] hzxuzhonghu commented on #1033
@danijak Would want to know which project are you interested in and also expect a resume

[2020-09-29 12:41] championshuttler commented on #1033
@hzxuzhonghu , sent the resume on the email id you mentioned in your github bio.  thanks

[2020-09-29 12:55] hzxuzhonghu commented on #1033
FYI: https://blog.cloudera.com/yarn-capacity-scheduler/

[2020-09-29 13:12] k82cn commented on #993
Nop, the framework in Volcano is better, it provides more mechanism for different scenarios.

[2020-09-30 01:09] Thor-wl commented on #1070
Thank you for the advice? Can you give a PR for that?

[2020-09-30 01:13] Thor-wl commented on #1063
In production environment, It makes sense that master node is just working for controller panel. As to test environment for only one node(master) in cluster, it's still useful for scheduling pods to master.

[2020-09-30 01:13] #1063 closed

[2020-09-30 01:21] Thor-wl commented on #1064
Well, it's not a pending problem. In most scenes, jobs throughout the enqueue action and turning to be "inqueue" will be sheduled in the allocate action. Those who turns to be "inqueue" but cannot be scheduled in the following allocation action often request relative more resource for some task. They just be inqueue there at this scheduling cycle and keep waiting. Finally, they will be scheduled l

[2020-09-30 01:21] #1064 closed

[2020-09-30 02:07] k82cn commented on #1063
it's better to enhance scheduler to select worker nodes :)

[2020-09-30 08:16] shinytang6 commented on #1031
hey there, how is the progress? I think it is more reasonable to leave the `maxRetries` parameter to the user, can l take this as a try?

[2020-09-30 09:28] hzxuzhonghu commented on #1031
Sure.

[2020-09-30 12:39] zishen opened #1074 "Is vcjob name's length limited?"
When I create a name i found it same no rules for name length.

And the code same only judge the 0.

Guys, do you have the same issue?

**Environment**:
- Volcano Version:v0.4.0
- Kubernetes version (use `kubectl version`):1.17.3
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):unbuntu 18.04
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-10-01 13:15] kbroos2 opened #1075 "VCjob stuck in crashLoopBackOff while exact same regular job simply finishes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying the different features of volcano.sh, launching some very simple VCjobs. Despite them successfully completing, they end up in a crashloopbackoff state afterwards. When launching the exact same job in a regular kubernetes job-template, they successfully complete and end up in a "completed state"

**What you expected

[2020-10-02 12:35] danijak commented on #1033
@hzxuzhonghu I have sent my resume and project proposal on mail id(zhhxu2011@163.com) the same day. I want to work on the project "Implement hierarchy queue to better support fair-share".  Please let me know if you have any questions, I hope the above is useful.

[2020-10-03 01:26] k82cn commented on #1075
please also put `      restartPolicy: Never` into VCJob's pod template, similar to k8s job :)

[2020-10-03 01:27] k82cn commented on #1074
is there any issue for that? I'm ok to also check the max length of job name :)

[2020-10-03 10:34] kbroos2 commented on #1075
Thanks! That works indeed. :) When it's pointed out, it is perfectly obvious now.

Just a heads up: the documentation on volcano.sh is therefor not entirely correct:
step 2 at https://volcano.sh/en/docs/tutorials/ does not specify this. Hence the tutorial get stuck into this endless crashLoobBackOff cycle.
Other places of the volcano.sh website still seem to be correct (eg https://volcano.sh/en/do

[2020-10-07 01:48] k82cn commented on #1075
step 2 at https://volcano.sh/en/docs/tutorials/ does not specify this. Hence the tutorial get stuck into this endless crashLoobBackOff cycle.

Thanks very much for your suggestion!

@Thor-wl please help to update related document to close this issue :)

[2020-10-07 03:32] Gouthamkreddy1234 commented on #910
@QizhouYang Could you please help me debug this issue?

Thanks!

[2020-10-08 14:35] Gouthamkreddy1234 commented on #909
@kevin-wangzefeng Does the commit referenced above include the support for minResources?

[2020-10-09 00:58] william-wang commented on #909
@Gouthamkreddy1234 The support for minResources has been merged in spark operator. Here is the link:
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/966

[2020-10-09 01:02] Gouthamkreddy1234 commented on #909
Thanks for the confirmation, @william-wang

[2020-10-09 01:02] #909 closed

[2020-10-09 01:32] Thor-wl commented on #1074
/cc @Thor-wl

[2020-10-09 01:34] Thor-wl commented on #1075
Thanks for your report! I will correct it.

[2020-10-09 01:46] Thor-wl commented on #1031
Welcome to your contribution!

[2020-10-09 23:11] sponsology opened #1082 "TASK_INDEX environment variables are not being set for a job with more than one replica"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running a job with more than 1 replica, the VC_TASK_INDEX and VK_TASK_INDEX environment variables aren't set in the pod environment.

**What you expected to happen**:
The *_TASK_INDEX variables to be set.

**How to reproduce it (as minimally and precisely as possible)**:
Submit a job using a spec like

[code]

and yo

[2020-10-10 01:39] hzxuzhonghu commented on #1082
@sponsology It requires to set plugin to env if you want env set

[2020-10-10 02:25] Thor-wl commented on #1074
As what i tested, the name length of vcjob is not admitted to be more than 63 character.
![Uploading 截图.PNG…]()

[2020-10-10 02:28] huone1 commented on #1058
thanks

[2020-10-10 02:28] #1058 closed

[2020-10-10 06:00] Thor-wl commented on #1075
related PR:https://github.com/volcano-sh/website/pull/100

[2020-10-10 11:18] merryzhou opened #1083 "when total queue weight=0, once a job in queue Q scheduled, other job in queue Q can not be scheduled"
/kind bug

**What happened**:
The weight of all queues in system is 0：
[code]

when a pod in queue Q were scheduled, other pod in queue Q cannot be scheduled.

we found log in scheduler:
[code]

**when totalWeight = 0,  I think it may not be necessary to check whether queue is overused。**

**Environment**:
- Volcano Version: v1.0.1

[2020-10-10 11:46] william-wang commented on #1083
Generally, user create queue without setting weight or setting a meaningful weight.
May I know your scenario? In which case, you guys need to create a queue and setting weight to 0.

[2020-10-12 03:26] Thor-wl commented on #1053
Thanks to every contributor! website update has been finished.

[2020-10-12 03:26] #1053 closed

[2020-10-12 06:27] merryzhou commented on #1083
my scenario：
Jobs in different namespaces should be sorted by created time, and jobs in the same namespace should be sorted by priority（vcjob.spec.PriorityClassName)。So we bind  a queue to each namespace(by setting vcjob.Spec.Queue)。

And we care more about the maximum utilization of resources, not the fairness of resources between queues。

At first, we set weight to 1 for all queues, but found an

[2020-10-12 08:41] Thor-wl commented on #1083
If fairness is not the consideration, how about put all jobs in one queue?

[2020-10-12 09:16] ProgramerGu commented on #1071
Wu...On the whole, it is really the best way to do some work in kubelet. Thank you for your advice～

[2020-10-12 09:27] merryzhou commented on #1083
But we hope jobs in different namespaces should be sorted by created time, and jobs in the same namespace should be sorted by priority

[2020-10-12 13:09] ProgramerGu commented on #1048
Copy that～Thanks～
Should I move the existing files （about gpu）to the directory volcano-sh/devices/gpu or just add xpu stuff to the same directory ?

[2020-10-12 13:32] k82cn commented on #1048
Prefer to move current code to `volcano-sh/devices/gpu` and create xpu stuff in `volcano-sh/devices/xpu` :)

[2020-10-13 02:22] william-wang commented on #1083
Thank you for your clariy.  As you do not care about the queue fairness, you can remove the proportion plugin from volcano-scheduler-configmap. The overUsed function will not impact your case anymore.

[2020-10-13 02:22] william-wang commented on #1083
@merryzhou Thank you for your clariy. As you do not care about the queue fairness, you can remove the proportion plugin from volcano-scheduler-configmap. The overUsed function will not impact your case anymore.

[2020-10-13 03:30] Thor-wl opened #1086 "In allocate action, some job which cannot be scheduled will block the scheduling of following jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Suppose there are 3 jobs(j1, j2, j3) whose podgroup phase is inqueue and they will be scheduled in allocate action. As the current logic, j1/j2/j3 will be put in the priority queue and schedule them in order(suppose the order is j1 > j2 > j3 in priority). First, the request resource of j1 can be satified and bind its tasks to some n

[2020-10-13 03:30] Thor-wl commented on #1086
/bug

[2020-10-13 07:16] ProgramerGu commented on #1048
Got it，thanks～

[2020-10-13 08:41] Thor-wl commented on #1053
/label help wanted cancel
/label good first issue cancel

[2020-10-13 09:43] merryzhou commented on #1083
@william-wang @Thor-wl Thank you for your reply。
I tried to  remove the proportion plugin，and it works as i expected. Thanks again

[2020-10-13 12:15] shinytang6 commented on #1034
There are some questions:
1. To completely remove the configuration of job plugins, it will inevitably bring incompatibility and even affect some user behaviors. For example, users may have already implemented their own plugins based on the current plugin framework. Are we sure we want to do this? Even if we want to do so, I think we may need to release a large version because of the incompatibili

[2020-10-13 12:24] Thor-wl commented on #1083
I'm sorry for the lack of documentation about deep introduction of Volcano. We are working for creating more quality blogs about operation instruction and architecture introduction. More detail will be released at [Volcano website](https://volcano.sh/en/)

[2020-10-14 00:37] k82cn commented on #1083
If we do not support that, let's add an admission controller for it; and give some suggestion above :)

[2020-10-14 00:38] k82cn commented on #1075
fixed by volcano-sh/website#100 :)

[2020-10-14 00:38] #1075 closed

[2020-10-14 02:34] merryzhou commented on #1029
it seems https://github.com/volcano-sh/volcano/pull/1062 can fix this issue

[2020-10-14 02:45] Thor-wl commented on #1029
Yeah, the requirement is reasonal in some degree but it may bring the risk of dead lock as what i mentioned in the PR discussion. Please take a look at the discussion process. The risk will be potential in private usage scene but high possible in high throughput scenario.

[2020-10-14 02:52] hzxuzhonghu commented on #1034
cc @william-wang @Thor-wl

[2020-10-14 02:55] k82cn commented on #1034
I'm not sure why we need this feature? any background? The purpose of vcjob is to support all kind of high performance workloads by one CRD.

[2020-10-14 03:02] merryzhou commented on #1029
sorry，i may not get the point.

is https://github.com/volcano-sh/volcano/pull/1062#discussion_r493996069 the deadlock scenario you mentioned.

But the modification in https://github.com/volcano-sh/volcano/pull/1062 is to terminate failed job and release resources, instead of retry forever.

[2020-10-14 03:09] merryzhou commented on #1086
hey，can i take this as a try?

[2020-10-14 03:49] Thor-wl commented on #1034
I've not taken a deep investigation about how different compute framework define vcjob to adjust to Volcano. If the users of one framework define vcjob with same plugins, i think it is a good idea to let users just set "framework" field and Volcano adjust the plugins to the framework automatically.

[2020-10-14 03:50] Thor-wl commented on #1086
Of course!

[2020-10-14 04:05] Thor-wl commented on #1029
I'm not sure whether the information the user provided is all in accordance with the fact. As what i can see, if gang plugin is configured, only resource request meets the job's demand can the scheduler schedule all the tasks.

[2020-10-14 05:56] merryzhou commented on #1029
what i want to say is that the actual modification in https://github.com/volcano-sh/volcano/pull/1062/files can fix this issue.

[2020-10-14 08:23] Thor-wl opened #1090 "queue weight cannot be 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
admission admits queue weight to be 0, but it is not meaningful
**What you expected to happen**:
queue weight must be above 0
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or ha

[2020-10-14 08:24] Thor-wl commented on #1090
related issue:https://github.com/volcano-sh/volcano/issues/1083

[2020-10-14 08:54] #1086 closed

[2020-10-14 09:07] Thor-wl commented on #1029
Yeah, a new PR is better.

[2020-10-14 10:27] bmv126 opened #1091 "Preemption is not working with v1.0.1 Helm charts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**
Below is my scheduler config:

[code]

Queue Configuration:
[code]

I have two jobs (low priority and high priority), First I submit low priority job
[code]

Next when I submit high-priority job it is not pre-emting the low priority job:
[code]

Below is the state of queue:
[code]

May I know, if this is a known issue or a

[2020-10-14 11:14] shinytang6 commented on #1034
For volcano users (such as me), when I first used it, I would be confused with job plugins. Taking `env` setting as an example. I actually didn't know what the `env` plugin would do. From this point it is useful to block these information from users, which l think there is no conflict with 'support all kind of high performance workload by one CRD', it stills use one CRD definition `Job`. What we n

[2020-10-15 03:49] Thor-wl commented on #1090
/assign @Thor-wl

[2020-10-15 03:50] Thor-wl commented on #1091
/assign @Thor-wl

[2020-10-15 08:38] merryzhou opened #1093 "not check resources except cpu、memory、ScalarResources when enqueue"
**What happened**:
in enqueue logic, scheduler just check following resources:

[code]
suppose a job's request resources like:
[code]
and when the idle ephemeral-storage  resources in the cluster are not enough，so the job turns to enqueue status but can not be  scheduled successfully

**What you expected to happen**:
should check all resources defined in https://github.com/kubernetes/kubernetes/bl

[2020-10-15 09:09] merryzhou opened #1094 "need more info when job pending"
**What happened**:

when pod of volcano job pending, there is no actual reason in events/status of job、podgroup and pod.

[code]

expect more detailed info in events/status, for example: xx resources not enough（expect：5， idle：3）

**Anything else we need to know?**:

**Environment**:
- Volcano Version: v1.0.1
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:

[2020-10-15 09:24] merryzhou opened #1095 "where can i find doc/data related to performance test"
have you ever done some performance test？ where can i find related data

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-10-15 09:41] merryzhou opened #1096 "All job may be stuck, even if there is enough resources in the cluster for some jobs to run"
Precondition：
1.   there are 3 gpu in cluster
2.  there are 3 queues A, B, C
3.  a job a in queue A requests 2 gpu, and it in running status

Reproduce step：
1. create new job b,c, both need 2 gpu. And job b related to queueB, job c related to queue C
2. job a finished, and now 3 gpu in cluster are all allocatable
3. but both deserved gpu of queue B and queue C are 1.5, none of them can be schedul

[2020-10-15 10:03] merryzhou opened #1097 "can not update PriorityClassName in job.spec"
**What happened**:

when update job.spec.PriorityClassName,  i got the error:

 job updates may not change fields other than `minAvailable`, `tasks[*].replicas` under spec

can you tell me the reason? and can we support it?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
-

[2020-10-15 10:55] merryzhou opened #1098 "when not use proportion plugin, all job in the queue created first will be scheduled first"
**What happened**:

my scenario：

Jobs in different namespaces should be sorted by created time, and jobs in the same namespace should be sorted by priority。

for example:
1. ns A has job a1 which priority  is 2,  job a2 with priority 1,  we expect a1 will be scheduled first； --- volcano can do it
2. ns A has job a, and ns B has job b, and job a created first, we expect a will be scheduled first;

[2020-10-15 11:31] merryzhou opened #1099 "job status is still running even if pod failed many times"
**What happened**:

when set spec.restartPolicy=OnFailure, no matter how many times the pod fails，the status of the job is running

**What you expected to happen**:

similar to k8s job（when pod failed times > BackoffLimit， job status turns to failed），may be volcano job need a similar field？

**Environment**:
- Volcano Version: v1.0.1
- Kubernetes version (use `kubectl version`):
- Cloud provider o

[2020-10-15 12:17] #866 closed

[2020-10-16 01:46] bmv126 commented on #1091
@Thor-wl Any configuration change is needed for preemption to work ?

[2020-10-16 06:31] #1090 closed

[2020-10-17 07:17] #574 closed

[2020-10-17 07:17] #559 closed

[2020-10-17 07:17] #469 closed

[2020-10-17 07:17] #530 closed

[2020-10-17 07:17] #244 closed

[2020-10-17 07:17] #308 closed

[2020-10-17 07:17] #665 closed

[2020-10-17 07:17] #650 closed

[2020-10-17 07:17] #688 closed

[2020-10-17 07:17] #524 closed

[2020-10-17 07:17] #711 closed

[2020-10-17 07:17] #718 closed

[2020-10-17 07:17] #719 closed

[2020-10-17 07:17] #730 closed

[2020-10-17 07:17] #41 closed

[2020-10-17 07:17] #737 closed

[2020-10-17 07:17] #744 closed

[2020-10-17 07:18] #229 closed

[2020-10-17 07:18] #624 closed

[2020-10-17 07:18] #780 closed

[2020-10-17 07:18] #555 closed

[2020-10-17 07:18] #554 closed

[2020-10-17 07:18] #394 closed

[2020-10-17 07:18] #438 closed

[2020-10-17 07:18] #696 closed

[2020-10-17 07:18] #792 closed

[2020-10-17 07:18] #791 closed

[2020-10-17 07:18] #475 closed

[2020-10-17 08:17] #436 closed

[2020-10-17 08:17] #480 closed

[2020-10-17 08:17] #487 closed

[2020-10-17 08:17] #403 closed

[2020-10-17 08:17] #514 closed

[2020-10-17 08:17] #521 closed

[2020-10-17 08:17] #528 closed

[2020-10-17 08:17] #481 closed

[2020-10-17 08:17] #532 closed

[2020-10-17 08:17] #534 closed

[2020-10-17 08:17] #539 closed

[2020-10-17 08:17] #540 closed

[2020-10-17 08:17] #548 closed

[2020-10-17 08:17] #280 closed

[2020-10-17 08:17] #447 closed

[2020-10-17 08:17] #272 closed

[2020-10-17 08:18] #13 closed

[2020-10-17 08:18] #571 closed

[2020-10-17 08:18] #579 closed

[2020-10-17 08:18] #598 closed

[2020-10-17 08:18] #602 closed

[2020-10-17 08:18] #546 closed

[2020-10-17 08:18] #217 closed

[2020-10-17 08:18] #426 closed

[2020-10-17 08:18] #84 closed

[2020-10-17 08:18] #168 closed

[2020-10-17 08:18] #556 closed

[2020-10-17 08:18] #423 closed

[2020-10-17 09:37] Thor-wl commented on #1091
I've reproduced your scene and it is a bug indeed. I'm trying to fix it.

[2020-10-17 10:31] #299 closed

[2020-10-17 10:31] #304 closed

[2020-10-17 10:31] #335 closed

[2020-10-17 10:31] #348 closed

[2020-10-17 10:31] #360 closed

[2020-10-17 10:31] #369 closed

[2020-10-17 10:31] #367 closed

[2020-10-17 10:31] #378 closed

[2020-10-17 10:31] #376 closed

[2020-10-17 10:31] #417 closed

[2020-10-17 10:31] #428 closed

[2020-10-17 10:31] #427 closed

[2020-10-17 10:31] #199 closed

[2020-10-17 10:31] #430 closed

[2020-10-17 10:31] #459 closed

[2020-10-17 10:31] #458 closed

[2020-10-17 10:31] #450 closed

[2020-10-17 10:41] Thor-wl commented on #1091
As what i analysed,  the root reason is that only jobs who have been "inqueue" have the change to preempt resources. In enqueue action, jobs whose resource request is larger than the idle will not be "inqueue", even if it's a high-priority job. In preempt action, jobs whose podgroup is "pending" will be kicked out. So jobs which have higher priority have no change to preempt resource.

[2020-10-18 09:33] Thor-wl commented on #1099
Can you show me your job yaml? I wonder if job.spec.minAvailable is not the number of the total pods but part of pods failed. @merryzhou

[2020-10-18 09:59] Thor-wl commented on #1098
Accord to the logic of allocate action, the requirement cannot be satisfied currently. I'll take it into consideration of v1.2 feature design. /assign @Thor-wl

[2020-10-18 10:01] Thor-wl commented on #1097
Modification of PriorityClass may bring a lot of managerment problems. Do you have the custom scene?

[2020-10-18 10:07] Thor-wl commented on #1096
Please show me your volcano config and jobs&queues yaml.

[2020-10-18 10:09] Thor-wl commented on #1094
I'm ok about the feature. Let me take it into consideration in v1.2 design. /assing @Thor-wl

[2020-10-18 10:16] Thor-wl commented on #1093
Enqueue action is just a prejudgement of the job resource request. In fact, the prejudgement is far more from satifactory. Because it just prejudges whether the cluster idle can satisfy the job requirement. If cluster cannot satisfy the request indeed, the job cannot be bind to any node in allocate action.

[2020-10-19 03:17] merryzhou commented on #1099
nop, minAvailable == pod count

here is my yaml:
[code]

and here is vcjob status:
[code]
here is part of launcher pod status:
[code]

[2020-10-19 03:31] merryzhou commented on #1097
My scene is simple:  when jobs in pending status，it's priority can be modified，so that it can be scheduled first

[2020-10-19 03:37] merryzhou commented on #1096
volcano config:
[code]

job yaml refer: https://github.com/volcano-sh/volcano/issues/1099#issuecomment-711487958

queue yaml:
[code]

[2020-10-19 04:09] #819 closed

[2020-10-19 04:09] #817 closed

[2020-10-19 08:27] Thor-wl opened #1101 "v1.2 feature advice: reserve specified resources for specified queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. support reserving specified resources for specified queue
2. reservation without preemption, no influence with existing running workload
3. support enable and disable resource reservation for specified queue dynamiclly without restarting Volcano
**What you expected to happen**:

**How to reproduce it (as minimally and precisely a

[2020-10-19 08:37] hudson741 commented on #1101
this will be a big improve. !!!!!

[2020-10-19 09:13] #828 closed

[2020-10-19 09:31] #1041 closed

[2020-10-19 09:55] Thor-wl commented on #988
@weiranzhixin I've taken the feature into v1.2 feature discussion.

[2020-10-19 09:57] #946 closed

[2020-10-20 03:56] Thor-wl commented on #1097
The scene is reasonable. The feature has been listed into v1.2 for discussion.

[2020-10-20 06:38] Thor-wl commented on #1091
The bug has been recognized as high priority bug and will be fixed in v1.2

[2020-10-20 07:09] Thor-wl commented on #1096
I'v tried to reprodeuce your scene but everything goes well. Any more information?

[2020-10-21 06:28] Thor-wl commented on #1099
@william-wang Let's take the requirement into feature consideration and have a discussion.

[2020-10-21 07:43] k82cn opened #1104 "Configurable Job Retries"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

xref: https://aws.amazon.com/about-aws/whats-new/2020/10/aws-batch-supports-configurable-job-retries/

[2020-10-21 08:34] XuHaoIgeneral commented on #1104
**I hope job retries settng by user, in the future we can decide the retries policy when our function watch event sign.**

[2020-10-21 13:55] merryzhou opened #1105 "a problem when use resourcequota and volcano at the same time"
**What happened**:

Precondition：
1. there are 3 nodes in the cluster, each node has 1 gpu
1. there is 1 ns in the cluster, and resourcequota of this ns is 2GPU
(suppose all other resources are sufficient)

Reproduce step：
1.  create  a  job with one pod which require 2GPU  --> this pod will be created and stay in pending status because of no node has enough gpu
2. create another job with one pod

[2020-10-21 14:04] alcorj-mizar commented on #999
In general, the performance of an online business system is evaluated in terms of the QPS that the system is capable of hosting and the TP99 latency of the response.

The scheduling system differs from the online business system in that the performance of the scheduling system cannot be evaluated with the response latency of RPC . The reason is that these RPC calls are asynchronous from the schedu

[2020-10-21 14:50] zen-xu opened #1106 "add a task when its node not in cache may lead node info always wrong"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When starting the scheduler, the `SchedulerCache` will sync pods, nodes and other resources.
But if adding a running pod into cache, but its node not in cache, the `addTask` func will create a **empty** `NodeInfo`.

[code]

Then the **empty** `NodeInfo` will add this `TaskInfo`

[code]

The wrong logic is the empty NodeInf

[2020-10-21 16:16] sresthas commented on #1035
@k82cn
As of now the configuration is loaded into scheduler at the initialisation or when scheduling config is changed,
Now scheduler creates session periodically & goes through each of the actions and executes them.
This works assuming same config for all queues, hence once actions are loaded, they can be directly traversed in every period. In this design, in one session, jobs corresponding to di

[2020-10-22 01:11] alcorj-mizar commented on #1034
This is a moment that volcano walking from the scheduler framework to batch job framework. If we use "framework" field, it may still integration with project like kubeflow and just provide some automation when creating jobs. But if we use CRD to define different types of workloads, we are trying to reinvent the kubeflow.

[2020-10-22 01:42] Thor-wl commented on #1106
Good job!

[2020-10-22 01:45] Thor-wl commented on #1105
So any pod who are not bound to node should not take the share of resource quota. It shoud be judged in allocate action. Can you give a PR?

[2020-10-23 08:12] hudson741 commented on #1101
@Thor-wl  I will take this issue

[2020-10-23 08:14] Thor-wl commented on #1101
/assign @hudson741

[2020-10-24 08:26] alcorj-mizar commented on #1098
/assign @alcorj-mizar

[2020-10-24 09:48] sresthas commented on #1035
We will need to add an optional configmap key in QueueSpec. Currently config map is mounted as a volume to scheduler and that is passed as command like argument to scheduler. This can remain same for default scheduling configmap. But if user has specified a configmap key in QueueSpec, then that configmap should be loaded onto scheduler before opening a scheduling session.

[2020-10-24 10:12] shinytang6 commented on #1098
I wonder why the default `QueueOrder` behavior(without plugins) is by CreationTimestamp & UID? I don't think it's meaningful and instead it should be the same as the default `NamespaceOrderFn` behavior, maybe just schedule queue one by one, let jobs dominate the scheduing order?

[2020-10-24 13:29] merryzhou commented on #1097
/assign @merryzhou

[2020-10-26 01:26] k82cn commented on #1035
It's better to have a design doc for this feature; we can discuss the detail when reviewing the proposal :)

[2020-10-26 05:31] sresthas commented on #1035
I have created this design doc based on my understanding of the project.
https://docs.google.com/document/d/1pzH8gqqRUWKw5Wdh4sCjY2KlG6JqYtx0N_0X_Qzlw1U/edit?usp=sharing

[2020-10-26 15:01] alcorj-mizar commented on #1098
There are some misunderstanding, we do not select a queue first.Instead, all jobs are schedule by job's creation timestamp between namespaces and queues will ensure the fair schedule.
Scheduling system is always make a balance between fairness and high efficiency.
The example above is not complex enough, let's think more deeper.
There are 5 jobs to be scheduled by 2 queue(namespace).
1. ns A has j

[2020-10-27 01:53] Thor-wl commented on #988
/assign @shinytang6

[2020-10-27 01:57] william-wang commented on #988
/assign @shinytang6

[2020-10-27 05:41] zen-xu opened #1115 "plugin proportion OverusedFn should use Less rather than LessEqual"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

the bug code:
[code]

If `attr.allocated` equals `attr.deserved`, `overused` should be **true**,  otherwise there will over commit one task.

[2020-10-27 07:54] Thor-wl commented on #1036
I've analysed this bug. The root reason as follows:
1. Ignoring the comparison: 0=0
2. Ignoring the comparison: default argument `minMilliScalarResources` with 0

[2020-10-27 08:15] shinytang6 opened #1117 "TaskSpec should support something like dependon"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:

Imagine a scenario, when a task must precede another task, volcano now only supports raising the priority of the task to prioritize scheduling, but this is not guaranteed. Therefore, a mechanism is needed to ensure that one task precedes another task for sure.

[2020-10-28 01:25] Thor-wl commented on #1117
Can you provide a real scenario for that?

[2020-10-28 02:21] k82cn commented on #1117
We'd like to leverage Argo to do that :)

Anyway, if there's any scenario is not covered, task dependency is also ok to me :)

[2020-10-28 03:18] weiranzhixin opened #1119 "small resource request can not be scheduled when a big resource request submitted first"
cluster has 2 gpu nodes : `node1`, `node2`
idle GPU resource of cluster is `5` , `node1` has 4 idle GPU, `node2` has 1 idle GPU
big resource job named `test-gpu-5`  requests 5 gpus was submitted first, status of  `test-gpu-5` is pending
then small resource job named `test-gpu-1` requests 1 gpu was submitted
expected status of  `test-gpu-1` is  **running**
actual status of  `test-gpu-1` is is **pen

[2020-10-28 03:54] shinytang6 commented on #1117
l'm not requesting this feature for real scenario, just thought of this feature maybe useful in some non-ml/hpc scenario like CI? I'm not sure if anyone uses it like this.

[2020-10-29 01:01] Thor-wl commented on #1119
How many idle CPU and memory in every node?

[2020-10-29 01:16] weiranzhixin commented on #1119
node1:  idle CPU: 19.5 Core,  idle Memory : 154 GB
node2:  idle CPU: 1.75 Core  idle Memory:  11 GB

node1 and node2 both match the  nodeSelector

[2020-10-29 01:21] Thor-wl commented on #1119
Well, if the information you provide is to the fact, there seems no reason that test-gpu-1 cannot be scheduled to node1. What's your volcano version? And have you modified the source code?

[2020-10-29 01:26] weiranzhixin commented on #1119
the tag of 3 images is latest from dockerhub, we did not modify the source code either
volcano.txt is the conf of deployment

[2020-10-29 01:38] weiranzhixin commented on #1119
the fellowing is part log of volcano-scheduler
[code]
we can find the info about test-gpu-5, but can not find the info about test-gpu-1,
can we get some info from the log ?

[2020-10-29 01:44] Thor-wl commented on #1119
It's not in line with expectation that no test-gpu-1 info in log. We can see test-gpu-1 has never be taken into process of enqueue action.

[2020-10-29 01:48] Thor-wl commented on #1119
What's your volcano version? And i'll try to reproduce your scenario.

[2020-10-29 01:58] weiranzhixin commented on #1119
pog group info of test-gpu-1 is following
[code]

how to check the version of volcano ?

[2020-10-29 02:15] Thor-wl commented on #1119
Ref: https://volcano.sh/en/docs/cli/ try to vcctl version

[2020-10-29 11:11] shinytang6 opened #1120 "Optimize Spec Definitions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:

Currently all the int parameters in such like `TaskSpec` and `JobSpec` are defined as Interger, they should be optimized to pointers, otherwise it's difficult to distinguish the default value and 0.
for example, the following code may have some problem:
[code]

[2020-10-30 02:33] Thor-wl commented on #1119
I've tried to reproduce this scenario again and everything goes well. I wonder if there is some information you have missed to provide?

[2020-10-30 03:49] Thor-wl commented on #1120
Can you make an brief introduction about the influence with the feature https://github.com/volcano-sh/volcano/issues/988?

[2020-10-30 04:32] shinytang6 commented on #1120
If `minAvailable` is set both at the job and task levels, we should prioritize looking at the `minAvailable` of the task to determine whether the job can be scheduled and whether the job can be set to completed. Generally, job minAvailable should  >= sum(task minAvailable ). We need to ensure this in the admission webhook, but it is difficult to achieve this now, because `minAvailable` is stored i

[2020-10-31 03:48] daixiang0 opened #1124 "Broken links in doc"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

The link in example/integrations/mxnet/train/README.md is broken.

[2020-10-31 06:24] Thor-wl opened #1125 "v1.1.0 has been released & v1.2 feature design was finished"
Dear all,
    Volcano v1.1 has been released on Oct 30. Main features such as Big Job Resource Reservation/HDRF/Monitoring are included. More details please refer to https://github.com/volcano-sh/volcano/releases/tag/v1.1.0. Beta test are warmly welcomed and we are looking forward to your advice in issues.
    Feature design of v1.2 is alse finished and all main features have been owned. You can f

[2020-10-31 06:25] Thor-wl commented on #1125
/good-first-issue
/pinned

[2020-11-01 04:51] mikechengwei commented on #1074
/assign

[2020-11-01 11:34] zen-xu commented on #1083
I think this is a bug, I have a issue about it #1115.

[2020-11-01 11:47] zen-xu commented on #1083
This is a bug.

[code]

If the queue weight is 0, the queue `allocated resource` and `deserved resource` are both 0. Current the logic `overused` will be `false`.
So this queue can allocate resource this time, but next time, this queue will be overused.

So I think should use `Less` method rather than `LessEqual` method

ref: #1115

[2020-11-01 12:33] zen-xu commented on #1105
Since you know there is no node has 2 GPU, why try to create a pod with 2GPU?

[2020-11-01 12:39] zen-xu commented on #1105
Since there is no node has 2GPU, why try to create one pod with 2GPU?

[2020-11-02 00:22] k82cn commented on #1105
meet resource quota does not mean schedulable; so it's better to set more resource quota than cluster resources, e.g. twice, and let schedule to dispatch them :)

[2020-11-02 00:24] #1106 closed

[2020-11-02 01:21] Thor-wl commented on #1083
Yes, and queue weight validation has been added.

[2020-11-02 01:25] Thor-wl commented on #748
This feature has been released in v1.1 on Oct 30.

[2020-11-02 01:30] Thor-wl commented on #748
The only thing to note is to configure volcano as follows:
`
    actions: "enqueue, elect, allocate, reserve, backfill"
    tiers:
    - plugins:
      - name: priority
      - name: gang
      - name: conformance
      - name: reservation
    - plugins:
      - name: drf
      - name: predicates
      - name: proportion
      - name: nodeorder
      - name: binpack
`

[2020-11-02 01:48] k82cn opened #1128 "Support to mpi job in no root user"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, the mpi job has to set `--allow-run-as-root` to run in kubernetes; it's better to have a user management in k8s/volcano. For example, create a `/etc/passwd` for each pod, and set username when submit the mpi job.

[2020-11-02 03:03] shinytang6 commented on #1128
l can help with that :) /assign @shinytang6

[2020-11-02 03:04] shinytang6 commented on #1120
/assign @shinytang6

[2020-11-02 08:14] daixiang0 commented on #1124
/help

[2020-11-02 08:14] daixiang0 commented on #1124
/remove-help

[2020-11-02 09:26] daixiang0 commented on #1124
/help

[2020-11-02 09:27] daixiang0 commented on #1124
/remove-help

[2020-11-02 09:27] daixiang0 commented on #1124
/help

[2020-11-02 09:28] daixiang0 commented on #1124
/remove-help

[2020-11-02 09:29] daixiang0 commented on #1124
/remove-help

[2020-11-02 09:29] daixiang0 commented on #1124
/help

[2020-11-02 11:59] william-wang commented on #1124
Thanks, the old link does not exist any more. We need to update it.

[2020-11-03 00:33] Eo300 opened #1129 "Is the "volcano-system" namespace supposed to be hardcoded in scheduler.yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When installing the v1.1.0 release via Helm, I got a the following message:
[code]
I'm attempting to upgrade from v0.3, so I was assessing potential side effects. I noticed the following was introduced between v1.0.1 and v1.1.0 in [scheduler.yaml](https://github.com/volcano-sh/volcano/blob/master/installer/helm/chart/volca

[2020-11-03 00:56] william-wang commented on #1129
Thanks for your reporting. The namespace format is not right. We will have a investigation as soon as possible.

[2020-11-03 01:08] Thor-wl commented on #1129
@alcorj-mizar Pleae have a look at this issue

[2020-11-03 01:16] Thor-wl commented on #1129
/assign

[2020-11-03 09:58] #1074 closed

[2020-11-04 06:58] Thor-wl commented on #1129
/assign @alcorj-mizar

[2020-11-04 13:45] alcorj-mizar commented on #1129
OK, i will fix that.

[2020-11-04 18:51] mikechengwei commented on #1094
/assign

[2020-11-04 18:52] mikechengwei commented on #1094
I can do this pr and assign it to me, ok?

[2020-11-05 01:54] weiranzhixin commented on #1119
Thanks.
when we use the latest source code of master branch,  we can not reproduce this scenario  either, so this issue will be closed.

[2020-11-05 01:54] #1119 closed

[2020-11-05 02:15] Thor-wl commented on #1094
Of course! Thanks for your contribution! I'll update the roadmap and assgin this feature to you. According to plan, v1.2 will be released at the middle of 1st 2021, so please note it.

[2020-11-05 02:25] Thor-wl commented on #1094
@mikechengwei roadmap updated done. https://github.com/volcano-sh/volcano/pull/1133

[2020-11-05 02:33] william-wang commented on #1124
/ assign @ Thor-wl

[2020-11-05 02:33] william-wang commented on #1124
/assign @Thor-wl

[2020-11-05 02:58] zjian-hf opened #1134 "Is RestartTask Action supported in latest volcano version?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
 RestartTask Action not effective when I config in task policies.

config in yaml file:
[code]

**What you expected to happen**:
  Task Pod can restart when pod was failed
**How to reproduce it (as minimally and precisely as possible)**:
1、create example.yaml file

[code]

2、create job
     ` kubectl apply -f example.yaml`
3、query p