[2022-07-07 00:32] SunMinghui19 commented on #2280
![image](https://user-images.githubusercontent.com/55644074/177664561-e7c00168-8d88-4d24-a269-f41190e45375.png)

[2022-07-07 00:52] SunMinghui19 commented on #2336
compose of volcano display here
![image](https://user-images.githubusercontent.com/55644074/177665370-3c798051-7abb-4631-beb6-6ec032312b3a.png)

I used the volcano-scheduler to deploy an MPI task, but the cluster had nothing to do. I don't use the command to acquire the MPI pod
![image](https://user-images.githubusercontent.com/55644074/177665754-5a640060-3d22-4c76-97ba-651346cf8e34.png)

I use th

[2022-07-07 03:45] Thor-wl commented on #2131
/close

[2022-07-07 03:45] #2131 closed

[2022-07-07 03:46] Thor-wl commented on #2138
/close

[2022-07-07 03:46] #2138 closed

[2022-07-07 04:59] #1765 closed

[2022-07-07 06:50] william-wang commented on #2336
@SunMinghui19 The issue is similar to #2048 which is fixed by pr #2064. Please use a higer version 1.5.1 and above to have a try.

[2022-07-07 07:20] talcoh2x opened #2337 "Gang scheduling job with high-priority not preempting lower priority jobs"
we run gang scheduling job with high-priority but we dont see that the default priory jobs releasing once we don't enough resources.

expected:
we expect that in such cases lower priority jobs are getting deleted.

Volcano version 1.6.0
K8s version 1.22/1.21

[2022-07-07 07:45] william-wang commented on #2337
Thanks for your reporting, It seems the same issue with #2321, we are dealing with it.

[2022-07-07 07:47] william-wang commented on #2337
@talcoh2x Would you like to provide the job yaml?

[2022-07-07 08:12] SunMinghui19 commented on #2336
Thanks for your answer, I delete the plugin version of 1.15, then, I redeploy a version of 1.16. but, the same problem occurred

[2022-07-07 08:20] SunMinghui19 commented on #2336
I suspected my Kubernets cluster was not healthy, I used many versions of Kubernetes like 1.15.1, 1.16.8,1.20.0,1.23.0, And in every version installed different plugins from1.0 to 1.5. The result of is identical, i am so depressed.

[2022-07-07 08:33] william-wang commented on #2336
By the way, after you uninstalled old volcano plugin, did you delete the volcano webhookconfiguration manually?
You need to run `kubectl get validatingwebhookconfigurations` and `kubectl get mutatingwebhookconfigurations` to get the volcano webhookconfiguration and delete them and then install the new version.

[2022-07-07 08:40] SunMinghui19 commented on #2336
Thanks for your answer. I don't execute these commands, Now, I try it.

[2022-07-07 08:53] SunMinghui19 commented on #2336
![image](https://user-images.githubusercontent.com/55644074/177732661-29b7cf21-45a8-44aa-ae34-ff2824ff84fb.png)
I guess this execution is no  no sense, because the result is "No resources found"

[2022-07-07 17:49] jchatter123 opened #2340 "Pods in lower-weighted queue are not being evicted to make resources for Pods in greater weighted queue"
**What happened**:

Pods in lower weighted queue continue running when Pods in higher-weighted queue needs resources

**What you expected to happen**:

Pods in lower priority queue would be evicted and resources would be returned back to higher-weighted queue to run Pods.

**Extra Information**:

- The total amount of resources available:
   - CPU: 1200m

- There are two queues
   - default and te

[2022-07-08 01:21] Thor-wl opened #2341 "Rescheduling strategy parse is not robust which may lead to panic"
**What happened**:
When I tested rescheduling with the strategy configuration mentioned in the [desgin doc](https://github.com/volcano-sh/volcano/blob/master/docs/design/rescheduling.md), it may introduce panic when rescheduing was triggered.

**What you expected to happen**:
No matter how the strategy is configured, even though users make a mistake, it should be robust and not panic.

**How to re

[2022-07-08 02:00] Thor-wl commented on #2327
IC. That's more reasonable.

[2022-07-08 02:02] #2341 closed

[2022-07-08 03:20] whybeyoung opened #2344 "Task Maxretry not work when using horovod."
yaml is here：

[code]

master的重启策略为OnFailure， worker部分定义我就没贴了。 因为 master要等 worker ssh ok， 所以这里必须设置为onfaiure(暂时没找到更好的办法)，如果业务代码有问题， 这里也会无限重启， 所以希望maxretry 生效。  然而。。

![image](https://user-images.githubusercontent.com/10629930/177910551-dac84e27-f979-462e-b794-882ac163e9e6.png)
master一直在重启，  job也无法失败。

[2022-07-08 03:27] Megan96 opened #2345 "Delete a job with dependencies between task will cause the controller to report an error repeatedly"
**What happened**:
Delete a job with dependencies between task will cause the controller to report an error repeatedly. The error is `Failed to get pod taskA-pod-name pod "taskA-pod-name" not found`
Then resumit the job, the job will lost the status.

There has actually been a completely diffrent job that also lost status when controller repeatedly reported this error, but I'm not sure if it's the

[2022-07-08 06:11] Thor-wl commented on #2345
/assign @hwdef

[2022-07-08 06:11] Thor-wl commented on #2344
/assign

[2022-07-08 08:50] hwdef commented on #2345
This is a bug.
repeat: https://github.com/volcano-sh/volcano/issues/2284
Temporary workaround: delete volcano-controller pod

[2022-07-08 09:17] SunMinghui19 commented on #2336
Thanks for your help, Because my execution error leads to unsuccessful, your solution is very accurate. After I upgrade the volcano version to 1.5.1, this error disappeared.

[2022-07-11 01:43] #2336 closed

[2022-07-11 06:25] william-wang commented on #2337
/assign @waiterQ

[2022-07-11 07:11] elinx commented on #2034
There's several ways you could try to make it work depends on you situation:
1. set the lp job to be preemptable by adding annotation: ` volcano.sh/preemptable: "true"`
2. if the hp job could not be enqueued caused by the `proportion` plugin like #1772  you could move the `overcommit` plugin to first tier to hide the effects of `proportion` plugin
3. if the lp job could not be preempted caused by

[2022-07-12 09:09] Thor-wl commented on #2335
/close

[2022-07-12 09:09] #2335 closed

[2022-07-13 03:13] zishen opened #2348 "When node allocatable resource changed to less than used, node not ready."
**What happened**:
I use all node selfdefine-resource in a pod. And one of resouce become unhealthy.
When pod deleted,  the node in volcano-scheduler-cache become not ready.
The set node code is follow:

========================================
func (ni *NodeInfo) setNodeState(node *v1.Node) {
...
	// set NodeState according to resources
	if !ni.Used.LessEqual(ni.Allocatable, Zero) {
		ni.State =

[2022-07-13 08:22] Thor-wl commented on #2348
Well, I don't think it is a bug because the node status is changed. According to [node doc](https://kubernetes.io/zh-cn/docs/concepts/architecture/nodes/) in k8s, if node name is not changed, k8s think the node as the same with normal status even though the capability is changed. So in the condition you mentioned, you should register the node again.

[2022-07-13 08:31] Thor-wl commented on #2348
/close

[2022-07-13 08:31] #2348 closed

[2022-07-13 21:12] kye308 opened #2349 "Feature request regarding adding/removing tasks from jobs"
#### What would you like to be added:

We are running into
[code]
when trying to modify tasks in the vcjob spec (in go code).

The request is to be able to:

- allow appending new tasks (no need to change existing ones)
    - this is the same as increasing replica count from 0 → N for a task created during job creation with 0 tasks
- delete a task from from list of tasks
    - this is the same as

[2022-07-14 15:58] hapatrick commented on #2160
We have been able to install version 1.6.0 and tests show that this problem is indeed resolved.

[2022-07-14 15:58] #2160 closed, assigned to nobody

[2022-07-15 06:31] Thor-wl commented on #2001
/cc @jwcesign Can you help for that?

[2022-07-15 08:06] william-wang opened #2356 "Add staging in volcano.sh/volcano for api subproject"
#### What would you like to be added:
Add volcano/staging directory for api subproject and make code automatically synchronazation.

#### Why is this needed:
It's inconvinient for dev to submit pr to api repo and volcano repo seperately.

[2022-07-17 09:18] snirkop89 commented on #2337
sure:
I tried a few variations (found them in the issue here), both yielded the same result - which preemption doesn't occur:
[code]

[code]

[2022-07-18 00:21] batazor commented on #2206
Is there any news?

It would be cool to be able to install an application from the helm repository

[2022-07-18 03:17] hudson741 opened #2357 "bug with the gang scheduler plugin pending reason overrwrite"
**What happened**:
pod pending,  get pod -o yaml  the reason show:
1/1 tasks in gang unschedulable: pod group is not ready, 1 Pending, 1 minAvailable; Pending: 1 Undetermined

**What you expected to happen**:
show the real pending reason,maybe I cusom defined

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
the reason is gang plugin overwtrite

[2022-07-18 07:40] Sharathmk99 commented on #1840
Hi @Thor-wl, Thank you for the response. I’ll look into ‘jobflow’, but we use Kubeflow to manage Machine Learning workloads and they use Argo as workflow management.

I would be happy to help you in this feature, as this feature is very important to us. Currently with some custom changes to volcano we are able to use with Kubeflow.

let me know if you can help with design and I can help to impleme

[2022-07-18 09:25] zbbkeepgoing opened #2359 "Support managed and scheduled single pods with podgroup, specify podgroup name and minresource manually"
#### What would you like to be added:

- Support specify podgroup name and minresources manually

#### Why is this needed:

- If we use spark client model to submit spark job in k8s with volcano scheduler. hope all executors can be managed and scheduled through podgroup.

- Hope some single pods(not a denpendent pod) can be managed and scheduled through podgroup with volcano.

[2022-07-18 09:26] zbbkeepgoing commented on #2359
#2358

[2022-07-18 09:27] zbbkeepgoing commented on #2359
#2358

[2022-07-18 10:00] Lzhang-hub commented on #1979
@wpeng102  I get the same error in k8s v1.16, with volcano 1.5.1
![image](https://user-images.githubusercontent.com/57925599/179487516-d483f612-6eca-4d17-ab79-76abb4c0f547.png)

In this condition, How can i install volcano install volcano in k8s with v1.16? or must be upgrade k8s version?  can you give some advices? Thanks!

[2022-07-18 19:50] jsolbrig commented on #2206
I've got a helm chart that I put together for my own purposes. It's not great but it works. It doesn't provide configuration for everything that it could, but it's a starting point that I plan to keep developing. It's also not documented at all yet. You can find it here if you're interested: https://github.com/jsolbrig/volcano_chart

I give no guarantees on how it will work for you. If you find pr

[2022-07-19 01:11] Thor-wl commented on #2206
I really appreciate your work if you can put together a helm chart for Volcano. Although it is a work item for summer 2022, this work is also meaningful.

Well, not really.

Not yet now.

Perhaps you can make communition with approvers or members and give a kindly ping. In most cases, we will deal with the issues ASAP.

[2022-07-19 01:14] Thor-wl commented on #2206
@jsolbrig Hey, please feel free to continue to do this work. I've reviewed the chart you provided above and it is really great.

[2022-07-19 01:33] Thor-wl commented on #1840
@Sharathmk99 Hi, Sharath. I really appreciate you can work on this feature. I will try synchronize this idea in the weekly meeting. Besides, I'll provide my effort during your work. Please feel free to let me know what exectly I can help.

[2022-07-19 01:45] Thor-wl commented on #2337
@snirkop89 Hi, Snir. I've taken a look at the bug and preemption was broken indeed. There are several reasons about that. Firstly, the podgroup for job with high priority cannot convert from `pending` to `inqueue`. So the job has no chance to get resources. You can configure the scheduler as follows to disable `jobEnqueued` functions.
[code]
As what I tested locally, it can make podgroup with high

[2022-07-19 01:49] william-wang commented on #1840
@Sharathmk99 It's great that you can provide effort on it. The jobflow design doc pr is #2339 on reviewing. Please give comments   for free. On the other hand, for the argo kubeflow, I think the following pr has fixed your issue. You can have a try.
https://github.com/volcano-sh/volcano/pull/1961

[2022-07-19 04:48] chanhz opened #2361 "Get node usage stats from kubernetes resource-metrics-pipeline in usage-based-scheduling"
#### What would you like to be added:
Support another way to get nodes' CPU and Memory usage stats  by [kubernetes resource-metrics-pipeline](https://kubernetes.io/docs/tasks/debug/debug-cluster/resource-metrics-pipeline/) in [usage-based-scheduling](https://github.com/volcano-sh/volcano/blob/master/docs/design/usage-based-scheduling.md).

#### Why is this needed:
Like [HPA](https://kubernetes.io/

[2022-07-19 05:07] chanhz commented on #2361
If the feature is reasonable, I can help to do this, thank you.

[2022-07-19 06:19] Jason-Liu-Dream opened #2362 "Support protection of the maximum number of cooldown in cdp plugin"
#### What would you like to be added:
as issue #2149 describes, now `cdp` plugin supports the protection of the maximum number of cooldown.

#### Why is this needed:
Sometimes, in a batch job scheduling system, low-priority jobs may be preempted by high-priority jobs. If the job scheduler continuously receives submitted jobs, the tasks in low-priority jobs always are evicted. That makes them starv

[2022-07-19 06:25] Thor-wl commented on #2362
/cc @flyhighzy

[2022-07-19 08:06] nulls-cell opened #2364 "when submit job, panic: resource is not sufficient to do in scheduler/plugins/proportion.go"
**What happened**:
When I submit the task, the volcano- Scheduler will throw "Panic: Resource is not sufficient", causing the program to exit
the detail:
`
panic: resource is not sufficient to do operation: <cpu 100000.00, memory 7000.00, nvidia.com/gpu 0.00> sub <cpu 120000.00, memory 3000.00>

goroutine 27 [running]:
volcano.sh/volcano/pkg/scheduler/util/assert.Assert(0xc3, {0xc000150090, 0xc000

[2022-07-19 09:39] chanhz commented on #2361
* For question 1,  we check scheduler-config when scheduler start. If the rescheduling feature is configured and the metrics datasource is from pipeline, try to request "apis/metrics.k8s.io/v1beta1/nodes" to check the pipline is enable whether or not.  Makesure the pipline is enable, otherwise throw a panic error.
* For question 2, users who  have some specified  custom metrics should deploy and c

[2022-07-20 03:37] smile-luobin opened #2366 "Volcano Monitoring: startup error in parsing Grafana dashboard config"
Same issue with: #1774

Install Prometheus & Grafana from `installer/volcano-monitoring-latest.yaml` . There is an error in the Grafana container logs (see below) which prevents loading the pre-created global view dashboard.

And I think this bug was fixed in PR: #1773; but it happened again in master branch.

[2022-07-21 01:15] Thor-wl commented on #2364
/cc @qiankunli

[2022-07-21 01:41] wpeng102 opened #2368 "Support livenessProbe for Volcano Components"
#### What would you like to be added:
Support livenessProbe for Volcano  components such as webhook, scheduler, controller.

#### Why is this needed:
Volcano as a cluster schueduler, it is a kernel component for cluster. It should support `livenessProbe` configuration.

[2022-07-21 02:26] #2345 closed

[2022-07-21 02:29] #2284 closed

[2022-07-21 02:30] #2130 closed

[2022-07-21 03:12] Thor-wl commented on #1979
@Lzhang-hub Hey. Please check the CSI driver is prepared in the node. If that works, it is mostly that the kubelet is at a relatively low version. You can try to update k8s version above v1.24.0 and have a try again.

[2022-07-21 06:52] zhypku commented on #2337
@Thor-wl Hi, I'm also studying the preemption behavior of Volcano, and found the same problem. It seems that the JobStarvingFn of the gang plugin forbids preemption from a job where `ji.CheckTaskMinAvailablePipelined()` is false.
![image](https://user-images.githubusercontent.com/22696877/180144482-9f46d13c-0fe9-4126-b9bf-4aa1e8641971.png)
![image](https://user-images.githubusercontent.com/2269687

[2022-07-21 07:12] Thor-wl commented on #2337
Thanks for the feedback. That's what I also found yesterday. IMO, it's not something as expected. I'm tracking which commit and when this behavior is introduced.

[2022-07-21 08:28] Thor-wl commented on #2303
/close

[2022-07-21 08:28] #2303 closed

[2022-07-21 10:51] kerthcet commented on #2349
Do we have any reasons not supporting this feature cc @Thor-wl for advices.

[2022-07-21 11:38] wangqia0309 opened #2369 "is the support for cromwell production-ready?"
i wonder how to use cromwell submitting task to k8s with volcano, i reviewd the doc of cromwell about backend for volcano, but it's pretty simple and seems like a blueprint
could you give a practical example for it?

[2022-07-22 01:42] Thor-wl commented on #2369
Not yet. Looking forward to contributors who are familiar with the scenarios and Volcano to own this important feature.

[2022-07-22 02:44] qiankunli commented on #2364
it may be that the queue2 and queue3 are calculated first, and then the remaining resources is less than 80, but the queue1' guarantee resources comes with an 80, which causes the `remaining.sub(queue1.guarantee)`  going wrong.

[2022-07-22 02:51] liblikewhen commented on #2364
I tried to list the limits of this error, which at most added up to twice the total resources of the cluster
![image](https://user-images.githubusercontent.com/29635546/180352259-e6c579df-24bd-4954-881f-b8c345c0de63.png)

[2022-07-22 03:30] teou commented on #2364
"is it reasonable that we ask users to ensure that guarantee resource must be less than weight resources?"

we are not using weight actually. so all the weights in queue are the default value : 1
there are a lot cases that resources in guarantee are greater than total*weight， then later be adjusted to a much smaller amount by admin.

event though weight has to be used , it has to be a dynamic valu

[2022-07-22 06:24] william-wang commented on #2369
The following configuration is needed only for cromwell with volcano. Did you hit any issue with this doc?
https://github.com/broadinstitute/cromwell/blob/develop/docs/backends/Volcano.md

As far as I known, the cromwell with volcano was applied in production environment two years ago in huawei cloud.

[2022-07-22 06:27] william-wang commented on #2368
Any more detail background for this requirement?

[2022-07-22 11:55] MihaiCL opened #2373 "Move volcano-monitoring namespace creation"
**What happened**:

When I install the Volcano scheduler on a K8s I want to install only the needed K8s resources.
Using installer/volcano-development-arm64.yaml file an aditional namespace is created, volcano-monitoring  namespace.

**What you expected to happen**:
I expect to be created only needed resources.

**Environment**:
- Volcano Version: 1.6.0

[2022-07-22 12:09] MihaiCL commented on #2373
PR: #2374

[2022-07-23 01:24] wangqia0309 commented on #2369
this is a design, not implemented, i hope the implementation in huawei clound can be accessed in community

[2022-07-23 07:39] zishen opened #2377 "When pod running ， restart machine. The podGroup will be NotEnoughResources."
**What happened**:
When pods more two running ， restart machine.
The Pods is all running, butt he podGroup will be Inqueue. And the all used resource is wrong.
This both happend on deployment and vcjob.Andthis is likely  possibility.

The describe pd is followd:
`
[root@openeuler-master ~]# kubectl describe pg  podgroup-36e3ad91-a8d2-409c-9db8-a9a59b4a24aa
Name:         podgroup-36e3ad91-a8d2-409c

[2022-07-25 07:47] JarnoRFB opened #2379 "Deploying 1.6 on GKE: insufficient quota to match these scopes: [{PriorityClass In [system-node-critical system-cluster-critical]}]"
**What happened**:
I tried to install volcano 1.6 on a GKE cluster where 1.5 was running before. After the upgrade I found that `volcano-admission`, `volcano-controllers` and `volcano-scheduler` all showed the message `insufficient quota to match these scopes: [{PriorityClass In [system-node-critical system-cluster-critical]}]` and the deployment therefore did not succeed.

**What you expected to

[2022-07-25 08:23] Thor-wl commented on #2379
@JarnoRFB Hey, I guess you put the volcano components with the priorityclass `system-node-critical system-cluster-critical`, which is reserved for system. Please try to set the pods with a custom priority and install again.

[2022-07-25 09:22] JarnoRFB commented on #2379
Yes that's true, but as far as I can see, these priority classes are set in the volcano manifests itself, e.g. https://github.com/volcano-sh/volcano/blob/master/installer/volcano-development.yaml#L134 . Are users supposed to overwrite these values?

[2022-07-25 09:45] HecarimV commented on #2337
https://github.com/volcano-sh/volcano/blob/1b2630605b3f6669b5db9a77abd12d08f923e6d3/pkg/scheduler/actions/preempt/preempt.go#L124-L126
Pods with `Preemptable` = false will not be preempted, but it seems that `task.Preemptable` is false by default if we don't set annotation or label.
https://github.com/volcano-sh/volcano/blob/1b2630605b3f6669b5db9a77abd12d08f923e6d3/pkg/scheduler/api/pod_info.go#L1

[2022-07-26 00:42] Thor-wl commented on #2379
In general, it is not supposed to modify the priority for volcano components, which may introduce unexpected behavior. But if you are familar with the environment, providing a relatively high priority is also acceptable.

[2022-07-26 01:02] Thor-wl commented on #2337
In order to keep compatible with the former versions, `task.Preemptable` should be `true` by default. @wpeng102 BTW, is this behavior introuduced from TDM plugin?

[2022-07-26 06:18] william-wang commented on #2368
@wpeng102

[2022-07-26 06:27] zishen commented on #2377
@Thor-wl

[2022-07-27 09:51] shmily0000 opened #2384 "In addition, there seems to be no backfilling during backfilling"
When I try to backfill, I first run a 4C vcjob1 in a total of 8C environment. At this time, I see that there are 3C resources on the node, and then run the same 4C vcjob2. Vcjob2 is in pending state, and then run a 1c vcjob3. Vcjob3 is also in pending state. I understand that with backfilling, small jobs should be first to improve resource utilization.

The scheduler configmap is configured as:
vo

[2022-07-27 10:08] Saba1119 opened #2385 "How to install vcctl"
How to install vcctl /vkctl ???

[2022-07-27 10:47] snirkop89 commented on #2337
That's great to hear. Thank you for the fast response and feedback.

[2022-07-27 11:16] #2385 closed

[2022-07-27 18:12] Saba1119 opened #2387 "Grafana dashboard"
#### What would you like to be added:
Need more grafana dashboard for volcano metrics.
Now it has only two inbuilt dashboards.

#### Why is this needed:
For monitoring purpose

[2022-07-28 01:28] Thor-wl commented on #2337
No worries. The fix is under discussion.

[2022-07-28 01:37] Thor-wl commented on #2384
@shmily0000 Hey! Please mind the following items if `backfill` is configured in your environment.
* Currently, `backfill` only takes effects for **BestEffort** Pod. Workloads with specifed resource request will not be taken into consideration.
* The scenario and reproduced steps is a little bit rough. Perhaps a clear description is more helpful to look into the problem. For example, you can list t

[2022-07-28 02:58] shmily0000 commented on #2384
@Thor-wl OK, this test is conducted on my own local single node. I will list my configuration below.

~First, this is the resource usage when I did not create a vcjob:
(Total limits may be over 100 percent, i.e., overcommitted.)
  Resource           Requests     Limits
  --------           --------     ------
  cpu                950m (11%)   100m (1%)
  memory             290Mi (10%)  390Mi (13%)

[2022-07-28 06:58] HecarimV commented on #2344
`TaskFailedEvent` will be triggered when pods `RestartCount` reaches task `maxRetry`, but it seems that this event will not trigger any specific action, maybe you need to add a policy to make it take effect, e.g.
[code]
@Thor-wl I don't know what action should be taken when the task maxretry is reached, what is the original setting？

[2022-07-28 08:30] shinytang6 commented on #2292
resolved by PR https://github.com/volcano-sh/volcano/pull/2313
/close

[2022-07-28 08:30] #2292 closed

[2022-07-28 08:31] shinytang6 commented on #2040
resolved by https://github.com/volcano-sh/volcano/pull/2078 and https://github.com/volcano-sh/volcano/pull/2309
/close

[2022-07-28 08:32] #2040 closed

[2022-07-28 10:21] compactcfusr opened #2389 "Release-1.6 Volcano Scheduler can't schedule all resource"
**What happened**:
When we upgraded volcano from 1.4 to 1.6, we found PendingJob increase.
At first we thought it was volcano that limited the scheduling speed, and restarting took a long time to recover.
But we found Pending Jobs not reduced two hours later.
So we have to rollback volcano from 1.6 to 1.4
After rollback we found dirty pg leaded to inqueue pg backlog  because pg in 1.6 attach uuid

[2022-07-28 11:06] Keerthiga-devops opened #2390 "volcano.sh/volcano/pkg/controllers/job/job_controller.go:223: Failed to watch *v1beta1.PriorityClass: failed to list *v1beta1.Pri │ │ orityClass: the server could not find the requested resource"
**Batch JOBs are not starting post  GKE cluster upgrade to v1.22. Getting following deprecation issue at the level of batch job scheduler priority classes.**:

**Job to be scheduled and pods to be triggered.**:

**Define a batch job and waiting for the job to be triggered but getting following errors:
│ E0728 10:33:25.770174       1 reflector.go:127] volcano.sh/volcano/pkg/controllers/job/job_cont

[2022-07-28 11:08] Keerthiga-devops commented on #2390
We have tried updating priority classes to v1alpha1, but its not getting saved as well. We tried updating  a CRD "jobs.batch.volcano.sh", which is also not getting saved and expecting version v1alpha1 in spec.version.

In volcano repo's latest version also, we see the CRD version is pointing to v1alpha1.
Kindly help to fix this issue.

[2022-07-28 12:57] Saba1119 opened #2391 "grafana dashboard issue"
**What happened**:

the inbuilt dashboards namespace and queue are doesnt show any data in grafana

**What you expected to happen**:

data has to load.

![Screenshot from 2022-07-27 19-17-54](https://user-images.githubusercontent.com/100400271/181510361-972ac551-c78d-499c-a15c-92a88413dc6d.png)

[2022-07-29 01:18] Thor-wl commented on #2389
@compactcfusr Please provide your scheudler configuration.

[2022-07-29 01:19] Thor-wl commented on #2389
/assign

[2022-07-29 02:02] compactcfusr commented on #2389
**volcano-admission-configmap**

- apiVersion: v1
  data:
    volcano-admission.conf: |
      #resourceGroups:
      #- resourceGroup: management                    # set the resource group name
      #  object:
      #    key: namespace                             # set the field and the value to be matched
      #    value:
      #    - mng-ns-1
      #  schedulerName: default-scheduler

[2022-07-29 04:22] Saba1119 commented on #1922
Is web UI developed/ ready ???

[2022-07-29 06:40] william-wang opened #2394 "Enhance Volcano to repalce kube-scheduler smoothly"
#### What would you like to be added:
Use Volcano to replace kube-scheduler to scheduling both batch workload and service type workload in the same cluster.
- allow specify multiple scheduler names in command line. e.g. `default-scheduler` , `volcano`
- users whoever using kube-scheduler or volcano can be migrated to volcano smoothly.

#### Why is this needed:
Currently, users  user kube-scheduler

[2022-07-29 09:03] Saba1119 opened #2395 "web UI"
#### What would you like to be added:

A web UI for watching scheduling process and resource statistics.

#### Why is this needed:

it is difficlut to use vcctl commands evetytime and there is no  proper details to install vcctl

[2022-07-29 10:50] Ddingtt opened #2396 "gang scheduling condition"
https://github.com/volcano-sh/volcano/blob/e843edd74493ce6b9253cdef2ff9e291c9e981b9/pkg/scheduler/plugins/gang/gang.go#L218
we run non-gang scheduling job but also take these conditions in podgroup.

![image](https://user-images.githubusercontent.com/16216183/181743985-be4399db-33a6-4e5e-b408-67c67ff4c6a7.png)

[2022-07-29 15:32] KeithBallard opened #2398 "Intel MPI Support"
**What happened**:
I attempted to use Intel MPI with the Volcano MPI integration but the MPI launcher cannot create the the hydra proxy on the worker nodes.

Commands and output:
[code]

Some notes about the possible reasons:
1. The host is definitely available, I can ssh directly and did in the first command.
2. The executable is available on all the hosts, though it could have crashed (though I

[2022-07-30 01:08] Thor-wl commented on #2396
@Ddingtt Hey. This description is too simple to help analyses what happened and how we can help you. Suggest to follow the issue specification and give more details. Thanks.

[2022-07-30 01:11] Thor-wl commented on #2390
Hey. AFAIK, volcano v1.3 matches k8s v1.19 or below versions. You can try to upgrade the version to v1.5 or above to have a try.

[2022-07-30 02:51] zishen commented on #2377
anybody else?
@DdMad

[2022-07-30 06:37] Thor-wl commented on #2398
Execuse me, are you sure the version of K8s you provide is correct?

[2022-07-30 18:41] #1240 closed

[2022-07-30 18:41] #1734 closed

[2022-07-30 18:41] #1351 closed

[2022-07-30 18:41] #1947 closed

[2022-07-30 18:41] #1739 closed

[2022-07-30 18:41] #1956 closed

[2022-07-30 18:41] #1203 closed

[2022-07-30 18:41] #1327 closed

[2022-07-30 18:41] #2033 closed

[2022-08-01 01:11] Thor-wl commented on #2389
Thanks for you feedback and fix. I've been aware of the reason. I'll urage the merge of the fix ASAP.

[2022-08-01 02:39] compactcfusr commented on #2389
Thanks for your help.It is fixed by @Akiqqqqqqq(https://github.com/volcano-sh/volcano/pull/2400) and we hope it can be helpful.Glad to be able to do out bit.

[2022-08-01 16:09] KeithBallard commented on #2398
My apologies, I think I grabbed Kustomize's version accidentally.  Here is the version:
![image](https://user-images.githubusercontent.com/19842971/182192378-a73bf5ee-5050-4dad-9748-98ba7d215006.png)

[2022-08-01 19:07] KeithBallard commented on #2398
Well, I have an update.  Some colleagues more skilled in Kubernetes than I worked with me to take a look at what Kubeflow was doing to support Intel MPI, and we found a workaround for now, though support for Intel MPI would ideally be built into Volcano. A couple of important points:

1. For Intel MPI, the launcher container SSH's into the workers (those delineated in the host file generated by vo

[2022-08-01 19:12] KeithBallard opened #2402 "Delay Launcher Until Workers Are Running (MPI)"
With MPI jobs, it is preferred that the launcher container does not start until the workers are up and running.  Otherwise, the MPI call is guaranteed to fail.  Our workaround has been adding:
[code]
to the launcher's command string, which keeps trying to ssh into the workers one by one until all succeed.  This essentially previous any following commands from running on the process until the worke

[2022-08-02 00:16] Thor-wl commented on #2402
@KeithBallard Hey. Please have a try with [MPI plugin](https://github.com/volcano-sh/volcano/blob/master/docs/user-guide/how_to_use_mpi_plugin.md) and [task dependency](https://github.com/volcano-sh/volcano/blob/master/docs/design/task-launch-order-within-job.md).

[2022-08-02 01:30] #2389 closed

[2022-08-02 01:35] jwcesign commented on #1908
/assign

[2022-08-02 10:01] shmily0000 opened #2404 "About the parameter configuration of nodeorder plug-in node scoring"
According to the introduction of nodeorder plug-in, the plug-in can score nodes through multiple dimensions. Looking at the code description inside, there are seven parameters, such as mostrequested.weight, leastrequested.weight, balancedresource Several parameters of weight can be configured to make it score different points for different nodes, so that I can make the job run evenly on all nodes,

[2022-08-02 12:54] compactcfusr opened #2406 "Volcano Job does Not Support Number of Request CPUs as a Decimal"
**What happened**:

Create VolcanoJob does Not Support Number of Request CPUs as a decimal.

Error Message as following:

I0802 11:59:07.826055       1 job_sched.go:306] schedule sj: <4165-wzl-test-quota1-test/wzl-test-sj5>
I0802 11:59:07.834917       1 job_sched.go:244] schedule job 4165-wzl-test-quota1-test/wzl-test-sj5 failed, err: admission **webhook "validatejob.volcano.sh"** denied the reque

[2022-08-03 02:59] huangyufeng0507 opened #2407 "sparkapplication uses volcano as batchScheduler FAILED"
I run the official demo spark-pi.yaml, and assign the parameter that batchScheduler: "Volcano". However, when i exec kubectl describe pod of driver pod or executor pod, it displays that these pods are scheduler by "default-scheduler". I am confused about it, is it supposed to be volcano rather than "default-scheduler"?

[2022-08-03 05:28] huangyufeng0507 commented on #2407
![image](https://user-images.githubusercontent.com/91405051/182531011-1c129f06-d01a-49a7-b0af-4d36329fe229.png)
This is the info of an executor pod, i think it suppose to show volcano ranther than default-scheduler.

[2022-08-03 08:43] Thor-wl commented on #2407
Execuse me. Are you sure you have already setup Volcano successfully?

[2022-08-03 08:45] Thor-wl commented on #2406
Thanks for your feedback. Let me take a check.

[2022-08-03 08:49] huangyufeng0507 commented on #2407
Thanks for reply. I solved this problem after enabling webhook!

[2022-08-03 09:18] Thor-wl commented on #2407
OK. If that, I will close this issue.

[2022-08-03 09:18] #2407 closed

[2022-08-05 01:33] Thor-wl commented on #2404
/cc @hwdef  Can you help for that?

[2022-08-05 02:58] hwdef commented on #2404
ok,I will take a look.

[2022-08-05 02:58] hwdef commented on #2404
/assign

[2022-08-05 10:03] SoutherLea opened #2412 "Pod is assigned to the Taints node when using the volcano scheduler"
**What happened**:
I used volcano scheduler to schedule when creating a new k8s Job and found that the pod created by deployment was assigned to the Taints:NoSchedule node.
**What you expected to happen**:
The pod is assigned to a node without Taints configured
**How to reproduce it** :

1. Prepare more than two nodes, one of them set Taints to NoSchedule.
2. Use other job to take up the resources

[2022-08-08 07:11] wpeng102 commented on #2262
I think it's a reasonable request.  Relaiming tasks between queue need consider job's priority. @william-wang @Thor-wl

[2022-08-08 11:24] wujianqiangwjq opened #2414 "statefulset-controller create Pod nats-0 in StatefulSet nats failed error: Internal error occurred: failed calling webhook "mutatepod.volcano.sh": webhook returned response.patchType but not response.patch"
statefulset-controller  create Pod nats-0 in StatefulSet natsa failed error: Internal error occurred: failed calling webhook "mutatepod.volcano.sh": webhook returned response.patchType but not response.patch

[2022-08-08 11:38] wujianqiangwjq opened #2415 "the all resources can't work after install the volcano"
the all resources can't work after install the volcano

[2022-08-08 11:49] wujianqiangwjq commented on #2415
configuration:
    resourceGroups:
    - resourceGroup: management
       object:
          key: namespace
           value:
           - square
           schedulerName:  volcano

[2022-08-08 12:17] Thor-wl commented on #2262
It's OK for me. Looking forward to somebody who are interested in this enhancement.

[2022-08-08 15:04] hwdef commented on #2415
please add more information.

[2022-08-08 15:15] bingsenmu opened #2416 "tasks in gang unschedulable"
**What happened**:
I just download the master branh of volcano and install it from helm chart,  all of the volcano related pods are running, but when I run the example under example/deployment, it seems not work for me. it report "1/1 tasks in gang unschedulable: pod group is not ready, 1 Pending, 1 minAvailable; Pending: 1 Undetermined" ,  but it works well if I create a pod with default schedule

[2022-08-08 20:37] pietermarsman commented on #2315
Thanks for the tip! I went with your suggestion, its much simpler.

I guess I was preparing for a more complex use case, where I would needed more of the volcano functionality, but for now I don't.

[2022-08-08 20:37] #2315 closed

[2022-08-09 04:55] Akiqqqqqqq opened #2417 "Job controller: "invalid memory address or nil pointer dereference" in killJob()"
**Nil pointer panic occasionally happen in job controller**:
We have a controller which deletes a vj as soon as the vj runs into Completed status. We configure our vj policy as:

[code]

And the volcano job controller panic occasionally when our vj completes.

**What you expected to happen**:
No panic happens.

**How to reproduce it (as minimally and precisely as possible)**:
Through some code ana

[2022-08-09 06:10] Thor-wl commented on #2417
Thanks for your feedback. That's critical.
/cc @hwdef Please help take a look. Thanks!

[2022-08-09 06:12] hwdef commented on #2417
ok.

[2022-08-09 07:56] william-wang commented on #2262
@zhaixigui
The following ways are usually used to achive the goal like you said.
1.  Use proportion to share resource dynamically between different business team. for example: the cluster can allocate 100 cpus, there are three queues, the tasks in each queue can use all cluster resource if there is no tasks in other queue. This will help to Maximize resource Utilization.
2.  Use job priority for a

[2022-08-09 10:06] Akiqqqqqqq commented on #2417
it's strange that we hadn't encountered this problem when we use volcano 1.4. but we met this problem frequently in volcano 1.6

[2022-08-09 10:08] Akiqqqqqqq commented on #2417
We hadn't encountered this problem when we use volcano 1.4. but we met this problem frequently in volcano 1.6. I look back at volcano 1.4 on Update() in pkg/controllers/cache/cache.go, there's a clear  difference between 1.4 and 1.6 that cause this problem. I guess it can be addressed by adding a "if job.Job == nil" clause in Update() in pkg/controllers/cache/cache.go.

[2022-08-09 10:17] hwdef commented on #2417
Thanks for taking the time to find the cause of the problem, would you like to create a PR based on your findings

[2022-08-09 10:20] Akiqqqqqqq commented on #2417
no problem

[2022-08-09 12:03] zhaixigui commented on #2262
@william-wang

[2022-08-10 01:18] william-wang commented on #2262
So you still want to use global job priority and reclaim accross the queue based on priority in your case. I'll add this enhancement into the pipeline of development, if you would like to make contribution, we can work together for that as well.

[2022-08-10 01:42] william-wang commented on #2416
/assign @waiterQ please help to take a look :)

[2022-08-10 01:44] william-wang commented on #2398
@Thor-wl any update?

[2022-08-10 01:46] william-wang commented on #2395
Currently, we have no UI dev resource yet. Are you interested to make contribution on that?

[2022-08-10 03:16] waiterQ commented on #2416
Copy that.
the reason pod pending show is NotEnoughResources, thats mean the cluster have not-enough cpu or mem resources. from nodeinfo `kubectl describe node` you can get node capacity and workloads requests, and how many resources allocatable. reduce workloads no-needs or lower the example deployments containers.resources.requests can help you start the example.

hope you enjoy volcano :)

[2022-08-10 03:19] #1763 closed

[2022-08-10 03:19] #410 closed

[2022-08-10 03:19] #1863 closed

[2022-08-10 03:19] #1376 closed

[2022-08-10 04:18] #1901 closed

[2022-08-10 04:18] #2051 closed

[2022-08-10 04:18] #1281 closed

[2022-08-10 04:18] #2065 closed

[2022-08-10 06:37] #2412 closed

[2022-08-10 07:02] kerthcet opened #2422 "Take initContainer's GPU quota into consideration"
#### What would you like to be added:
Currently when calculating pod GPU resources, we just consider the `spec.Containers` but the `spec.InitContainers`, actually we should.
[code]

So the value should be
Max(max(initContainers), sum(Containers))

#### Why is this needed:

[2022-08-10 07:02] kerthcet commented on #2422
/assign

[2022-08-10 11:06] bingsenmu commented on #2416
i am sure the cluster has enough cpu/memory resources, it works well if i remove the schedulerName field.  also i change the request cpus to 100m, it still report the same error.
my cluster info:
![image](https://user-images.githubusercontent.com/4167840/183886345-14c50059-d8d3-4a30-b4c9-22da8ed32ac9.png)
the deployment yaml:
![image](https://user-images.githubusercontent.com/4167840/183886445-5b1

[2022-08-11 01:53] elinx opened #2424 "numa aware plugin support more cpu policies"
#### What would you like to be added:
add an argument for Numa aware plugin to support more CPU policies

#### Why is this needed:
Numa aware plugin hard coded `static` policies as a filter, but in our environment, we have customized policies
https://github.com/volcano-sh/volcano/blob/76dac4c6a599a1d7721b282d15f37987b89aab86/pkg/scheduler/plugins/numaaware/numaaware.go#L195-L197

https://github.co

[2022-08-11 02:30] waiterQ commented on #2416
ok, well, i mistake your meant, sorry. please update deployment.apps/volcano-scheduler.spec.template.spec.containers.args `-v=3` ->`-v=5`, paste predicate logs of pod/volcano-scheduler, like this:

![image](https://user-images.githubusercontent.com/11441362/184055082-5615d848-b136-4ab6-81bf-c40922150c1f.png)

[2022-08-11 04:56] lowang-bh commented on #1052
if there are multiple scheduler, will cause the outofsync error sometimes when pods by different scheduler bind to a node which snapshoted by kube-batch/vocalno scheduler

[2022-08-11 06:10] Thor-wl opened #2425 "【community bridge】Pick out reasonable victim pods for rescheduling plugin"
As what [Rescheduling Desgin Doc](https://github.com/volcano-sh/volcano/blob/master/docs/design/rescheduling.md) says and [rescheduling plugin](https://github.com/volcano-sh/volcano/pull/2184) implemented currently, it is a little bit rough to evict selected victims without difference. In fact, we should consider more factors such as pod priority, critical pod and so on. In order to make reschedul

[2022-08-11 07:17] Thor-wl opened #2426 "【community bridge】Avoid hot nodes in scheduling based on real workload"
In [v1.6.0](https://github.com/volcano-sh/volcano/releases/tag/v1.6.0), Volcano has supported [Dynamic Scheduling Based on Real Node Load](https://github.com/volcano-sh/volcano/blob/master/docs/design/usage-based-scheduling.md). But there still be some gaps. For example, in production environment, since the load of a Pod does not rise immediately after it is created, this leads to a problem like S

[2022-08-11 07:26] bingsenmu commented on #2416
i modified the args from v=3 -> v=5, but  i didn't see the similar logs like you sent. i post the logs of volcano-scheduler here,  hope it's helpful. thanks~

I0811 07:17:34.058001       1 node_info.go:277] set the node cn-shanghai.10.0.0.27 status to Ready.
I0811 07:17:34.058081       1 node_info.go:277] set the node cn-shanghai.10.0.0.28 status to Ready.
I0811 07:17:34.058149       1 node_info.g

[2022-08-11 07:39] Thor-wl opened #2428 "【community bridge】Implement pod filter chain for rescheduling"
As what [Rescheduling Desgin Doc](https://github.com/volcano-sh/volcano/blob/master/docs/design/rescheduling.md) says and https://github.com/volcano-sh/volcano/pull/2184 implemented currently, all pods will be regared as potential victims. It is not so reasonable for some scenarios. For example, team1 and team2 share a k8s cluster and each team maps to a queue(queue1 and queue2). They want to run

[2022-08-11 07:53] william-wang opened #2429 "【community bridge】Integrate Volcano with Ray"
Some Vocano users are using Ray (https://github.com/ray-project/ray) at the same time. e.g. Cruise. We want to make Volcano and Ray play together more effectively.

- Investigate the integration solution for Volcano, KubeRay, Ray autoscaling etc.
- Implement the feature align with code of conduct.
- Provide a integration guide.
- Provide a full test in classical scenarios with UT and E2E.

mentor:

[2022-08-11 08:00] william-wang opened #2430 "【community bridge】Support hot update daemon log level"
When some glitches happends in production env and need to figure out the cause, one option is to change the log level and reproduce the issue to get more verbosed log. The log level threshold is hard coded into deployment yaml file right now, the volcano component like scheduler will restart when the log level changed and the issue may can't reporduce anymore.

- Provide the design doc
- Implement

[2022-08-11 10:11] #2422 closed

[2022-08-12 01:38] berlinsaint commented on #2344
Yes,my finally resolution is doing the same thing as your said

[2022-08-12 02:05] waiterQ commented on #2416
wip, im analysing the offered infos, sorry to touch unassign-me

[2022-08-12 03:41] Thor-wl commented on #1977
@ldd91 Kindly to ask is there some process about this issue?

[2022-08-12 03:44] waiterQ commented on #2416
whats k8s version your cluster?

[2022-08-12 04:48] waiterQ commented on #2416
if could, clusters node info needs also

[2022-08-12 05:43] hwdef commented on #2102
https://github.com/volcano-sh/volcano/pull/2346 is merged.
/close

[2022-08-12 05:43] #2102 closed

[2022-08-12 05:44] hwdef commented on #2079
fix in https://github.com/volcano-sh/volcano/pull/2346
/close

[2022-08-12 05:44] #2079 closed

[2022-08-12 05:44] hwdef commented on #2191
fix in https://github.com/volcano-sh/volcano/pull/2346
/close

[2022-08-12 05:44] #2191 closed

[2022-08-12 05:47] hwdef commented on #2247
After https://github.com/volcano-sh/volcano/pull/2346 merge, this function can be achieved by directly modifying the yaml.

[2022-08-12 05:47] hwdef commented on #2247
/close

[2022-08-12 05:47] #2247 closed

[2022-08-12 05:47] #2333 closed

[2022-08-12 22:51] #2066 closed

[2022-08-12 22:51] #2083 closed

[2022-08-12 22:51] #2074 closed

[2022-08-13 10:04] shmily0000 opened #2436 "Problems encountered in using the usage based scheduling document"
The desired result is to run on the node with the lowest resource utilization rate. The actual result is to run on the node with the CPU utilization rate higher than 3% and all the subsequent nodes run on this node.

Parameter configuration：
actions: "enqueue, allocate, backfill"
tiers:
  - plugins:
      - name: priority
      - name: gang
      - name: conformance
      - name: usage  # usage ba

[2022-08-13 10:05] shmily0000 commented on #2404
@hwdef Hello, how is the progress on the use and problems of this plug-in? Thank you

[2022-08-15 00:51] Thor-wl commented on #2436
/assign @william-wang

[2022-08-15 13:56] bingsenmu commented on #2416
my cluster's k8s version is 1.20.11 on aliyun cloud, the node info is(Please let me know if it meets your needs， thanks~）:

    architecture: amd64
    bootID: 495b453e-5b95-4691-86e8-9bda2164f803
    containerRuntimeVersion: docker://19.3.15
    kernelVersion: 4.19.91-25.6.al7.x86_64
    kubeProxyVersion: v1.20.11-aliyun.1
    kubeletVersion: v1.20.11-aliyun.1
    machineID: "xxxxx"
    operating

[2022-08-16 07:16] #1885 closed

[2022-08-16 07:18] #1181 closed

[2022-08-16 09:40] kongjibai commented on #2299
sorry, it's a long time no reply. it outputs as below
[code]

[2022-08-16 09:46] kongjibai commented on #2299
sorry, it's a long time no reply.
it outputs as below, reminds pod group is not ready.
it's normal in volcano-release-1.5, but failed in volcano-release-1.6.
How can I sovle this problem?
[code]

[2022-08-16 12:13] rainstarwz commented on #2425
@Thor-wl Hi ! I'm interested in this issue. Let me know what should I do?

[2022-08-16 12:19] JarnoRFB commented on #2379
Would a possible solution be to make the priority class configurable in the helm chart? I am somewhat reluctant to modify the sources directly, as that would make future updates harder. I could also submit a PR for this if it is desired.

[2022-08-17 00:53] Thor-wl commented on #2425
Great. Please send me a brief resume.

[2022-08-17 01:15] Thor-wl commented on #2379
I'm OK about that.

[2022-08-17 01:18] Thor-wl commented on #2299
This output provides little useful information for debug. Have you described the podgroup for more details or take a search of the logs?

[2022-08-17 03:28] kongjibai commented on #2299
the podgroup describe as below, it reminds **`NotEnoughResources`**, but i'm sure the k8s cluster has enought resource, including cpu, memory and gpu.
[code]

[2022-08-17 09:16] kerthcet opened #2442 "provide allocable GPUs rather than idle GPUs in gpu-strategy of number"
#### What would you like to be added:
Currently when we try to get available GPU card IDs in `predicateGPUbyNumber`, we only consider the idle GPUs. Actually allocable GPUs can also be considered if they have enough resources.
https://github.com/volcano-sh/volcano/blob/910a97d51fbe6616caa53b5c7c27a20ab8699962/pkg/scheduler/plugins/predicates/gpu.go#L69-L79

I'd like to optimize this by filtering o

[2022-08-18 06:46] shmily0000 opened #2447 "About a node that wants to specify the operation of a job"
First, I put a label on the existing node, and then add nodeselector and the label on the previous node in the example of running vcjob. However, after actually running vcjob, I find that it does not run on the node with the same label. Then I try to put a label on the queue, and find that the tasks in the queue do not run on the node with the same label. Please help me tell me how to implement th

[2022-08-18 07:46] huangyufeng0507 opened #2449 "Using Volcano Jobflow: the image built locally can not work!!!"
![image](https://user-images.githubusercontent.com/91405051/185338572-d5cadb20-80c5-454a-b870-0f5bb60e9e43.png)
The dockerfile shows a line that ENTRYPOINT [/manager], then i delete this line, rebuild the image and run /manager in container to verify the file manager whether actually works, but it meets this problem.

[2022-08-18 08:10] kerthcet commented on #2416
Can you help to post the volcano configuration, it seems like it was rejected by the overcommit plugin.
[code]

[2022-08-18 08:13] hwdef commented on #2449
repeat with https://github.com/BoCloud/JobFlow/issues/19

When jobflow is merged into volcano, there is no such problem. So this issue should open in volcano-sh/volcano.
we will answer in bocloud/jobflow.

/close

[2022-08-18 08:13] #2449 closed

[2022-08-18 08:36] hwdef commented on #2404
Sorry for being a bit busy lately, I'll put this issue at the top of the to-do list.Reply as soon as possible

[2022-08-19 01:14] #1704 closed

[2022-08-19 07:24] anonymousr007 commented on #2428
Hello Sir,

I am Rishabh, an undergraduate computer engineering student at Delhi Technological University. I am interested in this project of Mentorship of LFX. Can you please share further information? How can we be selected for mentorship and also contribute to this project?

Skills: C, C++, Python, Golang (Intermediate)
DevOps: Linux, Computer Networks, Yaml, Kubernetes (Basics), Docker (Basics

[2022-08-19 07:41] Thor-wl commented on #2428
@anonymousr007 Hi. Please send a resume to me. My email is 13164644535@163.com. Thanks.

[2022-08-19 08:17] anonymousr007 commented on #2428
Hello sir, I sent my resume to you. Thanks.

[2022-08-19 10:14] Thor-wl commented on #2428
OK. Received. Thanks.

[2022-08-19 16:05] nitishchauhan0022 commented on #2430
Hi @william-wang I am interested in working on this issue. Could you please share some resources to getting started with this issue?

[2022-08-19 19:41] anonymousr007 commented on #2428
Please share further information. Thanks.

[2022-08-20 13:58] 0saurabh0 commented on #2425
Hi @Thor-wl I would love to work on this. Anything for getting started.
 I've applied for this project in this term of LFX mentorship and also I've sent you my resume as mentioned.

[2022-08-20 18:40] zeel-pathak commented on #2426
Hey @Thor-wl, I would love to work on this issue under LFX Mentorship.

I have already applied for the mentorship with volcano on LFX,
Looking forward to work with such an amazing community.

[2022-08-20 18:48] zeel-pathak commented on #2426
I tried joining the SLACK group, but it requires an invitation, So Is there any other way I can interact with the community?

[2022-08-22 00:21] Thor-wl commented on #2426
@zeel-pathak Hey. Thanks for your participation. The mentor of this issue is @william-wang. Please contact with him and get future information.

[2022-08-22 03:05] kerthcet opened #2452 "Increase the default weights of several arguments in nodeorder plugin"
#### What would you like to be added:
Currently in plugin nodeorder, we have default weights for these kubernetes upstream plugins, but the weights seem problematic.

The default weights of these plugins are all equal to 1, but actually they should not. Imagine that, an end-user explicitly prefer the pod1 to be allocated on nodeA to couple with pod2 for podAffinity policy, but due to the lower uti

[2022-08-22 03:05] kerthcet commented on #2452
/assign

[2022-08-22 03:05] kerthcet commented on #2452
cc @Thor-wl for thoughts.

[2022-08-22 09:02] 18707602767 opened #2454 "volcano support checkpoint"
#### What would you like to be added:
Hope volcano can support checkpoint. When the job is interrupted due to external reasons, it can continue to run according to the checkpoint.

#### Why is this needed:
some lengthy calculations can run for days.If the calculation node dies, we have to restart from the beginning.Having a checkpoint created, we can at least restart from this point of calculation

[2022-08-22 09:05] 0saurabh0 commented on #2425
@Thor-wl  Is there any documentation of volcano, where I can learn more ?

[2022-08-22 13:32] zeel-pathak commented on #2426
Thanks for the info @Thor-wl, Should I contact him in the current thread or via Email?

[2022-08-23 02:40] zeel-pathak commented on #2426
Hey @william-wang, I guess you are the mentor for this issue under LFX Mentorship, Where can I join the community? your help would be appreciated.

[2022-08-23 03:00] shinytang6 commented on #2190
Good job. Thanks for the contributions!

[2022-08-23 11:13] Trainbow opened #2456 "Tensorflow distributed mnist training problem"
**What happened**:
I was trying to run the `tf-dist-mnist-example.yaml` to see how it works on the real k8s clusters. But I got the worker nodes are waiting for a reply and cannot receive the ps node's information.

I test it on volcano-1.5.1 and it works on the k8s. But i run the example on volcano-1.6.0 on clusters, it
appears the problem above.

**Environment**:
- Volcano Version:1.6.0

[2022-08-23 11:15] Trainbow commented on #2456
the logs in ps node:
![image](https://user-images.githubusercontent.com/26664964/186144511-96af328f-6227-4bc7-b91a-062e51ea6cdc.png)

the logs in worker node:
![image](https://user-images.githubusercontent.com/26664964/186144349-3ced36a4-5e53-426b-8e4d-0fb880ace2e4.png)

[2022-08-23 19:11] anonymousr007 commented on #2428
Hello Sir, I submitted my cover letter and resume to the official LFX Mentorship Portal. Please share some tasks or some resources to learn more about this project. Thanks.

[2022-08-24 02:23] jiangkaihua opened #2457 "Volcano support nodevolumelimits plugin."
#### What would you like to be added:

Kubernetes default scheduler supported `nodeVolumeLimits` plugin to prevent pods from assigning to nodes with insufficient volumes. But volcano missed this function in predicate plugin, which should be introduced to volcano.

#### Why is this needed:

`nodeVolumeLimits` plugin is a basic function in kube-scheduler, so Volcano should support it.

[2022-08-25 07:08] zeel-pathak commented on #2426
Hey @william-wang , @Thor-wl submitted application for this project. Can't wait to work on this project. Looking forward to work with you as mentee. Hope to get selected and together we will rock & roll.
🤜🤛

[2022-08-25 08:11] elinx opened #2460 "performance degration when scheduling a large number of native k8s workload"
**What happened**:
Use volcano as a scheduler to schedule a large number of deploys, the performance is not as good as `kube-scheduler`.

**What you expected to happen**:
Performance is as good as `kube-scheduler`

**How to reproduce it (as minimally and precisely as possible)**:
test scheduling time using 200 deployments each with 10 pods inside

**Anything else we need to know?**:

**Environment

[2022-08-25 09:58] joeyjy opened #2462 "Part of pods are still scheduled even if minAvailable did not reached"
**What happened**:
Part of pods are still scheduled even if minAvailable did not reached
[code]
**What you expected to happen**:
The whold task shouldn't have been started
**How to reproduce it (as minimally and precisely as possible)**:
my yaml of a vj
[code]

**Anything else we need to know?**:
scheduler args like:
[code]
**Environment**:
- Volcano Version: v1.5.1
- Kubernetes version (use `kube

[2022-08-26 04:51] william-wang commented on #2452
Thanks for your report. It seems reasonable to do this change.

Is there any reference for this?

[2022-08-26 04:57] william-wang commented on #2454
May I know which kind of computing engine e.g spark are you using? Usually the chickpoint function is implemented in upper layer framework, e.g pytorch.

[2022-08-26 08:22] jiangkaihua opened #2464 "Update CA certs insert method for webhooks."
#### What would you like to be added:

Update CA certs insert method for webhooks.

#### Why is this needed:

Current method `addCaCertForWebhook()` only added CA cert for webhooks listed in `validatingWebhooksName` and `mutatingWebhooksName`
https://github.com/volcano-sh/volcano/blob/74b211451dbc16618bfd2d51a7288f0c0268551f/cmd/webhook-manager/app/util.go#L39-L51
Which is inconvenient for new web

[2022-08-26 09:45] #2460 closed

[2022-08-26 12:46] antonipp opened #2466 "Namespace-scoped Queues and Numatopologies resources"
#### What would you like to be added:
Currently both Queues and Numatopologies are defined as cluster-scoped resources:
- https://github.com/volcano-sh/volcano/blob/74b211451dbc16618bfd2d51a7288f0c0268551f/config/crd/v1beta1/scheduling.volcano.sh_queues.yaml#L20
- https://github.com/volcano-sh/volcano/blob/74b211451dbc16618bfd2d51a7288f0c0268551f/config/crd/v1beta1/nodeinfo.volcano.sh_numatopologi

[2022-08-26 15:45] kerthcet commented on #2452
No documents but we can refer to the code here
https://github.com/kubernetes/kubernetes/blob/6dd8b86124e7e4f36f4a3d1939b6ee616ad40c58/pkg/scheduler/apis/config/v1/default_plugins.go#L28-L57

[2022-08-27 03:15] Thor-wl commented on #2464
/close

[2022-08-27 03:15] #2464 closed

[2022-08-29 06:24] #2424 closed

[2022-08-29 06:28] elinx commented on #2414
#2225
Did this solve your problem?

[2022-08-29 06:29] kerthcet commented on #2442
cc @william-wang for thoughts.

[2022-08-29 13:26] bingsenmu commented on #2416
is the volcano_scheduler.conf?

[2022-08-29 13:27] bingsenmu commented on #2416
![Uploading image.png…]()

[2022-08-29 13:29] bingsenmu commented on #2416
is the volcano_scheduler.conf?
![image](https://user-images.githubusercontent.com/4167840/187212420-a5a717f8-3c81-438e-a273-432e333ac3e3.png)

[2022-08-30 06:19] stingshen opened #2469 "Resource Reservation isn't fair enough"
#### What would you like to be added:

Make [resource reservation feature](https://github.com/volcano-sh/volcano/blob/master/docs/design/queue-guarantee-resource-reservation-design.md) more fair.

#### Why is this needed:

Currently, real capability of a queue is: total resources - sum(other-queue.guarantee), which is not fair in some circumstances. For example, if there are three queues and 24 GP

[2022-08-30 10:40] compactcfusr commented on #2406
Sorry, it seem like my wrong usage.I have try creating decimal request cpu by set Qos policy brustable, it succeed.
Therefore, I'll close this PR.

[2022-08-30 10:40] #2406 closed

[2022-08-31 02:01] WingkaiHo opened #2473 "Use nvidia-smi to ban error gpu make UnexpectedAdmissionError with failed to find gpu id, which is unexpected"
**What happened**:
If you have use nvidia-smi to ban error gpu, before add machine to k8s ,such as

[code]

It add this machine to k8s, use gpu-share scheduler it. It will schedule fail with  error `Warning UnexpectedAdmissionError kubelet Allocate failed due to rpc error: code = Unknown desc = failed to find gpu id, which is unexpected` some time

**What you expected to happen**:

**How to reprod

[2022-08-31 02:02] WingkaiHo commented on #2473
https://github.com/volcano-sh/devices/pull/29

[2022-08-31 02:06] WingkaiHo commented on #2473
I think space of volcano-schduler gpu ids are  0 -  GpuDeviceCount - 1;  but if you use nvidai-smi to ban error gpu, the gpu ids space of is not start 0 or not continuous

[2022-08-31 02:34] zhaixigui commented on #2262
With pleasure @william-wang

[2022-08-31 04:53] cauwulixuan commented on #2416
any update? I met the same issue here.

[2022-09-01 07:59] jiangkaihua opened #2479 "Volcano support volumeZone plugin."
#### What would you like to be added:
Kubernetes default scheduler supported `volumeZone` plugin to prevent pods from assigning to nodes in different zone with volumes to be mounted. But volcano missed this function in predicate plugin, which should be introduced to volcano.
#### Why is this needed:
`volumeZone` plugin is a basic filter in kube-scheduler, so Volcano should support it.

[2022-09-01 09:31] jinzhejz opened #2481 "volcano scheduler crash when pv is not created"
**What happened**:
volcano scheduer crash
[code]

**What you expected to happen**:
volcano scheduler does not crash

**How to reproduce it (as minimally and precisely as possible)**:
1. create a storageclasses
[code]
[code]

2. submit a statefulset which will use storageclasses `csi-disk-lazy-provisoner`
[code]

3. make sure the pv is not automatically created
[code]

4. volcano sheduler crashed

[2022-09-01 13:15] jiangkaihua opened #2485 "Volcano support volumeBinding plugin."
#### What would you like to be added:
Kubernetes default scheduler supported `volumeBinding` plugin. But volcano missed this function in `predicate` and `nodeorder`, which should be introduced to volcano.
#### Why is this needed:
`volumeBinding` plugin is a basic plugin in kube-scheduler, so Volcano should support it.

[2022-09-02 01:38] #2481 closed

[2022-09-02 09:51] waiterQ commented on #2416
log printing need to be added in pkg/scheduler/plugins/overcommit/overcommit.go
`klog.V(4).Infof("node(%v) Allocatable:%s, Used:%s", node.Name, node.Allocatable, node.Used)`
`klog.V(4).Infof("idleResource:%s, total:%s, overCommitFactor:%v, used:%s", op.idleResource, total, op.overCommitFactor, used)`
![image](https://user-images.githubusercontent.com/11441362/188112608-01fc09d6-b1f4-49c5-92c9-e65f

[2022-09-03 18:22] zeel-pathak commented on #2426
Hey @william-wang & @Thor-wl, I have submitted my application but the results for the volcano are not out, the results of all other projects are out.

I am really waiting for a response from your side, and also I can not find any further information on the LFX mentorship page.

I tried contacting you guys on CNCF slack, but there was no update.

Your response will be highly appreciated.

[2022-09-05 10:06] zhifanggao opened #2488 "volcano scheduler panic with resourcequota plugin enabled when no resourcequota in a namespace"
**What happened**:
volcano scheduler panic  with  resourcequota plugin enabled when no resourcequota in  namespace

**What you expected to happen**:
volcano-scheduler doesnot crash
**How to reproduce it (as minimally and precisely as possible)**:
1. set the resourcequota plugin in scheduler config

[code]
2. `test` namespace has no resourcequota

[code]
3. define a queue and a job
[code]
4. create

[2022-09-05 14:59] mkjpryor opened #2490 "Documentation/examples for task topology"
#### What would you like to be added:

Some documentation on (1) how to enable the plugin and (2) how to specify (anti-)affinity constraints on a job would be awesome.

#### Why is this needed:

I am trying and failing to use the task-topology plugin to get anti-affinity between pods in different tasks of a job.

[2022-09-06 15:09] nysal commented on #2402
I have volcano scheduling mpi jobs in my cluster. The shipped `example/integrations/mpi/mpi-example.yaml` works well. I tried running with the mpi plugin instead and hit issues with the master pod failing name resolution of the worker pods. The YAML used was the one in `docs/user-guide/how_to_use_mpi_plugin.md`. The worker pods are running, but the master cannot resolve their names.

[2022-09-06 15:44] KeithBallard commented on #2402
I had some similar issues but eventually found workarounds.

First, regarding the mpi plugin, @nysal .  It worked fine for me with:
[code]
And ensuring the tasks names are exactly "launcher" and "worker".

Second, there are two issues with the dependency syntax:
1. The syntax is wrong in the documentation.  It should be:
[code]
2. The `minAvailable` value for the spec creates issues.  It must be s

[2022-09-06 16:22] nysal commented on #2402
@KeithBallard are you using v1.6 or a recent master branch build?

[2022-09-06 16:46] KeithBallard commented on #2402
I am using v1.6

[2022-09-07 11:25] #2488 closed

[2022-09-07 16:15] Yikun commented on #2201
Great! just curious, are we considering this to land in version 1.7? If so, we need to act fast as we also need to consider upgrades and validations in volcano and fabricio(java/scala sdk). In addition, v1beta1 will also be deprecated for a period of time and then dropped, right?

[2022-09-08 02:35] WingkaiHo opened #2491 "Volcano gpu-share plugin patch all suitalbe for pod"
**What happened**:
When update volcano master,  check scheduler to gpu-share pod. The volcano device-plugin patch gpu to pod fail. I found annotations
 `volcano.sh/gpu-index: "5,6"`

**What you expected to happen**:
gpu-share only patch on gpu id for pod

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version: mast

[2022-09-08 02:38] WingkaiHo commented on #2491
https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/plugins/predicates/predicates.go#L197

retrun all suitable gpu ids for pod. But pod need only one gpu id.

[2022-09-08 10:42] snirkop89 commented on #2337
Hi, is there an update about this?

[2022-09-08 13:24] HariVamsiK commented on #2473
Hey @WingkaiHo I want to work on this issue.

[2022-09-08 13:26] HariVamsiK commented on #2491
Hey @WingkaiHo I would like to work on this issue. It would help me in my academics.

[2022-09-08 16:15] mkjpryor opened #2492 "Allow customisation of SSH port"
#### What would you like to be added:

Allow the customisation of the SSH port in the SSH config file generated by the `ssh` plugin.

#### Why is this needed:

For maximum network performance, we sometimes use host networking for jobs. When using host networking, port 22 is usually taken and so needs to be set to a non-standard port. It would be nice if this could be set using an option to the `ss

[2022-09-08 23:40] #1091 closed

[2022-09-08 23:40] #2145 closed

[2022-09-08 23:40] #1470 closed

[2022-09-08 23:40] #2150 closed

[2022-09-08 23:40] #2135 closed

[2022-09-08 23:40] #1536 closed

[2022-09-08 23:40] #2120 closed

[2022-09-08 23:40] #2108 closed

[2022-09-08 23:40] #1954 closed

[2022-09-08 23:40] #2107 closed

[2022-09-08 23:40] #2106 closed

[2022-09-08 23:40] #1815 closed

[2022-09-08 23:40] #1651 closed

[2022-09-08 23:40] #2087 closed

[2022-09-08 23:40] #1772 closed

[2022-09-08 23:40] #2100 closed

[2022-09-08 23:41] #1033 closed

[2022-09-08 23:41] #2101 closed

[2022-09-08 23:41] #1014 closed

[2022-09-09 02:13] aarushisoni commented on #2492
I want to contribute to this issue . Please guide me through this process.

[2022-09-13 02:53] WingkaiHo commented on #2473
@HariVamsiK it fix in https://github.com/volcano-sh/devices/pull/29

[2022-09-13 16:07] Saba1119 opened #2493 "metrics exposure for volcano job succeeded state and failed state"
#### What would you like to be added:
currently there is no metrics for **volcano jobs succeeded state and failed state** ,only volcano podgroup pending,inqueue,running and unknown state is available.those metrics are

volcano_queue_pod_group_inqueue_count
volcano_queue_pod_group_pending_count
volcano_queue_pod_group_running_count
volcano_queue_pod_group_unknown_count

#### Why is this needed:

if

[2022-09-15 07:06] zhifanggao commented on #2404
Hit the same problem . Any progress about this issue?

[2022-09-15 09:57] kerthcet commented on #2452
Any thoughts @william-wang

[2022-09-16 02:27] cauwulixuan opened #2494 "What is the difference between this volcano project and volcano plugin in huawei cloud CCE product?"
What is the difference between this volcano project and volcano plugin in huawei cloud CCE product?

In huawei cloud CCE product, after installing volcano plugin, several plugin configs were found in `volcano-scheduler-configmap`, like:
[code]

What confused me was the plugins (`cce-gpu-topology-predicate`, `cce-gpu-topology-priority`, `cce-gpu`) that were not in the `volcano` project. So how do t

[2022-09-16 09:25] WingkaiHo commented on #2473
/assign @Thor-wl

[2022-09-16 10:07] zhifanggao opened #2496 "imagelocality.weight can not take affect when using nodeorder plugin"
**What happened**:
imagelocality.weight can not take affect when using nodeorder plugin
**What you expected to happen**:
imagelocality.weight  works when using nodeorder plugin
**How to reproduce it (as minimally and precisely as possible)**:
1. there are 3  worker nodes in my environment
[code]
2. job
[code]
3. only  host-10-19-37-34  already has `nginx:latest ` image
4. scheduler config:
[code]

[2022-09-19 06:15] fjding commented on #999
Where to find performance test reports

[2022-09-19 11:01] zhifanggao commented on #2496
Add the debug info into session.go
[code]
check the output of session cache
[code]
It looks like the images on the node is not included in the cache

[2022-09-20 07:13] william-wang commented on #2496
@wangyang0616 please take a look at this issue :)

[2022-09-20 09:22] cauwulixuan opened #2498 "Using proportional in namespaced scope."
#### What would you like to be added:

#### Why is this needed:
for now, proportional in predicate plugin was a cluster-scope functionality with setup like:
[code]

Now we have a scenario: we have several namespaces in our k8s cluster, and for now, we set `ResourceQuota` in each namespace for resource isolation, so what can we do if we want to set different proportion in different namespace? And i

[2022-09-20 19:38] #2171 closed

[2022-09-20 21:07] prokher commented on #1687
Actually any of both a quite OK from my point of view.

[2022-09-21 01:47] hwdef commented on #1687
@prokher At present, the queue can be deleted directly, but the status of the queue cannot be controlled. The function of controlling the status of the queue will be added in the future.

[2022-09-21 06:16] WulixuanS opened #2501 "Question about ephemeral-storage"
**What happened**:
When i use ephemeral-storage resource i found that kubelet has a error:
[code]
**What you expected to happen**:
the volcano scheduler should schedules consider ephemeral-storage resource

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version: v1.2
- Kubernetes version (use `kubectl version`): v1

[2022-09-21 06:29] 18707602767 opened #2502 "Is it supported to submit jobs to volcano using WDL language in Cromwell？"
The community provides the configuration of using volcano as the cromwell backend, but when the job is submitted, it cannot be successfully delivered to the volcano.

Environment:
- OS：Centos 7.9
- Runtime: Containerd
- Kubernetes version: 1.24.2
- Volcano version: 1.6.0

[code]
test example:
[code]
---
[code]

#### What I want to know:
Is it supported to submit jobs to volcano using WDL language

[2022-09-21 09:51] WulixuanS commented on #2501
Looking at the volcano code, the NewResource method considers ephemeral-storage as a scalar resource, and then calls the method of the k8s package. In the definition of k8s, ephemeral-storage does not belong to a scalar resource, resulting in the resource scheduling of ephemeral-storage does not take effect.

[2022-09-22 03:29] elinx opened #2503 "The lister can't list resource in predicates and nodeorder plugins"
**What happened**:
The informers for namespaces resource are not registered to the informer factory, then in `predicates` or `nodeorder` plugins, the namespace lister used can't get any resources：
`E0922 10:33:55.843052       8 plugin.go:143] "getting namespace, assuming empty set of namespace labels" err="namespace \"default\" not found" namespace="default"`

**What you expected to happen**:
the

[2022-09-22 06:46] WulixuanS commented on #2501
/kind bug

[2022-09-23 12:49] odidev commented on #1570
Hi Team,

As this PR <https://github.com/volcano-sh/volcano/pull/2049#issuecomment-1212690038> has been closed, may I know, if is there any other PR/work available to release multi-arch docker images? I am interested in the Linux/ARM64 Docker Images official release.

[2022-09-24 01:29] wangyang0616 commented on #2496
According to the method provided by @zhifanggao, the imagelocality policy does not take effect.

When the default scheduler of kube-scheduler is used, the imagelocality policy still does not take effect. It is suspected that the scoring logic of the imagelocality policy of K8S is incorrect.

An issue has been created in the K8S community.
https://github.com/kubernetes/kubernetes/issues/112699

[2022-09-26 03:15] #2503 closed

[2022-09-26 05:02] #2491 closed

[2022-09-27 08:10] hwdef commented on #1570
I don't know if this is the PR you need
https://github.com/volcano-sh/volcano/pull/2435

[2022-09-27 12:11] elinx opened #2508 "scheduler should not schedule when csinode driver restarts"
**What happened**:
the csi plugin driver restarts but the csinode status not updated as what expected and the scheduler schedule a pod to the node even when the max volume count exceeds it's capacity

**What you expected to happen**:
update the csi node driver status correctly

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2022-09-28 02:18] william-wang opened #2510 "Request volcano to support k8s 1.25"
#### What would you like to be added:
As k8s 1.25 was released for a period of time, We plan to support k8s 1.25 in community.

[2022-09-28 02:22] william-wang commented on #2510
/assign wangyang0616

[2022-09-28 04:02] waiterQ opened #2511 "want enable Burstable task"
backgroud:
The plugin is tie-in use function of numa-aware and validateTaskTopoPolicy, it had another plugin which support brustable pod in our environment.

#### What would you like to be added:

remove `v1qos.GetPodQOS(pod) != v1.PodQOSGuaranteed` limit

#### Why is this needed:

without pod qos-class validate in admit job, there are no-impact on existing feature. but relaxes the limit can incre

[2022-09-28 06:06] zhifanggao commented on #2496
fix PR: https://github.com/volcano-sh/volcano/pull/2512

[2022-09-28 06:19] zhifanggao commented on #2496
the node info is included in (* Node) which got from apiserver , Then save into  schedulercache-------> snapshot()--------->nodemap in nodeorder.go.  The image information on nodes exists in  (* Node) , But but it lost in schedulercache, snapshot() and nodemap in nodeorder.go.   So the score of imagelocality is always 0

The solution is that saving the image information into schedulercache,snapsho

[2022-09-29 00:57] #2508 closed

[2022-09-29 01:19] elinx opened #2516 "Detailed list of metrics exposed by volcano"
#### What would you like to be added:
Add a new document displaying all the metrics(name, type, meaning, scope etc.) exposed by volcano.

#### Why is this needed:
I see the initial design document list some basic metrics and the latest code has added many other metrics, an eleborated metrics list would be great for the users to monitor the volcano system and perfomrance.

[2022-09-29 01:23] elinx opened #2517 "support dumping cache functionality"
#### What would you like to be added:
supported dump cache information for debuging, monitoring.

#### Why is this needed:
It would be a great benefit for the developers to see the nodes and pods information of the scheduler cache/snapshot to debug some tricky bugs.

[2022-09-29 09:08] elinx opened #2518 "podgroup lifecycle management enhancement"
#### What would you like to be added:
For native k8s workload case, design an enhanced podgroup lifecycle management system instead of depending on `ownerreference` based GC mechanism.

#### Why is this needed:
When deploying native k8s workload like depolyment, volcano just simply creates a podgroup for the pods in it by getting pods' owner and setting podgroup's owner to the replicaset according

[2022-09-29 09:16] shinytang6 commented on #2518
FYI: already have some discussions in https://github.com/volcano-sh/volcano/issues/1853

[2022-09-29 10:09] odidev opened #2519 "Include CI testing for Linux/ARM64 platform"
#### What would you like to be added:

I am working with Volcano on Linux/ARM64 platform.

Volcano has already released multi-arch docker images now, that supports ARM64.
I can see some e2e tests running via GitHub Actions for x64.
May I know, would it be feasible for you to run/include those tests for Linux/ARM64 as well in the CI?

Kindly share your opinion. I will be happy to contribute if requ

[2022-09-29 12:02] talcoh2x commented on #2337
@william-wang  @Thor-wl
Hi Guys do you have something new to update we are really stuck and need help

[2022-09-30 04:45] odidev commented on #2519
FYI, since GitHub Actions does not support Linux/ARM64 natively, there is a repo “WorksOnArm” that provides free access to ARM64 based clusters.

Works on Arm is an initiative that provides free access to Arm based clusters (on Equinix). This is for the purpose of giving open-source projects access to Arm HW to support build-test loops. To apply for access, you must open an issue with the project

[2022-09-30 06:23] #2511 closed

[2022-09-30 06:23] william-wang commented on #2502
/assign @jiangkaihua please help to take a look.

[2022-09-30 06:48] william-wang commented on #2518
There is solution for this issue and the design had ever been shared on weekly meeting. We need to resource to implement it.
https://github.com/volcano-sh/volcano/blob/master/docs/design/Enhance-Generate-PodGroup-OwnerReferences-for-Normal-Pod.md

[2022-09-30 08:39] Aakcht opened #2520 "[Discussion] Using multiple volcano scheduler/admission/controllers"
#### What would you like to be added:

Possibility to use multiple volcano scheduler/admission/controllers .

#### Why is this needed:

Increases volcano high availability.

I'm not sure if it is supported now - I checked by manually increasing number of replicas for  volcano scheduler/admission/controllers and didn't notice any issues, but helm chart does not allow to specify component replicas.

[2022-10-01 00:15] #2166 closed

[2022-10-01 00:15] #1818 closed

[2022-10-01 00:15] #2180 closed

[2022-10-01 00:15] #2181 closed

[2022-10-01 00:15] #2183 closed

[2022-10-01 00:15] #1619 closed

[2022-10-01 00:15] #1836 closed

[2022-10-01 00:15] #691 closed

[2022-10-01 00:15] #1761 closed

[2022-10-01 00:15] #2192 closed

[2022-10-01 00:15] #1972 closed

[2022-10-01 00:15] #1462 closed

[2022-10-01 00:15] #1993 closed

[2022-10-01 00:15] #623 closed

[2022-10-01 00:15] #1925 closed

[2022-10-01 00:15] #2193 closed

[2022-10-10 03:38] hwdef commented on #2520
I think volcano already support high availability.

[2022-10-10 03:49] waiterQ opened #2524 "healthz enable https"
#### What would you like to be added:

enable https listen at health check listening.

#### Why is this needed:

offer security during health checks.

ref: #2523 ，apis changes [apis #91](https://github.com/volcano-sh/apis/pull/91)

[2022-10-10 07:07] Aakcht commented on #2520
@hwdef in this case I think it would be nice to have the possibility to configure the number of replicas for volcano components in helm chart. I might submit a PR for this later if no one minds.

[2022-10-10 09:05] chenyangxueHDU opened #2527 "Pod failed for OutOfCpu"
**What happened**:
scheduler log:
[code]

kubelet report OutOfCpu
![image](https://user-images.githubusercontent.com/19216928/194830818-9bd3950c-0469-4f19-9655-b7123fedca72.png)

**What you expected to happen**:
No OutOfCpu

**How to reproduce it (as minimally and precisely as possible)**:
[code]
node idle cpu is 108m

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kube

[2022-10-10 09:22] chenyangxueHDU commented on #2527
when node idle cpu is 98m, there is no problem.
[code]

[2022-10-10 11:00] kerthcet commented on #2394
A little confused here, we do added selector spread plugin(https://github.com/volcano-sh/volcano/issues/2500) but I can't find it in the code base or PRs removed this plugin. Can you give me a light? @william-wang

[2022-10-11 07:47] chenyangxueHDU commented on #2527
[code]
when diff is less than 10m (request 110m, idle 108m), it returns true.

[2022-10-11 08:20] nature1995 commented on #2387
+1

[2022-10-12 03:02] SoutherLea commented on #2321
same issue.
In my scenario, the low-priority job has only one pod, and I want the low-priority queue to be evicted for the portion that exceeds its weight. The minAvaliable of such tasks is 1, and in the current logic, such tasks cannot be reclaimed.

[2022-10-12 07:06] william-wang commented on #2527
Thanks for your report. @jinzhejz please help to take a look.

[2022-10-13 10:38] william-wang commented on #2498
@cauwulixuan Yes, currently the proportional in predicate plugin was a cluster-scope.  Namespace level is not supported.
There isn't this kind of requirement in the past. Would you like to contribute on this?

[2022-10-13 10:54] garimachhabra20 opened #2534 "Volcano scheduler executing jobs sequentially"
**What happened**: Volcano scheduler executing jobs sequentially

**What you expected to happen**: Expectation was that volcano scheduler would schedule pods of jobs for which resources are available and not wait for jobs (created earlier and are waiting for resources to become available) to complete.

**How to reproduce it (as minimally and precisely as possible)**:
1. Use training-operator in cl

[2022-10-13 11:45] #2501 closed

[2022-10-13 13:57] kerthcet opened #2535 "Nominate to join the volcano community"
Hi volcano folks, I'm a contributor currently working on batch processing, I'd like to join the volcano community for further contributions.

Following the [requirements](https://github.com/volcano-sh/volcano/blob/master/community-membership.md#member):
So far, I submitted [15 PRs](https://github.com/volcano-sh/volcano/pulls?q=is%3Apr+author%3Akerthcet), 14 merged.
Besides, I also help to review s

[2022-10-14 03:45] #2028 closed

[2022-10-14 03:45] #2111 closed

[2022-10-14 03:45] #2045 closed

[2022-10-14 03:45] #2212 closed

[2022-10-14 03:45] #1853 closed

[2022-10-14 03:45] #1534 closed

[2022-10-14 03:45] #2058 closed

[2022-10-14 03:45] #1748 closed

[2022-10-14 07:07] zishen opened #2538 "Is podgroup support nodeaffinity？"
#### What would you like to be added:
I want to define a CRD and generate a podgroup. Is there any way to schedule the pod to certain nodes? It is scheduled by volcano

#### Why is this needed:
The resource need to schedule the certain nodes， but assert this before pod generated.

[2022-10-16 16:38] hwdef commented on #2534
https://github.com/BoCloud/JobFlow

Is this what you need?

[2022-10-16 17:18] hwdef commented on #2519
I think this is necessary.

[2022-10-17 02:36] zishen commented on #2538
yes， I had see it. And how to config nodeaffinity in podgroup？selflink？

[2022-10-17 10:45] jiangkaihua opened #2539 "Scheduler plugin arguments failed to readin "1" as float64."
**What happened**:

When I set `overcommit ` plugin argument: `overcommit-factor` to '2' in configmap, like:

![configmap](https://user-images.githubusercontent.com/54176503/196157177-ec6f4fb6-5c11-4c71-8c3a-7b95b5530e16.PNG)

And then volcano scheduler threw out a warning, and my configuration did not take effect.

![scheduler-log](https://user-images.githubusercontent.com/54176503/196157250-b141

[2022-10-17 10:53] garimachhabra20 commented on #2534
No. That's not my requirement. What I have observed is that volcano executes in FIFO. Jobs that come first complete first. A Job when created waits for all resources to become available. While this job is waiting for resources, if another jobs gets created, the second job doesn't start before first job has finished.

[2022-10-18 08:31] #2539 closed

[2022-10-19 07:37] talcoh2x commented on #2337
Hi, there is something new  to update ?

[2022-10-19 07:41] talcoh2x commented on #2337
@zhypku  Hi, can you share with us the Volcano configuration you have and worked for you ? I mean the preemption flow

[2022-10-19 11:16] zhifanggao commented on #2496
new Pr https://github.com/volcano-sh/volcano/pull/2543

[2022-10-19 20:45] batazor commented on #2206
up

[2022-10-20 08:53] yuyue9284 opened #2544 "Clarify the behaviour of restartTask action."
#### What would you like to be added:
[code]
What is restartTask action's desired behaviour? For now it seems set action to this will fallback on the default behaviour, if we use the policy as above, one pod in tasks is failed/evicted, the task is not restarted, but the evicted pod will be recreated and the failed pod stay failed.

#### Why is this needed:

The action's name is confusing.

[2022-10-22 12:06] MichaelHuang88 opened #2546 "I must create a pod with multiple containers，but volcano don't support to limit each container gpu-memory."
apiVersion: v1
kind: Pod
metadata:
  name: gpu-pod
spec:
  schedulerName: volcano
  containers:
    - name: container1
      image: XXX/XXX
      resources:
        limits:
          volcano.sh/gpu-memory: 1024
    - name: containerN
      image: XXX/XXX
      resources:
        limits:
          volcano.sh/gpu-memory: 1024

https://github.com/volcano-sh/volcano/issues/1858

[2022-10-24 00:26] yiqin commented on #2379
I get the same error. How to resolve it?

[2022-10-24 02:47] jiangkaihua commented on #2546
Could you please give more details about the job & volcano configurations? It should work by using GPU-share features following [user guide](https://github.com/volcano-sh/volcano/blob/master/docs/user-guide/how_to_use_gpu_sharing.md#gpu-sharing-user-guide).

[2022-10-24 09:21] nkflash commented on #2232
/reopen

[2022-10-24 09:33] nkflash opened #2547 "high priority task cannot preemt low priority task"
https://github.com/volcano-sh/volcano/issues/2232 still exist

1) create one queue, with 3 GPU card in cap.(this is only one node in cluster which has 8 cards)
2) submit lower priority job which require 2 GPU cards, wait until job running
3) submit higher priority job which require 2 GPU cards,  expect high job running and lower job should evict

result: high priority job pod always pending

confi

[2022-10-25 08:05] #2524 closed

[2022-10-26 06:12] nkflash opened #2549 "Volcano hang on proportion session open"
branch: release-1.6
volcano config:
  volcano-scheduler.conf: |
    actions: "enqueue, reclaim, allocate, preempt, backfill"
    tiers:
    - plugins:
      - name: priority
      - name: gang
        enableJobStarving: false
        enableReclaimable: false
        enablePreemptable: false
      - name: conformance
    - plugins:
      - name: overcommit
      - name: drf
      - name: predicates

[2022-10-26 06:14] nkflash commented on #2549
/Thor-wl

[2022-10-26 06:15] nkflash commented on #2549
/assign @Thor-wl

[2022-10-26 06:16] nkflash commented on #2547
/assign @Thor-wl

[2022-10-26 06:33] william-wang commented on #2547
@nkflash I will work on this issue :)

[2022-10-26 06:34] william-wang commented on #2549
@jinzhejz Please take a look on this issue :)

[2022-10-26 09:38] jinzhejz commented on #2549
@nkflash could you share more detail about submitted jobs and the total resource of the cluster? I had a try quickly in my cluster but could not reproduce it.  Thanks a lot.

[2022-10-26 10:36] nkflash commented on #2549
like: total 3 nodes. Each node has 50G memory
Submit 3 low priority jobs, each job require 40G memory. Wait util them running
Submit 1 high priority job which require 40GG memory

[2022-10-27 03:30] jinzhejz commented on #2549
Thanks for the informations and I have reproduced this issue in my cluster.

[2022-10-28 01:59] hzxuzhonghu commented on #2535
big +1

[2022-10-28 06:28] chenyangxueHDU commented on #2527
@william-wang @jinzhejz

[2022-10-28 06:30] jinzhejz commented on #2527
@chenyangxueHDU I will take a look, thanks

[2022-10-28 06:34] nkflash opened #2554 "release 1.6 memory leak"
release: release-1.6

config like:
  volcano-scheduler.conf: |
    actions: "enqueue, reclaim, allocate, preempt, backfill"
    tiers:
    - plugins:
      - name: priority
      - name: gang
        enableJobStarving: false
        enableReclaimable: false
        enablePreemptable: false
      - name: conformance
    - plugins:
      - name: overcommit
      - name: drf
      - name: predicates

[2022-10-28 06:45] nkflash commented on #2554
/assign @william-wang

[2022-10-28 07:27] jinzhejz commented on #2547
hi @nkflash, which version do you use? After PR https://github.com/volcano-sh/volcano/pull/2105, pod could not be preempted by default and need to add annotation `volcano.sh/preemptable=true` to pod to enable preemption.

[2022-10-28 10:19] hwdef commented on #2554
Encounter the same problem. Additional Information:

<img width="1310" alt="image" src="https://user-images.githubusercontent.com/13084946/198564318-fc879258-7b36-4a1f-ab16-638a390e7f46.png">

[2022-10-29 07:25] jinzhejz commented on #2554
Looks like it is caused by volumebinding plugin

[code]

[2022-10-29 07:45] elinx commented on #2554
it's related to the `volumebinding` plugin, this plugin crated a binder which creates two caches and never release them.

[2022-10-29 09:40] jinzhejz commented on #2534
hi @garimachhabra20, some pods of pytorch-simple3 and pytorch-simple4 could not be created by pytorchjob controller at the same time due to resource quota, please increase the resource quota  so that all pods can be created.

pytorch-simple2
[code]

pytorch-simple3
[code]

pytorch-simple4
[code]

[2022-10-29 10:24] #1586 closed

[2022-10-29 10:25] #2221 closed

[2022-10-29 10:25] #2223 closed

[2022-10-31 01:07] nkflash commented on #2547
I already set volcano.sh/preemptable=true to enable preemption

[2022-10-31 01:14] nkflash commented on #2321
One work around:
- name: gang
enableJobStarving: false
enableReclaimable: false
enablePreemptable: false

[2022-10-31 04:29] MichaelHuang88 commented on #2546
You can more info in https://github.com/volcano-sh/volcano/issues/1858。
Vocalno grammer only support one container‘s gpu-memory limit in one pod， others containers  with no gpu-memory limit in one pod， fail to start，because https://www.yuque.com/huanglihui-vm12i/svx5ff/gzbnci

[2022-10-31 08:57] elinx commented on #2322
This feature highly depends on the feature of `klog` to change the verbosity of the log level on the fly, but in the current implementation `klog` does not provide any configurable API and the maintainer looks very hesitant about adding a new API:

kubernetes/klog#336
kubernetes/klog#340

[2022-10-31 09:09] shmily0000 commented on #2547
@nkflash Hello friend, I also ran into this problem. Can you give an example of the vcjob you added.

[2022-10-31 11:46] JgardemeRelex opened #2558 "PodGroup isn't triggering scaling up in Kubernetes, when using Cluster Autoscaler"
**What happened**:
PodGroup which isn't fitting to the current resource capacity of Kubernetes won't trigger scale-up for node pool, even if Cluster Autoscaler is enabled in Kubernetes.
**What you expected to happen**:
I except that Kubernetes Cluster Autoscaler will detect the increased workload, and then trigger the scaling up.
**How to reproduce it (as minimally and precisely as possible)**:
Ap

[2022-10-31 23:00] d4l3k commented on #691
@Thor-wl are there any plans to improve this?

[2022-11-01 01:42] nkflash commented on #2547
See below comment

[2022-11-01 02:12] shmily0000 commented on #2547
@nkflash OK, thank you brother, but the vcjob I tested myself still doesn't seem to work. The scheduler uses your configuration, the node is 8cpu, and the following is my configuration, which seems to be consistent with the po template you provided. I'm a bit troubled here. Can you help me to check whether the configuration is wrong
low priority job：
apiVersion: batch.volcano.sh/v1alpha1
kind: Job

[2022-11-01 02:29] nkflash commented on #2547
need config scheduler like:
actions: "enqueue, reclaim, allocate, preempt, backfill"
tiers:
- plugins:
- name: priority
- name: gang
enableJobStarving: false
- name: conformance
- plugins:
- name: overcommit
- name: drf
- name: predicates
- name: proportion
enableJobEnqueued: false
- name: nodeorder
- name: binpack

[2022-11-01 02:41] shmily0000 commented on #2547
@nkflash OK, my friend, but it seems that the configuration of these two arguments still does not take effect
apiVersion: v1
data:
  volcano-scheduler.conf: |
    actions: "enqueue, reclaim, allocate, preempt, backfill"
    tiers:
    - plugins:
      - name: priority
      - name: gang
        enableJobStarving: false
        enableReclaimable: false
        enablePreemptable: false
      - name:

[2022-11-01 02:48] nkflash commented on #2547
It due to this bug. For current code, only low priority job occupy resources more then queue weight, then high job could preempt low job.

[2022-11-01 02:55] shmily0000 commented on #2547
@nkflash OK, my friend, that means that if the weight of the two queues is 1 and there are 8 CPUs in total, the low priority jobs occupy more than 4 CPUs. Can I create a high priority job to preempt? Let me try

[2022-11-01 02:55] nkflash commented on #2547
yes

[2022-11-01 03:21] shmily0000 commented on #2547
@nkflash Thank you very much, my friend. It's OK to try this just now, but under this configuration (the weight of the 8 cpu queue is one-to-one), the first five 1 cpus are running a high priority 3 cpus, and the high priority will suspend the fifth job. If you run a job in another queue later, will your recycle there take effect. I tried this. It seems that the job is still running and will not r

[2022-11-01 03:24] nkflash commented on #2547
sure, it will take effect(you need config reclaimable: true in each queue)

[2022-11-01 03:33] shmily0000 commented on #2547
@nkflash OK,thank you， my friend, this recyclable file is enabled in the queue. The configuration is the same as the previous configuration, but it is not really recycled. It seems that the previous volcano document only needs to configure this and recycling action. Here are my two queues.

apiVersion: scheduling.volcano.sh/v1beta1
kind: Queue
metadata:
  annotations:
    kubectl.kubernetes.io/las

[2022-11-01 03:38] nkflash commented on #2547
Not sure which part is incorrect, the same conf work on my env....
Maybe another bug...

[2022-11-01 04:59] zhiyxu opened #2560 "Job should not fail when evicted in preemption even reaches the RetryCount"
**What happened**:
The current recommended policy of volcanoJob is as follows. If the Pod is evicted or fails, the entire Job can be restarted, and the number of `RetryCount` is increased by one.

[code]

But in fact, when a Pod is evicted, it should not occupy the number of retries, e.g a low-priority Pod is evicted by a high-priority Pod. In this scenario, the expectation behavior is to restart

[2022-11-01 05:42] shmily0000 commented on #2547
@nkflash OK, friend, I'll go to see if there are other solutions for this. Thank you very much

[2022-11-01 05:59] shmily0000 commented on #2547
@nkflash hi，friend,
Just now, I tried to reclaim. There was a 3cpu and a 2cpu job in the default queue with a weight of one to one, so one queue was 4CPU, and the other queue was 2CPU. After the recycle was triggered, all the jobs in the original default queue were pending. I felt a little strange. I should not recycle one. In addition, after a period of time, the vcjob that executes the recycle a

[2022-11-01 07:49] chenyangxueHDU commented on #2527
sorry, the master branch is ok

[2022-11-01 07:49] #2527 closed

[2022-11-02 10:50] jinzhejz commented on #2547
@nkflash I will work on this issue, thanks

[2022-11-02 11:13] RamezesDong commented on #2262
@william-wang
Hello! I wonder if it has more progress in this feature. We need a feature about priority between queues, which can allow the new job in a higher priority queue to preempt(meaning kill now) other queues' jobs with lower priority. I think global job priority is something similar to queue priority.

[2022-11-03 02:09] zishen commented on #2498
ResourceQuota action in namespace before schedulered，good and necessary.

[2022-11-03 13:46] yuyue9284 opened #2564 "GPU Resource Are Not Taken into Account in Enqueue Action"
**What happened**:
Job with insufficient GPU resource get enqueued and pods get created.

**What you expected to happen**:
The job should be rejected in the enqueue action.

**How to reproduce it (as minimally and precisely as possible)**:

Create job with this spec:
[code]

**Anything else we need to know?**:
The extended resource original format are not keeped and only `requests.nvidia.com/gpu`

[2022-11-03 13:51] yuyue9284 commented on #2564
This may affect all the scalar resources when deriving from `PodGroup.Spec.MinResources`

[2022-11-04 03:40] william-wang commented on #2547
@jinzhejz any update on this?

[2022-11-04 03:41] #2485 closed

[2022-11-04 03:42] #2479 closed

[2022-11-04 04:52] nature1995 commented on #2364
+1

[2022-11-04 04:53] nature1995 commented on #2364
1 scheduler.go:90] scheduler completes Initialization and start to runI1104 11:24:37.075546       1 cache.go:1106] There are <60> Jobs, <13> Queues and <8> Nodes in total for scheduling.I1104 11:24:37.075651       1 session.go:180] Open Session bfaace37-87cd-4971-963b-68512dc29ac4 with <60> Job and <13> QueuesE1104 11:24:37.079331       1 runtime.go:76] Observed a panic: resource is not sufficient

[2022-11-04 04:54] nature1995 commented on #2558
+1

[2022-11-04 04:58] william-wang commented on #2558
@JgardemeRelex Would you clarify this case more detail? We can have an investigation.
As far as I know, currently, there two features are not working with cluster autoscaler. They are `the  pod delay creation` and `gang`.

[2022-11-04 06:44] Wennn commented on #2558
We have met a similar issue, I created a job with 3 pods, and it should trigger the cluster to scale up three more nodes. We have set the overcommit factor to a large number, so the pods can be created when using the `gang` plugin. From the events, auto scaler is only triggered by one of the pods, so at last only one node are created, the job is still stuck at pending and not triggering more nodes

[2022-11-04 07:31] JgardemeRelex commented on #2558
My issue is also related to the `gang` plugin. In my case, PodGroup or pods aren't triggering scale up at all with Cluster Autoscaler. I created gang job with 3 pods, and 2 of them are fitted into the current node pools, but the third one isn't. Here is the PodGroup yaml, what it looks like in the Kubernetes:
`
Name:         azureml-dev-78c8878c58fb623e0c3bf0ccfa3cc834
Namespace:    azureml-dev
La

[2022-11-04 07:43] liblikewhen commented on #2364
您好！
    这里沟通实时性比较差，方便加个微信吗？我的微信号：15210945863

At 2022-11-04 12:53:17, "Ziran Gong" ***@***.***> wrote:

1 scheduler.go:90] scheduler completes Initialization and start to runI1104 11:24:37.075546 1 cache.go:1106] There are <60> Jobs, <13> Queues and <8> Nodes in total for scheduling.I1104 11:24:37.075651 1 session.go:180] Open Session bfaace37-87cd-4971-963b-68512dc29ac4 with <60> Job and <13> Que

[2022-11-07 01:05] nkflash commented on #2554
I test release-1.6 head, the problem disappeared

[2022-11-07 01:07] #2554 closed

[2022-11-07 02:42] SoutherLea commented on #2321
I modified the logic by referring to the gang logic of kube-bath.
[https://github.com/kubernetes-sigs/kube-batch/blob/86b2ba217ad76340221fdc9b4ec16f3209dbff7e/pkg/scheduler/plugins/gang/gang.go](url)

[code]

[2022-11-07 03:11] SoutherLea opened #2565 "Config cluster queue‘s TotalResource by administrator"
#### What would you like to be added:

Config cluster queue‘s TotalResource by administrator. So that admin can  change TotalResource objects by node labels or annotations under special situations.

example：

[code]

#### Why is this needed:

1. If node in cluster was tainted NoSchedule, the actual resources available for scheduling are less than the total resources. Problems may happend when the

[2022-11-07 12:55] RamezesDong opened #2566 "Need an enable switch for Overused and Allocatable"
#### What would you like to be added:
I need an enable switch for Overused and Allocatable, just like this:
[code]
#### Why is this needed:
I need to use reclaim action, but unfortunately, the `Overused` function of proportion prevent queues from reclaiming resource. I need a new config map supporting Enable Switch for Overused. By the way, the switch of Allocatable can be added at the same time.

[2022-11-08 03:17] zhixian82 opened #2567 "What's the timeline for release v1.6.1"

[2022-11-11 05:06] william-wang commented on #2566
@RamezesDong What do you mean by `the Overused function of proportion prevent queues from reclaiming resource.`, Would you like to describe more detail?

[2022-11-11 06:08] william-wang commented on #2565
@SoutherLea Please take a look at nodegroup feature which allows you to group a set of node with label together.
https://github.com/volcano-sh/volcano/blob/master/docs/design/node-group.md

[2022-11-11 06:24] william-wang commented on #2567
We are going to release v1.7.0 around 20th Nov.

[2022-11-11 06:52] william-wang commented on #2558
@JgardemeRelex What is your autoscaler configuration like? In your case, there are already 3 pending pod. It's strange that no node was scaled out.

[2022-11-11 07:39] JgardemeRelex commented on #2558
@william-wang Here is the cluster autoscaler profile settings from AKS:
`
autoScalerProfile": {
    "balance-similar-node-groups": "false",
    "expander": "random",
    "max-empty-bulk-delete": "10",
    "max-graceful-termination-sec": "600",
    "max-node-provision-time": "15m",
    "max-total-unready-percentage": "45",
    "new-pod-scale-up-delay": "0s",
    "ok-total-unready-count": "3",
    "

[2022-11-11 07:41] JgardemeRelex commented on #2558
Idea was to help you to understand my issue, and if you see something from yaml. I can remove the it if needed.

[2022-11-11 11:31] RamezesDong commented on #2566
We develop a new plugin that shares resources within multiple queues and maximizes the cluster's utilization, just like proportion does. We want the new plugin to be compatible with proportion, but the `Overused` function will prevent the
higher-priority queue to reclaim more resources used by a low-priority queue. So, I decide to make `OverusedFunc` of proportion un-enable, but I can't find `enab

[2022-11-11 11:39] RamezesDong commented on #2566
Why we develop the new plugin is that there has no priority queue or global priority for jobs, leading to some urgent jobs cannot get resources immediately. In addition, the **deserved** resources concept in the proportion plugin is confusing and hard to calculate. I need more docs about proportion or more clear calculation method.

[2022-11-12 09:09] #2291 closed

[2022-11-12 09:09] #2244 closed

[2022-11-12 09:09] #2070 closed

[2022-11-12 09:09] #1661 closed

[2022-11-12 09:09] #1876 closed

[2022-11-12 09:09] #2210 closed

[2022-11-12 09:09] #2238 closed

[2022-11-12 09:09] #2211 closed

[2022-11-12 09:09] #2024 closed

[2022-11-12 09:09] #2264 closed

[2022-11-12 09:09] #2252 closed

[2022-11-12 09:09] #2256 closed

[2022-11-12 09:09] #2277 closed

[2022-11-12 09:09] #2281 closed

[2022-11-12 09:09] #2246 closed

[2022-11-12 09:09] #2283 closed

[2022-11-12 09:09] #2044 closed

[2022-11-12 09:09] #2278 closed

[2022-11-12 09:10] #2285 closed

[2022-11-13 11:18] hwdef commented on #2278
Does this problem still exist?

[2022-11-13 11:18] hwdef commented on #2278
Please try version 1.17 which will be released on 11.19

[2022-11-13 15:43] hwdef commented on #2285
@william-wang Please reopen this issue

[2022-11-13 15:47] hwdef opened #2569 "recommend: Remove bot that checks issue and PR for staleness."
Problems don't go away automatically, and I think we close too many pending problems.
@william-wang @jiangkaihua @shinytang6

[2022-11-14 14:22] aarushisoni commented on #2565
hi! I would like to contribute to this issue. Please guide me through the process.

[2022-11-14 14:25] gitsan13 commented on #2560
Hi!
Will you be accepting a PR request for this?
I would like to fix this bug.

[2022-11-14 14:26] aarushisoni commented on #2546
Hi ! I would like to contribute to this issue. Kindly guide me through the process.

[2022-11-15 12:31] RamezesDong commented on #2564
I had met the same problem. The `IsExtendedResourceName` function blocks the gpu resource converted to a scalar resource.

[2022-11-16 08:13] liz1989 commented on #1458
still no cronjob. Do I need to use "batch/v1beta1" CronJob？If so, does gang scheduler work?

[2022-11-16 12:40] JgardemeRelex commented on #2558
Thank you @wangyang0616! When I removed manually the gang plugin from Volcano scheduler config map, it worked! This same thing will be problem for other people in the future, since Microsoft is using gang plugin as default with their batch jobs in AKS.

[2022-11-17 11:01] zbbkeepgoing commented on #2364
#2570

[2022-11-18 06:05] william-wang commented on #2569
It make sense, Let me try whether we can change to a longer time for staleness.

[2022-11-18 06:42] jiangkaihua opened #2571 "Add `allocated` field in queue status to indicate allocated resources of queue."
#### What would you like to be added:
- a new filed in `queue.status` called `allocated`, which indicated already allocated resources in a queue, like:

[code]

#### Why is this needed:

- In our scenario, volcano queue was involved in to split manage cluster resources. We configure `Capability` field to restrict the upper limit of each queue, a hard restriction according to which we cloud calcula

[2022-11-18 06:59] RamezesDong commented on #2566
I think queue priorities are very helpful for my scheduling case. We want to maximize the use of GPU resources and ensure the more important queue job get the resources first. I will join the weekly meeting to get more information. Thank you !

[2022-11-18 08:21] gll963 commented on #2546
![image](https://user-images.githubusercontent.com/64561461/202654539-e3ac97c9-e992-49bb-84c5-74c3437cee47.png)
一个Pod设置多个
resources:
        limits:
          volcano.sh/gpu-memory: 1024

[2022-11-22 07:43] YuxiJin-tobeyjin commented on #2567
+1

Looking forward to trying out the new version

[2022-11-22 20:47] Trainbow commented on #2456
已收到，谢谢！

[2022-11-23 03:14] hwdef commented on #2546
I will try to reproduce and fix this issue
/assign

[2022-11-23 03:36] gj199575 commented on #2560
sure ,you can . I am the committer of volcano .

[2022-11-24 01:35] shmily0000 opened #2576 "About that the pod on the node is dispatched through volcano and then out of the cpu"
In the vgpu node environment, the vgpu is not used for scheduling the cpu and memory through volcano. When the resources are insufficient, volcano will successfully schedule the po on the node, but it will immediately schedule the insufficient resources through k8s to display outofcopu. The pod is not displayed as pending only through volcano

volcano：1.6.0
K8s version: 1.23/1.23

Can you give me

[2022-11-25 02:17] shmily0000 commented on #2576
@wangyang0616 No, it's not the same problem.although I use the gpu node, which is set to the vgpu form, I do not request the related resources of the gpu, but only the cpu and memory. The actual resources are insufficient. Volcano will let it match the node, and then the K8S will be directly re scheduled to outofcopu

[2022-11-25 06:44] cubxxw opened #2578 "【function】Request a new feature suggestion"
I know volcano is based on kubernetes, but I'm curious if it supports the lighter k3s. I'd like to be able to build it on top of k3s, but there's no good solution🎉 @holdenk

[2022-11-25 16:42] hwdef commented on #2578
Doesn't it work on k3s now?

[2022-11-26 01:43] william-wang opened #2579 "enhance gpu scheduling to support multiple pods/containers with the same ammount of request"
#### What would you like to be added:
Add a mechanism to handle the high concurrent gpu pod scheduling

#### Why is this needed:
The device plugin can not distinguish which pod the container belongs to via the `Allocate` from kubelet and match it with scheduler decision correctly in between two cases.
1. There are multiple pods with the same gpu request on the same node waiting for allocation from

[2022-11-26 01:51] william-wang commented on #2578
@cubxxw You can have a try, Volcano should support k3s right now idealy. If anything working wrong on k3s, please file issue here :)

[2022-11-26 01:55] william-wang commented on #2576
@shmily0000 please provide the job yarml file and volcano-scheduler-cofigmap so that we can have a reproduce:)

[2022-11-26 23:55] #2067 closed

[2022-11-26 23:55] #2306 closed

[2022-11-26 23:55] #2305 closed

[2022-11-26 23:56] #2039 closed

[2022-11-26 23:56] #2304 closed

[2022-11-26 23:57] #2310 closed

[2022-11-26 23:58] #1960 closed

[2022-11-26 23:58] #1945 closed

[2022-11-26 23:59] #1749 closed

[2022-11-26 23:59] #2286 closed

[2022-11-26 23:59] #2300 closed

[2022-11-29 02:52] Ddingtt opened #2582 "Why addmission webhook does not have HA?"
#### What would you like to be added:

#### Why is this needed:

[2022-11-29 03:04] elinx opened #2583 "scheduling performance drop with a large amount of pods existing"
**What happened**:
deploying 3k pods in a cluster with 8k existing pods costs much more time than in an empty cluster, like a 40% performance drop.

**What you expected to happen**:
same scheduling time or less than a 5% performance drop.

**How to reproduce it (as minimally and precisely as possible)**:
1. deploy 8k pods in a cluster
2. deploy another 3k pods
3. statistics the scheduling time

**

[2022-11-29 06:37] nkflash commented on #2547
Do you use my config?
name: gang
enableJobStarving: false
enableReclaimable: false
enablePreemptable: false

name: proportion
enableJobEnqueued: false

For noe  only low priority job occupy resources more than queue weight, then high job could preempt low job.
If the low priority job used resource lower than weight, the high priority job submit to cluster can not schedule(preempt lower job), due t

[2022-11-29 06:52] #2583 closed

[2022-11-29 13:05] RamezesDong opened #2585 "Add Event Handler for RS to GC Podgroup. New Solution to Fix Issue 2143"
#### What would you like to be added:
For issue #2143  when deployment update, it will create new replicaset and volcano controller will create new podgroup for replicaset. After several times update, the Deployment has many Inqueue podgroups.  A new solution that is different from [Enhance Generate PodGroup OwnerReferences for Normal Pod](https://github.com/volcano-sh/volcano/blob/master/docs/des

[2022-11-30 12:08] git-yww commented on #1289
Is this problem solved? @Thor-wl