[2019-03-15 03:49] k82cn opened #4 "Add tutorial & README"
We need to update tutorial & README accordingly for volcano.

[2019-03-15 14:22] k82cn opened #7 "Setup travis as CI env"
For now, found the follow two issues here:

- [x] no `hack/verify-gofmt.sh` for `make verify`
- [ ] both `e2e-test` and `e2e-test-kind` miss scripts

[2019-03-16 04:38] k82cn opened #12 "Delay pod creation"
We already have a design doc of kube-batch at https://github.com/kubernetes-sigs/kube-batch/issues/539 . Job controller need to create pod according to scheduler's feedback.

[2019-03-16 04:54] k82cn opened #13 "Resource Reservation to avoid starvation"
**Description**:

When batch jobs have to compete with each others or elastic jobs for resources, the resources that become available are likely to be taken immediately by elastic job. Batch jobs need multiple resources to be available before they can be dispatched. If the cluster is always busy, a large batch job could be pending indefinitely. The more processors a parallel job requires, the wors

[2019-03-16 05:16] k82cn opened #14 "Support Job plugins"
Both MPI and Tensorflow need hostfile for its workers; and MPI job need more, e.g. ssh authentication. It's better to provide related plugins for different works.

The yaml file maybe similar as follow:

[code]

For example, if `ssh` is enabled, job controller should create related rsa public/private keys and mount them for ssh.

[2019-03-16 05:21] k82cn opened #15 "Enable robot for Volcano"
Currently, we still merge code manually; it's better to have robot for it. We can leverage robot from other community, e.g. Kubernetes.

[2019-03-16 06:24] k82cn opened #16 "Queue controller and related cli"
Currently, user can only create a Queue for scheduling; but it's hard to know more info about it, e.g. how many job in the queue, which plugins is used by this queue; and if the Queue is deleted, the job is still there :( It's better to have QueueController to mamange Queue's lifecycle and update its status; and have related command line for uset to get its info.

[2019-03-19 06:07] k82cn opened #26 "Support TaskSpec level error handling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we only support Job level and Task instance level error handling; TaskSpec level error handling is also necessary, e.g. the MPI job should be completed when `mpirun` Pod completed successfully.

[2019-03-19 09:55] asifdxtreme opened #27 "CI Build Failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There is Travis Build CI Failure https://travis-ci.com/volcano-sh/volcano/jobs/185932518

[2019-03-20 09:12] thandayuthapani opened #30 "Update Imports"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I see imports used in files with format "volcano.sh/volcano/XXX/XXX/XXX"

**What you expected to happen**:
It should of the format "github.com/volcano-sh/volcano/XXX/XXX/XXX"

![Screenshot from 2019-03-20 14-40-08](https://user-images.githubusercontent.com/34565833/54672491-3150ed00-4b1e-11e9-883a-4c61b2b14110.png)

[2019-03-20 09:18] TommyLike opened #31 "Add e2e test for admission service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind test

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- master

[2019-03-20 10:15] #30 closed, assigned to nobody

[2019-03-21 03:31] TommyLike opened #32 "Fix Failing testcases"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Part of the testcases are failing: https://travis-ci.com/volcano-sh/volcano/jobs/186568285

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

For PR #28

[2019-03-21 08:32] #27 closed, assigned to nobody

[2019-03-21 09:15] asifdxtreme opened #35 "Deleting helm chart exits with error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

While deleting helm chart we get an error and all crds still exist.

[code]
because of which for deploying it next time we need to delete all crd's and then deploy again

**What you expected to happen**:
Delete helm chart should exit properly

[2019-03-23 01:48] k82cn opened #40 "Support Task/Job retry"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Support task/job retry; if it's still failed after try count, mark as `Failed`.

[2019-03-23 01:54] k82cn opened #41 "Support ScheduledJob/CronJob"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Scheduled job is an common requirement for high performance workload.

[2019-03-24 01:22] k82cn opened #42 "Add example on MPI Job"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Add an example on how to run MPI job :)

[2019-03-25 02:59] k82cn opened #43 "Move job/cache job/apis to upper dir"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**Description**:

We may `Queue` which will reuse `job/cache` & `JobInfo`.

[2019-03-28 01:22] k82cn opened #49 "Reclaim CI failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Queue E2E teat failed as follow, it seems there're not enough resource for recliam e2e test.

[code]

refer to https://travis-ci.com/volcano-sh/volcano/jobs/188302297 for more detail :)

[2019-03-30 06:00] #42 closed, assigned to nobody

[2019-03-31 07:14] #7 closed, assigned to nobody

[2019-03-31 07:15] #14 closed, assigned to nobody

[2019-03-31 07:20] #32 closed, assigned to nobody

[2019-04-01 03:36] TommyLike opened #54 "Unable get csr when building test cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Error log:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Ker

[2019-04-01 03:41] #31 closed, assigned to nobody

[2019-04-01 07:54] #54 closed, assigned to nobody

[2019-04-01 09:33] k82cn opened #55 "Add error handling for exit code"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Got this requirements from a user, it's better to support error handling for exit code.

[2019-04-01 09:37] k82cn opened #56 "Add event on actions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we only record event for `Command`s; it's better to also record an event for each actions of jobs.

[2019-04-02 08:51] hzxuzhonghu opened #58 "Job deletion handler should consider `DeletedFinalStateUnknown`"
in case delete event miss, there is a risk for memory leak

[2019-04-03 12:14] hzxuzhonghu opened #62 "Labels key can not contain '/'"
https://github.com/volcano-sh/volcano/blob/3632d360abe71c8c73f31ead331d393a9d56e732/pkg/controllers/job/job_controller_util.go#L153-L154

It looks this label is used for service,  also I am not sure what is job service for.

[2019-04-03 12:21] hzxuzhonghu opened #63 "make mutating and validating admission controllers consistent"
[code]

If user not specify the task names of a job, `default` will be used in mutating stage, but the validating admission controller will reject the Job creation because of duplicate task names.

[2019-04-04 01:35] #62 closed, assigned to nobody

[2019-04-04 07:50] asifdxtreme opened #67 "Prepare 0.1 Release"
- [x] Make Release branch
- [x] Run the test
- [x] Release Notes ( may be not required as this is the first release)
- [x] Make and push docker images to https://hub.docker.com/u/volcanosh
- [x] Publish Release in Github Releases

[2019-04-04 08:06] #49 closed, assigned to nobody

[2019-04-04 08:16] hzxuzhonghu opened #68 "How do we support Job.Spec update"
I noticed we want to support Job.Spec update in `Controller.updateJob`

But the generated request is
[code]
But in syncJob
if no pods provided in request, it will create new pods for the Job, and so it will fail, and the following status is unknown.

btw, I am not very familiar with the entire state machine , and maybe i miss something.

[2019-04-04 11:57] k82cn opened #69 "Makefile cleanup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**Description**:

- [ ] `release` is almost equal to `all`
- [ ] `docker` target should be `images`
- [ ] build info is necessary
- [ ] can not build release from MacOS or other platform

[2019-04-07 03:36] k82cn opened #71 "Update mpi example to use hostfile"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

It's better to use `--hostfile` for mpi job instead of parsing it to string:

[code]

xref https://www.open-mpi.org/doc/v3.1/man1/mpirun.1.php

[2019-04-07 03:41] k82cn opened #72 "The docker image name should align with binaries'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**Description**:

In Makefile, our binaries are vk-controller, vk-scheduler and so on; but the docker image is `volcanosh/volcano-scheduler`. It's better to make them align with each other to avoid confusion.

/cc @asifdxtreme

[2019-04-08 05:59] TommyLike opened #77 "Support printing version for binaries"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

[2019-04-08 09:44] #35 closed, assigned to nobody

[2019-04-08 09:50] #72 closed, assigned to nobody

[2019-04-08 12:17] k82cn opened #82 "Job GC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Make sure "completed" & "terminated" jobs will be removed later.

[2019-04-09 03:40] #63 closed, assigned to nobody

[2019-04-09 03:41] #68 closed, assigned to nobody

[2019-04-09 06:06] #43 closed, assigned to nobody

[2019-04-09 06:06] #71 closed, assigned to nobody

[2019-04-09 06:12] TommyLike opened #84 "Speed up E2E tests"
/kind bug

Currently, Travis would spend almost 26 minutes to finish e2e tests, need to figure it out how to speed up these tests.
[code]
[code]

[2019-04-09 06:13] #69 closed, assigned to nobody

[2019-04-18 06:24] #55 closed

[2019-04-18 07:41] hzxuzhonghu opened #93 "Allow multi sync job works run in parallel"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

Currently, there is only one goroutine worker syncing jobs. For large scale jobs, this will be a bottle neck.

[2019-04-26 05:45] volcano-sh-bot opened #102 "Make OWNERS file for Volcano"
This OWNERS file mandatory for bot

[2019-04-26 06:17] k82cn commented on #102
fixed by https://github.com/volcano-sh/volcano/pull/103

[2019-04-26 12:10] k82cn opened #105 "Makefile cleanup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

It's better to support following targets in Makefile:

1. `make`: only make related binaries, e.g. controller, scheduler
1. `make images`: build related docker images
1. `make e2e-test-kind`: run e2e test with kind
1. `make unit-test`: run unit test
1. `make integration-test`: run integration test

[2019-04-26 12:25] k82cn commented on #105
/cc @asifdxtreme @TommyLike

[2019-04-26 12:26] k82cn commented on #105
/kind bug
/priority high

[2019-04-27 08:51] k82cn commented on #82
/kind feature

[2019-04-27 09:37] k82cn commented on #77
/kind feature

[2019-04-27 09:37] k82cn commented on #77
@TommyLike , please continue your work here.

[2019-04-27 09:38] k82cn commented on #58
is that fixed?

[2019-04-28 06:17] TommyLike commented on #105
/assign

[2019-04-28 06:17] TommyLike commented on #105
/tell me why not working

[2019-04-28 06:32] TommyLike opened #108 "Resolve the golint issues"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Resolve all the golint issues ignored in the file of `.golint_failures`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware co

[2019-04-28 06:45] k82cn commented on #105
xref https://github.com/volcano-sh/volcano/pull/106

[2019-04-28 06:46] TommyLike commented on #108
/priority low

[2019-04-28 06:51] TommyLike opened #109 "Sync kubemark patches into volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

There are two patches in kube-batch which are introducing kubemark into kube-batch, we need sync them into volcano as well.
1. https://github.com/kubernetes-sigs/kube-batch/pull/817
2. https://github.com/kubernetes-sigs/kube-batch/pull/810

Have to mention that the testcase should be **upgraded** since we don't the original kubernete Jo

[2019-04-28 06:52] TommyLike commented on #109
/priority low

[2019-04-28 06:52] TommyLike commented on #109
@asifdxtreme   would you please help on this?
/cc @k82cn

[2019-04-28 06:52] k82cn commented on #105
@TommyLike , would you help to check why #106 CI was failed? It seems admission controller is not enabled :(

[2019-04-28 06:54] TommyLike commented on #105
@k82cn  sure.

[2019-04-28 07:03] TommyLike commented on #105
@k82cn  it's failed once the helm plugin failed to approve csr via command `kubectl certificate approve`, see log:
[code]
I didn't look deep into it, but it should varies depends on how faster when the cluster gets ready, and last time when I met it, I just increased the waiting time, would you please have a retry ?

[2019-04-28 09:06] k82cn commented on #82
/assign @hzxuzhonghu

[2019-04-28 09:08] k82cn commented on #102
Fixed

[2019-04-28 09:08] #102 closed

[2019-04-28 09:11] k82cn commented on #40
/kind feature

[2019-04-28 09:12] k82cn commented on #109
/kind feature

[2019-04-28 09:14] TommyLike commented on #109
@k82cn  do we still need this now as we already forked the kube-batch into volcano org?

[2019-04-28 09:15] k82cn commented on #67
/assign asifdxtreme

[2019-04-28 09:18] k82cn commented on #109
oh, it's not necessary; but we need to run it in each release against `kube-batch:volcano-master` branch.

[2019-04-28 09:48] #109 closed

[2019-04-28 09:56] TommyLike opened #112 "Sync codes from CodeClub"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

[2019-04-28 09:56] TommyLike commented on #112
/assign

[2019-04-28 09:57] TommyLike commented on #112
/priority high

[2019-04-28 10:00] TommyLike commented on #105
Fixed  #106

[2019-04-28 10:00] #105 closed

[2019-04-29 07:45] k82cn commented on #15
@asifdxtreme , please also help to enable bot at http://github.com/volcano-sh/kube-batch

[2019-04-29 09:20] k82cn opened #114 "Update kube-batch dependency to master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**Description**:

We'd like to dependent on [volcano-sh/kube-batch](http://github.com/volcano-sh/kube-batch) master branch, and use upstream-master branch for kuberentes-sigs/kube-batch.

Sorry for the inconvenient :)

[2019-04-29 09:21] k82cn commented on #114
/priority high

[2019-04-29 09:29] TommyLike commented on #114
I refuse to handle this today :)

[2019-04-29 10:06] k82cn commented on #41
/kind feature

[2019-04-29 10:07] k82cn commented on #16
/assign @hzxuzhonghu

[2019-04-29 12:41] k82cn commented on #114
that's ok to me :)

[2019-04-29 13:33] #114 closed

[2019-04-30 14:02] k82cn opened #117 "MaxResource of Queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Support MaxResource of queue by admission controller & queue controller.

xref https://github.com/kubernetes-sigs/kube-batch/issues/452

- [ ] Update `Queue` API (https://github.com/volcano-sh/volcano/issues/131)
- [ ] Added QueueController (https://github.com/volcano-sh/volcano/issues/16)
- [ ] ~~Added Queue admission

[2019-04-30 23:43] k82cn commented on #112
/close

Done

[2019-05-01 12:53] #112 closed

[2019-05-03 10:35] k82cn commented on #117
/kind feature
/priority high

[2019-05-04 03:00] k82cn opened #118 "Set default value of PodGroup in admission controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, the default value of PodGroup is set by operator/customized-controller which is inconvenience for developer. It's better to set those default value to PodGroup for all users/developers.

[2019-05-04 03:00] k82cn commented on #118
/kind feature

[2019-05-04 03:00] k82cn commented on #118
/priority high

[2019-05-04 03:03] k82cn commented on #118
/assign @TommyLike

[2019-05-04 03:04] k82cn commented on #67
/assign @asifdxtreme

[2019-05-04 03:06] k82cn commented on #67
@asifdxtreme , we're going to have first release at May 12; please help to make sure all items of milestone v0.1 is done and follow the related process to release it.

[2019-05-04 03:07] k82cn commented on #118
xref https://github.com/kubernetes-sigs/kube-batch/issues/663

[2019-05-04 06:54] k82cn opened #120 "11 tests are failed in CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:
 There're  11 tests in CI were failed, we need to get it fixed ASAP before release.

[code]

xref https://travis-ci.com/volcano-sh/volcano/jobs/197649052

[2019-05-04 06:55] k82cn commented on #120
/kind bug
/priority high

[2019-05-05 01:20] TommyLike opened #121 "Fix state machine issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

New state of enqueue has been introduced, but it's unfinished, need keep working on this and fix related testcase issues.

**NOTES**: There are some testcases are expected to have job status: pending->running/xxxxx, which are incorrect within new status of enqueue, please update them all asl well.

[2019-05-05 01:21] TommyLike commented on #121
Partial fix for #120

[2019-05-05 01:21] TommyLike commented on #121
/assign @wangyuqing4

[2019-05-05 01:41] TommyLike opened #122 "Sync combine input & output volumes into array logic."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

During main logic sync, the change of combine input & output feature is partially synced due to the code merge conflict, need fix and reenable it.

See https://github.com/volcano-sh/volcano/blob/d9b532c184783d8e718a537880e00ac2eea1ab16/pkg/admission/admit_job.go#L147

[2019-05-05 02:07] TommyLike commented on #122
/assign

[2019-05-05 03:03] TommyLike commented on #84
Reopen when required

[2019-05-05 03:54] hzxuzhonghu commented on #82
Isn't this the current behavior?

The `finishedState` will execute `KillJob` action.

[2019-05-05 04:06] hzxuzhonghu commented on #16
@k82cn I would make queueController in the same process with job controller, is this ok?

[2019-05-05 06:30] hzxuzhonghu commented on #58
I think so.

[2019-05-05 06:30] #58 closed

[2019-05-05 08:57] k82cn commented on #82
The finished job is still there; we need to make sure they're GCed instead of deleting it manually, refer to ttl

[2019-05-05 09:09] k82cn commented on #16
That's ok to me; similar to kube-controller-manager :) BTW, we have a cache in `pkg/controller`; please reuse it if necessary :)

[2019-05-05 11:41] hzxuzhonghu opened #129 "Propose not to delete all pods after the job finished"
xref: https://github.com/kubernetes-sigs/kube-batch/issues/797

Even job fails, the state machine would call `KillJob` to delete all owned resources. I think it is not acceptable for users, they need to look why it fails.

[2019-05-06 00:44] k82cn commented on #129
Only delete `Running/Pending` Pod should be ok :)

[2019-05-06 00:45] k82cn commented on #129
/kind feature
/priority high

[2019-05-06 00:47] k82cn commented on #122
/kind feature
/priority high

[2019-05-06 00:47] k82cn commented on #121
/kind bug

[2019-05-06 01:19] TommyLike commented on #122
Done in #124

[2019-05-06 01:19] #122 closed

[2019-05-06 07:45] k82cn opened #131 "Cherry pick .spec.Capability of Queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

We need cherry pick https://github.com/kubernetes-sigs/kube-batch/pull/841 to volcano-sh/kube-batch:master, and rebase upstream-master to k-sigs/kube-batch:master.

[2019-05-06 07:45] k82cn commented on #131
/assign @asifdxtreme

[2019-05-06 07:46] k82cn commented on #131
/kind feature
/priority high

[2019-05-06 09:43] k82cn commented on #117
/assign @hzxuzhonghu

[2019-05-06 09:54] k82cn opened #133 "Move vkctrl queue to Volcano from kube-batch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Move `vkctl queue` info volcano, xref to https://github.com/volcano-sh/kube-batch/tree/master/pkg/cli/queue .

[2019-05-06 09:54] k82cn commented on #133
/kind bug
/priority high

[2019-05-06 09:54] k82cn commented on #133
/assign @asifdxtreme

[2019-05-06 10:40] k82cn opened #134 "Add PodGroupController to creat shadow PodGroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, kube-batch create shadow PodGroup by pod's `OwnerReference` for upstream objects, e.g. Deployment. It make Queue related feature harder, e.g. Queue's status, it's better to have such a controller to create `PodGroup` for upstream objects.

[2019-05-06 10:40] k82cn commented on #134
/kind feature
/priority high

[2019-05-06 10:52] k82cn opened #135 "Refactor Delay Pod Creation by admission controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we delay pod creattion in job controller which make it hard for two scenarios:

1. vk.job can not work with other scheduler
2. `enqueue` can not support other operators

To resolve the above issues, perfer to add an admission controller to check PodGroup's status for them. If they did not use PodGroup, PodGr

[2019-05-06 10:52] k82cn commented on #135
/kind feature
/priority high

[2019-05-06 10:55] asifdxtreme commented on #131
https://github.com/volcano-sh/kube-batch/pull/5 https://github.com/volcano-sh/kube-batch/pull/4

[2019-05-06 10:57] k82cn commented on #117
I'm thinking whether we should enhance `enqueue` action to consider queue's capability, so we can enqueue "high priority" jobs. And leverage https://github.com/volcano-sh/volcano/issues/135 to make sure the pod will not be create if not enough resources.

[2019-05-06 10:58] k82cn commented on #117
/cc @wangyuqing4 @jiaxuanzhou

[2019-05-06 11:49] asifdxtreme commented on #133
/cc @rajadeepan

[2019-05-06 12:09] jiaxuanzhou commented on #117
yeah, agree with u, but the behaviors of the queue controller better be designed to support the dynamic changes of the specs(either the pg number or the resource quota), so the update func of queue controller and admission controller could work together to notify the changes to make the decision whether to create or delay the creation of the pods.

[2019-05-06 12:35] hzxuzhonghu commented on #117
I am not sure what does `spec.Capability ` and `MaxResource` mean? And also how does it cooperate with `spec.Weight`. I have no context at all.

[2019-05-06 13:08] jiaxuanzhou commented on #117
@hzxuzhonghu
1, the `weight` means the  weight of resource of  the whole cluster for one queue
2, `MaxResource `  is manual defined by the end-user for the queue may be less or more than the `weight` of the queue

[2019-05-07 00:46] k82cn opened #137 "Pass conformance test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Cherry pick related PR in kube-batch to volcano-sh/kube-batch for conformance test.

/cc @asifdxtreme

[2019-05-07 00:46] k82cn commented on #137
/priority high
/kind feature

[2019-05-07 00:47] k82cn commented on #131
@asifdxtreme , thanks, please also update volcano's vendor for that.

[2019-05-07 00:53] k82cn commented on #135
dependent on https://github.com/volcano-sh/volcano/issues/134

[2019-05-07 01:09] hzxuzhonghu commented on #117
Then these two fields are both optional, and if both specified, how to deal with the conflict?

[2019-05-07 01:31] jiaxuanzhou commented on #117
`maxResource` often used for scenario of resource overmatching, but the `weight` is for cluster scope, so by my side, `weight` has higher privilege.

[2019-05-07 02:34] hzxuzhonghu commented on #117
So I would expect  a detailed design doc.

[2019-05-07 02:55] k82cn commented on #12
/kind feature
/priority high

[2019-05-07 03:16] #121 closed

[2019-05-07 03:17] TommyLike commented on #120
Fixed in #126

[2019-05-07 03:28] #120 closed

[2019-05-07 04:39] asifdxtreme commented on #133
The related PR has been merged, going ahead to close this issue

[2019-05-07 04:39] #133 closed

[2019-05-07 05:42] #131 closed

[2019-05-07 05:55] k82cn commented on #13
/kind feature
/priority high

[2019-05-07 05:57] k82cn commented on #84
[code]

xref https://travis-ci.com/volcano-sh/volcano/jobs/198124601

[2019-05-07 05:58] k82cn commented on #84
/kind feature
/priority high

[2019-05-07 06:12] k82cn commented on #134
/cc @wangyuqing4

[2019-05-07 06:43] k82cn commented on #26
@TommyLike ， I think this is done with the latest code,。

[2019-05-07 06:56] TommyLike commented on #84
@k82cn To be honest, I think we are testing some of the advanced features which **SHOULD** and **ALREADY** been tested in kube-batch, suggest removing some of them.

[2019-05-07 07:06] k82cn commented on #84
kube-batch did not include vk.job :(

[2019-05-07 07:30] TommyLike commented on #84
@k82cn that's true, but for some cases such as preemption, statement, gang scheduling and etc. they are all testing the features of kube-batch. If our CI can ensure `vk.job` are correctly translated into kube-batch recognizable resource. I think that's enough. at lease we can skipping them for every PR's check, maybe valid them in cron task?  Here are some of the testcase time consumption:

[code]

[2019-05-07 08:08] k82cn commented on #84
if we skip it, how to make sure the quality of volcano?

[2019-05-07 08:28] TommyLike commented on #84
@k82cn I mean kube-batch should pay attention to those testcases, not volcano. Volcano only focus on how to translate the job into pods/podgroup/etc and handling the job life cycle. For the things of how to schedule the pod group, it's the matters of kube batch.

One more example, we would hardly update these cases on behalf of volcano developing.

Suggestion move them into seperated folder and on

[2019-05-07 08:33] k82cn commented on #84
Volcano includes scheduler & controller, we need to make sure the quality of the whole release.

That's too late to catch issue; the release should not be block by such kind of issue.

[2019-05-07 08:39] TommyLike opened #139 "Propose moving volume claim validation&generate logic into admission hook"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Now it's handled in job controller [here](https://github.com/volcano-sh/volcano/blob/master/pkg/controllers/job/job_controller_actions.go#L368) which I think should be moved into admission hook, comment if there is something missing.

**NOTE**: hard to think of the case of conflict when generating new names. Since there are 12 random al

[2019-05-07 08:39] TommyLike commented on #139
/assign @k82cn

[2019-05-07 08:54] k82cn commented on #139
We need to make sure that'll not happen in any case.

[2019-05-08 03:09] TommyLike commented on #139
give up

[2019-05-08 03:09] #139 closed

[2019-05-08 03:12] TommyLike opened #141 "Update tf example and images"
/kind bug

1. Check [here](https://github.com/kubeflow/kubeflow/blob/master/tf-controller-examples/tf-cnn/Dockerfile.cpu) too see if we can upgrade our images

2. Update example file to reflect latest tf command argument.

[2019-05-08 06:46] k82cn opened #142 "Added job description/source field"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we can only distinguish different type of job by its name; it's better to have label for different job, e.g. `volcano.sh/job-type=Tensorflow` or `volcano.sh/job-type=MPI`. And we also need to show this info in command line.

[2019-05-08 06:46] k82cn commented on #142
/kind feature
/priority high

[2019-05-08 06:48] k82cn commented on #137
/assign @asifdxtreme

[2019-05-08 06:48] k82cn commented on #137
we need to get it done in v0.1

[2019-05-08 07:09] TommyLike commented on #142
who is responsible for adding this label? end user?

[2019-05-08 07:17] k82cn commented on #142
end user or related operators.

[2019-05-08 07:45] TommyLike commented on #84
@k82cn  We have CI for kube-batch which can ensure the quality regarding scheduling.  Any changes in volcano won't break the behaviour on how to scheduling.  it's only affect how the job is translated into kube-batch resource, right?

[2019-05-08 07:46] k82cn commented on #84
no, refer to inqueue feature.

[2019-05-08 07:49] asifdxtreme commented on #137
cc @shivramsrivastava

[2019-05-08 07:50] TommyLike commented on #93
Do you mind to re-upload your patch again 😄

[2019-05-08 07:51] TommyLike commented on #118
@k82cn  is there anything still need to be done?

[2019-05-08 07:56] TommyLike commented on #84
Then keep this:)

[2019-05-08 08:17] shivramsrivastava commented on #137
I have the following queries.

1) Should we test it now or after the ```v0.1``` is release.
2) If we need to test it before ```v0.1``` release have all the targeted PR for ```v0.1``` already merged?
3) The k8s conformance test will only create tests with simple Pods/Replicate-set/job and other simple k8s type, so we will be testing only the scheduler code with conformance test and wont be able to

[2019-05-08 08:54] hzxuzhonghu commented on #93
Sure, will try to find the commit

[2019-05-08 09:00] TommyLike commented on #142
@asifdxtreme would you please help on this?

[2019-05-08 13:53] #15 closed, assigned to nobody

[2019-05-08 13:55] #26 closed, assigned to nobody

[2019-05-08 13:56] #40 closed, assigned to nobody

[2019-05-08 13:56] #77 closed, assigned to TommyLike

[2019-05-08 13:57] #12 closed, assigned to nobody

[2019-05-08 16:15] asifdxtreme commented on #4
@k82cn okay, will add it accordingly

[2019-05-09 00:50] k82cn opened #146 "Update tensorflow example"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

1. Update maintainer email to volcano-sh@googlegroups.com
2. Update tf.yaml with `2 ps + 4 workers` or `1 ps + 2 worker`

[2019-05-09 00:50] k82cn commented on #146
/kind bug
/priority high

[2019-05-09 00:51] k82cn commented on #141
xref https://github.com/volcano-sh/volcano/issues/146

[2019-05-09 01:22] TommyLike commented on #146
/assign

[2019-05-09 03:11] k82cn opened #147 "Fair-share scheduling of namespace cross queues"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Current, `drf` plugin do scheduling in job level which make a namespace get more chance to run its job/pods by submiting more workload. It's better to also balance jobs between namespaces.

[2019-05-09 03:12] k82cn commented on #147
/kind feature
/priority high

[2019-05-09 04:05] asifdxtreme commented on #137
1. We can run the test before we go for v0.1 release
2. We can go ahead with what is there now in master branch
3. @k82cn Can you add you insights on this

[2019-05-09 04:36] k82cn commented on #137
This part is ok to me: only test scheduler; but the binaries/images should be built from volcano repo :)

[2019-05-10 02:54] TommyLike opened #151 "Adding more status/events for measurement"
/kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-05-10 03:25] hzxuzhonghu opened #153 "PodGroup always changing phase from `running` to `pending` to `inqueue`"
Met this when running `Queue E2E Test` `Recalim` case.

[code]

[2019-05-10 03:26] hzxuzhonghu commented on #153
I think this is
/kind bug

[2019-05-10 03:27] hzxuzhonghu commented on #153
/cc @k82cn @TommyLike

[2019-05-10 07:16] TommyLike commented on #153
@hzxuzhonghu  I am not sure whether this is a designed behaviour, but any job within minAvailable equal to 1 is preemptable, see [here](https://github.com/kubernetes-sigs/kube-batch/blob/5b048be1b1d15fa03e84b6ea722733b7c87205bb/pkg/scheduler/plugins/gang/gang.go#L77), that means the job may in the status of pending->inqueue->running->inqueue->xxxxxx

[2019-05-10 09:51] #16 closed

[2019-05-12 07:32] k82cn commented on #146
/close

[2019-05-12 07:33] #146 closed

[2019-05-13 06:17] asifdxtreme commented on #142
cc @thandayuthapani

[2019-05-13 07:59] asifdxtreme commented on #67
@k82cn Is the current code in master repo ready for release v0.1 ?

[2019-05-13 08:15] k82cn commented on #67
that's ok, let's have our first release :)
If any issue/enhancement, we're going to have a new release :)

[2019-05-14 06:17] #142 closed

[2019-05-14 06:20] k82cn opened #159 "Cherry-pick kubernetes-sigs/kube-batch#850"
Cherry pick https://github.com/kubernetes-sigs/kube-batch/pull/850

[2019-05-14 08:49] asifdxtreme commented on #67
Release is done successfull https://github.com/volcano-sh/volcano/releases/tag/v0.1

[2019-05-14 08:49] #67 closed

[2019-05-14 08:52] k82cn opened #160 "Rename vk-scheduler to vk-kube-batch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Currently, Volcano's scheduler is an enhanced kube-batch; it's better to keep kube-batch's name/signature :)

[2019-05-14 08:52] k82cn commented on #160
/kind bug
/priority high

[2019-05-14 08:52] k82cn commented on #160
/assign @asifdxtreme

[2019-05-14 08:54] k82cn commented on #151
/kind feature
/priority high

[2019-05-14 08:54] k82cn commented on #159
/kind bug
/priority high

[2019-05-14 09:00] asifdxtreme commented on #160
pre v0.1 it will be known as `vk-scheduler' , post v0.1 it will be known as `vk-kube-batch` ?

[2019-05-14 09:11] k82cn commented on #160
Let's use vk-kube-batch since `0.1.1` :)

[2019-05-14 10:34] #160 closed

[2019-05-14 10:48] k82cn opened #163 "Use volcano-release-0.1 branch of volcano-sh/kube-batch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

We need to update kube-batch branch to `volcano-release-0.1` for volcano release.

[2019-05-14 10:49] k82cn commented on #163
/kind feature
/priority high

[2019-05-14 10:49] k82cn commented on #163
/assign @asifdxtreme

[2019-05-14 11:03] k82cn commented on #159
/assign @asifdxtreme

[2019-05-14 11:04] k82cn commented on #151
please also add description for this issue, including which kind of event/status we'd like to update.

[2019-05-14 11:06] TommyLike commented on #151
@k82cn  sure

[2019-05-15 00:39] k82cn commented on #137
what's current status?

[2019-05-15 02:13] TommyLike commented on #151
**Description**:
Now the a lot of job details are missed which makes end user or developer hard to measure and debug, for instance. when running  our tf/mpi examples, users are hard to find out when job starts to scheduler/run/complete/fail. As a developer I also want to know more details about the volcano job such as whether & when plugins have been successfully executed. We need to add more trac

[2019-05-15 02:16] TommyLike commented on #151
**Proposes**:
1. Add more event for tracing such as when job plugin execute, configmap/service/pods are created.
2. Update our job state attribute to condition which can provide more details.

[code]

@k82cn  & @hzxuzhonghu

[2019-05-15 02:23] hzxuzhonghu commented on #151
Sounds good

[2019-05-15 02:44] k82cn commented on #151
LGTM :)

[2019-05-15 03:24] TommyLike commented on #151
/assign

[2019-05-15 07:18] hzxuzhonghu opened #168 "Info: Do not just add a e2e test"
For small features or bug fixes, if it can be tested by a UT, do not add e2e again.

As one e2e case can cause 20+ seconds, it will make the CI takes more time.

[2019-05-15 07:25] TommyLike commented on #168
@hzxuzhonghu would you help on setting up the UT framework and moving some of the them?

[2019-05-15 08:17] #117 closed

[2019-05-15 08:40] asifdxtreme commented on #159
- [x] Cherry pick to volcano-sh/kube-batch
- [ ] Bump Volcano to use latest version of volcano-sh/kube-batch

[2019-05-15 08:44] asifdxtreme commented on #163
@k82cn Do we need to update the v0.1 release of Volcano with this branch of kube-batch, or the current master branch of Volcano should use `volcano-release-0.1` branch of kube-batch

[2019-05-15 09:14] shivramsrivastava commented on #137
I ran it against the local kind cluster like i did before for the kube-batch, faced some crash issues with it.
Not able to complete the test also the crash were random.
Now i am trying with 'kubetest' and a gce cluster, because i think could be some issues with my local machine.

[2019-05-15 09:36] k82cn commented on #137
that's great, thanks :)

[2019-05-15 09:48] k82cn commented on #168
/kind feature
/priority high

[2019-05-15 09:56] k82cn opened #170 "Job Priority"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, kube-batch already support `PriorityClass`; it's better to also add `PriorityClass` to job in controller.

[2019-05-15 09:56] k82cn commented on #170
/kind feature
/priority high

[2019-05-15 11:15] hzxuzhonghu commented on #168
sure,  but i have been working on other stuff these days. May have bandwidth in the middle of next week.

[2019-05-15 13:19] k82cn commented on #163
update the v0.1 release of Volcano with this branch of kube-batch

[2019-05-15 16:50] shivramsrivastava commented on #137
These below test cases are failing.
[code]

[2019-05-15 16:59] shivramsrivastava commented on #137
These three test cases are related to the events fix, which is available in 'kube-batch' code, but it looks like its not vendored in this project.
With that fix these three test cases will pass.
[code]
This below test case fail even with default scheduler also, even with 'kube-batch' hence we can ignore this for now and investigate later.

[code]

[2019-05-15 17:02] shivramsrivastava commented on #137
These are new failures and are related to ```Daemon set``` which was not there when we ran earlier with the 'kube-batch'. Will investigate these, mostly looks like flaky one or something not right with the cluster.

[code]

[2019-05-16 00:24] k82cn commented on #137
Please help to cherry pick them :)

[2019-05-16 00:27] k82cn commented on #168
/assign @asifdxtreme , please help on that.

[2019-05-16 02:10] k82cn opened #172 "Show Queue's status in `vkctl queue` sub-command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

It's better to show queue's status in `vkctl queue list` command.

[2019-05-16 02:10] k82cn commented on #172
/kind feature
/priority high
/assign @asifdxtreme

[2019-05-16 02:46] k82cn opened #173 "Add "vkctl job delete xxx""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Add `delete` sub-command to delete a job quickly, otherwise, we have to use `kubectl jobs.batch.volcano.sh` to delete it which is too long :)

[2019-05-16 02:48] k82cn commented on #173
/kind feature
/priority high
/assign @asifdxtreme

[2019-05-16 03:27] asifdxtreme commented on #163
@k82cn okay, I will update this

[2019-05-16 04:05] asifdxtreme commented on #168
/cc @thandayuthapani start writing a basic and generic framework which can be used through out the project , you can start with job package for now

[2019-05-16 04:35] asifdxtreme commented on #172
cc @SrinivasChilveri

[2019-05-16 04:35] asifdxtreme commented on #173
cc @SrinivasChilveri

[2019-05-16 12:07] #163 closed

[2019-05-16 13:37] #172 closed

[2019-05-16 14:58] #173 closed

[2019-05-17 08:43] maprietom opened #182 "Helm install fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
helm install installer/chart/volcano --namespace volcano --name volcano
Error: CustomResourceDefinition.apiextensions.k8s.io "queues.scheduling.incubator.k8s.io" is invalid: spec.validation.openAPIV3Schema: Invalid value: apiextensions.JSONSchemaProps{ID:"", Schema:"", Ref:(*string)(nil), Description:"", Type:"object", Fo

[2019-05-17 09:40] TommyLike opened #184 "Use Job to generate secret for admission service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Now we use helm plugin to generate the admission secret and which seems a little complicated. Instead we can use Job to address this.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kuberne

[2019-05-17 09:48] TommyLike commented on #184
/assign

[2019-05-17 09:52] TommyLike commented on #182
Have not check this in detail, but would you please try another `gke` version? I have met the same issue, resolved by upgrade the kubernetes version `1.12.7`

[2019-05-17 09:57] k82cn commented on #182
@TommyLike , I think we need to support 1.11 :)

[2019-05-17 09:57] k82cn commented on #182
/kind bug
/priority high

[2019-05-17 09:58] k82cn commented on #184
/kind feature
/priority high

[2019-05-17 10:37] maprietom commented on #182
I upgraded gke version to 1.12.7-gke.10 and it appear new error:

helm install installer/chart/volcano --namespace volcano --name volcano
Error: error validating "": error validating data: ValidationError(MutatingWebhookConfiguration.webhooks[0].clientConfig): missing required field "caBundle" in io.k8s.api.admissionregistration.v1beta1.WebhookClientConfig

[2019-05-18 01:49] TommyLike commented on #182
@maprietom hmm, it's a little confusing, since it works on my environment:
[code]

[2019-05-18 01:50] TommyLike commented on #182
And helm:
[code]

[2019-05-18 01:50] TommyLike commented on #182
Will check this

[2019-05-18 02:48] k82cn opened #185 "Cherry-pick kubernetes-sigs/kube-batch#854"
cherry-pick https://github.com/kubernetes-sigs/kube-batch/pull/854

[2019-05-18 02:48] k82cn commented on #185
/assign @asifdxtreme

[2019-05-20 08:31] maprietom commented on #182
I have followed steps that you describe, but I get the same error:
Error: error validating "": error validating data: ValidationError(MutatingWebhookConfiguration.webhooks[0].clientConfig): missing required field "caBundle" in io.k8s.api.admissionregistration.v1beta1.WebhookClientConfig

My environment:
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.7", GitCommit:"6f482974b7

[2019-05-20 09:27] TommyLike commented on #182
@maprietom  are you using helm v2.14.0? I upgrade the helm and get the same error too? I am not sure where lies the root cause, but there are discussion may related to this [here](https://github.com/helm/helm/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++validate)
you can use `v2.13.0` to avoid this temporarily, we will upgrade the script to use v2.14.0 some time.

[code]

[2019-05-20 10:36] maprietom commented on #182
Thanks! I have resolved this issue at last...

[2019-05-20 10:40] maprietom opened #192 "No Auth Provider found for name "gcp""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
panic: No Auth Provider found for name "gcp"

[code]

**What you expected to happen**:
No error

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I have resolved this issue with the import _ "k8s.io/client-go/plugin/pkg/client/auth/gcp" in volcano.sh/volcano/pkg/cli/queue/util.go

[2019-05-20 12:48] k82cn commented on #192
@asifdxtreme , please help on that.

[2019-05-20 12:52] k82cn commented on #192
As far as I known, we already import gcp at [cmd/kube-batch/app/service.go](https://github.com/kubernetes-sigs/kube-batch/blob/master/cmd/kube-batch/app/server.go#L39)

[code]

[2019-05-20 12:52] k82cn commented on #192
/kind bug
/priority high

[2019-05-20 14:38] TommyLike commented on #192
Are we using this site for kube-batch repo as well?

[2019-05-23 11:30] maprietom opened #194 "[Question] Assignment namespace to jobs/pods"
When I lauch a job on volcano, it create all neccesary pods for this, but I don't know how to assign the namespace for pods that create.

Is it possible change assign namespace "on the fly"?

[2019-05-23 14:38] k82cn commented on #194
The pods were created by job controller which should now modify/change on the fly. It's better to change the job, the job controller should help to recreate the pods; hm... I'm not quite sure whether this is supported; if not, we should enhance that :)

[2019-05-24 09:30] maprietom opened #195 "Error creating job in a queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when we create a job associated with a queue that does not exist, Volcano tells us that the job is created but the pods are not created

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version: release-0.1
- Kubernete

[2019-05-27 02:56] k82cn commented on #185
/close

[2019-05-27 02:58] k82cn opened #196 "Cherry-pick kubernetes-sigs/kube-batch#860"
Cherry-pick kubernetes-sigs/kube-batch#860

[2019-05-27 02:58] k82cn commented on #196
/assign @asifdxtreme

[2019-05-27 02:58] k82cn commented on #196
/kind bug
/priority high

[2019-05-27 02:59] k82cn commented on #195
/assign @asifdxtreme

We should check whether Queue exist :)

[2019-05-27 03:00] k82cn commented on #185
Please update status for this one.

[2019-05-27 06:31] asifdxtreme commented on #185
When I am bumping the volcano to use kube-batch aftrer this cherry pick then 50% of E2E test cases are failing

[2019-05-27 06:44] asifdxtreme commented on #185
Here is the error logs https://travis-ci.org/asifdxtreme/volcano/jobs/534763218

[2019-05-28 05:34] k82cn opened #197 "[Discussion] Rename volcano-sh/kube-batch to volcano-sh/scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

The scheduler of volcano is built on kube-batch with some enhancement; to distinguish with the kube-batch in upstream, suggest to rename volcano-sh/kube-batch to volcano-sh/scheduler.

[2019-05-28 05:34] k82cn commented on #197
/kind cleanup
/priority high

[2019-05-28 05:35] k82cn commented on #197
@hex108 @jiaxuanzhou @Jeffwan , any suggestion on that?

[2019-05-28 06:27] hex108 commented on #197
I am OK with it, however it will be better if they could be one. :)

[2019-05-28 07:12] jiaxuanzhou commented on #197
lgtm too

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jun Gong <notifications@github.com>
Sent: Tuesday, May 28, 2019 2:27:10 PM
To: volcano-sh/volcano
Cc: jiaxuan zhou; Mention
Subject: Re: [volcano-sh/volcano] [Discussion] Rename volcano-sh/kube-batch to volcano-sh/scheduler (#197)

I am OK with it, however it will be better if they could be one. :)

―
Y

[2019-05-29 06:59] Jeffwan commented on #197
Makes sense. `Scheduler` sounds like a core component in `volcano-sh` and it's very clear and straighforward

[2019-05-29 11:20] k82cn commented on #197
thanks all, let's update it :)

@asifdxtreme , please help on that.

[2019-05-29 13:14] k82cn commented on #197
/assign @asifdxtreme

[2019-05-29 14:13] k82cn opened #198 "Cherry-pick kubernetes-sigs/kube-batch#730"
https://github.com/kubernetes-sigs/kube-batch/pull/730

[2019-05-29 14:13] k82cn commented on #198
/kind bugs
/priority high
/assign @asifdxtreme

[2019-05-30 06:15] maprietom opened #199 "[Question] Behavior queues"
I have a Kubernetes cluster with Volcano installed, but I don't understand how queues work. I create a queue and I launch jobs by Volcano until the cluster don't have resources free so I launch another job and Volcano stop randomly one job and last job is running instead of "Pending" waiting for resources free. Is normal this behavior?

[2019-05-30 06:38] k82cn commented on #199
@maprietom , what's your configuration of scheduler? please try to disable `preempt` action :)

[2019-05-30 06:40] k82cn opened #200 "Disable preempt & relcaim action by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Preemption & reclaim actions are not stable as expected; let's disable it by default.

[2019-05-30 06:41] k82cn commented on #200
/kind cleanup
/priority high

[2019-05-30 06:43] k82cn commented on #200
@thandayuthapani , please help on that one :)

BTW, we need to enable preempt/reclaim in CI .

[2019-05-30 08:19] #196 closed

[2019-05-30 08:51] maprietom commented on #199
Another question ...

I'm trying a scenario with 2 queue (2 and 3 weights respectively). I launched 2 jobs onto queue with weight 2, then I launched 1 job onto queue with weight 3 and then I launched another job onto queue with weight 3 but no resources free and this job wait for resources, I thought that Volcano abort a job in queue with weight 2 to break free resources and the job go running. Is

[2019-05-30 09:27] #198 closed

[2019-05-30 09:37] asifdxtreme commented on #195
cc @thandayuthapani

[2019-05-30 11:01] SrinivasChilveri opened #203 "code is changing the config map but controller forbidden for the same"
**Is this a BUG REPORT or FEATURE REQUEST?**:

root@root1-HP-EliteBook-840-G2:~# kubectl describe  jobs.batch.volcano.sh test-job  --
[code]
root@root1-HP-EliteBook-840-G2:~#
part of the log

[code]

**What you expected to happen**:
no error and job should run properly

**How to reproduce it (as minimally and precisely as possible)**:
simulate scenario where config update has to hit
**Anything els

[2019-05-30 11:05] k82cn commented on #203
we don-t have enough permission to update configmap?

[2019-05-30 11:08] SrinivasChilveri commented on #203
yes. raised PR  (#204) for the same.

[2019-05-30 11:36] #203 closed

[2019-05-30 14:25] thandayuthapani opened #208 "Update Admission-Controller Image in Docker Hub"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Admission Init container is not running since it is not able to find ./gen-admission-secret.sh
**Logs**:
Events Generated:
[code]

**What you expected to happen**:
Admission Controller Container should not crash
**How to reproduce it (as minimally and precisely as possible)**:
Use volcano helm deployment to deploy.

**Anyt

[2019-05-30 14:58] #200 closed

[2019-05-31 02:04] #195 closed

[2019-05-31 07:19] #182 closed

[2019-05-31 07:19] #184 closed

[2019-05-31 07:20] #129 closed

[2019-05-31 07:20] #82 closed

[2019-05-31 07:21] k82cn commented on #137
what's the status of this? Can we pass conformance test now?

[2019-05-31 07:21] #170 closed

[2019-05-31 07:22] #141 closed

[2019-06-01 01:34] TommyLike commented on #208
@thandayuthapani thanks for working on updating the image

[2019-06-04 09:11] k82cn commented on #208
/assign @asifdxtreme

[2019-06-04 09:12] k82cn commented on #197
fixed by https://github.com/volcano-sh/volcano/pull/212

[2019-06-04 09:12] #197 closed

[2019-06-04 09:15] k82cn commented on #192
Yes, it's the scheduler of volcano; we're going to trace everything in this repo.

[2019-06-04 09:21] k82cn commented on #159
fixed by https://github.com/volcano-sh/volcano/pull/212

[2019-06-04 09:21] #159 closed

[2019-06-04 09:24] k82cn commented on #185
fixed by https://github.com/volcano-sh/volcano/pull/212

[2019-06-04 09:24] #185 closed

[2019-06-05 16:55] shivramsrivastava commented on #137
I ran the tests with local kind cluster all were passing.
I tested it with a gce cluster setup too, because this initial tests were on a GCE cluster setup with kubetest.
Here are the results of the failing ``` [sig-apps] Daemon-sets``` tests cases.

[code]

[2019-06-05 16:55] shivramsrivastava commented on #137
[code]

[2019-06-05 16:56] shivramsrivastava commented on #137
[code]

[2019-06-05 16:57] shivramsrivastava commented on #137
[code]

[2019-06-05 17:00] shivramsrivastava commented on #137
Even the test case which was failing in kube-batch is now passing when run manually.

[code]

[2019-06-05 17:06] shivramsrivastava commented on #137
I have manually cherry-picked the event fixes which was done in ```kube-batch```, after which the three test case which were failing due to events are passing now.

This is now cherry-picks with these changes refer [fix1](https://github.com/volcano-sh/scheduler/pull/24) ,[fix2](https://github.com/volcano-sh/scheduler/pull/25)

[2019-06-06 11:15] k82cn opened #214 "[Discussion] Update volcano-sh/scheduler pkg name to volcano.sh/scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

I'm thinking whether we should also update package name of volcano-sh/scheduler to volcano.sh/scheduler :)

[2019-06-09 00:09] k82cn opened #216 "Add Volcano into Helm Charts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

It's better to also submit volcano helm chart to helm/charts by following its guidance: https://github.com/helm/charts/blob/master/CONTRIBUTING.md . It should be incubator.

[2019-06-09 00:09] k82cn commented on #216
/assign @asifdxtreme

[2019-06-09 00:27] k82cn opened #217 "Add integration guidance on Volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

It's better to give more guidance on how to integrate with Volcano.

- [ ] tensorflow
- [ ] MPI
- [ ] horovod
- [ ] spark-operator
- [ ] kubeflow/arena
- [ ] kubeflow/pipeline
- [ ] kubeflow/tf-operator
- [ ] cromwell

[2019-06-09 00:27] k82cn commented on #217
/assign

[2019-06-09 00:29] k82cn commented on #199
@maprietom , in this case, the volcano will not re-balance the resource between queue, as it may make the other queue overused.

[2019-06-09 00:31] k82cn opened #218 "Migrate volcano-sh-bot to prow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

It's better to migrate current volcano-sh-bot to prow for more features.

[2019-06-09 00:31] k82cn commented on #218
/assign @asifdxtreme

[2019-06-09 00:32] k82cn commented on #137
The PR are merged, please bump to volcano. We need to get this done ASAP!

[2019-06-09 01:23] k82cn commented on #214
And it's better to move apis into a separated repo for other to use.

[2019-06-09 01:54] k82cn commented on #192
/assign @TommyLike

please help on this on when you're back from vocation :)

[2019-06-10 07:25] k82cn opened #219 "[Cherry-pick] kube-batch#859"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Please cherry-pick https://github.com/kubernetes-sigs/kube-batch/pull/859

[2019-06-10 07:26] k82cn commented on #219
/kind bug
/assign @asifdxtreme

[2019-06-10 07:26] k82cn commented on #219
/priority high

[2019-06-10 07:48] asifdxtreme commented on #216
cc @thandayuthapani

[2019-06-10 10:05] #219 closed

[2019-06-11 01:34] asifdxtreme commented on #208
<img width="830" alt="Screenshot 2019-06-11 at 7 02 06 AM" src="https://user-images.githubusercontent.com/9736066/59237187-e9ba9880-8c16-11e9-9e1a-39af865c8870.png">

volcanosh/vk-admission has been updated , @k82cn do I need to update the `volcanosh/vk-controllers` and `volcanosh/vk-kube-batch` with the latest code?

[2019-06-11 06:59] k82cn opened #221 "No imagePullSecrete for scheduler in helm chart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

We provide imagePullSecrete for controller, we should do similar for scheduler in helm chart.

[2019-06-11 06:59] k82cn commented on #221
/kind bug
/priority high

[2019-06-11 06:59] k82cn commented on #221
/assign @asifdxtreme

[2019-06-11 07:04] SrinivasChilveri commented on #221
@asifdxtreme , I will be doing PR for this.

[2019-06-11 07:51] k82cn opened #222 "Enable all e2e cases of volcano-sh/scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

We disabled some e2e cases of volcano-sh/scheduler because of failure, we should get them fixed and enable those e2e cases.

[2019-06-11 07:52] k82cn commented on #222
/kind bug
/priority high
/assign @asifdxtreme

[2019-06-11 09:02] asifdxtreme commented on #222
cc @Rajadeepan

[2019-06-11 09:11] asifdxtreme commented on #218
@shivramsrivastava

[2019-06-11 10:58] thandayuthapani commented on #216
@k82cn Have raised PR regarding this issue, Please have a Look. https://github.com/helm/charts/pull/14692

[2019-06-11 11:57] #221 closed

[2019-06-12 06:17] shivramsrivastava commented on #137
Will close this issue as the k8s conformance test cases are passing.

## Method of testing:
* Created a GCE cluster with the latest k8s code using ```kubetest```, ( please refer the commit hash
  below).
* Removed the default-scheduler from the cluster.
* Ran volcano-sh/scheduler with this the flag ```'scheduler-name=default-scheduler'```

## k8s git commit with which this was tested.
[code]

## V

[2019-06-12 06:18] shivramsrivastava commented on #137
/assign

[2019-06-12 06:18] shivramsrivastava commented on #137
/close

[2019-06-12 06:24] shivramsrivastava commented on #218
Started working on this, will update soon.

I will replace the 'volcano-ci-bot' with the prow bot.
Prow needs an kuberenetes cluster to run, so i will set it up in the same machine where our volcano-bot is running.

[2019-06-13 08:37] k82cn opened #228 "Added/Updated license for copied scripts."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Some license is in-correct to me, please help to update them:

1. https://github.com/volcano-sh/volcano/blob/master/hack/update-gencode.sh , AFAIK, we re-used this script from k8s, we should keep k8s's copyright.
1. https://github.com/volcano-sh/volcano/blob/master/hack/verify-gofmt.sh , https://github.com/volcano-sh/volca

[2019-06-13 08:37] k82cn commented on #228
/assign @asifdxtreme

[2019-06-13 08:37] k82cn commented on #228
/kind bug
/priority high

[2019-06-13 18:44] asifdxtreme commented on #218
@shivramsrivastava @k82cn we can re-use the k8s prow from test-infra, we don't need a new setup.....right?

[2019-06-13 18:45] asifdxtreme commented on #208
@k82cn can we close this issue now?

[2019-06-14 01:14] k82cn commented on #208
@asifdxtreme , please go ahead to update all with latest code.

[2019-06-14 03:45] shivramsrivastava commented on #218
I don't think 'test-infra' will allow external repos to use their infra. If volcano was under sigs we could have used it. But not sure.

[2019-06-14 05:56] k82cn commented on #218
@shivramsrivastava , thanks for the update.

@asifdxtreme , test-infra will not support volcano which is out of kuberentes for now; we have to setup a new one for volcano.

[2019-06-14 12:08] asifdxtreme commented on #228
cc @Rajadeepan

[2019-06-15 03:51] TommyLike commented on #192
@k82cn, sure will handle it next week:)

[2019-06-17 01:38] k82cn opened #229 "Remove Headless service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we're using Headless service for task addressing; but it takes a really long time to get it ready. It's better to have a way to use IP directly to avoid DNS.

[2019-06-17 01:39] k82cn commented on #229
/kind feature
/priority high

[2019-06-17 03:54] #192 closed

[2019-06-17 05:00] asifdxtreme commented on #208
![image](https://user-images.githubusercontent.com/9736066/59579537-efb6ea80-90ea-11e9-9406-cc897fa031da.png)

All the releated images has been updated with 'latest' tag

[2019-06-17 05:10] asifdxtreme commented on #208
@k82cn can we go ahead and close this issue?

[2019-06-17 05:15] Rajadeepan commented on #222
@k82cn  The two test cases which was skipped has been enabled by this PR https://github.com/volcano-sh/scheduler/pull/28
![image](https://user-images.githubusercontent.com/13465886/59579933-c4cd9600-90ec-11e9-8c17-80cd61d64f66.png).
The one which is skipped is the performance test case.
can this issue be closed ?

[2019-06-17 05:19] #228 closed

[2019-06-17 05:54] shivramsrivastava commented on #137
@k82cn
Please let me know if this require any more information.

[2019-06-17 05:56] asifdxtreme commented on #108
/cc @nikita15p

[2019-06-17 06:00] k82cn commented on #222
/close

[2019-06-17 06:01] #222 closed

[2019-06-17 06:46] thandayuthapani commented on #216
@k82cn We need to have seperate repo for charts under volcano-sh repo and enable github pages for that repo, so that we can host our package ourselves, since we are not adding in helm/charts, we need to host it ourselves and put the hosted info in helm/hub so that user can see and download.
So @k82cn can you create a repo like volcano-sh/charts and enable github pages to its master branch?

[2019-06-17 07:15] thandayuthapani commented on #216
Creating new repo might not be necessary, we can use github rawcontent url to get that index.yaml, and we can maintain chart package in github itself.  we don't need to maintain new repo.  Only if any change in charts should be reflected back to chart package(.tgz file) file.

[2019-06-17 08:41] k82cn commented on #137
That's great, thanks :)

[2019-06-17 08:41] #137 closed

[2019-06-17 08:47] k82cn commented on #192
@maprietom , please have a try with the latest code :)

[2019-06-17 10:09] hzxuzhonghu commented on #153
So this is normal

[2019-06-17 10:09] #153 closed

[2019-06-17 10:48] thandayuthapani commented on #168
Have written UT cases for two files in Job package, ref https://github.com/volcano-sh/volcano/pull/201 & https://github.com/volcano-sh/volcano/pull/213
Files in Job package
  - [x]  job_controller_plugins
  - [x]  job_controller_handler
  - [ ]  job_controller_actions

[2019-06-18 05:22] asifdxtreme commented on #56
/cc @Rajadeepan

[2019-06-18 08:56] asifdxtreme commented on #4
Relevant docs has been added via PR's https://github.com/volcano-sh/website/pull/26 https://github.com/volcano-sh/website/pull/23
@k82cn Do we need to add more docs to the website or we can go ahead and close this issue?

Current preview of the website is here https://asif-volcano.netlify.com/docs/

[2019-06-18 10:58] TommyLike commented on #229
Is this saying we need to use static ip for our worker's pod instead of hostname?

[2019-06-18 11:10] asifdxtreme opened #237 "Add KubeCon talk links in Volcano Website"
Add latest KubeCon Talk links and upcoming conferences information on Volcano Website

[2019-06-19 06:51] thandayuthapani commented on #168
UT for other packages are to be added, listing out other packages to which UT cases to be added.
 - [ ] pkg/cli
 - [ ] pkg/controllers/queue
 - [ ] pkg/controllers/garbagecollector
 - [ ] pkg/controllers/apis
 - [ ] pkg/controllers/cache
 - [ ] pkg/controllers/job/state

[2019-06-20 03:51] thandayuthapani commented on #216
@k82cn Volcano has been added in hub.helm.sh site, so I think we can close this issue.
![Screenshot from 2019-06-20 09-20-03](https://user-images.githubusercontent.com/34565833/59817207-b2499b80-933c-11e9-9a71-901a442e8c7e.png)

[2019-06-20 12:42] #214 closed

[2019-06-20 12:50] asifdxtreme commented on #237
/kind docs

[2019-06-20 13:14] k82cn opened #241 "[Discussion] Migrate volcano-sh/scheduler into volcano-sh/volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Propose to migrate [volcano-sh/scheduler](http://github.com/volcano-sh/scheduler) into [volcano-sh/volcano](http://github.com/volcano-sh/volcano), as

1. Several features need to enhance both repo, e.g. DelayPodCreation
1. When there's fix in volcano-sh/scheduler, it has to be cherry-pick to volcano-sh/volcano; if any

[2019-06-20 13:27] k82cn commented on #241
/cc @hex108 @Jeffwan @kinglion811 @richardsliu @gaocegege @wsxiaozhang @kevin-wangzefeng

[2019-06-20 13:27] k82cn commented on #241
If any comments/suggestions, please let me know :)

[2019-06-21 01:00] gaocegege commented on #241
SGTM I have a question here:

How to migrate scheduler to the repo? Are we using git submodule or move the code in scheduler to volcano directly?

[2019-06-21 01:09] k82cn opened #242 "[Flaky] Scheduling Statement test failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://travis-ci.com/volcano-sh/volcano/jobs/209668399

[code]

[2019-06-21 01:31] TommyLike commented on #242
/assign

[2019-06-21 01:43] k82cn commented on #241
Both are OK to me. My original idea is to move the code to volcano directly which is easier to manage and when we donate volcano to CNCF or Kuberentes, it's also easier to migrate (but we may lost the commit history of scheduler).  If using `git submodule`, maybe volcano-sh/controllers, volcano-sh/schedulers and volcano-sh/apis and so on; we can work together on volcano-sh/apis part to make sure r

[2019-06-21 01:51] gaocegege commented on #241
@k82cn Now scheduler is a fork of kube-batch. If we move it to this repo, it may be hard to rebase the upstream, IMO. I am not sure about the relationship between the upstream kubebatchd and volcano scheduler. If we do not need to rebase the upstream, then both way works.

[2019-06-21 02:51] k82cn commented on #241
Almost the same, one minor different because of release cycles. Some features require interaction
between controller & scheduler, the scheduler part will be migrated to kube-batch because of
its scope; and it'll make sure the scheduler part will NOT bind to volcano job.

we do rebase manually right now :)

[2019-06-21 02:58] gaocegege commented on #241
Then both work for me

[2019-06-21 03:34] k82cn opened #244 "Theme of next release"
Volcano'd like to have another release around end of Aug; there're the proposed features that maybe included in next release, please share your comments/suggestion and if any other requirements, please also feel free to share :)

## Job Management

- [x] Delay pod creation improvement (https://github.com/volcano-sh/volcano/issues/135) (@wangyuqing4)

## Queue Management

- [x] Lifecycle manage of

[2019-06-21 03:45] hex108 commented on #241
Some questions :)

Now we need both modify code of `volcano-sh/scheduler` and `volcano-sh/volcano`. After migrating`volcano-sh/scheduler` into `volcano-sh/volcano`, we also need to  modify code of `volcano-sh/scheduler` and `volcano-sh/volcano` related code, in different directories instead of different repos. Ah, is there any major difference?

Most code of `volcano-sh/scheduler` and `volcano-sh/

[2019-06-21 04:42] k82cn commented on #244
/cc @hex108 @johnugeorge for Queue
/cc @richardsliu @gaocegege for delay pod creation
/cc @ahmad-diaa  for fair-sharing
/cc @wsxiaozhang @kinglion811 for GPU part

Please feel free to hands up if any items you'd like to contribute :)

/cc @jeefy @Jeffwan @mrbobbytables who may also interest; and please feel free to share your requirements/comments if any :)

[2019-06-21 06:16] k82cn commented on #241
For now, volcano includes scheduler as vendor for release and e2e test; so every PR in scheduler are cherry-picked into volcano-sh/volcano. If any interaction, we need to review PR in scheduler, bump into volcano, review PR for other part. Another option is `git submodules` as Ce suggested; but the PRs has to be reviewed in different repos.

/cc @mrbobbytables @jeefy , who're familiar with k8s's p

[2019-06-21 07:43] hex108 commented on #241
LGTM

`gi submodules` is a little tricky.

[2019-06-24 08:17] asifdxtreme commented on #56
This feature has been added by the above PR, @Rajadeepan  @k82cn can we go ahead and close this issue?

[2019-06-24 08:20] k82cn commented on #168
@thandayuthapani , please also help to provide code coverage of each package :)

[2019-06-25 01:03] k82cn commented on #242
seems better after #243 :)

[2019-06-25 01:03] #242 closed

[2019-06-25 06:49] thandayuthapani commented on #218
@k82cn We have enabled Prow Bot to volcano-sh/volcano now.  We will check it for a day or two, for any issue.  If any issue raises, we check and fix it.  If no issue comes, we will enable it for other repos also.

[2019-06-25 13:09] k82cn commented on #218
that's great! thanks very much :)

[2019-06-25 23:23] jeefy commented on #241
I might be missing the full picture, so I'm sorry. :(

I feel like cherry-picking upstream commits into v/scheduler is the wrong choice. Also, I feel like until Volcano has a permanent home (ie. CNCF donation) the scheduler code should remain in k-sigs/kube-batch.

Is there a technical or a licensing issue vendoring k-sigs/kube-batch?

[2019-06-26 00:06] jeefy commented on #244
No hard reqs yet, but couple thoughts:
- This looks like a lot of work, and it's exciting to think of all this getting rounded out.
- It's awesome if the plan is to get into a semi-regular release cadence.

[2019-06-26 01:00] k82cn commented on #244
Yes, we'd like to have a minor release every quarter, similar to k8s :)

[2019-06-26 01:05] k82cn commented on #241
The issue is that we're going to modify v/scheduler for Volcano release; and the release cycle of volcano & kube-batch maybe different.

For now, we fork kube-batch as v/scheduler which takes lots of work to update vendor (from v/scheduler to v/volcano); so I open this discussion to see how to reduce such kind of effort.

[2019-06-26 01:13] k82cn commented on #147
/cc @lminzhw , please continue your work of this issue

[2019-06-26 06:31] asifdxtreme commented on #4
The document and tutorial has been updated, I am going ahead to close this issue, feel free to reopen it anytime if any concerns.

[2019-06-26 06:31] #4 closed

[2019-06-27 00:39] k82cn commented on #218
@asifdxtreme , please help to enable `need-rebase` label.

[2019-06-27 00:53] k82cn commented on #218
and if build failed, volcano-sh-bot should append some info about that.

[2019-06-27 00:53] k82cn commented on #237
please also add links to volcano-sh/volcano readme :)

[2019-06-27 08:40] k82cn commented on #216
that's ok to me :)

[2019-06-27 08:40] #216 closed

[2019-06-27 08:41] k82cn commented on #56
Great! let's close that.

[2019-06-27 08:41] #56 closed

[2019-06-27 08:42] k82cn commented on #208
that's ok to close that.

[2019-06-27 08:42] #208 closed

[2019-06-27 08:44] asifdxtreme commented on #218
@k82cn `need-rebase` label has been added now by @thandayuthapani and it's working fine now.
For CI failure I guess we need to write our own plugin for this, we are not able to find any opensource plugin to add labels in the PR's if CI fails

[2019-06-27 09:14] k82cn commented on #218
please check how k8s does :)

[2019-06-27 09:19] asifdxtreme commented on #218
@k82cn If the CI job is a prow job then we can show that type of details, it might not be possible with Travis Jobs, should we move our test setup to prow?

[2019-06-27 09:57] k82cn commented on #218
that's ok to me :)

[2019-06-28 00:27] k82cn opened #260 "Add hosts list into environment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

In `svc` plugin, we only provide host files in `/etc/volcano`, and user has to translate those files in to a list of hosts as arguments. It's better to include such an env in all pods of job.

[2019-06-28 00:28] k82cn commented on #260
/assign @asifdxtreme

[2019-06-28 00:28] k82cn commented on #260
/priority high

[2019-06-28 04:59] k82cn commented on #218
Some PRs have duplicated labels, refer to https://github.com/volcano-sh/scheduler/pulls

[2019-06-28 05:12] asifdxtreme commented on #218
@k82cn I just checked the `volcano/scheduler` labels list, there were two labels for `need-rebase` so both of them were getting added, I have removed one of it and it works fine now.

[2019-06-28 06:48] asifdxtreme opened #261 "Enable COVERALLS for Volcano"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Volcano needs to show the coverage report for each PR

**What you expected to happen**:
COVERALLS should be enabled for Volcano repo(only admins of the repo can enable this)
**How to reproduce it (as minimally and precisely as possible)**:
1. Go to https://coveralls.io/ and login using github credentials
2. Go to https://

[2019-06-28 14:31] kevin-wangzefeng commented on #241
Sorry for the late reply, thought I summitted comments before.

I can see some benefits of hosting the scheduler code in tree, but we need to be careful to make sure that code changes happen in two places trackable and easy to sync in bidirectional way.

Manually copy files or cherry-picking commits in to the tree would make history massive, which is not recommanded.

I've created an exmaple PR (#

[2019-06-29 03:12] #237 closed

[2019-06-29 12:20] mrbobbytables commented on #241
With regard to the kubernetes processes, the general goal is to establish a single source of truth. For items that aren't managed in their own repo, they tend to be handled via the [staging directory](https://github.com/kubernetes/kubernetes/tree/master/staging). It serves as the source of truth for a slew of repos that are updated via the [publishing bot](https://github.com/kubernetes/publishing-

[2019-06-29 12:55] k82cn commented on #241
That's the reason I open this discussion; and seems kevin-wangzefeng@ suggestion is simpler to other contributors.

[2019-06-29 13:10] k82cn commented on #218
do we support `/area` command, e.g. `/area scheduler`, `/area controller`

[2019-06-29 14:16] k82cn commented on #218
and `/retest` command.

[2019-06-30 07:01] k82cn commented on #261
I already give the permission, but I can not find volcano-sh :( let's try others.

[2019-07-01 06:13] k82cn opened #266 "Support multiple events in lifecycle policy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, `spec.policy` only support one event or `*` which is not enough. It's better to support an event list for it. It need to handle conflict, but duplication is not necessary to me.

[2019-07-01 06:14] k82cn commented on #266
/priority high

[2019-07-01 06:40] k82cn opened #267 "Update volcano-sh/scheduler version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

@asifdxtreme , please help to update volcano-sh/scheduler in vendor; we did some enhancements recently.

[2019-07-01 06:41] k82cn commented on #267
/priority high

[2019-07-01 06:42] william-wang opened #268 "[Features] improve scheduling performance on batch jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
More like a feature improment

**What happened**:
When the cluster idle resource can not satisfy some big job, the big job still holds the resource that allocated to it. This leads to this part of resource can not be used by other submitted job.

Is it better to release the resources of the tasks which are not bound to node as the idle re

[2019-07-01 07:14] asifdxtreme commented on #261
The coveralls has been enabled for this repo now https://coveralls.io/github/volcano-sh/volcano

[2019-07-01 07:14] #261 closed

[2019-07-01 07:49] asifdxtreme commented on #218
/area scheduler

Test

[2019-07-01 09:37] #267 closed

[2019-07-01 12:29] k82cn commented on #266
/assign @asifdxtreme

[2019-07-01 13:06] k82cn opened #272 "Task topology"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

When high performance workload running on Kubernetes, the performance is greatly affected by pod affinity/anti-affinity, e.g. ps/worker mode of Tensorflow. The default scheduler support pod affinity/anti-affinity, but there're some weaknesses:

- The default scheduler will check PodAffinity/PodAntiAffinity against all

[2019-07-01 13:06] k82cn commented on #272
/priority high

[2019-07-01 13:30] k82cn commented on #272
/cc  @hex108 @Jeffwan @kinglion811 @gaocegege

[2019-07-01 13:30] k82cn commented on #272
/assign @lminzhw

[2019-07-02 01:46] gaocegege commented on #272
Yeah, I know there are some disadvantages. And it is the reason for me to have a try on volcano scheduler.

I'd appreciate it if you have a proposal to improve it

Thanks :clinking_glasses: :beers:

[2019-07-02 02:26] k82cn opened #275 "[Flaky] Job E2E Test: Test Job PVCs"
/kind bug

Meet this failure several times, it's better to get it fixed :)

[code]

xref https://travis-ci.com/volcano-sh/volcano/jobs/212475065

[2019-07-02 02:27] k82cn commented on #275
/priority high

[2019-07-02 06:10] asifdxtreme commented on #266
/cc @Rajadeepan

[2019-07-02 06:15] asifdxtreme commented on #168
UT has been added for all the packages and the current coverage for UT is around [61%](https://coveralls.io/github/volcano-sh/volcano?branch=master), In my opinion we can go ahead and close this issue

[2019-07-02 06:21] asifdxtreme commented on #218
/area controllers

[2019-07-02 06:43] hzxuzhonghu commented on #168
Can we remove some e2e cases, which is already covered by e2e?

[2019-07-03 01:33] k82cn opened #280 "Build device plugin mock for accelerator simulation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Volcano supports GPU, but we did not have a CI environment to test it; found some issues when GPU has hardware issue. It's better to have a device plugin mock for CI to cover that.

[2019-07-03 01:34] k82cn commented on #280
/assign @asifdxtreme

If necessary, please works in https://github.com/volcano-sh/device-plugin-mock repo :)

[2019-07-03 01:55] TommyLike commented on #275
/assign

[2019-07-03 02:22] k82cn commented on #280
/cc @kinglion811 , that should be helpful for GPU test :)

[2019-07-03 02:48] k82cn commented on #241
If no objection, we'd like to follow kevin-wangzefeng@ suggestion to make process simpler for other contributors :)

[2019-07-03 03:32] #268 closed

[2019-07-03 06:06] TommyLike opened #282 "Create base image for admission service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

Now we have the admission service image script file as:
[code]
which can be optimized via creating a base image which has all required libraies are preinstalled.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2019-07-03 08:21] TommyLike commented on #275
Container get killed due to the null pointer issue, Part of the log output as below:
[code]

[2019-07-03 08:22] TommyLike commented on #275
Should have been fixed via #277 and #283

[2019-07-04 01:23] TommyLike commented on #282
Close with the merge of #284

[2019-07-04 01:23] #282 closed

[2019-07-04 01:30] k82cn opened #286 "Update abbreviation of Volcano from vk-* to vc-*"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**Description**:

Currently, we're using vk as abbreviation of Volcano which is same with 'virtual kubelet'; it's better to use vc as abbreviation of Volcano.

Or if any other abbreviation suggestion, please share here :)

[2019-07-04 01:31] k82cn commented on #286
/assign @asifdxtreme

[2019-07-04 03:21] k82cn commented on #280
/priority high

[2019-07-04 04:11] kevin-wangzefeng commented on #241
To summarize:

- To manage code in-tree for better daliy development experience:
  - Automation for bidirectional code sync, anyone can do it when necessary -- The scripts is ready in #287.
  - Indentify if there's any extra changes needed for checking in the code -- Created a new PR #288 with scripts submitted in #287.

- To follow licensing compliance:
  - Add description in the main repo readme

[2019-07-04 06:04] k82cn commented on #275
/close

Seems better after #277 and #283

[2019-07-04 06:04] #275 closed

[2019-07-04 06:10] asifdxtreme commented on #286
@k82cn
what do we do with the exsisting docker images then, do we need to create a new repo for the new docker images?

[2019-07-04 11:37] thandayuthapani commented on #218
@k82cn If we need to migrate travis jobs to prow jobs, we need to enable plank component of prow, for which we need GCS bucket(Google Cloud Storage) to store logs for jobs.  So should I continue exploring it or stall this process?
![Screenshot from 2019-07-04 17-06-55](https://user-images.githubusercontent.com/34565833/60663909-2b3d0d00-9e7e-11e9-90d1-c0cd755033fe.png)

[2019-07-04 11:56] k82cn commented on #286
create new images as vc-controllers, vc-schedulers, vc-admissions; and keep old image there.

[2019-07-04 12:48] asifdxtreme opened #290 "Create Owners file for volcano-sh/charts"
Add owners file for `volcano-sh/charts` for volcano-sh-bot to work properly

[2019-07-05 00:45] k82cn commented on #290
it's already there: https://github.com/volcano-sh/charts/blob/master/OWNERS :)

[2019-07-05 07:34] TommyLike opened #293 "Enable CI for volcano-sh/chart project"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Enable CI to ensure the charts work as expected with latest volcano images.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or h

[2019-07-05 09:07] william-wang opened #294 "Scheduler panic happens when the GPU is lost on node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Scheduler panic happens on starting whenever the GPU card is lost on node.

**What you expected to happen**:
Scheduler should works even the GPU is lost on some node. In this case, the node
can be mark as NotReady.

**How to reproduce it (as minimally and precisely as possible)**:
This case can not be reproduced inhouse.  The user h

[2019-07-05 09:14] k82cn commented on #294
/cc @kinglion811

[2019-07-05 14:25] asifdxtreme commented on #290
/close

[2019-07-05 14:25] #290 closed

[2019-07-08 00:07] k82cn commented on #241
@asifdxtreme , please help on "Integrate fossa to project CI,"

[2019-07-08 01:18] k82cn opened #299 "[Flaky] Job E2E Test: Test Admission service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

[code]

[2019-07-08 01:20] k82cn opened #300 "Update dep & vendors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

After https://github.com/volcano-sh/volcano/pull/288 , we're going to use scheduler in-tree, so it's better to remove kube-batch in vendor.

/cc @asifdxtreme

[2019-07-08 01:20] k82cn commented on #300
/kind cleanup

[2019-07-08 01:29] TommyLike commented on #299
/assign

[2019-07-08 01:30] TommyLike commented on #293
chanegs are submitted at https://github.com/volcano-sh/charts/pull/7

[2019-07-08 01:53] TommyLike commented on #299
Related log:
[code]

[2019-07-08 02:36] hzxuzhonghu commented on #300
/assign

opened #303

[2019-07-08 02:38] hzxuzhonghu opened #304 "Add vendor check in ci"
Should add the vendor check in ci.

Note: we are gonna use go mod.

/cc @SrinivasChilveri

[2019-07-08 06:47] k82cn opened #305 "Cherry-pick kube-batch#866"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Cherry-pick https://github.com/kubernetes-sigs/kube-batch/issues/866 to support v1alpha2.

[2019-07-08 06:47] k82cn commented on #305
/cc @asifdxtreme

[2019-07-08 14:15] #294 closed

[2019-07-08 14:30] k82cn commented on #305
/assign @asifdxtreme

[2019-07-09 01:43] k82cn opened #308 "Please leave a comment if you're using or evaluating Volcano :)"
Please leave a comment if you're using Volcano in following format:

[code]

or create a PR to add yourself into adopter list at https://github.com/volcano-sh/volcano/blob/master/docs/community/adopters.md :)

[2019-07-09 03:08] hzxuzhonghu commented on #300
/close

[2019-07-09 03:08] #300 closed

[2019-07-09 06:10] xieydd commented on #308
Organization: Unisound
Environment: Evaluation
Contact: [xieydd](https://github.com/xieydd)
Description of Use:  Evaluation in ATLAS AI Plateform

[2019-07-09 06:30] hzxuzhonghu commented on #244
There are also many clean code work after `kube-batch` in tree.

It mainly focus on:

1. the variable naming, like `kbClient` => `vcClient`

1. duplicate import, like `"volcano.sh/volcano/pkg/client/clientset/versioned"`

[2019-07-09 08:09] k82cn commented on #229
I don-t have solution right now :( , but I'd like to know what we can do for that.

[2019-07-09 09:11] hzxuzhonghu opened #310 "Volcano install failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

install volcano as readme, but i meet the following error.

[code]

**What you expected to happen**:

1. install successfully

1. allow user to set volcano flags

1. provide a simple install yaml

**How to reproduce it (as minimally and precisely as possible)**:

install volcano following  https://github.com/volcano-sh/

[2019-07-09 09:11] hzxuzhonghu commented on #310
/kind bug

[2019-07-09 09:17] hzxuzhonghu commented on #310
/kind doc

[2019-07-09 09:20] hzxuzhonghu commented on #310
/assign @asifdxtreme

[2019-07-09 09:37] asifdxtreme commented on #168
We went through all E2E test case, In our opinion all are required as of now, the test scenarios for UT are restricted to a particular functions/methods whereas E2E is tesing the complete flow for each scenario, so the both have different scope while testing. Going ahead we need to add more E2E's to cover all scenario, I don't think so we can reduce the E2E.

[2019-07-09 09:52] TommyLike commented on #168
@asifdxtreme  I am wondering whether we need keeping the case of `MPI`, since all of the required features have been (or should) tested separately in different cases. the downloading and loading mpi images also consume some time.
[code]

[code]

[2019-07-09 09:54] hzxuzhonghu opened #311 "Volcano controller logs is too noisy"
[code]
For pods which do not belong to volcano job, donot process it.

[2019-07-09 09:54] hzxuzhonghu commented on #311
/area controllers

[2019-07-09 10:17] hzxuzhonghu commented on #311
@Rajadeepan @thandayuthapani  would appreciate if you could improve it.

[2019-07-09 10:21] Rajadeepan commented on #311
ok sure will improve it

[2019-07-09 10:28] asifdxtreme commented on #168
One E2E with real example should defintely be there, we can find other options for MPI etc.. which takes lesser time to finish the test.

[2019-07-09 10:42] asifdxtreme commented on #218
`/area` is supported by volcano-sh-bots, `/retest` won't work as our jobs are own travis, if we move our test jobs to prow then only `/retest` will work but to make this work we need to have GCS account to store the logs. @k82cn Should we spend time to move our test jobs to prow(it needs a GCS paid account to store the logs)

[2019-07-09 11:12] hzxuzhonghu commented on #311
/assign @Rajadeepan

[2019-07-09 11:18] #286 closed

[2019-07-10 01:41] k82cn commented on #310
We should make sure the readme/tutorial correct :)

[2019-07-10 01:42] k82cn commented on #244
Let's handle them as bug fix :)

[2019-07-10 01:43] TommyLike commented on #293
fixed

[2019-07-10 01:43] #293 closed

[2019-07-10 08:48] hzxuzhonghu opened #318 "Update job schedulerName does not take any effect"
I created a volcano job with incorrect schedulerName `kube-batch`. And i found all the jobs pending, this is expected.

But when i updated the schedulerName to `volcano`, it did not recreate the pods.

Should we explicitly say that we do not support update in docs, or allow updating before the job really running?

/kind feature

[2019-07-11 02:01] TommyLike commented on #318
Not only the scheduler name, as well as plugins, container spec and etc. All of them are not supported.  Agree that we may mention this in document that it's not supported for job update operation.

[2019-07-11 02:10] TommyLike opened #323 "[Question] develop process for charts related changes?"
/kind feature

**Background**:
Now we have seperated repos for volcano and volcano chart. Considering it's possible that the one feature may change them both at the same time. What is the standard process when developing those features. for example: #165

[2019-07-11 02:19] TommyLike commented on #323
One of the solutions that I can think of is:
1. Develop and Merge functionality codes with UT and existing E2E tests update.
2. Update charts based on new feature.
3. Add E2E tests regarding new features and fix issues(if required.)

[2019-07-11 02:51] hzxuzhonghu opened #324 "docker images used by volcano-sh/charts CI are outdated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

Currently, the images used by https://github.com/volcano-sh/charts CI is always pulled from dockerhub and with latest TAG.

Ref: https://github.com/volcano-sh/charts/blob/master/Makefile

But these images are not updated realtime, so i think we should build images when running volcano-sh/charts CI.

**What you expec

[2019-07-11 02:52] hzxuzhonghu commented on #324
/assign @thandayuthapani

[2019-07-11 03:47] k82cn commented on #323
IMO, we should maintainer Charts in volcano, and sync it to volcano-sh/charts when release.

[2019-07-11 03:49] k82cn commented on #324
AFAIK, we push the latest image into kind cluster for e2e test; what we need to do is to avoid download image from dockerhub.

[2019-07-11 03:49] k82cn commented on #324
/cc @kevin-wangzefeng

[2019-07-11 04:31] hzxuzhonghu opened #325 "Contributor experience improvement"
In order to improve the contributor experience, we need many more docs:

- [ ] contributor guide: about how to contribute to valocano

- [ ] development guide: how to setup a development environment

- [ ] Testing: How to run kinds of tests, include ut, e2e.

- [ ] Code Conventions: coding style advice

[2019-07-11 04:39] hzxuzhonghu commented on #304
/assign @SrinivasChilveri

[2019-07-11 06:03] asifdxtreme commented on #310
/cc @thandayuthapani

[2019-07-11 06:19] TommyLike commented on #324
this is related to my question of #323 , if the chart files can be moved back into volcano repo, then everything would be ok @k82cn

[2019-07-11 06:21] TommyLike commented on #323
that would be much better.

[2019-07-11 06:31] hzxuzhonghu commented on #304
/cc @asifdxtreme

[2019-07-11 06:33] hzxuzhonghu commented on #310
I have opened #325 to track contributor experience improvement stuff.

[2019-07-11 06:37] hzxuzhonghu commented on #310
We need a more simple way to install, one command `kubectl apply -f  xxx.yaml`.

Helm is complicated, it requires users to install helm and tiller first.

[2019-07-11 07:31] xieydd commented on #310
what is the version of helm ? Tiller of helm v3 is gone, how about maintaining xxx.yaml and helm repo.

[2019-07-11 09:21] asifdxtreme commented on #218
@k82cn Can we go ahead and close this issue as `/retest` needs a lot of effort and resource to get it done as we need to migrate test jobs to prow which need GCS paid account.

[2019-07-11 09:53] Rajadeepan opened #328 "Missing E2E test scenarios for task policy"
Here is the list of scenarios which are currently missing and I would like to contribute to this one by one.
- [ ]   Task level LifecyclePolicy, Event: PodFailed; Action: RestartJob
- [ ]   Task level LifecyclePolicy, Event: PodEvicted; Action: RestartJob
- [ ] Task level LifecyclePolicy, Event: PodEvicted; Action: TerminateJob
- [ ] Task level LifecyclePolicy, Event: TaskCompleted; Action: Comple

[2019-07-11 09:53] Rajadeepan commented on #328
/assign @Rajadeepan

[2019-07-11 10:20] asifdxtreme commented on #310
With the current master branch code I am getting this error for `jobs.batch.volcano.sh`
[code]

[2019-07-11 10:37] hzxuzhonghu commented on #310
@asifdxtreme What's your k8s version?

[2019-07-11 10:39] thandayuthapani commented on #260
@k82cn If my understanding is correct, if there are multiple .host files for a job, we have to export multiple environment variables respective to each .host file?

[2019-07-11 10:43] k82cn commented on #260
yes

[2019-07-11 10:45] asifdxtreme commented on #310
[code]

[2019-07-11 10:53] TommyLike commented on #310
Works well on my environment:
[code]

[2019-07-11 10:59] TommyLike opened #329 "Move admission webhook registeration into source code from yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Now we have separated yaml file to register admission webhook, we should move it into source code which keeps maintaince easier.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes v

[2019-07-12 01:27] #93 closed

[2019-07-12 03:53] hzxuzhonghu commented on #329
agree， moves it to `/installer `

[2019-07-12 09:58] TommyLike commented on #323
So for the convenience of development, should we add the charts code back into volcano repo and sync them into chart repo when releasing? @k82cn @hzxuzhonghu @asifdxtreme ?

**NOTE**:  We may generate release yaml as [istio](https://istio.io/docs/setup/kubernetes/#installing-istio) does now for a simpler approach, but it might not conflict to the chart support.

[2019-07-12 10:07] k82cn commented on #323
Yes, similar to staging pkg in k8s.

[2019-07-12 16:55] wingerted commented on #310
Seems RBAC problem ?

[2019-07-12 23:32] TommyLike commented on #325
ADD: volcano usecase document(Maybe add document for our sample document?)

[2019-07-12 23:37] TommyLike commented on #329
I mean use code to register webhookconfiguration resource when starting admission service.

[2019-07-13 00:06] TommyLike commented on #325
/assign myself

[2019-07-14 06:13] k82cn commented on #310
@TommyLike , @hzxuzhonghu , when can we get this done?

[2019-07-14 06:26] k82cn commented on #325
Two improvements is necessary: contributor experience and user experience; that's more about user experiences. Both of them are important, but let's open another issue for user experiences.

[2019-07-14 06:30] k82cn commented on #323
so what's our next step?

[2019-07-14 12:47] TommyLike commented on #323
Sync the latest chart templates into local folder and set up the guidance how and when to sync the latest code back to chart when releasing?

[2019-07-14 14:26] TommyLike commented on #310
@k82cn , For this issue itself. it's the RBAC issue which needs us to install tiller with enough rights to handle resource, it's something like:
[code]
But for the issue which @asifdxtreme or the volcano user @Swati Agrawal, we need more detail to find out the root cause. It can be the kubernetes version mismatch, helm binary version requirement or something else.

[2019-07-14 14:35] TommyLike commented on #323
Opened a new PR to adding helm charts back #334 . Once again, this is used to reduce the complexity of developing new features. We don't need to open seperated PRs for one feature changes now.

[2019-07-15 00:24] TommyLike opened #335 "User experience improvement"
/kind feature

- [ ] 1. Add document for volcano usecases explanation.
- [x] 2. Provide a convenient way for end user to install and use volcano(**finished**).
- [x] 3. Add system requirements for volcano

[2019-07-15 00:25] TommyLike commented on #325
# 335

[2019-07-15 01:34] TommyLike commented on #310
This a similar issue to this OpenAPI issue https://github.com/kubernetes/apiextensions-apiserver/issues/26.

[2019-07-15 02:18] TommyLike commented on #310
We used to use kind 0.2.0 to running our E2E tests, which means the oldest version of kubernetes that have been tested should be 1.13.4. https://github.com/kubernetes-sigs/kind/releases/tag/0.2.0

[2019-07-15 04:08] hzxuzhonghu commented on #329
IC, SGTM

[2019-07-15 05:59] thandayuthapani opened #338 "E2E Test Scenarios for Command Line vcctl --help option"
List of missing Test Scenarios to be added to test vkctl help option
- [x] Command: vcctl --help
- [x] Command: vcctl job --help
- [x] Command: vcctl job list --help
- [x] Command: vcctl job suspend -n {$JobName} --help
- [x] Command: vcctl job resume -n {$JobName} --help
- [x] Command: vcctl job run --help

[2019-07-15 05:59] thandayuthapani commented on #338
/assign

[2019-07-15 06:00] Rajadeepan opened #339 "Adding E2E test scenarios for job life cycle"
Here is the list of E2E scenarios which can be added for job life cycle

- [ ]  Deleting a job that is in pending Job
- [ ]  Deleting a job that is in the Running state
- [ ]  Deleting a job that is in the completed state
- [ ]  Deleting a job that is in the terminated state.
- [ ]  Deleting a job that is in the Inqueue state
- [ ]  Deleting a job that is in the Failed state.

[2019-07-15 06:00] Rajadeepan commented on #339
/assign @Rajadeepan

[2019-07-15 06:07] k82cn commented on #338
we should change vkctl to vcctl

[2019-07-15 08:06] #311 closed

[2019-07-16 00:47] #338 closed

[2019-07-16 04:35] asifdxtreme commented on #305
Fix for this issue has been merged, IMO we can go ahead and close this issue

[2019-07-16 09:38] #329 closed

[2019-07-17 00:40] k82cn commented on #323
what's next step?

[2019-07-17 00:40] k82cn commented on #324
what's next step?

[2019-07-17 01:21] TommyLike commented on #323
Update the readme document and setup up the guidance for how & when to sync the templates.

[2019-07-17 01:46] hzxuzhonghu commented on #324
duplicate let's keep #323

[2019-07-17 01:46] #324 closed

[2019-07-17 04:38] hzxuzhonghu commented on #335
I deployed  yaml generated by `make generate-yaml` from master.

But unfortunately, a pod failed to start.
[code]

 @asifdxtreme I have an idea, we have to push the latest image every day built from the master branch. This can be done by a bot. wdyt ? cc @k82cn @TommyLike

[2019-07-17 04:39] hzxuzhonghu commented on #335
cc @SrinivasChilveri we need to update volcano website

[2019-07-17 06:40] TommyLike commented on #335
For your case @hzxuzhonghu , I think we need mention in the document. `make generate-yaml` will use the latest image in default. therefore he need load the latest images (maybe from local built)  into his cluster. or specify the image tag when execute command:
[code]
[code]

[2019-07-17 07:07] TommyLike commented on #335
When installing volcano helm chart v1 with repo. the default image tag in value file is latest. it's possible that the image would mismatch with the release yaml files. Personally I think we need update the image tag value or other necessay values when publish.
@asifdxtreme  Do you mind:
1. update the v1 zip file to use the v1 image in default
2. and if possible integrate the helm chart publish wo

[2019-07-17 13:54] k82cn commented on #335
We only need to manage released images. If using master branch, user need to build images himself; it's too heavy to mange latest images :)

[2019-07-18 02:37] TommyLike opened #347 "README document update follow ups"
Since we changed the guide how to install volcano now. We have to completes these things below:

- [x] Setup a cron task for Travis to build the latest images and push daily.
- [x] Add a Travis Job to verify the file `installer/volcano-development` is identical to the generated file via command `make generate-yaml`.
- [x] Add individual document to guide user how to install volcano via github rele

[2019-07-18 02:39] TommyLike commented on #310
@hzxuzhonghu please try the latest installation guide in master branch.

[2019-07-18 02:41] TommyLike commented on #335
This is done via #346

[2019-07-18 02:44] TommyLike commented on #347
@hzxuzhonghu  @k82cn  please add the todos if you think that is still missing.

@asifdxtreme thanks.

[2019-07-18 02:45] TommyLike commented on #323
chart is now in main repo. refer #347 for more requirements

[2019-07-18 02:45] #323 closed

[2019-07-18 03:02] TommyLike opened #348 "E2E test failed randomly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
[code]
log: https://travis-ci.com/volcano-sh/volcano/jobs/217097471

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware confi

[2019-07-18 05:55] #305 closed

[2019-07-18 06:40] hzxuzhonghu commented on #310
This can be closed now.

[2019-07-18 06:40] #310 closed

[2019-07-18 07:02] #218 closed

[2019-07-18 08:00] hzxuzhonghu opened #353 "vcctl failed to load kubeconfig files in `KUBECONFIG`"
Running the following, the env `KUBECONFIG` does not take effect.

[code]

[2019-07-18 09:28] TommyLike commented on #353
Kubeconfig has to be specified distinct. Need fix.
[code]

@asifdxtreme

[2019-07-18 11:42] william-wang opened #354 "Fix the queue jobs preemption error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The error is frequently reported when using job preemption in some cases.

**What you expected to happen**:
Error should not happen when using job preemption feature. The message is like:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. enable preempt action.
2. submit a first job with 4 tasks.  Make the

[2019-07-18 13:48] k82cn opened #357 "Added v1alpha2 as default CRD"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

We already have v1alpha2 CRD for PodGroup and Queue, it's better to use it by default in coming release.

[2019-07-19 02:22] hzxuzhonghu commented on #354
@william-wang Can you paste all related logs ?

[2019-07-19 07:38] hzxuzhonghu opened #359 "Race detection in test"
We need race detect in our test

/kind feature

[2019-07-19 08:12] lminzhw opened #360 "code in Statement.allocate and Session.dispatch is almost the same"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The code in this two functions is almost the same.

https://github.com/volcano-sh/volcano/blob/4492e6611afb463f0fdeda848a3e1efef2b07595/pkg/scheduler/framework/statement.go#L253

https://github.com/volcano-sh/volcano/blob/4492e6611afb463f0fdeda848a3e1efef2b07595/pkg/scheduler/framework/session.go#L298

**What you expe

[2019-07-19 08:13] hzxuzhonghu opened #361 "Migrate manifests from {extensions/v1beta1,apps/v1beta1,apps/v1beta2} to apps/v1"
xref: https://github.com/kubernetes/kubernetes/issues/43214

Kubenetes 1.16 will remove all the API above. We should make sure we migrate all `DaemonSets, Deployments, ReplicaSets, and StatefulSets ` to apps/v1 before k8s 1.16 is released.

[2019-07-19 08:23] hzxuzhonghu commented on #357
/assign

[2019-07-19 12:48] thandayuthapani opened #365 "E2E Test Scenarios for Predicates of Scheduler"
List of Missing Testcases for testing predicates

- [ ] Node Affinity case
- [ ] Pod Affinity case
- [ ] Pod Anti-Affinity case
- [ ] Taints case
- [ ] Taints case with toleration pods

[2019-07-19 12:49] thandayuthapani commented on #365
/assign

[2019-07-20 01:41] TommyLike opened #367 "[cleanup] Don't generate volcano-scheduler-ci configmap when generate release yaml"
Cleanup, see above.  now two configmapa are generated in command `make generate-yaml`
actually, we should drop `volcano-scheduler-ci` configmap.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provid

[2019-07-20 01:42] TommyLike commented on #359
@hzxuzhonghu  could you please add more detail?

[2019-07-20 02:10] k82cn opened #368 "The threshold of enqueue action should be configurable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

The threshold in enqueue actions is still hard code to 1.2 .

[2019-07-20 02:19] hzxuzhonghu commented on #359
`go test -race`

[code]

[2019-07-20 02:34] hzxuzhonghu opened #369 "Should make use of testing.Run"
We should make use of https://golang.org/pkg/testing/#T.Run, which can bring us the benefit that we can infer which case failed when there are multiple cases in a `TestXXX`

[2019-07-20 03:04] #365 closed

[2019-07-20 03:10] #339 closed

[2019-07-22 05:04] asifdxtreme commented on #353
/assign @SrinivasChilveri

[2019-07-22 05:20] asifdxtreme commented on #347
/assign

[2019-07-23 02:00] #325 closed

[2019-07-23 03:33] TommyLike commented on #347
@asifdxtreme do we created the cronjob for daily build? https://hub.docker.com/r/volcanosh/vc-controllers/tags

[2019-07-23 04:14] asifdxtreme commented on #347
![image](https://user-images.githubusercontent.com/9736066/61682193-4b9a1200-ad2e-11e9-94c1-0cf1df7f7a00.png)
it is schedlued to run in another 6 hours, last it was ran 18 hours ago(at that time the PR was not merged), I guess travis is using PST time to run the nightly builds

[2019-07-23 05:27] asifdxtreme opened #376 "All the documents related to Volcano are scattered at multiple places"
All the documents related to Volcano should be at one place in one repo so that we can avoid the duplication of the documents and it should be easy for user to find out the relevant documents.

So IMO we should move all the documents to https://github.com/volcano-sh/website/tree/master/content/en/docs and in our Readme we should give the reference of this instead of actual contents. The [website d

[2019-07-23 06:07] TommyLike commented on #347
@asifdxtreme thanks

[2019-07-23 06:29] k82cn commented on #376
If want to use webiste, please polish it firstly.

[2019-07-23 07:19] lminzhw opened #377 "Endless eviction found when replica of all job is 1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cluster in Volcano e2e test have 4 node that can assigned 12 pod with 1CPU in total.

I run a case that create 24 volcano job with 1 task requires 1 CPU. Obviously, half of them could not be scheduled by lack of resource.

But, I found no pod can stay in `Running` state for a long time and it will be evicted by action `re

[2019-07-23 09:13] TommyLike commented on #377
Related to this? https://github.com/kubernetes-sigs/kube-batch/issues/828

[2019-07-23 09:24] hzxuzhonghu opened #378 "Recreate long existing configs automatically when removed by accident"
We have some config resources like default queue, admission webhook configurations. Both can be maintained by volcano itself. I propose to maintain their lifecycle in related components.

[2019-07-23 09:33] TommyLike commented on #378
/kind feature

[2019-07-23 11:45] lminzhw commented on #377
Yes, It is the decision of `gang` plugin. But, I think the behavior of `gang` is not wrong, job with only one pod can be evicted normally.

What I concerned is that the eviction should not occur endless. And the job should have its chance to run to completion.

Moreover, I found that when `gang` plugin make a decision, the `proportion` plugin would be skipped. I think any plugin like `proportion`

[2019-07-23 12:19] hzxuzhonghu commented on #377
The reclaim and preempt is too violent, I think of :
1. for task (with job.MinAvailable = 1 ) should not become a candidate simply.
2. Tasks that have been running for a long time should not be reclaimed too.

[2019-07-23 14:50] asifdxtreme commented on #347
![image](https://user-images.githubusercontent.com/9736066/61722006-1f5eaf80-ad87-11e9-8486-080d5a056e38.png)
The images are getting updated, it will usually update around 18:00 CST everyday

[2019-07-23 15:00] asifdxtreme commented on #347
@TommyLike IMO we should keep this as manual step, these changes might need a manual intervention to decide whether the changes needs to be upstreamed to volcano/charts

[2019-07-23 23:34] TommyLike commented on #347
I am ok with this. Will close this.

[2019-07-23 23:34] #347 closed

[2019-07-24 02:31] hzxuzhonghu opened #384 "The job task resync logic is not right"
/kind bug

When i deleted several pods of volcano job, i see too many errors

[code]

[2019-07-24 03:13] hzxuzhonghu opened #386 "Valid policy action `RestartTask` is prevented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

[code]

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kerne

[2019-07-24 04:26] #386 closed

[2019-07-24 05:18] asifdxtreme commented on #266
@k82cn the related PR's for this feature has been merged, Can we go ahead and close this issue?

[2019-07-24 09:56] asifdxtreme commented on #376
okay I am working on the website to make it better, I will slowly migrate all the docs to website and once the website is in good shape then we can delete the docs from this repo and just keep 1 copy of the docs in the website.

/assign

[2019-07-25 04:24] SrinivasChilveri opened #388 "seems default queue creation during deployment is missing"
/kind bug

**What happened**:
[code]

**What you expected to happen**:

it should create the job

**How to reproduce it (as minimally and precisely as possible)**:
local deploy with minikube

**Anything else we need to know?**:

**Environment**:
- Volcano Version: latest code of commit 9d675f1db11b3fce145872c4b9ec69a12cd01712
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwa

[2019-07-25 04:43] thandayuthapani commented on #388
https://github.com/volcano-sh/volcano/blob/master/installer/README.md , README in installer directory has those steps to create default queue while deploying volcano.
[code]

[2019-07-25 04:58] SrinivasChilveri commented on #388
I had tried with the ./hack/local-up-volcano.sh  , so expecting this also take care by the script.

and in script

function install-volcano {
  # TODO: add a graceful way waiting for all crd ready
  kubectl apply -f ${RELEASE_FOLDER}/${YAML_FILENAME}
}

function uninstall-volcano {
  kubectl delete -f ${VK_ROOT}/installer/helm/chart/volcano/templates/default-queue.yaml
  kubectl delete -f ${RELEAS

[2019-07-25 06:22] TommyLike commented on #388
@thandayuthapani  @shivramsrivastava,  xuzhonghu made a change to create default queue in scheduler recently: https://github.com/volcano-sh/volcano/commit/5075d634d191b53c216c48217396e109ddf0d9c7

[2019-07-25 06:39] SrinivasChilveri commented on #388
@TommyLike  @hzxuzhonghu  @thandayuthapani , the problem is

in scheduler we are creating SchedulingV1alpha2 queue as shown below

if _, err := kbClient.SchedulingV1alpha2().Queues().Create(&defaultQue); err != nil && !apierrors.IsAlreadyExists(err) {
		panic(fmt.Sprintf("failed init default queue, with err: %v", err))
	}

but in admit job we are checking for the SchedulingV1alpha1().Queues()
so i

[2019-07-25 06:53] TommyLike commented on #388
@shivramsrivastava  it's here : https://github.com/volcano-sh/volcano/pull/364/files#diff-bc85b8e52ed48d401d5fe93f868f85b7R154

[2019-07-25 09:38] SrinivasChilveri commented on #388
As this is taken care in yet to merge PR
https://github.com/volcano-sh/volcano/pull/364 ,
so closing the issue.

[2019-07-25 09:38] #388 closed

[2019-07-26 02:52] william-wang opened #390 "The Gang and Drf preemption work together more reasonable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I'd like to use drf plugin to share resource among jobs in the same queue.
However the drf preemptionFn has no chance to be called as it is in Tier 2.

The Gang preemptionFn is always called to execute preemption. The DRF preemptionFn is only be called when Gang preemptionFn find no victims.  This is not reasonable for many use case

[2019-07-26 06:25] k82cn commented on #390
@william-wang , is there any potential solution for that case?

[2019-07-26 06:52] william-wang commented on #390
Actually, I have not got a good solution so far. There are two potential solutions.

1.  Chane the default configuraiion and move drf plugin to Tier 1 when preemt enabled.
  - call gang.preemptionFn against  preemptees (min>1) to get victims1
  - call drf.preemptionFn against all preemptees to get victims2
  - get intersection from victims1 and victims2

2. Change current tier/plugin design princi

[2019-07-26 07:24] #357 closed

[2019-07-27 10:18] k82cn commented on #134
/assign @hzxuzhonghu

[2019-07-27 10:19] k82cn commented on #134
@hzxuzhonghu , please help on this issue.

[2019-07-28 17:34] asifdxtreme commented on #353
/assign

[2019-07-29 07:48] william-wang opened #394 "The preemption is inaccurate in a period of time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currenlty, the preemp action use evict to delete pod with grace period, this causes the inaccurate preemption behavior in a period of time until the pod is killed forcely finnally.
And also cause more scheduling cycle.

Each time a pod is evicted with a grace period, there are two cases
Case 1:
- An UpdatePod event is triggered to r

[2019-07-30 00:48] Jeffwan commented on #244
It would be great to see some of the feature released by end of Aug. Do we consider to have a quarterly release cycle?

[2019-07-30 02:51] hzxuzhonghu commented on #244
Both are yes.

[2019-07-30 08:36] k82cn commented on #241
/close

All tasks are done.

[2019-07-30 08:36] #241 closed

[2019-07-31 02:21] hzxuzhonghu commented on #361
@Rajadeepan Can you help on this?

[2019-07-31 03:54] hzxuzhonghu opened #400 "Improve scheduling v1alpha1-> v1alpha2 conversion efficiency"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

We have v1alpha1 and v1alpha2 version Queue and PodGroup, and also maintains a internal used version, and the conversion between them is in-effficient, because they are using Json marshal and unmarshal.

So I propose to use the code-generator to gen the conversion function between different versions.

**What you exp

[2019-07-31 03:55] hzxuzhonghu commented on #400
/kind feature

[2019-07-31 03:55] hzxuzhonghu commented on #400
/area scheduling

[2019-07-31 04:35] hzxuzhonghu opened #402 "Umbrealla cleanups"
After kube-batch in-tree and inroducing v1alpha2, there are many import pkgs alias and varialbe names out of date. They are listed below, but not limited to.

Import:
[code]

Variables:

[code]

We can split the tasks by directories:

- [ ] pkg/controllers

- [ ] pkg/scheduler

- [ ] pkg/admission

- [ ] pkg/cli

- [ ] cmd and others

[2019-07-31 06:27] TommyLike commented on #402
what is Umbrealla  change?

[2019-07-31 06:33] hzxuzhonghu commented on #402
Just completed, lol

[2019-07-31 09:15] william-wang commented on #390
@k82cn
After evaluation, I suggest move drf plugin to Tier1. Please correct me if the idea is insufficient.
The reason is
- After move to tier1, there is no conflict with other plugins in Tier1. Please see the attachment.
- The drf plugin preemptionFn will benifit the Gang preemption in some cases.
Currently, the Gang preemptionFn does not have a good termination condition for preemption.
For exam

[2019-07-31 09:24] william-wang commented on #390
[PluginFn.docx](https://github.com/volcano-sh/volcano/files/3450877/PluginFn.docx)

[2019-07-31 09:47] william-wang commented on #394
Suggest evict the task with no grace period to avoid this kind of issue and also improve the preempt efficience.

[2019-07-31 11:40] #328 closed

[2019-08-01 12:19] #134 closed

[2019-08-02 01:38] #384 closed

[2019-08-02 06:53] chenyangxueHDU opened #403 "ssh plugin adds user flag"
**What happened**:
The ssh plugin has --no-root flag for common user ssh, but I need to cp/link .ssh dir to user home dir.

**What you expected to happen**:
I would like to add --user flag to mount ssh configmap to user home dir, like --user=someone, mount .ssh to /home/users/someone/.ssh

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Env

[2019-08-02 08:13] k82cn commented on #403
/cc @TommyLike @hzxuzhonghu

[2019-08-02 08:14] k82cn commented on #403
hm... how to change the ownership of `.ssh`?

[2019-08-02 08:15] k82cn commented on #394
/area scheduling
/kind bug

[2019-08-02 08:44] hzxuzhonghu commented on #403
Currently, the permission is 0600, which is decided by ssh.

@chenyangxueHDU Do you mean you want to use a specific user instead of root in your docker images?

[2019-08-02 09:56] TommyLike commented on #403
I guess he is asking whether volcano could mount the ssh config file into a user default folder, for instance `/home/user1/.ssh/`. This is not supported now, see https://github.com/volcano-sh/volcano/blob/1a856a19c44c41257d71de52e0a10c66bc001af9/pkg/controllers/job/plugins/ssh/ssh.go#L97

cc @k82cn  @hzxuzhonghu

[2019-08-05 02:36] chenyangxueHDU commented on #403
Yes, it's the problem. I think we can pass uid/gid, then we can change the ownership

[2019-08-05 02:38] chenyangxueHDU commented on #403
yes, I use the `runuser` to run the command.

[2019-08-05 02:39] chenyangxueHDU commented on #403
I know, so it is a feature

[2019-08-05 02:51] hzxuzhonghu commented on #403
It makes sense, we can provide a user flag for ssh plugin to allow users pass a user,  and make `root` as the default value.

And we should also prevent users from setting `RunAsUser` non root without providing the user name.

[2019-08-05 02:56] chenyangxueHDU commented on #403
Yes

[2019-08-05 06:20] k82cn commented on #403
That's OK to me to have such feature, some HPC user would like to run application as no-root user.

[2019-08-05 06:32] hzxuzhonghu commented on #403
/assign

[2019-08-05 06:55] TommyLike commented on #403
what if I provide a non-exists user?

[2019-08-05 08:47] hzxuzhonghu commented on #403
Good question， the answer is job will definitely fail.
We can not detect whether the user exists by the volcano job template. This should be guaranteed by users.

[2019-08-08 02:54] #135 closed

[2019-08-08 04:06] goversion opened #409 "How to use privilege container with Volcano?"
**What happened:**

I need to use privilege level in a volcano job's yaml file, which is to add “privileged: true” to the yaml file.

When creating the job, the following error will be reported.

[code]

Note that kube-apiserver and kubelet have been set "privilege=true".

Enter the following command to delete the settings related to volcano admission. I can avoid the above error when creating the

[2019-08-08 08:15] hzxuzhonghu commented on #409
@goversion  Thanks for reporting, it seems a bug, which we did not consider before.

[2019-08-12 02:59] k82cn opened #410 "Enhance Binpack for dominant resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

In binpack plugin, we consider all resources almost equally (with weight); but there's a problem that  the cpu/mem maybe exhausted but GPUs are idle, and those GPU can not be used because GPU apps also need some cpu/mem to run.

The solution in my mind is to also consider dominant resource of node; and the binpack plug

[2019-08-12 03:00] k82cn commented on #410
/area scheduling

[2019-08-12 03:00] k82cn commented on #410
/cc @lminzhw

[2019-08-12 03:00] k82cn commented on #410
/cc @hex108 @Jeffwan

[2019-08-12 03:01] k82cn commented on #409
/assign @hzxuzhonghu , would you help on that?

[2019-08-12 03:42] hzxuzhonghu commented on #409
/assign

[2019-08-12 04:27] hzxuzhonghu commented on #409
Given to the validation in-consistent in volcano and kube-apiserver. I would suggest introducing max-retry to volcano, so we can prevent endless retry.

[2019-08-12 04:27] hzxuzhonghu commented on #409
Maybe i should file a new issue.

[2019-08-12 11:10] hzxuzhonghu commented on #261
@asifdxtreme @k82cn The https://coveralls.io/ website id down, which blocks volcano pr merge.

Can we skip coverage temporarily?

[2019-08-13 08:47] hzxuzhonghu opened #413 "Skip code coverage temporarily"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Currently https://coveralls.io/github/volcano-sh/volcano?branch=master is down, we should disable codecoverage ci to unblock pr merge.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (u

[2019-08-13 09:41] #413 closed

[2019-08-16 09:15] CuZn13 opened #417 "Maximum scheduling switch. Scheduling more pods in one scheduling cycle improves performance"
Sometimes more pods need to be scheduled as soon as possible. Add a configuration item that allows all pending pod to be scheduled within a scheduling cycle. Instead of scheduling only minMember pods

[2019-08-16 11:47] k82cn commented on #417
We do allocate all pending job within one scheduling cycle.

We can not allocate all resource to one job :)

[2019-08-20 02:23] hzxuzhonghu commented on #244
@wangyuqing4 @TommyLike @william-wang @lminzhw @sivanzcw Can you leave a message about your task status? We plan to release V0.2 by the end of Aug.

[2019-08-20 03:27] william-wang commented on #244
@hzxuzhonghu Here is the status from me.
#355 reviewing
#404 writting design doc and test more cases.

[2019-08-20 06:34] k82cn opened #423 "Build ci steps for different e2e test."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

For now, we have ~70 e2e tests which take a really long time to re-run the whole e2e tests. It's better to separate those e2e tests into different steps/catalog, e.g. job, scheduling, cli. application. And we should have different package/directory for those e2e tests :)

[2019-08-20 06:35] k82cn commented on #423
/cc @TommyLike @hzxuzhonghu

[2019-08-20 07:01] k82cn opened #425 "Update PodGroup's status by PodGroupController"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, the PodGroupController will manage PodGroup's lifecycle, it's better to let PodGroupController to update PodGroup's status instead of scheduler; that'll also help to reduce scheduler's QPS :) Because of DelayPodCreation, the `InQueue` state has to be updated by scheduler.

[2019-08-20 07:01] k82cn commented on #423
/area test

[2019-08-20 07:02] k82cn commented on #425
/area controllers

[2019-08-20 07:19] k82cn commented on #244
please help to move the items to v0.3 if you can not get PRs merged before next Monday :)

ping me if any review required :)

[2019-08-20 08:35] k82cn opened #426 "Support feature versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

There're several features in volcano right now; not only scheduling algorithm but also job management. It's better to manage those features by version, e.g. Alpha, Beta, GA, that'll be helpful for user to evaluate which features should be enabled in their environment.

[2019-08-20 08:35] k82cn commented on #426
/cc @kevin-wangzefeng @hzxuzhonghu

[2019-08-20 12:24] TommyLike commented on #244
@hzxuzhonghu Currently I am working on spark-operator support volcano scheduler. So it's not guaranteed that can be merged before the deadline, but I will keep working on this tomorrow.

[2019-08-21 02:34] k82cn commented on #244
@TommyLike , please continue the work on spark-operator, it's high priority for now.

[2019-08-21 08:08] TommyLike opened #427 "Support retrigger PR build in CI Bot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
This is from #422, we need provide a convenient way for developer to re-trigger the build other than travis CI web.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `k

[2019-08-23 02:10] yuanchen8911 opened #428 "Skip jobs that have successfully completed the specified number of pods or already reached its parallelism"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The current scheduler does not check if a job has successfully completed the specified number of pods defined in the job file by 'completions'. As a result, it repeatedly performs many unnecessary operations. Also, it does not check the job's parallelism parameter, which can cause inefficiency too.

**What you expect

[2019-08-23 08:45] k82cn commented on #428
@yuanchen8911 , which kind of workload requires this feature, e.g. Spark, TF?

[2019-08-23 20:15] yuanchen8911 commented on #428
My point is that **the batch scheduler should check the _completions_ and _parallelism_ parameters as the K8S scheduler does**. Otherwise, what's the point of having the two parameter in a job description file? https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller.go

"_Job specifies a number of completions.  This type of job signals success by having that number o

[2019-08-27 01:52] felix5572 commented on #308
Organization:Peking University, Beijing Institute of Big Data Research.
Environment: Evaluation
Contact: me.   @felix5572
Description of Use: scientific calculations in physics, materials , biology and chemistry. molecular dynamics simulation.

[2019-08-27 05:54] k82cn commented on #244
@Jeffwan , nop, please open an issue for it.  we can try to have it next release.

[2019-08-27 23:30] k82cn commented on #428
That dependent on job controler to handle that, e.g. create pods based on parallelism parameters. Scheduler only care about the pod that created.

Agree with that, so is there any specific framework we can not cover right now? Generally, it's better to update/change API based on requirements, e.g. specific framework or user scenario :)

[2019-08-31 02:35] hzxuzhonghu commented on #194
@maprietom The pods created by volcano job controller is in the same namespace as the volcano job.

We do not support changing the ns of the jobs. This behavior is like native k8s job.

[2019-08-31 02:35] #194 closed

[2019-08-31 03:00] hzxuzhonghu commented on #199
close now, if you @maprietom  feel it is not resolved please feel free to open it.

[2019-08-31 03:01] hzxuzhonghu commented on #108
I think mostly fixed.

[2019-08-31 03:01] #108 closed

[2019-08-31 03:12] hzxuzhonghu commented on #147
It is done in #358

[2019-08-31 03:12] #147 closed

[2019-08-31 03:15] hzxuzhonghu commented on #272
move this feature to 0.3

[2019-08-31 03:22] hzxuzhonghu commented on #229
Is there a reported issue?

[2019-08-31 03:34] hzxuzhonghu commented on #359
completed

[2019-08-31 03:34] #359 closed

[2019-08-31 03:43] #266 closed

[2019-08-31 03:58] hzxuzhonghu commented on #410
Is #380 addressed this?

[2019-08-31 06:21] lminzhw commented on #410
No, #380 support the basic binpack policy, but the problem in this issue still exist.

[2019-08-31 06:24] hzxuzhonghu commented on #400
finished

[2019-08-31 06:24] #400 closed

[2019-09-03 09:18] k82cn opened #430 "Avoid greedy user set unreasonable `.spec.minResources`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we support `spec.minResource` in `PodGroup` for enqueue action. There're some potention issues :

1. a greedy user many set an unreasonable `minResource` to get more chance to be scheduled
1. some pods may exit in a short, while others take a long time to finish; but the `minResources` is still there checked

[2019-09-04 10:23] hzxuzhonghu opened #432 "[Bug] Install volcano failed on kubernetes master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

run ` kubectl apply -f installer/volcano-development.yaml`, the install failed

It seems the `volcano-admission-init ` job failed.
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

This occurs in k8s new version
[code]

**Env

[2019-09-04 10:32] hzxuzhonghu commented on #432
/cc @TommyLike

[2019-09-04 11:43] hzxuzhonghu commented on #432
`error: SchemaError(sh.volcano.batch.v1alpha1.Job.spec.policies.events): array should have exactly one sub-item
`

It is related to crd validation,

[2019-09-05 05:50] davidstack opened #436 "when pod CrashLoopBackOff,the job status should be failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
i test create tf-sample ,when i got this status
[code]
but the job status is running

[code]
**What you expected to happen**:

when one task failed, the job should in failed status
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
-

[2019-09-05 07:16] hzxuzhonghu commented on #436
Fair point,  In this case we should have set a fixed number of retry, and mark it fail to prevent useless running.

[2019-09-05 07:17] hzxuzhonghu commented on #436
@davidstack Can you try with https://github.com/volcano-sh/volcano/pull/412 ?

[2019-09-05 08:15] #432 closed

[2019-09-05 08:44] #409 closed

[2019-09-05 08:50] davidstack commented on #436
@hzxuzhonghu after set the maxRetry, it has the same problem.
`
 apiVersion: batch.volcano.sh/v1alpha1
 kind: Job
 metadata:
   name: tensorflow-benchmark
   labels:
     "volcano.sh/job-type": "Tensorflow"
 spec:
   minAvailable: 3
   schedulerName: volcano
   maxRetry: 2
   plugins:
     env: []
     svc: []
`

[2019-09-05 12:22] k82cn commented on #436
/assign @hzxuzhonghu

[2019-09-06 01:11] hzxuzhonghu commented on #436
ok, let me investigate.

[2019-09-06 02:19] k82cn opened #438 "Identify the worker nodes for scheduler."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Open an issue according to https://github.com/volcano-sh/volcano/pull/435 by @suigh ; that's a valid case to me, and we should handle that.

This logic is used to remove the nodes (E.g. master) that cannot be used.

The related logic in precidate will still keep there in case reusing them in the future.

This fix can resol

[2019-09-06 02:20] k82cn commented on #438
We close https://github.com/volcano-sh/volcano/pull/435 and open an issue here to discuss the solution for that case :)

[2019-09-06 06:33] gaocegege commented on #308
Organization: Caicloud
Environment: Evaluation
Contact: @gaocegege
Description of Use:  Scheduler for Distributed DL training jobs

[2019-09-06 07:20] k82cn commented on #438
/cc @suigh

[2019-09-11 13:21] k82cn opened #447 "Support zone aware scheduling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

The nodes in the cluster maybe from different zones; there maybe several benefits if all tasks of the job were scheduled to the same zone, e.g. low latency. So it's better for Volcano to support zone aware scheduling :)

[2019-09-11 13:46] jiangkaihua opened #448 "vcctl only reads the ~/.kube/config and neglects $KUBECONFIG"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
When I created a local k8s cluster using `~/kubernetes/hack/local-up-cluster.sh`, the guideline suggested me to `export KUBECONFIG=/var/run/kubernetes/admin.kubeconfig` instead of creating a new config in `~/.kube/`. Then the `vcctl` command line reported `Failed to list job: stat /root/.kube/config: no such file or

[2019-09-11 17:36] Jeffwan commented on #447
Thanks for @k82cn creating this issue.  Add my requirements here.

Basically, in order to get higher availability and mitigate the risk of not having enough capacity in single AZ, users create EKS worker node groups across multiple availability zones (AZs).

For **spark** applications, *Shuffling* is very common and it’s a process of redistributing data across partitions that may or may not cause

[2019-09-12 00:49] hzxuzhonghu commented on #448
duplicate with #353

[2019-09-12 03:06] k82cn opened #449 "Failed to build release package"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

There's no .git info in release package, and got following error when try to build the binaries :

[code]

[2019-09-16 01:32] k82cn commented on #447
That's great! We'll make it configurable :)

[2019-09-16 01:58] TommyLike commented on #449
We may help end user to setup the correct Image Tag before executing make images command, for instance:
[code]
But for this issue, it's because it's not a valid go root path, see:
[code]

[2019-09-16 03:38] k82cn commented on #449
I mean the following errors:

[code]

[2019-09-16 06:37] alartin commented on #308
Organization: GrandOmics
Environment: Evaluation
Contact: @alartin
Description of Use:  Infrastructure of Hanwell (Huawei Cloud backend of Cromwell which is a Broad Institute implementation of WDL)

[2019-09-16 07:21] chenyangxueHDU opened #450 "Fail to get /etc/volcano/.ssh"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i use ssh(no-root=true) and svc plugins, there is no `/etc/volcano/.ssh`.

**What you expected to happen**:
`/etc/volcano/.ssh` existed.

**How to reproduce it (as minimally and precisely as possible)**:
use ssh(no-root=true) and svc plugins

**Anything else we need to know?**:

**Environment**:
- Volcano Version:v0.1
- Kuberne

[2019-09-16 08:03] tsjsdbd commented on #308
Organization:  [Huawei Cloud](https://huaweicloud.com/)
Environment: **Production**
Contact: [@tsjsdbd](https://github.com/tsjsdbd)
Description of Use:  Scheduler & Job Management of AI Container Service and CCI

[2019-09-17 03:01] tall49er commented on #448
I would like to work on it.

[2019-09-17 03:02] tall49er commented on #448
So it just need to look for KUBECONFIG if default config file is missed. Is that correct?

[2019-09-17 03:45] hzxuzhonghu commented on #448
/assign @tall49er

correct

[2019-09-17 03:47] nicklhy opened #452 "Failed to launch mpijob after installing volcano"
Hi everyone,
I am trying to use the gang-scheduler in my k8s/kubeflow cluster and installed volcano following the tutorial [here](https://www.kubeflow.org/docs/use-cases/job-scheduling/) and [here](https://github.com/volcano-sh/volcano).
[code]
However, some error messages came up when I launched the mpijob. It seems the job queue is not working properly.
[code]
The pods are all in "Pending" state

[2019-09-17 07:20] k82cn commented on #452
It seems default queue was not created :)

/cc @TommyLike @hzxuzhonghu

[2019-09-17 07:22] k82cn commented on #450
@wangyuqing4 , would you help to check that?

[2019-09-17 07:50] chenyangxueHDU opened #453 "Can we make env plugin work in the initContainers?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i use env plugin, there is no `VK_TASK_INDEX` env in the initContainers.
**What you expected to happen**:
initContainers also have `VK_TASK_INDEX` env
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:v0.1
- Kubernetes version (use `kubectl

[2019-09-17 08:03] k82cn commented on #453
/kind bug

Yes, we should also support that :)

[2019-09-17 08:03] k82cn commented on #453
/area controllers

[2019-09-17 08:19] nicklhy commented on #452
BTW, the mpijob can be launched successfully if I did not add "--enable-gang-scheduling true" in the mpi-operator args [here](https://github.com/kubeflow/mpi-operator/blob/a657fd48119de888ac0bc2733996f7c8ce850348/deploy/mpi-operator.yaml#L193)
[code]
I guess this means the mpi-operator with original k8s scheduler works well.

[2019-09-17 08:31] wangyuqing4 commented on #450
@chenyangxueHDU , i check it, i can see file (/etc/volcano/.ssh),  use **ssh: ["--no-root"]**, can you help to check it?

[2019-09-17 09:17] jiangkaihua opened #454 "'vcctl job run' executes with no arguments"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
when I use the command line `vcctl job run` , I forget to add arguments such as `-N job-name` and enter, then the `vcctl` executes the job `test` automatically as below:
![捕获](https://user-images.githubusercontent.com/54176503/65028173-34faea80-d96e-11e9-9c4c-0de9cb669403.PNG)

**What you expected to happen**:
report my

[2019-09-17 11:56] k82cn commented on #450
@chenyangxueHDU , would you help to share the yaml file and the log of controller?

[2019-09-17 11:57] k82cn commented on #452
If there're always enough resource to run all mpijobs, gang-scheduling is not necessary.

[2019-09-17 11:58] hzxuzhonghu commented on #453
@chenyangxueHDU Why do u need this in initcontainer?

[2019-09-17 11:58] hzxuzhonghu commented on #453
/assign

[2019-09-17 11:59] hzxuzhonghu commented on #454
/assign @jiangkaihua

[2019-09-17 12:06] hzxuzhonghu commented on #452
@nicklhy What's your volcano version?

[2019-09-17 12:12] hzxuzhonghu commented on #452
Maybe the `default` queue is deleted by accident. The volcano 0.2, we create the `default` queue during the volcano-scheduler bootstrap.

[2019-09-18 01:03] nicklhy commented on #452
@hzxuzhonghu I just installed volcano (maybe two days ago) by `kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml`. That should be the newest version ?

[2019-09-18 01:37] TommyLike commented on #452
hey @nicklhy it seems that's not related to the default queue not exists, but your job never get enqueued.
[code]
you can verify the existence of queue via command `kubectl get queues.scheduling.sigs.dev`

BTW we should not use this yaml `https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml` for tryout since it's used as the development purpose. it will al

[2019-09-18 02:05] nicklhy commented on #452
@TommyLike Thank you for your reply !

I just reinstalled volcano v0.2 like `kubectl apply -f volcano-0.2.yaml` and relaunched my mpijob. But the jobs still remains in pending state.

The existence of "default" queue has been verified
[code]
But the volcano-controller is still not able to find the queue
[code]
[code]

[2019-09-18 02:49] hzxuzhonghu commented on #452
This is not a error, it is a misleading warning. It is because the podgroup has not been watched.

BTW, @nicklhy can you see other failure?

[2019-09-18 02:57] k82cn commented on #454
oh, we provide default job name here; I think we should reject empty job name.

[2019-09-18 03:04] angao opened #455 "installer: admission init job is unnecessary"
I found admission init job is unnecessary in `installer/volcano-deployment.yaml` file, why not using init container in volcano-admission deployment instead of admission init job?

[2019-09-18 03:06] angao commented on #455
/area admission

[2019-09-18 03:06] angao commented on #455
/area installer

[2019-09-18 03:07] angao commented on #455
@k82cn

[2019-09-18 03:08] angao commented on #455
/assign @k82cn

[2019-09-18 03:12] nicklhy commented on #452
I did not find any failure logs so far, but noticed the status of the PodGroup looks strange
[code]
The mpijob I launched is a horovod model training program that requires 2 workers (1 gpu for each worker). I am sure the cluster has enough gpu resources now.

[2019-09-18 03:35] hzxuzhonghu commented on #452
would you mind providing more scheduler logs?

[2019-09-18 03:40] nicklhy commented on #452
Do you mean the logs of volcano-scheduler ? The logs just keep repeating what I provided previously.
[code]

[2019-09-18 04:01] TommyLike commented on #452
@nicklhy I guess it's all because of the design has changed in the volcano repo while it's not updated in kubeflow, this below is the podgroup the kubeflow created.
[code]
while now we need to set the queue name and resource for podgroup now.
[code]

@k82cn  @hzxuzhonghu someone need to check and sync this in kubeflow project.

[2019-09-18 04:09] TommyLike commented on #455
@angao  thanks, it's not unnecessary, it's used to generate the secret that will be used for admission service, feel free to update the yaml if you feel it's a better solution then.

[2019-09-18 06:04] k82cn commented on #452
If minResource is nil, it'll be inqueue by default; the default queue name is `default`. Is there anything missed?

[2019-09-18 06:11] k82cn commented on #455
We used to discuss this: if admission pod failed, the secretes will be re-created by initContainer  which is not necessary. Anyway, I'm ok to move it to initContainer :)

[2019-09-18 07:34] hzxuzhonghu commented on #452
/assign

I will try to reproduce in my local env.

[2019-09-18 07:47] hzxuzhonghu commented on #455
From my understanding, we should not move this to init container, try to think when we scale up the admission controllers.

[2019-09-18 07:53] angao commented on #455
@hzxuzhonghu   which scenarios the admission controller will scale up?

[2019-09-18 07:56] angao commented on #455
yes, I agree. So both are ok.

[2019-09-18 07:57] angao commented on #455
/close

[2019-09-18 07:57] #455 closed

[2019-09-18 08:03] hzxuzhonghu commented on #452
at first glance, i saw the mpi-operator is not working well.

[code]

[2019-09-18 08:55] chenyangxueHDU commented on #453
before the job container running, i will `mkdir` on the `glusterfs` in the initContainers, and only one pod will do this.

[2019-09-18 09:04] chenyangxueHDU commented on #450
sure.

[code]

[2019-09-18 09:05] chenyangxueHDU commented on #450
[code]

[2019-09-18 10:11] TommyLike commented on #450
Our job's crd yaml doesn't include the detail of plugins (bug?). This may leads to missing of plugin parameters when creating job resource in API serve
r. @chenyangxueHDU you can verify this by checking the status of job to see whether `plugin` attribute is really there.
[code]
cc @wangyuqing4

[2019-09-18 11:51] k82cn commented on #450
@TommyLike , would you help to verify that firstly?

[2019-09-19 02:07] chenyangxueHDU commented on #450
sure.

kubectl get job.batch.volcano.sh mxnet-job -o yaml

[code]

[2019-09-19 02:15] chenyangxueHDU commented on #450
kubectl describe po mxnet-job-worker-0

[code]

kubectl exec -it mxnet-job-worker-0 ls /etc/volcano/.ssh

[code]

[2019-09-19 04:19] hzxuzhonghu opened #457 "Podgroup conditions set wrong"
When i tested MPI, and I used volcano to schedule 3 pods by creating a podgroup.

After running up, then one pod exited. And there are now only 2 pods running. But i can see the podgroup.status.conditions is wrong.

[code]

It has already scheduled all the pods, this status is absolutely not what i expect.

[2019-09-19 05:59] asifdxtreme opened #458 "List Volcano in Operator Hub"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Can we list Volcano in https://operatorhub.io/ , this will add visibility for Volcano

[2019-09-19 06:08] asifdxtreme opened #459 "Add Adopters/Users list or reference in main README file."

[2019-09-19 06:38] k82cn commented on #458
that'll be great !

[2019-09-19 07:09] asifdxtreme commented on #458
https://operatorhub.io/contribute ... Seems some work needs to be done to list it on the website, it will be great if someone from the community can take up this work.

[2019-09-19 07:48] hzxuzhonghu opened #461 "Pod with initcontainer resource request can not be scheduled"
When create a pod with initcontainer and normal containers, and the init container has resource requests, but the normal container has not set it. In such case, the pod will be pending forever.

[2019-09-19 07:49] hzxuzhonghu commented on #461
/cc @k82cn

[2019-09-19 12:19] hzxuzhonghu commented on #450
@chenyangxueHDU I verified

[code]

Could you check whether the configmap exists?

`kubectl get cm mxnet-job-ssh `

[2019-09-19 12:25] hzxuzhonghu commented on #453
There is no difference for you to `mkdir` in initcontainer or in normal container, assume you have 2 pods per task, each pod share the same pod template. In other word, you will have 2 init containers too.

[2019-09-20 11:17] chenyangxueHDU commented on #450
[code]

[2019-09-20 22:12] y1k333 commented on #452
Hi @hzxuzhonghu , I have the same problem with kubeflow tf-job-operator, after I added "enable-gang-scheduling=true", my jobs are pending forever and I got these errors from volcano-controllers logs:
[code]
And I think the tf-job-operator works fine because from logs I can see that "Finished syncing tfjob \"kubeflow/mnist\"
Also logs from volcano-scheduler are like this:
[code]
Do you have any sug

[2019-09-21 01:40] hzxuzhonghu commented on #452
@y1k333  I am sure this is because the scheduler name in ` tf-job-operator` is `kube-batch`, but it should be `volcano`

[2019-09-21 01:42] hzxuzhonghu commented on #452
The #456 should fix the endless logs in queue-controller

[2019-09-21 01:48] hzxuzhonghu commented on #450
I am not sure why the age is invalid.

[2019-09-21 02:35] y1k333 commented on #452
Hi @hzxuzhonghu, thanks very much for replying, I changed the `schedulerName` to `volcano` and now I got these logs:
[code]
Looks like my job still cannot get scheduled.  Do you know what's wrong with this?

[2019-09-21 10:45] #454 closed

[2019-09-23 04:03] hzxuzhonghu commented on #452
@y1k333 This is a bug in scheduler, please ref: #461.

ping @k82cn  I am not sure how should we fix it.

[2019-09-23 07:03] k82cn commented on #461
I think we already cover for this case, any clue on code?

[2019-09-23 07:42] hzxuzhonghu commented on #461
Yes,  the below logic set deserved to zero.

[code]

and in allocate , the queue is overused.

[code]
/cc @lminzhw

[2019-09-23 07:43] hzxuzhonghu commented on #461
We are not sure how scheduler considers init container resource request during the schedule.

[2019-09-23 08:27] hzxuzhonghu commented on #436
@davidstack It is because when crashloopback, the pod phase is still running. The RestartPolicy of pod is ALways by default.

[2019-09-23 08:29] hzxuzhonghu commented on #436
To enhance this scenario, in volcano we should prevent the endless and meaningless retries.

[2019-09-25 04:03] k82cn commented on #461
We need to check resource with `initContainers`; if there's not enough resource to start, we should not schedule it.

[2019-09-25 12:40] hzxuzhonghu commented on #461
It is not that,  i suggest u have a look at the above code

[2019-09-26 16:50] matthewygf commented on #452
Hi guys,
i have a similar problem, however i am trying the simplest, example/job.yaml
i would just get time out with `vkctl job run -f job.yaml`

i have verified that i have the default queue created in CRD.

can you please advice?

[2019-09-27 02:25] hzxuzhonghu commented on #452
@matthewygf I donot think `job.yaml` can be run, it is just a demo show, and the volume does not exist.

[2019-09-27 02:40] k82cn commented on #452
@hzxuzhonghu , if we did not support it anymore, let's remove it. That's really wired that we put an example there, but it does not work :(

[2019-09-27 02:49] hzxuzhonghu commented on #452
Yep, it is a legacy one. let me remove it.

[2019-09-27 06:36] k82cn commented on #452
If so, any example for matthewygf@ to have a try?

[2019-09-27 07:11] hzxuzhonghu commented on #452
`example/integrations/mpi/mpi-example.yaml` `example/integrations/tensorflow/benchmark/tf-example.yaml` both work, i have tried.

[2019-09-27 07:13] hzxuzhonghu commented on #452
@nicklhy I find there are so many bugs in mpi-operator, would suggest you trying volcano job. It has more advanced lifecycle management.

[2019-09-27 07:26] nicklhy commented on #452
@hzxuzhonghu Oh, I didn't realize volcano supports such functions before. Maybe you can put more details or a doc url in README.
Anyway, I will let you guys know if it works after trying it.

[2019-09-27 08:45] nicklhy commented on #452
@hzxuzhonghu It seems I can not set GPU numbers of the workers. Once I add the following lines in [here](https://github.com/volcano-sh/volcano/blob/59dc80d879d428831b57a4b9707f373b346e25de/example/integrations/mpi/mpi-example.yaml#L49), the job can not be launched.
[code]
[code]

[2019-09-27 09:05] nicklhy commented on #452
Besides, the job would fail if I replace the image and commands of my own needs.
[code]
Do I need to do any extra settings related to the network ?
My config looks like below
[code]

[2019-09-27 12:09] k82cn commented on #452
[code]

Should `ssh` use key in `~/.ssh`? By default, we put private & public key in `/root/.ssh` :)

[2019-09-27 12:10] k82cn commented on #452
That's a good idea!

[2019-09-27 19:53] yuanchen8911 opened #469 "Dynamic resource allocation support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Our batch jobs (e.g., Spark)  needs to dynamically request and release pod (executor) resources at runtime.  Do volcano's Podgroup and batch scheduler support dynamic resource allocation and how?  It seems the Spark operator implementation simply kills the existing application and restarts new one. It's apparently un

[2019-09-29 01:19] nicklhy commented on #452
Yeah, this is what I am confused about. I didn't see any doc about the usage or how you designed the volcano jobs. Do I need to prepare the ssh keys in my docker images, or volcano will just insert one into the containers automatically ?
And as the next error shows, the hostname is also not properly set.

Are there any naming rules about the job ? Or any other things I should take care ?

[2019-09-29 01:35] k82cn commented on #469
xref https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/641

[2019-09-29 03:29] hzxuzhonghu commented on #452
https://github.com/volcano-sh/volcano/blob/9cdbf7e814f8785153e139abeeb983b2121f9a0d/pkg/controllers/job/plugins/svc/svc.go#L174-L198

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#

[2019-09-29 11:24] k82cn commented on #452
By default, job controller will help to generate ssh private/public for you if `ssh` plugin enabled. Those keys are put into `/root/.ssh` :)

We also create headless service for each job; but there're some delay for DNS.

[2019-09-29 11:27] k82cn commented on #452
@nicklhy , if there're still issue, please ping me at slack; both k8s slack and volcano-sh slack are ok :)

[2019-09-30 22:50] yuanchen8911 commented on #308
Organization: JD Retail Infrastructure Department
Environment: Evaluation
Contact: @yuanchen8911
Description of Use: Spark on K8S

[2019-10-06 11:53] minyk commented on #308
Organization: kt NexR
Environment: Evaluation
Contact: @minyk, @dieselnexr
Description of Use: spark scheduler of our next cloud native product.

[2019-10-07 09:07] MonkeyLi opened #470 "Meet an error when using go mod to manage volcano"
/kind bug

**What happened**:
Using go mod to define the dependency, excute "go mod tidy". And when it download the volcano module and try to unzip it, it occurs an error

"-> unzip XXXX\go\pkg\mod\cache\download\volcano.sh\volcano\@v\v0.0.0-20190927155439-9cdbf7e814f8.zip: malformed file path "example/huawei-connection/Volcano：基于云原生的高密计算解决方案.pptx": invalid char '：'"

**Environment**:
- Volcano Ve

[2019-10-07 09:12] k82cn commented on #470
@MonkeyLi , are you using master branch? It seems because of Chinese characters in file name, let me update it :)

[2019-10-07 09:19] k82cn commented on #470
@MonkeyLi , please have a try :)

[2019-10-08 01:05] MonkeyLi commented on #470
@k82cn It is solved, thanks

[2019-10-08 01:22] k82cn commented on #470
Great! I'm going to close this issue :)

[2019-10-08 01:22] #470 closed

[2019-10-09 04:09] nicklhy commented on #452
@k82cn I finally resolved my problems mentioned above and the main reason is the default user of my custom docker image is not root.
At first, I just changed the ssh service launch command to `sudo /usr/sbin/sshd` and the ssh key error was easily resolved. But the dns error still exists no matter how many times it restarts.
Then, I changed the default user back to root in my Dockerfile. This time,

[2019-10-09 06:02] #452 closed

[2019-10-09 06:43] nicklhy opened #474 "How to schedule gpus in volcano mpi job ?"
Currently, I am able to launch the hello-world job with mpi-example.yaml successfully. But as I mentioned [here](https://github.com/volcano-sh/volcano/issues/452#issuecomment-535851592), once I add the lines below following the official [tutorial](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/), the job stays in pending state forever.
[code]
The log of volcano-scheduler is pasted be

[2019-10-09 07:11] k82cn commented on #474
/cc @lminzhw

[2019-10-09 07:40] lminzhw commented on #474
**TLDR**: I think add resource requirement into master pod may solve this problem.

Aha, Your log show what scheduler do in this session precisely.
[code]

There is transaction during pod allocating. And pod without resource requirement would be allocated in backfill action but not allocate action.

So in this case, that allocation transaction treat this job gang unsatisfied and discarded the resu

[2019-10-09 08:11] nicklhy commented on #474
@lminzhw Just tried adding the resource requirement into master pod and the job was launched successfully. **But this would result one gpu device wasting.**

Another question, there is a parameter named "slotsPerWorker" in kubeflow/mpi-operator. Is there a similar one in volcano mpi-job ? If no, how should I let the program know that I want to use multiple gpus on each machine instead of just mult

[2019-10-09 08:35] lminzhw commented on #474
@nicklhy
### Q1
That resource requirement is just a placeholder and adding `cpu: 1` may be enough.
### Q2
xref: https://www.open-mpi.org/faq/?category=running#mpirun-scheduling

The hostfile and `--host` arguments have its own method to describe multi-slot for a node.

To describe node have 2 slots using hostfile
[code]

To describe node0 have 4 slots using `--host` arguments.
[code]

So, for your

[2019-10-09 08:45] lminzhw commented on #474
That `xref` is the config for `mpirun` or `mpiexec` command.

On Pod level, you can use 8 pod requires 8 gpu to gurantee that pod will occupy the whole machine and be scheduled on exactly 8 nodes finally. (may be hard to scheduled when cluster is occupied by others)

Or use 64 pod requires 1 gpu and use scheduler `binpack` policy to schedule them into same node. (may be not exactly 8 node occupied

[2019-10-09 09:03] k82cn commented on #474
We may consider to add a plugin in job controller for that to make it easy to use.

[2019-10-09 09:25] nicklhy commented on #474
@lminzhw Thank you so much for the reply. But I am still a little bit confused for Q2.

I know how to do multi-gpu scheduling just like you mentioned above when manually executing mpirun commands. But when writing the job yaml files, the original command is
[code]
Do I need to explicitly set the host names here?
[code]
Notice the hostfile is not written by volcano users. We should be able to set m

[2019-10-09 09:52] lminzhw commented on #474
@nicklhy

As mentioned by @k82cn  , we may add this behavior into plugin later.

But now, we could still achive this goal by using command like this.

[code]

Every host in MPI_HOST would be treat as having 2 slots by using this variable twice.

So, pod with 8 slot may represent by `--host ${MPI_HOST},${MPI_HOST},${MPI_HOST},${MPI_HOST},${MPI_HOST},${MPI_HOST},${MPI_HOST},${MPI_HOST}`.

Aha, this

[2019-10-09 10:18] nicklhy commented on #474
@lminzhw Just verified your advice and it runs well. Really appreciate your valuable help !

I am also looking forward to your new plugin that implements this feature. The solution right now is not cool at all hahaha.

[2019-10-09 10:18] #474 closed

[2019-10-09 10:57] lminzhw opened #475 "Add support for mpi slots in plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Xref: https://github.com/volcano-sh/volcano/issues/474
The slots info could only be added to `mpiexec` by using shell command.

**What you expected to happen**:
Have a plugin to handle the slots or others info.
Finally, the `mpiexec` command can use the host info directly but not generate it by shell command.

[2019-10-09 12:01] k82cn commented on #475
/cc @nicklhy

[2019-10-09 12:02] k82cn commented on #475
/assign @hzxuzhonghu , please help on this feature :)

[2019-10-10 03:12] ldd91 opened #476 "Install volcano fail in kubernetes 1.15"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**What happened**:
I exec kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml  in my kubernetes enviroment(version 1.15),however when i exec kubectl get pod -n volcano-system it shows:
NAME                                                       READY    STATUS                   RESTARTS

[2019-10-10 07:21] ldd91 commented on #476
I exec kubectl describe pod volcano-admission-init-thb2q -n volcano-system it shows:
certificatesigningrequest.certificates.k8s.io/volcanno-admission-service.volcano-system created
error: You must be logged in to the server (Unauthorized)

[2019-10-10 09:34] k82cn commented on #476
@TommyLike , please help to check this :)

[2019-10-10 09:38] hzxuzhonghu commented on #476
@ldd91 Would you check the `volcano-admission-init-294zr` logs by `kubectl logs xxx -n volcano-system`? We can see the `volcano-admission-init` job failed.

[2019-10-10 09:53] ldd91 commented on #476
@hzxuzhonghu thank you for your replay.the logs show:
Creating certs in tmpdir /tmp/tmp.IcLInp
Generating RSA private key,2048 bit long modulus (2 primes)
......................................................+++++
....+++++
e is 65537 (0x010001)
Error from server (AlreadyExists):error when creating "STDIN": certificatesigningrequest.certificates.k8s.io "volcanno-admission-service.volcano-system"

[2019-10-10 10:20] hzxuzhonghu commented on #475
Should we introduce a new plugin for mpi? And following that we can also implement similar plugins for specific job.

[2019-10-10 10:34] k82cn commented on #475
hm.... let's build a new plugin for mpi; we may refactor those plugins later to make them powerful, but let's build a new one for now :)

[2019-10-10 11:25] TommyLike commented on #476
@ldd91  is it possible that you changed the yaml file for some purpose or by accident? I think we don't have a service
named `volcanno-admission-service`

[2019-10-10 13:16] hzxuzhonghu commented on #475
got it

[2019-10-11 01:35] hzxuzhonghu commented on #476
Really weird to see that as it already delete the csr before create a new one. Could you use `kubectl get csr ` to check whether "volcano-admission-service.volcano-system" exists?

[2019-10-11 01:38] ldd91 commented on #476
@hzxuzhonghu  yes the volcano-admission-service.volcano-system exists

[2019-10-11 01:53] hzxuzhonghu commented on #476
So i think you repeatedly install/uninstall in the same cluster.

@TommyLike  Please check if the belowing cmd works correctly and add more log
[code]

[2019-10-11 02:05] TommyLike commented on #476
Will check

[2019-10-11 02:45] ldd91 commented on #476
@hzxuzhonghu  I repeatedly exec kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml in my kubernetes enviromen,and the error is same

[2019-10-11 03:26] hzxuzhonghu commented on #476
It almost confirmed the delete csr ops does not succeed

[2019-10-11 03:29] ldd91 commented on #476
I exec kubectl get csr and the condition of volcano-admission-service.volcano-syste is Pending

[2019-10-11 03:32] hzxuzhonghu commented on #476
Do you disable the cert-sign controller in kube-controller?

[2019-10-11 03:33] ldd91 commented on #476
How to confirm?

[2019-10-11 03:39] hzxuzhonghu commented on #476
Actually you can check the kube-controller-manager startup flags, i can not remember the correct flag name, should be something like cert, csr.

Another way to verify, you can exec a kubectl create csr by hand.  FYI: https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request-object-to-send-to-the-kubernetes-api

[2019-10-11 05:38] ldd91 commented on #476
I found out that the csr is not created correctly,and the logs shows:You must be logged in to the server (the server has ask for the client to provide credentials)

[2019-10-11 06:09] xieydd commented on #476
@ldd91 This is the result of `csr pending`.You need make the csr automated approved.

[2019-10-11 08:38] ldd91 commented on #476
@TommyLike  No,please tell me how to join

[2019-10-11 08:43] hzxuzhonghu commented on #476
It is in our readme https://join.slack.com/t/volcano-sh/shared_invite/enQtNTU5NTU3NDU0MTc4LTgzZTQ2MzViNTFmNDg1ZGUyMzcwNjgxZGQ1ZDdhOGE3Mzg1Y2NkZjk1MDJlZTZhZWU5MDg2MWJhMzI3Mjg3ZTk

[2019-10-14 11:02] matthewygf commented on #452
@hzxuzhonghu  yepp it was, thank you for pointing that out. something went wrong with our core-dns, everything works now thanks a lot.

[2019-10-14 12:24] lminzhw opened #479 "OverusedFn in proportion should be strict"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://github.com/volcano-sh/volcano/blob/06e4a82d24ee945923f19c8d70a08cdc9b27d2bf/pkg/scheduler/plugins/proportion/proportion.go#L205

In `OverusedFn`, the `overused` means **every** resource in `deserved` should be less or equal that in `allocated`.

**What you expected to happen**:

But, I think `deserved` should act

[2019-10-14 12:45] lminzhw commented on #479
/cc wangyuqing4

[2019-10-14 22:11] y1k333 commented on #469
Hi @k82cn, we are also working on a project trying to achieve gang scheduling for TensorFlow jobs. We want to write our own scheduler plugin(or modify the current gang plugin) such that the scheduler plugin can receive job specific info(e.g., the job can speed up to 1.0x with 1 worker, 1.9x with 2 workers...) from job level plugin configuration and dynamically create pods(number of workers) based

[2019-10-15 03:34] lminzhw opened #480 "Document for volcano beginner not found"
/kind feature

**What happened**:

Beginner follows the `README.md` could only install volcano and do not know what to do next.

I try to find those volcano documents for beginner, but only find some volano job in `example` folder.

**For beginner, you can do this to start your travel volcano**
1. view https://github.com/volcano-sh/volcano/blob/master/example/job.yaml and `kubectl create -f job.ya

[2019-10-15 08:27] malixian opened #481 "How to select container runtime singularity?"
if you give me some example i will be very appreciate

[2019-10-15 11:13] hzxuzhonghu commented on #479
You should /cc @wangyuqing4

[2019-10-16 08:26] k82cn commented on #481
we do not have example for singularity right now; please refer to https://github.com/sylabs/singularity-cri for more detail :)

[2019-10-16 08:32] malixian commented on #481
so you mean that just replace runtime with singularity-cri?

[2019-10-19 01:19] #448 closed

[2019-10-21 03:35] #476 closed

[2019-10-21 06:20] k82cn commented on #469
@y1k333 , that's interesting requirements :) so are you going to also improve job controller with plugins?

[2019-10-23 07:44] lminzhw opened #487 "add mpi version into example mpi image tag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

xref: https://github.com/open-mpi/ompi/issues/2224 , user @zrss met error caused by wrong mpi version when using https://github.com/volcano-sh/volcano/blob/master/example/integrations/mpi/mpi-example.yaml .

**What you expected to happen**:

Maybe we should add mpi version in docker image tag and example yaml file ?

[2019-10-23 23:05] jeffgx619 commented on #410
Do we have any update for this ? We have the same use-case as well. Currently, we pre-reserve several CPU resources for GPUs.

[2019-10-24 02:49] k82cn commented on #487
Added a comments/description should be enough.

[2019-10-24 06:01] k82cn commented on #410
Hope we can have this in 0.3; if you have any proposal, please feel free to share it :)

[2019-10-25 06:08] #479 closed

[2019-10-29 02:30] yuzhaojing commented on #308
Organization: QTT Bigdata Infra
Environment: Evaluation
Contact: @yuzhaojing
Description of Use: Spark and AI on K8S.

[2019-10-29 06:27] zhygreat opened #492 "Execution flow graph is disappear"
Execution flow graph of below link is disappear
https://github.com/volcano-sh/volcano/blob/master/docs/design/execution-flow.md

[2019-10-29 12:36] sivanzcw opened #495 "podgroup does not get `priority` or `priorityClassName` configuration of `pod`"
/kind bug

**What happened**:
`podgroup` created for `pod` does not inherit `priority` or `priorityClassName` configuration of `pod`
**What you expected to happen**:
`podgroup` created for `pod` should inherit `priority` or `priorityClassName` configuration of `pod`

## create priorityClass
[code]

[code]

## create deployment

[code]

[code]

## get  pod

[code]

[code]

## get  podgroup

[code]

[2019-10-29 13:13] sivanzcw opened #496 "can not create `podgroup` for single pod without ownerreference"
/kind bug

**What happened**:
can not create `podgroup` for single pod without ownerreference
**What you expected to happen**:
single pod can be scheduled successufully

### create single pod

[code]

[code]

### view logs of volcano-controllers

[code]

[code]

`podgroup` creating failed for wrong configuraiton of `kind` and `name` of ownerreference

[2019-10-29 13:39] #492 closed

[2019-10-30 03:22] hzxuzhonghu commented on #496
For the pod not controlled by any resource, let's gen set the PG ownerref as the pod itself.

[2019-10-30 06:35] sivanzcw commented on #495
https://github.com/volcano-sh/volcano/pull/497

[2019-10-30 06:35] #495 closed

[2019-10-31 03:27] sivanzcw commented on #496
#499

[2019-10-31 03:27] #496 closed

[2019-11-03 13:29] sivanzcw opened #505 "Pod with `pipelined` status does not have events, actually the pod have not been bound to node"
If we describe pod with `pipelined` state, we will find that events of the pod are empty. This will cause the illusion of scheduler exception.

After a scheduled round is over, if a pod is still in the `pipelined` state, the scheduler needs to report `Unschedulable` events for it, since in this scenario, the pod has not been successfully scheduled.

[2019-11-04 00:58] #505 closed

[2019-11-06 01:48] zrss opened #509 "Can Volcano job support volumeClaimTemplates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

old version:

https://github.com/volcano-sh/volcano/blob/master/docs/design/job-api.md#job-inputoutput

... (hope to keep the docs up to date)

new version:

https://github.com/volcano-sh/volcano/pull/498

currently, it can only set the pvc volume, that means all vj pods share the same pvc, as for now i know some pla

[2019-11-06 01:53] zrss commented on #509
kindly ping @lminzhw @k82cn

[2019-11-06 02:04] hzxuzhonghu commented on #509
we can define different kind of pods by task, each task can contain multiple pods, and each of them share the same pod spec and same pvc.

[code]

Can you elaborate on your case?

[2019-11-06 02:28] zrss commented on #509
emm ... to clarify

we can define diff tasks, but ref the tf distributed mode, it just has the `ps` and `worker` task, usually, train scripts run at the worker instances, and download the partial dataset from S3 (or Huawei OBS)

the dataset is diff between workers instance, so in this view, it still needs diff pvc in the same task ?

[2019-11-06 02:45] hzxuzhonghu commented on #509
IC,  you are worried about the io performance sharing the same pv. Fair point, we should have a look in order not to break the compatibility.

[2019-11-06 07:35] zrss commented on #509
yes, and maybe the share filesystem (or NFS) like Huawei SFS is suitable for sharing, but the disk (as Huawei EVS) is not aim to do that

[2019-11-06 08:54] k82cn commented on #509
For now, we did not support that; but that makes sense to me. I think that's ok to add this feature :)

[2019-11-06 16:06] zrss commented on #403
/cc

i'd like the ssh plugin can define the ssh key file path too

such as `/opt/platform/.ssh` or something else

[2019-11-06 16:10] zrss commented on #260
/cc

[2019-11-07 01:20] zrss commented on #509
and i suppose the lifecycle of pvc/pv is not the same with volcano job (maybe it has the option, when i delete the volcano job without deleting the relative storage resource)

there has a case about AI re-training, and AI dev can recover the checkpoint (saved at the pvc/pv volume) from previous training

[2019-11-07 06:46] zrss opened #514 "Can i add a plugin out of volcano code"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

i'd like a way to add my plugin into volcano out of volcano code, and avoid rebuilding the volcano to make it work ...

https://github.com/volcano-sh/volcano/tree/master/pkg/controllers/job/plugins

[2019-11-07 06:52] k82cn commented on #514
hm... I think we need to build an http extender for that, as Go does not support dynamic load.

[2019-11-07 07:24] k82cn commented on #425
/cc @hzxuzhonghu

[2019-11-07 07:26] k82cn commented on #403
/cc @hzxuzhonghu , let's add a paramenter into `ssh` plugin for key file directory.

[2019-11-07 07:26] k82cn commented on #368
/assign @hzxuzhonghu

please help on this one :)

[2019-11-07 07:33] k82cn commented on #514
/cc @hzxuzhonghu , let's introduce a http plugin to work with external plugin servers.

[2019-11-07 09:47] hzxuzhonghu commented on #514
Isn't that admission webhook? Users can do whatever they want to implement these interface

[code]

[2019-11-07 09:49] hzxuzhonghu commented on #514
I mean to intercept Job creation, pod creation and Job deletion

[2019-11-07 09:50] hzxuzhonghu commented on #403
OK

[2019-11-07 10:15] hzxuzhonghu commented on #425
In podgroup controller we can update status.Phase , but i am afraid we cannot update Conditions.

https://github.com/volcano-sh/volcano/blob/95de4ef151ba707358d5d979bdb3d647934e73bb/pkg/scheduler/framework/session.go#L111-L122

[2019-11-07 12:24] zrss commented on #514
@hzxuzhonghu , thx for the reply, it will be very useful if there is doc about how to do that in volcano

[2019-11-08 02:51] hzxuzhonghu commented on #514
Inject whatever you want to a pod and create any assisting resources when pod/job created, this is easy to be done by mutating webhook controller.

[2019-11-08 10:54] sivanzcw opened #519 "Scheduling information for pod and podgroup may need to be modified"
For a pod, if job of the pod does not meet the schedling restriction (such as gang), it will be scheduled failed, the events of the pod likes:

[code]

`job is not ready` in the above event is ambiguous, `job` may be confused with the `batch/v1` `job` in kubernetes

For `podgroup`, events of the podgroup during scheduling likes:

[code]

the scheduler only record unschedulable events for podgroup

[2019-11-12 03:08] zrss opened #521 "Volcano job with InitContainer the status is confuse"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

2 ps and 2 worker, but 2 ps with the `sleep 10000` init container, and from the status of vj, i don't know it has some pods wait at the `Init` status

![image](https://user-images.githubusercontent.com/8072378/68638382-59251300-053c-11ea-862b-73ec74a6b0ac.png)

[code]

![image](https://user-images.githubusercontent.com/8

[2019-11-12 08:33] hzxuzhonghu commented on #521
make sense, would you like to help fix it?

[2019-11-13 02:21] sivanzcw commented on #519
#520

[2019-11-13 02:21] #519 closed

[2019-11-13 05:49] chenshaojin opened #522 "In the k8s cluster, PDB does not set MinAvailable, causing job_info.setpdb (), panic: "invalid memory address or nil pointer dereference""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[code]

[code]

[code]

**What you expected to happen**:

[2019-11-13 07:52] k82cn commented on #522
/kind bug
/priority import-soon

[2019-11-13 09:16] k82cn commented on #522
fixed by https://github.com/volcano-sh/volcano/pull/523

[2019-11-13 09:16] #522 closed

[2019-11-13 16:01] nvcastet commented on #474
@lminzhw For your comment at https://github.com/volcano-sh/volcano/issues/474#issuecomment-539879519, could we create an issue/fix to allow the master pod not to have the `Resources` requirement?

[2019-11-14 02:21] carmark opened #524 "Does batch scheduler support multiple cluster connected with virtual-kubelet?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Insta

[2019-11-14 03:52] k82cn commented on #524
/kind feature
/priority important-soon
/area scheduling

[2019-11-14 03:56] k82cn commented on #524
/cc @lminzhw

[2019-11-14 04:13] k82cn commented on #524
For now, we did not support that :(

Also got similar requirements , that's great to have this feature to support virtual kubelet :)

[2019-11-15 12:18] k82cn commented on #509
@hzxuzhonghu , please help on this one :)

[2019-11-16 07:36] zrss commented on #521
add a init status ? if i have time, i will do ~

[2019-11-16 07:39] zrss opened #526 "init-container lack of svc host file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

i created a volcano job with svc plugin and init-container, but i can't find the svc host file in the init-container

[2019-11-16 10:06] k82cn opened #528 "derive shadow pod group priority from pod priority"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Cherry-pick PR from https://github.com/kubernetes-sigs/kube-batch/issues/905

[2019-11-16 10:12] #526 closed

[2019-11-16 10:15] k82cn commented on #528
/kind bug
/priority important-soon

[2019-11-16 11:22] k82cn opened #529 "Failed to use Volcano command line with local-up-cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

[2019-11-16 11:23] k82cn commented on #529
/priority important-soon

[2019-11-16 11:44] k82cn opened #530 "Command line enhancement"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/priority important-soon
/area cli

**Description**:

Currently, both job and queue operation are controlled by `vcctl` which make it complex; so it's better to separate it into several commands, e.g. `vjob`, `vqueue`. For example:

[code]

[2019-11-16 11:46] k82cn commented on #481
Yes :)

[2019-11-17 16:35] zoux86 opened #531 "How to use "vcctl” command"
i install volcano by run the command:
kubectl apply -f https://raw.githubusercontent.com/volcano-sh/volcano/master/installer/volcano-development.yaml
And it works. i can create the example/job.yaml

but when i run vcctl, it shows "vcctl: command not found".
So i want to know vcctl only works when i install from code ??

**Environment**:
- Volcano Version:
- Kubernetes version (use `kubectl version

[2019-11-18 01:44] k82cn commented on #531
If you're using this from code, it's better to build `vcctl` from the code :)

BTW, the `volcano-development.yaml` will use release docker images for your system :)

[2019-11-18 02:48] k82cn opened #532 "tekton integration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Do the investigation on integration for Volcano and Tekton base on the discussion https://volcano-sh.slack.com/archives/CGET876H5/p1573752503048100 .

[2019-11-18 02:50] k82cn commented on #532
xref: https://github.com/tektoncd/pipeline

[2019-11-18 06:50] hzxuzhonghu commented on #529
/assign

I remember we have a pr fix the kube-config loading issue. What version did you try?

[2019-11-18 06:57] k82cn commented on #474
That makes sence  to me :)

[2019-11-18 07:21] zrss opened #533 "add the publishNotReadyAddresses param for the svc plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

follow up by #526

ep is not ready during the Init status, ref the k8s doc

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/

there should have a `publishNotReadyAddresses` param for svc plugin, as InitContainer may use the hosts info for swithing nics (multiple network plane, rather than the main network plain) info

[2019-11-18 07:47] hzxuzhonghu commented on #475
@nicklhy #483 Added support for slots in mpi plugin

[2019-11-18 08:10] hzxuzhonghu commented on #529
It seems that you do not set `KUBECONFIG`. It works well if i set `export KUBECONFIG="$(kind get kubeconfig-path --name="volcano")"`

So i doubt you set it in your `kc`

[2019-11-18 08:37] hzxuzhonghu commented on #457
/close

[2019-11-18 08:37] #457 closed

[2019-11-18 09:00] k82cn commented on #474
@nicklhy , hm... I'm re-checking this thread; I have a question that: how many processes are you going to run in one single Pod?

[2019-11-18 09:02] k82cn opened #534 "Enhancement for MPI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

This is an umbrella issue for enhancement on MPI job. We support MPI job right now, but the usibility is not good enough and some cases of MPI are not supported; I'd like to open this issue to enhance that :)

[2019-11-18 09:53] #533 closed

[2019-11-18 12:44] nicklhy commented on #474
@k82cn I was running distributed model training jobs on some 8 GPU servers. When using mpi-job, I guess there should be 8 processes in one single Pod since horovod usually launch a distinct process for each gpu. But when using mxnet-job, there should be only one process in one Pod.

[2019-11-19 14:03] k82cn commented on #474
Does that mean horovod can only launch process on one GPU? Let's check this with horovod community :)

[2019-11-20 09:17] sivanzcw opened #539 "Tier of plugin enhancement"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature

Description:

Volcano uses plugin mechanism to manage various functions. During the scheduling process of task, the system decides what to do next based on the execution result of each plug-in function. For example, when judging whether a pod can be bound to a node, the system need registered plugins to arbitrate whether the node is suitabl

[2019-11-20 09:20] zoux86 commented on #531
@k82cn  Thank, i installed volcano from code，and it works.

[2019-11-20 09:20] #531 closed

[2019-11-20 09:43] sivanzcw opened #540 "Remove commit mechanism for pipeline in allocate action"
/kind feature

Description:

The `allocate` action uses the `commit mechanism`. Only when the job meets the requirements of `gang`, the operations performed in the `allocate` action will be executed. Otherwise, all actions will be rolled back.

The `commit mechanism` in `allocate` action for `pipeline`  action should be canceled:

* When judging whether the job meets the requirements of `gang`, it

[2019-11-20 13:20] k82cn commented on #540
I think we should cancel the pipeline if gang scheduling failed; the releasing resource should be reused by other jobs.

[2019-11-21 01:28] k82cn commented on #539
Personally, I'd like to introduce `&`, `|` and `()` logic into configuration; so we can cover all cases of plugins :)

[2019-11-21 01:30] k82cn opened #543 "Cherry-pick kube-batch#909"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/priority important-soon

**Description**:

Cherry-pick https://github.com/kubernetes-sigs/kube-batch/pull/909 when it's merged.

[2019-11-22 06:23] k82cn opened #546 "Install an e2e batch system directly (Volcano + Kubernetes)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

As Volcano only provide enhancements to k8s, e.g. scheduler & controller, we only provide helm chart & yaml file to install Volcano into an existing Kubernetes. But it's hard for a fresh man to try Volcano without k8s knowledge. So I'd like to have an installer to install a batch system from end to end, including k8s,

[2019-11-22 06:24] k82cn commented on #546
xref http://github.com/volcano-sh/volcano-ansible

[2019-11-23 12:06] sivanzcw opened #548 "Data of existing configmap in the cluster may be overwritten when using svc and ssh plugins"
/kind bug

* create a configmap named `mxnet-job-svc`

[code]

* create a vc job named `mxnet-job` using `svc` plugin

[code]

* get detail of configmap `mxnet-job-svc`

[code]
data of the confimap changed

[2019-11-23 12:15] sivanzcw opened #549 "Key perm of ssh plugin should be stored in secret instead of configmap"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

* create vc job using ssh plugin

[code]

* get configmap of vc job

[code]

The ssh authentication related certificate is stored in the configmap in unencrypted form.

[2019-11-25 01:42] k82cn commented on #549
That's great !

[2019-11-25 16:01] lminzhw opened #550 "Proportion bug in cluster with multi extend resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Firstly, we have a case

[code]

In this case, we wanna to assign 10Ra to Qa and 10 Rb to Qb.

-----

But, the result is not as we expected.

https://github.com/volcano-sh/volcano/blob/a2c443627a2cf3588358c68d8ec2a2ed628e5eb0/pkg/scheduler/plugins/proportion/proportion.go#L136

At here, `Less` means `request` should be l

[2019-11-25 16:01] lminzhw commented on #550
/cc @k82cn @sivanzcw

[2019-11-26 06:39] k82cn opened #551 "Remove kube-batch from help message of cli"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

[code]

[2019-11-26 08:27] k82cn opened #553 "Update the parameter of `vc-admission` to start with `--`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**:

The parameter of `vc-admission` should start with `--` to align with other components.

[code]

[2019-11-26 08:35] k82cn opened #554 "Replace schedulerName with selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Currently, `-scheduler-name` is used for controller manager and admission controller to identify which pods should be handled by volcano; that may make user confused with scheduler-name in volcano-scheduler. It's better to have a selector for them.

[code]

[2019-11-26 08:43] k82cn opened #555 "Build global configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Currently, we only provide configuration to volcano-scheduler; but here're also several other configurations for controller & admission, e.g. scheduler-name/pod-selector.

[2019-11-26 08:48] k82cn opened #556 "Usability Improvement"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

- [x] Add log-file parameters to all components (https://github.com/volcano-sh/volcano/issues/557)
- [ ] Build global configuration (https://github.com/volcano-sh/volcano/issues/555)
- [ ] Replace schedulerName with selector (https://github.com/volcano-sh/volcano/issues/554)
- [x] Update the parameter of `vc-admission`

[2019-11-26 08:50] k82cn opened #557 "Add --log-file parameters to all components"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

For now, we only provide `--log-dir` for each components; it's better to add `--log-file` for each components.

[2019-11-26 09:06] k82cn opened #558 "volcano-controller-manager filed to get default queue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Refer to the following error:

[code]

**Environment**:
- Volcano Version: master

[2019-11-26 09:29] hzxuzhonghu opened #559 "Improve volcalno job controller performance"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

The job controller will reconcile job by external events, like pod,podgroup, command.  So we can see the reconcile times may be great if the job is large(contains many tasks/replicas). Currently in each reconcile, the controller will call

1. createJob

1. createJobPod

1. pluginOnPodCreate

1. UpdateStatus

There are too many api

[2019-11-26 09:38] hzxuzhonghu commented on #558
This is a known bug, and i have opened #456 for long

[2019-11-26 13:00] sivanzcw opened #561 "Reclaim Enhancement: The logic of judging whether a pod can be evicted and judging whether a queue is overused in proportion is inconsistent, which may lead to ping-pong during reclaim action"
/kind feature

* cluster status

| serial   | node name | resource  |
|----------|-----------|-----------|
| 1        | node1     | 4c8g      |
| 2        | node2     | 4c8g      |

* queue status

| serial   | queue name | weight  |
|----------|------------|---------|
| 1        | default    | 1       |
| 2        | queue1     | 100000  |

* enabel `reclaim` action

* create job1 with 7pods, each

[2019-11-26 14:56] k82cn commented on #558
so how about your latest solution?

[2019-11-27 02:13] carmark commented on #524
@k82cn @lminzhw any update?

[2019-11-27 02:26] hzxuzhonghu commented on #558
I am not sure have you looked it after i pushed a new version?

[2019-11-27 03:31] k82cn opened #562 "Update glog to klog"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

it's better to upgrade `glog` to `klog` for more advantage features.

[2019-11-27 08:32] #562 closed

[2019-11-27 08:33] k82cn commented on #557
/close by #563

[2019-11-27 08:33] #557 closed

[2019-11-27 08:58] k82cn commented on #558
@hzxuzhonghu , the latest version is ok to me overall :)

[2019-11-27 09:11] zionwu opened #565 "Wrong condition for reclaim action"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
In reclaim action of scheduler: https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/actions/reclaim/reclaim.go#L160,  the following is wrong:
[code]
This means if  all of mem/cpu/gpu of allRes are  less than resreq, then it will not process to reclaim the resources. However, the condition should be if any of m

[2019-11-27 09:53] k82cn commented on #565
/cc @sivanzcw

[2019-11-27 10:09] k82cn commented on #529
nop, `alias kc=kubectl`

[2019-11-27 12:07] k82cn opened #568 "volcano-admission refactor"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

We'd like to build a dev environment without security, but all those configurations are hardcode in volcano-admission :(; It's better to move all those configuration into yaml file, and provide necessary helper tools.

[2019-11-27 12:07] k82cn commented on #565
/kind bug

[2019-11-27 13:31] sivanzcw opened #569 "Reclaim Enhancement: Enqueue action may block the process of `reclaim` action"
/kind feature

If a queue has occupied most of cluster resources, when there are pods need to be scheduled in new queue, `reclaim` action may be blocked due to job of the new pod can not be refreshed to `inqueue` status by `enqueue` action

* cluster resources

| serial   | node name | resource  |
|----------|------------|---------|
| 1        | node1    | 4c8g       |
| 2        | node2    | 4c8g

[2019-11-28 00:59] #553 closed

[2019-11-28 01:03] k82cn commented on #569
/kind bug
/priority import-soon

[2019-11-28 01:03] sunqm opened #571 "plugin rsh[] for mpi jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

Is there a plan to develop plugin rsh for OMPI communication? It can simplify the command line of mpi-master pod. Right now, with ssh plugin, one needs to start sshd daemon before calling mpirun

[2019-11-28 01:17] lminzhw commented on #524
Sorry for my late response. I am now writing design document and I'll create pull request for review after doc finished.

[2019-11-28 01:33] carmark commented on #524
@lminzhw That's great, thanks.

[2019-11-28 03:02] hzxuzhonghu commented on #529
You need to specify the kubeconfig file

[2019-11-28 03:03] hzxuzhonghu commented on #529
For kind, it starts a k8s cluster in a docker container. So the kube-apiserver listens in a container.

[2019-11-28 05:35] k82cn commented on #571
/priority important-soon

[2019-11-28 08:32] k82cn commented on #530
xref https://www.ibm.com/support/knowledgecenter/en/SSETD4_9.1.2/lsf_kc_cmd_ref.html

[2019-11-29 06:12] sivanzcw opened #573 "Wrong plugin configuration of vcjob will lead to collapse of volcano-controllers"
/kind bug

* create vcjob with the following configuration. `ssh` config of the job is not a valid slice

[code]

* the volcano-controllers will break down, and can not work normally

[code]

[2019-11-29 06:27] sivanzcw commented on #573
Such condition will only happen when the admission of volcano is closed, close it.

[2019-11-29 06:27] #573 closed

[2019-11-30 07:21] k82cn commented on #568
After went through the code of volcano-admission, I'd like to do the refactor instead of only `disable security`.

[2019-11-30 09:12] hzxuzhonghu opened #574 "Speed up CI test"
It takes about 45 minutes for the CI to finish. So it is  bad developer experience for volcano.

Solutions i can think of:

1. remove some e2e cases if they are duplicate in some degree,

2. A case should be responsible for a specific thing, we should not test everything in a case.

3. Considering if there are cases that can be run concurrently. Personally, i think this one is not feasible as ther

[2019-12-02 10:54] hzxuzhonghu opened #579 "E2E case flake"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

two cases flaked

1. `Can't create volcano pod when podgroup is Pending`

2. `Check Functionality of all plugins`

ref: https://travis-ci.com/volcano-sh/volcano/jobs/262132052
https://travis-ci.com/volcano-sh/volcano/jobs/262123391

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as po

[2019-12-02 21:40] mateuszlitwin opened #582 "node idle resources not considered in preemption"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
There is a pod A (memory: 1GB) running on a node (memory: 2GB), then I scheduled a pod B (memory: 2GB). Pod A was not preempted, because sum of victim resources (1GB) is lower than pod B resource requirements.

**What you expected to happen**:

Pod A being preempted, because idle resources (1GB) plus victims resources (1GB

[2019-12-03 00:15] k82cn commented on #582
Ideally, we should do that; we only consider idle resource in `allocate` action and `victims` resource in `preempt` action to make it simple. I'd like to see the enhancement for that :)

/cc @sivanzcw

[2019-12-06 12:49] zionwu commented on #308
Organization:  vivo
Environment: Evaluation
Contact:  @zionwu
Description of Use:  Scheduler for Vtraining platform (deep learning training platform)

[2019-12-07 13:43] k82cn commented on #530
@jiangkaihua , please help on this issue as we sync up offline :)

[2019-12-09 01:48] k82cn commented on #582
fixed by #585 :)

[2019-12-09 01:48] #582 closed

[2019-12-10 07:57] k82cn opened #595 "Avoid version conversion cross the components"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**:

For now, we did version conversion by hard code cross different components in the project, which makes it hard to maintain; it's better to leverage crd versioning feature to do that. Refer to the following link on how to do that: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-de

[2019-12-10 07:59] k82cn commented on #368
fixed by #587

[2019-12-10 07:59] #368 closed

[2019-12-11 02:10] mingzhuyang opened #596 "Whether dependency management has been changed from dep to mod. Now Kubernetes is using mod"
Whether dependency management has been changed from dep to mod. Now Kubernetes is using mod

[2019-12-11 08:52] k82cn commented on #596
hm... we're still using `dep` right now; I'm ok to change it to mod :)

[2019-12-11 09:02] sivanzcw commented on #569
solved in #587

[2019-12-11 09:02] #569 closed

[2019-12-11 11:54] nagarjunk opened #598 "[cross-platform support]: volcano-batch support for windows-based kube clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Very recently, Amazon announced [windows support](https://aws.amazon.com/about-aws/whats-new/2019/10/windows-nodes-supported-by-amazon-eks/) support on their EKS Cluster & Microsoft'a own [AKS](https://docs.microsoft.com/en-in/azure/aks/windows-container-cli) will support windows-based cluster very soon (by Q2-2020), when

- can we

[2019-12-11 13:39] k82cn commented on #598
hm... we do not have any plan for windows as not such kind of requirement; but I'd like to put it into our backlog per your request for v0.3 or v0.4 release :)

[2019-12-12 09:20] mingzhuyang opened #602 "Feature:re-integrating the scheduling part through the scheduler framework"
The kubernetes scheduler framework supports defining new extension points through Plugin. Can Volcano consider re-integrating the scheduling part through the scheduler framework. Solve that users can only choose one of kubernetes scheduler and volcano scheduler.i can do this

[2019-12-12 09:27] k82cn commented on #602
I'm ok to have a try if you can help; but I do not think scheduler framework is enough for our policy/algorithm. I think there're two major gaps: 1.) scheduler framework still does scheduling in pod level, but volcano does scheduling in job/podgroup level, e.g. drf, job preemption, gang. 2.) the action in volcano is similar to the plugin point of scheduler framework, but it's more flexible :)

[2019-12-13 09:23] sivanzcw opened #604 "Pods that are bound to podgroup in other namespace can not be scheduled, and there are no events for unscheduled pods"
* create podgroup `mxnet-job-ab` in namespace `vc-test-1`

[code]

* create pod  `mxnet-job-pod` in namespace default, bind pod to podgroup `mxnet-job-ab`

[code]

* the pod `mxnet-job-pod` can not be scheduled, and there are no events for it

[code]

[2019-12-14 05:07] k82cn commented on #604
can we reject pod creation if not in the same namespace? and `PodGroupController` should record an event for such scenario.

[2019-12-14 05:18] k82cn commented on #549
fixed by #603

[2019-12-14 05:18] #549 closed

[2019-12-14 05:19] k82cn commented on #551
fixed

[2019-12-14 05:19] #551 closed

[2019-12-15 03:44] k82cn commented on #568
fixed by https://github.com/volcano-sh/volcano/pull/575

[2019-12-15 03:44] #568 closed

[2019-12-15 03:51] k82cn commented on #546
For now, I only enable local up cluster; it's better to continue the work with ansible for multiple nodes cluster :)

[2019-12-15 12:36] #449 closed

[2019-12-16 01:27] zrss opened #611 "$(VK_TASK_INDEX) does not work in vj yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind feature

**What happened**:

vj yaml

[code]

but it can't be resolved inside the container

[code]

[2019-12-16 01:31] k82cn commented on #611
Why not use VK_TASK_INDEX directly?

[2019-12-16 01:49] hzxuzhonghu commented on #611
This is not a k8s downward api, the `VK_TASK_INDEX` env is populated before the creation of pod.

[2019-12-16 01:52] zrss opened #612 "the svc plugin auto generate the port info for each pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

currently, the svc plugin provides the comm address (ipv4),  but the programm also needs the port to fullfill the comm (ref the tf ps/worker mode)

[code]

i suppose the svc plugin generates an increasing PORT number env `VK_GENERATED_PORT` for the pod from (30000 - 3000X), for convenience

[2019-12-16 01:53] zrss commented on #611
#612

At first, I'd like to use this environment variable to generate the port number ... but it doesn't work ...

[2019-12-16 06:55] hzxuzhonghu commented on #612
The main blocker is that job controller does not know which port the task uses. PS: We can not rely on the container port.

[2019-12-16 07:05] #453 closed

[2019-12-16 14:32] k82cn opened #617 "Only create one plugin instance for each job"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Currently, we will create several plugins of job for different phase, e.g. onJobAdd, which make it hard to share data cross phase.

xref https://github.com/volcano-sh/volcano/pull/610

[2019-12-16 15:01] k82cn commented on #617
I'm going to find other way to do that, as we do not know how long to keep the plugin instance.

[2019-12-16 15:20] #617 closed

[2019-12-17 03:38] davidstack opened #618 "shadow job in volcano should be deleted when there is no pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
when we create deployment or job use volcano, volcano will create an shadowgroup and  volcano job in memory,when these deployment or job is deleted, the shadowgroup and job in memory is not deleted now.
**What you expected to happen**:
delete these shadowgroup and volcano job in memory
**How to reproduce it (as minimally

[2019-12-17 06:19] k82cn commented on #618
/kind bug
/priority important-soon

[2019-12-17 06:22] davidstack commented on #618
@k82cn i have some code to clean this unused memory
1. add isShadowGroup in Job struct
2.add podId and JobId map in ScheduCache

may be i can make a pull request

[2019-12-17 06:27] k82cn commented on #618
@davidstack , that'll be great if you can help on this one! I'll help to review :)

[2019-12-17 06:27] k82cn commented on #618
/milestone v0.3

[2019-12-17 07:26] davidstack commented on #618
@k82cn  unlike kube-batch, volcano does not support to schedule k8s native deployment ? pod does must have annotion "scheduling.k8s.io/group-name".
`
func (sc *SchedulerCache) getOrCreateJob(pi *schedulingapi.TaskInfo) *schedulingapi.JobInfo {
	if len(pi.Job) == 0 {
		if pi.Pod.Spec.SchedulerName != sc.schedulerName {
			klog.V(4).Infof("Pod %s/%s will not not scheduled by %s, skip creating PodGro

[2019-12-17 09:42] hzxuzhonghu opened #619 "Propose to set `VK_TASK_INDEX` env by default"
It is costly to use an env plugin to set the task index for a job.  We can set `VK_TASK_INDEX` or use the full name `VOLCANO_TASK_INDEX` by default.

[2019-12-17 10:06] k82cn commented on #618
we still support native deployment; but we use admission controller to create podgroup for them, so we can account those podgroup in the queue :)

[2019-12-17 12:27] davidstack commented on #618
got it ,the pod Annotations will be update by pg_controller_handler

[2019-12-17 12:45] hzxuzhonghu opened #621 "Pod creating is denied by admission with `podgroup phase is Pending`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When job controller try to create pods, it is denied by admission controller with `as the podgroup phase is Pending`.

This is caused by the podgroup's status phase is set by scheduler and the scheduler is running periodically. There must be a delay before the podgroup `InQueue`.

**What you expected to happen**:

**How

[2019-12-17 12:45] hzxuzhonghu commented on #621
E1216 12:31:28.678835       1 job_controller_actions.go:252] Failed to create pod failed-delete-job-fail-0 for Job failed-delete-job, err &errors.StatusError{ErrStatus:v1.Status{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ListMeta:v1.ListMeta{SelfLink:"", ResourceVersion:"", Continue:""}, Status:"Failure", Message:"admission webhook \"validatepod.volcano.sh\" denied the request: failed to create

[2019-12-17 23:49] #260 closed

[2019-12-19 01:57] k82cn commented on #618
yes :)

I'm going to close this issue; if any other comments, please feel free to re-open it :)

[2019-12-19 01:57] #618 closed

[2019-12-19 02:05] k82cn opened #623 "RFVE: Support GPU topology"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area scheduling
/priority important-soon

**Description**:

GPU topology is important to the performance of running tasks, it necessary to imporve both scheduler and kubelet for GPU topology.

[2019-12-19 02:12] k82cn opened #624 "RFVE: Support GPU share"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/priority important-soon
/area scheduling

**Description**:

There're several scenarios require GPU share, e.g. inference workload, dev environment; it's better to support that by default.

[2019-12-19 02:14] k82cn commented on #624
/cc @carmark @Jeffwan

[2019-12-19 02:14] k82cn commented on #623
/cc @carmark @Jeffwan

[2019-12-19 02:52] k82cn commented on #565
fixed by #572  & #572

[2019-12-19 02:52] #565 closed

[2019-12-19 03:00] k82cn commented on #558
this should be fixed by https://github.com/volcano-sh/volcano/pull/512 :)

[2019-12-19 03:07] k82cn commented on #361
@hzxuzhonghu , please help on this one.

[2019-12-19 03:08] k82cn commented on #425
hm... yes, it seems updating `phase` is unnecessary for controller :)

[2019-12-19 03:08] #425 closed

[2019-12-19 03:15] k82cn commented on #561
fixed by #599

[2019-12-19 03:15] #561 closed

[2019-12-19 04:07] xiaogaozi commented on #308
Organization: Xiaohongshu
Environment: Evaluation
Contact: @xiaogaozi
Description of Use: TensorFlow on K8s